// Here you can add other styles
@font-face {
  font-family: "Metrisch-Bold";
  src: url("/fonts/metrisch-bold.ttf");
}

@font-face {
  font-family: "Metrisch-Medium";
  src: url("/fonts/metrisch-medium.ttf");
}

@font-face {
  font-family: "Metrisch-Light";
  src: url("/fonts/metrisch-light.ttf");
}

@font-face {
  font-family: "VisbyCF-Bold";
  src: url("/fonts/visbycf-bold.otf");
}

@font-face {
  font-family: "VisbyCF-ExtraBold";
  src: url("/fonts/visbycf-extrabold.otf");
}

@font-face {
  font-family: "VisbyCF-Regular";
  src: url("/fonts/visbycf-regular.otf");
}

@font-face {
  font-family: "VisbyCF-Medium";
  src: url("/fonts/visbycf-medium.otf");
}

@font-face {
  font-family: 'text-security-disc';
  src: url('/fonts/text-security-font/text-security-disc.eot');
  src: url('/fonts/text-security-font/text-security-disc.eot?#iefix') format('embedded-opentype'),
      url('/fonts/text-security-font/text-security-disc.woff2') format('woff2'),
      url('/fonts/text-security-font/text-security-disc.woff') format('woff'),
      url('/fonts/text-security-font/text-security-disc.ttf') format('truetype'),
      url('/fonts/text-security-font/text-security-disc.svg#text-security') format('svg');
}
.secure-text{
  font-family: 'text-security-disc' !important;
  font-style:normal !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-security: disc;
}
html{
  height:100%;
  width: 100%;
  overflow: hidden;
}
body,
.c-app {
  font-family: "VisbyCF-Regular", sans-serif !important;
  background-color: #f3f6f9 !important;
  color: #464a53;
  font-size: $bodyTextSize;
}
.c-main{
  overflow: hidden;
  min-height: 400px;
  padding-bottom: 2rem;
}
.c-body{
 overflow-y: auto;
 overflow-x: hidden;
 height: calc(100vh - 100px);
}
.main-scroll-container{
  min-height: 100%;
  .full-height-scrooll-content{
    height:100vh;
  }
}
.c-header-nav,.c-header{
  display: flex;
  justify-content: flex-end;
}
a{
  &:hover, &:focus{
    text-decoration: none !important;
    color: initial;
  }
}
.opacity-0{
  opacity: 0;
}
.btn {
  font-family: "Metrisch-Medium", sans-serif !important;
  line-height: normal;

  &.btn-unarchive{
    background: linear-gradient(to top,  #f5bb3ec2, #f9e866bb) !important;
    border: 1px solid #525a61 !important;
    border-radius: 6px;
    padding: 6px 6px !important;
    font-family: "Metrisch-Bold";
    letter-spacing: 0.6px;
    [class^="flaticon-"], [class*=" flaticon-"]{
      font-size: 13px;
    }
  }
  &.btn-inactive {
    background-color: #e1e1e1;
    color: #a1a1a1;
    box-shadow: 0px 3px 10px 0 rgba(10, 1, 1, 0.25) !important;
  }

  &.btn-accent-light{
    background-color: #fff;
    border: 1px solid $accent-blue-dark;
    color: $accent-blue-dark;
  }

  &.btn-comfirm {
    text-transform: uppercase;
    background-color: #a3eed6;
    border-color: #a3eed6;
    color: #00935a;
    line-height: normal;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: 8px;
    justify-content: flex-start;
    font-size: 12px;
    box-shadow: none !important;
  }
  &.btn-gradient-border{
        padding: 1px;
        background: $accent-blue-gradient;
        & > .btn{
            padding: calc(1rem - 1px) $btn-padding-x;
            background-color: #fff;
        }
    }
    &.btn-inactive{
        background-color: #e1e1e1;
        color: #a1a1a1;
    }
    &.btn-comfirm{
        text-transform: uppercase;
        background-color: #a3eed6;
        border-color: #a3eed6;
        color: #00935a;
        line-height: normal;
        display: flex;
        align-items: center;
        padding: 8px 10px;
        border-radius: 8px;
        justify-content: flex-start;
        font-size: 12px;
        box-shadow: none !important;
        &::before{
            content: '';
            margin-right: 5px;
            background-image: url(/svg/checked.svg);
            width: 15px;
            height: 15px;
            background-repeat: no-repeat;
            background-size: 15px 15px;
        }
        &.in-out{
          &::before{
            background-image: url(/svg/circle.svg);
          }
        }
    }

    &.btn-cancel, &.btn-danger{
        text-transform: uppercase;
        background-color: #f7b0b1;
        border-color: #f7b0b1;
        color: #ed1c24;
        line-height: normal;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-radius: 8px;
        justify-content: center;
        font-size: 12px;
        box-shadow: none !important;
        &::before{
            content: '';
            margin-right: 5px;
            background-image: url(/svg/cancel.svg);
            width: 15px;
            height: 15px;
            background-repeat: no-repeat;
            background-size: 15px 15px;
        }
    }
    &.btn-trash{
      background-color: #ed1c24;
      border-color: #ed1c24;
      color: #fff;
      font-size: 12px;
      padding: 8px 10px;
      border-radius: 6px;
      [class^="flaticon-"], [class*=" flaticon-"]{
        font-size: 13px;
      }
    }
    &.btn-restore{
      background-color: #c8f5e6;
      border-color: #c8f5e6;
      color: #32ba7c;
      font-size: 12px;
      padding: 8px 10px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      box-shadow: none !important;
      [class^="flaticon-"], [class*=" flaticon-"]{
        font-size: 13px;
      }
    }
    &.btn-danger{
      border-width: 1px !important;
      border-style: solid !important;
      border-color: #f7b0b1 !important;
      &::before{
        display: none;
      }
      i{
        font-size: 16px;
        height: 16px;
      }
    }
    &.btn-edit{
        text-transform: uppercase;
        background-color: #2998d2;
        border-color: #2998d2;
        color: #fff;
        line-height: normal;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-radius: 8px;
        justify-content: center;
        font-size: 12px;
        box-shadow: none !important;
        &::before{
            margin-right: 5px;
            font-size: 13px;
        }
        i{
          font-size: 16px;
          height: 16px;
        }
        &.inversed{
          background-color: #fff;
          color: #2998d2;
          border-width: 1px;
          border-width: 1px !important;
          border-style: solid !important;
        }
    }
    &.btn-end{
        text-transform: uppercase;
        background-color: #fff;
        border: 2px solid #000 !important;
        color: #000;
        line-height: normal;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-radius: 8px;
        justify-content: flex-start;
        font-size: 12px;
        box-shadow: none !important;
        &::before{
            color: #000;
            content: '';
            margin-right: 6px;
            background-image: url(/svg/forbidden.svg);
            width: 15px;
            height: 15px;
            background-repeat: no-repeat;
            background-size: 15px 15px;
        }
    }
    &.btn-gray{
      background-color: #cfd4d8;
      color: #555;
      border-color: #cfd4d8;
    }
    &.no-icon{
      &::before, i{
        display: none !important;
        margin-right: 0px;
      }
    }
}
.like-icon{
    width:24px;
    height: 24px;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before{
        content: '';
        background-image: url(/svg/like.svg);
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: 20px 20px;
    }
}
.icon-16{
  font-size: 16px !important;
  height: 16px !important;
  width: auto !important;
  line-height: normal !important;
}
.icon-15{
  font-size: 15px !important;
  height: 15px !important;
  width: auto !important;
  line-height: normal !important;
}
.notification-bell-icon{
  width: 25px;
  height: 25px;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before{
        content: '';
        background-image: url(/svg/notification.svg);
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: 25px 25px;
    }
}
.form-control[type=password] {
  font-size: 20px;
  letter-spacing: 1.2;
  line-height: 20px !important;
  font-family: Arial, Helvetica, sans-serif;
  &::placeholder {
    font-size: 12px;
    font-family: "VisbyCF-Regular", sans-serif !important;
  }
}
.form-control[disabled="disabled"]{
  filter: brightness(0.95);
  opacity: 0.7;
}
.form-control::placeholder{
  color: #5c6873 !important;
}
.checked-icon{
    width:20px;
    height: 20px;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before{
        content: '';
        background-image: url(/svg/checked.svg);
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        background-size: 15px 15px;
    }
}
.bg-gradient-yellow {
  background: $yellow-gradient !important;
}
.bg-gradient-blue,
.badge-bg-gradient-blue{
    background: $accent-blue-gradient !important;
    &.reverse{
        background: linear-gradient(-45deg, #3048ad, #2993d0) !important;
    }
}
.badge{
  &.badge-d-none{
    display: none !important;
  }
  &.badge-gray{
    background-color: #afafb3;
  }
}
.lh-normal{
    line-height: normal !important;
}
.cursor-pointer{
    cursor: pointer !important;
}
.cursor-default{
  cursor: default !important;
}
.text-graident-blue{
    font-weight: bold;
    background: -webkit-linear-gradient(120deg, $accent-blue-dark, $accent-blue-light);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}
.text-white{
  .text-graident-blue{
    background: none !important;
    color: $white;
    -webkit-background-clip: initial !important;
    -webkit-text-fill-color: initial !important;
    -webkit-box-decoration-break: clone;
  }
}
.bg-gradient-blue,
.badge-bg-gradient-blue {
  background: $accent-blue-gradient !important;

  &.reverse {
    background: linear-gradient(-45deg, $accent-blue-dark, $accent-blue-light) !important;
  }
}

.lh-normal {
  line-height: normal !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.text-graident-blue {
  font-weight: bold;
  background: -webkit-linear-gradient(120deg, $accent-blue-dark, $accent-blue-light);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  &.reverse{
    background: -webkit-linear-gradient(120deg, $accent-blue-light, $accent-blue-dark);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
  }
}

.weekdays-options-container {
  & > div{
    & + div{
      margin-left: 3px;
    }
  }
  .weekday-box {
    border: 1px solid $accent-blue-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    font-family: "VisbyCF-Regular";

    &.active {
      background: linear-gradient(45deg, $accent-blue-light, $accent-blue-dark);
      border: none;
      color: #fff;
      padding: 5px;
    }
  }

  &.presets {
    .weekday-box {
      color: $accent-blue-dark;
      font-family: "VisbyCF-Bold";
      min-width: 62px;
      min-height: 30px;
      font-size: 13px;

      &.active {
        background: $accent-blue-dark;
        color: #fff;
      }
    }
  }
}
.progress{
  &.progress-gradient{
    .progress-bar{
      background: $inversed-accent-blue-gradient;
    }
  }
}
.close-icon {
  position: relative;
  width: 25px;
  height: 25px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 1;
  }

  &:before,
  &:after {
    position: absolute;
    content: ' ';
    height: 15px;
    width: 1px;
    background-color: #fff;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.passes-count-badge {
  border-radius: 50% !important;
  line-height: normal;
  width: 25px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  background: linear-gradient(-45deg, #3048ad, #2993d0) !important;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}
.user-passes-remain{
  color: #00a193;
  font-weight: bold;
}

.alert{
    padding: 0.75rem 1rem;
    border-radius: 20px !important;
    color: #000;
    border: none !important;
    display: flex;
    align-items: center;
    line-height: normal;
    word-break: break-word;
    &.alert-danger{
        background-color: rgba(#e54053, 0.4) !important;
        padding-left: 35px;
        &::before{
            content: '';
            position: absolute;
            left: 10px;
            background-image: url(/svg/cancel.svg);
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: 20px 20px;
        }
    }

    &.alert-success {
      background-color: rgba(#7cc576, 0.4) !important;

      &::before {
        content: '';
        margin-right: 15px;
        background-image: url(/svg/checked.svg);
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: 20px 20px;
      }
    }

    &.no-icon{
      padding: 0.75rem 1rem !important;
      &::before{
        display: none;
      }
    }
}
.invalid-feedback{
  @extend .alert, .alert-danger;
  display: flex !important;
  margin-top: 5px;
  padding: 0.55rem 0.75rem;
  padding-left: 30px;
  margin-bottom: 5px;
  &::before{
    transform: scale(0.8);
    left: 6px;
  }
  & + .invalid-feedback{
    margin-bottom: 10px;
  }
}
.cs-date-picker .input-icon-field .form-control.is-invalid{
  margin-bottom: 3rem !important;
}

.unavailable-alert{
  position: relative;
  padding: 15px 30px;
  text-align: center;
  background-color: rgba(#3a6c9d, 0.2);
  color: 000;
  .close-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #3a6c9d;
    border-radius: 50%;
    transform: scale(0.8);
    cursor: pointer;
  }

}
*:not(.comments-list){
  & > .comment{
    background-color: #fff;
    color: #000 !important;
    font-weight: bold !important;
    font-size: 14px;
    border-radius: 15px;
    display: inline-block;
    padding: 4px 20px;
  }
}

.btn-delete {
  background-color: $red-light;
  color: $red;
  display: flex;
  align-items: center;
  border-radius: 8px !important;
  border: 1px solid $red;
  font-weight: bold;

}

.reminder-icon{
  width:130px;
  height: 110px;
  svg{
    width: 100%;
  }
}
.modulesList {
  color:#464a53;
  font-family: "VisbyCF-Regular";
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */
/* Only FireFox */
* {
  scrollbar-color: #babac0 #fff;
  scrollbar-width: thin;          /* "auto" or "thin" */
  -moz-appearance: none !important;
}

/* total width */
*::-webkit-scrollbar {
  background-color:#fff;
  width: 8px;
}


/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track {
  background-color:#fff
}
*::-webkit-scrollbar-track:hover {
  background-color:#f4f4f4
}

/* scrollbar itself */
*::-webkit-scrollbar-thumb {
  background-color:#babac0;
  border-radius:16px;
  border:1px solid #fff
}
*::-webkit-scrollbar-thumb:hover {
  background-color:#a0a0a5;
  border:1px solid #f4f4f4
}

/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button {display:none}



.datatable table.table thead tr th{
 padding: 20px !important;
 vertical-align: top !important;
 div{
  display: inline-block;
  width: auto;
  float:left;
  svg{
    height: 13px;
    line-height:10px;
    margin: -2px 0;
  }
}
}

.btn-status {
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
  padding: 2px 0 3px 0;
  font-weight: bold;
  &.active {
    background-color: #1ad598;
  }
  &.inactive {
    background-color:$red-light;
  }
}

.transparency-switch{
  height: 20px;
  width: 48px;
  .c-switch-slider{
    &::before{
      top: 2px;
      // left: 14px;
      width: 14px;
      height: 14px;
      background: #ffffff;
    }
  }
  .c-switch-input{
    &:focus{
      & ~ .c-switch-slider{
        box-shadow: none !important;
      }
    }
    & ~ .c-switch-slider{
      border-color: #00a651;
      background-color:#00a651;
    }
    &:checked{
      & ~ .c-switch-slider{
        border-color: #ed1c24;
        background: #ed1c24;
        &::before{
          background: #fff;
          transform: translateX(28px);
        }
      }
    }
  }
}
.modules-switch{
  height: 20px;
  width: 48px;
  .c-switch-slider{
    &::before{
      top: 2px;
      // left: 14px;
      width: 14px;
      height: 14px;
      background: #ffffff;
    }
  }
  .c-switch-input{
    &:focus{
      & ~ .c-switch-slider{
        box-shadow: none !important;
      }
    }
    & ~ .c-switch-slider{
      border-color: #ed1c24;
      background-color:#ed1c24;
    }
    &:checked{
      & ~ .c-switch-slider{
        border-color: #00a651;
        background: #00a651;
        &::before{
          background: #fff;
          transform: translateX(28px);
        }
      }
    }
  }
}

.flex-1{
  flex: 1;
}

.c-sidebar-backdrop{
  z-index: 999;
}
.c-breadcrumb-container{
  display: none;
}
.z-index-10{
  z-index: 10;
}

.history-modal {
  left: 180px !important;
  max-width: 700px;
  @media screen and (max-width:1000px) {
    left: 0px !important;
  }
}

.pt-selector{
  min-width: 350px;
  margin-bottom: 0;;
  @media screen and (max-width:400px) {
    min-width: 200px;
  }
}

.centered-content-iframe{
  width: 100%;
  max-width: 840px;
}

@media only screen and (max-width: 992px){
  .c-body{
    padding-top: 0px;
    height: calc(100vh - 56px);
  }
  .c-main{
    overflow-x: hidden;
    padding-bottom: calc(1em + env(safe-area-inset-bottom));
    & > div:first-child{
      margin-top: 56px;
    }
  }
}
@media (max-width: 768px){
  .container, .container-sm, .container-md {
    max-width: 90% !important;
  }
}


@media screen and (max-width:992px) {
  h1{
    font-size: 24px;
  }
}
@media screen and (min-width:576px) {
  .w-sm-auto{
    width: auto !important;
  }
}

@media screen and (max-width:500px) {
  body{
    &.modal-opened{
      .main-datatable-container{
        overflow: hidden;
      }
      .ps-container{
        overflow: visible !important;
        max-width: 100%;
      }
    }
  }
  .container, .container-sm, .container-md {
    max-width: 100% !important;
  }
  h1,.text-value-xl{
    font-size: 20px;
  }
  h2{
    font-size: 18px;
  }
  .text-value-lg{
    font-size: 1rem;
  }
  .c-app{
    overflow: hidden;
    max-width: 100vw;
  }

  .weekdays-options-container {
    & > div{
      & + div{
      }
    }
    .weekday-box {
      height: 25px;
      width: 25px;
      font-size: 11px;

      &.active {
      }
    }

    &.presets {
      .weekday-box {
        min-width: 45px;
        // min-height: 30px;
        font-size: 12px;

        &.active {
        }
      }
    }
  }

}
