$icomoon-font-family: "flaticon" !default;
$icomoon-font-path: "/fonts/flaticons" !default;


$flaticon-washroom: "\e990";
$flaticon-waitroom: "\e991";
$flaticon-volumedon: "\e992";
$flaticon-volumedoff: "\e993";
$flaticon-tennis: "\e994";
$flaticon-swimming: "\e995";
$flaticon-studentworkarea: "\e996";
$flaticon-securityoffice: "\e997";
$flaticon-printer1: "\e998";
$flaticon-painting: "\e999";
$flaticon-nurse1: "\e99a";
$flaticon-music1: "\e99b";
$flaticon-locker: "\e99c";
$flaticon-library: "\e99d";
$flaticon-gym: "\e99e";
$flaticon-guidanceoffice: "\e99f";
$flaticon-guidance: "\e9a0";
$flaticon-football: "\e9a1";
$flaticon-drinkingwater: "\e9a2";
$flaticon-discipline: "\e9a3";
$flaticon-computer: "\e9a4";
$flaticon-camera: "\e9a6";
$flaticon-cafeteria: "\e9a7";
$flaticon-auditorium: "\e9a8";
$flaticon-attendance: "\e9a9";
$flaticon-admin: "\e9aa";
$flaticon-double-chevron: "\e98f";
$flaticon-dashboard_customer: "\e98d";
$flaticon-dashboard_user: "\e98e";
$flaticon-stop-circle: "\e900";
$flaticon-play-circle: "\e93b";
$flaticon-microsoft-path1: "\e97f";
$flaticon-microsoft-path2: "\e980";
$flaticon-microsoft-path3: "\e981";
$flaticon-microsoft-path4: "\e982";
$flaticon-microsoft-path5: "\e983";
$flaticon-microsoft-path6: "\e984";
$flaticon-microsoft-path7: "\e985";
$flaticon-gg4l: "\e986";
$flaticon-clever: "\e987";
$flaticon-google-path1: "\e988";
$flaticon-google-path2: "\e989";
$flaticon-google-path3: "\e98a";
$flaticon-google-path4: "\e98b";
$flaticon-sso: "\e98c";
$flaticon-warning: "\f116";
$flaticon-idea-gray: "\f17c";
$flaticon-15-minutes: "\f101";
$flaticon-add-user: "\f11c";
$flaticon-agenda: "\f102";
$flaticon-alarm: "\f127";
$flaticon-alarm-1: "\f14c";
$flaticon-align-left: "\f1a7";
$flaticon-align-right: "\f1bb";
$flaticon-back-arrow: "\f103";
$flaticon-back-arrow-1: "\f104";
$flaticon-bar-chart: "\f172";
$flaticon-binoculars: "\f1ac";
$flaticon-bluetooth: "\f17b";
$flaticon-book: "\f1c1";
$flaticon-book-1: "\f1c2";
$flaticon-bookmark: "\f178";
$flaticon-briefcase: "\f16e";
$flaticon-broken-link: "\f1ad";
$flaticon-calculator: "\f16c";
$flaticon-calendar: "\f123";
$flaticon-cancel: "\f105";
$flaticon-cancel-1: "\f12c";
$flaticon-chat: "\f13e";
$flaticon-check: "\f106";
$flaticon-check-1: "\f137";
$flaticon-chevron: "\f128";
$flaticon-chrome: "\f166";
$flaticon-clicker: "\f177";
$flaticon-clip: "\f165";
$flaticon-cloud: "\f19e";
$flaticon-cloud-computing: "\f17a";
$flaticon-cloud-computing-1: "\f181";
$flaticon-coffee-cup: "\f1c3";
$flaticon-coffee-cup-1: "\f1c4";
$flaticon-coloring-tool: "\f1d2";
$flaticon-coloring-tool-1: "\f1d3";
$flaticon-compass: "\f14a";
$flaticon-copy: "\f12a";
$flaticon-credit-card: "\f18a";
$flaticon-crop: "\f1b6";
$flaticon-cube: "\f1a8";
$flaticon-cursor: "\f161";
$flaticon-cut: "\f1a1";
$flaticon-cut-1: "\f1bd";
$flaticon-dashboard: "\f11b";
$flaticon-diagram: "\f186";
$flaticon-diamond: "\f18b";
$flaticon-disabled: "\f155";
$flaticon-diskette: "\f162";
$flaticon-dislike: "\f1ae";
$flaticon-down-arrow: "\f154";
$flaticon-down-arrow-1: "\f193";
$flaticon-down-arrow-2: "\f19d";
$flaticon-download: "\f13d";
$flaticon-dumbell: "\f1c5";
$flaticon-dumbell-1: "\f1c6";
$flaticon-dumbell-2: "\f1c7";
$flaticon-dumbell-3: "\f1c8";
$flaticon-earth-grid: "\f151";
$flaticon-edit: "\f12d";
$flaticon-email: "\f121";
$flaticon-email-1: "\f147";
$flaticon-email-2: "\f1ab";
$flaticon-equalizer: "\f164";
$flaticon-eraser: "\f1a2";
$flaticon-exchange: "\f1d5";
$flaticon-exit-top-right: "\f1dc";
$flaticon-expand: "\f185";
$flaticon-eye: "\f12f";
$flaticon-facebook: "\f141";
$flaticon-fast-forward: "\f19a";
$flaticon-file: "\f14d";
$flaticon-filter: "\f15e";
$flaticon-firefox: "\f1b4";
$flaticon-flag: "\f1a5";
$flaticon-flag-1: "\f1d6";
$flaticon-flag-2: "\f1d7";
$flaticon-folder: "\f179";
$flaticon-followers: "\f126";
$flaticon-forbidden: "\f109";
$flaticon-fountain: "\f1c9";
$flaticon-fountain-1: "\f1ca";
$flaticon-graduation-cap: "\f1d4";
$flaticon-headphones: "\f190";
$flaticon-heart: "\f140";
$flaticon-hide: "\f153";
$flaticon-highlighter: "\f199";
$flaticon-home: "\f125";
$flaticon-hour-glass: "\f10a";
$flaticon-hour-glass-1: "\f10b";
$flaticon-hourglass: "\f195";
$flaticon-infinity: "\f1d8";
$flaticon-infinity-1: "\f1d9";
$flaticon-information: "\f160";
$flaticon-information-circle: "\f10e";
$flaticon-instagram: "\f11f";
$flaticon-joke: "\f13c";
$flaticon-justify: "\f1b5";
$flaticon-key: "\f11a";
$flaticon-layout: "\f150";
$flaticon-leaf: "\f13b";
$flaticon-left-arrow: "\f152";
$flaticon-left-arrow-1: "\f157";
$flaticon-left-arrow-2: "\f1a4";
$flaticon-light-bulb: "\f10d";
$flaticon-lightbulb: "\f10c";
$flaticon-like: "\e9a5";
$flaticon-like-not-filled: "\f15d";
$flaticon-link: "\f176";
$flaticon-loading: "\f132";
$flaticon-lockers: "\f1cb";
$flaticon-lockers-1: "\f1cc";
$flaticon-log-in: "\f122";
$flaticon-log-out: "\f135";
$flaticon-magnifying-glass: "\f1dd";
$flaticon-medal: "\f183";
$flaticon-megaphone: "\f16b";
$flaticon-megaphone-1: "\f1de";
$flaticon-megaphone-2: "\f1df";
$flaticon-menu: "\f139";
$flaticon-menu-1: "\f13a";
$flaticon-menu-2: "\f1e0";
$flaticon-microphone: "\f159";
$flaticon-minimize: "\f1a3";
$flaticon-minus: "\f149";
$flaticon-money: "\f1aa";
$flaticon-monitor: "\f167";
$flaticon-moon: "\f1af";
$flaticon-move: "\f1b3";
$flaticon-music: "\f180";
$flaticon-mute: "\f19c";
$flaticon-mute-1: "\f1bc";
$flaticon-mute-2: "\f1e1";
$flaticon-not-available-circle: "\f10f";
$flaticon-nurse: "\f1cd";
$flaticon-open-book: "\f1ce";
$flaticon-open-book-1: "\f1cf";
$flaticon-open-lock: "\f198";
$flaticon-padlock: "\f16f";
$flaticon-paint-bucket: "\f1b8";
$flaticon-paste: "\f156";
$flaticon-pause: "\f184";
$flaticon-pen: "\f110";
$flaticon-pen-1: "\f111";
$flaticon-pencil: "\f17e";
$flaticon-phone-call: "\f12b";
$flaticon-phone-call-1: "\f142";
$flaticon-phone-call-2: "\f1b9";
$flaticon-photo-camera: "\f131";
$flaticon-picture: "\f146";
$flaticon-pie-chart: "\f18f";
$flaticon-piggy-bank: "\f175";
$flaticon-pin: "\f133";
$flaticon-pin-1: "\f148";
$flaticon-play: "\f120";
$flaticon-plus: "\f119";
$flaticon-power-button: "\f16a";
$flaticon-printer: "\f15a";
$flaticon-profile-user: "\f112";
$flaticon-push-pin: "\f196";
$flaticon-puzzle: "\f17f";
$flaticon-qr-code: "\f15b";
$flaticon-question: "\f108";
$flaticon-question-1: "\f11d";
$flaticon-question-2: "\f1e2";
$flaticon-refresh: "\f170";
$flaticon-remove-user: "\f13f";
$flaticon-reply: "\f16d";
$flaticon-reply-all: "\f1a0";
$flaticon-rewind: "\f1ba";
$flaticon-right-arrow: "\f15f";
$flaticon-right-arrow-1: "\f188";
$flaticon-rotating-arrows-circle: "\f107";
$flaticon-sad: "\f191";
$flaticon-safari: "\f1a9";
$flaticon-scale: "\f18d";
$flaticon-screenshot: "\f12e";
$flaticon-settings: "\f129";
$flaticon-share: "\f14f";
$flaticon-shield: "\f173";
$flaticon-shopping-cart: "\f138";
$flaticon-shuffle: "\f174";
$flaticon-silence: "\f136";
$flaticon-smartphone: "\f158";
$flaticon-smile: "\f14b";
$flaticon-smile-1: "\f182";
$flaticon-snowflake: "\f169";
$flaticon-star: "\f113";
$flaticon-star-1: "\f114";
$flaticon-star-2: "\f134";
$flaticon-stop: "\f18e";
$flaticon-straight: "\f1be";
$flaticon-sun: "\f18c";
$flaticon-surprise: "\f1b7";
$flaticon-switch: "\f1b1";
$flaticon-switch-1: "\f1b2";
$flaticon-tag: "\f187";
$flaticon-target: "\f192";
$flaticon-thermometer: "\f189";
$flaticon-thunderbolt: "\f144";
$flaticon-time-limit: "\f1e3";
$flaticon-toilet: "\f1d0";
$flaticon-tools: "\f163";
$flaticon-trash: "\f145";
$flaticon-trash-1: "\f194";
$flaticon-twitter: "\f168";
$flaticon-umbrella: "\f1b0";
$flaticon-up-arrow: "\f197";
$flaticon-up-arrow-1: "\f19b";
$flaticon-up-arrow-2: "\f1a6";
$flaticon-upload: "\f19f";
$flaticon-usb: "\f1bf";
$flaticon-user: "\f115";
$flaticon-user-1: "\f124";
$flaticon-user-checked: "\f15c";
$flaticon-video: "\f1c0";
$flaticon-video-camera: "\f17d";
$flaticon-volume: "\f171";
$flaticon-volume-1: "\f1e4";
$flaticon-wall-clock: "\f130";
$flaticon-warning-1: "\f117";
$flaticon-warning-2: "\f118";
$flaticon-weightlifting-silhouette: "\f1d1";
$flaticon-wifi: "\f11e";
$flaticon-wind: "\f14e";
$flaticon-youtube: "\f143";
$flaticon-create-pass: "\e901";
$flaticon-user-in-circle-path1: "\e902";
$flaticon-user-in-circle-path2: "\e903";
$flaticon-warning-colored-path1: "\e904";
$flaticon-warning-colored-path2: "\e905";
$flaticon-warning-colored-path3: "\e906";
$flaticon-warning-colored-path4: "\e907";
$flaticon-warning-colored-path5: "\e908";
$flaticon-warning-colored-path6: "\e909";
$flaticon-warning-colored-path7: "\e90a";
$flaticon-warning-colored-path8: "\e90b";
$flaticon-tick-path1: "\e90c";
$flaticon-tick-path2: "\e90d";
$flaticon-tick-path3: "\e90e";
$flaticon-tick-path4: "\e90f";
$flaticon-tick-1-path1: "\e910";
$flaticon-tick-1-path2: "\e911";
$flaticon-tick-1-path3: "\e912";
$flaticon-tick-1-path4: "\e913";
$flaticon-star-colored: "\e914";
$flaticon-profile-user-blue: "\e915";
$flaticon-profile-user-grey: "\e916";
$flaticon-profile-user-sepia: "\e917";
$flaticon-pen-colored-path1: "\e918";
$flaticon-pen-colored-path2: "\e919";
$flaticon-pen-colored-path3: "\e91a";
$flaticon-notebook-1_optimized-path1: "\e91b";
$flaticon-notebook-1_optimized-path2: "\e91c";
$flaticon-notebook-1_optimized-path3: "\e91d";
$flaticon-notebook-1_optimized-path4: "\e91e";
$flaticon-notebook-1_optimized-path5: "\e91f";
$flaticon-notebook-1_optimized-path6: "\e920";
$flaticon-notebook-1_optimized-path7: "\e921";
$flaticon-notebook-1_optimized-path8: "\e922";
$flaticon-notebook-1_optimized-path9: "\e923";
$flaticon-notebook-1_optimized-path10: "\e924";
$flaticon-notebook-1_optimized-path11: "\e925";
$flaticon-notebook-1_optimized-path12: "\e926";
$flaticon-notebook-1_optimized-path13: "\e927";
$flaticon-notebook-1_optimized-path14: "\e928";
$flaticon-notebook-1_optimized-path15: "\e929";
$flaticon-notebook-1_optimized-path16: "\e92a";
$flaticon-notebook-1_optimized-path17: "\e92b";
$flaticon-notebook-1_optimized-path18: "\e92c";
$flaticon-not-available-circle-colord: "\e92d";
$flaticon-idea-colored-path1: "\e92e";
$flaticon-idea-colored-path2: "\e92f";
$flaticon-idea-colored-path3: "\e930";
$flaticon-idea-colored-path4: "\e931";
$flaticon-idea-colored-path5: "\e932";
$flaticon-idea-colored-path6: "\e933";
$flaticon-idea-colored-path7: "\e934";
$flaticon-idea-colored-path8: "\e935";
$flaticon-idea-colored-path9: "\e936";
$flaticon-idea-colored-path10: "\e937";
$flaticon-idea-colored-path11: "\e938";
$flaticon-idea-colored-path12: "\e939";
$flaticon-idea-colored-path13: "\e93a";
$flaticon-google-colored-path1: "\e93c";
$flaticon-google-colored-path2: "\e93d";
$flaticon-google-colored-path3: "\e93e";
$flaticon-google-colored-path4: "\e93f";
$flaticon-google-colored-path5: "\e940";
$flaticon-google-colored-path6: "\e941";
$flaticon-circle-colored-path1: "\e942";
$flaticon-circle-colored-path2: "\e943";
$flaticon-circle-colored-path3: "\e944";
$flaticon-circle-colored-path4: "\e945";
$flaticon-circle-colored-path5: "\e946";
$flaticon-circle-colored-path6: "\e947";
$flaticon-circle-colored-path7: "\e948";
$flaticon-circle-colored-path8: "\e949";
$flaticon-circle-1-colored-path1: "\e94a";
$flaticon-circle-1-colored-path2: "\e94b";
$flaticon-circle-1-colored-path3: "\e94c";
$flaticon-circle-1-colored-path4: "\e94d";
$flaticon-circle-1-colored-path5: "\e94e";
$flaticon-circle-1-colored-path6: "\e94f";
$flaticon-circle-1-colored-path7: "\e950";
$flaticon-circle-1-colored-path8: "\e951";
$flaticon-back-arrow_optimized-path1: "\e952";
$flaticon-back-arrow_optimized-path2: "\e953";
$flaticon-back-arrow_optimized-path3: "\e954";
$flaticon-back-arrow_optimized-path4: "\e955";
$flaticon-back_optimized: "\e956";
$flaticon-agenda_optimized-path1: "\e957";
$flaticon-agenda_optimized-path2: "\e958";
$flaticon-agenda_optimized-path3: "\e959";
$flaticon-agenda_optimized-path4: "\e95a";
$flaticon-agenda_optimized-path5: "\e95b";
$flaticon-agenda_optimized-path6: "\e95c";
$flaticon-agenda_optimized-path7: "\e95d";
$flaticon-agenda_optimized-path8: "\e95e";
$flaticon-minuten_optimized-path1: "\e95f";
$flaticon-minuten_optimized-path2: "\e960";
$flaticon-minuten_optimized-path3: "\e961";
$flaticon-minuten_optimized-path4: "\e962";
$flaticon-minuten-1-_optimized-path1: "\e963";
$flaticon-minuten-1-_optimized-path2: "\e964";
$flaticon-minuten-1-_optimized-path3: "\e965";
$flaticon-minuten-1-_optimized-path4: "\e966";
$flaticon-checked_optimized-path1: "\e967";
$flaticon-checked_optimized-path2: "\e968";
$flaticon-checked_optimized-path3: "\e969";
$flaticon-checked_optimized-path4: "\e96a";
$flaticon-hour-glass-2-optimized-path1: "\e96b";
$flaticon-hour-glass-2-optimized-path2: "\e96c";
$flaticon-hour-glass-2-optimized-path3: "\e96d";
$flaticon-hour-glass-2-optimized-path4: "\e96e";
$flaticon-hour-glass-2-optimized-path5: "\e96f";
$flaticon-hour-glass-2-optimized-path6: "\e970";
$flaticon-hour-glass-2-optimized-path7: "\e971";
$flaticon-hour-glass-2-optimized-path8: "\e972";
$flaticon-hour-glass-2-optimized-path9: "\e973";
$flaticon-hour-glass-2-optimized-path10: "\e974";
$flaticon-finish-line-optimized-path1: "\e975";
$flaticon-finish-line-optimized-path2: "\e976";
$flaticon-finish-line-optimized-path3: "\e977";
$flaticon-finish-line-optimized-path4: "\e978";
$flaticon-finish-line-optimized-path5: "\e979";
$flaticon-finish-line-optimized-path6: "\e97a";
$flaticon-finish-line-optimized-path7: "\e97b";
$flaticon-finish-line-optimized-path8: "\e97c";
$flaticon-finish-line-optimized-path9: "\e97d";
$flaticon-finish-line-optimized-path10: "\e97e";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?cxtzly');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?cxtzly#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?cxtzly') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?cxtzly') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?cxtzly##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="flaticon-"], [class*=" flaticon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-washroom {
  &:before {
    content: $flaticon-washroom;
  }
}
.flaticon-waitroom {
  &:before {
    content: $flaticon-waitroom;
  }
}
.flaticon-volumedon {
  &:before {
    content: $flaticon-volumedon;
  }
}
.flaticon-volumedoff {
  &:before {
    content: $flaticon-volumedoff;
  }
}
.flaticon-tennis {
  &:before {
    content: $flaticon-tennis;
  }
}
.flaticon-swimming {
  &:before {
    content: $flaticon-swimming;
  }
}
.flaticon-studentworkarea {
  &:before {
    content: $flaticon-studentworkarea;
  }
}
.flaticon-securityoffice {
  &:before {
    content: $flaticon-securityoffice;
  }
}
.flaticon-printer1 {
  &:before {
    content: $flaticon-printer1;
  }
}
.flaticon-painting {
  &:before {
    content: $flaticon-painting;
  }
}
.flaticon-nurse1 {
  &:before {
    content: $flaticon-nurse1;
  }
}
.flaticon-music1 {
  &:before {
    content: $flaticon-music1;
  }
}
.flaticon-locker {
  &:before {
    content: $flaticon-locker;
  }
}
.flaticon-library {
  &:before {
    content: $flaticon-library;
  }
}
.flaticon-gym {
  &:before {
    content: $flaticon-gym;
  }
}
.flaticon-guidanceoffice {
  &:before {
    content: $flaticon-guidanceoffice;
  }
}
.flaticon-guidance {
  &:before {
    content: $flaticon-guidance;
  }
}
.flaticon-football {
  &:before {
    content: $flaticon-football;
  }
}
.flaticon-drinkingwater {
  &:before {
    content: $flaticon-drinkingwater;
  }
}
.flaticon-discipline {
  &:before {
    content: $flaticon-discipline;
  }
}
.flaticon-computer {
  &:before {
    content: $flaticon-computer;
  }
}
.flaticon-camera {
  &:before {
    content: $flaticon-camera;
  }
}
.flaticon-cafeteria {
  &:before {
    content: $flaticon-cafeteria;
  }
}
.flaticon-auditorium {
  &:before {
    content: $flaticon-auditorium;
  }
}
.flaticon-attendance {
  &:before {
    content: $flaticon-attendance;
  }
}
.flaticon-admin {
  &:before {
    content: $flaticon-admin;
  }
}
.flaticon-double-chevron {
  &:before {
    content: $flaticon-double-chevron;
  }
}
.flaticon-dashboard_customer {
  &:before {
    content: $flaticon-dashboard_customer;
  }
}
.flaticon-dashboard_user {
  &:before {
    content: $flaticon-dashboard_user;
  }
}
.flaticon-stop-circle {
  &:before {
    content: $flaticon-stop-circle;
  }
}
.flaticon-play-circle {
  &:before {
    content: $flaticon-play-circle;
  }
}
.flaticon-microsoft .path1 {
  &:before {
    content: $flaticon-microsoft-path1;
    color: rgb(255, 255, 255);
    opacity: 0.2;
  }
}
.flaticon-microsoft .path2 {
  &:before {
    content: $flaticon-microsoft-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
    opacity: 0.12;
  }
}
.flaticon-microsoft .path3 {
  &:before {
    content: $flaticon-microsoft-path3;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}
.flaticon-microsoft .path4 {
  &:before {
    content: $flaticon-microsoft-path4;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}
.flaticon-microsoft .path5 {
  &:before {
    content: $flaticon-microsoft-path5;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}
.flaticon-microsoft .path6 {
  &:before {
    content: $flaticon-microsoft-path6;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}
.flaticon-microsoft .path7 {
  &:before {
    content: $flaticon-microsoft-path7;
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}
.flaticon-gg4l {
  &:before {
    content: $flaticon-gg4l;
    color: #484ce6;
  }
}
.flaticon-clever {
  &:before {
    content: $flaticon-clever;
    color: #436cf2;
  }
}
.flaticon-google .path1 {
  &:before {
    content: $flaticon-google-path1;
    color: rgb(251, 187, 0);
  }
}
.flaticon-google .path2 {
  &:before {
    content: $flaticon-google-path2;
    margin-left: -1em;
    color: rgb(81, 142, 248);
  }
}
.flaticon-google .path3 {
  &:before {
    content: $flaticon-google-path3;
    margin-left: -1em;
    color: rgb(40, 180, 70);
  }
}
.flaticon-google .path4 {
  &:before {
    content: $flaticon-google-path4;
    margin-left: -1em;
    color: rgb(241, 67, 54);
  }
}
.flaticon-sso {
  &:before {
    content: $flaticon-sso;
    color: #0a4d7f;
  }
}
.flaticon-warning {
  &:before {
    content: $flaticon-warning;
  }
}
.flaticon-idea-gray {
  &:before {
    content: $flaticon-idea-gray;
  }
}
.flaticon-15-minutes {
  &:before {
    content: $flaticon-15-minutes;
  }
}
.flaticon-add-user {
  &:before {
    content: $flaticon-add-user;
  }
}
.flaticon-agenda {
  &:before {
    content: $flaticon-agenda;
  }
}
.flaticon-alarm {
  &:before {
    content: $flaticon-alarm;
  }
}
.flaticon-alarm-1 {
  &:before {
    content: $flaticon-alarm-1;
  }
}
.flaticon-align-left {
  &:before {
    content: $flaticon-align-left;
  }
}
.flaticon-align-right {
  &:before {
    content: $flaticon-align-right;
  }
}
.flaticon-back-arrow {
  &:before {
    content: $flaticon-back-arrow;
  }
}
.flaticon-back-arrow-1 {
  &:before {
    content: $flaticon-back-arrow-1;
  }
}
.flaticon-bar-chart {
  &:before {
    content: $flaticon-bar-chart;
  }
}
.flaticon-binoculars {
  &:before {
    content: $flaticon-binoculars;
  }
}
.flaticon-bluetooth {
  &:before {
    content: $flaticon-bluetooth;
  }
}
.flaticon-book {
  &:before {
    content: $flaticon-book;
  }
}
.flaticon-book-1 {
  &:before {
    content: $flaticon-book-1;
  }
}
.flaticon-bookmark {
  &:before {
    content: $flaticon-bookmark;
  }
}
.flaticon-briefcase {
  &:before {
    content: $flaticon-briefcase;
  }
}
.flaticon-broken-link {
  &:before {
    content: $flaticon-broken-link;
  }
}
.flaticon-calculator {
  &:before {
    content: $flaticon-calculator;
  }
}
.flaticon-calendar {
  &:before {
    content: $flaticon-calendar;
  }
}
.flaticon-cancel {
  &:before {
    content: $flaticon-cancel;
  }
}
.flaticon-cancel-1 {
  &:before {
    content: $flaticon-cancel-1;
  }
}
.flaticon-chat {
  &:before {
    content: $flaticon-chat;
  }
}
.flaticon-check {
  &:before {
    content: $flaticon-check;
  }
}
.flaticon-check-1 {
  &:before {
    content: $flaticon-check-1;
  }
}
.flaticon-chevron {
  &:before {
    content: $flaticon-chevron;
  }
}
.flaticon-chrome {
  &:before {
    content: $flaticon-chrome;
  }
}
.flaticon-clicker {
  &:before {
    content: $flaticon-clicker;
  }
}
.flaticon-clip {
  &:before {
    content: $flaticon-clip;
  }
}
.flaticon-cloud {
  &:before {
    content: $flaticon-cloud;
  }
}
.flaticon-cloud-computing {
  &:before {
    content: $flaticon-cloud-computing;
  }
}
.flaticon-cloud-computing-1 {
  &:before {
    content: $flaticon-cloud-computing-1;
  }
}
.flaticon-coffee-cup {
  &:before {
    content: $flaticon-coffee-cup;
  }
}
.flaticon-coffee-cup-1 {
  &:before {
    content: $flaticon-coffee-cup-1;
  }
}
.flaticon-coloring-tool {
  &:before {
    content: $flaticon-coloring-tool;
  }
}
.flaticon-coloring-tool-1 {
  &:before {
    content: $flaticon-coloring-tool-1;
  }
}
.flaticon-compass {
  &:before {
    content: $flaticon-compass;
  }
}
.flaticon-copy {
  &:before {
    content: $flaticon-copy;
  }
}
.flaticon-credit-card {
  &:before {
    content: $flaticon-credit-card;
  }
}
.flaticon-crop {
  &:before {
    content: $flaticon-crop;
  }
}
.flaticon-cube {
  &:before {
    content: $flaticon-cube;
  }
}
.flaticon-cursor {
  &:before {
    content: $flaticon-cursor;
  }
}
.flaticon-cut {
  &:before {
    content: $flaticon-cut;
  }
}
.flaticon-cut-1 {
  &:before {
    content: $flaticon-cut-1;
  }
}
.flaticon-dashboard {
  &:before {
    content: $flaticon-dashboard;
  }
}
.flaticon-diagram {
  &:before {
    content: $flaticon-diagram;
  }
}
.flaticon-diamond {
  &:before {
    content: $flaticon-diamond;
  }
}
.flaticon-disabled {
  &:before {
    content: $flaticon-disabled;
  }
}
.flaticon-diskette {
  &:before {
    content: $flaticon-diskette;
  }
}
.flaticon-dislike {
  &:before {
    content: $flaticon-dislike;
  }
}
.flaticon-down-arrow {
  &:before {
    content: $flaticon-down-arrow;
  }
}
.flaticon-down-arrow-1 {
  &:before {
    content: $flaticon-down-arrow-1;
  }
}
.flaticon-down-arrow-2 {
  &:before {
    content: $flaticon-down-arrow-2;
  }
}
.flaticon-download {
  &:before {
    content: $flaticon-download;
  }
}
.flaticon-dumbell {
  &:before {
    content: $flaticon-dumbell;
  }
}
.flaticon-dumbell-1 {
  &:before {
    content: $flaticon-dumbell-1;
  }
}
.flaticon-dumbell-2 {
  &:before {
    content: $flaticon-dumbell-2;
  }
}
.flaticon-dumbell-3 {
  &:before {
    content: $flaticon-dumbell-3;
  }
}
.flaticon-earth-grid {
  &:before {
    content: $flaticon-earth-grid;
  }
}
.flaticon-edit {
  &:before {
    content: $flaticon-edit;
  }
}
.flaticon-email {
  &:before {
    content: $flaticon-email;
  }
}
.flaticon-email-1 {
  &:before {
    content: $flaticon-email-1;
  }
}
.flaticon-email-2 {
  &:before {
    content: $flaticon-email-2;
  }
}
.flaticon-equalizer {
  &:before {
    content: $flaticon-equalizer;
  }
}
.flaticon-eraser {
  &:before {
    content: $flaticon-eraser;
  }
}
.flaticon-exchange {
  &:before {
    content: $flaticon-exchange;
  }
}
.flaticon-exit-top-right {
  &:before {
    content: $flaticon-exit-top-right;
  }
}
.flaticon-expand {
  &:before {
    content: $flaticon-expand;
  }
}
.flaticon-eye {
  &:before {
    content: $flaticon-eye;
  }
}
.flaticon-facebook {
  &:before {
    content: $flaticon-facebook;
  }
}
.flaticon-fast-forward {
  &:before {
    content: $flaticon-fast-forward;
  }
}
.flaticon-file {
  &:before {
    content: $flaticon-file;
  }
}
.flaticon-filter {
  &:before {
    content: $flaticon-filter;
  }
}
.flaticon-firefox {
  &:before {
    content: $flaticon-firefox;
  }
}
.flaticon-flag {
  &:before {
    content: $flaticon-flag;
  }
}
.flaticon-flag-1 {
  &:before {
    content: $flaticon-flag-1;
  }
}
.flaticon-flag-2 {
  &:before {
    content: $flaticon-flag-2;
  }
}
.flaticon-folder {
  &:before {
    content: $flaticon-folder;
  }
}
.flaticon-followers {
  &:before {
    content: $flaticon-followers;
  }
}
.flaticon-forbidden {
  &:before {
    content: $flaticon-forbidden;
  }
}
.flaticon-fountain {
  &:before {
    content: $flaticon-fountain;
  }
}
.flaticon-fountain-1 {
  &:before {
    content: $flaticon-fountain-1;
  }
}
.flaticon-graduation-cap {
  &:before {
    content: $flaticon-graduation-cap;
  }
}
.flaticon-headphones {
  &:before {
    content: $flaticon-headphones;
  }
}
.flaticon-heart {
  &:before {
    content: $flaticon-heart;
  }
}
.flaticon-hide {
  &:before {
    content: $flaticon-hide;
  }
}
.flaticon-highlighter {
  &:before {
    content: $flaticon-highlighter;
  }
}
.flaticon-home {
  &:before {
    content: $flaticon-home;
  }
}
.flaticon-hour-glass {
  &:before {
    content: $flaticon-hour-glass;
  }
}
.flaticon-hour-glass-1 {
  &:before {
    content: $flaticon-hour-glass-1;
  }
}
.flaticon-hourglass {
  &:before {
    content: $flaticon-hourglass;
  }
}
.flaticon-infinity {
  &:before {
    content: $flaticon-infinity;
  }
}
.flaticon-infinity-1 {
  &:before {
    content: $flaticon-infinity-1;
  }
}
.flaticon-information {
  &:before {
    content: $flaticon-information;
  }
}
.flaticon-information-circle {
  &:before {
    content: $flaticon-information-circle;
  }
}
.flaticon-instagram {
  &:before {
    content: $flaticon-instagram;
  }
}
.flaticon-joke {
  &:before {
    content: $flaticon-joke;
  }
}
.flaticon-justify {
  &:before {
    content: $flaticon-justify;
  }
}
.flaticon-key {
  &:before {
    content: $flaticon-key;
  }
}
.flaticon-layout {
  &:before {
    content: $flaticon-layout;
  }
}
.flaticon-leaf {
  &:before {
    content: $flaticon-leaf;
  }
}
.flaticon-left-arrow {
  &:before {
    content: $flaticon-left-arrow;
  }
}
.flaticon-left-arrow-1 {
  &:before {
    content: $flaticon-left-arrow-1;
  }
}
.flaticon-left-arrow-2 {
  &:before {
    content: $flaticon-left-arrow-2;
  }
}
.flaticon-light-bulb {
  &:before {
    content: $flaticon-light-bulb;
  }
}
.flaticon-lightbulb {
  &:before {
    content: $flaticon-lightbulb;
  }
}
.flaticon-like {
  &:before {
    content: $flaticon-like;
  }
}
.flaticon-like-not-filled {
  &:before {
    content: $flaticon-like-not-filled;
  }
}
.flaticon-link {
  &:before {
    content: $flaticon-link;
  }
}
.flaticon-loading {
  &:before {
    content: $flaticon-loading;
  }
}
.flaticon-lockers {
  &:before {
    content: $flaticon-lockers;
  }
}
.flaticon-lockers-1 {
  &:before {
    content: $flaticon-lockers-1;
  }
}
.flaticon-log-in {
  &:before {
    content: $flaticon-log-in;
  }
}
.flaticon-log-out {
  &:before {
    content: $flaticon-log-out;
  }
}
.flaticon-magnifying-glass {
  &:before {
    content: $flaticon-magnifying-glass;
  }
}
.flaticon-medal {
  &:before {
    content: $flaticon-medal;
  }
}
.flaticon-megaphone {
  &:before {
    content: $flaticon-megaphone;
  }
}
.flaticon-megaphone-1 {
  &:before {
    content: $flaticon-megaphone-1;
  }
}
.flaticon-megaphone-2 {
  &:before {
    content: $flaticon-megaphone-2;
  }
}
.flaticon-menu {
  &:before {
    content: $flaticon-menu;
  }
}
.flaticon-menu-1 {
  &:before {
    content: $flaticon-menu-1;
  }
}
.flaticon-menu-2 {
  &:before {
    content: $flaticon-menu-2;
  }
}
.flaticon-microphone {
  &:before {
    content: $flaticon-microphone;
  }
}
.flaticon-minimize {
  &:before {
    content: $flaticon-minimize;
  }
}
.flaticon-minus {
  &:before {
    content: $flaticon-minus;
  }
}
.flaticon-money {
  &:before {
    content: $flaticon-money;
  }
}
.flaticon-monitor {
  &:before {
    content: $flaticon-monitor;
  }
}
.flaticon-moon {
  &:before {
    content: $flaticon-moon;
  }
}
.flaticon-move {
  &:before {
    content: $flaticon-move;
  }
}
.flaticon-music {
  &:before {
    content: $flaticon-music;
  }
}
.flaticon-mute {
  &:before {
    content: $flaticon-mute;
  }
}
.flaticon-mute-1 {
  &:before {
    content: $flaticon-mute-1;
  }
}
.flaticon-mute-2 {
  &:before {
    content: $flaticon-mute-2;
  }
}
.flaticon-not-available-circle {
  &:before {
    content: $flaticon-not-available-circle;
  }
}
.flaticon-nurse {
  &:before {
    content: $flaticon-nurse;
  }
}
.flaticon-open-book {
  &:before {
    content: $flaticon-open-book;
  }
}
.flaticon-open-book-1 {
  &:before {
    content: $flaticon-open-book-1;
  }
}
.flaticon-open-lock {
  &:before {
    content: $flaticon-open-lock;
  }
}
.flaticon-padlock {
  &:before {
    content: $flaticon-padlock;
  }
}
.flaticon-paint-bucket {
  &:before {
    content: $flaticon-paint-bucket;
  }
}
.flaticon-paste {
  &:before {
    content: $flaticon-paste;
  }
}
.flaticon-pause {
  &:before {
    content: $flaticon-pause;
  }
}
.flaticon-pen {
  &:before {
    content: $flaticon-pen;
  }
}
.flaticon-pen-1 {
  &:before {
    content: $flaticon-pen-1;
  }
}
.flaticon-pencil {
  &:before {
    content: $flaticon-pencil;
  }
}
.flaticon-phone-call {
  &:before {
    content: $flaticon-phone-call;
  }
}
.flaticon-phone-call-1 {
  &:before {
    content: $flaticon-phone-call-1;
  }
}
.flaticon-phone-call-2 {
  &:before {
    content: $flaticon-phone-call-2;
  }
}
.flaticon-photo-camera {
  &:before {
    content: $flaticon-photo-camera;
  }
}
.flaticon-picture {
  &:before {
    content: $flaticon-picture;
  }
}
.flaticon-pie-chart {
  &:before {
    content: $flaticon-pie-chart;
  }
}
.flaticon-piggy-bank {
  &:before {
    content: $flaticon-piggy-bank;
  }
}
.flaticon-pin {
  &:before {
    content: $flaticon-pin;
  }
}
.flaticon-pin-1 {
  &:before {
    content: $flaticon-pin-1;
  }
}
.flaticon-play {
  &:before {
    content: $flaticon-play;
  }
}
.flaticon-plus {
  &:before {
    content: $flaticon-plus;
  }
}
.flaticon-power-button {
  &:before {
    content: $flaticon-power-button;
  }
}
.flaticon-printer {
  &:before {
    content: $flaticon-printer;
  }
}
.flaticon-profile-user {
  &:before {
    content: $flaticon-profile-user;
  }
}
.flaticon-push-pin {
  &:before {
    content: $flaticon-push-pin;
  }
}
.flaticon-puzzle {
  &:before {
    content: $flaticon-puzzle;
  }
}
.flaticon-qr-code {
  &:before {
    content: $flaticon-qr-code;
  }
}
.flaticon-question {
  &:before {
    content: $flaticon-question;
  }
}
.flaticon-question-1 {
  &:before {
    content: $flaticon-question-1;
  }
}
.flaticon-question-2 {
  &:before {
    content: $flaticon-question-2;
  }
}
.flaticon-refresh {
  &:before {
    content: $flaticon-refresh;
  }
}
.flaticon-remove-user {
  &:before {
    content: $flaticon-remove-user;
  }
}
.flaticon-reply {
  &:before {
    content: $flaticon-reply;
  }
}
.flaticon-reply-all {
  &:before {
    content: $flaticon-reply-all;
  }
}
.flaticon-rewind {
  &:before {
    content: $flaticon-rewind;
  }
}
.flaticon-right-arrow {
  &:before {
    content: $flaticon-right-arrow;
  }
}
.flaticon-right-arrow-1 {
  &:before {
    content: $flaticon-right-arrow-1;
  }
}
.flaticon-rotating-arrows-circle {
  &:before {
    content: $flaticon-rotating-arrows-circle;
  }
}
.flaticon-sad {
  &:before {
    content: $flaticon-sad;
  }
}
.flaticon-safari {
  &:before {
    content: $flaticon-safari;
  }
}
.flaticon-scale {
  &:before {
    content: $flaticon-scale;
  }
}
.flaticon-screenshot {
  &:before {
    content: $flaticon-screenshot;
  }
}
.flaticon-settings {
  &:before {
    content: $flaticon-settings;
  }
}
.flaticon-share {
  &:before {
    content: $flaticon-share;
  }
}
.flaticon-shield {
  &:before {
    content: $flaticon-shield;
  }
}
.flaticon-shopping-cart {
  &:before {
    content: $flaticon-shopping-cart;
  }
}
.flaticon-shuffle {
  &:before {
    content: $flaticon-shuffle;
  }
}
.flaticon-silence {
  &:before {
    content: $flaticon-silence;
  }
}
.flaticon-smartphone {
  &:before {
    content: $flaticon-smartphone;
  }
}
.flaticon-smile {
  &:before {
    content: $flaticon-smile;
  }
}
.flaticon-smile-1 {
  &:before {
    content: $flaticon-smile-1;
  }
}
.flaticon-snowflake {
  &:before {
    content: $flaticon-snowflake;
  }
}
.flaticon-star {
  &:before {
    content: $flaticon-star;
  }
}
.flaticon-star-1 {
  &:before {
    content: $flaticon-star-1;
  }
}
.flaticon-star-2 {
  &:before {
    content: $flaticon-star-2;
  }
}
.flaticon-stop {
  &:before {
    content: $flaticon-stop;
  }
}
.flaticon-straight {
  &:before {
    content: $flaticon-straight;
  }
}
.flaticon-sun {
  &:before {
    content: $flaticon-sun;
  }
}
.flaticon-surprise {
  &:before {
    content: $flaticon-surprise;
  }
}
.flaticon-switch {
  &:before {
    content: $flaticon-switch;
  }
}
.flaticon-switch-1 {
  &:before {
    content: $flaticon-switch-1;
  }
}
.flaticon-tag {
  &:before {
    content: $flaticon-tag;
  }
}
.flaticon-target {
  &:before {
    content: $flaticon-target;
  }
}
.flaticon-thermometer {
  &:before {
    content: $flaticon-thermometer;
  }
}
.flaticon-thunderbolt {
  &:before {
    content: $flaticon-thunderbolt;
  }
}
.flaticon-time-limit {
  &:before {
    content: $flaticon-time-limit;
  }
}
.flaticon-toilet {
  &:before {
    content: $flaticon-toilet;
  }
}
.flaticon-tools {
  &:before {
    content: $flaticon-tools;
  }
}
.flaticon-trash {
  &:before {
    content: $flaticon-trash;
  }
}
.flaticon-trash-1 {
  &:before {
    content: $flaticon-trash-1;
  }
}
.flaticon-twitter {
  &:before {
    content: $flaticon-twitter;
  }
}
.flaticon-umbrella {
  &:before {
    content: $flaticon-umbrella;
  }
}
.flaticon-up-arrow {
  &:before {
    content: $flaticon-up-arrow;
  }
}
.flaticon-up-arrow-1 {
  &:before {
    content: $flaticon-up-arrow-1;
  }
}
.flaticon-up-arrow-2 {
  &:before {
    content: $flaticon-up-arrow-2;
  }
}
.flaticon-upload {
  &:before {
    content: $flaticon-upload;
  }
}
.flaticon-usb {
  &:before {
    content: $flaticon-usb;
  }
}
.flaticon-user {
  &:before {
    content: $flaticon-user;
  }
}
.flaticon-user-1 {
  &:before {
    content: $flaticon-user-1;
  }
}
.flaticon-user-checked {
  &:before {
    content: $flaticon-user-checked;
  }
}
.flaticon-video {
  &:before {
    content: $flaticon-video;
  }
}
.flaticon-video-camera {
  &:before {
    content: $flaticon-video-camera;
  }
}
.flaticon-volume {
  &:before {
    content: $flaticon-volume;
  }
}
.flaticon-volume-1 {
  &:before {
    content: $flaticon-volume-1;
  }
}
.flaticon-wall-clock {
  &:before {
    content: $flaticon-wall-clock;
  }
}
.flaticon-warning-1 {
  &:before {
    content: $flaticon-warning-1;
  }
}
.flaticon-warning-2 {
  &:before {
    content: $flaticon-warning-2;
  }
}
.flaticon-weightlifting-silhouette {
  &:before {
    content: $flaticon-weightlifting-silhouette;
  }
}
.flaticon-wifi {
  &:before {
    content: $flaticon-wifi;
  }
}
.flaticon-wind {
  &:before {
    content: $flaticon-wind;
  }
}
.flaticon-youtube {
  &:before {
    content: $flaticon-youtube;
  }
}
.flaticon-create-pass {
  &:before {
    content: $flaticon-create-pass;
  }
}
.flaticon-user-in-circle .path1 {
  &:before {
    content: $flaticon-user-in-circle-path1;
    color: rgb(0, 0, 0);
  }
}
.flaticon-user-in-circle .path2 {
  &:before {
    content: $flaticon-user-in-circle-path2;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.flaticon-warning-colored .path1 {
  &:before {
    content: $flaticon-warning-colored-path1;
    color: rgb(59, 65, 69);
  }
}
.flaticon-warning-colored .path2 {
  &:before {
    content: $flaticon-warning-colored-path2;
    margin-left: -1em;
    color: rgb(82, 90, 97);
  }
}
.flaticon-warning-colored .path3 {
  &:before {
    content: $flaticon-warning-colored-path3;
    margin-left: -1em;
    color: rgb(255, 183, 81);
  }
}
.flaticon-warning-colored .path4 {
  &:before {
    content: $flaticon-warning-colored-path4;
    margin-left: -1em;
    color: rgb(255, 215, 100);
  }
}
.flaticon-warning-colored .path5 {
  &:before {
    content: $flaticon-warning-colored-path5;
    margin-left: -1em;
    color: rgb(59, 65, 69);
  }
}
.flaticon-warning-colored .path6 {
  &:before {
    content: $flaticon-warning-colored-path6;
    margin-left: -1em;
    color: rgb(82, 90, 97);
  }
}
.flaticon-warning-colored .path7 {
  &:before {
    content: $flaticon-warning-colored-path7;
    margin-left: -1em;
    color: rgb(59, 65, 69);
  }
}
.flaticon-warning-colored .path8 {
  &:before {
    content: $flaticon-warning-colored-path8;
    margin-left: -1em;
    color: rgb(82, 90, 97);
  }
}
.flaticon-tick .path1 {
  &:before {
    content: $flaticon-tick-path1;
    color: rgb(61, 179, 158);
  }
}
.flaticon-tick .path2 {
  &:before {
    content: $flaticon-tick-path2;
    margin-left: -1.009765625em;
    color: rgb(55, 161, 142);
  }
}
.flaticon-tick .path3 {
  &:before {
    content: $flaticon-tick-path3;
    margin-left: -1.009765625em;
    color: rgb(248, 248, 248);
  }
}
.flaticon-tick .path4 {
  &:before {
    content: $flaticon-tick-path4;
    margin-left: -1.009765625em;
    color: rgb(235, 235, 235);
  }
}
.flaticon-tick-1 .path1 {
  &:before {
    content: $flaticon-tick-1-path1;
    color: rgb(0, 166, 81);
  }
}
.flaticon-tick-1 .path2 {
  &:before {
    content: $flaticon-tick-1-path2;
    margin-left: -1.009765625em;
    color: rgb(4, 94, 48);
  }
}
.flaticon-tick-1 .path3 {
  &:before {
    content: $flaticon-tick-1-path3;
    margin-left: -1.009765625em;
    color: rgb(248, 248, 248);
  }
}
.flaticon-tick-1 .path4 {
  &:before {
    content: $flaticon-tick-1-path4;
    margin-left: -1.009765625em;
    color: rgb(235, 235, 235);
  }
}
.flaticon-star-colored {
  &:before {
    content: $flaticon-star-colored;
    color: #ffc107;
  }
}
.flaticon-profile-user-blue {
  &:before {
    content: $flaticon-profile-user-blue;
    color: #2a81c4;
  }
}
.flaticon-profile-user-grey {
  &:before {
    content: $flaticon-profile-user-grey;
    color: #b4bfbf;
  }
}
.flaticon-profile-user-sepia {
  &:before {
    content: $flaticon-profile-user-sepia;
    color: #1db8bd;
  }
}
.flaticon-pen-colored .path1 {
  &:before {
    content: $flaticon-pen-colored-path1;
    color: rgb(212, 225, 244);
  }
}
.flaticon-pen-colored .path2 {
  &:before {
    content: $flaticon-pen-colored-path2;
    margin-left: -1em;
    color: rgb(26, 229, 190);
  }
}
.flaticon-pen-colored .path3 {
  &:before {
    content: $flaticon-pen-colored-path3;
    margin-left: -1em;
    color: rgb(6, 53, 201);
  }
}
.flaticon-notebook-1_optimized .path1 {
  &:before {
    content: $flaticon-notebook-1_optimized-path1;
    color: rgb(107, 123, 139);
  }
}
.flaticon-notebook-1_optimized .path2 {
  &:before {
    content: $flaticon-notebook-1_optimized-path2;
    margin-left: -1em;
    color: rgb(85, 105, 122);
  }
}
.flaticon-notebook-1_optimized .path3 {
  &:before {
    content: $flaticon-notebook-1_optimized-path3;
    margin-left: -1em;
    color: rgb(253, 142, 97);
  }
}
.flaticon-notebook-1_optimized .path4 {
  &:before {
    content: $flaticon-notebook-1_optimized-path4;
    margin-left: -1em;
    color: rgb(253, 221, 136);
  }
}
.flaticon-notebook-1_optimized .path5 {
  &:before {
    content: $flaticon-notebook-1_optimized-path5;
    margin-left: -1em;
    color: rgb(73, 223, 229);
  }
}
.flaticon-notebook-1_optimized .path6 {
  &:before {
    content: $flaticon-notebook-1_optimized-path6;
    margin-left: -1em;
    color: rgb(244, 246, 247);
  }
}
.flaticon-notebook-1_optimized .path7 {
  &:before {
    content: $flaticon-notebook-1_optimized-path7;
    margin-left: -1em;
    color: rgb(213, 217, 222);
  }
}
.flaticon-notebook-1_optimized .path8 {
  &:before {
    content: $flaticon-notebook-1_optimized-path8;
    margin-left: -1em;
    color: rgb(213, 217, 222);
  }
}
.flaticon-notebook-1_optimized .path9 {
  &:before {
    content: $flaticon-notebook-1_optimized-path9;
    margin-left: -1em;
    color: rgb(213, 217, 222);
  }
}
.flaticon-notebook-1_optimized .path10 {
  &:before {
    content: $flaticon-notebook-1_optimized-path10;
    margin-left: -1em;
    color: rgb(213, 217, 222);
  }
}
.flaticon-notebook-1_optimized .path11 {
  &:before {
    content: $flaticon-notebook-1_optimized-path11;
    margin-left: -1em;
    color: rgb(213, 217, 222);
  }
}
.flaticon-notebook-1_optimized .path12 {
  &:before {
    content: $flaticon-notebook-1_optimized-path12;
    margin-left: -1em;
    color: rgb(213, 217, 222);
  }
}
.flaticon-notebook-1_optimized .path13 {
  &:before {
    content: $flaticon-notebook-1_optimized-path13;
    margin-left: -1em;
    color: rgb(85, 105, 122);
  }
}
.flaticon-notebook-1_optimized .path14 {
  &:before {
    content: $flaticon-notebook-1_optimized-path14;
    margin-left: -1em;
    color: rgb(85, 105, 122);
  }
}
.flaticon-notebook-1_optimized .path15 {
  &:before {
    content: $flaticon-notebook-1_optimized-path15;
    margin-left: -1em;
    color: rgb(253, 221, 136);
  }
}
.flaticon-notebook-1_optimized .path16 {
  &:before {
    content: $flaticon-notebook-1_optimized-path16;
    margin-left: -1em;
    color: rgb(252, 213, 106);
  }
}
.flaticon-notebook-1_optimized .path17 {
  &:before {
    content: $flaticon-notebook-1_optimized-path17;
    margin-left: -1em;
    color: rgb(118, 231, 235);
  }
}
.flaticon-notebook-1_optimized .path18 {
  &:before {
    content: $flaticon-notebook-1_optimized-path18;
    margin-left: -1em;
    color: rgb(27, 215, 222);
  }
}
.flaticon-not-available-circle-colord {
  &:before {
    content: $flaticon-not-available-circle-colord;
    color: #2998d2;
  }
}
.flaticon-idea-colored .path1 {
  &:before {
    content: $flaticon-idea-colored-path1;
    color: rgb(255, 209, 92);
  }
}
.flaticon-idea-colored .path2 {
  &:before {
    content: $flaticon-idea-colored-path2;
    margin-left: -0.87109375em;
    color: rgb(255, 255, 255);
  }
}
.flaticon-idea-colored .path3 {
  &:before {
    content: $flaticon-idea-colored-path3;
    margin-left: -0.87109375em;
    color: rgb(52, 74, 94);
  }
}
.flaticon-idea-colored .path4 {
  &:before {
    content: $flaticon-idea-colored-path4;
    margin-left: -0.87109375em;
    color: rgb(52, 74, 94);
  }
}
.flaticon-idea-colored .path5 {
  &:before {
    content: $flaticon-idea-colored-path5;
    margin-left: -0.87109375em;
    color: rgb(65, 90, 107);
  }
}
.flaticon-idea-colored .path6 {
  &:before {
    content: $flaticon-idea-colored-path6;
    margin-left: -0.87109375em;
    color: rgb(65, 90, 107);
  }
}
.flaticon-idea-colored .path7 {
  &:before {
    content: $flaticon-idea-colored-path7;
    margin-left: -0.87109375em;
    color: rgb(255, 209, 92);
  }
}
.flaticon-idea-colored .path8 {
  &:before {
    content: $flaticon-idea-colored-path8;
    margin-left: -0.87109375em;
    color: rgb(255, 209, 92);
  }
}
.flaticon-idea-colored .path9 {
  &:before {
    content: $flaticon-idea-colored-path9;
    margin-left: -0.87109375em;
    color: rgb(255, 209, 92);
  }
}
.flaticon-idea-colored .path10 {
  &:before {
    content: $flaticon-idea-colored-path10;
    margin-left: -0.87109375em;
    color: rgb(255, 209, 92);
  }
}
.flaticon-idea-colored .path11 {
  &:before {
    content: $flaticon-idea-colored-path11;
    margin-left: -0.87109375em;
    color: rgb(255, 209, 92);
  }
}
.flaticon-idea-colored .path12 {
  &:before {
    content: $flaticon-idea-colored-path12;
    margin-left: -0.87109375em;
    color: rgb(255, 209, 92);
  }
}
.flaticon-idea-colored .path13 {
  &:before {
    content: $flaticon-idea-colored-path13;
    margin-left: -0.87109375em;
    color: rgb(255, 209, 92);
  }
}
.flaticon-google-colored .path1 {
  &:before {
    content: $flaticon-google-colored-path1;
    color: rgb(22, 126, 230);
  }
}
.flaticon-google-colored .path2 {
  &:before {
    content: $flaticon-google-colored-path2;
    margin-left: -1em;
    color: rgb(18, 179, 71);
  }
}
.flaticon-google-colored .path3 {
  &:before {
    content: $flaticon-google-colored-path3;
    margin-left: -1em;
    color: rgb(15, 153, 62);
  }
}
.flaticon-google-colored .path4 {
  &:before {
    content: $flaticon-google-colored-path4;
    margin-left: -1em;
    color: rgb(255, 213, 0);
  }
}
.flaticon-google-colored .path5 {
  &:before {
    content: $flaticon-google-colored-path5;
    margin-left: -1em;
    color: rgb(255, 75, 38);
  }
}
.flaticon-google-colored .path6 {
  &:before {
    content: $flaticon-google-colored-path6;
    margin-left: -1em;
    color: rgb(217, 63, 33);
  }
}
.flaticon-circle-colored .path1 {
  &:before {
    content: $flaticon-circle-colored-path1;
    color: rgb(49, 154, 235);
  }
}
.flaticon-circle-colored .path2 {
  &:before {
    content: $flaticon-circle-colored-path2;
    margin-left: -1em;
    color: rgb(72, 190, 253);
  }
}
.flaticon-circle-colored .path3 {
  &:before {
    content: $flaticon-circle-colored-path3;
    margin-left: -1em;
    color: rgb(49, 154, 235);
  }
}
.flaticon-circle-colored .path4 {
  &:before {
    content: $flaticon-circle-colored-path4;
    margin-left: -1em;
    color: rgb(107, 220, 255);
  }
}
.flaticon-circle-colored .path5 {
  &:before {
    content: $flaticon-circle-colored-path5;
    margin-left: -1em;
    color: rgb(107, 220, 255);
  }
}
.flaticon-circle-colored .path6 {
  &:before {
    content: $flaticon-circle-colored-path6;
    margin-left: -1em;
    color: rgb(42, 132, 201);
  }
}
.flaticon-circle-colored .path7 {
  &:before {
    content: $flaticon-circle-colored-path7;
    margin-left: -1em;
    color: rgb(72, 190, 253);
  }
}
.flaticon-circle-colored .path8 {
  &:before {
    content: $flaticon-circle-colored-path8;
    margin-left: -1em;
    color: rgb(72, 190, 253);
  }
}
.flaticon-circle-1-colored .path1 {
  &:before {
    content: $flaticon-circle-1-colored-path1;
    color: rgb(0, 166, 81);
  }
}
.flaticon-circle-1-colored .path2 {
  &:before {
    content: $flaticon-circle-1-colored-path2;
    margin-left: -1em;
    color: rgb(99, 209, 153);
  }
}
.flaticon-circle-1-colored .path3 {
  &:before {
    content: $flaticon-circle-1-colored-path3;
    margin-left: -1em;
    color: rgb(0, 166, 81);
  }
}
.flaticon-circle-1-colored .path4 {
  &:before {
    content: $flaticon-circle-1-colored-path4;
    margin-left: -1em;
    color: rgb(37, 139, 87);
  }
}
.flaticon-circle-1-colored .path5 {
  &:before {
    content: $flaticon-circle-1-colored-path5;
    margin-left: -1em;
    color: rgb(37, 139, 87);
  }
}
.flaticon-circle-1-colored .path6 {
  &:before {
    content: $flaticon-circle-1-colored-path6;
    margin-left: -1em;
    color: rgb(0, 166, 81);
  }
}
.flaticon-circle-1-colored .path7 {
  &:before {
    content: $flaticon-circle-1-colored-path7;
    margin-left: -1em;
    color: rgb(99, 209, 153);
  }
}
.flaticon-circle-1-colored .path8 {
  &:before {
    content: $flaticon-circle-1-colored-path8;
    margin-left: -1em;
    color: rgb(99, 209, 153);
  }
}
.flaticon-back-arrow_optimized .path1 {
  &:before {
    content: $flaticon-back-arrow_optimized-path1;
    color: rgb(7, 137, 222);
  }
}
.flaticon-back-arrow_optimized .path2 {
  &:before {
    content: $flaticon-back-arrow_optimized-path2;
    margin-left: -1em;
    color: rgb(46, 162, 239);
  }
}
.flaticon-back-arrow_optimized .path3 {
  &:before {
    content: $flaticon-back-arrow_optimized-path3;
    margin-left: -1em;
    color: rgb(198, 232, 255);
  }
}
.flaticon-back-arrow_optimized .path4 {
  &:before {
    content: $flaticon-back-arrow_optimized-path4;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.flaticon-back_optimized {
  &:before {
    content: $flaticon-back_optimized;
    color: #26b99a;
  }
}
.flaticon-agenda_optimized .path1 {
  &:before {
    content: $flaticon-agenda_optimized-path1;
    color: rgb(236, 239, 241);
  }
}
.flaticon-agenda_optimized .path2 {
  &:before {
    content: $flaticon-agenda_optimized-path2;
    margin-left: -1em;
    color: rgb(33, 150, 243);
  }
}
.flaticon-agenda_optimized .path3 {
  &:before {
    content: $flaticon-agenda_optimized-path3;
    margin-left: -1em;
    color: rgb(205, 208, 210);
  }
}
.flaticon-agenda_optimized .path4 {
  &:before {
    content: $flaticon-agenda_optimized-path4;
    margin-left: -1em;
    color: rgb(29, 131, 212);
  }
}
.flaticon-agenda_optimized .path5 {
  &:before {
    content: $flaticon-agenda_optimized-path5;
    margin-left: -1em;
    color: rgb(25, 118, 210);
  }
}
.flaticon-agenda_optimized .path6 {
  &:before {
    content: $flaticon-agenda_optimized-path6;
    margin-left: -1em;
    color: rgb(22, 103, 183);
  }
}
.flaticon-agenda_optimized .path7 {
  &:before {
    content: $flaticon-agenda_optimized-path7;
    margin-left: -1em;
    color: rgb(25, 118, 210);
  }
}
.flaticon-agenda_optimized .path8 {
  &:before {
    content: $flaticon-agenda_optimized-path8;
    margin-left: -1em;
    color: rgb(22, 103, 183);
  }
}
.flaticon-minuten_optimized .path1 {
  &:before {
    content: $flaticon-minuten_optimized-path1;
    color: rgb(33, 150, 243);
  }
}
.flaticon-minuten_optimized .path2 {
  &:before {
    content: $flaticon-minuten_optimized-path2;
    margin-left: -1em;
    color: rgb(29, 131, 212);
  }
}
.flaticon-minuten_optimized .path3 {
  &:before {
    content: $flaticon-minuten_optimized-path3;
    margin-left: -1em;
    color: rgb(250, 250, 250);
  }
}
.flaticon-minuten_optimized .path4 {
  &:before {
    content: $flaticon-minuten_optimized-path4;
    margin-left: -1em;
    color: rgb(218, 218, 218);
  }
}
.flaticon-minuten-1-_optimized .path1 {
  &:before {
    content: $flaticon-minuten-1-_optimized-path1;
    color: rgb(29, 184, 189);
  }
}
.flaticon-minuten-1-_optimized .path2 {
  &:before {
    content: $flaticon-minuten-1-_optimized-path2;
    margin-left: -1em;
    color: rgb(122, 222, 225);
  }
}
.flaticon-minuten-1-_optimized .path3 {
  &:before {
    content: $flaticon-minuten-1-_optimized-path3;
    margin-left: -1em;
    color: rgb(250, 250, 250);
  }
}
.flaticon-minuten-1-_optimized .path4 {
  &:before {
    content: $flaticon-minuten-1-_optimized-path4;
    margin-left: -1em;
    color: rgb(218, 218, 218);
  }
}
.flaticon-checked_optimized .path1 {
  &:before {
    content: $flaticon-checked_optimized-path1;
    color: rgb(50, 186, 124);
  }
}
.flaticon-checked_optimized .path2 {
  &:before {
    content: $flaticon-checked_optimized-path2;
    margin-left: -1em;
    color: rgb(10, 160, 110);
  }
}
.flaticon-checked_optimized .path3 {
  &:before {
    content: $flaticon-checked_optimized-path3;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.flaticon-checked_optimized .path4 {
  &:before {
    content: $flaticon-checked_optimized-path4;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.flaticon-hour-glass-2-optimized .path1 {
  &:before {
    content: $flaticon-hour-glass-2-optimized-path1;
    color: rgb(230, 236, 255);
  }
}
.flaticon-hour-glass-2-optimized .path2 {
  &:before {
    content: $flaticon-hour-glass-2-optimized-path2;
    margin-left: -1em;
    color: rgb(183, 198, 226);
  }
}
.flaticon-hour-glass-2-optimized .path3 {
  &:before {
    content: $flaticon-hour-glass-2-optimized-path3;
    margin-left: -1em;
    color: rgb(255, 215, 100);
  }
}
.flaticon-hour-glass-2-optimized .path4 {
  &:before {
    content: $flaticon-hour-glass-2-optimized-path4;
    margin-left: -1em;
    color: rgb(255, 215, 100);
  }
}
.flaticon-hour-glass-2-optimized .path5 {
  &:before {
    content: $flaticon-hour-glass-2-optimized-path5;
    margin-left: -1em;
    color: rgb(255, 183, 81);
  }
}
.flaticon-hour-glass-2-optimized .path6 {
  &:before {
    content: $flaticon-hour-glass-2-optimized-path6;
    margin-left: -1em;
    color: rgb(255, 183, 81);
  }
}
.flaticon-hour-glass-2-optimized .path7 {
  &:before {
    content: $flaticon-hour-glass-2-optimized-path7;
    margin-left: -1em;
    color: rgb(82, 90, 97);
  }
}
.flaticon-hour-glass-2-optimized .path8 {
  &:before {
    content: $flaticon-hour-glass-2-optimized-path8;
    margin-left: -1em;
    color: rgb(82, 90, 97);
  }
}
.flaticon-hour-glass-2-optimized .path9 {
  &:before {
    content: $flaticon-hour-glass-2-optimized-path9;
    margin-left: -1em;
    color: rgb(59, 65, 69);
  }
}
.flaticon-hour-glass-2-optimized .path10 {
  &:before {
    content: $flaticon-hour-glass-2-optimized-path10;
    margin-left: -1em;
    color: rgb(59, 65, 69);
  }
}
.flaticon-finish-line-optimized .path1 {
  &:before {
    content: $flaticon-finish-line-optimized-path1;
    color: rgb(239, 86, 104);
  }
}
.flaticon-finish-line-optimized .path2 {
  &:before {
    content: $flaticon-finish-line-optimized-path2;
    margin-left: -1em;
    color: rgb(233, 56, 77);
  }
}
.flaticon-finish-line-optimized .path3 {
  &:before {
    content: $flaticon-finish-line-optimized-path3;
    margin-left: -1em;
    color: rgb(87, 85, 92);
  }
}
.flaticon-finish-line-optimized .path4 {
  &:before {
    content: $flaticon-finish-line-optimized-path4;
    margin-left: -1em;
    color: rgb(42, 42, 44);
  }
}
.flaticon-finish-line-optimized .path5 {
  &:before {
    content: $flaticon-finish-line-optimized-path5;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.flaticon-finish-line-optimized .path6 {
  &:before {
    content: $flaticon-finish-line-optimized-path6;
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}
.flaticon-finish-line-optimized .path7 {
  &:before {
    content: $flaticon-finish-line-optimized-path7;
    margin-left: -1em;
    color: rgb(255, 245, 202);
  }
}
.flaticon-finish-line-optimized .path8 {
  &:before {
    content: $flaticon-finish-line-optimized-path8;
    margin-left: -1em;
    color: rgb(255, 245, 202);
  }
}
.flaticon-finish-line-optimized .path9 {
  &:before {
    content: $flaticon-finish-line-optimized-path9;
    margin-left: -1em;
    color: rgb(255, 170, 32);
  }
}
.flaticon-finish-line-optimized .path10 {
  &:before {
    content: $flaticon-finish-line-optimized-path10;
    margin-left: -1em;
    color: rgb(230, 117, 0);
  }
}

