// Variable overrides
$accent-blue-dark: #3042aa;
$accent-blue-light: #2998d2;
$accent-blue-lighter: #94cbe8;
$neutral-blue: #4CBBF4;
$text-color-dark: #464a53;
$accent-blue-gradient: linear-gradient(45deg, $accent-blue-dark, $accent-blue-light);
$inversed-accent-blue-gradient: linear-gradient(45deg, $accent-blue-light, $accent-blue-dark);
$accent-teal-gradient: linear-gradient(90deg, #21BABF, #72E9ED);
$white: #ffffff;
$green: #00a651;
$yellow-light: #f9e866;
$yellow: #ffae00;
$red: #ed1c24;
$red-light:#f7b0b1;
$main-bg: #f3f6f9;
$yellow-gradient: linear-gradient(to top,  $yellow, $yellow-light);
$accent-teal-light: #1db8bd;
$bodyTextSize: 13px;
$formfieldsFontSize: 12px;
//buttons
$btn-border-radius: 12px;
$btn-padding-y: 1rem; $btn-padding-x: 2rem;
$btn-font-weight: bold;

//inputs
$input-height: auto;
$input-padding-y: 0.70rem; $input-padding-x: 1rem;
$input-border-radius: 0;
$input-border-width:1px;
//badges
$badge-border-radius: 15px;
$badge-font-weight: normal;
$badge-padding-y: .35em;
$badge-padding-x:  .6em;

//theme colors
$theme-colors: (
  "accent-blue-dark": $accent-blue-dark,
  "accent-blue-light": $accent-blue-light,
  "accent-blue-lighter": $accent-blue-light,
  "text-color-dark": $text-color-dark,
  "bg-gradient-blue": $accent-blue-dark,
  "neutral-blue" : $neutral-blue,
  "bg-green": $green,
  "red" : $red,
  "main-bg" : $main-bg
);
@mixin transition($value) {
    -webkit-transition: $value;
    -ms-transition: $value;
    transition: $value;
  }

//modals
$modal-content-border-radius: 0;
$modal-xl:  910px;
$modal-lg:  800px;
$modal-md:  650px;
$modal-sm:  500px;

// spaces
$spacer:  1rem;
$spacers:  ();
$spacers: map-merge(
  (
    0:  0,
    'small':  1px,
    1:  ($spacer * .25),
    2:  ($spacer * .5),
    3:  $spacer,
    4:  ($spacer * 1.5),
    5:  ($spacer * 3),
    6:  ($spacer * 5)
  ),
  $spacers
);
.c-sidebar-nav-item .badge{
  min-width: 36px;
  max-width: 30px;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
    padding-top: 4px !important;
}
.badge-bg-red-gradient,
.bg-red-gradient{
  background: linear-gradient(to right, #EA4760, #e21c34, #b01326);
}
.rounded-30{
  border-radius: 1rem;
}
