.appointment-pass-view {
  .datatable {
    font-size: 12px;
    line-height: normal;

    b {
      font-family: "Metrisch-Bold";
    }

    .pass-receiver-details {
      position: relative;
      // background-color: #c7c7c7;
      padding: 20px;
      width: 100%;

      .pass-status {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 2px 20px;
        background: linear-gradient(0deg, #7C7D7D, #6F7071);
        color: #fff;
        font-family: "VisbyCF-Bold";
        text-transform: uppercase;
        border-radius: 0 0 10px 0;
        box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.35), inset 0px 4px 10px 0 rgba(23, 93, 61, 0.35);
        border: 1px solid transparent;
      }

      &.waiting-confirmation {
        background-color: #fa5a65;

        .pass-status {
          background: #ff0006;
          color: #fff;
        }
      }

      &.future-apt {
        background-color: #f2d2b9;

        .pass-status {
          background: #e7c3a5;
          color: #fff;
        }
      }
      &.wating-activation{
        background-color: #fff;

        .pass-status {
          background: #fff;
          color: #000;
        }
      }

      &.activated {
        background-color: #bbf7e4;

        .pass-status {
          background: #32ba7c;
          color: #fff;
        }
      }

      &.waiting-activation {
        background-color: #feffff;
        border: 1px solid #000;

        .pass-status {
          background: #fdfefd;
          border-color: #000;
          color: #000;
        }
      }

      &.today-pass {
        background-color: #d0cce3;

        .pass-status {
          background: #d0cce3;
        }
      }

      &.ended {
        background-color: #c7c7c7;

        .pass-status {
          background: #7e7e7e;
        }
      }

      &.missed-apt {
        background-color: #67a0cc;

        .pass-status {
          background: #488ab9;
        }
      }

      &.canceled {
        background-color: #8a8fdf;

        .pass-status {
          background: #7278e0;
        }
      }

      &.on-other-pass {
        background-color: #67d2f4;

        .pass-status {
          background: #54c4e3;
        }
      }

      &.missed-request {
        background-color: #00a193;

        .pass-status {
          background: #007c71;
        }
      }

      &.on-other-pass {
        background-color: #66D1F3;

        .pass-status {
          background: #55C3E3;
        }
      }

      .c-avatar {
        width: 70px;
        height: 70px;

        i {
          font-size: 50px;
        }

        img {
          box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
        }
      }

      .user-info {
        line-height: normal;
      }
    }

    .comments-column {
      .comments-count {
        position: relative;
        font-size: 34px;
        height: 34px;
        cursor: pointer;

        &>b {
          position: absolute;
          left: 0;
          top: 0;
          font-size: 14px;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .comments-list {
        background-color: #E1E1E1;
        padding: 10px;
        border-radius: 1rem;
        color: #000;
      }
    }

    .recurrence-column {
      font-size: 12px;
    }
  }
}

.student-app-pass {
    .status-mark {
      min-height:110px;
      height:100%;
      width:10px;
    }
    .pass-status, .status-mark {
      &.waiting-confirmation {
        background-color: #f95765;
        color:#fff;
      }

      &.future-apt {
        background-color: #f2d2b9;
      }

      &.activated {
        background-color: #bbf7e4;
      }

      &.waiting-activation {
        background-color: #feffff;
      }

      &.today-pass {
        background-color: #d0cce3;
        color:#fff;
      }

      &.ended {
        background-color: #c7c7c7;
        color:#fff;
      }

      &.missed-apt {
        background-color: #67a0cc;
        color:#fff;
      }

      &.canceled {
        background-color: #8a8fdf;
        color:#fff;
      }

      &.on-other-pass {
        background-color: #67d2f4;
        color:#fff;
      }

      &.missed-request {
        background-color: #00a193;
      }
    }
}
