.favorite-rooms-carousel {
  position: relative;
  padding: 10px 0;

  .VueCarousel-dot-container {
    margin-top: 0 !important;
  }

  .VueCarousel-slide {
    visibility: visible;
    flex-basis: 20%;
    @media screen and (max-width:600px){
      flex-basis: inherit;
    }

  }

  button.VueCarousel-dot {
    padding: 4px !important;
    background-color: #7e7e7e !important;
    transform: scale(0.8);
    margin-top: 10px !important;
    &.VueCarousel-dot--active{
      background-color: #2e3192 !important;
    }

    &:focus {
      outline: none;
      border: none;
    }
  }
  &.smaller-size{
    .VueCarousel-slide{
      width: 100%;
      padding: 0 5px;
    }
    div[class*=location-box] {
      width: 65px;
      height: 65px;
      font-size: 12px;
      align-items: center;
      justify-content: flex-end;
      padding-top: 2px;
      .fav-icon {
        font-size: 24px;
        height: 24px;
        margin-bottom: 2px;
        color: $accent-blue-gradient;
        width: 100%;
        text-align: center;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .fav-text{
        font-size: 9px;
        line-height: normal;
        font-family: "VisbyCF-Medium";
        min-height: 26px;
      }
      &.add-fav{
        .fav-text{
          font-size: 6.5px;
          line-height: normal;
          padding-top: 1px;
        }
        .fav-icon{
          font-size: 18px;
        }
      }
      .fav-icon{
        position: relative;
        top: 5px;
      }
    }
  }
  &.extra-small-size{
    div[class*=location-box] {
      width: 45px;
      height: 45px;
      font-size: 12px;
      align-items: center;
      justify-content: flex-end;
      padding-top: 2px;
      .fav-icon {
        font-size: 24px;
        height: 24px;
        margin-bottom: 2px;
        color: $accent-blue-gradient;
        width: 100%;
        text-align: center;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .fav-text{
        font-size: 9px;
        line-height: normal;
        font-family: "VisbyCF-Medium";
        min-height: 26px;
      }
      &.add-fav{
        .fav-text{
          font-size: 6.5px;
          line-height: normal;
          padding-top: 1px;
        }
        .fav-icon{
          font-size: 18px;
        }
      }
      .fav-icon{
        position: relative;
        top: 5px;
      }
    }
  }
}

div[class*=location-box] {
  background-color: #fff;
  border: 1px solid $accent-blue-dark;
  color: $accent-blue-dark;
  border-radius: 0.75rem;
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  line-height: 12px;
  font-size: 12px;
  font-family: "VisbyCF-Medium";
  background-size: cover;

  .fav-icon {
    font-size: 36px;
    margin-bottom: 2px;
    color: $accent-blue-gradient;
    width: 100%;
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  @media screen and (max-width:600px){
    width: 100%;
    .fav-icon{font-size: 30px; margin-top: 4px};
  }

  .fav-text {
    text-transform: uppercase;
    width: 100%;
    padding: 5px;
    min-height: 30px;
    text-align: center;
    font-family: "VisbyCF-Bold";
    word-break: break-word;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    @media screen and (max-width:600px){
      font-size:8px;
    }
  }

  &[class*=-user] {
    background-color: #fff;

    .fav-text {
      background-color: #fff;
      color: $primary;
      border-radius: 1em;
    }
  }

  &[class*=-room] {
    background-color: #fff;
  }

  &.active {
    background: $accent-blue-gradient;
    background-size: cover;
    color: #fff;

    .fav-icon {
      color: #fff;
    }

    &.invalid {
      background: #fff;
      border-color: $red;

      .fav-icon {
        color: $red;
      }

      .fav-text {
        color: $red;
        background: #fff;
        border-radius: 0.90em;
      }
    }

    &[class*=-user] {
      .fav-text {
        background: $accent-blue-gradient;
        color: #fff;
      }

      &.invalid {
        background-size: cover;
        .fav-text {
          color: $red;
          border-color: $red;
          background: #fff;
        }
      }
    }

  }
}

.fav-modal-icon {
  font-size: 50px;
}

.fav-tick {
  width: 20px;
  height: 20px;
  font-size: 20px;
}
.favorites-cnt{
.fav-icon-manage-cnt {
  width:50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
  color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:30px;
  img {
    width: 40px;
    border-radius: 100%;
  }

}
}


@media screen and (max-width:600px) {
  .favorite-rooms-carousel{
    &.smaller-size{
      .VueCarousel-slide, .drag-cnt{
        width: 100%;
        padding: 0 5px;
      }
      div[class*=location-box] {
        width: 100%;
        height: 85px;
      }
    }
    .VueCarousel-slide, .drag-cnt{
      padding: 0 5px;
    }
  }
  .icon-library-selector{
    left: 0.5rem !important;
    top: 0.5rem !important;
    width: calc(100% - 1.5rem) !important;
    border-radius: 20px;
    overflow: hidden;
    .VueCarousel-slide{
      .icon-wrap{
        justify-content: center;
      }
    }
  }
  .favorite-rooms-list{
    justify-content: center !important;
    .VueCarousel-slide, .drag-cnt{
      padding: 0 5px;
    }
    & > .drag-cnt{
      min-width: auto;
      width: 120px;
      max-width: 33.3333%;
    }
  }
  .icon-library-carousel {
    // width: 250px !important;
    margin: 0 auto;
    &.extra-small-size{
      div[class*=location-box] {
        width: 40px;
        height: 40px;
        font-size: 11px;
        padding-top: 0px;
        .fav-icon {
          font-size: 22px;
          height: 22px;
          margin-bottom: 2px;
          width: 100%;
        }
        .fav-text{
          font-size: 9px;
          line-height: normal;
          font-family: "VisbyCF-Medium";
          min-height: 26px;
        }
        &.add-fav{
          .fav-text{
            font-size: 6.5px;
            line-height: normal;
            padding-top: 1px;
          }
          .fav-icon{
            font-size: 18px;
          }
        }
        .fav-icon{
          position: relative;
          top: 0px;
        }
      }
    }
  }
}