.comments-list-container{
    // &::after{
    //     content: '';
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     box-shadow: inset 3px -0.2px 7px 0 rgba(0, 0, 0, 0.35);
    //     padding: 20px;
    //     border-radius: 1rem;
    //     z-index: 0;
    //     height: 300px;
    //     left: 20px;
    //     width: calc(100% - 70px);
    //     // z-index: 0;
    // }
    .comments-list{
        border-radius: 1rem;
        box-shadow: inset 3px -0.2px 7px 0 rgba(0, 0, 0, 0.35);
        padding: 14px 20px;
        height: 300px;
        overflow: auto;
        font-size: 16px;
        b{
            font-family: "VisbyCF-Bold";
            color: $accent-blue-light;
        }
        .comment{
            & + .comment{
                margin-top: 12px;
            }
        }
    }
    .post-comment{
        .form-control{
            border-radius: 1rem;
        }
        textarea{
          color:#000 !important;
          font-weight: bold !important;
          font-size: 14px;
        }
        textarea::placeholder{
          color:#000 !important;
          font-weight: bold !important;
          font-size: 14px;
        }
    }
}
button{
  outline: none !important;
}
