@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/custom/icomoon.eot?kj6bdm');
  src:  url('/fonts/custom/icomoon.eot?kj6bdm#iefix') format('embedded-opentype'),
    url('/fonts/custom/icomoon.ttf?kj6bdm') format('truetype'),
    url('/fonts/custom/icomoon.woff?kj6bdm') format('woff'),
    url('/fonts/custom/icomoon.svg?kj6bdm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-monitor:before {
  content: "\e900";
}
.icon-smile-1:before {
  content: "\e901";
}
.icon-star:before {
  content: "\e902";
}
.icon-heart:before {
  content: "\e903";
}
.icon-pin-1:before {
  content: "\e904";
}
.icon-music:before {
  content: "\e905";
}
.icon-printer:before {
  content: "\e906";
}
.icon-joke:before {
  content: "\e907";
}
.icon-book:before {
  content: "\e908";
}
.icon-coffee-cup:before {
  content: "\e909";
}
.icon-dumbell:before {
  content: "\e90a";
}
.icon-fountain:before {
  content: "\e90b";
}
.icon-information:before {
  content: "\e90c";
}
.icon-locker:before {
  content: "\e90d";
}
.icon-mute:before {
  content: "\e90e";
}
.icon-nurse:before {
  content: "\e90f";
}
.icon-open-book:before {
  content: "\e910";
}
.icon-palette:before {
  content: "\e911";
}
.icon-pipette:before {
  content: "\e912";
}
.icon-profile-user-inactive:before {
  content: "\e913";
  color: #b4bfbf;
}
.icon-question:before {
  content: "\e914";
}
.icon-restrooms:before {
  content: "\e915";
}
.icon-tick-inactive{
  background: #b7b7b7;
  border-radius: 100%;
}
.icon-tick-inactive:before {
  content: "\e918";
  color: rgb(248, 248, 248);
}
.icon-tick-active{
  background: #34B97C;
  border-radius: 100%;
}
.icon-tick-active:before {
  content: "\e918";
  color: rgb(248, 248, 248);
}




.icon-time-limit:before {
  content: "\e91a";
}
.icon-user:before {
  content: "\e91b";
}
.icon-volume:before {
  content: "\e91c";
}
.icon-weightlifting-silhouette:before {
  content: "\e91d";
}
