.dashboard-view{
  padding: 0;
  .container-fluid{
    padding: 0;
  }
  .table-tabs-header{
      padding: 0 20px;
      .table-tab{
        position: relative;
        background-color: #fff;
        margin-right: 3px;
        font-size: 11px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        padding: 0;
        padding: 10px 14px;
        width: 100px;
        font-family: "VisbyCF-Medium";
        .counter-badge{
          position: absolute;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          top: -8px;
          right: 2px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          background-color: #E1C4AA;
        }
        .tab-icon{
          font-size: 19px;
          margin-right: 6px;
        }
        &.pass-tabs{
          font-size: 11px;
          border: 1px solid rgba(0,0,0,.2);
          box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.15);
          text-align: left;
          padding: 10px;
          b{
            font-size: 12px;
            font-family: "VisbyCF-ExtraBold";
          }
        }
        &.active{
            border-color: transparent;
            border-bottom: 3px solid #1db8bd;
            background-color: rgba(#1db8bd,0.2);
            .tab-icon{
              color: #1db8bd;
            }
        }
        &.inactive{
          border: solid 1px #b7b7b7;
          color: #b7b7b7;
          background-color: #fff;
          .counter-badge{
            background-color: #b7b7b7;
          }
        }
        &.purple{
          border: 1px solid #cfcce1;
          .counter-badge{
            background-color: #cfcce1;
          }
          &.active{
            background-color: rgba(#cfcce1, 0.4);
            border-color: transparent;
            .counter-badge{
              color: #cfcce1;
              background-color: #fff;
              border: 1px solid #cfcce1;
            }
          }
        }
        &.red{
          border: 1px solid #ed1c24;
          .counter-badge{
            background-color: #ed1c24;
          }
          &.active{
            background-color: rgba(#ed1c24, 0.4);
            border-color: transparent;
            .counter-badge{
              color: #ed1c24;
              background-color: #fff;
              border: 1px solid #ed1c24;
            }
          }
        }
        &.green{
          border: 1px solid #E1C4AA;
          .counter-badge{
            background-color: #E1C4AA;
          }
          &.active{
            background-color: rgba(#E1C4AA, 0.4);
            border-color: transparent;
            .counter-badge{
              color: #E1C4AA;
              background-color: #fff;
              border: 1px solid #E1C4AA;
            }
          }
        }
      }
      .actions{
          font-size: 11px;
          button, a{
              font-size: 11px;
          }
          .btn-inactive{

          }

          .btn-advanced-search{
            padding: 0.8rem 0.5rem;
            i{
                margin: 0;
                font-size: 12px;
                height: 12px;
            }
          }
          .search-field{
              .input-group{
                input{
                  font-size: 11px;
                }
                  .input-group-prepend{
                      border-color: #f3f6f9 !important;
                      .input-group-text{
                          background-color: #f3f6f9 !important;
                      }
                  }
                  .form-control{
                      background-color: #f3f6f9 !important;
                      border-color: #f3f6f9 !important;
                  }
              }
          }
      }
  }
  .tabs-filter-container{
        border: 1px solid #1db8bd;
        padding: 4px;
        border-radius: 1rem;
        .filter-tab{
            padding: 12px 20px;
            border-radius: 0.75rem;
            font-size: 10px;
            &.active{
                background-color: #1db8bd;
            }
        }
  }
  .status-guides-container{
    font-size: 11px;
    .status-list{
      font-size: 11px;
    }
  }
  .pages-dropdown{
    min-width: 60px;
  }
  .toggler-btn{
    font-size: 12px;
  }
}
.cs-switch{

  .c-switch-slider{
    &::before{
      background: linear-gradient(45deg, #1db8bd, #75ebef);
    }
  }
  .c-switch-input{
    &:focus{
      & ~ .c-switch-slider{
      }
    }
    & ~ .c-switch-slider{
      border-color: #1db8bd;
    }
    &:checked{
      & ~ .c-switch-slider{
        border-color: #1db8bd;
        background: linear-gradient(45deg, #1db8bd, #75ebef);
        &::before{
          background: #fff;
        }
      }
    }
  }
}
.btn-advanced-search{
  border-radius: 0;
  background: linear-gradient(45deg, #3042aa, #2998d2) !important;
  color: #fff;
  border: none;
  padding: 0.7rem 1rem;
  &:hover{
    color: #fff;
  }
}
.advanced-search-container{
  .search-btn{
    min-width: 100px;
    box-shadow: none !important;
    padding: 0.8rem 2rem;
    font-size: 12px;
  }
  .clear-btn{
    box-shadow: none !important;
    border: 1px solid #2998d2 !important;
    color: #2998d2;
    background-color: #fff;
    min-width: 100px;
    font-size: 12px;
    text-align: center;
    padding: 0.8rem 2rem;
  }
  .cs-select{
    .vs__search{
      color: #959595;
    }
    .vs__selected{
      font-size: 13px;
      word-break: break-word;
    }
    &:not(.vs--single){
      .vs__selected-options{
        .vs__selected{
        }
      }
    }
  }

  .vs__dropdown-menu{
    max-height:100px !important;
    overflow-x: hidden;
    .vs__dropdown-option{
      white-space: normal;
      &:hover, &.vs__dropdown-option--highlight{
      }
    }
  }
  .vs__dropdown-toggle{
  }
}
.passes-stats-container{
  color: $accent-blue-dark;
  padding: 8px 0;
  .stats-title{
    color: #b7b7b7;
    font-size: 12px;
  }
  .passes-stats{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    font-family: "VisbyCF-Regular";
    .stat{
      margin: 10px 0 10px 10px;
      padding: 2px 7px 2px 13px;
      border-radius: 15px;
      box-shadow: 0px 3px 10px 0 rgba(10, 1, 1, 0.25);
      border: 1px solid #3a6c9d;
      background-color: #3a6c9d;
      color: #fff;
      display: flex;
      align-items: center;
      line-height: normal;
      justify-content: space-between;
      font-family: "VisbyCF-Bold";
      min-width: 170px;
      min-height: 50px;
      font-size: 12px;
      span{
        font-family: "VisbyCF-Bold";
        padding: 10px 10px;
        border-radius: 11px;
        background-color: #fff;
        color: #3a6c9d;
        margin-left: 15px;
        min-width: 55px;
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
      }
      &.icon-appended{
        position: relative;
        overflow: hidden;
        padding-right: 40px;

        .stat-content{
          display: flex;
          align-items: center;
        }
        // .icon{
        //   display: none;
        // }
        // &:hover{
        //   padding-right: 40px;
        //   .icon{
        //     display: flex;
        //   }
        // }
      }
      .icon{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        border-left: 1px solid #3a6c9d;
        transition: all .3s;
        cursor: pointer;
        &:hover{
          box-shadow: inset 0px 4px 10px 0 rgba(0, 0, 0, 0.35);
        }
        i{
          height: 20px;
        }
      }
      .limit-count{
        background-color: #c7c7c7;
        border-radius: 6px;
        font-size: 13px;
        padding: 2px 5px;
      }
      &.limit{
        & > span{
          padding: 4px 10px;
        }
      }
      &.inverse{
        background-color: #fff;
        border-color: #3a6c9d;
        color: #3a6c9d;
        span{
          background-color: #3a6c9d;
          color: #fff;
        }
      }
    }
  }
  .open-kiosk{
    .icon{
      position: relative;
      height: 48px;
      i{
        position: relative;
        font-size: 45px;
        // height: 46px;
      }
      & > span{
        position: absolute;
        left: 0;
        font-size: 15px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -4px;
        font-family: "VisbyCF-Bold";
      }
    }
  }
}
.rooms-stats-container{
  color: #3c4b64;
  padding: 10px 0;
  .stats-title{
    color: #b7b7b7;
    font-size: 13px;
  }
  .rooms-stats{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    font-size: 12px;
    .stat{
      margin: 10px 5px;
      padding: 3px 6px 3px 14px;
      border-radius: 15px;
      box-shadow: 0px 3px 10px 0 rgba(10, 1, 1, 0.25);
      background-color: #fff;
      border: 1px solid #3c4b64;
      color: #3c4b64;
      display: flex;
      align-items: center;
      line-height: normal;
      justify-content: space-between;
      font-family: "VisbyCF-Bold";
      // min-width: 140px;
      & > span{
        font-family: "VisbyCF-Bold";
        padding: 5px 10px;
        border-radius: 11px;
        background-color: #3c4b64;
        color: #fff;
        margin-left: 15px;
        text-align: center;
        display: flex;
        align-items: center;
      }
    }
  }
}
@media only screen and (max-width: 1460px){
  .dashboard-view{
    .container-fluid{
    }
    .table-tabs-header{
        .table-tab{
          font-size: 10px;
          height: 55px;
          width: 86px;
          .counter-badge{
          }
          &.active{
          }
          &.inactive{
            .counter-badge{
            }
          }
          &.purple{
            .counter-badge{
            }
            &.active{
              .counter-badge{
              }
            }
          }
          &.red{
            .counter-badge{
            }
            &.active{
              .counter-badge{
              }
            }
          }
          &.green{
            .counter-badge{
            }
            &.active{
              .counter-badge{
              }
            }
          }
        }
        .actions{
            font-size: 10px;
            button, a{
                font-size: 10px;
            }
            .btn-inactive{

            }
            .btn-sockets{
              font-size: 11px;
            }

            .btn-advanced-search{
              padding: 0.8rem 0.4rem;
              font-size: 11px;
              i{
              }
            }
            .search-field{
                .input-group{
                  input{
                    font-size: 10px;
                  }
                    .input-group-prepend{
                        .input-group-text{
                        }
                    }
                    .form-control{
                    }
                }
            }
        }
    }
    .tabs-filter-container{
          padding: 3px 2px;
          .filter-tab{
              padding: 12px 16px;
              font-size: 10px;
              &.active{
              }
          }
    }
    .status-guides-container{
      font-size: 10px;
      .status-list{
        font-size: 10px;
      }
    }
    .pages-dropdown{
      min-width: 60px;
      .dropdown-menu, button{
        font-size: 10px;
      }
    }
  }
  .cs-switch{

    .c-switch-slider{
      &::before{
      }
    }
    .c-switch-input{
      &:focus{
        & ~ .c-switch-slider{
        }
      }
      & ~ .c-switch-slider{
      }
      &:checked{
        & ~ .c-switch-slider{
          border-color: #1db8bd;
          background: linear-gradient(45deg, #1db8bd, #75ebef);
          &::before{
            background: #fff;
          }
        }
      }
    }
  }
  .btn-advanced-search{
    border-radius: 0;
    background-color: #1db8bd;
    color: #fff;
    border: none;
    padding: 0.7rem 1rem;
    &:hover{
      color: #fff;
    }
  }
  .advanced-search-container{
    font-size: 10px;
    .search-btn{
      padding: 0.8rem 2rem;
      font-size: 10px;
    }
    .clear-btn{
      font-size: 10px;
      padding: 0.8rem 2rem;
    }
    .cs-select{
      font-size: 11px;
      .vs__search{
        color: #959595;
      }
      input{
        font-size: 11px;
      }
      .vs__selected{
        font-size: 11px;
      }
      &:not(.vs--single){
        .vs__selected-options{
          font-size: 11px;
          .vs__selected{
            font-size: 11px;
          }
        }
      }
    }

    .vs__dropdown-menu{
      font-size: 11px;
      li{
        font-size: 11px;
      }
      .vs__dropdown-option{
        &:hover, &.vs__dropdown-option--highlight{
        }
      }
    }
    .vs__dropdown-toggle{
    }
  }
  .passes-stats-container{
    .stats-title{
      font-size: 11px;
    }
    .passes-stats{
      .stat{
        font-size: 11px;
        span{
        }
        &.icon-appended{
          .stat-content{
          }
        }
        .icon{
          &:hover{
          }
          i{
          }
        }
        .limit-count{
          font-size: 11px;
        }
        &.limit{
          & > span{
          }
        }
        &.inverse{
          span{
          }
        }
      }
    }
    .open-kiosk{
      .icon{
        i{
        }
        & > span{
        }
      }
    }
  }
  .rooms-stats-container{
    .stats-title{
      font-size: 11px;
    }
    .rooms-stats{
      font-size: 11px;
      .stat{
        & > span{
        }
      }
    }
  }
}


@media only screen and (max-width: 992px){
  .dashboard-view{
    .container-fluid{
    }
    .table-tabs-header{
        .tabs-container{
          width: 100%;
        }
        .table-tab{
          width: 25%;
          .tab-icon {
          }
          &.pass-tabs{
            b{
            }
          }
          .counter-badge{
          }
          &.active{
          }
          &.inactive{
            .counter-badge{
            }
          }
          &.purple{
            .counter-badge{
            }
            &.active{
              .counter-badge{
              }
            }
          }
          &.red{
            .counter-badge{
            }
            &.active{
              .counter-badge{
              }
            }
          }
          &.green{
            .counter-badge{
            }
            &.active{
              .counter-badge{
              }
            }
          }
        }
        .actions{
          width: 100%;
          justify-content: space-between;
            button, a{
            }
            .btn-inactive{

            }
            .btn-sockets{
              i{
              }
            }
            .btn-advanced-search{
              i{
              }
            }
            .search-field{
                .input-group{
                  input{
                  }
                    .input-group-prepend{
                        .input-group-text{
                        }
                    }
                    .form-control{
                    }
                }
            }
        }
    }
    .tabs-filter-container{
          .filter-tab{
              &.active{
              }
          }
    }
    .status-guides-container{
      .status-list{
      }
      .status-guide{
        width: 100%;
      }
    }
    .pages-dropdown{
      .dropdown-menu, button{
      }
    }
  }
  .cs-switch{

    .c-switch-slider{
      &::before{
      }
    }
    .c-switch-input{
      &:focus{
        & ~ .c-switch-slider{
        }
      }
      & ~ .c-switch-slider{
      }
      &:checked{
        & ~ .c-switch-slider{
          &::before{
          }
        }
      }
    }
  }
  .btn-advanced-search{
    &:hover{
    }
  }
  .search-field{
    .input-group{
      .input-group-prepend{
        span{
        }
      }
      .form-control{
      }
    }
  }
  .advanced-search-container{
    .search-btn{
    }
    .clear-btn{
    }
    .cs-select{
      .vs__search{
      }
      input{
      }
      .vs__selected{
      }
      &:not(.vs--single){
        .vs__selected-options{
          .vs__selected{
          }
        }
      }
    }

    .vs__dropdown-menu{
      li{
      }
      .vs__dropdown-option{
        &:hover, &.vs__dropdown-option--highlight{
        }
      }
    }
    .vs__dropdown-toggle{
    }
  }
  .passes-stats-container{
    .stats-title{
      width: 100%;
      margin: 20px 0 10px 0;
    }
    .passes-stats{
      .stat{
        margin: 4px 0 10px 5px;
        padding: 12px 10px;
        min-height: 45px;
        min-width: auto;
        flex-direction: column;
        .stat-content{
          flex-direction: column;
        }
        span{
          min-height: 30px;
          margin: 10px 0 0 0px;
        }
        &.icon-appended{
          .stat-content{
          }
        }
        .icon{
          &:hover{
          }
          i{
          }
        }
        .limit-count{
        }
        &.limit{
          & > span{
          }
        }
        &.inverse{
          span{
          }
        }
      }
    }
    .open-kiosk{
      .stats-title{
        margin-top: 10px !important;
      }
      .icon{
        height: 44px;
        i{
          font-size: 40px;
        }
        & > span{
        }
      }
    }
  }
  .rooms-stats-container{
    .stats-title{
    }
    .rooms-stats{
      .stat{
        & > span{
        }
      }
    }
  }
}

@media only screen and (max-width: 575px){
  .dashboard-view{
    .container-fluid{
    }
    .table-tabs-header{
      .show-hidden-tabs {
        .actions{
          display: flex !important;
        }
        .table-tab{
          &.purple, &.red, &.green{
            display: flex !important;
          }
        }
      }
    }
    .table-tabs-header{
        .tabs-container{
          flex-wrap: wrap;
          justify-content: space-between;
        }
        .table-tab{
          font-size: 10px;
          height: 50px;
          width: auto;
          width: 33%;
          margin: 0 0 4px 0;
          .tab-icon {
            font-size: 15px;
          }
          &.pass-tabs{
            width: 49.5%;
            b{
              font-size: 10px;
            }
          }
          .counter-badge{
          }
          &.active{
          }
          &.inactive{
            .counter-badge{
            }
          }
          &.purple{
            .counter-badge{
            }
            &.active{
              .counter-badge{
              }
            }
          }
          &.red{
            .counter-badge{
            }
            &.active{
              .counter-badge{
              }
            }
          }
          &.green{
            .counter-badge{
            }
            &.active{
              .counter-badge{
              }
            }
          }
        }
        .actions{
            font-size: 10px;
            width: 100%;
            justify-content: space-between;
            button, a{
                font-size: 10px;
            }
            .btn-inactive{

            }
            .btn-sockets{
              margin-right: 10px !important;
              font-size: 10px;
              padding: 4px 8px !important;
              display: flex;
              align-items: center;
              i{
                height: auto;
                margin: 0 0 0 2px;
              }
            }
            .btn-advanced-search{
              padding: 0.8rem 0.4rem;
              i{
              }
            }
            .search-field{
                .input-group{
                  input{
                    font-size: 10px;
                  }
                    .input-group-prepend{
                        .input-group-text{
                        }
                    }
                    .form-control{
                    }
                }
            }
        }
    }
    .tabs-filter-container{
          padding: 3px 2px;
          .filter-tab{
              padding: 10px 12px;
              &.active{
              }
          }
    }
    .status-guides-container{
      .status-list{
        flex-wrap: wrap;
        line-height: normal;
      }
      .status-guide{
        flex-wrap: wrap;
      }
    }
    .pages-dropdown{
      .dropdown-menu, button{
      }
    }
  }
  .cs-switch{

    .c-switch-slider{
      &::before{
      }
    }
    .c-switch-input{
      &:focus{
        & ~ .c-switch-slider{
        }
      }
      & ~ .c-switch-slider{
      }
      &:checked{
        & ~ .c-switch-slider{
          &::before{
          }
        }
      }
    }
  }
  .btn-advanced-search{
    padding: 0.5rem 0.2rem !important;
    font-size: 10px !important;
    &:hover{
      color: #fff;
    }
  }
  .search-field{
    .input-group{
      .input-group-prepend{
        span{
          padding: 0.4em 0.4rem !important;
        }
      }
      .form-control{
        padding: 0.2em 0.5rem !important;
      }
    }
  }
  .advanced-search-container{
    font-size: 10px;
    .search-btn{
    }
    .clear-btn{
    }
    .cs-select{
      font-size: 10px !important;
      .vs__search{
        font-size: 10px !important;
      }
      input{
        font-size: 10px !important;
      }
      .vs__selected{
        font-size: 10px !important;
      }
      &:not(.vs--single){
        .vs__selected-options{
          .vs__selected{
          }
        }
      }
    }

    .vs__dropdown-menu{
      li{
      }
      .vs__dropdown-option{
        &:hover, &.vs__dropdown-option--highlight{
        }
      }
    }
    .vs__dropdown-toggle{
    }
  }
  .passes-stats-container{
    .stats-title{
    }
    .passes-stats{
      text-align: center;
      justify-content: center;
      align-items: stretch;
      & > .stats-title{
        margin-right: 0px !important;
      }
      .stat{
        font-size: 10px;
        max-width: calc(25% - 5px);
        padding: 10px 5px;
        justify-content: center;
        // min-width: 45%;
        span{
          font-size: 10px;
          padding: 2px 6px;
          min-height: 20px;
        }
        &.icon-appended{
          padding-right: 6px;
          padding-bottom: 20px;
          .stat-content{
          }
        }
        .icon{
          font-size: 15px;
          top: initial;
          width: 100%;
          left: 0;
          height: 20px;
          bottom: 0;
          border-left: none;
          border-top: 1px solid #3a6c9d;
          &:hover{
          }
          i{
            height: 16px;
          }
        }
        .limit-count{
        }
        &.limit{
          & > span{
            padding: 2px 6px;
          }
        }
        &.inverse{
          span{
          }
        }
      }
    }
    .open-kiosk{
      margin-left: 0px !important;
      .icon{
        i{
        }
        & > span{
        }
      }
    }
  }
  .rooms-stats-container{
    .stats-title{
    }
    .rooms-stats{
      .stat{
        & > span{
        }
      }
    }
  }
}
