::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #959595 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #959595 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #959595 !important;
}
html:not([dir="rtl"]) .was-validated .form-control:invalid, html:not([dir="rtl"]) .form-control.is-invalid,
html:not([dir="rtl"]) .was-validated .form-control:valid, html:not([dir="rtl"]) .form-control.is-valid{
  padding-right: $input-padding-x;
}
.max-w-400{
  width: 100%;
  max-width: 400px;
}
.max-w-500{
  width: 100%;
  max-width: 500px;
}
.max-w-550{
  width: 100%;
  max-width: 550px;
}
.form-control, input{
  font-size: $formfieldsFontSize;
  color: #000;
  font-weight: bold;
  &[type="time"]{
    padding: 0.65rem 0.5rem 0.65rem 1rem !important;
  }
}
input[type="checkbox"]{
  -moz-appearance: auto !important;
}
textarea{
  resize: none !important;
  font-size: $formfieldsFontSize;
}
.input-icon-field{
  background: #fff;
  position: relative;
  .form-group{
  & > input{
    background-color: transparent !important;
    background: transparent !important;
    width: 100%;
    z-index: 1;
  }
}
  .field-icon{
      position: absolute;
      right: 0;
      top: 2px;
      padding: $input-padding-y $input-padding-x;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $accent-blue-dark;
      font-size: 16px;
      z-index: -1;
  }
}
.cs-date-picker{
  &.disabled{
    .input-icon-field, .form-control{
      opacity: 0.7;
      cursor: default;
      filter: grayscale(70%);
      .vc-popover-content-wrapper{
        display: none;
      }
    }
  }
  .date-calendar-option, .form-control{
    color: #000;
    font-weight: bold;
  }
    .input-icon-field{
        position: relative;
        .invalid-feedback{
          position: absolute;
          z-index: 1;
          top: 100%;
        }
        .form-control{
            width: 100%;
            &.is-invalid{
              margin-bottom: 2rem;
            }
        }
        .field-icon{
            position: absolute;
            right: 0;
            top: 2px;
            padding: $input-padding-y $input-padding-x;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $accent-blue-dark;
            font-size: 16px;
            z-index: 1;
        }
    }
}
.cs-radio-group{
  .custom-radio{
    display: flex;
  }
    .custom-control-label{
      display: flex;
      align-items: center;
        &::before{
            background-color: $accent-blue-dark;
            box-shadow: none;
            border: none;
        }
        &::after{
            width: 0.60rem;
            height: 0.60rem;
            border-radius: 50%;
            top: 0.36rem !important;
            left: -1.30rem !important;
        }
    }
    .custom-control-input{
        &:focus ~ .custom-control-label::before{
                box-shadow: none !important;
        }
        &:checked ~ .custom-control-label::after{
            background-color: white;
        }
    }
    &.standart-style{
      .custom-control-label{
          &::before{
              background-color: #ebebeb;
          }
          &::after{
          }
      }
      .custom-control-input{
          &:focus ~ .custom-control-label::before{
            background-color: #ebebeb !important;
          }
          &:checked ~ .custom-control-label::after{
              background-color: #464a53;
              background-image: none;
              width: 0.60rem;
              height: 0.60rem;
              border-radius: 50%;
              top: 0.36rem !important;
              left: -1.30rem !important;
          }
      }
    }
}
.custom-checkbox{
  .custom-control{
    padding-left: 1.3rem;
  }
  .custom-control-label{
      vertical-align: middle;
      display: flex;
      align-items: center;
      &::before{
        width: 0.80rem;
        height: 0.80rem;
        left: -1.2rem !important;
      }
      &:after{
        background: none;
        width: 0.80rem;
        height: 0.80rem;
        left: -1.2rem !important;
      }
  }
  input, .custom-control-input{
      &:checked ~ .custom-control-label::after{
          background: none;
          font-family: flaticon !important;
          font-style: normal;
          font-weight: normal !important;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          content: "\f137";
          color: #fff;
          font-size: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
      }
  }

  &.waiting-approval{
      color: #B7B7B7;
      .custom-control-input:checked ~ .custom-control-label::before{
          border:1px solid #B7B7B7;
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;
      }
  }
  &.min-10{
      .custom-control-input:checked ~ .custom-control-label::before{
          background-color: #F4EA65;
          border-color: #F4EA65;
      }
  }
  &.edited{
      .custom-control-input:checked ~ .custom-control-label::before{
          background-color: #1CB8BD;
          border-color: #1CB8BD;
      }
  }
  &.gray{
    .custom-control-input:checked ~ .custom-control-label::before{
        background-color: #c7c7c7;
        border-color: #c7c7c7;
    }
  }
  &.system-ended{
      .custom-control-input:checked ~ .custom-control-label::before{
          background-color: #DF3C3B;
          border-color: #DF3C3B;
      }
  }
  &.extended-passes{
      .custom-control-input:checked ~ .custom-control-label::before{
          background-color: #672C91;
          border-color: #672C91;
      }
  }
  .custom-control-input:disabled ~ .custom-control-label::before{
    filter: grayscale(1);
    background-color: #fff !important;
    opacity: 0.5;
  }

}
.cs-switch{
  height: 20px;
  width: 48px;
  .c-switch-slider{
    &::before{
      top: 2px;
      // left: 14px;
      width: 14px;
      height: 14px;
    }
  }
  .c-switch-input{
    &:focus{
      & ~ .c-switch-slider{
        box-shadow: none !important;
      }
    }
    &:checked{
      & ~ .c-switch-slider{
        &::before{
          transform: translateX(28px);
        }
      }
    }
  }
}
.custom-checkbox .custom-control-label::before{
  border-radius: 0 !important;
}
.custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:focus ~ .custom-control-label::before{
  box-shadow: none !important;
}
// .custom-control-input:checked ~ .custom-control-label::before{
//   border-color: $accent-blue-dark;
//   background-color: $accent-blue-dark;
// }
.cs-placeholder-field{
  position: relative;
  .cs-placeholder-content{
    position: absolute;
    top: 1px;
    width: auto;
    min-width: 30px;
    left: $input-padding-x;
    height: calc(100% - 2px);
    display: flex;
    align-items: center;
    background-color: #fff;
  }
}
.cs-time-field{
  position: relative;
  z-index: 1;
  .form-control{
    position: relative;
    padding: 0 !important;
    z-index: 1;
    background-color: transparent;
    & > input{
      padding: $input-padding-y $input-padding-x;
      width: 100%;
      border: none;
      height: 100%;
      opacity: 0;
      z-index: 2;
    }
  }
  .cs-placeholder{
    position: absolute;
    padding: 0.65rem 0.5rem 0.65rem 1rem !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    font-size: $formfieldsFontSize;
    z-index: -1;
    .icon{
      height: 16px;
    }
    i{
      color: $accent-blue-dark;
      font-size: 15px;
    }
  }
}
.vs__dropdown-toggle{
    background-color: #fff !important;
    border:$input-border-width solid $accent-blue-dark !important;
    border-radius: $input-border-radius !important;
    padding: $input-padding-y $input-padding-y !important;
    &:focus-within {
      border-color: $accent-blue-light !important;
    }
    .vs__search,.vs__selected{
      font-size: 12px !important;
      margin: 0;
      font-weight: bold;
      color: #000;
      &:focus{
        margin: 0;
      }
    }
    .vs__actions {
      padding: 0;
      .vs__spinner {
        width: 18px;
        height: 18px;
      }
    }
  }
  .was-validated .form-control:invalid, .form-control.is-invalid,
  .was-validated .form-control:valid, .form-control.is-valid{
    background-image: none !important;
    &:focus{
      box-shadow: none;
    }
  }
  .is-invalid{
    .input-group{
      .input-group-prepend{
        border-color: #e55353 !important;
        border-right-color: transparent !important;
        margin-right: -2px;
      }

    }
  }
  .input-group, .form-group{ // for all form fields + .form-group
    input{
      background-color: white !important;
    }
    select{
      appearance: none;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' role='img' fill='%23abafb3' aria-hidden='true' class='v-icon__svg'%3E%3Cpath d='M7,10L12,15L17,10H7Z'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: calc(100% - 5px) center;
      background-size: 30px;

      &.form-control{
        padding: 0.85rem 1rem;
      }
    }
    .form-group{
      &.is-invalid{
        & > input, select{
          border-color: #e55353 !important;
        }
      }
    }
    .form-control:not(.is-invalid), .vs__dropdown-toggle{
      border:$input-border-width solid $accent-blue-dark !important;
      &.border-red{
        border-color: #e55353 !important;
      }
      &:focus-within {
        box-shadow: none !important;
        outline: none !important;
        border-color: $accent-blue-light !important;
      }
    }
    .form-control{
      &.border-left-0{
        border-left: 0 !important;
      }
    }
    .input-group-append, .input-group-prepend{
      border: $input-border-width solid $accent-blue-dark !important;
      z-index: 9;
      border-right: none !important;
      &.bordered{
        border-left-color: $accent-blue-dark !important;
      }
    }
    .is-invalid{
      .input-group-append, .input-group-prepend{
        border-color: #e55353 !important;
        border-left-color: #e55353 !important;
      }
    }
    .input-group-prepend{
      border-left: $input-border-width solid $accent-blue-dark !important;
      border-right-color: white !important;
    }
    .input-group-text{
      background-color: $white !important;
      border-color: transparent !important;
      .c-icon{
        cursor: pointer;
      }
    }
  }
.optional-date-ranges-container{
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 99;
  right: 0;
  width: auto;
  background-color: #fff;
  border: 1px solid $accent-blue-dark;
  border-top: none;
  .option-range{
    // background-color: #2998D2;
    // color: #Fff;
    width: auto;
    cursor: pointer;
    &:hover, &.active{
      background: $inversed-accent-blue-gradient;
      color: #fff;
    }
  }
}
.cs-dropdown-select{
    position: relative;
    font-size: 11px;
    min-width: 80px;
    font-size: $formfieldsFontSize;
    & > button{
        width: 100%;
        border: 1px solid $accent-blue-dark !important;
        border-radius: 0px;
        line-height: normal;
        transition: all 0s !important;
        box-shadow: none !important;
        font-size: 12px;
        padding: 5px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        &:after{
            content: "\f19d";
            display: inline-block;
            font-family: "Flaticon";
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            line-height: normal;
            text-decoration: inherit;
            text-rendering: optimizeLegibility;
            text-transform: none;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
            border: none !important;
            vertical-align: middle;
            position: relative;
            color: $accent-blue-dark;
            font-size: 16px;
            top: 1px;
        }
        &:focus {
          border-color: $accent-blue-light !important;
        }
    }
    .dropdown-menu{
        box-shadow: none !important;
        border: 1px solid $accent-blue-dark !important;
        border-radius: 0px;
        max-width: 100%;
        width: 100%;
        min-width: auto;
        font-size: 11px;
        padding-bottom: 0px;
        padding-top: 0px;
        &[data-popper-placement="top-start"]{
          border-bottom: none !important;
          margin-bottom: -2px !important;
      }
      &[data-popper-placement="bottom-start"]{
          margin-top: -1px !important;
          border-top: none !important;
      }

        .dropdown-item{
            white-space: pre-wrap;
            padding: 0.4rem 0.5rem !important;
            position: relative;
            &.active{
              background-color: #e1e1e1;
              color: #000;
              // &::after{
              //   content: 'x';
              //   position: absolute;
              //   right: 5px;
              //   top: 5px;
              //   color: #000;
              //   z-index: 9;
              // }
            }
            &.disabled{
                background-color: #E2E2E2;
            }
            &:hover{
                background: linear-gradient(-45deg, #3048ad, #2993d0) !important;
                color: #fff;
            }
        }
    }
}
.is-invalid{
  .vs__dropdown-toggle{
      border-color: #e55353 !important;
  }
  .invalid-feedback{
      display: block;
  }
}
.cs-select{
  &.vs--open{
    .invalid-feedback{
      display: none !important;
    }
  }
  .vs__search{
    background-color: transparent !important;
    font-size: $formfieldsFontSize;
  }
  .vs__selected{
    font-size: 12px;
    line-height: normal;
    padding: 0;
  }
  &:not(.vs--single){
    .vs__selected-options{
      max-width: 100%;
      word-break: break-word;
      .vs__selected{
        flex-direction: row-reverse;
        background: linear-gradient(-45deg, #3048ad, #2993d0) !important;
        color: #fff !important;
        border-radius: 10px;
        padding: 5px 15px 5px 10px;
        border: none;
        font-family: "Metrisch-Medium", sans-serif !important;
        margin: 2px 5px 0 2px;
        .vs__deselect{
          margin-right: 10px;
          svg{
            transform: scale(0.8);
            fill: #fff;
          }
        }
      }
      .vs__search{
        // display: none;
      }
    }
  }
  .vs__open-indicator{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #6a707e;
  }
    &.is-invalid{
        .vs__dropdown-toggle{
            border-color: #e55353 !important;
        }
        .invalid-feedback{
            display: block;
        }
    }
    &.vs--open{
      .vs__selected-options{
        .vs__search{
          // display: block;
        }
      }
    }
  &.auto-dropdown-height{
    .vs__dropdown-menu{
      max-height: initial !important;
    }
  }
}
.vs__dropdown-menu{
  border: 1px solid $accent-blue-dark !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  z-index: 1060 !important;
  max-height: 150px !important;
  font-size: $formfieldsFontSize;
  overflow-x: hidden;

  .vs__dropdown-option{
    padding: 10px 20px;
    background-color: #fff !important;
    font-size: $formfieldsFontSize;
    white-space: normal;

    &:hover, &.vs__dropdown-option--highlight{
      background: linear-gradient(-45deg, #3048ad, #2993d0) !important;
      color: #fff;
    }
    &.vs__dropdown-option--selected{
      background-color: #ebebeb !important;
    }
    &.vs__dropdown-option--disabled{
      background-color: #ebebeb !important;
    }
  }
}
.download-btn{
  display: inline-block;
  border-radius: $btn-border-radius;
  background-color: #ececed;
  color: #464a53 !important;
  padding: 5px 15px;
  font-size: 13px;
  cursor: pointer;
}
.cs-file-input{
  position: relative;
  overflow: hidden;
  .upload-btn{
    display: inline-block;
    border-radius: $btn-border-radius;
    background-color: $accent-blue-dark;
    color: #fff;
    padding: 5px 15px;
    font-size: 13px;
    cursor: pointer;
  }
  .form-control{
    &[type="file"]{
      position: absolute;
      left: -100px;
      top: 0;
      background-color: transparent !important;
      border: none !important;
      opacity: 0;
      cursor: pointer;
      z-index: 1;
      width: 225px;
    }
  }
}
.btn-kiosk {
  font-weight: bold;
  color: #FFFFFF;
  border:0;
  border-radius: $btn-border-radius;
  background: $accent-teal-light;
}
.btn-kiosk-launch {
  font-weight: bold;
  color:#FFFFFF;
  border:0;
  border-radius: $btn-border-radius;
  background: #259AD3;
}

.update-limit-location-maxcap{
  .input-group .form-control:not(.is-invalid), .input-group .vs__dropdown-toggle, .form-group .form-control:not(.is-invalid), .form-group .vs__dropdown-toggle{
    border-color: #3c4c64 !important;
  }
  .btn{
    background: #3c4c64 !important;
  }
}

.vs__spinner, .vs__spinner:after {
  top: 9px;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  position: absolute;
}

.custom-time-picker{
  .form-control, .inner-label{
    color: #000;
    font-weight: bold;
  }

  &.with-label{
    .form-group{
      display: flex;
      align-items: center;
      line-height: normal;
      flex-direction: row;
      border: 1px solid #3042aa !important;
      padding: $input-padding-y $input-padding-x;;
      line-height: 1.5;
      &:focus-within {
        border-color: $accent-blue-light !important;
      }
      input{
        border: none !important;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
      }
    }
    .inner-label{
      display: block;
      font-size: 12px;
      min-width: 50px;
    }
    &.is-invalid {
      .form-group {
        border-color: #e55353 !important;
      }
      .invalid-feedback {
        display: block;
        z-index: 1;
      }
    }
  }
}
.student-pass{
  // .lazy-load-select{
    .cs-select{
      .vs__selected, input{
        font-weight: bold;
        font-size: 13px !important;
        color: #000;
      }
    // }
  }
    input, .form-control{
      font-weight: bold;
      color: #000;
    }
}
.custom-checkbox .custom-control-input:disabled ~ .custom-control-label::before{
  opacity: 1;
  filter: none !important;
}
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before{
  background-color: rgba(50, 31, 219, 0.5) !important;
}
@media screen and(max-width: 500px) {
  .download-btn{
    padding: 5px 10px;
    font-size: 10px;
  }
  .cs-file-input{
    .upload-btn{
      padding: 5px 10px;
      font-size: 10px;
    }
    .form-control{
      &[type="file"]{
      }
    }
  }
}