
  .the-header{
    color: $text-color-dark;
    z-index: 1000 !important;
    &.c-header-fixed{

    }
    .sound-icon{
      font-size: 21px;
      cursor: pointer;
      color: #aaaaaa;
      display: flex;
      align-items: center;
      i{
        height: 22px;
      }
    }
      .c-breadcrumb-container{
        border-top:1px solid #dcdcdc;
        width: 100%;
        .breadcrumb-item{
          a{
            color: $accent-blue-light;
          }
          & + .breadcrumb-item::before{
            color: $accent-blue-light;
            content: '-' !important;
          }
        }
      }
    .header-school-dropdown{
      position: relative;
      font-size: 13px;
      line-height: normal;
      width: 200px;
      font-family: "VisbyCF-ExtraBold", "VisbyCF-Bold";
      color: #6a707e !important;
      // .c-header-nav-link{
      //   cursor: default;
      // }
      &:not(.student-school){
        &::before {
          content: '';
          position: absolute;
          top: calc(50% - 2.5px);
          right: -4px;
          border-top: 5px solid #6a707e;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          @include transition(all .2s);
        }
      }
      a{
        color: #6a707e !important;
      }
      .dropdown-menu{
        min-width: auto;
        width: 200px;
      }
      .c-avatar{
        width: 43px;
        height: 43px;
        img{
          overflow: hidden;
          width: 43px;
          height: 43px;
        }
      }
      .active-school{
        img{
          border: 2px solid $accent-blue-dark;
        }
      }
      .dropdown-item{
          min-width: auto;
          width: 200px;
          border: 1px solid $accent-blue-lighter;
          & + .dropdown-item{
              border-top: none;
          }
          &:hover{
              background-color: #deecf5;
          }
      }
      .school-container{
        min-width: auto;
        width: 200px;
        font-size: 12px;
        white-space: break-spaces;
        .school-avatar{
          // width: 40px;
        }
        .school-name{
          flex-grow: 1;
          word-wrap: break-word;
        }
      }
    }
    .header-account-dropdown{
      & > a{
        text-decoration: none;
        color: rgba($text-color-dark, 0.8);
        &:hover{
          text-decoration: none;
        }
      }
      .c-avatar{
        position: relative;
        width: 45px;
        height: 45px;
        overflow: hidden;
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: top;
        }
        .settings-link{
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background-color: rgba($accent-blue-dark,.7);
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 25px;
          opacity: 0;
          @include transition(all .2s);
          i{
            height: 25px;
            line-height: normal;
          }
        }
      }
      .user-info{
        line-height: normal;
        font-size: 11px;
        b{
          color: #6a707e;
        }
      }

      &:hover{
        .settings-link{
          opacity: 1;
        }
      }
    }
    .create-popup-container{
      & > .btn{
        display: flex;
        align-items: center;
        border-radius: 15px;
        padding: 0.85rem 1.75rem 0.85rem 1.50rem;
        & > i{
          width: auto !important;
          height: 18px !important;
          margin: 0;
          font-size: 18px;
        }
      }
      .create-box{
        min-height: 160px;
        width: 150px;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        line-height: normal;
        padding:14px 8px;
        color: #fff;
        margin-right: 20px;
        margin-top: 20px;
        a{
          color: #fff;
          &:hover{
            color: #fff;
          }
        }
        i{
          height: 70px;
          font-size: 70px;
        }
        b{
          font-size: 13px;
          color: #fff;
          font-family: "VisbyCF-Bold";
        }
        sup{
          font-size: 8px;
          margin-left: 1px;
        }
        &.pass-history{
          background: linear-gradient(70deg, #2E9CD6, #53C0F8);
          .icon{
            transform: rotate(90deg);
          }
        }
      }
      .create-limits-container,.quick-links-container{
        .create-box{
          min-height: 80px;
          background: linear-gradient(70deg, #21BABF, #72E9ED);
          width: 100px;
          padding: 12px 8px;
          b{
            font-size: 12px;
          }
          img{
            max-height: 35px;
          }
        }
      }
      .quick-links-container{
        position: relative;
        .create-box{
          background: linear-gradient(90deg, #2998d2, #53bff8);
        }
      }
    }
    .notification-icon{
      position: relative;
      color: #aaaaaa;
      cursor: pointer;
      .notification-badge{
        position: absolute;
        font-family: "VisbyCF-Bold";
        top: -6px;
        right: -6px;
        height: 18px;
        width: 18px;
        font-size: 12px;
        color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid #fff;
      }
      i{
        font-size: 22px;
        height: 22px;
      }
    }
    .user-notifications-dropdown{
      border-radius: 1rem;
      width: 280px;
      .action-btn{
        background-color: #b7b7b7;
        width: 100%;
        text-transform: uppercase;
      }
      .user-notifications-list{
        width: 100%;
        background-color: #fff;
        border-radius: 5px;
        max-height: 300px;
        overflow-x: hidden;
        overflow-y: auto;
        .dropdown-item{
          width: 100%;
          background-color: #9ECBE2;
          color: $black;
          font-weight: normal;
          border-radius: 10px;
          white-space: pre-wrap;
          font-size: 13px;
          position: relative;
          padding-top: 25px;
          overflow: hidden;
          .notification-text-holder{
            position: absolute;
            top:0px;
            left:0px;
            height: 20px;
            width:auto;
            padding:5px 10px;
            border-radius:0 5px 5px 0;
            box-shadow: 0 0 2px #000;
            font-weight: bolder;
            font-size:10px !important;
            line-height:  1 !important;
          }
          & + .dropdown-item{
            margin-top: 15px;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .the-header{
      .c-breadcrumb-container{
          border-top:none;
          width: auto;
      }
      .header-account-dropdown{
        .user-info{
          line-height: normal;
          font-size: 12px;
        }
      }
    }
  }
  @media only screen and (max-width: 992px){
    .the-header{
      &.c-header-fixed{
        position: fixed !important;
        right: 0;
        left: 0;
        z-index: 1029 !important;
      }
      .sound-icon{
        font-size: 18px;
        i{
          height: 20px;
        }
      }
        .c-breadcrumb-container{
          .breadcrumb-item{
            a{
            }
            & + .breadcrumb-item::before{

            }
          }
        }
      .header-school-dropdown{
        font-size: 12px;
        a{
        }
        .dropdown-menu{
        }
        .c-avatar{
          width: 40px;
          height: 40px;
          img{
            width: 40px;
            height: 40px;
          }
        }
        .active-school{
          img{
            border-width: 1px;
          }
        }
        .dropdown-item{
            & + .dropdown-item{
            }
            &:hover{
            }
        }
        .school-container{
          font-size: 11px;
          .school-avatar{
          }
          .school-name{
          }
        }
      }
      .header-account-dropdown{
        & > a{
          &:hover{
          }
        }
        .c-avatar{
          width: 40px;
          height: 40px;
          img{
          }
          .settings-link{
            font-size: 22px;
            i{
              height: 22px;
            }
          }
        }
        .user-info{
          b{
          }
        }

        &:hover{
          .settings-link{
          }
        }
      }
      .create-popup-container{
        & > .btn{
          display: flex;
          align-items: center;
          border-radius: 15px;
          padding: 0.70rem 1.55rem 0.70rem 1.25rem;
          & > i{
            height: 16px !important;
            font-size: 16px;
          }
        }
        .create-box{
          min-height: 100px;
          width: calc(20% - 10px);
          margin-right: 12px;
          a{
            &:hover{
            }
          }
          i{
            height: 35px;
            font-size: 35px;
          }
          b{
            font-size: 10px;
            line-height: normal;
          }
          sup{
            font-size: 6px;
            margin-left: 1px;
          }
          &.pass-history{
            .icon{
            }
          }
        }
        .create-limits-container,.quick-links-container{
          .create-box{
            min-height: 60px;
            width: calc(16% - 8px);
            padding: 12px 8px;
            margin-right: 10px;
            & > div{
              margin-bottom: 5px !important;
            }
            a{
              & > div{
                margin-bottom: 5px !important;
              }
            }
            b{
              font-size: 10px;
              line-height: normal;
            }
            img{
              max-height: 22px;
            }
          }
        }
        .quick-links-container{
          .create-box{
          }
        }
      }
      .notification-icon{
        .notification-badge{
        }
        i{
          font-size: 19px;
          height: 19px;
        }
      }
      .user-notifications-dropdown{
        .action-btn{
        }
        .user-notifications-list{
          .dropdown-item{
            .notification-text-holder{
            }
            & + .dropdown-item{
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 552px){
    .the-header{
      .c-header-toggler{
        min-width: 30px;
        padding: 0px !important;
      }
      &.c-header-fixed{
      }
      .sound-icon{
        font-size: 16px;
        i{
          height: 18px;
        }
      }
        .c-breadcrumb-container{
          .breadcrumb-item{
            a{
            }
            & + .breadcrumb-item::before{

            }
          }
        }
      .header-school-dropdown{
        font-size: 10px;
        width: auto;
        padding: 0;
        a{
        }
        .dropdown-menu{
        }
        .c-avatar{
          width: 36px;
          height: 36px;
          img{
            width: 36px;
            height: 36px;
          }
        }
        .active-school{
          img{
          }
        }
        .dropdown-item{
            & + .dropdown-item{
            }
            &:hover{
            }
        }
        .school-container{
          font-size: 10px;
          .school-avatar{
          }
          .school-name{
          }
        }
      }
      .header-account-dropdown{
        & > a{
          &:hover{
          }
        }
        .c-avatar{
          width: 36px;
          height: 36px;
          img{
          }
          .settings-link{
            font-size: 18px;
            i{
              height: 18px;
            }
          }
        }
        .user-info{
          b{
          }
        }

        &:hover{
          .settings-link{
          }
        }
      }
      .create-popup-container{
        & > .btn{
          font-size: 11px;
          padding: 0.50rem 0.75rem 0.50rem 0.55rem;
          & > i{
            height: 12px !important;
            font-size: 12px;
          }
        }
        .create-box{
          min-height: 80px;
          width: calc(33% - 10px);
          max-width: 90px;
          margin-right: 10px;
          margin-top: 10px;
          padding: 10px 8px !important;
          a{
            &:hover{
            }
          }
          i{
            height: 30px;
            font-size: 30px;
          }
          b{
            font-size: 9px;
          }
          sup{
            font-size: 5px;
          }
          &.pass-history{
            .icon{
            }
          }
        }
        .create-limits-container,.quick-links-container{
          .create-box{
            min-height: 60px;
            width: calc(33% - 10px);
            padding: 12px 8px;
            & > div{
              margin-bottom: 5px !important;
            }
            b{
              font-size: 10px;
              line-height: normal;
            }
            img{
              max-height: 22px;
            }
          }
        }
        .quick-links-container{
          .create-box{
          }
        }
      }
      .notification-icon{
        .notification-badge{
        }
        i{
          font-size: 19px;
          height: 19px;
        }
      }
      .user-notifications-dropdown{
        .action-btn{
        }
        .user-notifications-list{
          .dropdown-item{
            .notification-text-holder{
            }
            & + .dropdown-item{
            }
          }
        }
      }
    }
  }
