.help-center-button{
    display: inline-block;
    cursor: pointer;
    height: 24px;
    i[class^="flaticon-"]{
        color: #aaaaaa;
        font-size: 24px;
    }
    &.top-right{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    &.bottom-right{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
    }
}
.help-center-content{
    height: 100%;
    h2{
        font-size: 24px;
        margin-bottom: 14px;
    }
    .ps-container{
        height: 100%;
    }
    ol,ul{
        padding-left: 15px;
    }
    p{
        margin-bottom: 10px;
    }
}
@media screen and (max-width:992px) {
    .help-center-button{
        display: inline-block;
        cursor: pointer;
        height: 20px;
        svg{
            width: 16px !important;
            height: 16px !important;
        }
        i[class^="flaticon-"]{
            color: #aaaaaa;
            font-size: 16px;
        }
        &.top-right{
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
        }
        &.bottom-right{
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
        }
    }
    .help-center-content{
        height: 100%;
        h2{
            font-size: 20px;
            margin-bottom: 14px;
        }
        .ps-container{
            height: 100%;
        }
        ol,ul{
            padding-left: 15px;
        }
        p{
            margin-bottom: 10px;
        }
    }
}