.kiosk-view{
    min-height: 100vh;
    .kiosk-login-methods{
        .kiosk-login-btn{
            width: 80px;
            height: 80px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
            span{
                font-size: 35px;
            }
        }
    }
    .kiosk-active-pass-content{
        min-height: 300px;
    }
    .kiosk-start-btn{
        .fi{
            font-size: 15px;
        }
    }
    .active-pass-history-badge{
        position: absolute;
        top: -30px;
        left: -30px;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to right, #e21c34, #500b28);
        font-size: 20px;;
        font-family: 'VisbyCF-Bold';
        cursor: pointer;
     }
}


@media screen and (max-width: 992px) {
    .kiosks-view{
        background-color: #fff;
    }
}