.loader-container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, .7);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container-absolute {
    position: absolute;
}