.modal{
    z-index: 9999999 !important;
    .modal-content{
        border-radius: 30px;
    }
    .modal-backdrop{
         z-index: 999999 !important;
    }
    .create-modals{
        // margin-top: -40px;
    }
}
.modal-backdrop{
  z-index: 999999 !important;
}
.create-popup-container{
    .create-popup-header{
        z-index: 9;
    }
}
.no-padding-modal{
    .modal-body{
        padding: 0;
    }
}
.no-border-radius-modal{
    border-radius: 0 !important;
}
.left-top-header{
    .create-popup-header, .popup-header{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }
}
@include media-breakpoint-up(lg) {
}
