.cs-pagination{
  padding-bottom: 10px;
    .page-item{
        .page-link{
            background-color: transparent !important;
            margin: 0 2px;
            &:focus, &:active{
                outline: none;
                box-shadow: none;
            }
        }
        &:first-child, &:last-child{
            .page-link{
                font-size: 25px;
                font-weight: normal;
            }
        }
            .page-link{
                padding: 0;
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50% !important;
                line-height: normal;
                color: #809fb8;
                border: none;
                font-weight: bold;
                font-size: 16px;
                i{
                    font-size: 16px;
                    height: 16px;
                }
            }
        &.active{
            .page-link{
                background-color: #d9e1e7 !important;
                border: 2px solid #d9e1e7;
            }
        }
        &.disabled{
          opacity: 0.2;
        }
    }
}
