.pass-tab-cnt {
  border: 1px solid $accent-blue-dark;
  border-radius: 1rem;
}

.now-pass-btn {
  color: $accent-blue-dark;
  background-color: transparent;
  border: none;
  border-radius: 1rem;

  &.focus:not(.active) {
    background-color: #959595;
    color: #fff;
    border: none;
    @extend .shadow-sm;
  }

  &.focus.active {
    color: #fff;
    @extend .shadow-sm;
    background-image: $accent-blue-gradient;
  }
}


.appointment-pass-btn {
  border-radius: 1rem;
  border: none;
  background: transparent;
  color: $accent-blue-dark;

  &.focus:not(.active) {
    background-color: #959595;
    color: #fff;
    border: none;
    @extend .shadow-sm;
  }

  &.focus.active {
    color: #fff;
    @extend .shadow-sm;
    background-image: $yellow-gradient;
  }
}

.active-pass {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  .active-pass-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'VisbyCF-Bold';
    padding: 40px 30px;
    flex-wrap: wrap;

    img {
      margin-right: 20px;
    }
  }

  .from-cnt,
  .to-cnt {
    .ft-data {
      padding: 5px 10px;
      border-radius: 20px;
      border: solid 2px #ffffff;
      font-family: 'VisbyCF-Bold';
      display: flex;
      align-items: center;
      text-align: center;
      margin: 0 5px;
      line-height: normal;
    }
    .approved-at{

    }
    .approved-by{
      font-size: 12px;
      line-height: 12px;
      padding:3px 5px;
      border-radius: 20px;
      display:inline-block;

    }
    span {
      padding: 0 10px;
    }
  }


  .status-block {
    padding: 5px 10px;
    font-family: 'VisbyCF-Bold';
    font-size: 1em;
    border: 2px solid #515a61;
    border-radius: 10px;
    text-transform: uppercase;

    &.waiting {
      border-color: #515a61;
      color: #515a61;
      background-color: #fdd260;
    }
    &.approved {
      border-color: transparent;
      color: #32ba7c;
      background-color: #fff;

    }
    &.expired{
      border-color: transparent;
      color: $red;
      background-color: #fff;
    }
  }
  .active-pass-history-badge{
     position: absolute;
     top: -10px;
     left: -10px;
     width: 50px;
     height: 50px;
     border-radius: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-image: linear-gradient(to right, #e21c34, #500b28);
     font-size: 20px;;
     font-family: 'VisbyCF-Bold';
  }
  .active-pass-comments-cnt{
    color:#000;
    width: 100%;
    padding:20px 0;
    height:150px;
    overflow-y:auto;
    overflow-x: hidden;

    &>div,.active-pass-comments{
      width: 100%;
      padding: 0 20px
    }
  }
  &.waiting{
    @extend .bg-red-gradient;

  }
  &.approved{
    background-color: #32ba7c;
  }
  &.expired{
    background-color: #707070;
  }
}

.text-green{
  color: #32ba7c;
}
.bg-green{
  background-color: #32ba7c;
}
.text-red{
  color: $red;
}
