.pass-history-view{
    .filter-actions{
        .btn{
            padding: 14px 20px;
            line-height: normal;
            font-size: 12px;
            max-height: 46px;
            min-width: 120px;
            border-radius: 8px;
        }
    }
    .datatable{
        font-size: 12px;
        line-height: normal;
        b{
            font-family: "VisbyCF-Bold";
        }
        .user-details{
            padding: 20px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .ended-label{
                position: absolute;
                top: 0px;
                right: 0px;
                padding: 4px 20px 4px 20px;
                background: linear-gradient(0deg, #8d8d8d, #6f7071);
                color: #fff;
                font-family: "VisbyCF-Bold";
                text-transform: uppercase;
                border-radius: 0 0 0 10px;
            }
            .edit{
                .edit-btn{
                    cursor: pointer;
                    font-size: 13px;
                    height: 13px;
                }
                .status-flag{
                    height: 22px;
                    font-size:22px; 
                }
                .is-edited{
                    background-color: #fff;
                    border: 1px solid #000;
                    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
                    text-transform: uppercase;
                    font-size: 10px;
                    border-radius: 0.25rem;
                    padding: 1px 4px;
                    i{
                        font-size: 11px;
                    }
                }
            }
            .c-avatar{
                width: 60px;
                height: 60px;
                img{
                    box-shadow: 0px 0px 5px rgba(0,0,0,.2);
                }
            }
            .user-info{
                line-height: normal;
                min-width: 100px;
                max-width: 100%;
                .passes-stat{
                    line-height: normal;
                    font-size: 10px;
                    font-family: "VisbyCF-Regular";
                    .passes-count-badge{
                        padding: 2px;
                        color: #fff;
                        line-height: normal;
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
        .pass-time-info{
            line-height: normal;
            padding: 20px;
            font-family: "VisbyCF-Medium";
            b{
                font-family: "VisbyCF-Bold";
            }
            .processed-by{
                background-color: #898989;
                color: #fff;
                padding: 1px 8px;
                min-width: 70px;
                border-radius: 1rem;
                font-size: 10px;
                line-height: normal;
                display: inline-block;
                text-align: center;
                &.not-same{
                    background-color: #ED1B23;
                }
            }
        }
    }
    .table-tabs-header{
        .table-tab{
            color: #464a53 !important;
            font-weight: normal;
        }
    }
}