.pass-time-row{
    width: 100%;
    .edit-btn{
        font-size: 16px;
        color: #3042aa;
        cursor: pointer;
    }
    .time-picker-container{
        z-index: -1;
        .custom-time-picker{
            z-index: -1;
            max-width: 180px;
        }
        &.editable{
            flex:1;
            z-index: 1;
            .custom-time-picker{
                z-index: 1;
                max-width: 220px;
                width: 100%;
            }
            .pass-times-input-icon{
                z-index: 2;
            }
        }
    }
}
.pass-times-label {
    font-size: 14px;
    font-weight: bold;
    color: #6a707e;
    width:130px;
    font-family: "VisbyCF-Bold";
  }
  .pass-times-picker {
    padding-left: 30px !important;
    width:200px;
    position:relative;
    outline:none;
    border-radius: 0 20px 20px 0;
    border: solid 1px #3042aa;
    background-color: #fff;
    .input-icon-field{
      border: none !important;
      background-color: transparent;
      .input-group, .form-group{
          margin: 0 !important;
        .form-control, input{
          border: none !important;
          border-color: transparent !important;
          width: 100%;
          background: transparent !important;
          background-color: transparent !important;
          font-size: 18px;
          color: #3042aa;
          padding: 0.35rem 1rem;
          &[readonly="readonly"]{
            // filter: grayscale(100%);
            // opacity: 0.6;
            
          }
        }
      }
    }
    &.custom-time-picker{
        .bootstrap-datetimepicker-widget.dropdown-menu{
            width: 19em !important;
            z-index: 9;
        }
    }
  }
  .pass-times-input-icon {
    position: relative;
    right: -20px;
    z-index: 1;
    background:#fff;
    width:51px;
    height:51px;
    box-shadow: 0px 3px 10px 0 rgba(5, 0, 0, 0.6);
    color: #3042aa;
    i {
      font-size: 22px;
    }
  }

  @media screen and (max-width: 576px){
    .pass-times-label {
      font-size: 11px;
      width:90px;
    }
    .pass-times-input-icon {
      width:40px;
      height:40px;
      i {
        font-size: 20px;
      }
    }
    .pass-times-picker {
      padding-left: 20px !important;
      .input-icon-field{
        .input-group, .form-group{
          .form-control, input{
            font-size: 16px;
            padding: 0.25rem 0.75rem;
          }
        }
      }
      &.custom-time-picker{
          .bootstrap-datetimepicker-widget.dropdown-menu{
              width: 19em !important;
              z-index: 9;
          }
      }
    }
  }
