.polarity-page{
 .polarity-alert{
    background-color: rgba(#2998d2, 0.3);
    border-radius: 20px;
    padding: 14px 20px;
    color: #000;
    max-width: 90%;
    margin: 0 auto;
 }
 .polarity-form-container{
    background-color: #fff;
    color: #6a707e;
    box-shadow: 0px 9px 14px 0 rgba(17, 18, 24, 0.23);
    border-radius: 20px;
    // min-height: 500px;
    max-width: 400px;
    margin: 0 auto;
    .iconed-title{
        .icon{
            background: $accent-blue-gradient;
            font-size: 16px;
            height: 32px;
            width: 32px;
            color: #fff;
            padding: 10px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
 }
 .limit-status{
    &.inactive{
        background-color: rgba(#99b2c6, .3);
        color: #809fb8;
    }
 }
}

@media screen and (max-width: 576px){
    .polarity-page{
        .polarity-alert{
           padding: 12px;
           max-width: 100%;
        }
        .polarity-form-container{
           h2{
               font-size: 18px;
           }
           .iconed-title{
               .icon{
                   font-size: 10px;
                   height: 20px;
                   width: 20px;
               }
           }
        }
        .limit-status{
           &.inactive{
               background-color: rgba(#99b2c6, .3);
               color: #809fb8;
           }
        }
       }
}