.rounded-panel {
  border-radius: 20px;
  box-shadow: 0px 9px 14px 0 rgba(17, 18, 24, 0.23);
  background-color: #ffffff;
}
.rounded-panel-title {
  color: #6a707e;
  letter-spacing: 0.6px;
}
.text-green {
  color: #1ad598;
}
.bg-green {
  background-color: #82ca9c;
}
.bg-light-green {
  background-color: #1ad598;
}
.bg-blue {
  background-color: #2998d2;
}
.bg-yellow {
  background-color: #ffae00;
}
.bg-red {
  background-color: #f26d7d;
}
.bg-gray {
  background-color: #a1a1a1;
}
.bg-light-blue {
  background-color: #2998d2;
}
.is-favorite {
  color: #2998d2;
}
.errors-col {
  flex-direction: column;
}
.w-full {
  width: 100%;
}
.rooms-import-link {
  display: block;
  &.with-app-pass {
    display: none;
  }
}
.module-appointmentpass {
  .rooms-import-link {
    display: none;
    &.with-app-pass {
      display: block;
    }
  }
}
