.ps-container{
    &:hover>.ps__rail-y,
    &:hover>.ps__rail-x{
        opacity: 1 !important;
    }
    .ps__rail-x, .ps__rail-y{
        .ps__thumb-x, .ps__thumb-y{
            background: rgba($accent-blue-dark, 0.8) !important;
        }
    }
    &.gradient-scrollbar{
        .ps__rail-x, .ps__rail-y{
            .ps__thumb-x, .ps__thumb-y{
                background: $inversed-accent-blue-gradient !important;
            }
        }
    }
}