// Here you can add other styles
.the-sidebar {
  background-color: $white;
  z-index: 999 !important;
  @media (max-width: 991.98px) {
    z-index: 1030 !important;
  }
  .c-header-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 21, 0.5)' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .c-sidebar-brand {
    background-color: $white;

    #logo-ehp {
      width: auto;
      height: auto;
      display: inline-block;
      max-width: 100%;
    }
  }

  .c-sidebar-nav {
    .c-sidebar-nav-title {
      color: #abafb3;
      font-weight: bold;
      border-top: 1px solid #dcdedf;
      margin-top: 7px;
      color: $accent-blue-light;
    }

    .c-sidebar-nav-dropdown {
      .c-sidebar-nav-dropdown-toggle {
        position: relative;

        &::after {
          display: none;
        }

        &::before {
          content: '';
          position: absolute;
          right: 15px;
          border-top: 5px solid #6a707e;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          @include transition(all .2s);
        }
      }

      .c-sidebar-nav-dropdown-items {
        background-color: #f3f6f9;
      }

      &.c-show {
        background-color: $white;

        .c-sidebar-nav-dropdown-toggle {
          &::before {
            transform: rotate(180deg);
          }
        }
      }
    }

    .c-sidebar-nav-item,
    .c-sidebar-nav-dropdown {
      color: #65686F;

      .c-sidebar-nav-link {
        @include transition(all .2s);
        border-left: 4px solid transparent;
        color: $text-color-dark;

        &:hover {
          border-left-color: $accent-blue-light;
          background-color: #E9F4F9;
          color: $accent-blue-light;

          .c-sidebar-nav-icon {
            color: $accent-blue-light;
            font-weight: bold;
          }
        }

        .c-sidebar-nav-icon {
          color: #abafb3;
          font-weight: bold;
        }

        &.c-active {
          border-left-color: $accent-blue-light;
          background-color: #E9F4F9;
          color: $accent-blue-light;

          .c-sidebar-nav-icon {
            color: $accent-blue-light;
            font-weight: bold;
          }
        }
      }

      .logout-link {
        max-width: 120px;
        width: 90%;
        color: $white;
        margin: 20px auto;
        border: none;
        padding: 10px 10px 10px 12px;
        border-radius: $btn-border-radius;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: normal;

        i {
          font-size: 13px;
          flex: none !important;
          width: auto;
          height: auto;
        }

        &:hover {
          color: $white;

          .c-sidebar-nav-icon {
            color: $white;
          }
        }

        .c-sidebar-nav-icon {
          margin-right: 8px;
          color: $white;
        }
      }
    }
  }
}
.c-sidebar-right{
  z-index: 9999999 !important;
}
.c-wrapper {
  z-index: 99999;
  @media screen and (max-width:1200px){
    z-index: 999;
  }

}
// Header Adjustments
.c-sidebar-unfoldable:hover~.c-wrapper {
  margin-left: 256px !important;
}

.the-sidebar.c-sidebar-unfoldable:not(:hover) .c-sidebar-nav .c-sidebar-nav-dropdown .c-sidebar-nav-dropdown-toggle::before {
  right: 6px !important;
}


.the-sidebar.c-sidebar-unfoldable:not(:hover) {
  .logout-link {
    max-width: 120px;
    color: $white;
    margin: 20px auto;
    border: none;
    padding: 10px 10px 6px;
    width: 80%;
    border-radius: $btn-border-radius;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: normal;

    i {
      font-size: 13px;
    }

    &:hover {
      color: $white;

      .c-sidebar-nav-icon {
        color: $white;
      }
    }

    // .c-sidebar-nav-icon{
    //   margin-right: 8px;
    //   color: $white;
    //   flex: none;
    // }
  }
}
