.user-pass-history{
    .datatable{
        & > div{
            height: 350px;
        }
    }
    .passes-total-time{
        background-color: $accent-blue-dark;
        color: #fff;
        display: inline-block;
        margin: 0 auto;
        padding: 5px 25px;
        border-radius: 20px;
        font-size: 16px;
        b{
            font-family: "VisbyCF-Bold";
        }
    }
    .unexpected-row{
        background-color: #F3B7B7ed;
    }
    .unexpected-pin-guide{
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 20px 20px 35px 20px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
        .color-guide{
            margin-right: 10px;
            width: 25px;
            height: 25px;
            background-color: #F3B7B7ed;
            display: inline-block;
        }
    }
}