// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
@import "~@coreui/coreui-pro/scss/coreui";

// If you want to add something do it here
@import "_flaticon.scss";
// @import "custom-icons.scss";
@import "custom";
@import "loader";
@import "paginations";
@import "datatable";
@import "header";
@import "sidebar";
@import "modal";
@import "carousel";
@import "passes";
@import "rooms";
@import "help-center";
@import "scrollbar";

//views and components
@import "dashboard";
@import "pass-history";
@import "appointment-pass";
@import "comments-component";
@import "form";
@import "user-profile";
@import "student-pass-history";
@import "releases";
@import "polarity";
@import "users";
@import "kiosk";
@import "pass-times";

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}
