.profile-view{
    .section-title{
        font-size: 15px;
        font-family: "Metrisch-Bold";
        color: #464a53;
    }
    p, .custom-control-label{
        color: #6a707e;
    }
    .text-graident-blue{
        background: -webkit-linear-gradient(120deg, $accent-blue-light, $accent-blue-dark);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .user-avatar{
        position: relative;
        display: inline-block;
        height: 240px;
        width: 240px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
        .upload-btn{
            position: absolute;
            top: 0px;
            right: 0px;
            background: linear-gradient(45deg, $accent-blue-light, $accent-blue-dark);
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
            i{
                font-size: 25px;
                height: 26px;
                color: #fff;
                cursor: pointer;
            }
            input{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: 11;
                font-size: 0px;
                cursor: pointer;
            }
        }
    }
}