.users-view-container{
    .forms-container{
        .form-block{
            .form{
                min-height: 420px;
            }
        }
    }
}
.auth-type-icon{
    background-color: #e1e1e1;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 5px 6px;
}
.users-stats-container{
    .users-role-stat{
        border-radius: 20px;
        color: #fff;
        font-family: "VisbyCF-Bold";
        .stat-label{
            font-size: 11px;
        }
    }
}
.create-substitute-form{
    .generate-pin-btn{
        .btn{
            border-radius: 5px;
            font-size: 12px;
        }
    }
}

@media only screen and (max-width: 1200px){
    .users-view-container{
        width: 100% !important;
        max-width: 100% !important;
        .forms-container{
            .form-block, .rounded-panel{
                .rounded-panel-title{
                    font-size: 15px;
                }
                .form{
                }
            }
        }
    }
    .users-stats-container{
        .users-role-stat{
            border-radius: 20px;
            color: #fff;
            font-family: "VisbyCF-Bold";
            max-width: 250px;
            width: 100%;
            margin: 0 auto;
            .stat-label{
                font-size: 9px;
            }
            b{
                font-size: 1.25rem;
            }
        }
    }
}

@media only screen and (max-width: 576px){
    .users-view-container{
        .forms-container{
            .form-block, .rounded-panel{
                .rounded-panel-title{
                    font-size: 12px;
                }
                .form{
                }
            }
        }
    }
    .users-stats-container{
        .users-role-stat{
            .stat-label{
            }
            b{
                font-size: 1rem;
            }
        }
    }
    .auth-type-icon{
        width: 25px;
        height: 25px;
        font-size: 15px;
        margin: 5px 3px;
    }
}