<template>
  <div>
    <div class="user-avatar">
      <Loader :isProcessing="isLoading" _classes="position-absolute" />
      <CImg
        id="profile-avatar"
        :src="user.avatar ? user.avatar : defaultAvatar"
        class="mb-2 rounded-circle user-avatar-image"
      />
      <div v-if="userRole !== 'student'" class="upload-btn">
        <input
          type="file"
          @change="getFile"
          accept="image/png, image/jpeg, image/jpg, image/png, image/gif"
        />
        <i class="flaticon-photo-camera"></i>
      </div>
    </div>
    <div class="mt-2" v-if="userRole !== 'student' && user.avatar !== null">
      <span class="cursor-pointer text-danger" @click="uploadAvatar(null)"
        >Delete image</span
      >
    </div>
    <div v-if="errorMessage" class="invalid-feedback d-block">
      {{ errorMessage }}
    </div>
  </div>
</template>

<script>
import Loader from "@/components/Loader";

export default {
  props: ["user", "userRole"],
  name: "Avatar",
  components: { Loader },
  data() {
    return {
      defaultAvatar: "img/avatars/user-avatar.jpeg",
      isLoading: false,
      errorMessage: ""
    };
  },
  methods: {
    getFile(event) {
      let avatar = null;
      this.errorMessage = "";
      let files = event.target.files;
      avatar = files && files.length ? files[0] : avatar;
      if (avatar) {
        if (avatar.size > 2048000) {
          this.errorMessage =
          "This image is too large. Allowed maximum size is 2MB";
        } else {
          this.uploadAvatar(avatar);
        }
      }
      //for firing @change event on the input every time a file is uploaded, even with the same file
      event.target.value = null;
    },
    uploadAvatar(avatar){
      this.isLoading = true;
      let data = {
        initials: this.user.user_initials,
        first_name: this.user.first_name,
        last_name: this.user.last_name,
        allow_appointment_requests: this.user.allow_appointment_requests,
        allow_passes_to_me: this.user.allow_passes_to_me,
        is_searchable: this.user.is_searchable
      };

      if(avatar){
        let formData = new FormData();
        formData.append('avatar', avatar);
        for (const key in data) {
          if (Object.hasOwnProperty.call(data, key)) {
            const element = data[key];
              formData.append(key, element);
          }
        }
        
        this.updateProfile(formData, avatar);
      }else{        
        this.$store.dispatch('authentication/deleteUserAvatar')
        .then(() => {
          this.deleteImage();
          this.isLoading = false;
          this.$store.dispatch('authentication/getUserDetails');
        })
        .catch(()=> {this.isLoading = false;});
      }
    },
    updateProfile(data, avatar){
      this.$store.dispatch('authentication/updateUserProfile', data)
      .then((response) => {
        this.showUploadedImage(avatar);
        this.isLoading = false;
        this.$store.dispatch('authentication/getUserDetails');
      })
      .catch((err) => {
        this.isLoading = false;
        let response = err.response.data;
        this.errorMessage = response.message;
      });
    },
    showUploadedImage(file) {
      this.$emit("changeAvatar", file);
      let avatar = document.getElementById("profile-avatar");
      avatar.src = URL.createObjectURL(file);
    },
    deleteImage() {
      this.$emit("changeAvatar", "delete");
      let avatar = document.getElementById("profile-avatar");
      avatar.src = this.defaultAvatar;
    }
  }
};
</script>

<style></style>
