<template>
  <CContainer>
    <CRow>
      <CCol md="6">
        <LazyLoadSelect :isMultiple="false" :isProcessing="false"
          :classes="[{ 'is-invalid': $v.form.location.$error || reqResponse.errors.location},'mb-3']"
          @change="selectLocation" :selected="form.location" type="locations" placeholder="Select Location">
          <template #footer>
            <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.location.required">This field is required
            </div>
          </template>
        </LazyLoadSelect>
      </CCol>
      <CCol v-if="isActiveAutoCheckInModule" md="4">
        <div class="form-group">
          <input v-if="currentRoom && currentRoom.room_pin || showPinTooltip" @focus="isEditable = true" @blur="isEditable = false" type="text" class="form-control location-pin"
            :class="{ 'is-invalid': $v.form.pin.$error || reqResponse.errors['teacher_pin'] || reqResponse.errors['maxLength']}"
            placeholder="PIN" :disabled="!isEditable" v-model="form.pin" v-c-tooltip="{
                      content: 'This PIN is associated with the room, so changing it will change it globally for this room.',
                      active: isEditable,
                      placement: 'bottom-start'
                    }" />

          <input v-else @blur="isEditable = false" type="text" class="form-control location-pin"
            :class="{ 'is-invalid': $v.form.pin.$error || reqResponse.errors['teacher_pin'] || reqResponse.errors['maxLength']}"
            placeholder="PIN" :disabled="!isEditable" v-model="form.pin"/>
          <div class="invalid-feedback" v-if="reqResponse.errors['teacher_pin']">This PIN is assigned to another room or adult.</div>
          <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.pin.required">This field is required</div>
          <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.pin.maxLength">The pin may not be greater than
            6 characters.</div>
        </div>
      </CCol>
      <CCol md="2">
        <div
          class="d-flex align-items-center justify-content-center justify-content-md-start mt-0 mb-5 mb-md-0 mt-md-1">
          <button v-if="isActiveAutoCheckInModule" @blur="setEditable" @click="toggleEditable"
            :class="{'inversed' : isEditable}" class="btn btn-edit mr-2"><i class="flaticon-edit"></i></button>
          <button @click="deleteForm" class="btn btn-danger"><i class="flaticon-trash"></i></button>
        </div>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>
  import {
    validationMixin
  } from "vuelidate";
  import {
    required,
    maxLength,
    requiredIf
  } from "vuelidate/lib/validators";
  import {
    mapGetters
  } from 'vuex';
  import LazyLoadSelect from '@/components/LazyLoadSelect.vue';

  export default {
    name: "LocationForm",
    components: {
      LazyLoadSelect
    },
    props: ['currentRoom', 'index'],
    data() {
      return {
        showPinTooltip: false,
        form: {
          location: null,
          pin: null
        },
        isEditable: true,
        reqResponse: {
          type: "",
          message: "",
          errors: {}
        },
      }
    },
    mixins: [validationMixin],
    validations: {
      form: {
        location: {
          required,
        },
        pin: {
          maxLength: maxLength(6)
        }
      }
    },
    computed: {
      isValid() {
        return !this.$v.form.$invalid
      },
      ...mapGetters({
        isActiveAutoCheckInModule: 'schools/isActiveAutoCheckInModule',
      }),
    },
    created() {
      if (this.currentRoom) {
        let room = this.currentRoom.room;
        this.form.location = {
          value: {
            id: room.id,
            type: 'App\\Models\\Room',
          },
          label: room.name,
          capacity: room.capacity ? !!room.capacity : null
        };
        this.form.pin = this.currentRoom ? this.currentRoom.room_pin : null;
        this.isEditable = false;
      }
    },
    methods: {
      selectLocation(value){
        this.form.location = value;
        this.form.pin = value.owner_pin;
        this.showPinTooltip = !!(value && value.owner_pin);
      },
      toggleEditable() {
        this.isEditable = !this.isEditable;
      },
      deleteForm() {
        this.$emit('deleteLocation');
      },
      setEditable(e) {
        this.isEditable = !!(e.relatedTarget && e.relatedTarget.classList.contains('location-pin'));
      },
      resetResponseMessages() {
        this.reqResponse = {
          type: "",
          message: "",
          errors: {}
        }
      },
    }
  }

</script>

<style>

</style>
