<template>
    <CContainer v-if="user" class="pb-3">
        <CRow>
            <CCol>
                <h5 class="mb-4 section-title">Profile Settings</h5>
                <CForm v-if="user" class="mt-2 mb-5">
                <CAlert
                    v-if="reqResponse.message"
                    class="mt-4"
                    :color="reqResponse.type"
                    :show="!!reqResponse.message">
                {{reqResponse.message}}
                </CAlert>
                <v-select
                    :class="{ 'is-invalid': $v.form.title.$error || reqResponse.errors['initials']}"
                    v-if="titles"
                    class="cs-select mb-3 ps__child--consume"
                    v-model="form.title"
                    :options="titles"
                    placeholder="Title"
                    :clearable="false"
                    label="label"
                    :reduce="item => item.value"
                    >
                    <template #footer>
                    <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.title.required">This field is required</div>
                    <div class="invalid-feedback" v-if="reqResponse.errors['initials']">{{reqResponse.errors['initials'][0]}}</div>
                    </template>
                </v-select>

                <div class="form-group">
                    <input
                    type="text"
                    class="form-control"
                    :class="{ 'is-invalid': $v.form.firstName.$error || reqResponse.errors['first_name']}"
                    placeholder="First name"
                    v-model="form.firstName"/>
                    <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.firstName.required">This field is required</div>
                    <div class="invalid-feedback" v-if="reqResponse.errors['first_name']">{{reqResponse.errors['first_name'][0]}}</div>
                </div>

                <div class="form-group">
                    <input
                    type="text"
                    class="form-control"
                    :class="{ 'is-invalid': $v.form.lastName.$error || reqResponse.errors['last_name']}"
                    placeholder="Last name"
                    v-model="form.lastName"/>
                    <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.lastName.required">This field is required</div>
                    <div class="invalid-feedback" v-if="reqResponse.errors['last_name']">{{reqResponse.errors['last_name'][0]}}</div>
                </div>

                <div class="form-group">
                    <input
                    type="password"
                    class="form-control"
                    :class="{ 'is-invalid': reqResponse.errors['password']}"
                    placeholder="New password"
                    v-model="form.newPass"/>
                    <!-- <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.newPass.required">This field is required</div> -->
                    <div class="invalid-feedback" v-if="reqResponse.errors['password']">{{reqResponse.errors['password'][0]}}</div>
                </div>

                <div v-if="isVisibleAllowAppRequest">
                  <p class="mb-2">Allow student appointment requests to you?</p>
                  <CInputRadioGroup
                    class="cs-radio-group standart-style mb-4"
                    :custom="true"
                    :options="['Yes', 'No']"
                    :checked.sync="form.allowAppRequest"/>
                </div>

                <p class="mb-2">Do you want adults and students to be able to create passes to/from you?</p>
                <CInputRadioGroup
                  class="cs-radio-group standart-style mb-4"
                  :custom="true"
                  :options="['Yes', 'No']"
                  :checked.sync="form.allowCreatePasses"/>

                <div class="form-group">
                    <input
                    type="text"
                    class="form-control"
                    :class="{ 'is-invalid': reqResponse.errors['teacher_pin']}"
                    placeholder="PIN"
                    v-model="form.pin"/>
                    <!-- <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.pin.required">This field is required</div> -->
                    <div class="invalid-feedback" v-if="reqResponse.errors['teacher_pin']">{{reqResponse.errors['teacher_pin'][0]}}</div>
                </div>
                <p class="mt-0 mb-4">Your PIN needs to be between 4 and 6 letters, numbers or characters long (any combination of these, but no spaces).</p>

                <div class="form-group form-actions mt-3 text-center">
                    <div class="d-inline" @click="submit()" >
                    <CLoadingButton :spinner="isLoading" :disabled="isLoading" :loading="isLoading" class="btn bg-gradient-blue text-white">
                        Update
                    </CLoadingButton>
                    </div>
                </div>
                <div class="text-center">
                  <div class="d-sm-inline-block text-center">
                    <CLink to="/dashboard" class="btn mr-2 p-small bg-gradient-blue reverse">
                      <span class="btn bg-white px-4"><b class="text-graident-blue reverse">Return to Dashboard</b></span>
                    </CLink>
                  </div>
                </div>
                </CForm>
            </CCol>
        </CRow>
    </CContainer>
</template>

<script>
import { validationMixin } from "vuelidate"
import { required } from "vuelidate/lib/validators"

export default {
    name: "StudentSettings",
    props: ["user", "avatar", "isActiveAppoinmentModule", "activeAppoinmentModuleOptions"],
    data() {
        return {
            form: {
                title: '',
                firstName: '',
                lastName: '',
                newPass: '',
                // createPassAccess: 'Yes',
                allowAppRequest: 'Yes',
                allowCreatePasses: 'Yes',
                pin: ''
            },
            isLoading: false,
            reqResponse: {
              type: "",
              message: "",
              errors:{}
            },
            titles: [
              {value:null, label: "Title: None"},
              {value:"Mr.", label: "Mr."},
              {value:"Mrs.", label: "Mrs."},
              {value:"Ms.", label: "Ms."},
              {value:"Mx.", label: "Mx."},
              {value:"Miss", label: "Miss"},
              {value:"Dr.", label: "Dr."},
              {value:"Principal", label: "Principal"},
              {value:"Assistant Principal", label: "Assistant Principal"},
              {value:"Dean of Students", label: "Dean of Students"},
              {value:"Br.", label: "Br."},
              {value:"Sr.", label: "Sr."},
              {value:"Cpt", label: "Cpt"},
              {value:"Maj", label: "Maj"},
              {value:"Lt Col", label: "Lt Col"},
              {value:"Col", label: "Col"},
              {value:"Sgt", label: "Sgt"},
              {value:"SSG", label: "SSG"},
              {value:"SFC", label: "SFC"},
              {value:"Coach", label: "Coach"},
              {value:"Rabbi", label: "Rabbi"},
            ]
        };
    },
    mixins: [validationMixin],
    validations: {
      form:{
          title: {},
          firstName: {
            required,
          },
          lastName: {
            required,
          },
      }
    },
    created() {
      this.form = {
        firstName: this.user.first_name,
        lastName: this.user.last_name,
        title: this.user.user_initials && this.user.user_initials !== 'null' ? this.user.user_initials : null,
        allowAppRequest: this.user.allow_appointment_requests ? 'Yes' : 'No',
        allowCreatePasses: this.user.allow_passes_to_me ? 'Yes' : 'No',
        pin: this.user.pin
      }
    },
    computed: {
      isValid () { return !this.$v.form.$invalid },
      userRole(){
        return this.user ? this.user.role.name : '';
      },
      isVisibleAllowAppRequest(){
        return this.isActiveAppoinmentModule && this.activeAppoinmentModuleOptions && this.activeAppoinmentModuleOptions[this.userRole];
      }
    },
    methods: {
        submit(){
          this.resetResponseMessages();
          if (this.isValid){
            this.isLoading = true;
            let data = {
              initials: this.form.title,
              first_name: this.form.firstName,
              last_name: this.form.lastName,
              allow_appointment_requests: this.form.allowAppRequest === 'Yes',
              allow_passes_to_me: this.form.allowCreatePasses === 'Yes',
              is_searchable: this.user.is_searchable
            };
            if(this.form.newPass){
              data.password = this.form.newPass;
            }
            if(this.form.pin){
              data.teacher_pin = this.form.pin;
              data.pin = this.form.pin;
            }
            if(this.avatar){
              data.avatar = this.avatar === "delete" ? null : this.avatar;
              if (data.avatar) {
                let formData = new FormData();
                for (const key in data) {
                  if (Object.hasOwnProperty.call(data, key)) {
                    const element = data[key];
                    formData.append(key, element);
                  }
                }
                data = formData;
              }
            }
            this.$store.dispatch('authentication/updateUserProfile', data)
            .then((response) => {
              this.$v.$reset();
              this.setSuccessResponse('Successfully updated.');
              this.isLoading = false;
              this.$store.dispatch('authentication/getUserDetails', data);
            })
            .catch((err) => {
              this.isLoading = false;
              let response = err.response.data;
              this.setErrorResponse(response.message, response.errors);
            });
        }else{
          this.$v.$touch();
        }
      },
      resetResponseMessages(){
        this.reqResponse = {
          type: "",
          message: "",
          errors:{}
        }
      },
      setSuccessResponse(message){
        this.reqResponse = {type:'success', message: message ? message : 'Success!', errors: {}};
      },
      setErrorResponse(message, errors){
        this.reqResponse = {type:'danger', message: message ? message : 'Someting went wrong!', errors: errors ? errors : {}};
      }
    }

}
</script>

<style>

</style>
