<template>
  <CContainer v-if="user">
    <CRow class="justify-content-center mt-5">
      <CCol md="5" class="text-center">
        <Avatar v-if="showPhoto && user.avatar" :userRole="userRole" :user="user"/>
        <h2 class="mt-3">{{ user.first_name + ' ' + user.last_name }}</h2>
        <p>{{ user.email }}</p>
        <div v-if="isActiveKioskModule && !activeSchool.hide_student_kiosk_password_field" class="mt-2 mb-5">
          <CAlert v-if="reqResponse.message" class="mt-4" :color="reqResponse.type" :show="!!reqResponse.message">
            {{ reqResponse.message }}
          </CAlert>
          <h5 class="text-left">Kiosk password</h5>
          <div class="kiosk-input-group input-icon-field">
            <div class="form-group text-left">
              <input :type="passwordSecure ? 'password' : 'text'" class="form-control pr-5"
                     :class="{ 'is-invalid': $v.form.password.$error || reqResponse.errors['kiosk_password']}"
                     placeholder="Password" @keyup.enter.prevent="submit" v-model="form.password"/>
              <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.password.required">This field is required
              </div>
              <div class="invalid-feedback" v-if="reqResponse.errors['kiosk_password']">
                {{ reqResponse.errors['kiosk_password'][0] }}
              </div>
            </div>
            <span @click="togglePass" class="field-icon cursor-pointer">
              <i :class="passwordSecure ? 'fi flaticon-eye mr-2' : 'fi flaticon-hide mr-2'"></i>
            </span>
          </div>

          <div v-if="form.errors" class="d-block invalid-feedback text-left">{{ form.errors }}</div>
          <div class="form-group form-actions mt-3">
            <div class="d-inline" @click="submit()">
              <CLoadingButton :spinner="isLoading" :disabled="isLoading" :loading="isLoading"
                              class="btn bg-gradient-blue text-white">
                Submit
              </CLoadingButton>
            </div>
          </div>
        </div>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>
import {
  validationMixin
} from "vuelidate"
import {
  required
} from "vuelidate/lib/validators"
import Avatar from './Avatar.vue'
import {
  mapGetters
} from 'vuex';

export default {
  props: ['user', 'userRole', 'isActiveKioskModule', 'showPhoto'],
  name: "UserSettings",
  components: {
    Avatar
  },
  data() {
    return {
      isLoading: false,
      passwordSecure: true,
      form: {
        password: "",
      },
      reqResponse: {
        type: "",
        message: "",
        errors: {}
      },
    };
  },
  mixins: [validationMixin],
  validations: {
    form: {
      password: {
        required,
      }
    }
  },
  computed: {
    ...mapGetters({
      activeSchool: 'schools/activeSchool',
    }),
    isValid() {
      return !this.$v.form.$invalid
    },
  },
  methods: {
    togglePass() {
      this.passwordSecure = !this.passwordSecure;
    },
    submit() {
      this.resetResponseMessages();
      if (this.isValid) {
        this.isLoading = true;
        this.$store.dispatch('authentication/updateKioskPass', this.form.password)
          .then((response) => {
            this.form.password = "";
            this.$v.$reset();
            this.setSuccessResponse('Successfully updated.');
            this.isLoading = false;
            setTimeout(() => {
              this.resetResponseMessages();
            }, 1000);
          })
          .catch((err) => {
            this.isLoading = false;
            // this.form.password = "";
            let response = err.response.data;
            this.setErrorResponse(response.message, response.errors);
          });
      } else {
        this.$v.$touch();
      }
    },
    resetResponseMessages() {
      this.reqResponse = {
        type: "",
        message: "",
        errors: {}
      }
    },
    setSuccessResponse(message) {
      this.reqResponse = {
        type: 'success',
        message: message ? message : 'Success!',
        errors: {}
      };
    },
    setErrorResponse(message, errors) {
      this.reqResponse = {
        type: 'danger',
        message: message ? message : 'Someting went wrong!',
        errors: errors ? errors : {}
      };
    }
  }

}

</script>

<style lang="scss" scoped>
.kiosk-input-group {
  .field-icon {
    z-index: 1;
  }

  input {
    font-size: 16px;
    line-height: 20px;

    &::placeholder {
      font-size: 16px;
    }
  }
}

</style>
