<template>
  <div>
    <CModal :show="true" class="p-0" addContentClasses="left-top-header">
      <template #header-wrapper>
        <div></div>
      </template>
      <div class="kiosk-active-pass-content position-relative px-2 pt-4 pb-5">
        <CRow v-if="activePass" class="justify-content-center">
          <CCol v-if="passLimit" md="9 d-flex flex-column">
            <div class="text-center text-value-lg">
              Pass Limit from
              {{ passLimit.from_date ? passLimit.from_date : "" }} to
              {{ passLimit.to_date ? passLimit.to_date : "" }}
            </div>

            <div class="text-center">
              <div class="bg-red text-center text-value d-inline-block p-2">
                Pass Remaining {{ passLimit.current }} / {{ passLimit.max }}
              </div>
            </div>
          </CCol>

          <CCol md="9" class="d-flex flex-column px-2">
            <div class="text-graident-blue text-value-lg my-4">
              Your pass is created and is awaiting approval from your teacher's
              dashboard or this Kiosk.
            </div>
            <div class="bg-light p-3 text-dark">
              <h5 class="mb-3">
                {{
                  $helpers.transformDate(
                    activePass.created_at,
                    "dddd, DD, MMMM, YYYY"
                  )
                }}
              </h5>
              <table class="w-100 text-left">
                <tr>
                  <th>Time</th>
                  <th>From</th>
                  <th>To</th>
                </tr>
                <tr>
                  <td>
                    {{
                      $helpers.transformDate(activePass.created_at, "h:mm A")
                    }}
                  </td>
                  <td>{{ activePass.from ? activePass.from.name : "" }}</td>
                  <td>{{ activePass.to ? activePass.to.name : "" }}</td>
                </tr>
              </table>
            </div>
          </CCol>

          <CCol v-if="!isAutoPass" md="9 d-flex flex-column" class="text-left">
            <div>
              <h4 class="text-center my-3 mt-0">Staff use only</h4>
              <CInput
                placeholder="Enter your PIN"
                v-model="teacherPin"
                :isValid="
                  checkIfValid('teacherPin') &&
                    !(
                      responseMessageTeacherApproval &&
                      responseMessageTeacherApproval.message == 'Invalid pin.'
                    )
                "
                type="password"
                @input="responseMessageTeacherApproval = null"
                v-noautofill
              >
                <template v-slot:invalid-feedback>
                  <div
                    v-if="$v.teacherPin.$error && !$v.teacherPin.required"
                    class="invalid-feedback"
                  >
                    The fields is required
                  </div>
                  <div
                    v-if="$v.teacherPin.$error && !$v.teacherPin.minLength"
                    class="invalid-feedback"
                  >
                    The pin should be at least 4 characters.
                  </div>
                  <div
                    v-if="$v.teacherPin.$error && !$v.teacherPin.maxLength"
                    class="invalid-feedback"
                  >
                    The pin may not be greater than 6 characters.
                  </div>
                  <div
                    v-if="
                      responseMessageTeacherApproval &&
                        responseMessageTeacherApproval.message == 'Invalid pin.'
                    "
                    class="invalid-feedback text-red"
                  >
                    INVALID PIN.This attempt has been logged and reported. For
                    security purposes, you will be logged out after the next
                    INVALID PIN
                  </div>
                </template>
              </CInput>
              <CAlert
                class="mt-0"
                :color="reqResponse.type"
                :show="!!reqResponse.message"
              >
                {{ reqResponse.message }}
              </CAlert>
            </div>
            <div
              class="d-flex w-100 align-items-center stuff-only-popup-buttons"
            >
              <button
                class="btn btn-cancel px-2 py-3 w-100"
                @click="cancelPass()"
              >
                Cancel
              </button>
              <button
                class="btn bg-gray text-white mx-2 w-100"
                @click="cancel(), logOutUser()"
              >
                Close({{ timeoutCounter }})
              </button>
              <button
                class="btn btn-comfirm px-2 py-3 w-100 text-center justify-content-center"
                v-if="currentStatus == 'waiting' && !activePass.parent"
                @click="updatePassStuff(actions.approved)"
              >
                APPROVE
              </button>
            </div>
          </CCol>
          <CCol v-else md="9 d-flex flex-column" class="text-left mt-4 px-2">
            <CAlert
              class="mt-0"
              :color="reqResponse.type"
              :show="!!reqResponse.message"
            >
              {{ reqResponse.message }}
            </CAlert>
            <div
              class="d-flex w-100 align-items-center stuff-only-popup-buttons"
            >
              <button
                class="btn btn-cancel px-2 py-3 w-100"
                @click="cancelPass()"
              >
                Cancel
              </button>
              <button
                class="btn bg-gray text-white mx-2 w-100"
                @click="cancel(), logOutUser()"
              >
                Close({{ timeoutCounter }})
              </button>
              <button
                v-if="isAutoPass"
                class="btn btn-comfirm no-icon kiosk-start-btn px-2 py-3 w-100 text-center justify-content-center"
                @click="autoApprovePass()"
              >
                START
                <span class="ml-2 d-flex"
                  ><span class="fi flaticon-play-circle"></span
                ></span>
              </button>
            </div>
          </CCol>
        </CRow>
        <Loader
          :isProcessing="!activePass || isLoading"
          _classes="position-absolute"
        />
        <div class="active-pass-history-badge text-white" @click="showHistoryModal=true">
          {{ passHistories && passHistories.length }}
        </div>
      </div>
      <template #footer-wrapper>
        <div></div>
      </template>
    </CModal>
     <CModal :show.sync="showHistoryModal" :closeOnBackdrop="false" class="p-0 " size="lg"
      addContentClasses="no-padding-modal no-border-radius-modal left-top-header history-modal">
      <template #header-wrapper>
        <div class="pt-4 px-3 create-popup-header d-flex justify-content-between align-items-center w-100">
          <div @click="showHistoryModal=false"
            class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span
              class="close-icon"></span></div>
        </div>
      </template>
      <div>
        <StudentPassHistory v-if="passHistories" :options="passHistories" />
      </div>
      <template #footer-wrapper>
        <div></div>
      </template>
    </CModal>
  </div>
</template>

<script>
import moment from "moment-timezone";
import HelpCenterButton from "@/components/HelpCenterButton";
import { mapGetters } from "vuex";
import { validationMixin } from "vuelidate";
import { maxLength, minLength, required } from "vuelidate/lib/validators";
import KioskPassHistory from "./KioskPassHistory";
import Loader from "@/components/Loader";
import StudentPassHistory from '@/components/DataTables/StudentPassHistory';

export default {
  name: "KioskActivePass",
  components: {
    KioskPassHistory,
    HelpCenterButton,
    Loader,
    StudentPassHistory
  },
  data() {
    return {
      interval: null,
      timeout: 120,
      passStatuses: {
        waiting: "Waiting Approval",
        approved: "Active",
        expired: "Ended",
        canceled: "Canceled"
      },
      showHistoryModal: false,
      actions: {
        approved: 1,
        end: 2,
        arrived: 3,
        returning: 4,
        cancel: 5
      },
      counter: 1,
      showHistoryModal: false,
      showStuffModal: false,
      teacherPin: "",
      teacherNote: "",
      responseMessageTeacherApproval: null,
      responseMessageRoomApproval: null,
      modalAction: 1,
      isLoading: false,
      updatePassHistory: true,
      showCheckInModal: false,
      showCancelModal: false,
      roomPin: "",
      reqResponse: {
        type: "",
        message: "",
        errors: {}
      }
    };
  },
  mixins: [validationMixin],
  validations: {
    teacherPin: {
      required,
      maxLength: maxLength(6),
      minLength: minLength(4)
    },
    roomPin: {
      required,
      minLength: minLength(4),
      maxLength: maxLength(6)
    },
    teacherNote: {
      maxLength: maxLength(255)
    }
  },
  computed: {
    ...mapGetters({
      activePass: "kiosks/activePass",
      passLimit: "passLimits/passLimits",
      passHistories: "kiosks/passHistories",
      activeKiosk: 'kiosks/activeKiosk',
    }),
    timeInPass() {
      return this.counter && this.activePass
        ? this.$helpers.secondsToTimeString(
            moment().diff(
              this.activePass.parent && this.activePass.parent.approved_at
                ? moment(this.activePass.parent.approved_at)
                : this.activePass.approved_at
                ? moment(this.activePass.approved_at)
                : moment(),
              "seconds"
            )
          )
        : "";
    },
    currentStatus() {
      if (
        this.activePass &&
        this.activePass.pass_status == 1 &&
        this.activePass.approved_at === null &&
        !this.activePass.parent
      ) {
        return "waiting";
      }
      if (
        this.activePass &&
        this.activePass.pass_status == 1 &&
        this.activePass.approved_at === null &&
        this.activePass.parent
      ) {
        return "approved";
      }
      if (
        this.activePass &&
        this.activePass.pass_status == 1 &&
        this.activePass.approved_at !== null &&
        this.activePass.completed_at === null
      ) {
        return "approved";
      }
      return "expired";
    },
    isLayoverPass() {
      return this.activePass &&
        (this.activePass.to_type == "App\\Models\\User" ||
          (this.activePass.to && this.activePass.to.trip_type == "Layover"))
        ? true
        : false;
    },
    timeoutCounter() {
      return moment.utc(this.timeout * 1000).format("mm:ss");
    },
    isAutoPass() {
      return (
        this.activePass.flags.auto_pass &&
        this.activePass.flags.auto_pass.is_valid
      );
    }
  },
  created() {
    if (this.activePass) {
      this.initTimeout();
    }
  },
  watch: {
    currentStatus: function() {
      if (this.currentStatus == "expired") {
        this.cancel();
      }
    },
    activePass: function(pass) {
      if (pass.hasOwnProperty("created_at") && pass.created_at) {
        this.initTimeout();
      }
    }
  },
  destroyed() {
    clearInterval(this.interval);
  },
  methods: {
    closeCheckInModal() {
      this.roomPin = "";
      this.showCheckInModal = false;
      this.$v.$reset();
    },
    closeCancelModal() {
      this.showCancelModal = false;
    },
    checkIfValid(fieldName) {
      const field = this.$v[fieldName];
      if (!field.$dirty) {
        return null;
      }
      return !field.$invalid;
    },
    cancelPass() {
      if (window.confirm("Are you sure you want to cancel this pass?")) {
        this.isLoading = true;
        this.resetResponseMessages();
        if (this.activePass) {
          let data = {
            id: this.activePass.id,
            data: {
              action: 8,
              kiosk_id: this.activeKiosk.id
            }
          };
          this.$store
            .dispatch("kiosks/updatePass", data)
            .then(() => {
              this.isLoading = false;
              this.setSuccessResponse("Your pass has successfully been ended.");
              setTimeout(() => {
                this.resetResponseMessages();
                this.cancel();
              }, 1000);
            })
            .catch(err => {
              let response = err.response.data;
              this.setErrorResponse(response.message, response.errors);
              this.isLoading = false;
            });
        }
      }
    },
    closeHistoryModal() {
      this.showHistoryModal = false;
    },
    closeStuffModal() {
      this.showStuffModal = false;
      this.responseMessageTeacherApproval = null;
      this.teacherPin = "";
      this.teacherNote = "";
      this.$v.$reset();
    },
    openStuffModal(attr) {
      this.$v.$reset();
      this.modalAction = attr;
      this.showStuffModal = true;
    },
    updatePassStuff(argAction, returnType) {
      this.resetResponseMessages();
      this.$v.$touch();
      if (
        !this.checkIfValid("teacherPin") ||
        !this.checkIfValid("teacherNote")
      ) {
        return;
      }
      this.isLoading = true;
      this.updatePassHistory = false;
      let elem = {
        id: this.activePass.id,
        data: {
          teacher_pin: this.teacherPin,
          approval_message: this.teacherNote,
          action: argAction,
          kiosk_id: this.activeKiosk.id
        }
      };
      if (returnType) {
        elem.data.return_type = returnType;
      }

      this.$store
        .dispatch("kiosks/updatePass", elem)
        .then(res => {
          this.$store.commit("kiosks/SET_ACTIVE_PASS", res.data.data);
          this.isLoading = false;
          this.setSuccessResponse("Your pass has successfully been approved.");
          setTimeout(() => {
            this.resetResponseMessages();
            this.$v.$reset();
            this.cancel();
            // this.logOutUser();
          }, 1000);
        })
        .catch(err => {
          if(err.response.status && err.response.status == 401){
            this.cancel();
          }
          let response = err.response.data;
          this.setErrorResponse(response.message, response.errors);
          this.isLoading = false;
        });
    },
    autoApprovePass() {
      this.isLoading = true;
      let data = {
        passId: this.activePass.id,
        action: 1,
        kiosk_id: this.activeKiosk.id
      };
      this.$store
        .dispatch("kiosks/autoApprovePass", data)
        .then(res => {
          this.$store.commit("kiosks/SET_ACTIVE_PASS", res.data.data);
          this.isLoading = false;
          this.setSuccessResponse("Your pass has successfully been approved.");
          setTimeout(() => {
            this.resetResponseMessages();
            this.cancel();
          }, 1200);
        })
        .catch(err => {
          if(err.response.status && err.response.status == 401){
            this.cancel();
          }
          let response = err.response.data;
          this.setErrorResponse(response.message, response.errors);
          this.isLoading = false;
        });
    },
    initTimeout() {
      if (!this.interval) {
        this.interval = setInterval(() => {
          if (this.timeout > 0) {
            this.timeout--;
          } else {
            clearInterval(this.interval);
            this.cancel();
            this.logOutUser();
          }
        }, 1000);
      }
    },
    cancel() {
      clearInterval(this.interval);
      this.$emit("cancel");
    },
    logOutUser() {
      this.$store.dispatch("kiosks/userLogout");
    },
    setSuccessResponse(message) {
      this.reqResponse = {
        type: "success",
        message: message ? message : "Success!",
        errors: {}
      };
    },
    setErrorResponse(message, errors) {
      this.reqResponse = {
        type: "danger",
        message: message ? message : "Something went wrong!",
        errors: errors ? errors : {}
      };
    },
    resetResponseMessages() {
      this.reqResponse = {
        type: "",
        message: "",
        errors: {}
      };
    }
  }
};
</script>
