<template>
  <div>
    <Loader :isProcessing="isLoading" />
    <div v-if="createMode" class="px-3 py-4 px-md-5">
      <h2 class="text-center mb-3">Create Pass</h2>
      <div class="mb-2">
        <h5 class="text-left m-0" v-if="activeKiosk">From: <b>{{activeKiosk.room ? activeKiosk.room.name : activeKiosk.user ? activeKiosk.user.name : ''}}</b></h5>
      </div>
      <h5 class="text-left mb-3">Where do you want to go?</h5>
      <LazyLoadSelect
        :auth_uuid="activeKiosk && activeKiosk.school ? activeKiosk.school.cus_uuid : null"
        :classes="[{ 'is-invalid': $v.form.to.$error || reqResponse.errors['to']},'mb-3 text-left']"
        :isMultiple="false"
        @change="(value) => {form.to = value}"
        :selected="form.to"
        type="kiosk"
        :isInKiosk="true"
        :refreshOnOpen="true"
        placeholder="Select teacher / location">
        <template #footer>
          <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.to.required">This field is required</div>
          <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.to.notSameAsFrom && $v.form.to.required">Please select a different teacher/location.</div>
          <div class="invalid-feedback" v-if="reqResponse.errors['to']">{{reqResponse.errors['to'][0]}}</div>
          <div class="invalid-feedback d-flex flex-wrap font-weight-bold" v-if="destinationUnavailability">
            {{destinationUnavailability.unavailable_type == "App\\Models\\Room" ? 'This room is unavailable until' : 'This adult is unavailable until'}}
            <span class="mx-1" v-html="$helpers.getHTMLDateTime(destinationUnavailability.to_date, 'MMMM D, YYYY',  'h:mm A') + '.'"></span>
            <span v-if="destinationUnavailability.comment">Note: {{destinationUnavailability.comment}}</span>
          </div>
        </template>
      </LazyLoadSelect>

      <FavoriteCarousel v-if="favorites && favorites.length"
                        :isEditable="false"
                        :notManagable="true"
                        :action="(elem)=>{form.to = elem;getFavorites()}" class="mb-3" section="destination"
                        :selected="form.to"
                        :options="favorites"
                        :isGlobal="true"
                        :key="'destination'"/>

      <div v-if="form && form.to && form.to.value && form.to.value.comment_type!='Hidden'" class="form-group text-left">
        <textarea class="form-control" :class="{'is-invalid': $v.form.reason.$error || reqResponse.errors['reason']}"  :placeholder="form.to.value.comment_type=='Optional'?'Reason for pass (optional)':'Reason for pass (required)'" rows="5" v-model="form.reason">
        </textarea>
        <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.reason.required">
          This field is required
        </div>
      </div>


      <div class="d-flex justify-content-center">
        <button @click="createPass()"
                class="mx-2 text-uppercase py-3 px-4 font-weight-bold w-50 btn bg-gradient-blue text-white lh-normal">
          Submit
        </button>
        <button class="mx-2 text-uppercase py-3 px-4 font-weight-bold w-50 btn appointment-pass-btn lh-normal btn-accent-light"
                @click="cancel()">
          Cancel
        </button>
      </div>
    </div>

    <div v-else :class="{'opacity-0' : !activePass && !reqResponse.message }" class="px-3 py-5">
      <div style="font-size:90px; color: red" class="m-0">
        <span class="flaticon-warning-1"></span>
      </div>
      <h2 v-if="activePass">The student already has an active pass.</h2>
      <h2 v-if="reqResponse.message">{{reqResponse.message}}</h2>
      <div class="text-red" v-if="reqResponse.errors">
        <div v-for="(err, index) in reqResponse.errors" :key="index">
          {{err[0]}}
        </div>
      </div>
      <p class="mb-0 mt-3">This screen will be closed in {{timeout}} seconds.</p>
      <p class="mt-0 px-1 cursor-pointer" @click="cancel()"> (or click here to close it now)</p>
    </div>

  </div>
</template>

<script>
import {mapGetters} from "vuex";
import FavoriteCarousel from "../FavoriteCarousel";
import LazyLoadSelect from '@/components/LazyLoadSelect.vue';
import { validationMixin } from "vuelidate";
import { required, requiredIf } from "vuelidate/lib/validators";
import Loader from '@/components/Loader'

export default {
  name: "CreatePassForm",
  components: {
    FavoriteCarousel,
    LazyLoadSelect,
    Loader
  },
  data() {
    return {
      interval:null,
      timeout: 60,
      isLoading: false,
      favoritesCollection: null,
      form: {
        to: [],
        reason: "",
      },
      reqResponse: {
        type: "",
        message: "",
        errors: {}
      },
    }
  },
  mixins: [validationMixin],
  validations: {
    form:{
      from:{},
      to: {
        required,
        available:(value, vm) => {if((vm.to && vm.to.value) && !(vm.to.value.unavailability)){return true} return false;},
        notSameAsFrom: (value, model) => {
          if(model.to && model.to.value) {
            if(model.to.value.type !== model.from.type || model.to.value.id !== model.from.id){
              return true
            }
          } 
            return false;
          },
      },
      reason: {
      required: requiredIf((model) => {return (model.to && model.to.value.type !== "App\\Models\\Room") || (model.to && model.to.value.hasOwnProperty('comment_type') && model.to.value.comment_type === 'Mandatory')}),
      }
    }
  },
  mounted() {
    if(!this.createMode){
        this.interval = setInterval(() => {
          if(this.timeout > 0){
            this.timeout--;
          }else{
            clearInterval(this.interval);
            this.cancel();
          }
        }, 1000);
    }
    this.form.from = this.activeKiosk.room_id ? {id: this.activeKiosk.room_id, type: 'App\\Models\\Room'} : this.activeKiosk.user_id ? {id: this.activeKiosk.user_id, type: 'App\\Models\\User'} : '';
  },
  destroyed(){
    clearInterval(this.interval);
  },
  computed: {
    ...mapGetters({
      activeKiosk: 'kiosks/activeKiosk',
      access_token: 'kiosks/accessToken',
      activePass: "kiosks/activePass",
      createNewPassData: 'kiosks/createNewPassData'
    }),
    isValid () { return !this.$v.form.$invalid },
    createMode(){
      return !this.activePass && !this.createNewPassData;
    },
    fromObj(){
      return {
        type: this.activeKiosk.room_id ? 'App\\Models\\Room' : 'App\\Models\\User',
        id: this.activeKiosk.room_id ? this.activeKiosk.room_id : this.activeKiosk.user_id ? this.activeKiosk.user_id : ''
      }
    },
    favorites(){
      return this.favoritesCollection || this.activeKiosk.favorites;
    },
    destinationUnavailability(){
      return this.form.to && this.form.to.value ? this.form.to.value.unavailability : null;
    }
  },
  methods: {
    createPass(data) {
      this.resetResponseMessages();
      if(this.isValid || data) {
        this.isLoading = true;
        let pass = data ? data : {
          from_type: this.fromObj.type,
          from_id: this.fromObj.id,
          to_id: this.form.to.value.id,
          to_type: this.form.to.value.type,
          comment: this.form.reason,
          kiosk_id: this.activeKiosk.id,
          kiosk_password: this.activeKiosk.password,
        };
        if(this.access_token){
          this.$store.dispatch('kiosks/createKioskPass', pass)
          .then((response) => {
            let data = response.data;
            setTimeout(() => {
              this.resetResponseMessages();
              this.$emit('kioskPassCreated');
              this.$store.commit('kiosks/SET_CREATE_NEW_PASS_DATA', null);
              this.$store.commit('kiosks/SET_ACTIVE_PASS', data.pass);
              this.$store.commit('passes/SET_PASS_LIMIT', data.pass_limit);
              this.getPassHistories();
            }, 100);
          })
          .catch((err) => {
            let response = err.response.data;
            this.setErrorResponse(response.message, response.errors);
            this.isLoading = false;
          });
        }else{
          this.$store.commit('kiosks/SET_CREATE_NEW_PASS_DATA', pass);
          this.$emit('tabChanged', 'userLogin');
        }
      }else{
        this.$v.$touch();
      }
    },
    getPassHistories() {
      this.$store.dispatch('kiosks/getPassHistories')
      .then((res) => {
        let data = res.data;
        if(data && data.data){
          this.$store.commit('kiosks/SET_PASS_HISTORIES', data.data);
        }
      });
    },
    getFavorites() {
      this.$store.dispatch('kiosks/getFavorites', this.activeKiosk.school.cus_uuid)
      .then((response) => {
        if(response.data.data && response.data.data.length){
          this.favoritesCollection = response.data.data;
        }
      })
    },
    setSuccessResponse(message) {
      this.reqResponse = {type: 'success', message: message ? message : 'Success!', errors: {}};
    },
    setErrorResponse(message, errors) {
      this.reqResponse = {
        type: 'danger',
        message: message ? message : 'Something went wrong!',
        errors: errors ? errors : {}
      };
    },
    resetResponseMessages() {
      this.reqResponse = {
        type: "",
        message: "",
        errors: {}
      }
    },
    cancel() {
      this.$emit('tabChanged', 'mainScreen');
      this.$store.dispatch('kiosks/userLogout');
    }
  }
}
</script>
