<template>
  <div>
    <h2 class="mb-4 text-center">USER AUTHENTICATION</h2>
    <div class="text-left max-w-500 m-auto">
      <CAlert
        v-if="reqResponse.message"
        class="mt-4"
        :color="reqResponse.type"
        :show="!!reqResponse.message"
      >
        {{ reqResponse.message }}
      </CAlert>
      <div v-show="authTypes.standart.isVisible">
        <div class="form-group">
          <div class="input-group" :class="{ 'is-invalid': $v.form.email.$error || reqResponse.errors['email']}">
            <input
            class="form-control"
            :class="{ 'is-invalid': $v.form.email.$error || reqResponse.errors['email']}"
            :placeholder="schoolDomains && schoolDomains.length ?  'Just the first part of your email is needed' :  'Email'"
            type="text"
            v-noautofillinput
            v-model="form.email"/>
            <div v-if="schoolDomains">
              <select class="form-control border-left-0 pr-5 pl-4" v-model="activeDomain" :class="{ 'border-red': $v.form.email.$error || reqResponse.errors['email']}">
                <option v-for="(domain, index) in schoolDomains" :key="index" :value="domain">@{{domain}}</option>
              </select>
            </div>
          </div>
          <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.email.required">This field is required</div>
          <div class="invalid-feedback" v-if="reqResponse.errors['email']">{{reqResponse.errors['email'][0]}}</div>
        </div>


        <div class="form-group">
          <input
            class="form-control"
            :class="{'is-invalid': $v.form.code.$error || reqResponse.errors['code']}"
            placeholder="Kiosk password"
            type="password"
            v-model="form.code"
            v-noautofillinput
            />
          <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.code.required">This field is required</div>
          <div class="invalid-feedback" v-if="reqResponse.errors['code']">{{reqResponse.errors['code'][0]}}</div>
        </div>

        <div class="d-flex justify-content-center">
          <div @click="login('standart')" class="w-50">
            <CLoadingButton :spinner="isLoading" :disabled="isLoading" :loading="isLoading" class="mr-2 btn bg-gradient-blue text-white w-100">
                Submit
            </CLoadingButton>
          </div>
          <button class="mx-2 text-uppercase py-3 px-4 font-weight-bold w-50 btn appointment-pass-btn lh-normal btn-accent-light"
                  @click="goToMainScreen">
            Cancel
          </button>
        </div>
      </div>

      <div v-show="authTypes.qrcode.isVisible">

        <div class="form-group">
          <input
            ref="qrcode"
            type="password"
            class="form-control"
            :class="{ 'is-invalid': $v.form.qrCode.$error || reqResponse.errors['code']}"
            @input="loginWithcode('qrCode')"
            placeholder="QR Code"
            v-model="form.qrCode"/>

          <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.qrCode.required">This field is required</div>
          <div class="invalid-feedback" v-if="reqResponse.errors['code']">{{reqResponse.errors['code'][0]}}</div>
        </div>
      </div>
      <div v-show="authTypes.barcode.isVisible">
        <div class="form-group">
          <input
            ref="barcode"
            type="password"
            class="form-control"
            :class="{ 'is-invalid': $v.form.barcode.$error || reqResponse.errors['code']}"
            @input="loginWithcode('barcode')"
            placeholder="Barcode"
            v-model="form.barcode"/>
          <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.barcode.required">This field is required</div>
          <div class="invalid-feedback" v-if="reqResponse.errors['code']">{{reqResponse.errors['code'][0]}}</div>
        </div>
      </div>

      <span class="d-block text-center font-weight-bold mt-4 text-value-lg mb-3">Or Authentication using:</span>
      <div class="d-flex justify-content-center kiosk-login-methods">
        <div class="bg-gradient-blue p-4 kiosk-login-btn"
             @click="setLoginType(auth_type == 'qrcode' ? 'standart' : 'qrcode')">
          <span :class="authTypes[auth_type == 'qrcode' ? 'standart' : 'qrcode'].icon"></span>
        </div>
        <div class="bg-gradient-blue p-4 ml-4 kiosk-login-btn"
             @click="setLoginType(auth_type == 'barcode' ? 'standart' : 'barcode')">
          <span :class="authTypes[auth_type == 'barcode' ? 'standart' : 'barcode'].icon"></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { requiredIf } from "vuelidate/lib/validators";
import _ from "underscore";
export default {
  name: "KioskUserLogin",
  props: ['activeKiosk'],
  data() {
    return {
      isLoading: false,
      auth_type: 'standart',
      codeLoginTimeOut:null,
      form: {
        email: null,
        code: null,
        qrCode: '',
        barcode: ''
      },
      activeDomain: null,
      reqResponse: {
        type: "",
        message: null,
        errors: {}
      },
      authTypes: {
        standart:{
          isVisible: true,
          icon: 'flaticon-user'
        },
        qrcode: {
          isVisible: false,
          icon: 'flaticon-qr-code'
        },
        barcode: {
          isVisible: false,
          icon: 'flaticon-credit-card'
        }
      }
    }
  },
  mixins: [validationMixin],
    validations: {
      form:{
        email: {required: requiredIf((model) => !model.qrCode && !model.barcode)},
        code: {required: requiredIf((model) => !model.qrCode && !model.barcode)},
        qrCode: {required: requiredIf((model) => !model.email && !model.code && !model.barcode)},
        barcode: {required: requiredIf((model) => !model.email && !model.code && !model.qrCode)},
      }
  },
  created(){
    this.activeDomain = this.schoolDomains ? this.schoolDomains[0] : this.activeDomain;
  },
  computed: {
    isValid () { return !this.$v.form.$invalid },
    schoolDomains(){
      return this.activeKiosk && this.activeKiosk.school ? this.activeKiosk.school.active_domains : [];
    }
  },
  methods: {
    login(loginType) {
      this.resetResponseMessages();
      if(this.isValid){
        this.isLoading = true;
        let params = {};
        if(loginType == 'standart'){
          params = {
            email: this.activeDomain ? this.form.email + '@' + this.activeDomain : this.form.email,
            code: this.form.code
          }
        }else{
          params = {
            code: this.form[loginType]
          }
        }
        this.$store.dispatch('kiosks/userLogin', {...params, type: loginType})
          .then((response) => {
            let data = response.data.data;
            if(data){
              this.setSuccessResponse('Successfully logged.');
              this.$store.commit('kiosks/SET_KIOSK_ACCESS_TOKEN', data.access_token);
              this.$store.commit('kiosks/SET_ACTIVE_PASS', data.active_pass);
              this.getPass();
              this.$emit('userLoggedIn');
            }
            this.isLoading = false;
          })
          .catch((err) => {
            let response = err.response.data;
            this.setErrorResponse(response.message, response.errors);
            this.isLoading = false;
          })
      }else{
        this.$v.$touch();
      }
    },
    getPass(){
      this.$store.dispatch('kiosks/getPasses')
      .then((res) => {
        let data = res.data;
        if(data && data.pass){
          this.$store.commit('kiosks/SET_ACTIVE_PASS', data.pass);
        }
      });
    },
    loginWithcode(loginType){
      clearInterval(this.codeLoginTimeOut);
      this.codeLoginTimeOut = setTimeout(() => {
        this.login(loginType);
      }, 500);
    },
    setSuccessResponse(message) {
      this.reqResponse = {type: 'success', message: message ? message : 'Success!', errors: {}};
    },
    setErrorResponse(message, errors) {
      this.reqResponse = {
        type: 'danger',
        message: message ? message : 'Something went wrong!',
        errors: errors ? errors : {}
      };
    },
    resetResponseMessages(){
      this.reqResponse = {
        type: "",
        message: "",
        errors:{}
      }
    },
    resetForm(){
      this.form = {
        email: null,
        code: null,
        qrCode: '',
        barcode: ''
      };
      this.$v.$reset();
    },
    goToMainScreen() {
      this.$emit('tabChanged', 'mainScreen');
      this.$store.commit('kiosks/SET_CREATE_NEW_PASS_DATA', null);
    },
    setLoginType(type){
      this.resetResponseMessages();
      this.resetForm();
      this.auth_type = type;
      for (const key in this.authTypes) {
        if (Object.hasOwnProperty.call(this.authTypes, key)) {
          this.authTypes[key].isVisible = key == type;
        }
      }
      if(this.$refs[type]){
        setTimeout(() => {
          this.$refs[type].focus({preventScroll:true});
        }, 500);
      }
    }
  }
}
</script>
