<template>
<CContainer>
  <Loader :isProcessing="isLoading"/>
  <CRow class="d-flex justify-content-center p-5">
    <CCol md="12" class="my-4 text-center">
        <h1 class="text-graident-blue">Kiosk Mode</h1>
    </CCol>
    <CCol col="12" sm="10" md="8" xl="6" class="rounded-panel p-4 text-center py-5">
      <img src="@/assets/images/logo-small.png" alt="e-hallpass" class="mb-2">
      <h2 class="text-graident-blue text-value-lg text-center mb-3">TEACHER AUTHENTICATION</h2>

      <div class="max-w-400 m-auto">
        <CAlert
            v-if="reqResponse.message"
            class="mt-4 text-left"
            :color="reqResponse.type"
            :show="!!reqResponse.message">
            {{ reqResponse.message }}
        </CAlert>
        <div class="form-group mb-0">
            <CInput
            class="mb-2"
            :isValid="!$v.form.code.$error || !!reqResponse.errors['password']"
            :value.sync="form.code"
            placeholder="Code"
            ></CInput>
            <div class="invalid-feedback d-block text-left m-0" v-if="$v.form.$error && !$v.form.code.required">This field is required</div>
            <div class="invalid-feedback d-block text-left m-0" v-if="reqResponse.errors['password']">{{reqResponse.errors['password'][0]}}</div>
        </div>
        <div class="form-group mt-3 text-center">
            <div class="d-flex align-items-center justify-content-center">
            <div @click="login(null)" class="w-100">
                <CLoadingButton :spinner="isLoading" :disabled="isLoading" :loading="isLoading"
                                class="mr-2 btn bg-gradient-blue text-white w-100">
                Submit
                </CLoadingButton>
            </div>
            </div>
        </div>
      </div>
    </CCol>
  </CRow>
</CContainer>
</template>

<script>
import Loader from '@/components/Loader'
import { validationMixin } from "vuelidate"
import { required } from "vuelidate/lib/validators"
export default {
  name: "KioskLoginForm",
  components: {
    Loader
  },
  data() {
    return {
      isLoading: false,
      form: {
        code: null,
      },
      reqResponse: {
        type: "",
        message: "",
        errors: {}
      }
    };
  },
  computed: {isValid () { return !this.$v.form.$invalid },},
  mounted() {
    if(this.$route.params.code){
      this.login(this.$route.params.code);
    }
    this.$store.dispatch('authentication/unauthorizeIfUserIsLogged');
  },
  mixins: [validationMixin],
    validations: {
    form:{
      code: {required}
    }
  },
  methods: {
    login(code) {
      this.form.code = code ? code : this.form.code;
      this.resetResponseMessages();
      if(this.isValid){
        this.isLoading = true;
        this.$store.dispatch('kiosks/directLogin', {password: this.form.code})
        .then((response) => {
          let data = response.data.data;
          if (data) {
            this.$store.commit('kiosks/SET_ACTIVE_KIOSK', data);
            if(data.favorites && data.favorites.length){
              let favs = data.favorites.sort((a,b) => {
                return a.position - b.position
              });
              this.$store.commit('favorites/SET_FAVORITES', favs);
            }
          }
          this.$router.push('/kiosk/launch');
          this.resetForm();
          this.setSuccessResponse('Successfully Logged.');
          this.isLoading = false;
        })
        .catch((err) => {
          let response = err.response.data;
          this.setErrorResponse(response.message, response.errors);
          this.isLoading = false;
        });
      }else{
        this.$v.$touch();
      }
    },
    resetForm() {
      this.form = {
        code: null,
      };
    },
    resetResponseMessages() {
      this.reqResponse = {
        type: "",
        message: "",
        errors: {}
      }
    },
    setSuccessResponse(message) {
      this.reqResponse = {type: 'success', message: message ? message : 'Success!', errors: {}};
    },
    setErrorResponse(message, errors) {
      this.reqResponse = {
        type: 'danger',
        message: message ? message : 'Someting went wrong!',
        errors: errors ? errors : {}
      };
    }
  }

}
</script>

<style>

</style>
