<template>
<div>
  <div @click="showModal"  class="position-relative rounded-panel px-4 py-3 mt-4" style="background-color:#b7b7b7;">
    <div class="d-flex justify-content-between align-items-center py-2 cursor-pointer">
      <b class="text-value-lg font-weight-light d-block rounded-panel-title text-white">
        Import Kiosk PW
        <HelpCenterButton width="16" height="16" _class="mr-2" contentKey="import_kiosk_password_user_menu"/>
      </b>
      <span class="d-flex align-items-center justify-content-center text-white rounded-circle p-2">
        <i class="flaticon-upload text-value-lg"></i>
      </span>
    </div>
  </div>
  <!-- Import Modal -->
  <CModal :show="isModalVisible"
          :closeOnBackdrop="false"
          class="ps__child--consume"
          size="xl">
    <template #header-wrapper>
      <div v-if="!welcomeScreen" class="d-flex justify-content-between align-items-center pt-4 px-5 pb-0 create-popup-header">
        <button type="button" class="btn mr-2 p-small bg-gradient-blue reverse" @click="cancelImport()">
          <span class="btn bg-white px-4"><b class="text-graident-blue reverse">{{uploadProgress == 100 ? 'Close' : 'Cancel Update'}}</b>
          </span>
        </button>

        <div class="flex-1" v-show="selectedKioskPW && !selectedKioskPW.length">
          <div role="alert" aria-live="polite" aria-atomic="true" class="mt-4 mx-3 alert alert-danger no-icon text-center">Please select records for the import.</div>
        </div>


        <div v-if="!reqResponse.message">
          <button :disabled="selectedKioskPW && !selectedKioskPW.length" class="btn bg-gradient-blue text-white" @click="finishImport()">{{'Import entries'}}</button>
        </div>
      </div>
      <div v-else class="pt-4 px-4 create-popup-header d-flex align-items-center justify-content-between">
        <div @click="isModalVisible = false, resetImportData()" class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span class="close-icon"></span></div>
      </div>
    </template>
    <Loader :isProcessing="isLoading" />
    <CContainer v-if="welcomeScreen" class="px-5 py-4">
      <CRow>
        <CCol md="12">
            <h2 class="text-center mb-4">Steps for importing Kiosk passwords via CSV upload</h2>
            <p>This import option allows schools to add Kiosk passwords to students via a Comma-Separated Values (CSV) file ( see <a href="/csv-samples/kiosksample.csv" download>sample file</a> ). The file must contain the exact column headers of “studentemail” and “password”. Each row must contain a student email and Kiosk password.</p>
            <p>
              1. Click Browse and find the prepared file.<br>
              2. Click Submit.<br>
            </p>
            <b class="d-block mb-3">
              Note: If the Kiosk import file contains an email address that is not currently in EHP, then that user's Kiosk password can't be updated.
            </b>
            <div>
              <div class="form-group">
                    <input
                     @click="openFileIpnut('csvKioskPWs')"
                    :class="{ 'is-invalid': reqResponse.errors['csv_file']}"
                    readonly
                    type="text"
                    class="form-control w-auto pr-5"
                   :value="params.file ? params.file.name : ''"/>
                   <div class="invalid-feedback" v-if="reqResponse.errors['csv_file']">{{reqResponse.errors['csv_file'][0]}}</div>
              </div>
              <CAlert v-if="reqResponse.message" class="flex-wrap" :color="reqResponse.type" :show="!!reqResponse.message">
                {{reqResponse.message}}
                <div class="w-100" v-if="reqResponse.errors">
                  <div v-for="(err, index) in reqResponse.errors" :key="index">
                    {{err[0]}}
                  </div>
                </div>
              </CAlert>
              <div class="cs-file-input"><div class="upload-btn">
                <i class="fi flaticon-upload mr-1"></i> BROWSE
              </div>
              <input @change="getFile" id="csvKioskPWs" type="file" class="form-control"></div>
              <div class="text-center mt-4 mb-2">
                <button v-if="params.file" @click="importKioskPWs" class="btn bg-gradient-blue text-white px-5">Submit</button>
              </div>
            </div>
        </CCol>
      </CRow>
    </CContainer>

    <CContainer v-else class="px-5 pt-3 pb-5">
      <CRow v-if="manageImportMode">

        <CCol md="12">
          <div class="status-guides-container d-flex justify-content-between px-2 align-items-center mb-2 mt-4">
            <div class="d-flex align-items-center">
              <input type="checkbox" v-model="selectAll" @change="toggleAllRecords($event.target.checked ? 1 : 0)" class="mr-2">
              select all
            </div>
            <div class="per-page-container d-flex align-items-end">
              <per-page-selector :action="setPerPage" :pagination="activePagination" :options="[{label:'5', value: '5'},{label:'10', value: '10'},{label:'20', value: '20'},{label:'50', value: '50'}]"/>
            </div>
          </div>
        </CCol>

        <CCol md="12" class="mt-0 overflow">
          <div v-if="kioskPasswords" class="imported-users-table">
            <DataTable
              id="importKioskPWSTable"
              class="datatable import-users bg-white"
              :items="kioskPasswords"
              :fields="dataTableFields"
              sorter
              @pages-change="onPagesChange"
              @update:column-filter-value="onTableSearch"
              @pagination-change="setPerPage"
              :items-per-page="parseInt(pagination.per_page.value)"
              :activePage="pagination.activePage"
              hover
              column-filter
              :noItemsView='{ noResults: "No items available", noItems: "No items available" }'>
            >
              <template #sorting-icon="{state}">
                <div class="table-order-icons">
                  <font-awesome-icon icon="caret-up" :class="[state=='desc'?'text-black':'text-black-50',]"/>
                  <font-awesome-icon icon="caret-down" :class="[state=='asc'?'text-black':'text-black-50']"/>
                </div>
              </template>
              <template #select="{item}">
                <td>
                  <input v-if="item.status && !item.passNotValidated || !item.status && item.passNotValidated" type="checkbox" @change="setMainToggle()" v-model="item.isSelected" class="mr-2 visible-record" :row="item.index">
                  <input v-else disabled type="checkbox" class="mr-2">
                </td>
              </template>

              <template #kiosk_password="{item}">
                <td>
                  <input @input="validatePassword($event.target.value, item)" :disabled="!item.status" :readonly="editableUser.id !== item.id" v-model="item.kiosk_password">
                </td>
              </template>

              <template #status="{item}">
                <td>
                  <div class="text-red" v-if="item.passNotValidated">
                    Password must be 4-6 characters
                  </div>
                  <div v-else :class="item.status ? 'text-green' : 'text-red'">
                    {{item.status ? 'Record accepted' : 'Email not recognized'}}
                  </div>
                </td>
              </template>

              <template #action="{item}">
                <td>
                  <div v-if="item.status">
                    <div v-if="editableUser.id !== item.id">
                      <button @click="setEditable(item)" class="btn btn-edit mr-2"><i class="flaticon-edit mr-1"></i> edit</button>
                    </div>
                    <div v-else>
                      <button @click="setEditable({})" class="btn btn-edit mr-2"><i class="flaticon-diskette mr-2"></i> save</button>
                    </div>
                  </div>
                </td>
              </template>
            </DataTable>

            <CPagination
              class="cs-pagination mt-4"
              :dots="false"
              :doubleArrows="true"
              v-if="pagination.pages > 1"
              :activePage.sync="pagination.activePage"
              :pages="pagination.pages"
              size="lg"
              align="center"
              @update:activePage="setActivePage"
              >
              <template #last-button>
                <i class="flaticon-right-arrow-1"></i>
              </template>
              <template #first-button>
                <i class="flaticon-left-arrow-2"></i>
              </template>
              <template #previous-button>
                <i class="fi flaticon-left-arrow-1"></i>
              </template>
              <template #next-button>
                <i class="fi flaticon-chevron"></i>
              </template>
            </CPagination>
            </div>
        </CCol>
      </CRow>

      <CRow v-else>
        <CCol md="12">
          <div>
            <h2 class="text-center mb-4">Your import is being processed.</h2>
            <CProgress :value="uploadProgress" size="sm" class="progress-gradient mb-2"/>
          </div>
          <CAlert v-if="reqResponse.message" class="mt-4 flex-wrap" :color="reqResponse.type" :show="!!reqResponse.message">
            {{reqResponse.message}}
            <div class="w-100" v-if="reqResponse.errors">
              <div v-for="(err, index) in reqResponse.errors" :key="index">
                {{err[0]}}
              </div>
            </div>
          </CAlert>
        </CCol>
      </CRow>
    </CContainer>
    <template #footer-wrapper>
      <div></div>
    </template>
  </CModal>


  </div>
</template>

<script>
import axios from 'axios';
import Loader from '@/components/Loader'
import PerPageSelector from '../PerPageSelector.vue';
import HelpCenterButton from '@/components/HelpCenterButton';

export default {
  name: "ImportKioskPW",
  data() {
    return {
      welcomeScreen: true,
      uploadProgress: 0,
      manageImportMode: true,
      reqResponse: {
        type: "",
        message: "",
        errors: {}
      },
      selectAll: true,
      isLoading: false,
      isModalVisible: false,
      pagination:{
        activePage: 1,
        total: 0,
        pages: 0,
        per_page: {value: 5, label: '5'}
      },
      kioskPasswords:[],
      params: {
        fileName: '',
        file: null
      },
      editableUser: {},
      dataTableFields: [
        {key: 'select', label: '', filter: false, sorter: false},
        {key: 'email', label: 'Email', _style:'max-width:110px'},
        {key: 'kiosk_password', label: 'Kiosk Password', _style:'max-width:110px'},
        {key: 'status', label: 'Status', filter: false},
        {key: 'action', label: 'Action', sorter: false, filter: false},
      ],
    }
  },
  components: {Loader, PerPageSelector, HelpCenterButton},
  computed: {
    tablePages(){
      let pages = this.kioskPasswords.length / this.pagination.per_page.value;
      let rounded = Math.round(pages);
      return Math.round(pages > rounded ? rounded + 1 : rounded);
    },
    selectedKioskPW(){
      return this.kioskPasswords.filter(pass => pass.isSelected);
    },
    activePagination(){
      return {
        per_page: this.pagination.per_page,
        total: this.kioskPasswords.length,
        to: this.pagination.per_page.value,
        from: this.pagination.per_page.value > this.kioskPasswords.length ? this.kioskPasswords.length : this.pagination.per_page.value
      }
    }
  },
  methods: {
    finishImport() {
      this.manageImportMode = false;
      let data = this.selectedKioskPW.filter(pass => pass.status);
      if(data.length){
        let config = {
          onUploadProgress: progressEvent => {
            this.uploadProgress = Math.floor((progressEvent.loaded * 100) / progressEvent.total);
          }
        };
        axios.post(`/admin/users/imports/kiosk/${this.params.fileName}/final`, {user_passwords_and_emails: data}, config)
        .then(response => {
          setTimeout(() => {
            this.setSuccessResponse(response.data.status ? response.data.status : 'Successfully imported!');
          }, 1500);
        })
        .catch(err => {
          let response = err.response.data;
          this.setErrorResponse(response.message, response.errors);
        })
      }else{

      }
    },
    cancelImport() {
      if(this.uploadProgress == 100 || window.confirm("Are you sure you want to cancel import?")){
        this.isModalVisible = false;
        setTimeout(() => {
          this.resetImportData();
        }, 500);
      }
    },
    getFile(event){
      let files = event.target.files;
      if(files && files.length){
        this.params.file = files[0];
        event.target.value = "";
      }
    },
    importKioskPWs() {
      if(this.params.file){
        this.isLoading = true;
        let data = new FormData();
        data.append("csv_file", this.params.file);
        this.$store.dispatch('kiosks/importKioskPWs', data)
        .then(response => {
          this.welcomeScreen = false;
          let data = response.data;
          if(data && data.file_name){
            this.params.fileName = data.file_name;
            let passwords = data.data;
            if(passwords && passwords.data){
              this.kioskPasswords = passwords.data.map((pass, index) => {
                pass.isSelected = !!pass.status;
                pass.index = index;
                return pass
              });
            }
          }
          this.isLoading = false;
        })
        .catch((err) => {
          this.isLoading = false;
          let response = err.response.data;
          this.setErrorResponse(response.message, response.errors);
        });
      }
    },
    setEditable(item) {
      this.editableUser = item;
    },
    toggleAllRecords(value){
      let table = document.getElementById('importKioskPWSTable');
      let visibleItems = table.getElementsByClassName('visible-record');
      for (let i = 0; i < visibleItems.length; i++) {
        const itemIndex = visibleItems[i].getAttribute('row');
        if(itemIndex && this.kioskPasswords[itemIndex]){
          this.kioskPasswords[itemIndex].isSelected = !!(value && this.kioskPasswords[itemIndex].status && !this.kioskPasswords[itemIndex].passNotValidated);
        }
      }
      // this.kioskPasswords.map(pass => pass.isSelected = !!(value && pass.status && !pass.passNotValidated));
    },
    setPerPage(value){
      this.pagination.per_page = value;
      this.setActivePage(1);
    },
    setActivePage(value){
      this.pagination.activePage = value;
    },
    setMainToggle(){
      this.selectAll = this.selectedKioskPW.length === this.kioskPasswords.length;
    },
    resetImportData(){
      this.resetResponseMessages();
      this.welcomeScreen = true;
      this.manageImportMode = true;
      this.uploadProgress = 0;
      this.select = true;
      this.currentStep = 1;
      this.pagination = {
        activePage: 1,
        total: 0,
        pages: 0,
        per_page: {value: 5, label: '5'}
      };
      this.params = {
        fileName: '',
        file: null
      };
      this.kioskPasswords = [];
      this.editableUser = {};
    },
    resetResponseMessages() {
      this.reqResponse = {
        type: "",
        message: "",
        errors: {}
      }
    },
    setSuccessResponse(message) {
      this.reqResponse = {type: 'success', message: message ? message : 'Success!', errors: {}};
    },
    setErrorResponse(message, errors) {
      this.reqResponse = {
        type: 'danger',
        message: message ? message : 'Someting went wrong!',
        errors: errors ? errors : {}
      };
    },
    showModal(event){
      if(event.target.classList && event.target.classList.value !== ''){
        this.isModalVisible = true;
      }
    },
    openFileIpnut(inputId){
      if(inputId){
        document.getElementById(inputId).click();
      }
    },
    validatePassword(value, item){
      let pass = value.replace(/\s/g, '');
      item.kiosk_password = pass;
      item.passNotValidated = !(!!(pass && pass.length < 7 && pass.length > 3));
      item.isSelected = !item.passNotValidated;
    },
    onTableSearch(){
      this.setActivePage(1);
    },
    onPagesChange(val){
      this.pagination.pages = val;
    }
  }
}
</script>
