<template>
  <div>
    <div
      @click="showModal"
      class="position-relative rounded-panel px-4 py-3 mt-4"
      style="background-color:#b7b7b7;"
    >
      <div
        class="d-flex justify-content-between align-items-center py-2 cursor-pointer"
      >
        <b
          class="text-value-lg font-weight-light d-block rounded-panel-title text-white"
        >
          Import Users
          <HelpCenterButton
            width="16"
            height="16"
            _class="mr-2"
            contentKey="import_users_user_menu"
          />
        </b>
        <span
          class="d-flex align-items-center justify-content-center text-white rounded-circle p-2"
        >
          <i class="flaticon-upload text-value-lg"></i>
        </span>
      </div>
    </div>

    <!-- Import Modal -->
    <CModal
      :show="isModalVisible"
      :closeOnBackdrop="false"
      class="ps__child--consume"
      size="xl"
    >
      <template #header-wrapper>
        <div
          class="pt-4 px-4 create-popup-header d-flex align-items-center justify-content-between"
        >
          <div
            @click="(isModalVisible = false), resetImportData()"
            class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"
          >
            <span class="close-icon"></span>
          </div>
        </div>
      </template>
      <Loader :isProcessing="isLoading" />
      <CContainer class="px-5 py-4">
        <CRow>
          <CCol md="12">
            <h2>Steps for adding users by CSV upload</h2>
            <p>
              This import option allows schools to provision users by loading a
              Comma-Separated Values (CSV) file. The file can contain a first
              name, last name, email and role for all users. Only administrators
              are capable of using this method of user provisioning.
            </p>
            <p>
              1. Click Browse and locate the prepared user CSV file.<br />
              2. Click Submit.<br />
            </p>
            <p>
              Here is a sample CSV user file in the required format:
              <a href="/csv-samples/users-import-sample.csv" download
                >CSV File Format</a
              >. If the CSV doesn't contain the role column or the system won't
              identify the role column, then a screen will come up that says
              “Please select role” or “Please select the option to map it with
              column."
            </p>
            <p>
              Once you upload the file the system will report the number of
              successful or failed entries imported. If there are errors
              reported, review the message and repair the file as instructed.
              Successful users will be imported and visible under the Main
              Users.
            </p>
            <div>
              <div class="form-group">
                <input
                  @click="openFileIpnut('csvUsers')"
                  :class="{
                    'is-invalid': Object.keys(reqResponse.errors).length > 0
                  }"
                  readonly
                  type="text"
                  class="form-control w-auto pr-5"
                  :value="params.file ? params.file.name : ''"
                />
                <div
                  class="invalid-feedback"
                  v-if="reqResponse.errors['email']"
                >
                  {{ reqResponse.errors["email"][0] }}
                </div>
                <div
                  class="invalid-feedback"
                  v-if="reqResponse.errors['firstname']"
                >
                  {{ reqResponse.errors["firstname"][0] }}
                </div>
                <div
                  class="invalid-feedback"
                  v-if="reqResponse.errors['lastname']"
                >
                  {{ reqResponse.errors["lastname"][0] }}
                </div>
                <div class="invalid-feedback" v-if="reqResponse.errors['role']">
                  {{ reqResponse.errors["role"][0] }}
                </div>
                <div
                  class="invalid-feedback"
                  v-if="reqResponse.errors['status']"
                >
                  {{ reqResponse.errors["status"][0] }}
                </div>
                <div
                  class="invalid-feedback"
                  v-if="reqResponse.errors['csv_file']"
                >
                  {{ reqResponse.errors["csv_file"][0] }}
                </div>
              </div>
              <CAlert
                v-if="reqResponse.message"
                class="flex-wrap"
                :color="reqResponse.type"
                :show="!!reqResponse.message"
              >
                {{ reqResponse.message }}
                <div class="w-100" v-if="reqResponse.errors">
                  <div v-for="(err, index) in reqResponse.errors" :key="index">
                    {{ err[0] }}
                  </div>
                </div>
              </CAlert>
              <div class="cs-file-input">
                <div class="upload-btn">
                  <i class="fi flaticon-upload mr-1"></i> BROWSE
                </div>
                <input
                  @change="getFile"
                  id="csvUsers"
                  type="file"
                  class="form-control"
                />
              </div>

              <div class="text-center mt-4 mb-2">
                <button
                  v-if="params.file"
                  @click="importUsers"
                  class="btn bg-gradient-blue text-white px-5"
                >
                  Submit
                </button>
              </div>
            </div>
          </CCol>
        </CRow>
      </CContainer>
      <template #footer-wrapper>
        <div></div>
      </template>
    </CModal>
    <!-- Faild users modal -->
    <CModal
      :show.sync="showSuccessModal"
      v-if="showSuccessModal"
      :closeOnBackdrop="false"
    >
      <template #header-wrapper>
        <div class="pt-4 px-4 create-popup-header">
          <div
            @click="showSuccessModal = false"
            class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"
          >
            <span class="close-icon"></span>
          </div>
        </div>
      </template>
      <CContainer class="px-5 py-4">
        <CRow>
          <CCol md="12">
            <h3>
              Your file has been submitted click
              <router-link to="/file-uploads">HERE</router-link> to be
              redirected to the file processing screen
            </h3>
          </CCol>
        </CRow>
      </CContainer>
      <template #footer-wrapper><div></div></template>
    </CModal>
  </div>
</template>

<script>
import RequestErrorsHandler from "@/mixins/RequestErrorsHandler";
import HelpCenterButton from "@/components/HelpCenterButton";
import Loader from "@/components/Loader";

export default {
  name: "UsersImport",
  mixins: [RequestErrorsHandler],
  components: { Loader, HelpCenterButton },
  data() {
    return {
      reqResponse: {
        type: "",
        message: "",
        errors: {}
      },
      isLoading: false,
      isModalVisible: false,
      params: {
        auth_type: null,
        fileName: "",
        file: null
      },
      showSuccessModal: false
    };
  },
  methods: {
    getFile(event) {
      let files = event.target.files;
      if (files && files.length) {
        this.params.file = files[0];
        event.target.value = "";
      }
    },
    showModal(event) {
      if (event.target.classList && event.target.classList.value !== "") {
        this.isModalVisible = true;
      }
    },
    importUsers() {
      if (this.params.file) {
        this.isLoading = true;
        let data = new FormData();
        data.append("csv_file", this.params.file);
        this.resetResponseMessages();
        this.$store
          .dispatch("usersImport/importUsers", data)
          .then(response => {
            let data = response.data.data;
            if (data && data.file_name) {
              this.params.fileName = data.file_name;
              this.isModalVisible = false;
              this.showSuccessModal = true;
            }
            this.isLoading = false;
          })
          .catch(err => {
            this.isLoading = false;
            let response = err.response.data;
            this.setErrorResponse(response.message, response.errors);
          });
      }
    },
    openFileIpnut(inputId) {
      document.getElementById(inputId).click();
    },
    resetResponseMessages() {
      this.reqResponse = {
        type: "",
        message: "",
        errors: {}
      };
    },
    resetImportData() {
      this.resetResponseMessages();
      this.params = {
        auth_type: null,
        fileName: "",
        file: null
      };
    }
  }
};
</script>

<style></style>
