<template>
<div>
  <div @click="showModal" class="position-relative rounded-panel px-4 py-3 mt-4" style="background-color:#b7b7b7;">
    <div class="d-flex justify-content-between align-items-center py-2 cursor-pointer">
      <b class="text-value-lg font-weight-light d-block rounded-panel-title text-white">
        Import Users
        <HelpCenterButton width="16" height="16" _class="mr-2" contentKey="import_users_user_menu"/>
      </b>
      <span class="d-flex align-items-center justify-content-center text-white rounded-circle p-2">
        <i class="flaticon-upload text-value-lg"></i>
      </span>
    </div>
  </div>


  <!-- Import Modal -->
  <CModal :show="isModalVisible"
          :closeOnBackdrop="false"
          class="ps__child--consume"
          size="xl">
    <template #header-wrapper>
      <div v-if="!welcomeScreen" class="d-flex justify-content-between align-items-center pt-4 px-5 pb-0 create-popup-header">
        <button type="button" class="btn mr-2 p-small bg-gradient-blue reverse" @click="cancelImport()">
          <span class="btn bg-white px-3"><b class="text-graident-blue reverse">{{uploadProgress == 100 ? 'Close' : 'Cancel Update'}}</b>
          </span>
        </button>

        <div class="flex-1" v-show="currentStep === 3 && manageImportMode">
          <div role="alert" aria-live="polite" aria-atomic="true" class="mt-4 mx-3 alert alert-danger no-icon text-center">Unchecking users on this screen will automatically make them archive and they will not be able to log into e-hallpass. </div>
        </div>


        <div class="d-flex align-items-center">
          <div v-if="failedUsers && failedUsers.length" class="mr-2">
            <!-- showFailedUsersModal -->
            <button @click="showFailedUsersModal=true" class="btn px-2 d-flex align-items-center"
            v-c-tooltip="{
                        content: `System found ${failedUsers.length} incomplete/wrong entry while processing file. Click here for detail.`,
                        placement: 'left'
                      }">
            <span class="flaticon-information-circle mr-1"></span>  Incomplete data
            </button>
          </div>

          <div v-if="!reqResponse.message">
            <button class="btn bg-gradient-blue text-white px-5" @click="setStep()" v-if="currentStep !== 3">Next</button>
            <button class="btn bg-gradient-blue text-white" @click="finishImport()" v-else>{{manageImportMode ? 'Update' : 'Import entries'}}</button>
          </div>
        </div>


      </div>
      <div v-else class="pt-4 px-4 create-popup-header d-flex align-items-center justify-content-between">
        <div @click="isModalVisible = false, resetImportData()" class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span class="close-icon"></span></div>
      </div>
    </template>
    <Loader :isProcessing="isLoading" />
    <CContainer v-if="welcomeScreen" class="px-5 py-4">
      <CRow>
        <CCol md="12">
            <h2>Steps for adding users by CSV upload</h2>
            <p>This import option allows schools to provision users by loading a Comma-Separated Values (CSV) file. The file can contain a first name, last name, email and role for all users. Only administrators are capable of using this method of user provisioning.</p>
            <p>
              1. Click Browse and locate the prepared user CSV file.<br>
              2. Click Submit.<br>
            </p>
            <p>
              Here is a sample CSV user file in the required format: <a href="/csv-samples/users-import-sample.csv" download>CSV File Format</a>.
              If the CSV doesn't contain the role column or the system won't identify the role column, then a screen will come up that says “Please select role” or “Please select the option to map it with column."
            </p>
            <p>
              Once you upload the file the system will report the number of successful or failed entries imported. If there are errors reported, review the message and repair the file as instructed. Successful users will be imported and visible under the Main Users.
            </p>
            <div>
              <div class="form-group">
                    <input
                    @click="openFileIpnut('csvUsers')"
                    :class="{ 'is-invalid':  Object.keys(reqResponse.errors).length > 0}"
                    readonly
                    type="text"
                    class="form-control w-auto pr-5"
                   :value="params.file ? params.file.name : ''"/>
                  <div class="invalid-feedback" v-if="reqResponse.errors['email']">{{reqResponse.errors['email'][0]}}</div>
                  <div class="invalid-feedback" v-if="reqResponse.errors['firstname']">{{reqResponse.errors['firstname'][0]}}</div>
                  <div class="invalid-feedback" v-if="reqResponse.errors['lastname']">{{reqResponse.errors['lastname'][0]}}</div>
                  <div class="invalid-feedback" v-if="reqResponse.errors['role']">{{reqResponse.errors['role'][0]}}</div>
                  <div class="invalid-feedback" v-if="reqResponse.errors['status']">{{reqResponse.errors['status'][0]}}</div>
                  <div class="invalid-feedback" v-if="reqResponse.errors['csv_file']">{{reqResponse.errors['csv_file'][0]}}</div>
              </div>
              <CAlert v-if="reqResponse.message" class="flex-wrap" :color="reqResponse.type" :show="!!reqResponse.message">
                {{reqResponse.message}}
                <div class="w-100" v-if="reqResponse.errors">
                  <div v-for="(err, index) in reqResponse.errors" :key="index">
                    {{err[0]}}
                  </div>
                </div>
              </CAlert>
              <div class="cs-file-input"><div class="upload-btn">
                <i class="fi flaticon-upload mr-1"></i> BROWSE
              </div>
              <input @change="getFile" id="csvUsers" type="file" class="form-control"></div>
              <div class="text-center mt-4 mb-2">
                <button v-if="params.file" @click="importUsers" class="btn bg-gradient-blue text-white px-5">Submit</button>
              </div>
            </div>
        </CCol>
      </CRow>
    </CContainer>

    <CContainer v-else class="px-5 pt-3 mb-5">
      <CRow v-if="manageImportMode">
        <CCol md="4">
          <div class="btn mr-2 p-small bg-gradient-blue reverse w-100" @click="setStep(1)">
            <div class="btn px-4 w-100 bg-white" :class="{ 'bg-gradient-blue text-white': currentStep == 1}"><b class="text-graident-blue reverse">New {{selected_newUsers}} / {{usersTable.newUsers.length}}</b>
            </div>
          </div>
        </CCol>
        <CCol md="4">
          <div class="btn mr-2 p-small bg-gradient-blue reverse w-100" @click="setStep(2)">
            <div class="btn px-4 w-100 bg-white" :class="{ 'bg-gradient-blue text-white': currentStep == 2}"><b class="text-graident-blue reverse">Existing {{selected_existingUsers}} / {{ usersTable.existingUsers.length }}</b>
            </div>
          </div>
        </CCol>
        <CCol md="4">
          <div class="btn mr-2 p-small bg-gradient-blue reverse w-100" @click="setStep(3)">
            <div class="btn px-4 w-100 bg-white" :class="{ 'bg-gradient-blue text-white': currentStep == 3}"><b class="text-graident-blue reverse">Missing in uploaded file {{ usersTable.missingUsers.length }}</b>
            </div>
          </div>
        </CCol>

        <CCol md="12" class="mt-4" v-show="currentStep === 1">
          <p class="mb-2">Select the Authentication method of these users:</p>
          <CInputRadioGroup
            :options="authTypeOptions"
            :checked.sync="params.auth_type"
            :custom="true"
          />
        </CCol>

        <CCol md="12">
          <div class="status-guides-container d-flex justify-content-between px-2 align-items-center mb-2 mt-4">
            <div class="d-flex align-items-center">
              <input type="checkbox" v-model="select[activeUsersKey]" @change="toggleAllUsers($event.target.checked ? 1 : 0)" class="mr-2">
              select all
            </div>
            <div class="per-page-container d-flex align-items-end">
              <per-page-selector :action="setPerPage" :pagination="pagination" :options="[{label:'5', value: '5'},{label:'10', value: '10'},{label:'20', value: '20'},{label:'50', value: '50'}]"/>
            </div>
          </div>
        </CCol>

        <CCol md="12" class="mt-0 overflow">
          <div v-if="usersTable[activeUsersKey]" class="imported-users-table">
            <DataTable
              ref="usersImportTable"
              id="importUsersTable"
              class="datatable import-users bg-white"
              :items="usersTable[activeUsersKey]"
              :fields="dataTableFields"
              sorter
              @pages-change="onPagesChange"
              @pagination-change="setPerPage"
              :items-per-page="parseInt(pagination.per_page.value)"
              :activePage="pagination.activePage"
              hover
              column-filter
              @update:column-filter-value="onTableSearch"
              :noItemsView='{ noResults: "No items available", noItems: "No items available" }'>
            >
              <template #sorting-icon="{state}">
                <div class="table-order-icons">
                  <font-awesome-icon icon="caret-up" :class="[state=='desc'?'text-black':'text-black-50',]"/>
                  <font-awesome-icon icon="caret-down" :class="[state=='asc'?'text-black':'text-black-50']"/>
                </div>
              </template>
              <template #select="{item, index}">
                <td>
                  <input type="checkbox" v-model="item.isSelected" :row="item.index" @change="setMainToggle($event.target.checked ? 1 : 0, index, item)" class="mr-2 visible-record">
                </td>
              </template>

              <template #first_name="{item}">
                <td>
                  <input :readonly="editableUser.id !== item.id" v-model="item.first_name">
                </td>
              </template>

              <template #last_name="{item}">
                <td>
                  <input :readonly="editableUser.id !== item.id" v-model="item.last_name">
                </td>
              </template>

              <template #role="{item}">
                <td>
                  <v-select
                    class="ps__child--consume"
                    v-model="item.role"
                    :options="rolesOptions"
                    :clearable="false"
                    :autoscroll="false"
                    :closeOnSelect="true"
                    :filterable="false"
                    :disabled="editableUser.id !== item.id"
                    :reduce="item => item.value"
                    />
                </td>
              </template>

              <template #status="{item}">
                <td>
                  <v-select
                    class="ps__child--consume"
                    v-model="item.status"
                    :options="statusOptions"
                    :clearable="false"
                    :autoscroll="false"
                    :closeOnSelect="true"
                    :filterable="false"
                    :disabled="editableUser.id !== item.id"
                    :reduce="item => item.value"
                    />
                </td>
              </template>

              <template #grade_year="{item}">
                <td>
                  <input :readonly="editableUser.id !== item.id" v-model="item.grade_year">
                </td>
              </template>

              <template #action="{item}">
                <td v-if="isTableEditable">
                  <div v-if="editableUser.id !== item.id">
                    <button @click="setEditable(item)" class="btn btn-edit mr-2"><i class="flaticon-edit mr-1"></i> edit</button>
                  </div>
                  <div v-else>
                    <button @click="setEditable({}), item.isEdited = true" class="btn btn-edit mr-2"><i class="flaticon-diskette mr-2"></i> save</button>
                  </div>
                </td>
              </template>
            </DataTable>

            <CPagination
              class="cs-pagination mt-4"
              v-if="pagination.pages > 1"
              :dots="false"
              :doubleArrows="true"
              :activePage.sync="pagination.activePage"
              :pages="pagination.pages"
              size="lg"
              align="center"
              @update:activePage="setActivePage"
              >
              <template #last-button>
                <i class="flaticon-right-arrow-1"></i>
              </template>
              <template #first-button>
                <i class="flaticon-left-arrow-2"></i>
              </template>
              <template #previous-button>
                <i class="fi flaticon-left-arrow-1"></i>
              </template>
              <template #next-button>
                <i class="fi flaticon-chevron"></i>
              </template>
            </CPagination>
            </div>
        </CCol>
      </CRow>

      <CRow v-else>
        <CCol md="12">
          <div>
            <h2 class="text-center mb-4">Your import is being processed.</h2>
            <CProgress :value="uploadProgress" size="sm" class="progress-gradient mb-2"/>
            <p>{{importStats.total}} Total Entries</p>
            <p>{{importStats.edited}} Updated Entries out of {{importStats.total}}</p>
            <p>{{importStats.inactive}} Inactive Users</p>
            <p>{{Math.round(importStats.percentInactive, 2)}}% of inactive Users</p>
            <p>{{importStats.new}} new entries out of {{importStats.total}}</p>
            <p>{{importStats.faild}} rows with incomplete data, not imported</p>
          </div>
          <CAlert v-if="reqResponse.message" class="mt-4" :color="reqResponse.type" :show="!!reqResponse.message">
              <div class="d-flex flex-column">
                <div>{{reqResponse.message}}</div>
                <div v-if="reqResponse.errors">
                  <div v-for="(err, index) in reqResponse.errors" :key="index">
                    {{err[0]}}
                  </div>
                </div>
              </div>
          </CAlert>
        </CCol>
      </CRow>
    </CContainer>

  <!-- Faild users modal -->
  <CModal
      :show.sync="showFailedUsersModal"
      v-if="showFailedUsersModal"
      :closeOnBackdrop="false">
      <template #header-wrapper>
        <div class="pt-4 px-4 create-popup-header">
          <div @click="showFailedUsersModal=false" class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span class="close-icon"></span></div>
        </div>
      </template>
      <div v-if="failedUsers">
        <div class="px-4 pb-4">
          <h3 class="mb-4">Incomplete Data</h3>
            <DataTable
              class="datatable bg-white"
              :items="failedUsers"
              :fields="failedUsersFields"
            >
            </DataTable>
        </div>
      </div>
      <template #footer-wrapper><div></div></template>
    </CModal>
    <template #footer-wrapper>
      <div></div>
    </template>
  </CModal>



  </div>
</template>

<script>
import axios from 'axios';
import Loader from '@/components/Loader'
import PerPageSelector from '../PerPageSelector.vue';
import RequestErrorsHandler from "@/mixins/RequestErrorsHandler";
import HelpCenterButton from '@/components/HelpCenterButton';

export default {
  name: "UsersImport",
  data() {
    return {
      welcomeScreen: true,
      uploadProgress: 0,
      manageImportMode: true,
      showFailedUsersModal: false,
      importStats: {},
      reqResponse: {
        type: "",
        message: "",
        errors: {}
      },
      select: {
        newUsers: true,
        existingUsers: true,
        missingUsers: true,
      },
      isLoading: false,
      isModalVisible: false,
      currentStep: 1,
      pagination:{
        activePage: 1,
        total: 0,
        pages: 0,
        per_page: {value: 5, label: '5'}
      },
      failedUsers: [],
      usersTable:{
        newUsers: [],
        existingUsers: [],
        missingUsers: [],
      },
      authTypeOptions:[
        { value: 'manual', label: 'Manual'},
        { value: 'google', label: 'Google'},
        { value:'office365', label: 'Office 365'}
      ],
      params: {
        auth_type: null,
        fileName: '',
        file: null
      },
      editableUser: {},
      rolesOptions: [
          {
            label: 'System',
            value: 'system'
          },
          {
            label: 'Student',
            value: 'student'
          },
          {
            label: 'Admin',
            value: 'admin'
          },
          {
            label: 'Teacher',
            value: 'teacher'
          },
          {
            label: 'Staff',
            value: 'staff'
          },
          {
            label: 'Super Admin',
            value: 'super admin'
          }
      ],
      statusOptions: [
        {
          label: "Active",
          value: 'active',
        },
        {
          label: 'Archived',
          value: 'archived'
        }
      ],
      dataTableFields: [
        {key: 'select', label: '', filter: false, sorter: false},
        {key: 'first_name', label: 'First Name', _style:'max-width:110px'},
        {key: 'last_name', label: 'Last Name', _style:'max-width:110px'},
        {key: 'email', label: 'Email'},
        {key: 'status', label: 'Status'},
        {key: 'role', label: 'Role'},
        {key: 'grade_year', label: 'Grad Year', _style:'max-width: 90px'},
        {key: 'action', label: 'Action', sorter: false, filter: false},
      ],
      failedUsersFields: [
        {key: 'first_name', label: 'First Name', _style:'max-width:110px'},
        {key: 'last_name', label: 'Last Name', _style:'max-width:110px'},
        {key: 'email', label: 'Email'},
      ]
    }
  },
  components: {Loader, PerPageSelector, HelpCenterButton},
  mixins: [RequestErrorsHandler],
  watch:{
      dataTableUsers: function() {
        this.updatePerPageInfo();
      }
  },
  computed: {
    activeUsersKey(){
      return Object.keys(this.usersTable)[this.currentStep-1] ? Object.keys(this.usersTable)[this.currentStep-1] : 'none';
    },
    dataTableUsers() {
      return this.usersTable[this.activeUsersKey] ? this.usersTable[this.activeUsersKey] : [];
    },
    selected_newUsers(){
      return this.usersTable.newUsers.filter(user => user.isSelected).length;
    },
    selected_existingUsers(){
      return this.usersTable.existingUsers.filter(user => user.isSelected).length;
    },
    selected_missingUsers(){
      return this.usersTable.missingUsers.filter(user => user.isSelected).length;
    },
    isTableEditable(){
      return this.activeUsersKey !== 'missingUsers';
    },
    showingRecords(){
      return this.pagination.per_page.value;
    }
  },
  created() {
    this.params.auth_type = this.authTypeOptions[0].value;
  },
  methods: {
    setStep(step) {
      this.setActivePage(1);
      this.cleanTable();
      if (this.currentStep < 3) {
        this.currentStep++;
      }
      if (step) {
        this.currentStep = step;
      }
    },
    finishImport() {
      if(!this.manageImportMode){
        let data = {
          authType: this.params.auth_type,
          fileName: this.params.fileName,
          users:this.usersTable.newUsers.concat(this.usersTable.existingUsers, this.usersTable.missingUsers)
        };
        data.users = data.users.filter(user => user.isSelected || !user.file_name);
        let config = {
          onUploadProgress: progressEvent => {
            this.uploadProgress = Math.floor((progressEvent.loaded * 100) / progressEvent.total);
          }
        };
        //importFinal
        axios.post(`/admin/users/imports/final`, data, config)
        .then(response => {
          setTimeout(() => {
            this.setSuccessResponse('Successfully imported!');
          }, 1500);
        })
        .catch(err => {
          let response = err.response.data;
          this.setErrorResponse(response.message, response.errors);
        })


      }else{
        let allUsers = this.usersTable.newUsers.concat(this.usersTable.existingUsers);
        let inactiveUsers = allUsers.filter(user => user.status === 'archived');
        this.importStats = {
          total: allUsers.length,
          inactive: inactiveUsers.length,
          percentInactive: (100 * inactiveUsers.length) / allUsers.length,
          edited: allUsers.filter(user => user.isEdited).length,
          new: this.usersTable.newUsers.length,
          faild: this.failedUsers.length
        }
        this.manageImportMode = false;
      }
    },
    cancelImport() {
      if(this.uploadProgress == 100 || window.confirm("Are you sure you want to cancel import?")){
        this.isModalVisible = false;
        setTimeout(() => {
          this.resetImportData();
        }, 500);
      }
    },
    getFile(event){
      let files = event.target.files;
      if(files && files.length){
        this.params.file = files[0];
        event.target.value = "";
      }
    },
    importUsers() {
      if(this.params.file){
        this.isLoading = true;
        let data = new FormData();
        data.append("csv_file", this.params.file);
        this.resetResponseMessages();
        this.$store.dispatch('usersImport/importUsers', data)
        .then(response => {
          this.welcomeScreen = false;
          let data = response.data.data;
          if(data && data.file_name){
            this.params.fileName = data.file_name;
            this.showSuccessModal = true;
          }else{
            this.isLoading = false;
          }
        })
        .catch((err) => {
          this.isLoading = false;
          let response = err.response.data;
          this.setErrorResponse(response.message, response.errors);
        });
      }
    },
    getImportUsers(fileName) {
      this.$store.dispatch('usersImport/getImportInformation', {fileName})
      .then((response) => {
        let data = response.data.data;
        if (data) {
          data.forEach(user => {
            user.isSelected = true;
            if(user.is_failed){
              this.failedUsers.push(user);
            }else{
              if(!user.inserted && !user.exist){
                user.index = this.usersTable.newUsers.length;
                this.usersTable.newUsers.push(user);
              }
              if(!user.inserted && user.exist){
                user.index = this.usersTable.existingUsers.length;
                this.usersTable.existingUsers.push(user);
              }
              if(!user.file_name){
                user.index = this.usersTable.missingUsers.length;
                user.isSelected = user.status === 'active';
                this.usersTable.missingUsers.push(user);
              }
            }
          });
          this.updatePerPageInfo();
          this.isLoading = false;
        }
      });
    },
    setEditable(item) {
      this.editableUser = item;
    },
    toggleAllUsers(value){
      let table = document.getElementById('importUsersTable');
      let visibleItems = table.getElementsByClassName('visible-record');
      for (let i = 0; i < visibleItems.length; i++) {
        const itemIndex = visibleItems[i].getAttribute('row');
          if(itemIndex && this.usersTable[this.activeUsersKey][itemIndex]){
            if(this.activeUsersKey == 'missingUsers'){
              this.usersTable[this.activeUsersKey][itemIndex].status = value ? 'active' : 'archived';
            }
            this.usersTable[this.activeUsersKey][itemIndex].isSelected = value;
          }
      }
    },
    setPerPage(value){
      this.pagination.per_page = value;
      this.setActivePage(1);
      this.updatePerPageInfo();
    },
    updatePerPageInfo(){
      this.pagination.total = this.dataTableUsers.length;
      this.pagination.from = this.pagination.per_page.value
      this.pagination.to = this.pagination.per_page.value;
    },
    setActivePage(value){
      this.pagination.activePage = value;
    },
    setMainToggle(value, index, item){
      setTimeout(() => {
        if(this.activeUsersKey == 'missingUsers'){
          item.status = value ? 'active' : 'archived';
        }
      }, 200);
      this.select[this.activeUsersKey] = this.usersTable[this.activeUsersKey].length === this['selected_' + this.activeUsersKey];
    },
    resetImportData(){
      this.resetResponseMessages();
      this.welcomeScreen = true;
      this.manageImportMode = true;
      this.uploadProgress = 0;
      this.select =  {
        newUsers: true,
        existingUsers: true,
        missingUsers: true,
      };
      this.currentStep = 1;
      this.pagination = {
        activePage: 1,
        total: 0,
        pages: 0,
        per_page: {value: 5, label: '5'}
      };
      this.usersTable = {
        newUsers: [],
        existingUsers: [],
        missingUsers: [],
      };
      this.failedUsers = [];
      this.params = {
        auth_type: this.authTypeOptions[0].value,
        fileName: '',
        file: null
      };
      this.editableUser = {};
    },
    resetResponseMessages() {
      this.reqResponse = {
        type: "",
        message: "",
        errors: {}
      }
    },
    setSuccessResponse(message) {
      this.reqResponse = {type: 'success', message: message ? message : 'Success!', errors: {}};
    },
    setErrorResponse(message, errors) {
      this.reqResponse = {
        type: 'danger',
        message: message ? message : 'Someting went wrong!',
        errors: errors ? errors : {}
      };
    },
    showModal(event){
      if(event.target.classList && event.target.classList.value !== ''){
        this.isModalVisible = true;
      }
    },
    openFileIpnut(inputId){
      document.getElementById(inputId).click();
    },
    onTableSearch(){
      this.setActivePage(1);
    },
    onPagesChange(val){
      this.pagination.pages = val;
    },
    cleanTable(){
      if(this.$refs.usersImportTable){
        this.$refs.usersImportTable.clean();
      }
    }
  }
}
</script>
