<template>
  <CContainer fluid class="appointment-pass-view datatable-container mb-5">
    <Loader :isProcessing="isLoading" />
    <CRow class="mt-5">
      <CCol md="12">
        <div class="table-tabs-header mb-2 bg-white d-flex align-items-center justify-content-between px-0 px-sm-2 flex-column flex-sm-row">
          <div class="tabs d-flex w-100">
            <div v-for="(tab, index) in tableTabs" :key="index" class="flex-grow-1 flex-sm-grow-0">
              <div class="table-tab" :class="{'active' : tab.value === activeTableTab.value}" @click="setActiveTableTab(tab)">{{tab.label}}</div>
            </div>
          </div>
          <div class="actions d-flex align-items-center py-3 px-2 py-sm-0 px-sm-0">
            <CButton @click="toggleAppPassUpdates" v-show="isActiveAppointmentCreated" class="py-1 px-2 py-sm-2 px-sm-3 mr-4 btn btn-inactive">
              <span class="d-flex align-items-center"><i class="fi flaticon-pause mr-2"></i>Pause Update</span>
            </CButton>
            <CButton @click="toggleAppPassUpdates" v-show="!isActiveAppointmentCreated" class="py-2 px-3 mr-4 btn bg-gradient-blue text-white">
              <span class="d-flex align-items-center"><i class="fi flaticon-play mr-2"></i>Resume Update</span>
            </CButton>
            <div
              @click="handleAppointmentPasses(1,true)"
              class="lh-normal text-accent-blue-light cursor-pointer">
              <i class="fi flaticon-download mr-1"></i> <span class="d-none d-md-inline-block">Download CSV</span>
            </div>
            <CInput
              class="search-field mb-0 ml-2 ml-md-4"
              placeholder="Search..."
              :value.sync="columnSearchKeys.globalQuery"
              @input="searchByQuery">
             <template #prepend-content><div><i class="flaticon-magnifying-glass"></i></div></template>
            </CInput>
          </div>
        </div>
        <div class="status-guides-container mb-2 flex-wrap">
          <div v-if="activeTableTab.value == 'nextSevenDays'" class="select-filters d-flex align-items-center flex-wrap">
            <div class="d-flex align-items-center mr-5">
              Quick filters
               <CDropdown
                :toggler-text="filterParams.quickFilter.length ? filterParams.quickFilter[filterParams.quickFilter.length-1].label : ''"
                class="bg-white ml-2 cs-dropdown-select"
              >
                <CDropdownItem :class="{'active' : filterParams.quickFilter.includes(item)}" v-for="(item, index) in selectorsOptions.quickFilter" :key="index"
                  @click="setFilterParam('quickFilter', item)">
                  {{item.label}}
                </CDropdownItem>
              </CDropdown>
            </div>
            <div class="d-flex align-items-center my-2 my-sm-0">
              Pass Types:
              <!-- TO DO MultiSelect  -->
              <!--TO DO -->
              <CDropdown
                :toggler-text="passTypeSelectLabel"
                class="bg-white ml-2 cs-dropdown-select"
              >
                <CDropdownItem :class="{'active' : filterParams.passType.includes(item)}" v-for="(item, index) in selectorsOptions.passType" :key="index"
                               @click="setFilterParam('passType', item, true)"
                  >{{item.label}}
                </CDropdownItem>
              </CDropdown>
            </div>
          </div>
          <div v-else></div>
          <div class="mt-3 mt-sm-0">
            <per-page-selector :pagination="pagination" :action="setPerPage"/>
          </div>
        </div>

        <!-- Pass comments modal -->
        <CModal
            :show.sync="modal.isVisible.comments"
            :closeOnBackdrop="false"
            >
            <template #header-wrapper>
              <div class="pt-4 px-4 create-popup-header">
                  <div @click="closeModal()" class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span class="close-icon"></span></div>
              </div>
            </template>
            <div v-if="modal.activePass" class="px-3">
              <CommentsComponent @commentCreated="closeModal" :comments="modal.activePass.comments" :toID="modal.activePass.id" commentable_type="App\Models\AppointmentPass"/>
            </div>
            <template #footer-wrapper><div></div></template>
        </CModal>
          <!-- End modal -->
          <!-- End modals -->
        <DataTable
          class="datatable bg-white"
          addTableClasses="app-pass-datatable"
          v-if="appointmentPasses"
          :items="appointmentPasses"
          :fields="dataTableFields"
          :sorter='{ external: true }'
          column-filter
          @update:sorter-value="sortByColumn"
          :noItemsView='{ noResults: "No items available", noItems: "No items available" }'>
          <template #sorting-icon="{state}">
              <div class="table-order-icons">
                <font-awesome-icon icon="caret-up" :class="[state=='desc'?'text-black':'text-black-50',]" />
                <font-awesome-icon icon="caret-down" :class="[state=='asc'?'text-black':'text-black-50']" />
              </div>
            </template>
          <template #user="{item}">
            <UserColumnData :pass="item" :isAppoinment="true"/>
          </template>
          <template #user-filter>
            <input v-model="columnSearchKeys.user.value" placeholder="Search by name" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #recurrence_appointment_pass="{item}">
            <td>
              <div class="recurrence-column" v-if="item.recurrence_appointment_pass">
                <div><b>{{ $helpers.transformDate(item.for_date, 'MMM DD YYYY') }}</b></div>
                <div v-if="item.recurrence_appointment_pass.recurrence_type">
                  <div>{{item.recurrence_appointment_pass.recurrence_type}}</div>
                  <div v-if="item.recurrence_appointment_pass.recurrence_days" class="weekdays-options-container d-flex mt-1">
                    <div class="weekday-box active mr-1" v-for="(day, index) in JSON.parse(item.recurrence_appointment_pass.recurrence_days).days" :key="index">
                      {{day.substring(0, 2)}}
                    </div>
                  </div>
                  <div v-if="activeTableTab.value === 'nextSevenDays'">
                    <div class="mt-1" v-if="item.recurrence_appointment_pass.recurrence_end_at">{{$helpers.transformDate(item.recurrence_appointment_pass.for_date, 'MMM DD YYYY') + ' > ' + $helpers.transformDate(item.recurrence_appointment_pass.recurrence_end_at, 'MMM DD YYYY')}}</div>
                  </div>

                  <div v-else>
                   <div class="mt-1" v-if="item.for_date">{{$helpers.transformDate(item.for_date, 'MMM DD YYYY') + ' > ' + $helpers.transformDate(item.recurrence_appointment_pass.recurrence_end_at, 'MMM DD YYYY')}}</div>
                  </div>
                </div>
              </div>
              <div v-else>
                <b class="mb-0">{{item.for_date ? $helpers.transformDate(item.for_date, 'MMM DD YYYY') : ''}}</b>
                <p class="mb-0">Does not repeat</p>
              </div>
            </td>
          </template>
          <template #recurrence_appointment_pass-filter>
            <input placeholder="Search by date" v-model="columnSearchKeys.recurrence_appointment_pass.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

           <template #period="{item}">
            <td>
              <div v-if="item.period">
                <b>{{item.period.name}}</b>
                <p class="mb-0">{{item.for_date ? $helpers.transformDate(item.for_date, 'h:mm A') : ''}}</p>
              </div>
            </td>
          </template>
          <template #period-filter>
            <input placeholder="Search by period name" v-model="columnSearchKeys.period.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #from="{item}">
            <td class="pass-time-info">
              <div class="d-flex">
                <b v-if="item.from_type && item.from_type==='App\\Models\\User'">{{item.from ? item.from.first_name + " " + item.from.last_name : '-'}}</b>
                <b v-else>{{item.from ? item.from.name : '-'}}</b>
                <b v-if="item.acknowledged_by_user && item.from && item.acknowledged_by_user.id === item.from.id"><span class="checked-icon ml-2"></span></b>
              </div>
            </td>
          </template>
          <template #from-filter>
            <input placeholder="Search by name" v-model="columnSearchKeys.from.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #to="{item}">
            <td class="pass-time-info">
              <b v-if="item.to && item.to==='App\\Models\\User'">{{item.to ? item.to.first_name + " " + item.to.last_name : '-'}}</b>
              <b v-else>{{item.to ? item.to.name : '-'}}</b>
              <b v-if="item.acknowledged_by_user && item.to && item.acknowledged_by_user.id === item.to.id"><span class="checked-icon ml-2"></span></b>
            </td>
          </template>
          <template #to-filter>
            <input placeholder="Search by name" v-model="columnSearchKeys.to.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #created_by_user="{item}">
            <td>
              <div v-if="item.created_by_user">
                <b>{{item.created_by_user.first_name + ' ' + item.created_by_user.last_name}}</b>
                <p v-if="item.created_at">
                  {{$helpers.transformDate(item.created_at, 'MMM DD YYYY')}}
                  <br>
                  {{$helpers.transformDate(item.created_at, 'h:mm A')}}
                </p>
              </div>
            </td>
          </template>
          <template #created_by_user-filter>
            <input placeholder="Search by name" v-model="columnSearchKeys.created_by_user.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

           <template #comments="{item}">
            <td class="comments-column">
              <div v-if="item.comments" class="d-flex">
                <div @click="setActiveModal('comments', item)" class="comments-count mr-2">
                  <i class="fi flaticon-chat"></i><b>{{item.comments.length}}</b>
                </div>
                <div @click="setActiveModal('comments', item)" v-if="item.comments.length" class="comments-list cursor-pointer">
                  <div class="comment cursor-pointer">
                    {{item.comments[item.comments.length-1].comment}}
                  </div>
                </div>
              </div>
              <div v-if="item.is_recurrence && item.reason" class="comments-list">
                <div class="comment">
                  {{item.reason}}
                </div>
              </div>
            </td>
          </template>
          <template #comments-filter>
            <input placeholder="Search by latest comment" v-model="columnSearchKeys.comments.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #actions="{item}">
            <td>
              <div>
                <p class="mb-1">
                  <b>{{item.created_by_user && item.created_by_user.role_id == 1 ? 'Requested' : 'Made'}} </b>
                  <span v-html="$helpers.getHTMLDateTime(item.created_at, 'MMM DD YYYY', 'h:mm A')"></span>
                </p>
                <p class="mb-1" v-if="item.acknowledged_by_teacher_at && item.created_by_user.role_id != 1">
                  <b>Аcknowledged </b>
                  <span v-html="$helpers.getHTMLDateTime(item.acknowledged_by_teacher_at, 'MMM DD YYYY', 'h:mm A')"></span>
                </p>
                <p class="mb-1" v-if="item.confirmed_by_teacher_at && item.acknowledged_by_teacher_at && item.created_by_user.role_id == 1">
                  <b>Confirmed </b>
                  <span v-html="$helpers.getHTMLDateTime(item.confirmed_by_teacher_at, 'MMM DD YYYY', 'h:mm A')"></span>
                </p>
                <p class="mb-1" v-if="item.canceled_at && item.canceled_by_user">
                  <b>Canceled by {{ item.canceled_by_user.first_name }} {{ item.canceled_by_user.last_name }} at </b>
                  <span v-html="$helpers.getHTMLDateTime(item.canceled_at, 'MMM DD YYYY', 'h:mm A')"></span>
                </p>
                <ApptPassActionButtons :isPassBeyond="activeTableTab.value === 'prevSeventDays'" @editAppPass="onPassEdit" :pass="item" :currentUser="currentUser"/>
              </div>
            </td>
          </template>
          <template #actions-filter>
            <div></div>
          </template>

        </DataTable>

        <CPagination
          class="cs-pagination mt-4"
          :dots="false"
          :doubleArrows="true"
          v-if="pagination.pages && pagination.pages>1&& !isLazyLoadingMode"
          :activePage.sync="pagination.activePage"
          :pages="pagination.pages"
          size="lg"
          align="center"
          @update:activePage="setActivePage">
           <template #last-button>
            <i class="flaticon-right-arrow-1"></i>
          </template>
          <template #first-button>
            <i class="flaticon-left-arrow-2"></i>
          </template>
          <template #previous-button>
            <i class="fi flaticon-left-arrow-1"></i>
          </template>
          <template #next-button>
            <i class="fi flaticon-chevron"></i>
          </template>
        </CPagination>

      </CCol>
    </CRow>
  </CContainer>
</template>
<script>
import Loader from '@/components/Loader'
import CommentsComponent from '@/components/CommentsComponent'
import ApptPassActionButtons from './ColumnComponents/ApptPassActionButtons.vue';
import {mapGetters} from 'vuex';
import moment from 'moment-timezone';
import UserColumnData from './ColumnComponents/UserColumnData.vue';
import PerPageSelector from '../PerPageSelector.vue';

export default {
  name: "AptPassDataTable",
  components: {
    Loader,
    CommentsComponent,
    ApptPassActionButtons,
    UserColumnData,
    PerPageSelector
  },
  data() {
    return {
      isLazyLoadingMode: false,
      filterParams:{
        search_query:'',
        sort_query:'',
        quickFilter: [],
        passType: [],
        between_dates: '',
      },
      columnSearchKeys: {
        globalQuery: '',
        user: {value:'', column: ['user.name'], sortBy:'user.last_name'},
        recurrence_appointment_pass: {value:'', column: ['search_date_string'],  sortBy:'for_date'},
        period: {value:'', column: ['period.name'], sortBy: 'period.name'},
        from: {value:'', column: ['from.name'], sortBy: 'from.name'},
        to: {value:'', column: ['to.name'], sortBy: 'to.name'},
        created_by_user: {value:'', column: ['created_by_user.name'], sortBy: 'created_by_user.name'},
        comments: {value:'', column: ['latest_comment.comment'], sortBy: 'latest_comment.comment'},
      },
      pagination: {
        activePage: 1,
        total: 0,
        pages: 0,
        per_page: {label:'25', value: 25}
      },
      dataTableFields: [
        {key:'user', label:'Student', _style:'min-width:150px', type: 'pass-view'},
        {key: 'recurrence_appointment_pass', label: 'Date/Recurrence',_style:'min-width:160px', type: 'pass-view'},
        {key: 'period', label: 'Period/Time', _style:'min-width:140px', type: 'pass-view'},
        {key: 'from', label: 'From', type: 'pass-view'},
        {key: 'to', label: 'To', type: 'pass-view'},
        {key: 'created_by_user', label: 'Creator', type: 'pass-view'},
        {key:'comments', _style:'min-width:120px'},
        {key:'actions', _style:'width:80px'},
      ],
      selectorsOptions: {
        quickFilter: [
          {label: 'All Passes', value: ''},
          {label: 'Just My Created', value: 'just_my_created'},
          {label: 'From Me', value: 'from_me'},
          {label: 'To me', value: 'to_me'},
          {label: 'To & From Others', value: 'to_and_from_others'},
        ],
        passType: [
          {label: 'All Types', value: ''},
          {label: 'Activated', value: 'type_activated'},
          {label: 'Missed APT', value: 'type_missed_apt'},
          {label: 'Canceled', value: 'type_canceled'},
          {label: 'Missed Request', value: 'type_missed'},
          {label: 'Future APT', value: 'type_future'},
          {label: 'Needs Confirmation', value: 'needs_confirmation'},
          // {label: 'Today APT', value: ''},
          {label: 'Ended', value: 'type_ended'},
          {label: 'On Other Pass', value: 'type_on_other_pass'}
        ]
      },
      tableTabs:[
        {label: "Next 7 Days", value: 'nextSevenDays'},
        {label: "Beyond 7 Days", value: 'prevSeventDays'}
      ],
      activeTableTab: '',
      isLoading: false,
      modal: {
        isVisible: {
          comments: false,
          todayPasses: false,
        },
        activePass: null
      },
      searchTimeOut: null,
    }
  },
  computed:{
    ...mapGetters({
      appointmentPasses: 'appointmentPasses/appointmentPasses',
      currentUser: 'authentication/user',
      isActiveAppointmentCreated: 'sockets/isActiveAppointmentCreated'
    }),
    nextSevenDays(){
      let today = moment().format('MM/DD/YYYY');
      let nextSevenDays = moment().add(7, 'days').format('MM/DD/YYYY');
      return today.toString() + ',' + nextSevenDays.toString();
    },
    prevSeventDays(){
      let next30nDays = moment().add(1, 'year').format('MM/DD/YYYY');
      return moment().add(8, 'days').format('MM/DD/YYYY').toString() + ',' + next30nDays.toString();
    },
    passTypeSelectLabel(){
      if(this.filterParams.passType.length){
        let count = this.filterParams.passType.length > 1 ? ' +' + (this.filterParams.passType.length - 1) : '';
        let label = this.filterParams.passType[this.filterParams.passType.length-1].label;
        return label + count;
      }
      return '';
    }
  },
  created() {
    this.activeTableTab = this.tableTabs[0];
    this.filterParams.quickFilter.push(this.selectorsOptions.quickFilter[0]);
    this.filterParams.passType.push(this.selectorsOptions.passType[0]);
    this.handleAppointmentPasses();
    this.initSockets();
  },
  mounted(){
    this.initLazyLoading();
  },
  destroyed(){
    this.destroySockets();
  },
  methods: {
    destroySockets(){
      let schoolId = this.currentUser.school_id;
      if(schoolId){
        this.$echo.connector.leaveChannel(`appointments.passes.${schoolId}`);
      }
    },
    handleAppointmentPasses(page, isExport, noLoader, isLazyLoadingMode){
      this.pagination.activePage = page ? page : 1;
      let filterData = {
        page: this.pagination.activePage,
        per_page: this.pagination.per_page.value,
        between_dates: this.filterParams.between_dates ? this.filterParams.between_dates : this.nextSevenDays,
      };
      if(this.filterParams.search_query){
        this.disableAppPassUpdate();
        filterData.search_query = this.filterParams.search_query;
      }
      if(this.filterParams.sort_query){
        this.disableAppPassUpdate();
        filterData.sort = this.filterParams.sort_query;
      }
      if(this.activeTableTab.value == 'nextSevenDays'){
        if(this.filterParams.quickFilter.length){
          this.filterParams.quickFilter.forEach(el => {
            if(el.value){
              this.disableAppPassUpdate();
              filterData[el.value] = 'true';
            }
          });
        }
        let filters_list = [];
        if(this.filterParams.passType.length){
          this.filterParams.passType.forEach(el => {
            if(el.value){
              this.disableAppPassUpdate();
              filters_list.push('"' + el.value + '"');
            }
          });
          if(filters_list.length){
            filterData['filters_list'] = "[" + filters_list + "]";
          }
        }
      }

      if(isExport){
        this.getCSVAppointmentPasses(filterData); // set filterData in case we need to filter the CSV data export
      }else{
        this.getAppoinmentPasses(filterData, noLoader, isLazyLoadingMode);
      }
    },
    getAppoinmentPasses(params, noLoader, isLazyLoadingMode){
      this.isLoading = !noLoader;
      let tab = this.activeTableTab.value;
      let action = this.activeTableTab.value == 'nextSevenDays' ? 'getAppointmentPasses' : 'getAppRecurrencePasses';
      this.$store.dispatch(`appointmentPasses/${action}`, params)
        .then((response) => {
          let data = response.data;
          if (data.data && tab == this.activeTableTab.value) {
            if(isLazyLoadingMode){
              this.$store.commit('appointmentPasses/PUSH_APPOINTMENT_PASSES', data.data);
            }else{
              this.$store.commit('appointmentPasses/SET_APPOINTMENT_PASSES', data.data);
            }
            this.pagination.total = data.meta.total;
            this.pagination.from = data.meta.from
            this.pagination.to = data.meta.to
            this.pagination.pages = Math.ceil(data.meta.total / data.meta.per_page);
            this.pagination.activePage = Number(this.pagination.activePage);
            this.pagination = JSON.parse(JSON.stringify(this.pagination))
          }
          this.isLoading = false;
        })
        .catch((err) => { this.isLoading = false;});
    },
    getCSVAppointmentPasses(filterData){
      this.isLoading = true;
      this.$store.dispatch('appointmentPasses/getCSVAppointmentPasses', filterData)
        .then((response) => {
          if(response.data){
            this.downloadCSVExport(response.data);
          }
          this.isLoading = false;
        })
        .catch((err) => { this.isLoading = false;});
    },
    downloadCSVExport(data){
      let csvDataForExport = 'data:text/csv;charset=utf-8,' + data;
      var encodedUri = encodeURI(csvDataForExport);
      var link = document.createElement("a");
      link.setAttribute("href", encodedUri);
      link.setAttribute("target", "_blank");
      link.setAttribute("download", "аppointment-passes.csv");
      document.body.appendChild(link);
      link.click();
    },
    setActiveTableTab(tab){
      this.columnSearchKeys.comments.column = tab.value == "prevSeventDays" ? ['reason'] : ['latest_comment.comment'];
      this.activeTableTab = tab;
      this.filterParams.between_dates = this[tab.value];
      this.resetSearchQuery();
      this.filterParams.sort_query = '';
      if(tab.value == 'prevSeventDays'){
        this.disableAppPassUpdate();
      }
      this.handleAppointmentPasses();
    },
    clearFilterParams(){
      this.filterParams = {
        search_query: this.filterParams.search_query,
        sort_query: this.filterParams.sort_query,
        quickFilter: [this.selectorsOptions.quickFilter[0]],
        passType: [this.selectorsOptions.passType[0]]
      };
      this.pagination.activePage = 1;
    },
    closeModal(){
      this.modal = {
        isVisible: {
          comments: false,
          todayPasses: false,
        },
        activePass: null
      }
    },
    setActiveModal(modal, pass){
      if(pass){
        this.modal.isVisible[modal] =  true;
        this.modal.activePass = pass;
      }
    },
    setFilterParam(prop, value, isMultiple){
      if(prop && value){
        if(isMultiple){
          if(!this.filterParams[prop].includes(value)){
            this.filterParams[prop].push(value);
          }else{
            this.filterParams[prop] = this.filterParams[prop].filter(el => el !== value);
          }
          if(!this.filterParams[prop].length || !value.value){
            this.filterParams[prop] = [this.selectorsOptions[prop][0]];
          }else{
            this.filterParams[prop] = this.filterParams[prop].filter(el => el.value);
          }
        }else{
          this.filterParams[prop] = [value];
        }
        this.handleAppointmentPasses();
      }
    },
    setPerPage(option){
      if(option){
        this.isLazyLoadingMode = option.label === 'All entries';
        this.pagination.per_page = option;
        this.handleAppointmentPasses();
      }
    },
    setActivePage(){
      this.handleAppointmentPasses(this.pagination.activePage);
      this.$helpers.scrollToTop();
    },
    searchByQuery(value, type){
      clearInterval(this.searchTimeOut);
      this.searchTimeOut = setTimeout(() => {
        this.handleQuerySearch(value, type);
      }, 500);
    },
    handleQuerySearch(value, type){
      let query = value.toString();
      if(query.replace(/\s/g, '').length > 0 || query.replace(/\s/g, '').length === 0){
        this.filterParams.search_query = '';
        if(type && type === 'column'){
          this.columnSearchKeys.globalQuery = "";
          for (const key in this.columnSearchKeys) {
            if (Object.hasOwnProperty.call(this.columnSearchKeys, key)) {
              let columnData = this.columnSearchKeys[key];
              if(columnData.value){
                columnData.column.forEach(col => {
                  this.filterParams.search_query = this.filterParams.search_query + `${col}:"${columnData.value}", `;
                });
              }
            }
          }
          this.filterParams.search_query = this.filterParams.search_query.slice(0, -2);
        }else{
          this.resetSearchQuery();
          this.columnSearchKeys.globalQuery = query;
          this.filterParams.search_query = query ?  '"' + query + '"' : query;
        }
        this.handleAppointmentPasses();
      }
    },
    sortByColumn(column){
      let columnName = this.columnSearchKeys[column.column] ? this.columnSearchKeys[column.column].sortBy : column.column;
      this.filterParams.sort_query = `${columnName}:${column.asc ? 'asc' : 'desc'}`;
      this.handleAppointmentPasses();
    },
    resetSearchQuery(){
      this.filterParams.search_query = '';
      this.columnSearchKeys = {
        globalQuery: '',
        user: {value:'', column: ['user.name'], sortBy:'user.last_name'},
        recurrence_appointment_pass: {value:'', column: ['search_date_string'],  sortBy:'for_date'},
        period: {value:'', column: ['period.name'], sortBy: 'period.name'},
        from: {value:'', column: ['from.name'], sortBy: 'from.name'},
        to: {value:'', column: ['to.name'], sortBy: 'to.name'},
        created_by_user: {value:'', column: ['created_by_user.name'], sortBy: 'created_by_user.name'},
        comments: {value:'', column: this.activeTableTab.value == "prevSeventDays" ? ['reason'] : ['latest_comment.comment'], sortBy: 'latest_comment.comment'},
      };
    },
    getPassStatus(pass){
      if(pass){
        if (pass.is_for_today){
          return {class:'today-pass', label: "Today's APT"}
        }
      }
      return {class:'', label: ''};
    },
    toggleAppPassUpdates(){
      this.$store.commit('sockets/TOGGLE_ACTIVE_SOCKET', 'isActiveAppointmentCreated');
    },
    disableAppPassUpdate(){
      if(this.isActiveAppointmentCreated){
        this.toggleAppPassUpdates();
      }
    },
    resetDataTable(page){
      this.clearFilterParams();
      this.resetSearchQuery();
      if(!this.isActiveAppointmentCreated){
        this.toggleAppPassUpdates();
      }
      this.handleAppointmentPasses(page ? page : this.pagination.activePage, false, true);
    },
    onPassEdit(pass){
      this.$store.commit('appointmentPasses/SET_EDITABLE_PASS', pass);
      this.$helpers.scrollToTop();
    },
    initLazyLoading(){
      let body = document.getElementsByClassName('main-scroll-container')[0];
      if(body){
        body.onscroll = () => {
          if(this.isLazyLoadingMode && this.appointmentPasses && this.appointmentPasses.length && this.pagination.total > this.appointmentPasses.length){
            if(body.offsetHeight + body.scrollTop >= body.scrollHeight) {
              this.pagination.activePage = this.pagination.activePage + 1;
              this.handleAppointmentPasses(this.pagination.activePage, false, false, true);
            }
          }
        }
      }
    },
    initSockets(){
      let schoolId = this.currentUser.school_id;
      if(schoolId){
        let appPassChannel = this.$echo.private(`appointments.passes.${schoolId}`);

        appPassChannel.listen('PassCommentCreatedEvent', (payload) => {
          if(this.isActiveAppointmentCreated){
            if(payload.pass){
              this.$store.commit('appointmentPasses/UPDATE_APP_PASS_COMMENTS', payload.pass);
            }
          }
        });

        appPassChannel.listen('AppointmentPassPageRefreshEvent', (payload) => {
          if(this.isActiveAppointmentCreated){
            this.resetDataTable();
          }
        });

        appPassChannel.listen('AppointmentPassCancelled', (payload) => {
          if(this.isActiveAppointmentCreated){
            this.resetDataTable();
          }
        });

        appPassChannel.listen('AppointmentPassTimeChanged', (payload) => {
          if(this.isActiveAppointmentCreated){
            this.resetDataTable();
          }
        });

        appPassChannel.listen('AppointmentPassConfirmed', (payload) => {
          if(this.isActiveAppointmentCreated){
            this.resetDataTable();
          }
        });
      }
    }
  }
}
</script>
