<template>
  <CContainer class="datatable-container">
    <Loader :isProcessing="isLoading"/>
    <CRow class="justify-content-center mt-2">
      <CCol md="11" class="mb-5">
        <h1 class="text-center">Archived Users</h1>
        <div class="text-center p-3 rounded-pill" style="background-color: #B7DCED;">Archived Students will be removed
          from system after 30 days and other archived users will be removed after 365 days.
        </div>

      </CCol>
    </CRow>

    <CRow class="mt-4 justify-content-center">
      <CCol md="11">
        <div class="table-tabs-header mb-2 bg-white d-flex align-items-center justify-content-between">
          <div v-for="(tab, index) in tableTabs" :key="index" class="table-tab"
               :class="{'active' : tab.value === activeTableTab.value}">{{ tab.label }}
          </div>
          <div class="actions d-flex align-items-center">
            <div
              @click="handleUsers(pagination.activePage, false, false, true)"
              class="lh-normal cursor-pointer text-accent-blue-light">
              <i class="fi flaticon-download mr-1"></i> <span class="d-none d-md-inline-block">Download CSV</span>
            </div>
            <CInput
              class="search-field mb-0 ml-2 ml-md-4"
              placeholder="Search"
              @input="searchByQuery"
              :value.sync="columnSearchKeys.globalQuery"
            >
              <template #prepend-content>
                <div @click="searchByQuery()">
                  <i class="flaticon-magnifying-glass"></i>
                </div>
              </template>
            </CInput>
          </div>
        </div>
        <div class="status-guides-container pt-1 pb-2 d-flex align-items-center">
          <div>
            <div class="mb-2">Please select user(s) to unarchive</div>
            <div class="pl-2 d-flex align-items-center">
              <input type="checkbox" class="mr-2" @change="selectUsers($event)">
              <button class="px-2 py-2 bg-gradient-blue reverse text-white text-uppercase font-weight-bold" @click="unArchiveBulk"
                      style="border-radius: 13.5px;border:none;">
                Unarchive users
              </button>
            </div>
          </div>
          <per-page-selector :action="setPerPage" :pagination="pagination"/>
        </div>

        <!-- End of modals -->
        <DataTable
          class="datatable bg-white"
          v-if="archivedUsers"
          :items="archivedUsers"
          :fields="dataTableFields"
          :column-filter="true"
          :sorter='{ external: true }'
          @update:sorter-value="sortByColumn">
          <template #sorting-icon="{state}">
            <div class="table-order-icons">
              <font-awesome-icon icon="caret-up" :class="[state=='desc'?'text-black':'text-black-50',]"/>
              <font-awesome-icon icon="caret-down" :class="[state=='asc'?'text-black':'text-black-50']"/>
            </div>
          </template>
          <template #first_name-filter>
            <input v-model="columnSearchKeys.first_name.value" @input="searchByQuery($event.target.value, 'column')"
                   class="form-control form-control-sm">
          </template>

          <template #last_name-filter>
            <input v-model="columnSearchKeys.last_name.value" @input="searchByQuery($event.target.value, 'column')"
                   class="form-control form-control-sm">
          </template>

          <template #email-filter>
            <input v-model="columnSearchKeys.email.value" @input="searchByQuery($event.target.value, 'column')"
                   class="form-control form-control-sm">
          </template>

          <template #role_id-filter>
            <input v-model="columnSearchKeys.role_id.value" @input="searchByQuery($event.target.value, 'column')"
                   class="form-control form-control-sm">
          </template>

          <template #created_at-filter>
            <input v-model="columnSearchKeys.created_at.value" @input="searchByQuery($event.target.value, 'column')"
                   class="form-control form-control-sm">
          </template>

          <template #archived_date-filter>
            <input v-model="columnSearchKeys.archived_date.value" @input="searchByQuery($event.target.value, 'column')"
                   class="form-control form-control-sm">
          </template>

          <template #multiselect="{item}">
            <td class="mw-auto">
              <input type="checkbox" :value="item.id" v-model="selectedUsers">
            </td>
          </template>

          <template #new>
            <td>
              <span class="px-3 py-2 rounded bg-gradient-blue text-white font-weight-bold">Added</span>
            </td>
          </template>

          <template #action="{item}">
            <td>
              <button class="px-3 py-1 btn btn-unarchive d-flex align-items-center border-0"
                      @click="unArchive(item)">
                <span class="flaticon-back-arrow"></span>
                <span class="ml-1 text-uppercase font-weight-bold">Unarchive</span>
              </button>
            </td>
          </template>

          <template #role_id="{item}">
            <td>
              {{ item.role ? item.role.name : 'N/A' }}
            </td>
          </template>
          <template #archived_date="{item}">
            <td>
              {{ item.archived_date ? item.archived_date : '' }}
            </td>
          </template>
          <template #created_at="{item}">
            <td>
              <div v-html="item.created_at ? $helpers.getHTMLDateTime(item.created_at, 'MM/DD/YYYY', 'h:mm A', '</br>') : ''"></div>
            </td>
          </template>
        </DataTable>

        <div v-else class="bg-white p-5 text-center text-dark">
          No Available Items.
        </div>

        <CPagination
          class="cs-pagination mt-4"
          :dots="false"
          :doubleArrows="true"
          v-if="pagination.pages && pagination.pages>1 && !isLazyLoadingMode"
          :activePage.sync="pagination.activePage"
          :pages="pagination.pages"
          size="lg"
          align="center"
          @update:activePage="setActivePage">
           <template #last-button>
            <i class="flaticon-right-arrow-1"></i>
          </template>
          <template #first-button>
            <i class="flaticon-left-arrow-2"></i>
          </template>
          <template #previous-button>
            <i class="fi flaticon-left-arrow-1"></i>
          </template>
          <template #next-button>
            <i class="fi flaticon-chevron"></i>
          </template>
        </CPagination>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>
import Loader from '@/components/Loader'
import {mapGetters} from 'vuex';
import moment from 'moment-timezone';
import PerPageSelector from '../PerPageSelector.vue';

export default {
  name: "ArchivedUsersDataTable",
  components: {
    Loader,
    PerPageSelector
  },
  data() {
    return {
      isLoading: false,
      isLazyLoadingMode: false,
      selectedUsers: [],
      pagination: {
        activePage: 1,
        total: 0,
        pages: 0,
        per_page: {label: '25', value: 25}
      },
      tableTabs: [{
        label: "Archived Users", value: 'archived_users'
      }],
      activeTableTab: {
        value: 'archived_users'
      },
      filterParams: {
        sort: '',
        searchQuery: '',
      },
      columnSearchKeys: {
        globalQuery: '',
        first_name: {value: '', column: ['first_name']},
        last_name: {value: '', column: ['last_name']},
        email: {value: '', column: ['email']},
        role_id: {value: '', column: ['role.name']},
        created_at: {value: '', column: ['created_at']},
        archived_date: {value: '', column: ['archived_date']},
      },
      dataTableFields: [
        {key: 'multiselect', label: '', sorter: false, filter: false},
        {key: 'first_name', _style:'min-width:120px', label: 'First Name'},
        {key: 'last_name', _style:'min-width:120px', label: 'Last Name'},
        {key: 'email', label: 'Email'},
        {key: 'role_id', label: 'Role'},
        {key: 'created_at', _style:'min-width:140px', label: 'Added Date'},
        {key: 'archived_date', _style:'min-width:150px', label: 'Archived Date'},
        {key: 'days_left', label: 'Days Left', sorter: false, filter: false},
        {key: 'action', label: 'Action', sorter: false, filter: false},
      ]
    }
  },
  computed: {
    ...mapGetters({
      users: 'users/archivedUsers',
    }),
    archivedUsers(){
      return this.users.map(user => ({
        ...user,
        days_left: moment(user.current_role_in_school.pivot.archived_at).add(user.role_id === 1 ? 30 : 365 ,'days').diff(moment(), 'days') + 1
      }));
    }
  },
  mounted() {
    this.initLazyLoading();
    this.handleUsers();
  },
  methods: {
    initLazyLoading() {
      let body = document.getElementsByClassName('main-scroll-container')[0];
      if (body) {
        body.onscroll = () => {
          if (this.isLazyLoadingMode && this.users && this.users.length && this.pagination.total > this.users.length) {
            if (body.offsetHeight + body.scrollTop >= body.scrollHeight) {
              this.pagination.activePage = this.pagination.activePage + 1;
              this.handleUsers(this.pagination.activePage, false, true);
            }
          }
        }
      }
    },
    toggleTab(tab) {
      this.tabs[tab] = !this.tabs[tab];
    },
    handleUsers(page, noLoader, isLazyLoadingMode, isExport){
      this.pagination.activePage = page ? page : 1;
      this.isLoading = !noLoader;
      let params = {
        archived: true,
        page: this.pagination.activePage,
        per_page: this.pagination.per_page.value,
      };
      if(this.filterParams.searchQuery){
        params.search_query = this.filterParams.searchQuery;
      }
      if(this.filterParams.sort_query){
        params.sort = this.filterParams.sort_query;
      }
      if(isExport){
        this.exportUsers(params);
      }else{
        this.getUsers(params, isLazyLoadingMode);
      }
    },
    getUsers(params, isLazyLoadingMode) {
      this.$store.dispatch('users/getUsers', params).then((response) => {
        let data = response.data;
        if (isLazyLoadingMode) {
          this.$store.commit('users/PUSH_USERS', data.data);
        } else {
          this.$store.commit('users/SET_USERS', data.data);
        }
        if (response.meta) {
           this.pagination.total = response.meta.total;
            this.pagination.from = response.meta.from
            this.pagination.to = response.meta.to
            this.pagination.pages = Math.ceil(response.meta.total / response.meta.per_page);
            this.pagination.activePage = Number(this.pagination.activePage);
            this.pagination = JSON.parse(JSON.stringify(this.pagination));
        }
        this.isLoading = false;
      }).catch((err) => {
        this.isLoading = false;
      });
    },
    searchByQuery(value, type) {
      clearInterval(this.searchTimeOut);
      this.searchTimeOut = setTimeout(() => {
        this.handleQuerySearch(value, type);
      }, 500);
    },
    handleQuerySearch(value, type) {
      let query = value.toString();
      if (query.replace(/\s/g, '').length > 0 || query.replace(/\s/g, '').length === 0) {
        this.filterParams.searchQuery = '';
        if (type && type === 'column') {
          this.columnSearchKeys.globalQuery = "";
          for (const key in this.columnSearchKeys) {
            if (Object.hasOwnProperty.call(this.columnSearchKeys, key)) {
              let columnData = this.columnSearchKeys[key];
              if (columnData.value) {
                columnData.column.forEach(col => {
                  this.filterParams.searchQuery = this.filterParams.searchQuery + `${col}:"${columnData.value}", `;
                });
              }
            }
          }
          this.filterParams.searchQuery = this.filterParams.searchQuery.slice(0, -2);
        } else {
          this.resetSearchQuery();
          this.columnSearchKeys.globalQuery = query;
          this.filterParams.searchQuery = query ? '"' + query + '"' : query;
        }
        this.handleUsers();
      }
    },
    resetSearchQuery() {
      this.filterParams.searchQuery = '';
      this.columnSearchKeys = {
        globalQuery: '',
        first_name: {value: '', column: ['first_name']},
        last_name: {value: '', column: ['last_name']},
        email: {value: '', column: ['email']},
        role_id: {value: '', column: ['role.name']},
        created_at: {value: '', column: ['created_at']},
        archived_date: {value: '', column: ['archived_date']},
      };
    },
    selectUsers(e) {
      if (e.target.checked) {
        this.selectedUsers = [];
        this.users.forEach(user => {
          this.selectedUsers.push(user.id);
        })
      } else {
        this.selectedUsers = [];
      }
    },
    unArchive(user) {
      this.$store.dispatch('users/unArchive', user).then(response => {
        this.handleUsers(1, true);
      });
    },
    unArchiveBulk() {
      this.$store.dispatch('users/unArchiveBulk', {users: this.selectedUsers.join()}).then(response => {
        this.handleUsers(1, true);
      })
    },
    exportUsers(params) {
      this.isLoading = true;
      this.$store.dispatch('users/exportUsers', {...params, is_archived: true})
        .then((response) => {
          if (response.data) {
            this.downloadCSVExport(response.data);
          }
          this.isLoading = false;
        })
        .catch((err) => {
          this.isLoading = false;
        });
    },
    downloadCSVExport(data) {
      let csvDataForExport = 'data:text/csv;charset=utf-8,' + data;
      let encodedUri = encodeURI(csvDataForExport);
      let link = document.createElement("a");
      link.setAttribute("href", encodedUri);
      link.setAttribute("target", "_blank");
      link.setAttribute("download", "archived_users.csv");
      document.body.appendChild(link);
      link.click();
    },
    setPerPage(option) {
      if (option) {
        this.isLazyLoadingMode = option.label === 'All entries';
        this.pagination.per_page = option;
        this.handleUsers();
      }
    },
    sortByColumn(column) {
      let columnName = this.columnSearchKeys[column.column] ? this.columnSearchKeys[column.column].column[0] : column.column;
      this.filterParams.sort_query = `${columnName}:${column.asc ? 'asc' : 'desc'}`;
      this.handleUsers();
    },
    setActivePage(){
      this.handleUsers(this.pagination.activePage);
      let topElement = document.getElementsByClassName('datatable-container')[0];
      topElement.scrollIntoView({behavior: "smooth"});;
    },
  }
}
</script>
