<template>
  <CContainer class="datatable-container contact-tracing-view" @click="onContainerClick">
    <Loader :isProcessing="isLoading"/>
    <CRow class="mt-4">
      <CCol md="12" class="mb-4 mb-lg-5">
        <h1 class="text-center">
          Contact Tracing / Meet-up Report
          <HelpCenterButton _class="mr-2" contentKey="contact_tracing_meet_up_report"/>
        </h1>
      </CCol>
      <CCol md="4" lg="3">
        <LazyLoadSelect
            :classes="[{ 'is-invalid': reqResponse.errors['user_id']}, 'mb-3']"
            @change="(value) => {filterParams.by_student = value}"
            :selected="filterParams.by_student"
            type="student"
            placeholder="Student">
            <template #footer>
                <div class="invalid-feedback" v-if="reqResponse.errors['user_id']">{{reqResponse.errors['user_id'][0]}}</div>
            </template>
        </LazyLoadSelect>
      </CCol>
      <CCol md="4" lg="3">
        <v-date-picker class="cs-date-picker"
            :masks="{L:'MM/DD/YYYY'}"
            placeholder="Year"
            mode="range"
            v-model="filterParams.dates"
            is-range
            @drag="setRangeValidation"
            :max-date="maxSearchRange"
            :min-date="minSearchRange"
            @popoverWillShow="handleDatePopoverShow"
          >
            <template v-slot="{ inputValue, togglePopover, hidePopover }">
              <div class="input-icon-field cursor-pointer">
                <CInput
                  :addInputClasses="[{ 'is-invalid': reqResponse.errors['to_date']}, 'date-calendar-option cursor-pointer']"
                  placeholder="Date"
                  type="readonly"
                  :value="inputValue.start + '-' + inputValue.end"
                  readonly
                  @click="showCalendarRanges(hidePopover)"
                />
                <span class="field-icon" @click="showCalendarRanges(hidePopover)">
                  <i class="fi flaticon-calendar mr-1"></i>
                </span>
                <div v-show="calendar.isRangesVisible" class="optional-date-ranges-container">
                  <div v-for="(range, index) in optionalDateRanges" :key="index" :class="{'active' : range.label === calendar.activeRange.label}" class="option-range p-2" @click="setCalendarRange(range, togglePopover)">
                    {{range.label}}
                  </div>
                </div>
                <div class="invalid-feedback d-block" v-if="reqResponse.errors['to_date']">{{reqResponse.errors['to_date'][0]}}</div>
              </div>
            </template>
        </v-date-picker>
      </CCol>
      <CCol md="4" lg="3">
      </CCol>
      <CCol md="12" class="mt-1 mt-md-4 text-center text-sm-left">
        <div class="d-inline-block text-center" @click="advancedSearch()">
          <CButton class="mr-2 btn bg-gradient-blue text-white">
            <div class="p-small">Search</div>
          </CButton>
        </div>
        <div class="d-inline-block text-center">
          <CButton @click="clearFilter()" class="ml-2 p-small bg-gradient-blue">
            <span class="btn bg-white px-4"><b class="text-graident-blue px-2">Clear</b></span>
          </CButton>
        </div>
      </CCol>
    </CRow>

    <CRow class="mt-5">
      <CCol md="12">
        <div class="table-tabs-header mb-2 bg-white d-flex align-items-center justify-content-between">
          <div v-for="(tab, index) in tableTabs" :key="index" class="table-tab"
               :class="{'active' : tab.value === activeTableTab.value}">{{ tab.label }}
          </div>
          <div class="actions d-flex align-items-center">
            <CLink
              class="lh-normal text-accent-blue-light ml-2 ml-sm-0"
              @click="handleContactTracing(pagination.activePage, 'csv')"
              download="contact-tracing.csv"
              target="_blank">
              <i class="fi flaticon-download mr-1"></i> <span class="d-none d-md-inline-block">Download CSV</span>
            </CLink>
            <CLink
              class="mx-1 mx-sm-4 lh-normal text-accent-blue-light"
              @click="handleContactTracing(pagination.activePage, 'excel')"
              download="contact-tracing.xlsx"
              target="_blank">
              <i class="fi flaticon-download mr-1"></i> <span class="d-none d-md-inline-block">Download Excel</span>
            </CLink>
            <CLink
              class="mx-1 mx-sm-4 lh-normal text-accent-blue-light"
              @click="handleContactTracing(pagination.activePage, 'print')"
              target="_blank">
              <i class="fi flaticon-download mr-1"></i> <span class="d-none d-md-inline-block">Print</span>
            </CLink>
            <CInput
              class="search-field mb-0 ml-2 ml-md-4"
              placeholder="Search..."
              @input="searchByQuery"
              :value.sync="columnSearchKeys.globalQuery"
            >
             <template #prepend-content><div><i class="flaticon-magnifying-glass"></i></div></template>
            </CInput>
          </div>
        </div>
        <div class="status-guides-container mb-2 d-block">
          <per-page-selector :pagination="pagination" :action="setPerPage"/>
        </div>

        <DataTable
          class="datatable bg-white mb-5"
          id="contactTracingTable"
          addTableClasses="contactTracingDataTable"
          v-if="contactTracings"
          :column-filter="true"
          :sorter='{ external: true }'
          @update:sorter-value="sortByColumn"
          :items="contactTracings"
          :fields="this.dataTableFields"
          :noItemsView='{ noResults: "No items available", noItems: "No items available" }'>
          <template #sorting-icon="{state}">
            <div class="table-order-icons">
              <font-awesome-icon icon="caret-up" :class="[state=='desc'?'text-black':'text-black-50',]" />
              <font-awesome-icon icon="caret-down" :class="[state=='asc'?'text-black':'text-black-50']" />
            </div>
          </template>
          <template #first_name="{item}">
            <td>{{ item.first_name }}</td>
          </template>
          <template #first_name-filter>
            <input placeholder="Search by first name" v-model="columnSearchKeys.first_name.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #last_name="{item}">
            <td>{{ item.last_name }}</td>
          </template>
          <template #last_name-filter>
            <input placeholder="Search by last name" v-model="columnSearchKeys.last_name.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #email="{item}">
            <td>{{ item.email }}</td>
          </template>
          <template #email-filter>
            <input placeholder="Search by email" v-model="columnSearchKeys.email.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #overlap_time_count-filter>
            <input placeholder="Search by number" v-model="columnSearchKeys.overlap_time_count.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #share_same_location="{item}">
            <td>{{ item.share_same_location ? 'Yes' : 'No' }}</td>
          </template>
        </DataTable>

        <CPagination
          class="cs-pagination mt-4"
          :dots="false"
          :doubleArrows="true"
          v-if="pagination && pagination.pages && pagination.pages>1 && !isLazyLoadingMode"
          :activePage.sync="pagination.activePage"
          :pages="pagination.pages"
          size="lg"
          align="center"
          @update:activePage="setActivePage">
           <template #last-button>
            <i class="flaticon-right-arrow-1"></i>
          </template>
          <template #first-button>
            <i class="flaticon-left-arrow-2"></i>
          </template>
          <template #previous-button>
            <i class="fi flaticon-left-arrow-1"></i>
          </template>
          <template #next-button>
            <i class="fi flaticon-chevron"></i>
          </template>
        </CPagination>
      </CCol>
    </CRow>
    <iframe class="opacity-0" name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
  </CContainer>
</template>

<script>
import Loader from '@/components/Loader';
import {mapGetters} from 'vuex';
import {DatePicker} from 'v-calendar'
import LazyLoadSelect from '@/components/LazyLoadSelect.vue';
import moment from 'moment-timezone';
import PerPageSelector from '../PerPageSelector.vue';
import HelpCenterButton from '@/components/HelpCenterButton';
import TableToExcel from "@linways/table-to-excel";

export default {
  name: "ContactTracingDataTable",
  components: {
    Loader,
    'v-date-picker': DatePicker,
    LazyLoadSelect,
    PerPageSelector,
    HelpCenterButton
  },
  data() {
    return {
      isLoading: false,
      searchTimeOut: null,
      isLazyLoadingMode: false,
      today: moment().format('MMM DD YYYY'),
      filterParams: {
        search_id: null,
        search_query: '',
        sort_query: '',
        by_student: null,
        dates: {
          start: moment().format('MMM DD YYYY'),
          end: moment().format('MMM DD YYYY')
        },
      },
      dataTableFields: [
        {key: 'last_name', label: 'Last name', _style: 'width:180px'},
        {key: 'first_name', label: 'First name', _style: 'width:180px'},
        {key: 'email', label: 'Email', _style: 'width:150px'},
        {key: 'overlap_time_count', label: 'Number of times passes overlapped', _style: 'min-width:260px'},
        {key: 'share_same_location', label: 'Did they share a location?', _style: 'min-width:210px', filter: false},
      ],
      columnSearchKeys: {
        globalQuery: '',
        last_name: {value:'', column: ['last_name'], sortBy: 'last_name'},
        first_name: {value:'', column: ['first_name'], sortBy: 'first_name'},
        email: {value:'', column: ['email'], sortBy: 'email'},
        overlap_time_count: {value:'', column: ['overlap_time_count'], sortBy: 'overlap_time_count'},
        share_same_location: {value:'', column: ['share_same_location'], sortBy: 'share_same_location'}
      },
      reqResponse: {
        type: "",
        message: "",
        errors:{}
      },
      pagination: {
        activePage: 1,
        total: 0,
        pages: 0,
        per_page: {label:'25', value: 25}
      },
      tableTabs: [{
        label: "Contact Tracing", value: 'contact-tracing'
      }],
      activeTableTab: {
        value: 'contact-tracing'
      },
      calendar: {
          isCalendarVisible: false,
          isRangesVisible: false,
          activeRange: {
            label: 'Today',
            range:{
              start: moment().format('MMM DD YYYY'),
              end: moment().format('MMM DD YYYY')
            }
          }
        },
        optionalDateRanges: [{
          label: 'Today',
          range:{
            start: moment().format('MMM DD YYYY'),
            end: moment().format('MMM DD YYYY')
          }
        },
        {
          label: 'Yesterday',
          range:{
            start: moment().subtract(1, 'days').format('MMM DD YYYY'),
            end: moment().subtract(1, 'days').format('MMM DD YYYY'),
          }
        },
        {
          label: 'Last 7 days',
          range:{
            start: moment().subtract(7, 'days').format('MMM DD YYYY'),
            end: moment().format('MMM DD YYYY')
          }
        },
        {
          label: 'Last 14 days',
          range:{
            start: moment().subtract(14, 'days').format('MMM DD YYYY'),
            end: moment().format('MMM DD YYYY')
          }
        },
        {
          label: 'Custom range',
          range: null
        }],
        minSearchRange: null,
        maxSearchRange: null
    }
  },
  computed: {
    ...mapGetters({
      students: 'users/formListStudents',
      contactTracings: 'contactTracing/contactTracings'
    }),
    fromDate() {
      return this.filterParams.dates ? this.filterParams.dates.start : null;
    },
    toDate() {
      return this.filterParams.dates ?  this.filterParams.dates.end : null;
    },
  },
  mounted(){
    this.initLazyLoading();
  },
  destroyed() {
    this.$store.commit('contactTracing/SET_CONTACT_TRACINGS', []);
  },
  methods: {
    handleContactTracing(page, isExport, isLazyLoadingMode, isAdvancedSearch) {
      this.resetResponseMessages();
      if(this.filterParams.by_student) {
        this.pagination.activePage = page ? page : 1;
        let params = {
          per_page: this.pagination.per_page.value,
          page: this.pagination.activePage,
        };
        if (this.filterParams.search_query) {
          params.search_query = this.filterParams.search_query;
        }
        if(this.filterParams.sort_query){
          params.sort = this.filterParams.sort_query;
        }
        if(this.filterParams.search_id){
          params.search_id = this.filterParams.search_id;
        }
        if(isAdvancedSearch || isExport){
          params.user_id = this.filterParams.by_student.value.id;
          params.from_date = this.fromDate;
          params.to_date = this.toDate;
        }
        if(isExport){
          this.generateExport(isExport, params);
        }else{
          this.getContactTracings(params, isLazyLoadingMode, isAdvancedSearch);
        }
      }else{
        this.setErrorResponse('', {user_id: ['The user id field is required.']});
        this.$store.commit('contactTracing/SET_CONTACT_TRACINGS', []);
      }
    },
    getContactTracings(data, isLazyLoadingMode, isAdvancedSearch){
      if(isAdvancedSearch){
        this.isLoading = true;
          this.$store.dispatch('contactTracing/getContactTracing', data).then((response) => {
            let responseData = response.data.data;
            if(responseData && responseData.search_id){
              this.filterParams.search_id = responseData.search_id;
              let params = {...data, search_id: responseData.search_id};
              this.getContactTracingResults(params, isLazyLoadingMode);
            }
          })
          .catch((err) => {
            this.isLoading = false;
          });
      }else{
        if(this.filterParams.search_id){
          this.getContactTracingResults(data, isLazyLoadingMode);
        }
      }
    },
    getContactTracingResults(params, isLazyLoadingMode) {
      this.$store.commit('contactTracing/SET_CONTACT_TRACINGS', []);
      this.isLoading = true;
      this.$store.dispatch('contactTracing/getContactTracingSearchResults', params)
        .then((response) => {
          let data = response.data;
          if (data.data) {
            if(isLazyLoadingMode){
              this.$store.commit('contactTracing/PUSH_CONTACT_TRACINGS', data.data);
            }else{
              this.$store.commit('contactTracing/SET_CONTACT_TRACINGS', data.data);
            }
          }
          if(data.meta){
            this.pagination.total = data.meta.total;
            this.pagination.from = data.meta.from
            this.pagination.to = data.meta.to
            this.pagination.pages = Math.ceil(data.meta.total / data.meta.per_page);
            this.pagination.activePage = Number(this.pagination.activePage);
            this.pagination = JSON.parse(JSON.stringify(this.pagination));
          }
          this.isLoading = false;
        })
        .catch((err) => {
          this.isLoading = false;
          let response = err.response.data;
          this.setErrorResponse(response.message, response.errors);
        });
    },
    generateExport(type, params) {
      let paramsData = {...params, export_as: type == 'excel' ? 'print' : type};
      if(type == 'csv'){
        paramsData.search_id = this.filterParams.search_id ? this.filterParams.search_id : '';
      }
      this.$store.dispatch('contactTracing/exportContactTracing', paramsData)
        .then(response => {
          if (response.data) {
            if(type == 'print'){
              this.printContactTracings(response.data.data);
            }else{
              this.downloadExport(response.data, type);
            }
          }
        });
    },
    downloadExport(data, type) {
      let fileExtension = 'csv';
      if (type === 'excel') {
        this.excelExport(data);
        return;
      }
      let csvDataForExport = 'data:text/csv;charset=utf-8,' + data;
      let encodedUri = encodeURI(csvDataForExport);
      let link = document.createElement("a");
      link.setAttribute("href", encodedUri);
      link.setAttribute("target", "_blank");
      link.setAttribute("download", "ContactTracingReport." + fileExtension);
      document.body.appendChild(link);
      link.click();
    },
    excelExport(data){
      if(data.data){
        let table = document.getElementsByClassName("contactTracingDataTable");
        if(table && table[0]){
          let tableHTML = '<table><thead>';
          let headers = '<tr><th>Last Name</th><th>First Name</th><th>Email</th><th>Number of times passes overlapped</th><th>Did they share a location?</th></tr>';
          table = table[0].cloneNode(true);
          tableHTML = tableHTML + headers + '</thead><tbody>';
          data.data.forEach((el) => {
            tableHTML = tableHTML + `<tr><td>${el.last_name}</td><td>${el.first_name}</td><td>${el.email}</td><td>${el.overlap_time_count}</td><td>${el.share_same_location ? 'Y' : 'N'}</td></tr>`;
          });
          table.innerHTML = tableHTML;
          TableToExcel.convert(table, {name: 'ContactTracingReport.xlsx'});
        }
      }
    },
    clearFilter() {
      this.clearFilterParams();
      this.resetSearchQuery();
      this.handleContactTracing();
      this.resetResponseMessages();
    },
    advancedSearch(){
      this.resetSearchQuery();
      this.handleContactTracing(1, false, false, true);
    },
    clearFilterParams(){
      this.filterParams = {
        search_id: null,
        search_query: '',
        sort_query: '',
        by_student: null,
        dates: {
          start: moment().format('MMM DD YYYY'),
          end: moment().format('MMM DD YYYY')
        },
      };
      this.calendar.activeRange = this.optionalDateRanges[0];
    },
    setActivePage() {
      this.handleContactTracing(this.pagination.activePage);
      this.$helpers.scrollToTop();
    },
    setPerPage(option) {
      if(option){
        this.isLazyLoadingMode = option.label === 'All entries';
        this.pagination.per_page = option;
        this.handleContactTracing();
      }
    },
    initLazyLoading(){
      let body = document.getElementsByClassName('main-scroll-container')[0];
      if(body){
        body.onscroll = () => {
          if(this.isLazyLoadingMode && this.passHistories && this.passHistories.length && this.pagination.total > this.passHistories.length){
            if(body.offsetHeight + body.scrollTop >= body.scrollHeight) {
              this.pagination.activePage = this.pagination.activePage + 1;
              this.requestPassHistory(this.pagination.activePage, false, true);
            }
          }
        }
      }
    },
    showCalendarRanges(hidePopover){
      if(this.calendar.isCalendarVisible){
        hidePopover();
        this.handleDatePopoverShow();
      }
      this.calendar.isRangesVisible = true;
      this.calendar.isCalendarVisible = false;
    },
    setCalendarRange(range, togglePopover){
      let isCustomRange = (range && range.label == 'Custom range');

      this.calendar.isCalendarVisible = isCustomRange;
      this.calendar.isRangesVisible = false; // !isCustomRange

      this.calendar.activeRange = range;
      this.filterParams.dates = range.range ? range.range : this.filterParams.dates;
      if(this.calendar.isCalendarVisible){
        togglePopover();
      }
    },
    onContainerClick(e){
      let target = e.target;
      let classList = target.classList.contains('date-calendar-option') || target.classList.contains('flaticon-calendar') || target.classList.contains('field-icon');
      if(target && !classList){
        this.calendar.isRangesVisible = false;
      }
    },
    searchByQuery(value, type){
      clearInterval(this.searchTimeOut);
      this.searchTimeOut = setTimeout(() => {
        this.handleQuerySearch(value, type);
      }, 500);
    },
    handleQuerySearch(value, type){
      let query = value.toString();
      if(query.replace(/\s/g, '').length > 0 || query.replace(/\s/g, '').length === 0){
        this.filterParams.search_query = '';
        if(type && type === 'column'){
          this.columnSearchKeys.globalQuery = "";
          for (const key in this.columnSearchKeys) {
            if (Object.hasOwnProperty.call(this.columnSearchKeys, key)) {
              let columnData = this.columnSearchKeys[key];
              if(columnData.value){
              columnData.column.forEach(col => {
                let searchValue = col==='overlap_time_count' ? columnData.value : '"'+columnData.value +'"';
                this.filterParams.search_query = this.filterParams.search_query + `${col}:${searchValue}, `;
              });
              }
            }
          }
          this.filterParams.search_query = this.filterParams.search_query.slice(0, -2);
        }else{
          this.resetSearchQuery();
          this.columnSearchKeys.globalQuery = query;
          this.filterParams.search_query = query ?  '"' + query + '"' : query;
        }
        // this.clearFilterParams();
        this.handleContactTracing();
      }
    },
    resetSearchQuery(){
      this.filterParams.search_query = '';
      this.columnSearchKeys = {
        globalQuery: '',
        last_name: {value:'', column: ['last_name'], sortBy: 'last_name'},
        first_name: {value:'', column: ['first_name'], sortBy: 'first_name'},
        email: {value:'', column: ['email'], sortBy: 'email'},
        overlap_time_count: {value:'', column: ['overlap_time_count'], sortBy: 'overlap_time_count'},
        share_same_location: {value:'', column: ['share_same_location'], sortBy: 'share_same_location'}
      };
    },
    sortByColumn(column){
      let columnName = this.columnSearchKeys[column.column] ? this.columnSearchKeys[column.column].sortBy : column.column;
      this.filterParams.sort_query = `${columnName}:${column.asc ? 'asc' : 'desc'}`;
      this.handleContactTracing();
    },
    printContactTracings(data){

      //Using iframe
        let tableHTML = '<html><head><title></title></head><body class="p-2"><h1>' + document.title  + '</h1><table class="print-table"><thead>';
        let headers = '<tr><th>Last Name</th><th>First Name</th><th>Email</th><th>Number of times passes overlapped</th><th>Did they share a location?</th></tr>';
        tableHTML = tableHTML + headers + '</thead><tbody>';
        data.forEach((el) => {
          tableHTML = tableHTML + `<tr><td>${el.last_name}</td><td>${el.first_name}</td><td>${el.email}</td><td>${el.overlap_time_count}</td><td>${el.share_same_location ? 'Y' : 'N'}</td></tr>`;
        });
        tableHTML = tableHTML + `</tbody></table><style>.print-table{border-spacing: 0px;}
                .print-table th, .print-table td{border: 1px solid #333;border-color: #333; border-spacing: 0px; padding: 5px;border-left-width: 0;}
                .print-table td{ border-top: none;},
                .print-table tr{border-spacing: 0px !important;} .print-table td:first-child, .print-table th:first-child {border-left-width: 1;};
          </style></body>`;


        window.frames["print_frame"].document.body.innerHTML = tableHTML;
        window.frames["print_frame"].window.focus();
        window.frames["print_frame"].window.print();

      return true;
    },
    resetResponseMessages(){
        this.reqResponse = {
          type: "",
          message: "",
          errors:{}
        }
    },
    setErrorResponse(message, errors){
        this.reqResponse = {type:'danger', message: message ? message : 'Someting went wrong!', errors: errors ? errors : {}};
    },
    setRangeValidation(date){
      if(date){
        this.maxSearchRange = moment(date.start).add(15, 'days').format('MMM DD YYYY');
        this.minSearchRange = moment(date.start).format('MMM DD YYYY');
      }
    },
    handleDatePopoverShow() {
      this.maxSearchRange = null;
      this.minSearchRange = null;
    }
  }
}
</script>
