<template>
  <CContainer class="pass-history-view appointment-pass-view datatable-container mb-5">
    <Loader :isProcessing="isLoading" />
    <CModal
      :show.sync="modal.isVisible.editApptPass"
      :closeOnBackdrop="false">
        <template #header-wrapper>
          <div class="pt-4 px-4 create-popup-header">
            <div @click="closeEditModal()" class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span class="close-icon"></span></div>
          </div>
        </template>
        <div class="px-3">
          <h3 class="text-center mb-4">Edit Appointment Pass</h3>
            <CreateAppoinmentsPassForm ref="CreateAppoinmentsPassForm" @cancelApptPassUpdate="modal.isVisible.editApptPass = false" :periods="periods" :isInView="true" :editablePass="editablePass"/>
        </div>
      <template #footer-wrapper><div></div></template>
    </CModal>

    <CRow class="mt-0 mt-sm-4">
      <CCol md="12">
        <div class="table-tabs-header bg-white mb-2 p-0">
          <div :class="{'show-hidden-tabs' : showTabs}" class="d-flex align-items-center justify-content-between flex-wrap">
            <div class="d-flex align-items-center tabs-container">
              <div v-for="(tab, index) in avalTableTabs" :key="index" class="table-tab" @click="setActivePassType(tab.value, tab.between_dates)" :class="[tab.class, {'active' : tab.value === activePassType}]">
                <span v-if="tab.icon" class="tab-icon" :class="tab.icon"></span>
                <span v-html="tab.label"></span>
                <span v-if="tab.count && stats && stats[tab.count]" class="counter-badge">{{stats[tab.count]}}</span>
              </div>
            </div>
            <div class="d-none d-sm-flex actions align-items-center pt-0 p-sm-2">
              <CButton @click="toggleDashboardUpdate" v-show="isActiveDashboardUpdate" class="py-2 px-2 mr-4 btn btn-inactive btn-sockets"><i class="fi flaticon-pause mr-2"></i>Pause Update</CButton>
              <CButton @click="toggleDashboardUpdate" v-show="!isActiveDashboardUpdate" class="py-2 px-2 mr-4 btn bg-gradient-blue text-white btn-sockets"><i class="fi flaticon-play mr-2"></i>Resume Update</CButton>
              <CLink
                @click="sendDashboardRequest(pagination.activePage, true)"
                class="lh-normal text-accent-blue-light">
                <i class="fi flaticon-download mr-1"></i> <span class="d-none d-md-inline-block">Download CSV</span>
              </CLink>
              <div class="d-flex align-items-center">
                <CInput
                  class="search-field mb-0 ml-2 ml-md-4"
                  placeholder="Search"
                  @input="searchByQuery"
                  :value.sync="columnSearchKeys.globalQuery"
                >
                <template #prepend-content><div><i class="flaticon-magnifying-glass"></i></div></template>
                </CInput>
                <CButton v-if="!isAppoinmentMode" @click="isVisibleAdvancedSearch = !isVisibleAdvancedSearch" class="btn-advanced-search d-flex align-items-center"><i class="fi mr-1" :class="isVisibleAdvancedSearch ? 'flaticon-minus' : 'flaticon-plus'"></i>Advanced Search</CButton>
              </div>
            </div>
            <div @click="showTabs = !showTabs" class="m-auto p-2 d-block d-sm-none cursor-pointer">{{!showTabs ? 'Show more' : 'Show less'}}</div>
          </div>
          <div v-if="!isAppoinmentMode" v-show="isVisibleAdvancedSearch" class="advanced-search-container px-4 pb-3">
            <CRow class="justify-content-center mt-4">
              <CCol md="4">
                <LazyLoadSelect
                  :isMultiple="true"
                  classes="mb-3"
                  @change="(value) => {filterParams.by_students = value}"
                  :selected="filterParams.by_students"
                  type="student"
                  placeholder="Search students"/>
              </CCol>
              <CCol md="4">
                <LazyLoadSelect
                  :isMultiple="true"
                  classes="mb-3"
                  @change="(value) => {filterParams.by_teachers = value}"
                  :selected="filterParams.by_teachers"
                  type="adults"
                  placeholder="Search teachers"/>
              </CCol>
              <CCol md="4">
                <LazyLoadSelect
                  :isMultiple="true"
                  :isProcessing="false"
                  classes="mb-3"
                  @change="(value) => {filterParams.by_rooms = value}"
                  :selected="filterParams.by_rooms"
                  type="locations"
                  placeholder="Search rooms"/>
              </CCol>
              <CCol md="12" class="mt-1 text-center text-sm-left">
                <div class="d-inline-block text-center mr-2" @click="advancedFilter()" >
                  <CButton class="btn bg-gradient-blue search-btn text-white">
                    <div class="p-small">Search</div>
                  </CButton>
                </div>
                <div class="d-inline-block text-center">
                <CButton @click="clearFilter()" class="btn mr-2 clear-btn">
                  Clear
                </CButton>
                </div>
              </CCol>
            </CRow>
          </div>
        </div>
        <div class="status-guides-container mb-2 flex-wrap" :class="{'justify-content-end' : isAppoinmentMode}">
          <div v-if="!isAppoinmentMode" class="tabs-filter-container order-0">
            <div class="filter-tab" @click="setActivePassState('only_active')" :class="{'active' : activePassState === 'only_active'}">Active</div>
            <div v-if="!showOnlyActivePasses" class="filter-tab" @click="setActivePassState('both')" :class="{'active' : activePassState === 'both'}">Both</div>
            <div v-if="!showOnlyActivePasses" class="filter-tab" @click="setActivePassState('ended_passes')" :class="{'active' : activePassState === 'ended_passes'}">Ended</div>
          </div>

          <div v-if="!isAppoinmentMode" class="status-guide order-3 order-lg-1 mt-3 mt-lg-1">
            <div class="mr-3">Filters:</div>
            <div class="status-list">
              <CInputCheckbox
                :disabled="!filterParams.checkBoxes.waiting_approval.isActive"
                label="Waiting Approval"
                :checked.sync="filterParams.checkBoxes.waiting_approval.value"
                name="Waiting Approval"
                :inline="true"
                :custom="true"
                @update:checked="sendDashboardRequest()"
                class="edited"
              />
              <CInputCheckbox
                v-if="passesTimeSettings && passesTimeSettings.min_time"
                :disabled="!filterParams.checkBoxes.yellow_time.isActive"
                :label="$helpers.formatDate(passesTimeSettings.min_time, 'hh:mm:ss', 'mm') + '+Min'"
                :checked.sync="filterParams.checkBoxes.yellow_time.value"
                name="Extended Passes"
                :inline="true"
                :custom="true"
                class="min-10"
                @update:checked="sendDashboardRequest()"
              />
              <CInputCheckbox
                :disabled="!filterParams.checkBoxes.system_ended.isActive"
                label="System Ended"
                :checked.sync="filterParams.checkBoxes.system_ended.value"
                name="System Ended"
                :inline="true"
                :custom="true"
                @update:checked="sendDashboardRequest()"
                class="system-ended"
              />
              <CInputCheckbox
                :disabled="!filterParams.checkBoxes.extended_time.isActive"
                label="Extended Passes"
                :checked.sync="filterParams.checkBoxes.extended_time.value"
                name="Extended Passes"
                :inline="true"
                :custom="true"
                class="extended-passes"
                @update:checked="sendDashboardRequest()"
              />
              <CInputCheckbox
                :disabled="!filterParams.checkBoxes.edited.isActive"
                label="Edited"
                :checked.sync="filterParams.checkBoxes.edited.value"
                name="Edited"
                :inline="true"
                :custom="true"
                @update:checked="sendDashboardRequest()"
                class="gray"
              />
            </div>
          </div>

          <div v-if="isAppoinmentMode">
            <PerPageSelector :pagination="pagination" :action="setPerPage"/>
          </div>

          <div v-if="!isAppoinmentMode" class="d-flex flex-column justify-content-center p-2 order-2 order-lg-2">
            <div class="text-center mb-1">Basic View</div>
            <div class="d-flex align-items-center">
              Off <CSwitch class="cs-switch mx-1" shape="pill" :checked="isBasicView" @update:checked="isBasicView = !isBasicView"/> On
            </div>
          </div>

        </div>

        <DataTable
          class="datatable bg-white"
          :class="{'basic-view' : isBasicView}"
          addTableClasses="datatable-table dashboard-table"
          id="dashboardTable"
          v-if="activeTablePasses"
          :items="activeTablePasses"
          :fields="activeDataTableFields"
          :column-filter="isAppoinmentMode"
          :sorter='{ external: true }'
          @update:sorter-value="sortByColumn"
          @row-clicked="setActiveRow"
          :noItemsView='{ noResults: "No items available", noItems: "No items available" }'>>

          <template #thead-top>
              <HelpCenterButton class="top-right mt-2 mr-2" width="15" heigth="15" contentKey="dashboard_datatable"/>
          </template>

          <template #sorting-icon="{state}">
            <div class="table-order-icons">
              <font-awesome-icon icon="caret-up" :class="[state=='desc'?'text-black':'text-black-50',]" />
              <font-awesome-icon icon="caret-down" :class="[state=='asc'?'text-black':'text-black-50']" />
            </div>
          </template>
          <template #user="{item}">
              <UserColumnData :pass="item" :isBasicView="isBasicView && activeTableRow.item.id !== item.id"/>
          </template>

          <template #badge_flags="{item}">
            <td class="status-field">
              <div v-if="getPassStatus(item)" :style="`color:${getPassStatus(item).color ? getPassStatus(item).color : ''}`">
                {{getPassStatus(item).label}}
              </div>
            </td>
          </template>

          <template #approved_at="{item}">
            <td class="pass-time-info align-top">
              <b>{{item.from ? item.from.name : ''}}</b>
              <div v-show="!isBasicView || activeTableRow.item.id === item.id">
                <p class="my-1 mx-0 p-0">{{item.approved_at ? $helpers.transformDate(item.approved_at, 'h:mm A') : ''}}</p>
                <InOutColumn :pass="item" section="approved_at"/>
                <PassActionButtons @cancelPass="dataTableRefresh" :pass="item" :actionsStatus="1"/>
              </div>
            </td>
          </template>

          <template #completed_at="{item}">
            <td class="pass-time-info in-time align-top">
              <b>{{item.to ? item.to.name : ''}}</b>
              <div v-show="!isBasicView || activeTableRow.item.id === item.id">
                <p class="my-1 mx-0 p-0">{{item.completed_at ? $helpers.transformDate(item.completed_at, 'h:mm A') : ''}}</p>

                <InOutColumn :pass="item" section="completed_at"/>

                <PassActionButtons :pass="item" :actionsStatus="2" @passEnded="dataTableRefresh"/>
              </div>
            </td>
          </template>

          <template #approved_by="{item}">
            <td class="pass-time-info align-top">
              <b>{{item.child && item.child.from ? item.child.from.name : ''}}</b>
              <div v-show="!isBasicView || activeTableRow.item.id === item.id">
                <p class="my-1 mx-0 p-0">{{item.child && item.child.approved_at ? $helpers.transformDate(item.child.approved_at, 'h:mm A') : ''}}</p>

                <InOutColumn :pass="item" section="child_approved_at"/>
                <PassActionButtons :pass="item" :actionsStatus="3" @passEnded="dataTableRefresh"/>
              </div>
            </td>
          </template>

          <template #completed_by="{item}">
            <td class="pass-time-info in-time align-top">
              <b>{{item.child && item.child.to ? item.child.to.name : ''}}</b>
              <div v-show="!isBasicView || activeTableRow.item.id === item.id">
                <p class="my-1 mx-0 p-0">{{item.child && item.child.completed_at ? $helpers.transformDate(item.child.completed_at, 'h:mm A') : ''}}</p>

                <InOutColumn :pass="item" section="child_completed_at"/>

                <PassActionButtons :pass="item" :actionsStatus="4" @passEnded="dataTableRefresh"/>
              </div>
            </td>
          </template>

          <template #total_time="{item}">
            <td>
              <b>{{item.total_time && item.badge_flags.ended || item.badge_flags.system_completed ? item.total_time : ''}}</b>
            </td>
          </template>

           <template #comments="{item}">
            <td>
              <PassComments :pass="item" :isBasicView="isBasicView && activeTableRow.item.id !== item.id" commentable_type="App\Models\Pass"/>
            </td>
          </template>

          <template #expired_at="{item}">
            <td>{{item.expired_at ? $helpers.transformDate(item.expired_at) : ''}}</td>
          </template>


          <!-- APT PASS FIELDS -->
          <template #user_id="{item}">
            <UserColumnData :pass="item" :isAppoinment="true"/>
          </template>
          <template #user_id-filter>
            <input v-model="columnSearchKeys.user.value" placeholder="Search by name" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #recurrence_appointment_pass="{item}">
            <td>
              <div class="recurrence-column" v-if="item.recurrence_appointment_pass">
                <div v-if="item.recurrence_appointment_pass.recurrence_type">
                  <div><b>{{item.recurrence_appointment_pass.recurrence_type}}</b></div>
                  <div v-if="item.recurrence_appointment_pass.recurrence_days" class="weekdays-options-container d-flex mt-1">
                    <div class="weekday-box active mr-1" v-for="(day, index) in JSON.parse(item.recurrence_appointment_pass.recurrence_days).days" :key="index">
                      {{day.substring(0, 2)}}
                    </div>
                  </div>
                  <div class="mt-1" v-if="item.recurrence_appointment_pass.recurrence_end_at">{{$helpers.transformDate(item.for_date, 'MMM DD YYYY') + ' > ' + $helpers.transformDate(item.recurrence_appointment_pass.recurrence_end_at, 'MMM DD YYYY')}}</div>
                </div>
              </div>
              <div v-else>
                <b>Does not repeat</b>
                <p>{{item.for_date ? $helpers.transformDate(item.for_date, 'MMM DD YYYY') : ''}}</p>
              </div>
            </td>
          </template>
          <template #recurrence_appointment_pass-filter>
            <input placeholder="Search by date" v-model="columnSearchKeys.recurrence_appointment_pass.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

           <template #period="{item}">
            <td>
              <div v-if="item.period">
                <b>{{item.period.name}}</b>
                <p>{{item.for_date ? $helpers.transformDate(item.for_date, 'h:mm A') : ''}}</p>
              </div>
            </td>
          </template>
          <template #period-filter>
            <input placeholder="Search by period" v-model="columnSearchKeys.period.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #from="{item}">
            <td class="pass-time-info">
              <div class="d-flex">
                <b v-if="item.from_type && item.from_type==='App\\Models\\User'">{{item.from ? item.from.first_name + " " + item.from.last_name : ''}}</b>
                <b v-else>{{item.from ? item.from.name : ''}}</b>
                <b v-if="item.acknowledged_by_user && item.from && item.acknowledged_by_user.id === item.from.id"><span class="checked-icon ml-2"></span></b>
              </div>
            </td>
          </template>
          <template #from-filter>
            <input placeholder="Search by name" v-model="columnSearchKeys.from.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #to="{item}">
            <td class="pass-time-info">
              <b v-if="item.to && item.to==='App\\Models\\User'">{{item.to ? item.to.first_name + " " + item.to.last_name : ''}}</b>
              <b v-else>{{item.to ? item.to.name : ''}}</b>
              <b v-if="item.acknowledged_by_user && item.to && item.acknowledged_by_user.id === item.to.id"><span class="checked-icon ml-2"></span></b>
            </td>
          </template>
          <template #to-filter>
            <input placeholder="Search by name" v-model="columnSearchKeys.to.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #created_by_user="{item}">
            <td>
              <div v-if="item.created_by_user">
                <b>{{item.created_by_user.first_name + ' ' + item.created_by_user.last_name}}</b>
                <p v-if="item.created_at">
                  {{$helpers.transformDate(item.created_at, 'MMM DD YYYY')}}
                  <br>
                  {{$helpers.transformDate(item.created_at, 'h:mm A')}}
                </p>
              </div>
            </td>
          </template>
          <template #created_by_user-filter>
            <input placeholder="Search by name" v-model="columnSearchKeys.created_by_user.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

           <template #latest_comment="{item}">
            <td>
              <PassComments :pass="item" :isBasicView="false" commentable_type="App\Models\AppointmentPass"/>
            </td>
          </template>
          <template #latest_comment-filter>
            <input placeholder="Search by latest comment" v-model="columnSearchKeys.comments.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #actions="{item}">
            <td>
              <div>
                <p class="mb-1">
                  <b>{{item.created_by_user && item.created_by_user.role_id == 1 ? 'Requested' : 'Made'}} </b>
                  <span v-html="$helpers.getHTMLDateTime(item.created_at, 'MMM DD YYYY', 'h:mm A')"></span>
                </p>
                <p class="mb-1" v-if="item.confirmed_by_teacher_at && item.acknowledged_by_teacher_at">
                  <b>Confirmed </b>
                  <span v-html="$helpers.getHTMLDateTime(item.confirmed_by_teacher_at, 'MMM DD YYYY', 'h:mm A')"></span>
                </p>
                <p class="mb-1" v-if="item.canceled_at && item.canceled_by_user">
                  <b>Canceled by {{ item.canceled_by_user.first_name }} {{ item.canceled_by_user.last_name }} at </b>
                  <span v-html="$helpers.getHTMLDateTime(item.canceled_at, 'MMM DD YYYY', 'h:mm A')"></span>
                </p>
                <ApptPassActionButtons :isPassBeyond="activePassType == 'future_awaiting'" @editAppPass="onPassEdit" :countType="activeCountType" :pass="item" :currentUser="currentUser"/>
              </div>
            </td>
          </template>
        </DataTable>

        <CPagination
          class="cs-pagination mt-4"
          :dots="false"
          :doubleArrows="true"
          v-if="pagination && pagination.pages && pagination.pages>1 && !isLazyLoadingMode && isAppoinmentMode"
          :activePage.sync="pagination.activePage"
          :pages="pagination.pages"
          size="lg"
          align="center"
          @update:activePage="setActivePage">
           <template #last-button>
            <i class="flaticon-right-arrow-1"></i>
          </template>
          <template #first-button>
            <i class="flaticon-left-arrow-2"></i>
          </template>
          <template #previous-button>
            <i class="fi flaticon-left-arrow-1"></i>
          </template>
          <template #next-button>
            <i class="fi flaticon-chevron"></i>
          </template>
        </CPagination>

      </CCol>
    </CRow>
  </CContainer>
</template>
<script>
import Loader from '@/components/Loader'
import CommentsComponent from '@/components/CommentsComponent'
import {mapGetters} from 'vuex';
import UserColumnData from './ColumnComponents/UserColumnData.vue';
import PassComments from './ColumnComponents/PassComments.vue';
import ApptPassActionButtons from './ColumnComponents/ApptPassActionButtons.vue';
import PassActionButtons from './ColumnComponents/PassActionButtons.vue';
import InOutColumn from './ColumnComponents/InOutColumn.vue';
import CreateAppoinmentsPassForm from '../Forms/CreateAppoinmentsPassForm.vue';
import moment from 'moment-timezone';
import LazyLoadSelect from '@/components/LazyLoadSelect.vue';
import PerPageSelector from '../PerPageSelector.vue';
import HelpCenterButton from '@/components/HelpCenterButton';

export default {
  name: "DashboardDataTable",
  props: ['stats'],
  components: {
    Loader,
    CommentsComponent,
    UserColumnData,
    PassComments,
    ApptPassActionButtons,
    PassActionButtons,
    InOutColumn,
    CreateAppoinmentsPassForm,
    LazyLoadSelect,
    PerPageSelector,
    HelpCenterButton
  },
  data() {
    return {
      isAppoinmentMode: false,
      isBasicView: false,
      isLazyLoadingMode: false,
      isVisibleAdvancedSearch: false,
      activePassType:'',
      activePassState:'only_active',
      between_dates: null,
      modal: {
        isVisible:{
          editApptPass: false,
        }
      },
      filterParams:{
        search_query: '',
        sort_query:'',
        ended_passes: false,
        only_my_passes: false,
        both: false,
        only_my_active: false,
        only_active: false,
        expired: false,
        todays_awaiting: false,
        future_awaiting: false,
        by_students: [],
        by_teachers: [],
        by_rooms: [],
        edited: null,
        checkBoxes: {
          waiting_approval: {
            value: false,
            activeForStates: ['only_active', 'both']
          },
          edited: {
            value: false,
            activeForStates: ['ended_passes', 'both']
          },
          system_ended: {
            value: false,
            activeForStates: ['ended_passes', 'both']
          },
          extended_time: {
            value: false,
            activeForStates: ['ended_passes', 'both']
          },
          yellow_time: {
            value: false,
            activeForStates: ['ended_passes', 'only_active', 'both']
          }
        }
      },
      columnSearchKeys: {
        globalQuery: '',
        user: {value:'', column: ['user.name'], sortBy:'user.last_name'},
        user_id: {value:'', column: ['user.name'], sortBy:'user.last_name'},
        recurrence_appointment_pass: {value:'', column: ['for_date'], sortBy:'for_date'},
        period: {value:'', column: ['period.name'], sortBy:'period.name'},
        from: {value:'', column: ['from.name'], sortBy:'from.name'},
        to: {value:'', column: ['to.name'], sortBy:'to.name'},
        created_by_user: {value:'', column: ['created_by_user.name'], sortBy:'created_by_user.last_name'},
        comments: {value:'', column: ['latest_comment.comment'], sortBy:'created_date'},
        latest_comment: {value:'', column: ['latest_comment.comment'], sortBy:'latest_comment.comment'},
        approved_at: {value:'', column: ['approved_at'], sortBy:'elastic_advanced_fields.approve_time_only'},
        completed_at: {value:'', column: ['completed_at'], sortBy:'elastic_advanced_fields.completed_time_only'},
        approved_by: {value:'', column: ['child.approved_at'], sortBy:'elastic_advanced_fields.approve_child_time_only'},
        completed_by: {value:'', column: ['child.completed_at'], sortBy:'elastic_advanced_fields.completed_child_time_only'},
        total_time: {value:'', column: ['total_time'], sortBy:'total_time'},
        type: {value:'', column: ['type'], sortBy:'type'},
        badge_flags: {value:'', column: ['status'], sortBy:'status'},
      },
      pagination: {
        activePage: 1,
        total: 0,
        pages: 0,
        per_page: {label:'25', value: 25}
      },
      dataTableFields: [
        {key:'user_id', label:'Student', _style:'min-width:150px', types: ['only_active', 'todays_awaiting', 'future_awaiting']},
        {key: 'recurrence_appointment_pass', label: 'Date/Recurrence', _style:'min-width:160px', types: ['only_active', 'todays_awaiting', 'future_awaiting']},
        {key: 'period', label: 'Period/Time', _style:'min-width:140px', types: ['only_active', 'todays_awaiting', 'future_awaiting']},
        {key: 'from', label: 'From', types: ['only_active', 'todays_awaiting', 'future_awaiting']},
        {key: 'to', label: 'To', types: ['only_active', 'todays_awaiting', 'future_awaiting']},
        {key: 'created_by_user', label: 'Creator', _style:'min-width:120px', types: ['only_active', 'todays_awaiting', 'future_awaiting']},
        {key:'latest_comment', label:"Comments", _style:'min-width:120px', types: ['only_active', 'todays_awaiting', 'future_awaiting']},
        {key:'actions', types: ['only_active', 'todays_awaiting', 'future_awaiting'], filter: false},

        {key:'user', label:'Student', _style:'min-width:250px', types: ['only_my_passes', 'all']},
        {key: 'badge_flags', label: 'Status', types: ['only_my_passes', 'all']},
        {key: 'approved_at', label: 'Out time', _style:'min-width:125px', types: ['only_my_passes', 'all']},
        {key: 'completed_at', label: 'In time', _style:'min-width:125px', types: ['only_my_passes', 'all']},
        {key: 'approved_by', label: 'Out time', _style:'min-width:125px', types: ['only_my_passes', 'all']},
        {key: 'completed_by', label: 'In time', _style:'min-width:125px', types: ['only_my_passes', 'all']},
        {key: 'total_time', label: 'Total', types: ['only_my_passes', 'all']},
        {key:'type', types: ['only_my_passes', 'all']},
        {key:'comments',label: "Status/Comments",_style:'min-width:160px', types: ['only_my_passes', 'all']},

      ],
      tableTabs:[
        {label: "<b>My<br></b> Passes", icon:"flaticon-dashboard_user", type:"pass", value: 'only_my_passes', class: "pass-tabs", between_dates: null},
        {label: "<b>All<br></b> Passes", icon:"flaticon-dashboard_customer", type:"pass", value: 'all', class: "pass-tabs", between_dates: null},
        {label: "Today's Appointments", type:"appoinments", value: 'only_active', class: "purple d-none d-sm-flex", count: "todayAppointmentsCount", between_dates: {start: moment().format('MM/DD/YYYY'), end: moment().format('MM/DD/YYYY')}},
        {label: "Today's Awaiting Confirmation", type:"appoinments", value: "todays_awaiting", class: "red d-none d-sm-flex", count: "awaitingTodayAppointmentsCount", between_dates: {start: moment().format('MM/DD/YYYY'), end: moment().format('MM/DD/YYYY')}},
        {label: "Future Awaiting Confirmation", type:"appoinments", value: 'future_awaiting', class: "green d-none d-sm-flex", count: "futureAppointmentsCount", between_dates: {start: moment().add(1, 'days').format('MM/DD/YYYY'), end: moment().add(1, 'year').format('MM/DD/YYYY')}}
      ],
      activeTableTab: '',
      activeTableRow: {item:{id:null}, index: null},
      isLoading: false,
      searchTimeOut: null,
      pageTitle: document.title,
      showTabs: false,
      isSocketUpdate: false,
    }
  },
  computed:{
    ...mapGetters({
      periods: 'periods/formListStudents',
      editablePass: 'appointmentPasses/editablePass',
      passesTimeSettings: 'passes/passesTimeSettings',
      currentUser: 'authentication/user',
      dashboardPasses: 'dashboard/passes',
      appointmentPasses: 'appointmentPasses/appointmentPasses',
      isActiveDashboardUpdate: 'sockets/isActiveDashboardUpdate',
      appointmentSocketsInit: 'sockets/appointmentSocketsInit',
      isActiveAppoinmentModule: 'schools/isActiveAppoinmentModule',
      activeSchoolHasAppoitmentPasses: 'schools/activeSchoolHasAppoitmentPasses',
      isUserInTransparency: "authentication/isUserInTransparency"
    }),
    activeDataTableFields(){
      let fields = this.activePassType ? this.dataTableFields.filter(field => field.types.includes(this.activePassType)) : this.dataTableFields;
      return !this.isBasicView ? fields.filter(el => el.key !== 'badge_flags') : fields;
    },
    activeTablePasses(){
      return this.isAppoinmentMode ? this.appointmentPasses : this.dashboardPasses;
    },
    avalTableTabs(){
      const withoutType = this.isActiveAppoinmentModule ? null : 'appoinments';
      const withoutValues = this.activeSchoolHasAppoitmentPasses ? [] : ['todays_awaiting', 'future_awaiting'];
      return this.tableTabs.filter(tab => tab.type != withoutType && !withoutValues.includes(tab.value));
    },
    activeCountType() {
      return this.activePassType ? this.avalTableTabs.find(att => att.value === this.activePassType).count : null;
    },
    isUserMuted(){
      return !this.currentUser.audio_enabled;
    },
    showOnlyActivePasses(){
      return this.activePassType === 'all' && !this.isUserInTransparency;
    }
  },
  destroyed(){
    document.title = this.pageTitle;
    this.destroySockets();
  },
  mounted() {
    this.initSockets();
    this.initDataSet();
    this.sendDashboardRequest();
    this.initLazyLoading();
  },
  watch: {
    stats: function(value){
      if(value.tabCounters){
        this.setPageTitle(value.tabCounters, this.pageTitle);
      }
    }
  },
  methods: {
    sendDashboardRequest(page, isExport, noLoader, isLazyLoadingMode){
      this.pagination.activePage = page ? page : 1;
      let params = {};
      if(this.isAppoinmentMode){
        params = {
          page: this.pagination.activePage,
          per_page: parseInt(this.pagination.per_page.value)
        }
      }
      if(this.filterParams.sort_query){
        params.sort = this.filterParams.sort_query;
      }
      if(this.activePassType && this.filterParams.hasOwnProperty(this.activePassType)){
        params[this.activePassType] = true;
        if(this.between_dates){
          params.between_dates = this.between_dates.start + ',' + this.between_dates.end;
        }
      }
      if(this.filterParams.search_query){
        this.disableAppPassUpdate();
        params.search_query = this.filterParams.search_query;
      }else{
        if(!this.isAppoinmentMode){
          if(this.filterParams.by_students && this.filterParams.by_students.length){
            this.disableAppPassUpdate();
            params.by_students = this.filterParams.by_students.map(el => el.value.id).join();
          }
          if(this.filterParams.by_teachers && this.filterParams.by_teachers.length){
            this.disableAppPassUpdate();
            params.by_teachers = this.filterParams.by_teachers.map(el => el.value.id).join();
          }
          if(this.filterParams.by_rooms && this.filterParams.by_rooms.length){
            this.disableAppPassUpdate();
            params.by_rooms = this.filterParams.by_rooms.map(el => el.value.id).join();
          }
        }
      }
      if(this.isAppoinmentMode && this.isActiveAppoinmentModule){
        this.handleAppointmentPasses(params, isExport, noLoader, isLazyLoadingMode);
      }else{
        this.handleDashboard(params, isExport, noLoader, isLazyLoadingMode);
      }
    },
    handleAppointmentPasses(params, isExport, noLoader, isLazyLoadingMode){
      if(isExport){
        this.getCSVAppointmentPasses();
      }else{
        this.getAppoinmentPasses(params, noLoader, isLazyLoadingMode);
      }
    },
    getAppoinmentPasses(params, noLoader, isLazyLoadingMode){
      this.isLoading = !noLoader;
      this.$store.dispatch('appointmentPasses/getAppointmentPasses', params)
        .then((response) => {
          let data = response.data;
          if (data.data) {
            if(isLazyLoadingMode){
              this.$store.commit('appointmentPasses/PUSH_APPOINTMENT_PASSES', data.data);
            }else{
              this.$store.commit('appointmentPasses/SET_APPOINTMENT_PASSES', data.data);
            }

            this.pagination.total = data.meta.total;
            this.pagination.from = data.meta.from
            this.pagination.to = data.meta.to
            this.pagination.pages = Math.ceil(data.meta.total / data.meta.per_page);
            this.pagination.activePage = Number(this.pagination.activePage);
            this.pagination = JSON.parse(JSON.stringify(this.pagination));
          }
          this.isLoading = false;
        })
        .catch((err) => { this.isLoading = false;});
    },
    getCSVAppointmentPasses(){
      this.isLoading = true;
      this.$store.dispatch('appointmentPasses/getCSVAppointmentPasses')
        .then((response) => {
          if(response.data){
            this.downloadCSVExport(response.data, 'appoinment-passes');
          }
          this.isLoading = false;
        })
        .catch((err) => { this.isLoading = false;});
    },
    downloadCSVExport(data, fileName){
      let csvDataForExport = 'data:text/csv;charset=utf-8,' + data;
      var encodedUri = encodeURI(csvDataForExport);
      var link = document.createElement("a");
      link.setAttribute("href", encodedUri);
      link.setAttribute("target", "_blank");
      link.setAttribute("download", `${fileName ? fileName : 'passes-export'}.csv`);
      document.body.appendChild(link);
      link.click();
    },
    handleDashboard(paramsData, isExport, noLoader, isLazyLoadingMode){
      if(this.isBasicView){
        this.clearActiveRow();
      }
      let params = paramsData;
      let filters_list = [];
      for (const key in this.filterParams.checkBoxes) {
        if (Object.hasOwnProperty.call(this.filterParams.checkBoxes, key)) {
          const item = this.filterParams.checkBoxes[key];
          item.isActive = item.activeForStates.includes(this.activePassState);
          if(item.value && item.isActive){
            filters_list.push('"' + key + '"');
          }
        }
      }
      if(filters_list.length){
        params.filters_list = "[" + filters_list + "]";
      }
      if(this.activePassState && this.filterParams.hasOwnProperty(this.activePassState)){
        params[this.activePassState] = true;
      }
      if(isExport){
        this.ExportCSVDashboardData(params);
      }else{
        this.getDashboardPassesData(params, noLoader, isLazyLoadingMode);
      }

    },
    getDashboardPassesData(params, noLoader, isLazyLoadingMode){
      this.isLoading = !noLoader;
      let action = this.isSocketUpdate ? 'dashboard/getDashboardPassesDataSocket' : 'dashboard/getDashboardPassesData';
      this.isSocketUpdate = false;
      this.$store.dispatch(action, params)
      .then((response) => {
        let data = response.data.data;
        if(data){
          if(isLazyLoadingMode){
            this.$store.commit('dashboard/PUSH_PASSES', data);
          }else{
            this.$store.commit('dashboard/SET_PASSES', data);
          }
        }
        let meta = response.data.meta;
        if(meta){
          this.pagination.total = meta.total;
          this.pagination.pages = Math.ceil(meta.total/meta.per_page);
        }
        this.isLoading = false;
      })
      .catch((err) => { this.isLoading = false });
    },
    ExportCSVDashboardData(params){
      this.isLoading = true;
      this.$store.dispatch('dashboard/getDashboardPassesExport', params)
        .then((response) => {
          if(response.data){
            this.downloadCSVExport(response.data, 'passes');
          }
          this.isLoading = false;
        })
        .catch((err) => { this.isLoading = false;});
    },
    clearFilter(){
      this.clearAdvancedSearchParams();
      this.sendDashboardRequest();
    },
    clearAdvancedSearchParams(){
      this.filterParams.by_students = [];
      this.filterParams.by_teachers = [];
      this.filterParams.by_rooms = [];
    },
    setPerPage(option){
      if(option){
        this.isLazyLoadingMode = option.label === 'All entries';
        this.pagination.per_page = option;
        this.sendDashboardRequest();
      }
    },
    setActivePassType(type, betweenDate){
      if(type !== this.activePassType){
        this.between_dates = betweenDate;
        this.activePassType = type;
        if(this.showOnlyActivePasses){
          this.activePassState = 'only_active';
        }
        this.filterParams.sort_query = '';
        this.isAppoinmentMode = !(type === 'all' || type === 'only_my_passes');
        this.isBasicView = this.isBasicView ? !this.isAppoinmentMode : this.isBasicView;
        if(!this.isAppoinmentMode){
          this.saveFilterSettings();
        }
        this.sendDashboardRequest();
      }
    },
    setActivePassState(type){
      if(type !== this.activePassState){
        this.activePassState = type;
        this.saveFilterSettings();
        this.sendDashboardRequest();
      }
    },
    saveFilterSettings(settings = {activePassState: this.activePassState, activePassType: this.activePassType}){
      localStorage.setItem('dashSettings', JSON.stringify(settings));
    },
    setActivePage(){
      this.sendDashboardRequest(this.pagination.activePage);
      this.$helpers.scrollToTop();
    },
    setActiveRow(value, index, column, event){
      var path = event.path || (event.composedPath && event.composedPath());
      if(this.isBasicView){
        let isModal = false;
        if(path){
          path.forEach(element => {
            let classes = element.className;
            if(classes && classes=='no-target'){
              isModal = true;
            }
          });
        }

        let targetClasses = event.target.classList;
        if(!targetClasses.contains('no-target') && !isModal){
          let dashboardTable = document.getElementById('dashboardTable');
          let rows = dashboardTable.getElementsByTagName('tr');
          for (let i = 0; i < rows.length; i++) {
            const row = rows[i];
            row.classList.remove('active');
          }
          if(this.activeTableRow && this.activeTableRow.item.id === value.id){
            this.activeTableRow = {item:{id: null}, index: null}
          }else{
            this.activeTableRow = {item:value, index};
            if(rows[index+1]){
              rows[index+1].classList.add('active');
            }
          }
        }
      }
    },
    clearActiveRow(){
      let dashboardTable = document.getElementById('dashboardTable');
      let rows = dashboardTable.getElementsByTagName('tr');
      for (let i = 0; i < rows.length; i++) {
        const row = rows[i];
        row.classList.remove('active');
      }
    },
    searchByQuery(value, type){
      clearInterval(this.searchTimeOut);
      this.searchTimeOut = setTimeout(() => {
        this.handleQuerySearch(value, type);
      }, 500);
    },
    handleQuerySearch(value, type){
      let query = value.toString();
      if(query.replace(/\s/g, '').length > 0 || query.replace(/\s/g, '').length === 0){
        this.filterParams.search_query = '';
        if(type && type === 'column'){
          this.columnSearchKeys.globalQuery = "";
          for (const key in this.columnSearchKeys) {
            if (Object.hasOwnProperty.call(this.columnSearchKeys, key)) {
              let columnData = this.columnSearchKeys[key];
              if(columnData.value){
                columnData.column.forEach(col => {
                  this.filterParams.search_query = this.filterParams.search_query + `${col}:"${columnData.value}", `;
                });
              }
            }
          }
          this.filterParams.search_query = this.filterParams.search_query.slice(0, -2);
        }else{
          this.resetSearchQuery();
          this.columnSearchKeys.globalQuery = query;
          this.filterParams.search_query = query ?  '"' + query + '"' : query;
        }
        this.clearAdvancedSearchParams();
        this.sendDashboardRequest();
      }
    },
    sortByColumn(column){
      let columnName = this.columnSearchKeys[column.column] ? this.columnSearchKeys[column.column].sortBy : column.column;
      this.filterParams.sort_query = `${columnName}:${column.asc ? 'asc' : 'desc'}`;
      this.sendDashboardRequest();
    },
    advancedFilter(){
      this.resetSearchQuery();
      this.sendDashboardRequest();
    },
    resetSearchQuery(){
      this.filterParams.search_query = '';
      this.columnSearchKeys = {
        globalQuery: '',
        user: {value:'', column: ['user.name'], sortBy:'user.last_name'},
        user_id: {value:'', column: ['user.name'], sortBy:'user.last_name'},
        recurrence_appointment_pass: {value:'', column: ['for_date'], sortBy:'for_date'},
        period: {value:'', column: ['period.name'], sortBy:'period.name'},
        from: {value:'', column: ['from.name'], sortBy:'from.name'},
        to: {value:'', column: ['to.name'], sortBy:'to.name'},
        created_by_user: {value:'', column: ['created_by_user.name'], sortBy:'created_by_user.last_name'},
        comments: {value:'', column: ['latest_comment.comment'], sortBy:'created_date'},
        latest_comment: {value:'', column: ['latest_comment.comment'], sortBy:'latest_comment.comment'},
        approved_at: {value:'', column: ['approved_at'], sortBy:'elastic_advanced_fields.approve_time_only'},
        completed_at: {value:'', column: ['completed_at'], sortBy:'elastic_advanced_fields.completed_time_only'},
        approved_by: {value:'', column: ['child.approved_at'], sortBy:'elastic_advanced_fields.approve_child_time_only'},
        completed_by: {value:'', column: ['child.completed_at'], sortBy:'elastic_advanced_fields.completed_child_time_only'},
        total_time: {value:'', column: ['total_time'], sortBy:'total_time'},
        type: {value:'', column: ['type'], sortBy:'type'},
        badge_flags: {value:'', column: ['status'], sortBy:'status'},
      };
    },
    toggleDashboardUpdate(){
      this.$store.commit('sockets/TOGGLE_ACTIVE_SOCKET', 'isActiveDashboardUpdate');
      if(this.isActiveDashboardUpdate){
        this.dataTableRefresh();
      }
    },
    disableAppPassUpdate(){
      if(this.isActiveDashboardUpdate){
        this.toggleDashboardUpdate();
      }
    },
    getPassStatus(pass){
        if(pass.badge_flags){
          if(pass.badge_flags.active && !pass.badge_flags.min_time){
            return {label: 'Active', class: 'active', color: '#32ba7c'};
          }
          if(pass.badge_flags.ended){
            return {label: 'Ended', class: 'ended'};
          }
          if(pass.badge_flags.system_completed){
            return {label: 'System Ended', class: 'system-completed'};
          }
          if(pass.badge_flags.min_time){
            return {label: this.passesTimeSettings ? this.$helpers.formatDate(this.passesTimeSettings.min_time, 'hh:mm:ss', 'm') + '+ MIN' : 'Min time', class: 'min-time', color: '#fff200'};
          }
          if(pass.badge_flags.extended){
            return {label: 'Extended', class: 'extended'};
          }
          if(pass.badge_flags.missed){
            return {label: 'Missed', class: 'missed', color: '#00a193'};
          }
          if(pass.badge_flags.canceled){
            return {label: 'Canceled', class: 'canceled', color: '#7278e0'};
          }
        }
        return '';
    },
    dataTableRefresh(){
      setTimeout(() => {
        this.sendDashboardRequest(this.pagination.activePage, false, true);
      }, 850);
    },
    appPassesTableRefresh(){
      if(this.isAppoinmentMode && this.isActiveDashboardUpdate){
        this.clearAdvancedSearchParams();
        this.resetSearchQuery();
        this.sendDashboardRequest(this.pagination.activePage, false, true);
      }
    },
    updateDashboardPass(pass, refresh){
      if(!this.isAppoinmentMode && this.isActiveDashboardUpdate){
        if(pass && this.isSocketChangeVisible(pass)){
          if(refresh){
            this.isSocketUpdate = true;
            this.dataTableRefresh();
          }else{
            this.$store.commit('dashboard/UPDATE_PASS', pass);
          }
        }

      }
    },
    updateDashboardStats(stats){
      this.$store.commit('dashboard/SET_STATS', stats);
    },
    updateSpecificDashboardStat(buildingCounters){
      if(buildingCounters){
        for (const key in buildingCounters) {
          if (Object.hasOwnProperty.call(buildingCounters, key)) {
            const value = buildingCounters[key];
            if(value !== null){
              this.$store.commit('dashboard/SET_SPECIFIC_STAT', {key, value});
            }
          }
        }
      }
    },
    onPassEdit(pass){
      this.$store.commit('appointmentPasses/SET_EDITABLE_PASS', pass);
      this.modal.isVisible.editApptPass = true;
    },
    initLazyLoading(){
      let body = document.getElementsByClassName('main-scroll-container')[0];
      if(body){
        body.onscroll = () => {
          if(this.isLazyLoadingMode && this.activeTablePasses && this.activeTablePasses.length && this.pagination.total > this.activeTablePasses.length){
            if(body.offsetHeight + body.scrollTop >= body.scrollHeight) {
              this.pagination.activePage = this.pagination.activePage + 1;
              this.sendDashboardRequest(this.pagination.activePage, false, false, true);
            }
          }
        }
      }
    },
    initSockets(){
      if(true){ //!this.appointmentSocketsInit
        let schoolId = this.currentUser.school_id;
        let userId = this.currentUser.id;
        if(schoolId){
          let appPassChannel = this.$echo.private(`appointments.passes.${schoolId}`);
          let schoolChannel = this.$echo.private(`school.passes.${schoolId}`);
          let passesChannel = this.$echo.private(`passes.${schoolId}`);
          let dashboardChannel = this.$echo.private(`dashboard-stats.${userId}`);
          let dashboardBuildingStatsChannel = this.$echo.private(`dashboard-building-refresh.${schoolId}`);

          passesChannel.listen('PassCommentCreatedEvent', (payload) => {
            if(payload.pass){
              this.playNotificationSound(payload);
              this.$store.commit('dashboard/UPDATE_PASS_COMMENTS', payload.pass);
              this.$store.commit('passes/UPDATE_PASS_HISTORY_COMMENTS', payload.pass);
            }
          });

          appPassChannel.listen('PassCommentCreatedEvent', (payload) => {
            if(this.isAppoinmentMode && this.isActiveDashboardUpdate){
              if(payload.pass){
                this.playNotificationSound(payload);
                this.$store.commit('appointmentPasses/UPDATE_APP_PASS_COMMENTS', payload.pass);
              }
            }
          });

          appPassChannel.listen('AppointmentPassCreated', (payload) => {
            this.appPassesTableRefresh();
          });

          appPassChannel.listen('AppointmentPassCancelled', (payload) => {
            this.appPassesTableRefresh();
          });

          appPassChannel.listen('AppointmentPassTimeChanged', (payload) => {
            this.appPassesTableRefresh();
          });

          appPassChannel.listen('AppointmentPassConfirmed', (payload) => {
            this.appPassesTableRefresh();
          });

          schoolChannel.listen('PassMinTimeReached', (payload) => {
            this.updateDashboardPass(payload.pass);
          });
          schoolChannel.listen('AdminPassApproved', (payload) => {
            this.updateDashboardPass(payload.pass);
            this.playNotificationSound(payload);
          });
          schoolChannel.listen('AdminPassArrived', (payload) => {
            this.updateDashboardPass(payload.pass);
          });
          schoolChannel.listen('AdminPassInOut', (payload) => {
            this.updateDashboardPass(payload.pass);
          });
          schoolChannel.listen('AdminPassReturning', (payload) => {
            this.updateDashboardPass(payload.pass);
          });
          schoolChannel.listen('AdminPassEnded', (payload) => {
            this.updateDashboardPass(payload.pass, true);
          });
          schoolChannel.listen('PassCanceled', (payload) => {
            this.updateDashboardPass(payload.pass, true);
          });
          schoolChannel.listen('PassExpired', (payload) => {
            this.updateDashboardPass(payload.pass, true);
          });
          schoolChannel.listen('AdminPassCreated', (payload) => {
            this.updateDashboardPass(payload.pass, true);
            this.playNotificationSound(payload);
          });
          dashboardChannel.listen('DashboardRefreshEvent',(payload)=>{
            this.updateDashboardStats(payload.stats);
          });
          dashboardChannel.listen('TabRefreshEvent',(payload)=>{
            if(payload.counters){
              this.setPageTitle(payload.counters, this.pageTitle)
            }
          });
          dashboardBuildingStatsChannel.listen('DashboardBuildingRefreshEvent',(payload)=>{
            this.updateSpecificDashboardStat(payload.buildingCounters);
          })
        }
      }
    },
    destroySockets(){
      let schoolId = this.currentUser.school_id;
      let userId = this.currentUser.id;
      if(schoolId){
        this.$echo.connector.leaveChannel(`private-school.passes.${schoolId}`);
        this.$echo.connector.leaveChannel(`private-appointments.passes.${schoolId}`);
        this.$echo.connector.leaveChannel(`private-passes.${schoolId}`);
        this.$echo.connector.leaveChannel(`private-dashboard-stats.${userId}`);
      }
    },
    initDataSet(){
      if(!this.passesTimeSettings){
        this.$store.dispatch('passes/getPassesTimeSetting');
      }
      let dashSettings = JSON.parse(localStorage.getItem('dashSettings'));
      if(dashSettings){
        for (const key in dashSettings) {
          if (Object.hasOwnProperty.call(dashSettings, key)) {
            const element = dashSettings[key];
            if(this.hasOwnProperty(key)){
              this[key] = element;
            }
          }
        }
        if(this.activePassType == 'all' && this.showOnlyActivePasses){
          this.activePassState = 'only_active';
        }
      }else{
        this.activePassType = this.tableTabs[0].value;
      }

    },
    isSocketChangeVisible(pass){
      if(this.activePassType === 'all'){
        return true;
      }

      if (pass.approved_by === this.currentUser.id || pass.completed_by === this.currentUser.id) {
        return true;
      }

      if(pass.from){
        if (pass.from_type === "App\\Models\\User" && pass.from_id === this.currentUser.id || pass.from_type === "App\\Models\\Room" && pass.from.user_ids_assigned.includes(this.currentUser.id)) {
          return true;
        }
      }

      if(pass.to){
        if (pass.to_type === "App\\Models\\User" && pass.to_id === this.currentUser.id || pass.to_type === "App\\Models\\Room" && pass.to.user_ids_assigned.includes(this.currentUser.id)) {
          return true;
        }
      }

      if(pass.child){

        if (pass.child.approved_by === this.currentUser.id || pass.child.completed_by === this.currentUser.id) {
          return true;
        }

        if(pass.child.from){
          if (pass.child.from_type === "App\\Models\\User" && pass.child.from_id === this.currentUser.id || pass.child.from_type === "App\\Models\\Room" && pass.child.from.user_ids_assigned.includes(this.currentUser.id)) {
            return true;
          }
        }

        if(pass.child.to){
          if (pass.child.to_type === "App\\Models\\User" && pass.child.to_id === this.currentUser.id || pass.child.to_type === "App\\Models\\Room" && pass.child.to.user_ids_assigned.includes(this.currentUser.id)) {
            return true;
          }
        }

      }

      return false;
    },
    playNotificationSound(payload=null){
      let play = !this.isUserMuted;
      if(payload && payload.hasOwnProperty('notifyAdultsIds')){
        if(Array.isArray(payload.notifyAdultsIds)){
          play = !this.isUserMuted && payload.notifyAdultsIds.includes(this.currentUser.id);
        }else{
          play = false;
        }
      }
      if(play){
        this.$helpers.playNotificationSound();
      }
    },
    closeEditModal(){
      this.modal.isVisible.editApptPass = false;
      if(this.$refs.CreateAppoinmentsPassForm){
        this.$refs.CreateAppoinmentsPassForm.cancelEdit();
      }
    },
    setPageTitle(counters, defaultTitle=document.title){
        document.title = `(${counters ? counters.waitingApprovalPasses : '0'}|${counters ? counters.approvedPasses : '0'}) ` + defaultTitle;
    }
  }
}
</script>
