<template>
  <CContainer class="datatable-container">
    <Loader :isProcessing="isLoading" />
    <CRow class="justify-content-center mt-2">
      <CCol md="11" class="mb-5">
        <h1 class="text-center">File Uploads</h1>
      </CCol>
    </CRow>

    <CRow class="my-4 justify-content-center">
      <CCol md="11">
        <div
          class="table-tabs-header mb-2 bg-white d-flex align-items-center justify-content-between"
        >
          <div
            v-for="(tab, index) in tableTabs"
            :key="index"
            class="table-tab"
            :class="{ active: tab.value === activeTableTab.value }"
          >
            {{ tab.label }}
          </div>
          <div class="actions d-flex align-items-center">
            <div
              @click="handleFiles(pagination.activePage, false, false, true)"
              class="lh-normal cursor-pointer text-accent-blue-light"
            ></div>
          </div>
        </div>
        <div
          class="status-guides-container pt-1 pb-2 d-flex align-items-center"
        >
          <div></div>
          <per-page-selector :action="setPerPage" :pagination="pagination" />
        </div>

        <!-- End of modals -->
        <DataTable
          class="datatable bg-white"
          v-if="importedFiles"
          :items="importedFiles"
          :fields="dataTableFields"
          :column-filter="false"
          :sorter="false"
        >
          <template #status="{item}">
            <td
              class="d-flex flex-column text-center justify-content-center my-auto"
            >
              <span
                class="px-3 text-uppercase rounded py-1 text-white font-weight-bold"
                :class="{
                  'bg-red': item.status == 'STATUS_FAILED',
                  'bg-green': item.status == 'STATUS_PROCESSED',
                  'bg-blue': item.status == 'STATUS_IN_PROCESS',
                  'bg-yellow': item.status == 'STATUS_PENDING'
                }"
                >{{ getItemStatusName(item.status) }}</span
              >
            </td>
          </template>
          <template #created="{item}">
            <td>
              {{
                item.created
                  ? $helpers.transformUTC(item.created, "MM/DD/YYYY h:mm A")
                  : "-"
              }}
            </td>
          </template>
          <template #modified="{item}">
            <td>
              {{
                item.modified
                  ? $helpers.transformUTC(item.modified, "MM/DD/YYYY h:mm A")
                  : "-"
              }}
            </td>
          </template>
        </DataTable>

        <div v-else class="bg-white p-5 text-center text-dark">
          No Available Items.
        </div>

        <CPagination
          v-if="importedFiles && !isLazyLoadingMode"
          class="cs-pagination mt-4"
          :dots="false"
          :doubleArrows="true"
          :activePage.sync="pagination.activePage"
          :pages="importedFiles.length < pagination.per_page.value ? pagination.activePage : undefined"
          size="lg"
          align="center"
          @update:activePage="setActivePage"
        >
          <template #last-button>
            <i class="flaticon-right-arrow-1"></i>
          </template>
          <template #first-button>
            <i class="flaticon-left-arrow-2"></i>
          </template>
          <template #previous-button>
            <i class="fi flaticon-left-arrow-1"></i>
          </template>
          <template #next-button>
            <i class="fi flaticon-chevron"></i>
          </template>
        </CPagination>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>
import Loader from "@/components/Loader";
import { mapGetters } from "vuex";
import moment from "moment-timezone";
import PerPageSelector from "../PerPageSelector.vue";

export default {
  name: "FileUploadsDataTable",
  components: {
    Loader,
    PerPageSelector
  },
  data() {
    return {
      isLoading: false,
      isLazyLoadingMode: false,
      pagination: {
        activePage: 1,
        total: 0,
        pages: 0,
        per_page: { label: "25", value: 25 }
      },
      tableTabs: [
        {
          label: "File Uploads",
          value: "file_uploads"
        }
      ],
      activeTableTab: {
        value: "file_uploads"
      },
      filterParams: {
        sort: "",
        searchQuery: ""
      },

      dataTableFields: [
        { key: "file", _style: "min-width:120px", label: "File Name" },
        { key: "type", _style: "min-width:120px", label: "Type" },
        { key: "status", label: "Status" },
        { key: "created", _style: "min-width:140px", label: "Added Date" },
        { key: "modified", _style: "min-width:150px", label: "Last Change" }
      ]
    };
  },
  computed: {
    ...mapGetters({
      files: "files/getFiles",
      user: "authentication/user"
    }),
    importedFiles() {
      return this.files;
    }
  },
  mounted() {
    this.initLazyLoading();
    this.handleFiles();
  },
  methods: {
    initLazyLoading() {
      let body = document.getElementsByClassName("main-scroll-container")[0];
      if (body) {
        body.onscroll = () => {
          if (
            this.isLazyLoadingMode &&
            this.users &&
            this.users.length &&
            this.pagination.total > this.users.length
          ) {
            if (body.offsetHeight + body.scrollTop >= body.scrollHeight) {
              this.pagination.activePage = this.pagination.activePage + 1;
              this.handleFiles(this.pagination.activePage, false, true);
            }
          }
        };
      }
    },
    toggleTab(tab) {
      this.tabs[tab] = !this.tabs[tab];
    },
    handleFiles(page, noLoader) {
      this.pagination.activePage = page ? page : 1;
      this.isLoading = !noLoader;
      let params = {
        schoolId: this.user.school_id,
        page: this.pagination.activePage,
        perPage: this.pagination.per_page.value
      };

      this.getFiles(params);
    },
    getFiles(params) {
      this.$store
        .dispatch("files/getFiles", params)
        .then(response => {
          let data = response.data;

          this.$store.commit("files/SET_FILES", data.data);
          this.isLoading = false;
        })
        .catch(err => {
          this.isLoading = false;
        });
    },
    searchByQuery(value, type) {
      clearInterval(this.searchTimeOut);
      this.searchTimeOut = setTimeout(() => {
        this.handleQuerySearch(value, type);
      }, 500);
    },
    setActivePage() {
      this.handleFiles(this.pagination.activePage);
      let topElement = document.getElementsByClassName(
        "datatable-container"
      )[0];
      topElement.scrollIntoView({ behavior: "smooth" });
    },
    setPerPage(option) {
      if (option) {
        this.isLazyLoadingMode = option.label === "All entries";
        this.pagination.per_page = option;
        this.handleFiles();
      }
    },
    getItemStatusName(status) {
      switch (status) {
        case "STATUS_PENDING":
          return "Pending";
        case "STATUS_PROCESSED":
          return "Processed";
        case "STATUS_FAILED":
          return "Failed";
        case "STATUS_IN_PROCESS":
          return "In Process";
      }
    }
  }
};
</script>
