<template>
  <CContainer class="datatable-container bg-white p-0 p-lg-4 kiosk-datatable overflow-auto">
    <Loader :isProcessing="isLoading"/>
    <CRow class="d-flex justify-content-center mt-2">
      <CAlert v-if="reqResponse.message" class="mt-4" :color="reqResponse.type" :show="!!reqResponse.message">
        {{reqResponse.message}}
      </CAlert>
      <div class="table-responsive">
      <table v-if="kiosks">
        <thead>
        <tr>
          <th width="20" style="background-color:#1db8bd;">

          </th>
          <th width="120" style="background-color:#E6F5F7;">

          </th>
          <th colspan="3" style="background-color:#ABE3E6;">
            <b>Start Kiosk via URL</b>
            <CLink class="d-block" to="/kiosk/login">
              https://www.e-hallpass.com/kiosk/login
            </CLink>
            Launch Kiosk Via URL on any device
          </th>
          <th colspan="3" style="background-color:#AFDBEC;">
            <b class="d-block">Start Kiosk Directly</b>
            Launch Kiosk on this device
          </th>
          <th style="background-color:#E6F5F7;" width="50">
            Start time
          </th>
          <th style="background-color:#E6F5F7;" width="50">
            End time
          </th>
          <th style="background-color:#E6F5F7;">End Kiosk</th>
        </tr>
        <tr>
          <th width="20" style="background-color:#1db8bd;"></th>
          <th style="background-color:#E6F5F7;"></th>
          <th colspan="1" class="text-white font-weight-bold" style="background-color:#1db8bd;">code</th>
          <th colspan="1" class="text-white font-weight-bold" style="background-color:#1db8bd;">send code via email</th>
          <th colspan="1" class="text-white font-weight-bold" style="background-color:#1db8bd;">regenerate code</th>
          <th colspan="3" style="background-color:#2998d2;"></th>
          <th colspan="3" style="background-color:#E6F5F7;"></th>
        </tr>
        </thead>
        <tr v-for="(kiosk, index) in kiosks" :key="index">
          <td width="20" class="text-center text-white" style="background-color:#1db8bd;">
            <b>{{index + 1}}</b>
          </td>
          <td v-if="kiosk.room" class="text-value-sm" style="background-color:#E6F5F7;">{{
              kiosk.room ? kiosk.room.name : ''
            }}
          </td>
          <td v-else-if="kiosk.user" class="text-value-sm" style="background-color:#E6F5F7;">{{
              kiosk.user ? kiosk.user.first_name : ''
            }}
          </td>
          <td colspan="1" style="background-color:#ABE3E6;">
            {{ kiosk.password }}
          </td>
          <td colspan="1" style="background-color:#ABE3E6;">
            <button v-if="!kiosk.expired_date" class="btn-kiosk px-2 py-1" @click="sendCode(kiosk.id)">Send</button>
            <div v-else>-</div>
          </td>
          <td colspan="1" style="background-color:#ABE3E6;">
            <button v-if="!kiosk.expired_date" class="btn-kiosk px-2 py-1" @click="regeneratePassword(kiosk.id)">Regenerate</button>
            <div v-else>-</div>
          </td>
          <td colspan="3" class="text-center" style="background-color:#AFDBEC;">
            <button v-if="!kiosk.expired_date && isKloginActive" class="btn-kiosk-launch px-2 py-1" @click="regeneratePassword(kiosk.id, true)">
              Launch
            </button>
            <div v-else>-</div>
          </td>
          <td colspan="1" :class="{ 'font-bold-text-black': !kiosk.expired_date && isKloginActive }">
            {{kiosk.password_use ? $helpers.transformDate(kiosk.password_use, 'MM/DD/YYYY h:mm A') : '-'}}
          </td>
          <td v-if="kiosk.password_use" colspan="1" :class="{ 'font-bold-text-black': !kiosk.expired_date && isKloginActive }">
            {{kiosk.expired_date ? $helpers.transformDate(kiosk.expired_date, 'MM/DD/YYYY h:mm A') : 'Running'}}
          </td>
          <td v-else colspan="1" :class="{ 'font-bold-text-black': !kiosk.expired_date && isKloginActive }">
            {{kiosk.expired_date ? $helpers.transformDate(kiosk.expired_date, 'MM/DD/YYYY h:mm A') : '-'}}
          </td>
          <td colspan="1" :class="{ 'font-bold-text-black': !kiosk.expired_date && isKloginActive }">
            <button v-if="!kiosk.expired_date" class="btn btn-trash d-flex align-items-center px-2 py-1" @click="triggerModal(kiosk.id)"><span class="flaticon-trash mr-1"></span> End</button>
            <div v-else>Kiosk mode ended</div>
          </td>
        </tr>
      </table>
      </div>
    </CRow>
    <CModal
      :show.sync="modal.isVisible"
      :closeOnBackdrop="false"
      class="p-0"
      size="sm"
    >
      <template #header-wrapper>
        <div class="pt-4 px-3 create-popup-header">
          <div @click="closeModal()"
               class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span
            class="close-icon"></span></div>
        </div>
      </template>
      <CRow class="justify-content-center">
        <CCol md="12">
          <h3 class="text-value-lg text-center">Are you sure you want to end Kiosk ?</h3>
          <div class="d-flex justify-content-center mt-4 mb-3">
            <button class="btn text-graident-blue" style="width:180px;" @click="closeModal">Cancel</button>
            <button class="ml-2 btn text-white bg-red" style="width:180px;" @click="endKiosk()">End</button>
          </div>
        </CCol>
      </CRow>
      <template #footer-wrapper>
        <div></div>
      </template>
    </CModal>
  </CContainer>
</template>

<script>
import Loader from '@/components/Loader'
import {mapGetters} from 'vuex';

export default {
  name: "KioskDataTable",
  components: {
    Loader
  },
  data() {
    return {
      isLoading: false,
      kiosk_room: null,
      modal: {
        kioskId: null,
        isVisible: false,
      },
      reqResponse: {
        type: "",
        message: "",
        errors: {}
      }
    }
  },
  computed: {
    ...mapGetters({
      kiosks: 'kiosks/kiosks',
      formSelectRooms: 'rooms/formSelectRooms',
      activeKioskModuleOptions: 'schools/activeKioskModuleOptions'
    }),
    isKloginActive(){
      return this.activeKioskModuleOptions && !this.activeKioskModuleOptions.kurl;
    }
  },
  mounted() {
    this.getKiosk();
  },
  methods: {
    getKiosk() {
      this.isLoading = true;
      this.$store.dispatch('kiosks/getKiosks')
      .then(() => {this.isLoading = false;})
      .catch(() => {this.isLoading = false});
    },
    toggleTab(tab) {
      this.tabs[tab] = !this.tabs[tab];
    },
    create() {
      this.$store.dispatch('kiosks/createKiosk', {kiosk_room: this.kiosk_room})
        .then(() => {
          this.isLoading = false;
        })
        .catch(() => {
          this.isLoading = false;
        });
    },
    launch(code) {
      if(code){
        this.$router.push({name: 'Kiosk Login', params: {code}});
      }
    },
    triggerModal(kiosk_id) {
      this.modal.isVisible = true;
      this.modal.kioskId = kiosk_id;
    },
    endKiosk() {
      this.$store.dispatch('kiosks/deactivateKiosk', this.modal.kioskId)
        .then((response) => {
          let data = response.data.data;
          if (data) {
            this.$store.commit('kiosks/UPDATE_KIOSK', data);
          }
          this.modal.isVisible = false;
          this.modal.kioskId = null;
          this.isLoading = false;
        })
        .catch((err) => {
          this.modal.isVisible = false;
          this.modal.kioskId = null;
          this.isLoading = false;
        });
    },
    sendCode(kiosk_id) {
      this.isLoading = true;
      this.resetResponseMessages();
      this.$store.dispatch('kiosks/sendCode', kiosk_id)
        .then((response) => {
          this.isLoading = false;
          this.setSuccessResponse('Successful sent email!');
          setTimeout(() => {
            this.resetResponseMessages();
          }, 1000);
        })
        .catch((err) => {
          this.isLoading = false;
          let response = err.response.data;
          this.setErrorResponse(response.message, response.errors);
        });
    },
    regeneratePassword(kiosk_id, isLaunch) {
      this.$store.dispatch('kiosks/regeneratePassword', kiosk_id)
        .then((response) => {
          if(isLaunch){
            let data = response.data.data;
            if(data.password){
              this.launch(data.password);
            }
          }
          this.isLoading = false;
        })
        .catch((err) => {
          this.isLoading = false;
        });
    },
    closeModal() {
      this.modal = {
        isVisible: false,
        kioskId: null,
      }
    },
    setSuccessResponse(message){
        this.reqResponse = {type:'success', message: message ? message : 'Success!', errors: {}};
    },
    setErrorResponse(message, errors){
      this.reqResponse = {type:'danger', message: message ? message : 'Someting went wrong!', errors: errors ? errors : {}};
    },
    resetResponseMessages() {
      this.reqResponse = {
        type: "",
        message: "",
        errors: {}
      }
    },
  }
}
</script>

<style lang="scss" scoped>
.font-bold-text-black {
  font-weight:bold;
  color:#000;
}
</style>
