
<template>
  <CContainer class="out-of-office-view datatable-container mb-5">
    <Loader :isProcessing="isLoading" />

    <CRow class="mt-5">
      <CCol md="12">
        <div class="table-tabs-header mb-2 bg-white d-flex align-items-center justify-content-between">
          <div class="d-flex">
            <div v-for="(tab, index) in tableTabs" :key="index">
              <div :class="{'active' : tab.value === filterParams.activeTab.value}" class="table-tab" @click="setActiveTableTab(tab)">{{tab.label}}</div>
            </div>
          </div>
          <div class="actions d-flex align-items-center">
            <div
              @click="handleLocationRestrictions(pagination.activePage, true)"
              class="lh-normal cursor-pointer text-accent-blue-light">
              <i class="fi flaticon-download mr-1"></i> <span class="d-none d-md-inline-block">Download CSV</span>
            </div>
            <CInput
              class="search-field mb-0 ml-2 ml-md-4"
              placeholder="Search..."
              :value.sync="columnSearchKeys.globalQuery"
              @input="searchByQuery">
            >
             <template #prepend-content><div @click="getLocationRestrictions()"><i class="flaticon-magnifying-glass"></i></div></template>
            </CInput>
          </div>
        </div>
        <div class="status-guides-container justify-content-between flex-column flex-sm-row align-items-start mb-0 mb-sm-2">
          <div class="d-flex align-items-center mb-3 mb-sm-0">
            <div class="status-list">
                <CInputCheckbox
                  label=""
                  :checked.sync="deleteCheckbox"
                  name=""
                  :inline="true"
                  :custom="true"
                  @update:checked="toggleAllForDelete"
                  :disabled="!locationRestrictions || !locationRestrictions.length"
                />
                 <CButton :disabled="!locationRestrictions || !locationRestrictions.length" @click="deleteLocationRestriction(null, deleteCollection)" class="mr-2 p-small bg-gradient-blue reverse">
                  <span class="btn bg-white px-2 py-1 px-sm-3 py-sm-2"><b class="text-graident-blue reverse">DELETE</b></span>
                </CButton>
            </div>
          </div>
          <div>
            <div class="d-flex align-items-end">
              <per-page-selector :action="setPerPage" :pagination="pagination"/>
            </div>
          </div>
        </div>
        <DataTable
          class="datatable bg-white"
          v-if="locationRestrictions"
          :items="activeLocationRestriction"
          :fields="dataTableFields"
          :sorter='{ external: true }'
          column-filter

          @update:sorter-value="sortByColumn"
          :noItemsView='{ noResults: "No items available", noItems: "No items available" }'>
            <template #sorting-icon="{state}">
              <div class="table-order-icons">
                <font-awesome-icon icon="caret-up" :class="[state=='desc'?'text-black':'text-black-50',]" />
                <font-awesome-icon icon="caret-down" :class="[state=='asc'?'text-black':'text-black-50']" />
              </div>
            </template>

          <template #delete="{item}">
            <td>
               <CInputCheckbox
                  label=""
                  name=""
                  :inline="true"
                  :custom="true"
                  :checked="deleteCollection.includes(item.id)"
                  @update:checked="toggleRestrictionForDelete(item)"
                />
            </td>
          </template>
          <template #location="{item}">
            <td>
               <p class="m-0">
                {{item.location}}
              </p>
            </td>
          </template>
          <template #location-filter>
            <input  v-model="columnSearchKeys.location.value" placeholder="Search by name" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #from_date="{item}">
            <td>
              {{item.from_date ? item.from_date : '-'}}
            </td>
          </template>
          <template #from_date-filter>
            <input placeholder="Search by date" v-model="columnSearchKeys.from_date.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #to_date="{item}">
            <td>
              {{item.to_date ? item.to_date : '-'}}
            </td>
          </template>
          <template #to_date-filter>
            <input placeholder="Search by date" v-model="columnSearchKeys.to_date.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #room="{item}">
            <td>
              <b v-if="item.room">{{item.room.name}}</b>
            </td>
          </template>
          <template #room-filter>
            <input placeholder="Search by name" v-model="columnSearchKeys.room.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #type="{item}">
            <td>
              <b class="limitation-label d-inline-flex align-items-center" :class="item.type">
                <i class="mr-1" :class="item.type == 'access_denied' ? 'flaticon-forbidden' : 'flaticon-profile-user'"></i>
                {{item.type ? item.type.replace('_', ' ') : ''}}
              </b>
            </td>
          </template>
          <template #type-filter>
            <input placeholder="Search by limitation" v-model="columnSearchKeys.type.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #status="{item}">
            <td>
              <b @click="toggleLocationRestriction(item.id)" class="limit-status cursor-pointer no-target" :class="item.status ? 'active' : 'inactive-gray'">{{item.status ? 'active' : 'inactive'}}</b>
            </td>
          </template>
          <template #status-filter>
            <input placeholder="Search by status" v-model="columnSearchKeys.status.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #action="{item}">
            <td>
              <div class="d-flex">
                <button v-if="item.status" @click="toggleLocationRestriction(item.id)" class="btn btn-end mr-2 no-target"> end</button>
                <button @click="deleteLocationRestriction(item.id)" class="btn btn-cancel no-target">delete</button>
              </div>
            </td>
          </template>
          <template #action-filter>
            <div></div>
          </template>
        </DataTable>

        <CPagination
          class="cs-pagination mt-4"
          :dots="false"
          :doubleArrows="true"
          v-if="pagination.pages && pagination.pages>1 && !isLazyLoadingMode"
          :activePage.sync="pagination.activePage"
          :pages="pagination.pages"
          size="lg"
          align="center"
          @update:activePage="setActivePage">
          <template #last-button>
            <i class="flaticon-right-arrow-1"></i>
          </template>
          <template #first-button>
            <i class="flaticon-left-arrow-2"></i>
          </template>
          <template #previous-button>
            <i class="fi flaticon-left-arrow-1"></i>
          </template>
          <template #next-button>
            <i class="fi flaticon-chevron"></i>
          </template>
        </CPagination>

      </CCol>
    </CRow>
  </CContainer>
</template>
<script>
import Loader from '@/components/Loader'
import {mapGetters} from 'vuex';
import PerPageSelector from '../PerPageSelector.vue';

export default {
  name: "LocationRestrictionsDataTable",
  components: {
    Loader,
    PerPageSelector
  },
  data() {
    return {
      isLazyLoadingMode: false,
      deleteCheckbox: false,
      deleteCollection: [],
      columnSearchKeys: {
        globalQuery: '',
        location: {value:'', column: ['location']},
        from_date: {value:'', column: ['from_date.raw']},
        to_date: {value:'', column: ['to_date.raw']},
        room: {value:'', column: ['room.name']},
        type: {value:'', column: ['type']},
        status: {value:'', column: ['status']},
      },
      filterParams:{
        search_query: '',
        sort_query:'',
        activeTab: '',
      },
      pagination: {
        activePage: 1,
        total: 0,
        pages: 0,
        per_page: {label:'25', value: 25}
      },
      dataTableFields: [
        {key: 'delete', label: '', filter: false, _style:'width:50px'},
        {key: 'location', label: 'Student'},
        {key:'from_date', _style:'min-width:120px', label:'Start Date'},
        {key:'to_date',_style:'min-width:120px', label:'End Date'},
        {key: 'room', label: 'Location'},
        {key: 'type', label: 'Limitation',_style:'min-width:120px', filter: false},
        {key: 'status', label: 'Status', filter: false, sorter: false},
        {key:'action', label: "Action", filter: false, sorter: false},
      ],
      tableTabs:[
        {label: "Active", value: 'active', status: 1},
        {label: "Inactive", value: 'inactive', status: 0},
      ],
      isLoading: false,
      modal: {
        isVisible: {
          edit: false
        },
        activePass: null
      },
    }
  },
  computed:{
    ...mapGetters({
      locationRestrictions: 'rooms/locationRestrictions'
    }),
    locationRestrictionsIDCollection(){
      return this.locationRestrictions.map(el => el.id)
    },
    totalPassesCount(){
      return this.pagination.total > this.locationRestrictions.length ? this.pagination.total : this.locationRestrictions.length;
    },
    activeLocationRestriction(){
      return this.locationRestrictions.filter(item => item.status == this.filterParams.activeTab.status);
    }
  },
  created() {
    this.filterParams.activeTab = this.tableTabs[0];
    this.handleLocationRestrictions();
  },
  mounted(){
    this.initLazyLoading();
  },
  methods: {
    handleLocationRestrictions(page, isExport, noLoader, isLazyLoadingMode){
      this.pagination.activePage = page ? page : 1;
      let params = {
        page: this.pagination.activePage,
        per_page: this.pagination.per_page.value,
      };
      if(this.filterParams.activeTab){
        params[this.filterParams.activeTab.value] = true;
      }
      if(this.filterParams.search_query){
        params.search_query = this.filterParams.search_query;
      }
      if(this.filterParams.sort_query){
        params.sort = this.filterParams.sort_query;
      }
      if(isExport){
        this.exportCSVLocationRestrictions(params);
      }else{
        this.getLocationRestrictions(params, noLoader, isLazyLoadingMode);
      }
    },
    getLocationRestrictions(params, noLoader, isLazyLoadingMode){
      this.isLoading = !noLoader;
      this.$store.dispatch('rooms/getLocationRestrictions', params)
        .then((response) => {
          let data = response.data;
          if(data){
            if(isLazyLoadingMode){
              this.$store.commit('rooms/PUSH_LOCATION_RESTRICTIONS', data.data);
            }else{
              this.$store.commit('rooms/SET_LOCATION_RESTRICTIONS', data.data);
            }
            this.pagination.total = data.meta.total;
            this.pagination.from = data.meta.from
            this.pagination.to = data.meta.to
            this.pagination.pages = Math.ceil(data.meta.total / data.meta.per_page);
            this.pagination.activePage = Number(this.pagination.activePage);
            this.pagination = JSON.parse(JSON.stringify(this.pagination));
          }
          this.isLoading = false;
        })
        .catch((err) => { this.isLoading = false;});
    },
    exportCSVLocationRestrictions(params){
      this.isLoading = true;
      this.$store.dispatch('rooms/getCSVlocationRestrictionsExport', params)
        .then((response) => {
          console.log(response);
          if(response.data){
            this.downloadCSVExport(response.data);
          }
          this.isLoading = false;
        })
        .catch((err) => { this.isLoading = false;});
    },
    downloadCSVExport(data){
      let csvDataForExport = 'data:text/csv;charset=utf-8,' + data;
      var encodedUri = encodeURI(csvDataForExport);
      var link = document.createElement("a");
      link.setAttribute("href", encodedUri);
      link.setAttribute("target", "_blank");
      link.setAttribute("download", "location-restrictions.csv");
      document.body.appendChild(link);
      link.click();
    },
    searchByQuery(value, type){
      clearInterval(this.searchTimeOut);
      this.searchTimeOut = setTimeout(() => {
        this.handleQuerySearch(value, type);
      }, 500);
    },
    handleQuerySearch(value, type){
      let query = value.toString();
      if(query.replace(/\s/g, '').length > 0 || query.replace(/\s/g, '').length === 0){
        this.filterParams.search_query = '';
        if(type && type === 'column'){
          this.columnSearchKeys.globalQuery = "";
          for (const key in this.columnSearchKeys) {
            if (Object.hasOwnProperty.call(this.columnSearchKeys, key)) {
              let columnData = this.columnSearchKeys[key];
              if(columnData.value){
                columnData.column.forEach(col => {
                  this.filterParams.search_query = this.filterParams.search_query + `${col}:"${columnData.value}", `;
                });
              }
            }
          }
          this.filterParams.search_query = this.filterParams.search_query.slice(0, -2);
        }else{
          this.resetSearchQuery();
          this.columnSearchKeys.globalQuery = query;
          this.filterParams.search_query = query ?  '"' + query + '"' : query;
        }
        // this.clearFilterParams();
        this.handleLocationRestrictions();
      }
    },
    sortByColumn(column){
      let columnName = this.columnSearchKeys[column.column] ? this.columnSearchKeys[column.column].column[0] : column.column;
      this.filterParams.sort_query = `${columnName}:${column.asc ? 'asc' : 'desc'}`;
      this.handleLocationRestrictions();
    },
    toggleLocationRestriction(id){
      if(id){
        this.$store.dispatch('rooms/toggleLocationRestriction', id)
        .then((response) => {
          let data = response.data.data;
          if(data){
            this.$store.commit('rooms/UPDATE_LOCATION_RESTRICTION', data);
          }
        });
      }
    },
    deleteLocationRestriction(id, collection){
      if(id){
        this.isLoading = true;
        this.$store.dispatch('rooms/deleteLocationRestriction', id)
        .then(() => {
          this.isLoading = false;
          this.pagination.total = this.pagination.total - 1;
        })
        .catch(() => this.isLoading = false);
      }
      if(collection && collection.length){
        this.isLoading = true;
        this.$store.dispatch('rooms/deleteLocationRestrictions', collection)
        .then(() => {
          this.handleLocationRestrictions();
          this.deleteCollection = [];
          this.deleteCheckbox = false;
        })
        .catch(() => this.isLoading = false);
      }
    },
    setPerPage(option){
      if(option){
        this.isLazyLoadingMode = option.label === 'All entries';
        this.pagination.per_page = option;
        this.handleLocationRestrictions();
      }
    },
    setActivePage(){
      this.handleLocationRestrictions(this.pagination.activePage);
      this.$helpers.scrollToTop();
    },
    setActiveTableTab(tab){
        this.resetSearchQuery();
        this.filterParams.activeTab = tab;
        this.handleLocationRestrictions();
    },
    resetSearchQuery(){
      this.filterParams.search_query = '';
      this.columnSearchKeys = {
        globalQuery: '',
        location: {value:'', column: ['location']},
        from_date: {value:'', column: ['from_date.raw']},
        to_date: {value:'', column: ['to_date.raw']},
        room: {value:'', column: ['room.name']},
        type: {value:'', column: ['type']},
        status: {value:'', column: ['status']},
      };
    },
    resetParams(){
      this.filterParams = {
        search_query: '',
        sort_query:'',
        activeTab: this.tableTabs[0]
      };
    },
    refreshDataTable(){
      this.resetParams();
      this.resetSearchQuery();
      this.handleLocationRestrictions(1, false, true);
    },
    toggleAllForDelete(){
      this.deleteCollection = this.deleteCheckbox ? this.locationRestrictionsIDCollection : [];
    },
    toggleRestrictionForDelete(item, index,column, event){
      // if(event.target.classList && !event.target.classList.contains('no-target')){
        if(this.deleteCollection.length && this.deleteCollection.includes(item.id)){
          this.deleteCollection = this.deleteCollection.filter(el => el != item.id);
        }else{
          this.deleteCollection.push(item.id);
        }
      // }
    },
    initLazyLoading(){
      let body = document.getElementsByClassName('main-scroll-container')[0];
      if(body){
        body.onscroll = () => {
          if(this.isLazyLoadingMode && this.passLimits && this.passLimits.length && this.pagination.total > this.passLimits.length){
            if(body.offsetHeight + body.scrollTop >= body.scrollHeight) {
              this.pagination.activePage = this.pagination.activePage + 1;
              this.handleLocationRestrictions(this.pagination.activePage, false, false, true);
            }
          }
        }
      }
    },
  }
}
</script>
