
<template>
  <CContainer class="out-of-office-view datatable-container mb-5">
    <Loader :isProcessing="isLoading" />

    <CRow class="mt-5">
      <CCol md="12">
        <div class="table-tabs-header mb-2 bg-white d-flex align-items-center justify-content-between">
          <div class="d-flex">
            <div>
              <div class="table-tab active">Limits</div>
            </div>
          </div>
          <div class="actions d-flex align-items-center">
            <div
              @click="handleLocationMaxCapLimits(pagination.activePage, true)"
              class="lh-normal cursor-pointer text-accent-blue-light">
              <i class="fi flaticon-download mr-1"></i> <span class="d-none d-md-inline-block">Download CSV</span>
            </div>
            <CInput
              class="search-field mb-0 ml-2 ml-md-4"
              placeholder="Search..."
              :value.sync="columnSearchKeys.globalQuery"
              @input="searchByQuery">
            >
             <template #prepend-content><div @click="getLocationMaxCapLimits()"><i class="flaticon-magnifying-glass"></i></div></template>
            </CInput>
          </div>
        </div>
        <div class="status-guides-container justify-content-end mb-2">
          <per-page-selector :action="setPerPage" :pagination="pagination"/>
        </div>
        <DataTable
          class="datatable bg-white"
          v-if="roomCapacityLimits"
          :items="roomCapacityLimits"
          :fields="dataTableFields"
          :sorter='{ external: true }'
          column-filter
          @update:sorter-value="sortByColumn"
          :noItemsView='{ noResults: "No items available", noItems: "No items available" }'>
            <template #sorting-icon="{state}">
              <div class="table-order-icons">
                <font-awesome-icon icon="caret-up" :class="[state=='desc'?'text-black':'text-black-50',]" />
                <font-awesome-icon icon="caret-down" :class="[state=='asc'?'text-black':'text-black-50']" />
              </div>
            </template>

          <template #room="{item}">
            <td>
              {{item.room ? item.room.name : '-'}}
            </td>
          </template>
          <template #room-filter>
            <input placeholder="Search by name" v-model="columnSearchKeys.room.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #limit="{item}">
            <td>
              <b>{{item.limit}}</b>
            </td>
          </template>
          <template #limit-filter>
            <input placeholder="Search by limit" v-model="columnSearchKeys.limit.value" @input="searchByQuery($event.target.value, 'column', '0')" class="form-control form-control-sm">
          </template>

          <template #action="{item}">
            <td>
              <div class="d-flex">
                <button @click="editPassLimit(item)" class="btn btn-edit mr-2"><i class="flaticon-edit mr-1"></i> edit</button>
                <button @click="deletePassLimit(item.id)" class="btn btn-cancel">delete</button>
              </div>
            </td>
          </template>
          <template #action-filter>
            <div></div>
          </template>
        </DataTable>

        <CPagination
          class="cs-pagination mt-4"
          :dots="false"
          :doubleArrows="true"
          v-if="pagination.pages && pagination.pages>1 && !isLazyLoadingMode"
          :activePage.sync="pagination.activePage"
          :pages="pagination.pages"
          size="lg"
          align="center"
          @update:activePage="setActivePage">
          <template #last-button>
            <i class="flaticon-right-arrow-1"></i>
          </template>
          <template #first-button>
            <i class="flaticon-left-arrow-2"></i>
          </template>
          <template #previous-button>
            <i class="fi flaticon-left-arrow-1"></i>
          </template>
          <template #next-button>
            <i class="fi flaticon-chevron"></i>
          </template>
        </CPagination>

      </CCol>
    </CRow>
  </CContainer>
</template>
<script>
import Loader from '@/components/Loader'
import {mapGetters} from 'vuex';
import PerPageSelector from '../PerPageSelector.vue';

export default {
  name: "LocationsMaxCapLimitTable",
  components: {
    Loader,
    PerPageSelector
  },
  data() {
    return {
      isLazyLoadingMode: false,
      columnSearchKeys: {
        globalQuery: '',
        room: {value:'', column: ['room.name']},
        limit: {value:'', column: ['limit']},
      },
      pagination: {
        activePage: 1,
        total: 0,
        pages: 0,
        per_page: {label:'25', value: 25}
      },
      filterParams:{
        search_query: '',
        sort_query:'',
      },
      dataTableFields: [
        {key:'room', label:'Location'},
        {key:'limit', label:'Limit'},
        {key:'action', label: "Actions"},
      ],
      isLoading: false,
    }
  },
  computed:{
    ...mapGetters({
      roomCapacityLimits: 'rooms/roomCapacityLimits'
    }),
    totalPassesCount(){
      return this.pagination.total > this.roomCapacityLimits.length ? this.pagination.total : this.roomCapacityLimits.length;
    }
  },
  created() {
    this.handleLocationMaxCapLimits();
  },
  mounted() {
    this.initLazyLoading();
  },
  methods: {
    handleLocationMaxCapLimits(page, isExport, isLazyLoadingMode, noLoader){
      this.pagination.activePage = page ? page : 1;
      let params = {
        page: this.pagination.activePage,
        per_page: this.pagination.per_page.value,
      };
      if(this.filterParams.search_query){
        params.search_query = this.filterParams.search_query;
      }
      if(this.filterParams.sort_query){
        params.sort = this.filterParams.sort_query;
      }
      if(isExport){
        this.exportCSVLocationMaxCapLimits(params);
      }else{
        this.getLocationMaxCapLimits(params, isLazyLoadingMode, noLoader);
      }
    },
    getLocationMaxCapLimits(params, isLazyLoadingMode, noLoader){
      this.isLoading = !noLoader;
      this.$store.dispatch('rooms/getRoomCapacityLimit', params)
        .then((response) => {
          let data = response.data;
          if(data){
            if(isLazyLoadingMode){
              this.$store.commit('rooms/PUSH_ROOM_CAPACITY_LIMITS', data.data);
            }else{
              this.$store.commit('rooms/SET_ROOM_CAPACITY_LIMITS', data.data);
            }
            this.pagination.total = data.meta.total;
            this.pagination.from = data.meta.from
            this.pagination.to = data.meta.to
            this.pagination.pages = Math.ceil(data.meta.total / data.meta.per_page);
            this.pagination.activePage = Number(this.pagination.activePage);
            this.pagination = JSON.parse(JSON.stringify(this.pagination));
          }
          this.isLoading = false;
        })
        .catch((err) => { this.isLoading = false;});
    },
    exportCSVLocationMaxCapLimits(params){
      this.isLoading = true;
      this.$store.dispatch('rooms/getCSVroomCapacityLimitsExport', params)
        .then((response) => {
          if(response.data){
            this.downloadCSVExport(response.data);
          }
          this.isLoading = false;
        })
        .catch((err) => { this.isLoading = false;});
    },
    downloadCSVExport(data){
      let csvDataForExport = 'data:text/csv;charset=utf-8,' + data;
      var encodedUri = encodeURI(csvDataForExport);
      var link = document.createElement("a");
      link.setAttribute("href", encodedUri);
      link.setAttribute("target", "_blank");
      link.setAttribute("download", "locations-max-cap-limits.csv");
      document.body.appendChild(link);
      link.click();
    },
    searchByQuery(value, type, minLetters){
      clearInterval(this.searchTimeOut);
      this.searchTimeOut = setTimeout(() => {
        this.handleQuerySearch(value, type, minLetters);
      }, 500);
    },
    handleQuerySearch(value, type, minLetters){
      let query = value.toString();
      let minLen = minLetters ? parseInt(minLetters) : 0;
      if(query.replace(/\s/g, '').length > minLen || query.replace(/\s/g, '').length === 0){
        this.filterParams.search_query = '';
        if(type && type === 'column'){
          this.columnSearchKeys.globalQuery = "";
          for (const key in this.columnSearchKeys) {
            if (Object.hasOwnProperty.call(this.columnSearchKeys, key)) {
              let columnData = this.columnSearchKeys[key];
              if(columnData.value){
                columnData.column.forEach(col => {
                  this.filterParams.search_query = this.filterParams.search_query + `${col}:"${columnData.value}", `;
                });
              }
            }
          }
          this.filterParams.search_query = this.filterParams.search_query.slice(0, -2);
        }else{
          this.resetSearchQuery();
          this.columnSearchKeys.globalQuery = query;
          this.filterParams.search_query = query ?  '"' + query + '"' : query;
        }
        this.handleLocationMaxCapLimits();
      }
    },
    sortByColumn(column){
      let columnName = this.columnSearchKeys[column.column] ? this.columnSearchKeys[column.column].column[0] : column.column;
      this.filterParams.sort_query = `${columnName}:${column.asc ? 'asc' : 'desc'}`;
      this.handleLocationMaxCapLimits();
    },
    editPassLimit(pass){
      if(pass){
        this.$store.commit('rooms/SET_EDITABLE_ROOM_CAP_LIMIT', pass);
        this.$helpers.scrollToTop();
      }
    },
    deletePassLimit(id){
      if(id){
        this.isLoading = true;
        this.$store.dispatch('rooms/deleteRoomCapacityLimit', id)
        .then(() => {
          this.$store.commit('rooms/DELETE_ROOM_CAPACITY_LIMIT', id);
          this.$emit('roomLimitDeleted');
          this.isLoading = false;
          this.pagination.total = this.pagination.total - 1;
        })
        .catch(() => this.isLoading = false);
      }
    },
    setPerPage(option){
      if(option){
        this.isLazyLoadingMode = option.label === 'All entries';
        this.pagination.per_page = option;
        this.handleLocationMaxCapLimits();
      }
    },
    setActivePage(){
      this.handleLocationMaxCapLimits(this.pagination.activePage);
      this.$helpers.scrollToTop();
    },
    resetSearchQuery(){
      this.filterParams.search_query = '';
      this.columnSearchKeys = {
        globalQuery: '',
        room: {value:'', column: ['room']},
        limit: {value:'', column: ['limit']},
      };
    },
    initLazyLoading(){
      let body = document.getElementsByClassName('main-scroll-container')[0];
      if(body){
        body.onscroll = () => {
          if(this.isLazyLoadingMode && this.roomCapacityLimits && this.roomCapacityLimits.length && this.pagination.total > this.roomCapacityLimits.length){
            if(body.offsetHeight + body.scrollTop >= body.scrollHeight) {
              this.pagination.activePage = this.pagination.activePage + 1;
              this.handleLocationMaxCapLimits(this.pagination.activePage, false, true);
            }
          }
        }
      }
    },
    resetDataTable(page){
      this.resetSearchQuery();
      this.handleLocationMaxCapLimits(page ? page : this.pagination.activePage, false, false, true);
    },
  }
}
</script>
