
<template>
  <CContainer class="out-of-office-view datatable-container">
    <Loader :isProcessing="isLoading" />

    <CRow class="mt-5">
      <CCol md="12">
        <div class="table-tabs-header mb-2 bg-white d-flex align-items-center justify-content-between">
          <div class="d-flex">
            <div v-for="(tab, index) in tableTabs" :key="index">
              <div class="table-tab active">{{tab.label}}</div>
            </div>
          </div>
          <div class="actions d-flex align-items-center">
            <div
              @click="handleOutOfOfficePasses(pagination.activePage, true)"
              class="lh-normal cursor-pointer text-accent-blue-light ml-2 ml-sm-0">
              <i class="fi flaticon-download mr-1"></i> <span class="d-none d-md-inline-block">Download CSV</span>
            </div>
            <CInput
              class="search-field mb-0 ml-2 ml-md-4"
              placeholder="Search..."
              :value.sync="columnSearchKeys.globalQuery"
              @input="searchByQuery">
            >
             <template #prepend-content><div @click="getOutOfOfficePasses()"><i class="flaticon-magnifying-glass"></i></div></template>
            </CInput>
          </div>
        </div>
        <div class="status-guides-container justify-content-center justify-content-sm-end mb-2">
          <per-page-selector :action="setPerPage" :pagination="pagination"/>
        </div>

        <DataTable
          class="datatable bg-white"
          v-if="outOfOfficePasses"
          :items="outOfOfficePasses"
          :fields="dataTableFields"
          :sorter='{ external: true }'
          column-filter
          @update:sorter-value="sortByColumn"
          :noItemsView='{ noResults: "No items available", noItems: "No items available" }'>
            <template #sorting-icon="{state}">
              <div class="table-order-icons">
                <font-awesome-icon icon="caret-up" :class="[state=='desc'?'text-black':'text-black-50',]" />
                <font-awesome-icon icon="caret-down" :class="[state=='asc'?'text-black':'text-black-50']" />
              </div>
            </template>
          <template #from_date="{item}">
            <td>
              {{item.from_date ? $helpers.transformDate(item.from_date, 'MM/DD/YYYY') : '-'}}
            </td>
          </template>
          <template #from_date-filter>
            <input placeholder="Search by date" v-model="columnSearchKeys.from_date.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #unavailable="{item}">
            <td v-if="item.unavailable">
              <p class="m-0" v-if="item.unavailable_type === 'App\\Models\\User'">
                {{item.unavailable.first_name + ' ' + item.unavailable.last_name}}
              </p>
              <p class="m-0" v-else>
                {{item.unavailable.name}}
              </p>
            </td>
            <td v-else>-</td>
          </template>
          <template #unavailable-filter>
            <input placeholder="Search by name" v-model="columnSearchKeys.unavailable.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #start_hour="{item}">
            <td>
              <b>{{item.from_date ? $helpers.transformDate(item.from_date, 'h:mm A') : '-'}}</b>
            </td>
          </template>
          <template #start_hour-filter>
            <input placeholder="Search by time" v-model="columnSearchKeys.start_hour.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #end_hour="{item}">
            <td>
              <b>{{item.to_date ? $helpers.transformDate(item.to_date, 'h:mm A') : '-'}}</b>
            </td>
          </template>
          <template #end_hour-filter>
            <input placeholder="Search by time" v-model="columnSearchKeys.end_hour.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #recurrence_days="{item}">
            <td>
              <div class="d-flex align-items-center justify-content-between" v-if="item.recurrence_type">
                <div class="mr-2">{{item.recurrence_type}}</div>
                <div v-if="item.recurrence_days" class="weekdays-options-container d-flex">
                  <div class="weekday-box active mr-1" v-for="(day, index) in JSON.parse(item.recurrence_days).days" :key="index">
                    {{day.substring(0, 2)}}
                  </div>
                </div>
              </div>
              <div v-else>does not repeat</div>
            </td>
          </template>
          <template #recurrence_days-filter>
            <input placeholder="Search by date" v-model="columnSearchKeys.recurrence_days.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

           <template #comment="{item}">
            <td class="comments-column">
              <div v-if="item.comment" class="comments-list">
                <div class="comment">
                    {{item.comment}}
                </div>
              </div>
            </td>
          </template>
          <template #comment-filter>
            <input placeholder="Search by latest comment" v-model="columnSearchKeys.comment.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #action="{item}">
            <td>
              <div class="d-flex">
                <button :disabled="!item.status" @click="editOutOfOfficePass(item)" class="btn btn-edit mr-2"><i class="flaticon-edit mr-1"></i> edit</button>
                <button :disabled="!item.status" @click="updateOutOfOfficeStatus(item)" class="btn btn-end mr-2">End</button>
                <button @click="deleteOutOfOffice(item.id)" class="btn btn-cancel">delete</button>
              </div>
            </td>
          </template>
          <template #action-filter>
            <div></div>
          </template>
        </DataTable>

        <CPagination
          class="cs-pagination mt-4"
          :dots="false"
          :doubleArrows="true"
          v-if="pagination.pages && pagination.pages>1 && !isLazyLoadingMode"
          :activePage.sync="pagination.activePage"
          :pages="pagination.pages"
          size="lg"
          align="center"
          @update:activePage="setActivePage">
          <template #last-button>
            <i class="flaticon-right-arrow-1"></i>
          </template>
          <template #first-button>
            <i class="flaticon-left-arrow-2"></i>
          </template>
          <template #previous-button>
            <i class="fi flaticon-left-arrow-1"></i>
          </template>
          <template #next-button>
            <i class="fi flaticon-chevron"></i>
          </template>
        </CPagination>

      </CCol>
    </CRow>
  </CContainer>
</template>
<script>
import Loader from '@/components/Loader'
import {mapGetters} from 'vuex';
import PerPageSelector from './../PerPageSelector.vue';

export default {
  name: "OutOfOfficeDataTable",
  components: {
    Loader,
    PerPageSelector
  },
  data() {
    return {
      columnSearchKeys: {
        globalQuery: '',
        from_date: {value:'', column: ['start_date_string'], sortBy: 'from_date'},
        unavailable: {value:'', column: ['unavailable.name'], sortBy: 'unavailable.name'},
        start_hour: {value:'', column: ['start_hour.raw'], sortBy: 'start_hour'},
        end_hour: {value:'', column: ['end_hour.raw'], sortBy: 'end_hour'},
        recurrence_days: {value:'', column: ['recurrence_type'], sortBy: 'recurrence_type'},
        comment: {value:'', column: ['comment'], sortBy: 'comment'},
      },
      filterParams:{
        search_query: '',
        sort_query:'',
      },
      pagination: {
        activePage: 1,
        total: 0,
        pages: 0,
        per_page: {label:'25', value: 25}
      },
      dataTableFields: [
        {key:'from_date', label:'Date'},
        {key: 'unavailable',_style:'min-width:170px', label: 'Teacher / Location'},
        {key: 'start_hour', label: 'Start'},
        {key: 'end_hour', label: 'End'},
        {key: 'recurrence_days', label: 'Recurrence', _style:'min-width:140px',},
        {key:'comment', Label: "Comment", _style:'min-width:150px'},
        {key:'action', label: "Action"},
      ],
      tableTabs:[
        {label: "All out of office requests", value: 'all'},
      ],
      isLoading: false,
      isLazyLoadingMode: false,
      modal: {
        isVisible: {
          edit: false
        },
        activePass: null
      },
    }
  },
  computed:{
    ...mapGetters({
      outOfOfficePasses: 'outOfOfficePasses/outOfOfficePasses'
    }),
    totalPassesCount(){
      return this.pagination.total > this.outOfOfficePasses.length ? this.pagination.total : this.outOfOfficePasses.length;
    }
  },
  created() {
    this.handleOutOfOfficePasses();
  },
  mounted(){
    this.initLazyLoading();
  },
  methods: {
    handleOutOfOfficePasses(page, isExport, isLazyLoadingMode, noLoader){
      this.pagination.activePage = page ? page : 1;
      let params = {
        page: this.pagination.activePage,
        per_page: this.pagination.per_page.value,
      };
      if(this.filterParams.search_query){
        params.search_query = this.filterParams.search_query;
      }
      if(this.filterParams.sort_query){
        params.sort = this.filterParams.sort_query;
      }
      if(isExport){
        this.exportCSVOutOfOfficesPasses(params);
      }else{
        this.getOutOfOfficePasses(params, isLazyLoadingMode, noLoader);
      }
    },
    getOutOfOfficePasses(params, isLazyLoadingMode, noLoader){
      this.isLoading = !noLoader;
      this.$store.dispatch('outOfOfficePasses/getOutOfOfficePasses', params)
        .then((response) => {
          let data = response.data.data;
          if(data.unavailables){
            if(isLazyLoadingMode){
              this.$store.commit('outOfOfficePasses/PUSH_OUTOFOFFICE_PASSES', data.unavailables.data);
            }else{
              this.$store.commit('outOfOfficePasses/SET_OUTOFOFFICE_PASSES', data.unavailables.data);
            }
            this.pagination.total = data.unavailables.total;
            this.pagination.from = data.unavailables.from
            this.pagination.to = data.unavailables.to
            this.pagination.pages = Math.ceil(data.unavailables.total / data.unavailables.per_page);
            this.pagination.activePage = Number(this.pagination.activePage);
            this.pagination = JSON.parse(JSON.stringify(this.pagination));
          }
          this.isLoading = false;
        })
        .catch((err) => { this.isLoading = false;});
    },
    exportCSVOutOfOfficesPasses(params){
      this.isLoading = true;
      this.$store.dispatch('outOfOfficePasses/getCSVOutOfOfficePassesExport', params)
        .then((response) => {
          if(response.data){
            this.downloadCSVExport(response.data);
          }
          this.isLoading = false;
        })
        .catch((err) => { this.isLoading = false;});
    },
    downloadCSVExport(data){
      let csvDataForExport = 'data:text/csv;charset=utf-8,' + data;
      var encodedUri = encodeURI(csvDataForExport);
      var link = document.createElement("a");
      link.setAttribute("href", encodedUri);
      link.setAttribute("target", "_blank");
      link.setAttribute("download", "out-оf-оffice-passes.csv");
      document.body.appendChild(link);
      link.click();
    },
    searchByQuery(value, type){
      clearInterval(this.searchTimeOut);
      this.searchTimeOut = setTimeout(() => {
        this.handleQuerySearch(value, type);
      }, 500);
    },
    handleQuerySearch(value, type){
      let query = value.toString();
      if(query.replace(/\s/g, '').length > 0 || query.replace(/\s/g, '').length === 0){
        this.filterParams.search_query = '';
        if(type && type === 'column'){
          this.columnSearchKeys.globalQuery = "";
          for (const key in this.columnSearchKeys) {
            if (Object.hasOwnProperty.call(this.columnSearchKeys, key)) {
              let columnData = this.columnSearchKeys[key];
              if(columnData.value){
                columnData.column.forEach(col => {
                  this.filterParams.search_query = this.filterParams.search_query + `${col}:"${columnData.value}", `;
                });
              }
            }
          }
          this.filterParams.search_query = this.filterParams.search_query.slice(0, -2);
        }else{
          this.resetSearchQuery();
          this.columnSearchKeys.globalQuery = query;
          this.filterParams.search_query = query ?  '"' + query + '"' : query;
        }
        // this.clearFilterParams();
        this.handleOutOfOfficePasses();
      }
    },
    sortByColumn(column){
      let columnName = this.columnSearchKeys[column.column] ? this.columnSearchKeys[column.column].sortBy : column.column;
      this.filterParams.sort_query = `${columnName}:${column.asc ? 'asc' : 'desc'}`;
      this.handleOutOfOfficePasses();
    },
    editOutOfOfficePass(pass){
      if(pass.status){
        this.$store.commit('outOfOfficePasses/SET_EDITABLE_PASS', pass);
        this.$helpers.scrollToTop();
      }
    },
    deleteOutOfOffice(passID){
      if(passID && confirm("Are you sure you want to delete this item?")){
        this.isLoading = true;
        this.$store.dispatch('outOfOfficePasses/deleteOutOfOffice', passID)
        .then(() => {
          this.isLoading = false;
          this.pagination.total = this.pagination.total - 1;
        })
        .catch(() => this.isLoading = false);
      }
    },
    updateOutOfOfficeStatus(pass){
      if(pass.id && pass.status){
        this.isLoading = true;
        this.$store.dispatch('outOfOfficePasses/updateOutOfOfficeStatus', {id:pass.id})
        .then(() => {
          this.$store.commit('outOfOfficePasses/SET_EDITABLE_PASS', null);
          this.isLoading = false;
        })
        .catch(() => this.isLoading = false);
      }
    },
    closeModal(){
      this.modal = {
        isVisible: {
          edit: false
        },
        activePass: null
      }
    },
    setActiveModalPass(pass, modal){
      if(pass){
        this.modal.isVisible[modal] =  true;
        this.modal.activePass = pass;
      }
    },
    setPerPage(option){
      if(option){
        this.isLazyLoadingMode = option.label === 'All entries';
        this.pagination.per_page = option;
        this.handleOutOfOfficePasses();
      }
    },
    setActivePage(){
      this.handleOutOfOfficePasses(this.pagination.activePage);
      this.$helpers.scrollToTop();
    },
    resetSearchQuery(){
      this.filterParams.search_query = '';
      this.columnSearchKeys = {
        globalQuery: '',
        from_date: {value:'', column: ['start_date_string'], sortBy: 'from_date'},
        unavailable: {value:'', column: ['unavailable.name'], sortBy: 'unavailable.name'},
        start_hour: {value:'', column: ['start_hour.raw'], sortBy: 'start_hour'},
        end_hour: {value:'', column: ['end_hour.raw'], sortBy: 'end_hour'},
        recurrence_days: {value:'', column: ['recurrence_type'], sortBy: 'recurrence_type'},
        comment: {value:'', column: ['comment'], sortBy: 'comment'},
      };
    },
    initLazyLoading(){
      let body = document.getElementsByClassName('main-scroll-container')[0];
      if(body){
        body.onscroll = () => {
          if(this.isLazyLoadingMode && this.outOfOfficePasses && this.outOfOfficePasses.length && this.pagination.total > this.outOfOfficePasses.length){
            if(body.offsetHeight + body.scrollTop >= body.scrollHeight) {
              this.pagination.activePage = this.pagination.activePage + 1;
              this.handleOutOfOfficePasses(this.pagination.activePage, false, true);
            }
          }
        }
      }
    },
    refreshDataTable(){
      this.resetSearchQuery();
      this.handleOutOfOfficePasses(1, false, false, true);
    },
  }
}
</script>
