
<template>
  <CContainer class="out-of-office-view datatable-container mb-5">
    <Loader :isProcessing="isLoading" />

    <CRow class="mt-5">
      <CCol md="12">
        <div class="table-tabs-header mb-2 bg-white d-flex align-items-center justify-content-between">
          <div class="d-flex">
            <div>
              <div class="table-tab active">Pass Blocking</div>
            </div>
          </div>
          <div class="actions d-flex align-items-center">
            <div
              @click="handlePassBlocks(pagination.activePage, true)"
              class="lh-normal cursor-pointer text-accent-blue-light ml-2 ml-sm-0">
              <i class="fi flaticon-download mr-1"></i> <span class="d-none d-md-inline-block">Download CSV</span>
            </div>
            <CInput
              class="search-field mb-0 ml-2 ml-md-4"
              placeholder="Search..."
              :value.sync="columnSearchKeys.globalQuery"
              @input="searchByQuery">
            >
             <template #prepend-content><div @click="getPassBlocks()"><i class="flaticon-magnifying-glass"></i></div></template>
            </CInput>
          </div>
        </div>
        <div class="status-guides-container justify-content-end mb-2">
          <div>
            <per-page-selector :pagination="pagination"  :action="setPerPage"/>
          </div>
        </div>
        <DataTable
          class="datatable bg-white"
          v-if="passBlocks"
          :items="passBlocks"
          :fields="dataTableFields"
          :sorter='{ external: true }'
          column-filter
          @update:sorter-value="sortByColumn"
          :noItemsView='{ noResults: "No items available", noItems: "No items available" }'>
            <template #sorting-icon="{state}">
              <div class="table-order-icons">
                <font-awesome-icon icon="caret-up" :class="[state=='desc'?'text-black':'text-black-50',]" />
                <font-awesome-icon icon="caret-down" :class="[state=='asc'?'text-black':'text-black-50']" />
              </div>
            </template>

          <template #from_date="{item}">
            <td>
              <div v-if="item.from_date">
                <div v-html="$helpers.getHTMLDateTime(item.from_date, 'MM/DD/YYYY', 'h:mm A')"></div>
              </div>
            </td>
          </template>
          <template #from_date-filter>
            <input placeholder="Search by date" v-model="columnSearchKeys.from_date.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #to_date="{item}">
            <td>
              <div v-if="item.to_date">
                <div v-html="$helpers.getHTMLDateTime(item.to_date, 'MM/DD/YYYY', 'h:mm A')"></div>
              </div>
            </td>
          </template>
          <template #to_date-filter>
            <input placeholder="Search by date" v-model="columnSearchKeys.to_date.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #reason="{item}">
            <td class="comments-column">
              <div class="comments-list">
                <div class="comment">
                  {{item.reason ? item.reason : ''}}
                </div>
              </div>
            </td>
          </template>
          <template #reason-filter>
            <input placeholder="Search by reason" v-model="columnSearchKeys.reason.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #action="{item}">
            <td>
              <div class="d-flex">
                <button v-if="isEditable(item)" @click="editPassBlock(item)" class="btn btn-edit mr-2"><i class="flaticon-edit mr-1"></i> edit</button>
                <button @click="deletePassBlock(item.id)" class="btn btn-cancel">delete</button>
              </div>
            </td>
          </template>
        </DataTable>

        <CPagination
          class="cs-pagination mt-4"
          :dots="false"
          :doubleArrows="true"
          v-if="pagination.pages && pagination.pages >1 && !isLazyLoadingMode"
          :activePage.sync="pagination.activePage"
          :pages="pagination.pages"
          size="lg"
          align="center"
          @update:activePage="setActivePage">
          <template #last-button>
            <i class="flaticon-right-arrow-1"></i>
          </template>
          <template #first-button>
            <i class="flaticon-left-arrow-2"></i>
          </template>
          <template #previous-button>
            <i class="fi flaticon-left-arrow-1"></i>
          </template>
          <template #next-button>
            <i class="fi flaticon-chevron"></i>
          </template>
        </CPagination>

      </CCol>
    </CRow>
  </CContainer>
</template>
<script>
import Loader from '@/components/Loader'
import {mapGetters} from 'vuex';
import PerPageSelector from '../PerPageSelector.vue';

export default {
  name: "PassBlockingDataTable",
  components: {
    Loader,
    PerPageSelector
  },
  data() {
    return {
      isLazyLoadingMode: false,
      columnSearchKeys: {
        globalQuery: '',
        from_date: {value:'', column: ['from_date.raw'], sortBy: 'from_date'},
        to_date: {value:'', column: ['to_date.raw'], sortBy: 'to_date'},
        reason: {value:'', column: ['reason'], sortBy: 'reason'},
      },
      pagination: {
        activePage: 1,
        total: 0,
        pages: 0,
        per_page: {label:'25', value: 25}
      },
      filterParams:{
        search_query: '',
        sort_query:'',
      },
      dataTableFields: [
        {key:'from_date', label:'Start Time'},
        {key:'to_date', label:'End Time'},
        {key:'reason', label:'Reason'},
        {key:'action', label: "Actions", filter: false},
      ],
      isLoading: false,
    }
  },
  computed:{
    ...mapGetters({
      passBlocks: 'passBlocks/passBlocks'
    }),
    totalPassesCount(){
      return this.pagination.total > this.passBlocks.length ? this.pagination.total : this.passBlocks.length;
    }
  },
  created() {
    this.handlePassBlocks();
  },
  methods: {
    handlePassBlocks(page, isExport, isLazyLoadingMode, noLoader){
      this.pagination.activePage = page ? page : 1;
      let params = {
        page: this.pagination.activePage,
        per_page: this.pagination.per_page.value,
      };
      if(this.filterParams.search_query){
        params.search_query = this.filterParams.search_query;
      }
      if(this.filterParams.sort_query){
        params.sort = this.filterParams.sort_query;
      }
      if(isExport){
        this.exportCSVPassBlocks();
      }else{
        this.getPassBlocks(params, isLazyLoadingMode, noLoader);
      }
    },
    getPassBlocks(params, isLazyLoadingMode, noLoader){
      this.isLoading = !noLoader;
      this.$store.dispatch('passBlocks/getPassBlocks', params)
        .then((response) => {
          let data = response.data;
          if(data){
            if(isLazyLoadingMode){
              this.$store.commit('passBlocks/PUSH_PASS_BLOCKS', data.data);
            }else{
              this.$store.commit('passBlocks/SET_PASS_BLOCKS', data.data);
            }
            this.pagination.total = data.meta.total;
            this.pagination.from = data.meta.from
            this.pagination.to = data.meta.to
            this.pagination.pages = Math.ceil(data.meta.total / data.meta.per_page);
            this.pagination.activePage = Number(this.pagination.activePage);
            this.pagination = JSON.parse(JSON.stringify(this.pagination))
          }
          this.isLoading = false;
        })
        .catch((err) => { this.isLoading = false;});
    },
    exportCSVPassBlocks(params){
      this.isLoading = true;
      this.$store.dispatch('passBlocks/getCSVpassBlocksExport')
        .then((response) => {
          if(response.data){
            this.downloadCSVExport(response.data);
          }
          this.isLoading = false;
        })
        .catch((err) => { this.isLoading = false;});
    },
    downloadCSVExport(data){
      let csvDataForExport = 'data:text/csv;charset=utf-8,' + data;
      var encodedUri = encodeURI(csvDataForExport);
      var link = document.createElement("a");
      link.setAttribute("href", encodedUri);
      link.setAttribute("target", "_blank");
      link.setAttribute("download", "pass-blocks.csv");
      document.body.appendChild(link);
      link.click();
    },
    searchByQuery(value, type){
      clearInterval(this.searchTimeOut);
      this.searchTimeOut = setTimeout(() => {
        this.handleQuerySearch(value, type);
      }, 500);
    },
    handleQuerySearch(value, type){
      let query = value.toString();
      if(query.replace(/\s/g, '').length > 0 || query.replace(/\s/g, '').length === 0){
        this.filterParams.search_query = '';
        if(type && type === 'column'){
          this.columnSearchKeys.globalQuery = "";
          for (const key in this.columnSearchKeys) {
            if (Object.hasOwnProperty.call(this.columnSearchKeys, key)) {
              let columnData = this.columnSearchKeys[key];
              if(columnData.value){
                columnData.column.forEach(col => {
                  this.filterParams.search_query = this.filterParams.search_query + `${col}:"${columnData.value}", `;
                });
              }
            }
          }
          this.filterParams.search_query = this.filterParams.search_query.slice(0, -2);
        }else{
          this.resetSearchQuery();
          this.columnSearchKeys.globalQuery = query;
          this.filterParams.search_query = query ?  '"' + query + '"' : query;
        }
        // this.clearFilterParams();
        this.handlePassBlocks();
      }
    },
    sortByColumn(column){
      let columnName = this.columnSearchKeys[column.column] ? this.columnSearchKeys[column.column].sortBy : column.column;
      this.filterParams.sort_query = `${columnName}:${column.asc ? 'asc' : 'desc'}`;
      this.handlePassBlocks();
    },
    editPassBlock(pass){
      if(pass){
        this.$store.commit('passBlocks/SET_EDITABLE_PASS_BLOCK', pass);
        this.$helpers.scrollToTop();
      }
    },
    isEditable(passBlock){
      return passBlock.to_date && this.$helpers.transformDate(passBlock.to_date, 'YYYY-MM-DD HH:mm:ss') >= this.$helpers.date().format('YYYY-MM-DD HH:mm:ss');
    },
    deletePassBlock(id){
      if(id){
        this.isLoading = true;
        this.$store.dispatch('passBlocks/deletePassBlock', id)
        .then(() => {
          this.$store.commit('passBlocks/DELETE_PASS_BLOCK', id);
          this.isLoading = false;
          this.pagination.total = this.pagination.total - 1;
        })
        .catch(() => this.isLoading = false);
      }
    },
    setPerPage(option){
      if(option){
        this.isLazyLoadingMode = option.label === 'All entries';
        this.pagination.per_page = option;
        this.handlePassBlocks();
      }
    },
    setActivePage(){
      this.handlePassBlocks(this.pagination.activePage);
      this.$helpers.scrollToTop();
    },
    resetSearchQuery(){
      this.filterParams.search_query = '';
      this.columnSearchKeys = {
        globalQuery: '',
        from_date: {value:'', column: ['from_date.raw'], sortBy: 'from_date'},
        to_date: {value:'', column: ['to_date.raw'], sortBy: 'to_date'},
        reason: {value:'', column: ['reason'], sortBy: 'reason'},
      };
    },
    resetParams(){
      this.filterParams = {
        search_query: '',
        sort_query:''
      };
    },
    initLazyLoading(){
      let body = document.getElementsByClassName('main-scroll-container')[0];
      if(body){
        body.onscroll = () => {
          if(this.isLazyLoadingMode && this.passBlocks && this.passBlocks.length && this.pagination.total > this.passBlocks.length){
            if(body.offsetHeight + body.scrollTop >= body.scrollHeight) {
              this.pagination.activePage = this.pagination.activePage + 1;
              this.handlePassBlocks(this.pagination.activePage, false, false, true);
            }
          }
        }
      }
    },
    refreshDataTable(){
      this.resetParams();
      this.resetSearchQuery();
      this.handlePassBlocks(1, false, false, true);
    },
  }
}
</script>
