<template>
  <CContainer class="pass-history-view datatable-container px-0" @click="onContainerClick">
    <Loader :isProcessing="isLoading" />
    <!-- Edit pass time modal -->
    <CModal
      :show.sync="modal.isVisible.passTimeChange"
      v-if="modal.isVisible.passTimeChange"
      :closeOnBackdrop="false">
      <template #header-wrapper>
        <div class="pt-4 px-4 create-popup-header">
          <div @click="closeModal()" class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span class="close-icon"></span></div>
        </div>
      </template>
      <div v-if="modal.activePass">
        <ChangePassHistoryTimeForm @passTimeChange="onPassTimeChange" :pass="modal.activePass" />
      </div>
      <template #footer-wrapper><div></div></template>
    </CModal>
        <!-- Student passes history -->
    <CModal
      v-if="modal.activePass && modal.isVisible.todayPasses"
      :show.sync="modal.isVisible.todayPasses"
      :closeOnBackdrop="false"
      class="p-0"
      size="lg"
      addContentClasses="no-padding-modal no-border-radius-modal left-top-header">
      <template #header-wrapper>
        <div class="pt-4 px-3 create-popup-header">
          <div @click="closeModal()" class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span class="close-icon"></span></div>
        </div>
      </template>
      <div>
        <StudentPassHistory :userId="modal.activePass.user.id"/>
      </div>
      <template #footer-wrapper><div></div></template>
    </CModal>
    <!-- End modals -->

    <CRow class="justify-content-center mt-0 mt-md-4">
      <CCol md="12" class="mb-4 mb-md-5">
        <h1 class="text-center">
          Pass History
          <HelpCenterButton _class="ml-2" contentKey="pass_history"/>
        </h1>
      </CCol>
      <CCol md="4">
          <LazyLoadSelect
            :isMultiple="true"
            classes="mb-3"
            @change="(value) => {filterParams.by_students = value}"
            :selected="filterParams.by_students"
            type="student"
            placeholder="Search student(s)"/>

          <v-select
            v-if="gradeYears"
            class="cs-select mb-3 ps__child--consume"
            v-model="filterParams.grade_years"
            :options="gradeYears"
            placeholder="Select year"
            :clearable="false"
            :searchable="false"
            @input="setCalendarDates"
          />
      </CCol>
      <CCol md="4">
          <LazyLoadSelect
            :isMultiple="true"
            classes="mb-3"
            @change="(value) => {filterParams.by_teachers = value}"
            :selected="filterParams.by_teachers"
            type="adults"
            placeholder="Search teacher(s)"/>

          <v-date-picker class="cs-date-picker"
            :masks="{L:'MM/DD/YYYY'}"
            v-if="filterParams.grade_years"
            placeholder="Year"
            mode="range"
            v-model="filterParams.dates"
            is-range
            :min-date='minDate'
            :max-date='maxDate'
          >
            <template v-slot="{ inputValue, togglePopover, hidePopover }">
              <div class="input-icon-field cursor-pointer">
                <CInput
                  placeholder="Date"
                  type="readonly"
                  :value="inputValue.start + '-' + inputValue.end"
                  readonly
                  @click="showCalendarRanges(hidePopover, togglePopover)"
                  addInputClasses="date-calendar-option cursor-pointer"
                />
                <span class="field-icon" @click="showCalendarRanges(hidePopover, togglePopover)">
                  <i class="fi flaticon-calendar mr-1"></i>
                </span>
                <div v-show="calendar.isRangesVisible" class="optional-date-ranges-container">
                  <div v-for="(range, index) in optionalDateRanges" :key="index" :class="{'active' : range.label === calendar.activeRange.label}" class="option-range p-2" @click="setCalendarRange(range, togglePopover)">
                    {{range.label}}
                  </div>
                </div>
              </div>
            </template>
          </v-date-picker>
      </CCol>
      <CCol md="4">
          <LazyLoadSelect
            :isMultiple="true"
            :isProcessing="false"
            classes="mb-3"
            @change="(value) => {filterParams.by_rooms = value}"
            :selected="filterParams.by_rooms"
            type="locations"
            placeholder="Search room(s)"/>
      </CCol>
      <CCol md="12" class="mt-1 mt-md-4 filter-actions">
        <div class="d-sm-inline-block text-center" @click="advancedFilter(false)" >
         <CButton class="btn bg-gradient-blue reverse text-white">
            <div class="p-small">Pass view</div>
          </CButton>
        </div>
        <div class="d-sm-inline-block text-center">
        <CButton @click="advancedFilter(true)" class="mx-2 my-2 btn bg-neutral-blue py-2 text-white">
          Tabular view <br>(CSV)
        </CButton>
        </div>
        <div class="d-sm-inline-block text-center">
        <CButton @click="clearFilter()" class="mr-0 mr-md-2 p-small bg-gradient-blue reverse">
          <span class="btn bg-white px-4"><b class="text-graident-blue reverse">Clear</b></span>
        </CButton>
        </div>
      </CCol>
    </CRow>

    <CRow class="mt-5">
      <CCol md="12">
        <div class="table-tabs-header mb-2 bg-white d-flex align-items-center justify-content-between">
          <div v-for="(tab, index) in tableTabs" :key="index" class="table-tab px-2 px-md-4" :class="{'active' : tab.value === activeTableTab.value}">{{tab.label}}</div>
          <div class="actions d-flex align-items-center">
            <CLink
              @click="requestPassHistory(pagination.activePage, true)"
              class="lh-normal text-accent-blue-light ml-2 ml-md-0"
              download="pass-history.csv"
              target="_blank">
              <i class="fi flaticon-download mr-1"></i> <span class="d-none d-md-inline-block">Download CSV</span>
            </CLink>
            <CInput
              class="search-field mb-0 ml-2 ml-md-4"
              placeholder="Search..."
              @input="searchByQuery"
              :value.sync="columnSearchKeys.globalQuery"
            >
             <template #prepend-content><div><i class="flaticon-magnifying-glass"></i></div></template>
            </CInput>
          </div>
        </div>
        <div class="status-guides-container flex-wrap flex-md-nowrap mb-2">
          <div class="d-flex align-items-center flex-wrap">
            <div class="tabs-filter-container mr-4">
              <div class="filter-tab" @click="setTabFilterValue('only_my_passes')" :class="{'active' : filterParams.tab_filter === 'only_my_passes'}">My passes</div>
              <div v-if="isUserInTransparency" class="filter-tab" @click="setTabFilterValue('all_passes')" :class="{'active' : filterParams.tab_filter === 'all_passes'}">All passes</div>
            </div>
            <div class="status-guide flex-wrap flex-md-nowrap py-4 p-md-0">
              <div class="mr-2">Filters:</div>
              <div class="status-list flex-wrap flex-md-nowrap">
                <CInputCheckbox
                  v-if="passesTimeSettings && passesTimeSettings.min_time"
                  :label="$helpers.formatDate(passesTimeSettings.min_time, 'hh:mm:ss', 'mm') + '+Min'"
                  :checked.sync="filterParams.checkBoxes.yellow_time"
                  name="Extended Passes"
                  :inline="true"
                  :custom="true"
                  class="min-10"
                  @update:checked="requestPassHistory()"
                />
                <CInputCheckbox
                  label="System Ended"
                  :checked.sync="filterParams.checkBoxes.system_ended"
                  name="System Ended"
                  :inline="true"
                  :custom="true"
                  @update:checked="requestPassHistory()"
                  class="system-ended"
                />
                <CInputCheckbox
                  label="Extended Passes"
                  :checked.sync="filterParams.checkBoxes.extended_time"
                  name="Extended Passes"
                  :inline="true"
                  :custom="true"
                  class="extended-passes"
                  @update:checked="requestPassHistory()"
                />
                <CInputCheckbox
                  label="Canceled"
                  :checked.sync="filterParams.checkBoxes.only_canceled_passes"
                  name="Canceled"
                  :inline="true"
                  :custom="true"
                  @update:checked="requestPassHistory()"
                  class="edited"
                />
                <CInputCheckbox
                  label="Missed Request"
                  :checked.sync="filterParams.checkBoxes.missed_request"
                  name="Missed"
                  :inline="true"
                  :custom="true"
                  @update:checked="requestPassHistory()"
                  class="edited"
                />
                <CInputCheckbox
                  label="Edited"
                  :checked.sync="filterParams.checkBoxes.edited"
                  name="Edited"
                  :inline="true"
                  :custom="true"
                  @update:checked="requestPassHistory()"
                  class="edited"
                />
              </div>
            </div>
          </div>
          <div class="per-page-container">
            <per-page-selector :pagination="pagination" :action="setPerPage"/>
          </div>
        </div>

        <DataTable
          class="datatable bg-white"
          id="pass-history-datatable"
          v-if="passHistoriesCollection"
          :items="passHistoriesCollection"
          :fields="activeDataTableFields"
          :column-filter="{ external: true }"
          :sorter='{ external: true }'
          @update:sorter-value="sortByColumn"
          :noItemsView='{ noResults: "No items available", noItems: "No items available" }'>
            <template #sorting-icon="{state}">
              <div class="table-order-icons">
                <font-awesome-icon icon="caret-up" :class="[state=='desc'?'text-black':'text-black-50',]" />
                <font-awesome-icon icon="caret-down" :class="[state=='asc'?'text-black':'text-black-50']" />
              </div>
            </template>
          <template #created_date="{item}">
            <td>{{item.created_date ? item.created_date : '-'}}</td>
          </template>
          <template #created_date-filter>
            <input v-model="columnSearchKeys.created_date.value" placeholder="Search by date" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #user="{item}">
            <td class="p-0 position-relative td-box w-auto d-table-cell">
              <div class="d-flex align-items-center justify-content-start user-details-column" :class="getPassStatus(item) ? getPassStatus(item).class : ''">
                <div v-if="item.user" class="d-flex align-items-center" >
                  <div v-if="getPassStatus(item)" class="pass-status" :class="getPassStatus(item).class"> <!-- v-show="item.completed_at && item.pass_status === 0" -->
                    {{getPassStatus(item).label}}
                  </div>
                  <div class="edit mr-2">
                    <div class="d-flex align-items-center content-center mb-1">
                      <span v-if="isPassEditable(item)" class="edit-btn" @click="setActiveModalPass(item, 'passTimeChange')"><i class="fi flaticon-edit mr-1"></i></span>
                      <span v-if="getFlagStatusColor(item)" class="status-flag" :style="'color:' + getFlagStatusColor(item)"><i class="flaticon-flag-2"></i></span>
                    </div>
                    <p v-if="item.edited_at" class="is-edited d-flex m-0 mt-2">EDITED<i class="fi flaticon-edit ml-1"></i></p>
                  </div>
                  <div v-show="showStudentPhotos" class="c-avatar mr-2">
                    <img :src="item.user.avatar ? item.user.avatar : 'img/avatars/user-avatar.jpeg'" class="c-avatar-img " />
                  </div>
                  <div class="user-info">
                    <b>{{item.user.first_name}} {{item.user.last_name}}</b>
                  </div>
                </div>
              </div>
            </td>
          </template>
          <template #user-filter>
            <input v-model="columnSearchKeys.user.value" placeholder="Search by name" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #first_name-filter>
            <input v-model="columnSearchKeys.first_name.value" placeholder="Search by name" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #last_name-filter>
            <input v-model="columnSearchKeys.last_name.value" placeholder="Search by name" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #email-filter>
            <input v-model="columnSearchKeys.email.value" placeholder="Search by email" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #out_location-filter>
            <input v-model="columnSearchKeys.out_location.value" placeholder="Search by name" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #out_teacher-filter>
            <input v-model="columnSearchKeys.out_teacher.value" placeholder="Search by name" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #out_time-filter>
            <input v-model="columnSearchKeys.out_time.value" placeholder="Search by time" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #in_location-filter>
            <input v-model="columnSearchKeys.in_location.value" placeholder="Search by name" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #in_teacher-filter>
            <input v-model="columnSearchKeys.in_teacher.value" placeholder="Search by name" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #in_time-filter>
            <input v-model="columnSearchKeys.in_time.value" placeholder="Search by time" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #child_out_location-filter>
            <input v-model="columnSearchKeys.child_out_location.value" placeholder="Search by name" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #child_out_teacher-filter>
            <input v-model="columnSearchKeys.child_out_teacher.value" placeholder="Search by name" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #child_out_time-filter>
            <input v-model="columnSearchKeys.child_out_time.value" placeholder="Search by time" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #child_in_location-filter>
            <input v-model="columnSearchKeys.child_in_location.value" placeholder="Search by name" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #child_in_teacher-filter>
            <input v-model="columnSearchKeys.child_in_teacher.value" placeholder="Search by name" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #child_in_time-filter>
            <input v-model="columnSearchKeys.child_in_time.value" placeholder="Search by time" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #approved_at="{item}">
            <td class="pass-time-info">
              <b>{{item.from ? item.from.name : '-'}}</b>
              <p class="my-1 mx-0 p-0">{{item.approved_at ? $helpers.transformDate(item.approved_at, 'h:mm A') : '-'}}</p>
              <InOutColumn :pass="item" section="approved_at"/>
            </td>
          </template>
          <template #approved_at-filter>
            <input placeholder="Search by time" v-model="columnSearchKeys.approved_at.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #completed_at="{item}">
            <td class="pass-time-info in-time">
              <b>{{item.to ? item.to.name : '-'}}</b>
              <p class="my-1 mx-0 p-0">{{item.completed_at ? $helpers.transformDate(item.completed_at, 'h:mm A') : '-'}}</p>
              <InOutColumn :pass="item" section="completed_at"/>
            </td>
          </template>

          <template #completed_at-filter>
            <input placeholder="Search by time" v-model="columnSearchKeys.completed_at.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #child_approved_at="{item}">
            <td class="pass-time-info">
              <b>{{item.child && item.child.from ? item.child.from.name : '-'}}</b>
              <p class="my-1 mx-0 p-0">{{item.child && item.child.approved_at ? $helpers.transformDate(item.child.approved_at, 'h:mm A') : '-'}}</p>
              <InOutColumn :pass="item" section="child_approved_at"/>
            </td>
          </template>
          <template #child_approved_at-filter>
            <input placeholder="Search by time" v-model="columnSearchKeys.child_approved_at.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #child_completed_at="{item}">
            <td class="pass-time-info in-time">
              <b>{{item.child && item.child.to ? item.child.to.name : '-'}}</b>
              <p class="my-1 mx-0 p-0">{{item.child && item.child.completed_at ? $helpers.transformDate(item.child.completed_at, 'h:mm A') : '-'}}</p>
              <InOutColumn :pass="item" section="child_completed_at"/>
            </td>
          </template>
          <template #child_completed_at-filter>
            <input placeholder="Search by time" v-model="columnSearchKeys.child_completed_at.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #total_time="{item}">
            <td>
              <b>{{item.total_time ? item.total_time : '-'}}</b>
            </td>
          </template>
          <template #total_time-filter>
            <input placeholder="Search by total time" v-model="columnSearchKeys.total_time.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #type="{item}">
            <td>
              <b>{{item.type ? item.type : '-'}}</b>
            </td>
          </template>
          <template #type-filter>
            <input placeholder="Search by type" v-model="columnSearchKeys.type.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

           <template #comments="{item}">
            <td>
              <PassComments :pass="item" :isTabular="isTabular" commentable_type="App\Models\Pass"/>
            </td>
          </template>
          <template #comments-filter  >
            <input placeholder="Search by comments" v-model="columnSearchKeys.comments.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #expired_at="{item}">
            <td>{{item.expired_at ? $helpers.transformDate(item.expired_at) : '-'}}</td>
          </template>
          <template #expired_at-filter>
            <input v-model="columnSearchKeys.expired_at.value" placeholder="Search by date" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>
        </DataTable>

        <CPagination
          class="cs-pagination mt-4"
          :dots="false"
          :doubleArrows="true"
          v-if="pagination && pagination.pages && pagination.pages>1 && !isLazyLoadingMode"
          :activePage.sync="pagination.activePage"
          :pages="pagination.pages"
          size="lg"
          align="center"
          @update:activePage="setActivePage">
          <template #last-button>
            <i class="flaticon-right-arrow-1"></i>
          </template>
          <template #first-button>
            <i class="flaticon-left-arrow-2"></i>
          </template>
          <template #previous-button>
            <i class="fi flaticon-left-arrow-1"></i>
          </template>
          <template #next-button>
            <i class="fi flaticon-chevron"></i>
          </template>
        </CPagination>

      </CCol>
    </CRow>
  </CContainer>
</template>
<script>
import Loader from '@/components/Loader'
import ChangePassHistoryTimeForm from '@/components/Forms/ChangePassHistoryTimeForm'
import CommentsComponent from '@/components/CommentsComponent'
import {mapGetters} from 'vuex';
import { DatePicker } from 'v-calendar'
import StudentPassHistory from '@/components/DataTables/StudentPassHistory';
import InOutColumn from './ColumnComponents/InOutColumn.vue';

import moment from 'moment-timezone';

import LazyLoadSelect from '@/components/LazyLoadSelect.vue';
import PerPageSelector from '../PerPageSelector.vue';
import PassComments from './ColumnComponents/PassComments.vue';
import HelpCenterButton from '@/components/HelpCenterButton';

export default {
  name: "PassHistoryDataTable",
  components: {
    Loader,
    ChangePassHistoryTimeForm,
    CommentsComponent,
    StudentPassHistory,
    InOutColumn,
    'v-date-picker': DatePicker,
    LazyLoadSelect,
    PerPageSelector,
    PassComments,
    HelpCenterButton
  },
  data() {
    return {
      today: moment().format('MMM DD YYYY'),
      isLazyLoadingMode: false,
      calendar: {
        isCalendarVisible: false,
        isRangesVisible: false,
        activeRange: {
          label: 'Today',
          range:{
            start: moment().format('MMM DD YYYY'),
            end: moment().format('MMM DD YYYY')
          }
        }
      },
      columnSearchKeys: {
        globalQuery: '',
        created_date: {value:'', column: ['created_date'], sortBy: 'created_date'},
        user: {value:'', column: ['user.name'], sortBy: 'user.last_name'},
        first_name: {value:'', column: ['user.first_name'], sortBy: 'user.first_name'},
        last_name: {value:'', column: ['user.last_name'], sortBy: 'user.last_name'},
        email: {value:'', column: ['user.email'], sortBy: 'user.email'},

        out_location: {value:'', column: ['from.name'], sortBy: 'from.name'},
        out_teacher: {value:'', column: ['approved_by_user.first_name'], sortBy: 'approved_by_user.first_name'},
        out_time: {value:'', column: ['tabular_view.approve_time'], sortBy: 'elastic_advanced_fields.approve_time_only'},
        in_location: {value:'', column: ['to.name'], sortBy: 'to.name'},
        in_teacher: {value:'', column: ['completed_by_user.first_name'], sortBy: 'completed_by_user.first_name'},
        in_time: {value:'', column: ['tabular_view.completed_time'], sortBy: 'elastic_advanced_fields.completed_time_only'},

        child_out_location: {value:'', column: ['child.from.name'], sortBy: 'child.from.name'},
        child_out_teacher: {value:'', column: ['child.approved_by_user.first_name'], sortBy: 'child.approved_by_user.first_name'},
        child_out_time: {value:'', column: ['tabular_view.approve_child_time'], sortBy: 'elastic_advanced_fields.approve_child_time_only'},
        child_in_location: {value:'', column: ['child.to.name'], sortBy: 'child.to.name'},
        child_in_teacher: {value:'', column: ['child.completed_by_user.first_name'], sortBy: 'child.completed_by_user.first_name'},
        child_in_time: {value:'', column: ['tabular_view.completed_child_time'], sortBy: 'elastic_advanced_fields.completed_child_time_only'},

        approved_at: {value:'', column: ['from.name'], sortBy: 'elastic_advanced_fields.approve_time_only'},
        completed_at: {value:'', column: ['to.name'], sortBy: 'elastic_advanced_fields.completed_time_only'},
        child_approved_at: {value:'', column: ['child.from.name'], sortBy: 'elastic_advanced_fields.approve_child_time_only'},
        child_completed_at: {value:'', column: ['child.to.name'], sortBy: 'elastic_advanced_fields.completed_child_time_only'},
        total_time: {value:'', column: ['total_time'], sortBy: 'total_time'},
        type: {value:'', column: ['type'], sortBy: 'type'},
        comments: {value:'', column: ['comments.comment'], sortBy: 'created_date'},
        expired_at: {value:'', column: ['expired_at'], sortBy: 'expired_at'},
      },
      filterParams:{
        search_query: '',
        sort_query:'',
        by_students: [],
        by_teachers: [],
        by_rooms: [],
        dates: {
          end: moment().format('MMM DD YYYY'),
          start: moment().format('MMM DD YYYY')
        },
        grade_years: [],
        tab_filter: 'only_my_passes',
        checkBoxes: {
          edited: false,
          system_ended: false,
          extended_time: false,
          yellow_time: false,
          only_canceled_passes: false,
          missed_request: false,
          only_missed_passes: false,
        }
      },
      optionalDateRanges: [{
        label: 'Today',
        range:{
          start: moment().format('MMM DD YYYY'),
          end: moment().format('MMM DD YYYY')
        }
      },
      {
        label: 'Yesterday',
        range:{
          start: moment().subtract(1, 'days').format('MMM DD YYYY'),
          end: moment().subtract(1, 'days').format('MMM DD YYYY'),
        }
      },
      {
        label: 'Last 7 days',
        range:{
          start: moment().subtract(7, 'days').format('MMM DD YYYY'),
          end: moment().format('MMM DD YYYY')
        }
      },
      {
        label: 'Last 14 days',
        range:{
          start: moment().subtract(14, 'days').format('MMM DD YYYY'),
          end: moment().format('MMM DD YYYY')
        }
      },
      {
        label: 'Last 30 days',
        range:{
          start: moment().subtract(30, 'days').format('MMM DD YYYY'),
          end: moment().format('MMM DD YYYY')
        }
      },
      {
        label: 'This month',
        range:{
          start: moment().startOf('month').format('MMM DD YYYY'),
          end: moment().format('MMM DD YYYY')
        }
      },
      {
        label: 'This year',
        range:{
          start: moment().startOf('year').format('MMM DD YYYY'),
          end: moment().format('MMM DD YYYY')
        }
      },
      {
        label: 'Custom range',
        range: null
      }],
      pagination: {
        activePage: 1,
        total: 0,
        pages: 0,
        per_page: {label:'25', value: 25}
      },
      dataTableFields: [
        {key:'created_date', label:'Date', type: 'tabular', _style: 'min-width:150px'},
        {key:'total_time', label:'Total', type: 'tabular', _style: 'min-width:150px'},
        {key:'first_name', label:'First name', type: 'tabular', _style: 'min-width:150px'},
        {key:'last_name', label:'Last name', type: 'tabular', _style: 'min-width:150px'},
        {key:'email', label:'Email', type: 'tabular', _style: 'min-width:150px'},

        {key:'out_location', label:'Out Location', type: 'tabular', _style: 'min-width:150px'},
        {key:'out_teacher', label:'Out Teacher', type: 'tabular', _style: 'min-width:150px'},
        {key:'out_time', label:'Out Time', type: 'tabular', _style: 'min-width:150px'},
        {key:'in_location', label:'In Location', type: 'tabular', _style: 'min-width:150px'},
        {key:'in_teacher', label:'In Teacher', type: 'tabular', _style: 'min-width:150px'},
        {key:'in_time', label:'In Time', type: 'tabular', _style: 'min-width:150px'},

        {key:'child_out_location', label:'Out Location', type: 'tabular', _style: 'min-width:150px'},
        {key:'child_out_teacher', label:'Out Teacher', type: 'tabular', _style: 'min-width:150px'},
        {key:'child_out_time', label:'Out Time', type: 'tabular', _style: 'min-width:150px'},

        {key:'child_in_location', label:'In Location', type: 'tabular', _style: 'min-width:150px'},
        {key:'child_in_teacher', label:'In Teacher', type: 'tabular', _style: 'min-width:150px'},
        {key:'child_in_time', label:'In Time', type: 'tabular', _style: 'min-width:150px'},

        {key:'user', label:'Student', _style:'min-width:280px', type: 'pass-view'},
        {key:'created_date', label:'Date'},
        {key: 'approved_at', _style:'min-width:130px', label: 'Out time', type: 'pass-view'},
        {key: 'completed_at', _style:'min-width:130px', label: 'In time', type: 'pass-view'},
        {key: 'child_approved_at', _style:'min-width:130px', label: 'Out time', type: 'pass-view'},
        {key: 'child_completed_at', _style:'min-width:130px', label: 'In time', type: 'pass-view'},
        {key: 'total_time', label: 'Total', type: 'pass-view'},
        {key:'type'},
        {key:'comments',_style:'min-width:160px', label: "Status/Comments"},
        {key:'expired_at', label:'Archived date', type: 'tabular', _style: 'min-width:150px'},

      ],
      tableTabs:[{
        label: "Pass History", value: 'pass-history'
      }],
      activeTableTab: '',
      isTabular: false,
      isLoading: false,
      isPassView: false,
      modal: {
        isVisible: {
          passTimeChange: false,
          comments: false,
          todayPasses: false
        },
        activePass: null
      },
      searchTimeOut: null,
    }
  },
  computed:{
    ...mapGetters({
      passHistories: 'passes/passHistories',
      passesTimeSettings: 'passes/passesTimeSettings',
      currentUser: 'authentication/user',
      showStudentPhotos: 'schools/showStudentPhotos',
      isUserInTransparency: "authentication/isUserInTransparency"
    }),
    passHistoriesCollection(){
      return this.passHistories ? this.passHistories.map(item => {
        return {
          ...item,
          first_name: item.user ? item.user.first_name : '',
          last_name: item.user ? item.user.last_name : '',
          email: item.user ? item.user.email : '',
          out_location: item.from ? item.from.name : '-',
          out_teacher: item.approved_by_user ? item.approved_by_user.name : '-',
          out_time: item.approved_at ? this.$helpers.transformDate(item.approved_at, 'h:mm:ss A') : '-',
          in_location: item.to ? item.to.name : '-',
          in_teacher :item.completed_by_user ? item.completed_by_user.name : '-',
          in_time: item.completed_at ? this.$helpers.transformDate(item.completed_at, 'h:mm:ss A') : '-',
          child_out_location: item.child && item.child.from ? item.child.from.name : '-',
          child_out_teacher: item.child && item.child.approved_by_user ? item.child.approved_by_user.name : '-',
          child_out_time: item.child && item.child.approved_at ? this.$helpers.transformDate(item.child.approved_at , 'h:mm:ss A') : '-',
          child_in_location: item.child && item.child.to ? item.child.to.name : '-',
          child_in_teacher: item.child && item.child.completed_by_user ? item.child.completed_by_user.name : '-',
          child_in_time: item.child && item.child.completed_at ? this.$helpers.transformDate(item.child.completed_at, 'h:mm:ss A') : '-',

          child_approved_at: item.child && item.child.from ? item.child.from.name : '-',
          child_completed_at: item.child && item.child.to ? item.child.to.name : '-',
        }
      })
      :
      this.passHistories;
    },
    datesParam(){
      return this.filterParams.dates ?
      this.$helpers.currTzDate(this.filterParams.dates.start) + ',' +
      this.$helpers.currTzDate(this.filterParams.dates.end) : null;
    },
    activeDataTableFields(){
      return this.dataTableFields.filter(field => this.isTabular ? field.type !== 'pass-view' : field.type !== 'tabular');
    },
    gradeYears(){
      let gradeYears = [];
      let currentYear = new Date().getFullYear();
      for (let i = 0; i < currentYear - 2016; i++) {
        gradeYears.push({value:[2016 + i,2017 + i], label: `${2016 + i}-${17 + i}`});
      }
      return gradeYears;
    },
    maxDate(){
      return new Date().getFullYear() === this.filterParams.grade_years.value[1] ? this.today : new Date(this.filterParams.grade_years.value[1],11,31);
    },
    minDate(){
      return new Date( this.filterParams.grade_years.value[0],0,1);
    }
  },
  created() {
    this.initDataSet();
    this.requestPassHistory();
  },
  mounted(){
    this.initLazyLoading();
  },
  methods: {
    requestPassHistory(page, isExport, isLazyLoadingMode){
      this.pagination.activePage = page ? page : 1;
      let params = {
        only_my_passes: this.filterParams.tab_filter === 'only_my_passes',
        page: this.pagination.activePage,
        per_page: this.pagination.per_page.value,
        dates: this.datesParam
      };
      if(this.filterParams.search_query){
        params.search_query = this.filterParams.search_query;
        if(this.columnSearchKeys.globalQuery){
          params.global_search = true;  
        }
      }
      if(this.filterParams.by_students && this.filterParams.by_students.length){
        params.by_students = this.filterParams.by_students.map(el => el.value.id).join();
      }
      if(this.filterParams.by_teachers && this.filterParams.by_teachers.length){
        params.by_teachers = this.filterParams.by_teachers.map(el => el.value.id).join();
      }
      if(this.filterParams.by_rooms && this.filterParams.by_rooms.length){
        params.by_rooms = this.filterParams.by_rooms.map(el => el.value.id).join();
      }
      if(this.filterParams.sort_query){
        params.sort = this.filterParams.sort_query;
      }
      let filters_list = [];
      for (const key in this.filterParams.checkBoxes) {
        if (Object.hasOwnProperty.call(this.filterParams.checkBoxes, key)) {
          const item = this.filterParams.checkBoxes[key];
          if(item){
            filters_list.push('"' + key + '"');
          }
        }
      }
      if(filters_list.length){
        params.filters_list = "[" + filters_list + "]";
      }

      if(isExport){
        this.getCSVPassHistoriesExport(params);
      }else{
        this.getPassHistories(params, isLazyLoadingMode);
      }

    },
    getPassHistories(params, isLazyLoadingMode){
      this.isLoading = true;
      this.$store.dispatch('passes/getPassHistories', params)
      .then((response) => {
        let data = response.data;
        if (data.data) {
          if(isLazyLoadingMode){
            this.$store.commit('passes/PUSH_PASS_HISTORIES', data.data);
          }else{
            this.$store.commit('passes/SET_PASS_HISTORIES', data.data);
          }
        }
        if(data.meta){
           this.pagination.total = data.meta.total;
            this.pagination.from = data.meta.from
            this.pagination.to = data.meta.to
            this.pagination.pages = Math.ceil(data.meta.total / data.meta.per_page);
            this.pagination.activePage = Number(this.pagination.activePage);
            this.pagination = JSON.parse(JSON.stringify(this.pagination))
        }
        this.isLoading = false;
      })
      .catch((err) => { this.isLoading = false;});
    },
    getCSVPassHistoriesExport(params){
      this.isLoading = true;
      this.$store.dispatch('passes/getCSVPassHistoriesExport', params)
      .then((response) => {
        if(response.data){
          this.downloadCSVExport(response.data);
        }
        this.isLoading = false;
      })
      .catch((err) => { this.isLoading = false;});
    },
    downloadCSVExport(data){
      let csvDataForExport = 'data:text/csv;charset=utf-8,' + data;
      var encodedUri = encodeURI(csvDataForExport);
      var link = document.createElement("a");
      link.setAttribute("href", encodedUri);
      link.setAttribute("target", "_blank");
      link.setAttribute("download", "pass-histories.csv");
      document.body.appendChild(link);
      link.click();
      // window.open(encodedUri);
    },
    clearFilter(){
      this.clearFilterParams();
      this.requestPassHistory();
      this.isTabular = false;
    },
    clearFilterParams(){
      this.isPassView =false;
      this.filterParams = {
        search_query: this.filterParams.search_query,
        sort_query: this.filterParams.sort_query,
        by_students: [],
        by_teachers: [],
        by_rooms: [],
        dates: {
          end: moment().format('MMM DD YYYY'),
          start: moment().format('MMM DD YYYY')
        },
        tab_filter: this.filterParams.tab_filter,
        grade_years: this.gradeYears ? this.gradeYears[this.gradeYears.length-1] : [],
        checkBoxes: this.filterParams.checkBoxes
      };
      this.calendar.activeRange = this.optionalDateRanges[0];
    },
    setPerPage(option){
      if(option){
        this.isLazyLoadingMode = option.label === 'All entries';
        this.pagination.per_page = option;
        this.requestPassHistory();
      }
    },
    getFlagStatusColor(pass){
      if(pass.badge_flags){
        if(pass.badge_flags.system_completed){
          return '#DF3C3B';
        }
        if(pass.badge_flags.min_time){
          return '#F4EA65';
        }
        if(pass.badge_flags.extended){
          return '#672C91';
        }
      }
      return 'transparent';
    },
    setTabFilterValue(type){
      if(type !== this.filterParams.tab_filter){
        this.filterParams.tab_filter = type;
        this.requestPassHistory();
      }
    },
    closeModal(){
      this.modal = {
        isVisible: {
          passTimeChange: false,
          comments: false,
          todayPasses: false
        },
        activePass: null
      }
    },
    setActiveModalPass(pass, modal){
      if(pass){
        this.modal.isVisible[modal] =  true;
        this.modal.activePass = pass;
      }
    },
    setActivePage(){
      this.requestPassHistory(this.pagination.activePage);
      this.$helpers.scrollToTop();
    },
    isPassEditable(pass){
      return pass.approved_by === this.currentUser.id || pass.completed_by === this.currentUser.id || pass.from_type === "App\\Models\\User" && pass.from_id === this.currentUser.id || pass.to_type === "App\\Models\\User" && pass.to_id === this.currentUser.id;
    },
    searchByQuery(value, type){
      clearInterval(this.searchTimeOut);
      this.searchTimeOut = setTimeout(() => {
        this.handleQuerySearch(value, type);
      }, 500);
    },
    handleQuerySearch(value, type){
      let query = value.toString();
      if(query.replace(/\s/g, '').length > 0 || query.replace(/\s/g, '').length === 0){
        this.filterParams.search_query = '';
        if(type && type === 'column'){
          this.columnSearchKeys.globalQuery = "";
          for (const key in this.columnSearchKeys) {
            if (Object.hasOwnProperty.call(this.columnSearchKeys, key)) {
              let columnData = this.columnSearchKeys[key];
              if(columnData.value){
                columnData.column.forEach(col => {
                  this.filterParams.search_query = this.filterParams.search_query + `${col}:"${columnData.value}", `;
                });
              }
            }
          }
          this.filterParams.search_query = this.filterParams.search_query.slice(0, -2);
        }else{
          this.resetSearchQuery();
          this.columnSearchKeys.globalQuery = query;
          this.filterParams.search_query = query ?  '"' + query + '"' : query;
        }
        this.requestPassHistory();
      }
    },
    sortByColumn(column){
      let columnName = this.columnSearchKeys[column.column] ? this.columnSearchKeys[column.column].sortBy : column.column;
      this.filterParams.sort_query = `${columnName}:${column.asc ? 'asc' : 'desc'}`;
      this.requestPassHistory();
    },
    advancedFilter(isTabular){
      this.isPassView = true;
      this.resetSearchQuery();
      this.requestPassHistory();
      this.isTabular=isTabular;
    },
    resetSearchQuery(){
      this.filterParams.search_query = '';
      this.columnSearchKeys = {
        globalQuery: '',
        created_date: {value:'', column: ['created_date'], sortBy: 'created_date'},
        user: {value:'', column: ['user.name'], sortBy: 'user.last_name'},
        first_name: {value:'', column: ['user.first_name'], sortBy: 'user.first_name'},
        last_name: {value:'', column: ['user.last_name'], sortBy: 'user.last_name'},
        email: {value:'', column: ['user.email'], sortBy: 'user.email'},

        out_location: {value:'', column: ['from.name'], sortBy: 'from.name'},
        out_teacher: {value:'', column: ['approved_by_user.first_name'], sortBy: 'approved_by_user.first_name'},
        out_time: {value:'', column: ['tabular_view.approve_time'], sortBy: 'elastic_advanced_fields.approve_time_only'},
        in_location: {value:'', column: ['to.name'], sortBy: 'to.name'},
        in_teacher: {value:'', column: ['completed_by_user.first_name'], sortBy: 'completed_by_user.first_name'},
        in_time: {value:'', column: ['tabular_view.completed_time'], sortBy: 'elastic_advanced_fields.completed_time_only'},

        child_out_location: {value:'', column: ['child.from.name'], sortBy: 'child.from.name'},
        child_out_teacher: {value:'', column: ['child.approved_by_user.first_name'], sortBy: 'child.approved_by_user.first_name'},
        child_out_time: {value:'', column: ['tabular_view.approve_child_time'], sortBy: 'elastic_advanced_fields.approve_child_time_only'},
        child_in_location: {value:'', column: ['child.to.name'], sortBy: 'child.to.name'},
        child_in_teacher: {value:'', column: ['child.completed_by_user.first_name'], sortBy: 'child.completed_by_user.first_name'},
        child_in_time: {value:'', column: ['tabular_view.completed_child_time'], sortBy: 'elastic_advanced_fields.completed_child_time_only'},

        approved_at: {value:'', column: ['from.name'], sortBy: 'elastic_advanced_fields.approve_time_only'},
        completed_at: {value:'', column: ['to.name'], sortBy: 'elastic_advanced_fields.completed_time_only'},
        child_approved_at: {value:'', column: ['child.from.name'], sortBy: 'elastic_advanced_fields.approve_child_time_only'},
        child_completed_at: {value:'', column: ['child.to.name'], sortBy: 'elastic_advanced_fields.completed_child_time_only'},
        total_time: {value:'', column: ['total_time'], sortBy: 'total_time'},
        type: {value:'', column: ['type'], sortBy: 'type'},
        comments: {value:'', column: ['comments.comment'], sortBy: 'created_date'},
        expired_at: {value:'', column: ['expired_at'], sortBy: 'expired_at'},
      };
    },
    setCalendarRange(range, togglePopover ){
      let isCustomRange = (range && range.label == 'Custom range');

      this.calendar.isCalendarVisible = isCustomRange;
      this.calendar.isRangesVisible = false; // !isCustomRange

      this.calendar.activeRange = range;
      this.filterParams.dates = range.range ? range.range : this.filterParams.dates;

      if(this.calendar.isCalendarVisible){
        togglePopover();
      }
    },
    showCalendarRanges(hidePopover, togglePopover){
      if(this.calendar.isCalendarVisible){
        hidePopover();
      }
      let isCurrentRange = (this.filterParams.grade_years && this.filterParams.grade_years.value[1] === new Date().getFullYear());
      this.calendar.isRangesVisible = isCurrentRange;
      this.calendar.isCalendarVisible = !isCurrentRange;
      if(this.calendar.isCalendarVisible){
        togglePopover();
      }
    },
    setCalendarDates(){
      this.filterParams.dates = {
        start: this.minDate,
        end: this.maxDate
      }
      this.calendar.activeRange = this.optionalDateRanges[6];
    },
    onContainerClick(e){
      let target = e.target;
      let classList = target.classList.contains('date-calendar-option') || target.classList.contains('flaticon-calendar') || target.classList.contains('field-icon');
      if(target && !classList){
        this.calendar.isRangesVisible = false;
      }
    },
    getPassStatus(pass){
        if(pass.badge_flags){
          if(pass.badge_flags.ended || pass.badge_flags.system_completed || pass.badge_flags.min_time){
            return {label: 'Ended', class: 'ended'};
          }
          // if(pass.badge_flags.min_time){
          //   return {label: this.passesTimeSettings ? this.passesTimeSettings.min_time : 'Min time', class: 'min-time'};
          // }
          if(pass.badge_flags.missed){
            return {label: 'Missed Apt', class: 'missed-apt'};
          }
          if(pass.badge_flags.canceled){
            return {label: 'Canceled', class: 'canceled'};
          }
          if(pass.badge_flags.missed_request){
            return {label: 'Missed Request', class: 'missed'};
          }
        }
        return '';
    },
    onPassTimeChange(pass){
      this.modal.isVisible.passTimeChange = false;
      this.$store.commit('passes/UPDATE_PASS_HISTORY', pass);
    },
    initLazyLoading(){
      let body = document.getElementsByClassName('main-scroll-container')[0];
      if(body){
        body.onscroll = () => {
          if(this.isLazyLoadingMode && this.passHistories && this.passHistories.length && this.pagination.total > this.passHistories.length){
            if(body.offsetHeight + body.scrollTop >= body.scrollHeight) {
              this.pagination.activePage = this.pagination.activePage + 1;
              this.requestPassHistory(this.pagination.activePage, false, true);
            }
          }
        }
      }
    },
    initDataSet(){
      if(!this.passesTimeSettings){
        this.$store.dispatch('passes/getPassesTimeSetting');
      }
      this.filterParams.grade_years = this.gradeYears ? this.gradeYears[this.gradeYears.length-1] : this.filterParams.grade_years;
      this.activeTableTab = this.tableTabs[0];
    },
  }
}
</script>
