<template>
  <CContainer class="datatable-container">
    <Loader :isProcessing="isLoading" />
    <CRow class="justify-content-center mt-2">
      <CAlert
        v-if="reqResponse.message"
        class="mt-1 w-100 mx-3"
        :color="reqResponse.type"
        :show="!!reqResponse.message"
      >
        {{ reqResponse.message }}
      </CAlert>
      <CCol
        md="12"
        class="d-flex justify-content-center align-items-center mb-5"
      >
        <h1 class="text-center">Pass Transparency</h1>
        <div class="d-flex align-items-center ml-4">
          <span class="font-weight-bold mr-2">On</span>
          <CSwitch
            class="transparency-switch mx-1"
            shape="pill"
            :checked="transparencyStatus"
            v-on:update:checked="toggleStatus()"
          />
          <span class="font-weight-bold ml-2">Off</span>
        </div>
        <HelpCenterButton
          _class="ml-4"
          contentKey="pass_transparency"
        />
      </CCol>
      <CCol
        md="8"
        class="d-flex align-items-center justify-content-center"
        v-if="transparencyStatus"
      >
        <LazyLoadSelect
          class="pass-transparency-selector"
          :classes="[{'is-invalid' : !isValidated}, 'pt-selector']"
          :isMultiple="true"
          @change="handleChangeTransparency"
          :selected="selectedTransparency"
          type="adults"
          placeholder="Allow these users to keep Pass Transparency"
        >
          <template #footer>
            <div v-if="!isValidated" class="invalid-feedback">This field is required</div>
          </template>
        </LazyLoadSelect>
        <button
          class="ml-4 btn bg-gradient-blue text-white py-2 px-4 font-weight-bold"
          @click="create"
        >
          Allow
        </button>
      </CCol>
    </CRow>

    <CRow class="my-5 justify-content-center" v-show="transparencyStatus">
      <CCol md="8">
        <div
          class="table-tabs-header mb-2 bg-white d-flex align-items-center justify-content-between"
        >
          <div
            v-for="(tab, index) in tableTabs"
            :key="index"
            class="table-tab"
            :class="{ active: tab.value === activeTableTab.value }"
          >
            {{ tab.label }}
          </div>
          <div class="actions d-flex align-items-center">
            <CLink
              class="lh-normal text-accent-blue-light"
              @click="generateExport()"
              download="pass-transparencies.csv"
              target="_blank"
            >
              <i class="fi flaticon-download mr-1"></i>
              <span class="d-none d-md-inline-block">Download CSV</span>
            </CLink>
            <CInput
              class="search-field mb-0 ml-2 ml-md-4"
              placeholder="Search"
              @input="searchByQuery"
              :value.sync="globalQuery"
            >
              <template #prepend-content>
                <div @click="getTableData()">
                  <CIcon name="cil-magnifying-glass" />
                </div>
              </template>
            </CInput>
          </div>
        </div>
        <div class="status-guides-container d-block">
          <per-page-selector :pagination="pagination" :action="setPerPage"/>
        </div>

        <!-- End of modals -->
        <DataTable
          v-if="users"
          class="datatable bg-white"
          :items="transparencies"
          :fields="dataTableFields"
          :sorter="{ external: true }"
          column-filter
          @update:sorter-value="sortByColumn"
          :noItemsView="{
            noResults: 'No items available',
            noItems: 'No items available'
          }"
        >
          <template #sorting-icon="{state}">
            <div class="table-order-icons">
              <font-awesome-icon
                icon="caret-up"
                :class="[state == 'desc' ? 'text-black' : 'text-black-50']"
              />
              <font-awesome-icon
                icon="caret-down"
                :class="[state == 'asc' ? 'text-black' : 'text-black-50']"
              />
            </div>
          </template>
          <template #last_name-filter>
            <input
              v-model="columnSearchKeys.last_name.value"
              placeholder="Search by last name"
              @input="searchByQuery($event.target.value, 'column')"
              class="form-control form-control-sm"
            />
          </template>
          <template #first_name-filter>
            <input
              v-model="columnSearchKeys.first_name.value"
              placeholder="Search by last name"
              @input="searchByQuery($event.target.value, 'column')"
              class="form-control form-control-sm"
            />
          </template>
          <template #actions-filter>
            <div></div>
          </template>

          <template #last_name="{item}">
            <td>
              {{ item.last_name }}
            </td>
          </template>
          <template #first_name="{item}">
            <td>
              {{ item.first_name }}
            </td>
          </template>

          <template #actions="{item}">
            <td>
              <button
                class="px-2 py-1 rounded d-flex align-items-center border-0"
                style="background-color:#f7b0b1;color:#ed1c24;font-weight: bold;"
                @click="remove(item)"
              >
                <i class="flaticon-cancel"></i>
                <span class="ml-1 text-uppercase font-weight-bold">Remove</span>
              </button>
            </td>
          </template>
        </DataTable>

        <CPagination
          class="cs-pagination mt-4"
          :dots="false"
          :doubleArrows="true"
          v-if="pagination.pages && pagination.pages>1"
          :activePage.sync="pagination.activePage"
          :pages="pagination.pages"
          size="lg"
          align="center"
          @update:activePage="getTableData"
        >
          <template #last-button>
            <i class="flaticon-right-arrow-1"></i>
          </template>
          <template #first-button>
            <i class="flaticon-left-arrow-2"></i>
          </template>
          <template #previous-button>
            <i class="fi flaticon-left-arrow"></i>
          </template>
          <template #next-button>
            <i class="fi flaticon-chevron"></i>
          </template>
        </CPagination>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>
import Loader from "@/components/Loader";
import { mapGetters, mapState } from "vuex";
import HelpCenterButton from "../../components/HelpCenterButton";
import LazyLoadSelect from "../LazyLoadSelect";
import DataTableMixin from "@/mixins/DataTableMixin";
import PerPageSelector from '../PerPageSelector.vue';

export default {
  name: "PassTransparencyDataTable",
  mixins: [DataTableMixin],
  components: {
    Loader,
    HelpCenterButton,
    LazyLoadSelect,
    PerPageSelector
  },
  data() {
    return {
      isLoading: false,
      selectedTransparency: [],
      tableTabs: [
        {
          label: "Allowed",
          value: "allowed"
        }
      ],
      activeTableTab: {
        value: "allowed"
      },
      dataTableFields: [
        { key: "last_name", label: "Last Name", type: "tabular" },
        { key: "first_name", label: "First Name", type: "tabular" },
        { key: "actions", label: "Actions", type: "tabular" }
      ],
      columnSearchKeys: {
        last_name: {
          value: "",
          column: ["user.last_name"],
          sortBy: "user.last_name"
        },
        first_name: {
          value: "",
          column: ["user.first_name"],
          sortBy: "user.first_name"
        }
      },
      reqResponse: {
        type: "",
        message: "",
        errors: {}
      },
      isValidated: true,
    };
  },
  computed: {
    ...mapGetters({
      users: "passes/transparencies",
      formSelectTransparencyUsers: "passes/formSelectTransparencyUsers"
    }),
    ...mapState({
      transparencyStatus: state => state.passes.transparencyStatus
    }),
    transparencies() {
      return this.users.map(e => ({
        ...e,
        first_name: e.user.first_name,
        last_name: e.user.last_name
      }));
    }
  },
  methods: {
    handleChangeTransparency(value) {
      this.selectedTransparency = value;
      this.isValidated = this.selectedTransparency.length;
    },
    toggleTab(tab) {
      this.tabs[tab] = !this.tabs[tab];
    },
    toggleStatus() {
      this.$store.dispatch("passes/toggleTransparency", {
        status: !this.transparencyStatus
      });
    },
    getTableData(noSort = false) {
      this.isLoading = true;
      this.filterParams.sort_query = noSort ? "" : this.filterParams.sort_query;

      this.$store
        .dispatch("passes/getTransparencies", this.requestParams)
        .then(response => {
          let meta = response.data.data.transparency_users;
          if (meta) {
            this.pagination.total = meta.total;
            this.pagination.from = meta.from
            this.pagination.to = meta.to
            this.pagination.pages = Math.ceil(meta.total / meta.per_page);
            this.pagination.activePage = Number(this.pagination.activePage);
            this.pagination = JSON.parse(JSON.stringify(this.pagination))
          }
          this.isLoading = false;
        })
        .catch(err => {
          this.isLoading = false;
        });
    },
    remove(transparency) {
      if (confirm("Are you sure you want to delete this item?")) {
        this.$store.dispatch("passes/deleteTransparency", {
          transparency_id: transparency.id
        });
      }
    },
    create() {
      this.isValidated = true;
      if (!this.selectedTransparency.length) {
        this.isValidated = false;
        return;
      }
      const userIds = this.selectedTransparency.map(st => st.value.id);
      this.isLoading = true;
      this.$store
        .dispatch("passes/createTransparency", {
          user_ids: userIds
        })
        .then(() => {
          this.setSuccessResponse();
          this.getTableData();
          setTimeout(() => {
            this.selectedTransparency = [];
            this.resetErrors();
          }, 500);
        })
        .catch(err => {
          let response = err.response.data;
          this.setErrorResponse(response.message, response.errors);
          this.isLoading = false;
        });
    },
    generateExport() {
      this.$store.dispatch("passes/exportTransparencies").then(response => {
        if (response.data) {
          this.downloadExport(response.data);
        }
      });
    },
    downloadExport(data) {
      let csvDataForExport = "data:text/csv;charset=utf-8," + data;
      let encodedUri = encodeURI(csvDataForExport);
      let link = document.createElement("a");
      link.setAttribute("href", encodedUri);
      link.setAttribute("target", "_blank");
      link.setAttribute("download", "pass_transparency.csv");
      document.body.appendChild(link);
      link.click();
    },
    setErrorResponse(message, errors) {
      this.reqResponse = {
        type: "danger",
        message: message ? message : "Someting went wrong!",
        errors: errors ? errors : {}
      };
    },
     setPerPage(value){
      this.pagination.per_page = value;
      this.getTableData();
    },
    setSuccessResponse(message) {
      this.reqResponse = {
        type: "success",
        message: message ? message : "Success!",
        errors: {}
      };
    },
    resetErrors() {
      this.reqResponse = {
        type: "",
        message: "",
        errors: {}
      };
    },
    resetSearchQuery() {
      this.globalQuery = "";
      this.filterParams.search_query = "";
      this.columnSearchKeys = {
        last_name: {
          value: "",
          column: ["last_name"],
          sortBy: "last_name"
        },
        first_name: {
          value: "",
          column: ["first_name"],
          sortBy: "first_name"
        }
      };
    }
  }
};
</script>
<style scoped>
.pass-transparency-selector {
  width: 380px;
}
.pt-selector {
  min-width: 150px;
}
</style>
