
<template>
  <CContainer class="out-of-office-view datatable-container mb-5">
    <Loader :isProcessing="isLoading" />

    <CRow class="mt-5">
      <CCol md="12">
        <div class="table-tabs-header mb-2 bg-white d-flex align-items-center justify-content-between">
          <div class="d-flex">
            <div v-for="(tab, index) in tableTabs" :key="index">
              <div :class="{'active' : tab.value === filterParams.activeTab.value}" class="table-tab" @click="setActiveTableTab(tab)">{{tab.label}}</div>
            </div>
          </div>
          <div class="actions d-flex align-items-center">
            <div
              @click="handlePolarities(pagination.activePage, true)"
              class="lh-normal cursor-pointer text-accent-blue-light">
              <i class="fi flaticon-download mr-1"></i> <span class="d-none d-md-inline-block">Download CSV</span>
            </div>
            <CInput
              class="search-field mb-0 ml-2 ml-md-4"
              placeholder="Search..."
              :value.sync="columnSearchKeys.globalQuery"
              @input="searchByQuery">
            >
             <template #prepend-content><div @click="getPolarities()"><i class="flaticon-magnifying-glass"></i></div></template>
            </CInput>
          </div>
        </div>
        <div class="status-guides-container justify-content-end mb-2">
          <per-page-selector :action="setPerPage" :pagination="pagination"/>
        </div>
        <DataTable
          class="datatable bg-white"
          v-if="polarities"
          :items="polarities"
          :fields="activeDataTableFields"
          :sorter='{ external: true }'
          column-filter
          @update:sorter-value="sortByColumn"
          :noItemsView='{ noResults: "No items available", noItems: "No items available" }'>
            <template #sorting-icon="{state}">
              <div class="table-order-icons">
                <font-awesome-icon icon="caret-up" :class="[state=='desc'?'text-black':'text-black-50',]" />
                <font-awesome-icon icon="caret-down" :class="[state=='asc'?'text-black':'text-black-50']" />
              </div>
            </template>


          <template #first_user="{item}">
            <td>
              <p class="m-0">
                {{item.first_user ? item.first_user.first_name + ' ' + item.first_user.last_name : '-'}}
              </p>
            </td>
          </template>
          <template #first_user-filter>
            <input placeholder="Search by name" v-model="columnSearchKeys.first_user.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #second_user="{item}">
            <td>
              <p class="m-0">
                {{item.second_user ? item.second_user.first_name + ' ' + item.second_user.last_name : '-'}}
              </p>
            </td>
          </template>
          <template #second_user-filter>
            <input placeholder="Search by name" v-model="columnSearchKeys.second_user.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #times_triggered="{item}">
            <td>
              {{item.times_triggered}}
            </td>
          </template>
          <template #times_triggered-filter>
            <input placeholder="Search by times triggered" v-model="columnSearchKeys.times_triggered.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #message="{item}">
            <td class="comments-column">
              <div class="comments-list">
                <div class="comment">{{item.message ? item.message : ''}}</div>
              </div>
            </td>
          </template>
          <template #message-filter>
            <input placeholder="Search by note" v-model="columnSearchKeys.message.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #created_at="{item}">
            <td>
              {{item.created_at ? $helpers.transformDate(item.created_at, 'MM/DD/YYYY') : '-'}}
            </td>
          </template>
          <template #created_at-filter>
            <input placeholder="Search by date" v-model="columnSearchKeys.created_at.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #status="{item}">
            <td>
              <b @click="updatePolarityStatus(item.id)" class="limit-status cursor-pointer" :class="item.status ? 'active' : 'inactive'">{{item.status ? 'active' : 'inactive'}}</b>
            </td>
          </template>
          <template #status-filter>
            <input placeholder="Search by status" v-model="columnSearchKeys.status.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #actions="{item}">
            <td>
              <div class="d-flex">
                <button @click="deletePolarity(item.id)" class="btn btn-cancel">delete</button>
              </div>
            </td>
          </template>



          <template #user="{item}">
            <td>
              <p class="m-0">
                {{item.user ? item.user.first_name + ' ' + item.user.last_name : '-'}}
              </p>
            </td>
          </template>
          <template #user-filter>
            <input placeholder="Search by name" v-model="columnSearchKeys.user.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

           <template #destination="{item}">
            <td>
              <p class="m-0">
                {{item.destination ? item.destination.name : '-'}}
              </p>
            </td>
          </template>
          <template #destination-filter>
            <input placeholder="Search by name" v-model="columnSearchKeys.destination.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #out_user="{item}">
            <td>
              <p class="m-0">
                {{item.out_user ? item.out_user.first_name + ' ' + item.out_user.last_name : '-'}}
              </p>
            </td>
          </template>
          <template #out_user-filter>
            <input placeholder="Search by name" v-model="columnSearchKeys.out_user.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #prevented_from-filter>
            <input placeholder="Search by name" v-model="columnSearchKeys.prevented_from.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>


          <template #report_created_at="{item}">
            <td>
              <p class="m-0">
                {{item.prevented_at ? $helpers.transformDate(item.prevented_at, 'MM/DD/YYYY') : ''}}
              </p>
            </td>
          </template>
          <template #report_created_at-filter>
            <input placeholder="Search by name" v-model="columnSearchKeys.report_created_at.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>


          <template #prevented_at="{item}">
            <td>
              <p class="m-0">
                {{item.prevented_at ? $helpers.transformDate(item.prevented_at, 'h:mm A') : ''}}
              </p>
            </td>
          </template>
          <template #prevented_at-filter>
            <input placeholder="Search by name" v-model="columnSearchKeys.prevented_at.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>
        </DataTable>

        <CPagination
          class="cs-pagination mt-4"
          :dots="false"
          :doubleArrows="true"
          v-if="pagination.pages && pagination.pages>1 && !isLazyLoadingMode"
          :activePage.sync="pagination.activePage"
          :pages="pagination.pages"
          size="lg"
          align="center"
          @update:activePage="setActivePage">
          <template #last-button>
            <i class="flaticon-right-arrow-1"></i>
          </template>
          <template #first-button>
            <i class="flaticon-left-arrow-2"></i>
          </template>
          <template #previous-button>
            <i class="fi flaticon-left-arrow-1"></i>
          </template>
          <template #next-button>
            <i class="fi flaticon-chevron"></i>
          </template>
        </CPagination>

      </CCol>
    </CRow>
  </CContainer>
</template>
<script>
import Loader from '@/components/Loader'
import {mapGetters} from 'vuex';
import PerPageSelector from '../PerPageSelector.vue';

export default {
  name: "PolaritiesDataTable",
  components: {
    Loader,
    PerPageSelector
  },
  data() {
    return {
      isLazyLoadingMode: false,
      columnSearchKeys: {
        globalQuery: '',
        first_user: {value:'', column: ['first_user.name'], sortBy: 'first_user.name'},
        second_user: {value:'', column: ['second_user.name'], sortBy: 'second_user.name'},
        times_triggered: {value:'', column: ['times_triggered'], sortBy: 'times_triggered'},
        message: {value:'', column: ['message'], sortBy: 'message'},
        created_at: {value:'', column: ['created_at.raw'], sortBy: 'created_at'},
        status: {value:'', column: ['status_string'], sortBy: 'status'},

        user: {value:'', column: ['user.name'], sortBy: 'user.name'},
        destination: {value:'', column: ['destination.name'], sortBy: 'destination.name'},
        out_user: {value:'', column: ['out_user.name'], sortBy: 'out_user.name'},
        prevented_from: {value:'', column: ['prevented_from'], sortBy: 'prevented_from'},
        report_created_at: {value:'', column: ['prevented_at.raw'], sortBy: 'prevented_at'},
        prevented_at: {value:'', column: ['prevented_time.raw'], sortBy: 'prevented_time'},
      },
      filterParams:{
        search_query: '',
        sort_query:'',
        activeTab: '',
      },
      pagination: {
        activePage: 1,
        total: 0,
        pages: 0,
        per_page: {label:'25', value: 25}
      },
      dataTableFields: [
        {key: 'first_user', _style:'min-width:110px', label: 'Student A'},
        {key: 'second_user', _style:'min-width:110px', label: 'Student B'},
        {key:'times_triggered', _style:'min-width:150px', label:'# of times triggered'},
        {key:'message', _style:'min-width:150px', label:'Admin Only Note'},
        {key: 'created_at', _style:'min-width:150px', label: 'Date Created'},
        {key: 'status', label: 'Status'},
        {key:'actions', label: "Actions", filter:false},

        {key: 'user', label: 'Student Prevented', AdvancedReport: true},
        {key: 'destination', label: 'Destination', AdvancedReport: true},
        {key: 'out_user', label: 'Student on active Pass', AdvancedReport: true},
        {key: 'prevented_from', label: 'Attempt from', AdvancedReport: true},
        {key: 'report_created_at', label: 'Date', AdvancedReport: true},
        {key: 'prevented_at', label: 'Prevented Time', AdvancedReport: true},
      ],
      tableTabs:[
        {label: "Summary Report", value: 'summary_reports'},
        {label: "Detailed Report", value: 'detailled_report'},
      ],
      isLoading: false,
      modal: {
        isVisible: {
          edit: false
        },
        activePass: null
      },
    }
  },
  computed:{
    ...mapGetters({
      polaritiesCollection: 'polarities/polarities',
      polarityAdvancedReports: 'polarities/polarityAdvancedReports'
    }),
    polarities(){
      return this.isAdvancedReportMode ? this.polarityAdvancedReports.map((item) => {return {...item, report_created_at: item.created_at}}) : this.polaritiesCollection;
    },
    totalPolaritiesCount(){
      return this.pagination.total > this.polarities.length ? this.pagination.total : this.polarities.length;
    },
    isAdvancedReportMode(){
      return this.filterParams.activeTab.value === 'detailled_report';
    },
    activeDataTableFields(){
      return this.dataTableFields.filter(el => this.isAdvancedReportMode ? el.AdvancedReport : !el.AdvancedReport);
    }
  },
  created() {
    this.filterParams.activeTab = this.tableTabs[0];
    this.handlePolarities();
  },
  mounted() {
    this.initLazyLoading();
  },
  methods: {
    handlePolarities(page, isExport, noLoader, isLazyLoadingMode){
      this.pagination.activePage = page ? page : 1;
      let params = {
        page: this.pagination.activePage,
        per_page: this.pagination.per_page.value,
      };
      if(this.filterParams.activeTab){
        params[this.filterParams.activeTab.value] = true;
      }
      if(this.filterParams.search_query){
        params.search_query = this.filterParams.search_query;
      }
      if(this.filterParams.sort_query){
        params.sort = this.filterParams.sort_query;
      }
      if(isExport){
        this.exportCSVPolarities(params);
      }else{
        if(this.isAdvancedReportMode){
          this.getPolarityAdvancedReports(params, noLoader, isLazyLoadingMode);
        }else{
          this.getPolarities(params, noLoader, isLazyLoadingMode);
        }
      }
    },
    getPolarities(params, noLoader, isLazyLoadingMode){
      this.isLoading = !noLoader;
      this.$store.dispatch('polarities/getPolarities', params)
        .then((response) => {
          let data = response.data;
          if(data){
            if(isLazyLoadingMode){
              this.$store.commit('polarities/PUSH_POLARITIES', data.data);
            }else{
              this.$store.commit('polarities/SET_POLARITIES', data.data);
            }
            this.pagination.total = data.meta.total;
            this.pagination.from = data.meta.from;
            this.pagination.to = data.meta.to;
            this.pagination.pages = Math.ceil(data.meta.total / data.meta.per_page);
            this.pagination.activePage = Number(this.pagination.activePage);
            this.pagination = JSON.parse(JSON.stringify(this.pagination));
          }
          this.isLoading = false;
        })
        .catch((err) => { this.isLoading = false;});
    },
    getPolarityAdvancedReports(params, noLoader, isLazyLoadingMode){
      this.isLoading = !noLoader;
      this.$store.dispatch('polarities/getPolarityAdvancedReports', params)
        .then((response) => {
          let data = response.data;
          if(data){
            if(!isLazyLoadingMode){
              this.$store.commit('polarities/SET_POLARITY_ADVANCED_REPORTS', data.data);
            }else{
              this.$store.commit('polarities/PUSH_POLARITY_ADVANCED_REPORTS', data.data);
            }
            this.pagination.total = data.meta.total;
            this.pagination.from = data.meta.from;
            this.pagination.to = data.meta.to;
            this.pagination.pages = Math.ceil(data.meta.total / data.meta.per_page);
            this.pagination.activePage = Number(this.pagination.activePage);
            this.pagination = JSON.parse(JSON.stringify(this.pagination));
          }
          this.isLoading = false;
        })
        .catch((err) => { this.isLoading = false;});
    },
    exportCSVPolarities(params){
      this.isLoading = true;
      this.$store.dispatch('polarities/getCSVpolaritiesExport', params)
        .then((response) => {
          if(response.data){
            this.downloadCSVExport(response.data);
          }
          this.isLoading = false;
        })
        .catch((err) => { this.isLoading = false;});
    },
    downloadCSVExport(data){
      let csvDataForExport = 'data:text/csv;charset=utf-8,' + data;
      var encodedUri = encodeURI(csvDataForExport);
      var link = document.createElement("a");
      link.setAttribute("href", encodedUri);
      link.setAttribute("target", "_blank");
      link.setAttribute("download", "polarities.csv");
      document.body.appendChild(link);
      link.click();
    },
    searchByQuery(value, type){
      clearInterval(this.searchTimeOut);
      this.searchTimeOut = setTimeout(() => {
        this.handleQuerySearch(value, type);
      }, 500);
    },
    handleQuerySearch(value, type){
      let query = value.toString();
      if(query.replace(/\s/g, '').length > 0 || query.replace(/\s/g, '').length === 0){
        this.filterParams.search_query = '';
        if(type && type === 'column'){
          this.columnSearchKeys.globalQuery = "";
          for (const key in this.columnSearchKeys) {
            if (Object.hasOwnProperty.call(this.columnSearchKeys, key)) {
              let columnData = this.columnSearchKeys[key];
              if(columnData.value){
                columnData.column.forEach(col => {
                  this.filterParams.search_query = this.filterParams.search_query + `${col}:${col === 'times_triggered' ? columnData.value : '"' + columnData.value + '"'}, `;
                });
              }
            }
          }
          this.filterParams.search_query = this.filterParams.search_query.slice(0, -2);
        }else{
          this.resetSearchQuery();
          this.columnSearchKeys.globalQuery = query;
          this.filterParams.search_query = query ?  '"' + query + '"' : query;
        }
        // this.clearFilterParams();
        this.handlePolarities();
      }
    },
    sortByColumn(column){
      let columnName = this.columnSearchKeys[column.column] ? this.columnSearchKeys[column.column].sortBy : column.column;
      this.filterParams.sort_query = `${columnName}:${column.asc ? 'asc' : 'desc'}`;
      this.handlePolarities();
    },
    deletePolarity(polarityID){
      if(polarityID){
        this.isLoading = true;
        this.$store.dispatch('polarities/deletePolarity', polarityID)
        .then(() => {
          this.$store.commit('polarities/DELETE_POLARITY', polarityID)
          this.isLoading = false;
          this.pagination.total = this.pagination.total - 1;
        })
        .catch(() => this.isLoading = false);
      }
    },
    updatePolarityStatus(polarityID){
      if(polarityID){
        this.isLoading = true;
        this.$store.dispatch('polarities/updatePolarityStatus', polarityID)
        .then((response) => {
          let data = response.data.data;
          if(data){
            this.$store.commit('polarities/UPDATE_POLARITY_STATUS', data);
          }
          this.isLoading = false;
        })
        .catch(() => this.isLoading = false);
      }
    },
    setPerPage(option){
      if(option){
        this.isLazyLoadingMode = option.label === 'All entries';
        this.pagination.per_page = option;
        this.handlePolarities();
      }
    },
    setActivePage(){
      this.handlePolarities(this.pagination.activePage);
      this.$helpers.scrollToTop();
    },
    setActiveTableTab(tab){
        this.filterParams.sort_query = '';
        this.resetSearchQuery();
        this.filterParams.activeTab = tab;
        this.handlePolarities();
    },
    resetSearchQuery(){
      this.filterParams.search_query = '';
      this.columnSearchKeys = {
        globalQuery: '',
        first_user: {value:'', column: ['first_user.name'], sortBy: 'first_user.name'},
        second_user: {value:'', column: ['second_user.name'], sortBy: 'second_user.name'},
        times_triggered: {value:'', column: ['times_triggered'], sortBy: 'times_triggered'},
        message: {value:'', column: ['message'], sortBy: 'message'},
        created_at: {value:'', column: ['created_at.raw'], sortBy: 'created_at'},
        status: {value:'', column: ['status_string'], sortBy: 'status'},

        user: {value:'', column: ['user.name'], sortBy: 'user.name'},
        destination: {value:'', column: ['destination.name'], sortBy: 'destination.name'},
        out_user: {value:'', column: ['out_user.name'], sortBy: 'out_user.name'},
        prevented_from: {value:'', column: ['prevented_from'], sortBy: 'prevented_from'},
        report_created_at: {value:'', column: ['prevented_at.raw'], sortBy: 'prevented_at'},
        prevented_at: {value:'', column: ['prevented_time.raw'], sortBy: 'prevented_time'},
      };
    },
    resetParams(){
      this.filterParams = {
        search_query: '',
        sort_query:'',
        activeTab: this.tableTabs[0]
      };
    },
    refreshDataTable(){
      this.resetParams();
      this.resetSearchQuery();
      this.handlePolarities(1, false, true);
    },
    initLazyLoading(){
      let body = document.getElementsByClassName('main-scroll-container')[0];
      if(body){
        body.onscroll = () => {
          if(this.isLazyLoadingMode && this.polarities && this.polarities.length && this.pagination.total > this.polarities.length){
            if(body.offsetHeight + body.scrollTop >= body.scrollHeight) {
              this.pagination.activePage = this.pagination.activePage + 1;
              this.handlePolarities(this.pagination.activePage, false, false, true);
            }
          }
        }
      }
    },
  }
}
</script>
