<template>
  <CContainer>
    <Loader :isProcessing="isLoading" />
    <CRow>
      <CCol md="12" class="text-center">
        <h1 class="mb-4">Rooms</h1>
      </CCol>
      <CCol md="5">
        <div class="rounded-panel px-4 py-2" id="room-form">
          <div class="d-flex justify-content-between align-items-center py-2">
            <span class="text-value-lg font-weight-light d-block rounded-panel-title"
              v-if="editableRoom && editableRoom.id">Edit Room</span>
            <span class="text-value-lg font-weight-light d-block rounded-panel-title" v-else>
              Add Room
              <HelpCenterButton _class="ml-2" contentKey="rooms_title" />
            </span>
            <span @click="toggleTab('addRooms')"
              class="d-flex align-items-center justify-content-center text-white rounded-circle bg-gradient-blue p-2">
              <i class="flaticon-double-chevron down" v-if="!tabs.addRooms"></i>
              <i class="flaticon-double-chevron up" v-else></i>
            </span>
          </div>

          <div v-show="tabs.addRooms">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <CInput class="mb-1" placeholder="Room name" type="text"
                    :class="{ 'is-invalid': $v.form.name.$error || formReqResponse.errors['name']}"
                    :value.sync="form.name" />
                  <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.name.required">Room name is required</div>
                  <div class="invalid-feedback" v-if="formReqResponse.errors['name']">{{ formReqResponse.errors['name'][0] }}
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <CSelect class="mb-1" :class="{ 'is-invalid': $v.form.trip_type.$error || formReqResponse.errors['trip_type']}" :options="[
                    {
                      value: 'Layover',
                      label: 'Layover'
                    },
                    {
                      value:'One Way',
                      label: 'One Way'
                    },
                    {
                      value:'Roundtrip',
                      label: 'Roundtrip'
                    }
                    ]" placeholder="Trip type" :value.sync="form.trip_type" />
                  <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.trip_type.required">Trip type is required
                  </div>
                  <div class="invalid-feedback" v-if="formReqResponse.errors['trip_type']">
                    {{ formReqResponse.errors['trip_type'][0] }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <CSelect class="mb-1" :class="{ 'is-invalid': $v.form.comment_type.$error || formReqResponse.errors['comment_type']}" :options="[
                    {
                      value: 'Mandatory',
                      label: 'Mandatory'
                    },
                    {
                      value: 'Optional',
                      label: 'Optional'
                    },
                    {
                      value: 'Hidden',
                      label: 'Hidden'
                    }
                    ]" placeholder="Comment Type" :value.sync="form.comment_type" />
                  <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.comment_type.required">Comment type is required
                  </div>
                  <div class="invalid-feedback" v-if="formReqResponse.errors['comment_type']">
                    {{ formReqResponse.errors['comment_type'][0] }}
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <CSelect :options="[
                    {
                      value: 1,
                      label: 'Active'
                    },
                    {
                      value:0,
                      label: 'Inactive'
                    }
                    ]" placeholder="Status" :value.sync="form.status" />
                  <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.status.required">This field is required</div>
                  <div class="invalid-feedback" v-if="formReqResponse.errors['status']">
                    {{ formReqResponse.errors['status'][0] }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <CInputCheckbox :checked.sync="form.is_extended" @update:checked="clearExtendedPass()">
                    <template #label>
                      Extended pass
                    </template>
                  </CInputCheckbox>
                </div>
                <div class="form-group" v-show="form.is_extended">
                  <cs-time-picker format="HH:mm:ss" v-model="form.extended_pass_time" placeholder="End Time" :classes="[{ 'is-invalid': $v.form.extended_pass_time.$error || formReqResponse.errors['extended_pass_time']}, 'wider']">
                    <template #footer>
                      <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.extended_pass_time.required">This field is required</div>
                      <div class="invalid-feedback" v-if="formReqResponse.errors['extended_pass_time']">{{formReqResponse.errors['extended_pass_time'][0]}}</div>
                    </template>
                  </cs-time-picker>
                </div>
              </div>
            </div>

            <CAlert v-if="formReqResponse.message" class="mt-1" :color="formReqResponse.type"
              :show="!!formReqResponse.message">
              {{ formReqResponse.message }}
            </CAlert>

            <div v-if="editableRoom && editableRoom.id" class="d-flex">
              <div @click="submit(false)">
                <CLoadingButton :spinner="isFormLoading" :loading="isFormLoading"
                  class="btn bg-gradient-blue text-white">
                  Update
                </CLoadingButton>
              </div>
              <div class="ml-3" @click="cancelEdit()">
                <CButton class="btn-gradient-border">
                  <span class="btn px-4"><b class="text-graident-blue">Cancel</b></span>
                </CButton>
              </div>
            </div>
            <div v-else class="d-flex justify-content-center align-items-center">
              <div @click="submit(true)">
                <CLoadingButton :spinner="isFormLoading" :loading="isFormLoading"
                  class="btn bg-gradient-blue text-white">
                  Add room
                </CLoadingButton>
              </div>
            </div>
          </div>
        </div>
      </CCol>
      <CCol md="7">
        <div class="rounded-panel px-4 py-2 mt-4 mt-md-0">
          <div class="d-flex justify-content-between align-items-center py-2">
            <span class="text-value-lg font-weight-light d-block rounded-panel-title">Manage Admin favorite rooms and
              people</span>
            <span @click="toggleTab('favoriteRooms')"
              class="d-flex align-items-center justify-content-center text-white rounded-circle bg-gradient-blue p-2">
              <i class="flaticon-double-chevron down" v-if="!tabs.favoriteRooms"></i>
              <i class="flaticon-double-chevron up" v-else></i>
            </span>
          </div>
          <div v-show="tabs.favoriteRooms">
            <p class="text-value-xs font-weight-light">
              Use the “Edit” below to add icons to your rooms and drag and drop rooms into the order you like. Teachers will see these rooms and icons in the same order whenever they create a Teacher Pass.
            </p>

            <RoomsCarousel @favorites-updated="getRooms" />

          </div>
        </div>
      </CCol>
    </CRow>

    <CRow class="mt-4">
      <CCol md="5">
        <div class="rounded-panel px-4 py-2">
          <div class="d-flex justify-content-between align-items-center py-2">
            <span class="text-value-lg font-weight-light d-block rounded-panel-title">
              Import Rooms
              <HelpCenterButton _class="ml-2" contentKey="rooms_import" />
            </span>
            <span @click="toggleTab('importRooms')"
              class="d-flex align-items-center justify-content-center text-white rounded-circle bg-gradient-blue p-2">
              <i class="flaticon-double-chevron down" v-if="!tabs.importRooms"></i>
              <i class="flaticon-double-chevron up" v-else></i>
            </span>
          </div>
          <div v-show="tabs.importRooms">
            <p class="text-value-xs font-weight-light">
              Each room you import will need 2 pieces of required information. The third column is optional.
              <br />
              A room name (eg. Room 101). The "Trip Type" you want to use for passes to that location. "Trip Type"
              refers to how many adults are expected to interact on that pass. Its only function is to provide the
              pass
              (and teacher's dashboard) with the logically correct button options and to correctly color code an
              unexpected adult interaction on that pass.
              <br />

              <help-center-button contentKey="rooms_import" custom='<a href="#" >Read more...</a>' />

            </p>
            <div class="form-group">
              <input type="file" id="rooms-import-input" ref="file" class="form-control">
            </div>
            <div class="d-flex justify-content-center" @click="importRooms">
              <CLoadingButton :spinner="isImportLoading" :loading="isImportLoading"
                class="mr-2 btn bg-gradient-blue text-white">
                Import
              </CLoadingButton>
            </div>
            <CAlert v-if="importReqResponse.message" class="mt-4" :color="importReqResponse.type"
              :show="!!importReqResponse.message">
              <div>
              <ul class="my-1 pl-0 text-left" v-if="importReqResponse.errors && importReqResponse.errors.length">
                <li v-for="(error, key) in importReqResponse.errors" :key="key">
                  {{ error[0] ? error[0] : '' }}
                </li>
              </ul>
              <div v-else>
                {{ importReqResponse.message }}
              </div>
              </div>
            </CAlert>
          </div>
        </div>
      </CCol>
    </CRow>

    <CCol md="12" class="bg-white mt-4">
      <div class="bg-white d-flex align-items-center justify-content-between">
        <div v-for="(tab, index) in tableTabs" :key="index" class="py-4 px-3 font-weight-bold"
          style="background-color: rgb(205, 239, 241); color: rgb(61, 98, 106); border-bottom: 4px solid rgb(29, 184, 189);"
          :class="{'active' : tab.value === activeTableTab.value}">{{ tab.label }}
        </div>
        <div class="d-flex align-items-center">
          <CLink @click="exportRooms" class="lh-normal text-accent-blue-light ml-2 ml-sm-0" download="rooms.csv" target="_blank">
            <i class="fi flaticon-download mr-1"></i> <span class="d-none d-md-inline-block">Download CSV</span>
          </CLink>
          <CInput class="search-field mb-0 ml-2 ml-md-4" placeholder="Search" @input="searchByQuery"
            :value.sync="columnSearchKeys.globalQuery">
            <template #prepend-content>
              <div @click="getRooms()">
                <i class="flaticon-magnifying-glass"></i>
              </div>
            </template>
          </CInput>
        </div>
      </div>
    </CCol>

    <CCol md="12" class="text-value-sm mt-2">
      <ParPageSelector :pagination="pagination" :action="setPerPage" />
    </CCol>

    <CCol md="12" class="mt-2 bg-white px-0">

      <DataTable :items="rooms" :fields="activeTableFields" :column-filter="true" :sorter='{ external: true }'
        @update:sorter-value="sortByColumn"
        :noItemsView='{ noResults: "No items available", noItems: "No items available" }'>
        <template #admin_favorite="{item}">
          <td v-if="user.role.name =='admin'" class="text-center" :class="{ 'is-favorite': item.admin_favorite }">
            <div v-if="item.status">
              <div v-if="favorites.length<10" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16" @click="addAdminFav(item)"
                  :style="user.role.name =='admin'?'cursor:pointer':''">
                  <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
              </div>
              <div v-else>
                <svg v-if="item.admin_favorite" xmlns="http://www.w3.org/2000/svg" width="16"
                  height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16" @click="addAdminFav(item)"
                  :style="user.role.name =='admin'?'cursor:pointer':''">
                  <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
                <svg v-else xmlns="http://www.w3.org/2000/svg" width="16"
                  height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16" v-c-popover="{
                    header: 'Opps!',
                    content: `You are limited to a maximum of 10 favorites.`,
                    trigger: 'hover',
                    placement:'right'
                  }">
                  <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>
              </div>
            </div>
          </td>
          <td v-else>
            <svg xmlns="http://www.w3.org/2000/svg" width="16"
              height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16" v-c-popover="{
                header: 'Opps!',
                content: `Only admin can mark this as favorite.`,
                trigger: 'hover',
                placement:'right'
              }">
              <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
            </svg>
          </td>
        </template>
        <template #sorting-icon="{state}">
          <div class="d-inline-flex flex-column position-absolute right ml-2 sort-arrows">
            <font-awesome-icon icon="caret-up" :class="[state=='desc'?'text-black':'text-black-50',]" />
            <font-awesome-icon icon="caret-down" :class="[state=='asc'?'text-black':'text-black-50']" />
          </div>
        </template>
        <template #name="{item}">
          <td class="text-truncate font-weight-bold">
            {{ item.name }}
          </td>
        </template>

        <template #name-filter>
          <input v-model="columnSearchKeys.name.value" @input="searchByQuery($event.target.value, 'column')"
            class="form-control form-control-sm">
        </template>

        <template #comment_type="{item}">
          <td class="d-flex flex-column text-center justify-content-center my-auto">
            <span class="px-3 text-uppercase rounded py-1 text-white font-weight-bold"
              :class="{ 'bg-red': item.comment_type == 'Hidden', 'bg-green': item.comment_type == 'Mandatory', 'bg-blue': item.comment_type == 'Optional' }">{{
                  item.comment_type
                }}</span>
          </td>
        </template>

        <template #comment_type-filter>
          <input v-model="columnSearchKeys.comment.value" @input="searchByQuery($event.target.value, 'column')"
            class="form-control form-control-sm">
        </template>

        <template #trip_type="{item}">
          <td class="text-truncate font-weight-bold">
            {{ item.trip_type }}
          </td>
        </template>

        <template #trip_type-filter>
          <input v-model="columnSearchKeys.trip.value" @input="searchByQuery($event.target.value, 'column')"
            class="form-control form-control-sm">
        </template>

        <template #status="{item}">
          <td class="d-flex flex-column text-center justify-content-center my-auto">
            <span class="px-3 py-1 text-uppercase rounded text-white"
              :class="{ 'bg-light-green': item.status,  'bg-gray': !item.status}">{{
                  item.status ? 'Active' : 'Inactive'
                }}</span>
          </td>
        </template>

        <template #status-filter>
          <input @input="matchStatus($event.target.value)" class="form-control form-control-sm">
        </template>

        <template #extended_pass_time="{item}">
          <td>
            <div class="d-flex align-items-center">
              <span class="font-weight-bold mr-2">{{ item.extended_pass_time }}</span>
            </div>
          </td>
        </template>

        <template #extended_pass_time-filter>
          <input v-model="columnSearchKeys.extended_pass_time.value"
            @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
        </template>

        <template #enable_appointment_passes="{item}">
          <td>
            <div class="d-flex align-items-center">
              <span class="font-weight-bold mr-2">No</span>
              <CSwitch class="modules-switch mx-1" shape="pill" :checked="Boolean(item.enable_appointment_passes)"
                v-on:update:checked="allowAPTRequestToRoom(item)" />
              <span class="font-weight-bold ml-2">Yes</span>
            </div>
          </td>
        </template>

        <template #enable_appointment_passes-filter>
          <input @input="matchAPTRequests($event.target.value)" class="form-control form-control-sm">
        </template>

        <template #actions="{item}">
          <td>
            <button class="px-3 py-1 rounded bg-light-blue text-white d-flex align-items-center border-0"
              @click="editRoom(item)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                viewBox="0 0 16 16">
                <path
                  d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
              </svg>
              <span class="ml-1 text-uppercase font-weight-bold">Edit</span>
            </button>
          </td>
        </template>
      </DataTable>

      <CPagination class="cs-pagination mt-4" :dots="false" :doubleArrows="true"
        v-if="pagination && pagination.pages && pagination.pages>1 && !isLazyLoadingMode"
        :activePage.sync="pagination.activePage" :pages="pagination.pages" size="lg" align="center"
        @update:activePage="setActivePage">
        <template #last-button>
            <i class="flaticon-right-arrow-1"></i>
        </template>
        <template #first-button>
            <i class="flaticon-left-arrow-2"></i>
        </template>
        <template #previous-button>
          <i class="fi flaticon-left-arrow-1"></i>
        </template>
        <template #next-button>
          <i class="fi flaticon-chevron"></i>
        </template>
      </CPagination>

    </CCol>

    <!-- MODALS -->
  </CContainer>
</template>
<script>
  import {
    mapGetters
  } from 'vuex';
  import Loader from '@/components/Loader'
  import {
    validationMixin
  } from "vuelidate"
  import {
    required,
    requiredIf
  } from "vuelidate/lib/validators"
  import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'
  import HelpCenterButton from "../HelpCenterButton";
  import RoomsCarousel from "../Forms/RoomsCarousel";
  import ParPageSelector from "./../PerPageSelector.vue";

  export default {
    name: "RoomsDataTable",
    components: {
      RoomsCarousel,
      VueTimepicker,
      HelpCenterButton,
      Loader,
      ParPageSelector,
    },
    data() {
      return {
        isLazyLoadingMode: false,
        isLoading: false,
        isFormLoading: false,
        isImportLoading: false,
        form: {
          name: '',
          trip_type: '',
          comment_type: null,
          status: 1,
          is_extended: false,
          extended_pass_time: '01:30:00',
        },
        defaultExtendedPassTime: '01:30:00',
        showReadMore: false,
        rooms_csv_file: null,
        pagination: {
          activePage: 1,
          total: 0,
          pages: 0,
          per_page: {
            label: '25',
            value: 25
          }
        },
        tabs: {
          addRooms: false,
          importRooms: false,
          favoriteRooms: true,
        },
        importReqResponse: {
          type: "",
          message: "",
          errors: {}
        },
        formReqResponse: {
          type: "",
          message: "",
          errors: {}
        },
        tableTabs: [{
          label: "Rooms",
          value: 'rooms'
        }],
        activeTableTab: '',
        filterParams: {
          sort_query: 'asc',
          searchQuery: '',
        },
        fields: [{
            key: 'admin_favorite',
            label: 'Favorites',
            filter: false
          },
          {
            key: 'name',
            label: 'Room',
          },
          {
            key: 'comment_type',
            _style: {
              color: 'red'
            },
            label: 'Comment'
          },
          {
            key: 'trip_type',
            label: 'Trip Type'
          },
          {
            key: 'extended_pass_time',
            label: 'Extended Pass Time',
            _style:'min-width:150px'
          },
          {
            key: 'enable_appointment_passes',
            label: 'Allow students APT Requests',
            requireLocationModule: true,
            _style:'min-width:220px'
          },
          {
            key: 'status',
            label: 'Status',
          },
          {
            key: 'actions',
            label: 'Actions',
            filter: false
          }
        ],
        columnSearchKeys: {
          globalQuery: '',
          name: {
            value: '',
            column: ['name']
          },
          comment: {
            value: '',
            column: ['comment_type']
          },
          trip: {
            value: '',
            column: ['trip_type']
          },
          extended_pass_time: {
            value: '',
            column: ['extended_pass_time']
          },
          enable_appointment_passes: {
            value: '',
            column: ['enable_appointment_passes']
          },
          status: {
            value: '',
            column: ['status']
          },
        },
      }
    },
    mixins: [validationMixin],
    validations: {
      form: {
        name: {
          required
        },
        trip_type: {
          required
        },
        comment_type: {
          required
        },
        status: {
          required
        },
        extended_pass: {},
        extended_pass_time: {
          required: requiredIf((model) => model.extended_pass),
        }
      }
    },
    computed: {
      ...mapGetters({
        rooms: 'rooms/rooms',
        editableRoom: 'rooms/editableRoom',
        activeAppoinmentModuleOptions: 'schools/activeAppoinmentModuleOptions',
        passesTimeSetting: 'passes/passesTimeSettings',
        user: 'authentication/user',
        fromFavorites: 'favorites/fromFavorites',
      }),
      isActiveLocationModuleOption() {
        return this.activeAppoinmentModuleOptions && this.activeAppoinmentModuleOptions.location;
      },
      activeTableFields() {
        return !this.isActiveLocationModuleOption ? this.fields.filter(field => !field.requireLocationModule) : this
          .fields;
      },
      isValid() {
        return !this.$v.form.$invalid
      },
      favorites() {
        return this.fromFavorites.filter(e => e.section == "destination" && e.global == true);
      }
    },
    watch: {
      editableRoom: function (room) {
        this.setFormByRoomRecord(room);
      }
    },
    destroyed() {
      this.cancelEdit();
    },
    mounted() {
      this.tabs.favoriteRooms = false;
      if (!this.passesTimeSetting) {
        this.$store.dispatch('passes/getPassesTimeSetting').then(response => {
          let data = response.data.data;
          if (data) {
            this.form.extended_pass_time = data.time_settings.nurse_expire_time;
            this.defaultExtendedPassTime = data.time_settings.nurse_expire_time;
          }
        });
      } else {
        this.form.extended_pass_time = this.passesTimeSetting.nurse_expire_time;
        this.defaultExtendedPassTime = this.passesTimeSetting.nurse_expire_time;
      }
      this.getRooms();
      this.initLazyLoading();
    },
    methods: {
      getRooms(page, isLazyLoadingMode, noLoader) {
        this.isLoading = !noLoader;
        this.pagination.activePage = page ? page : 1;

        this.$store.dispatch('rooms/getRooms', {
          sort: this.filterParams.sort_query,
          search_query: this.filterParams.searchQuery,
          page: this.pagination.activePage,
          per_page: this.pagination.per_page.value,
        }).then((response) => {
          let data = response.data;
          if (isLazyLoadingMode) {
            this.$store.commit('rooms/PUSH_ROOMS', data.data);
          } else {
            this.$store.commit('rooms/SET_ROOMS', data.data);
          }
          let meta = data.meta;
          if (meta) {
            this.pagination.total = meta.total;
            this.pagination.from = meta.from
            this.pagination.to = meta.to
            this.pagination.pages = Math.ceil(meta.total / meta.per_page);
            this.pagination.activePage = Number(this.pagination.activePage);
            this.pagination = JSON.parse(JSON.stringify(this.pagination));
          }
          this.isLoading = false;
        }).catch((err) => {
          this.isLoading = false;
        });
      },
      initLazyLoading() {
        let body = document.getElementsByClassName('main-scroll-container')[0];
        if (body) {
          body.onscroll = () => {
            if (this.isLazyLoadingMode && this.rooms && this.rooms.length && this.pagination.total > this.rooms
              .length) {
              if (body.offsetHeight + body.scrollTop >= body.scrollHeight) {
                this.pagination.activePage = this.pagination.activePage + 1;
                this.getRooms(this.pagination.activePage, true);
              }
            }
          }
        }
      },
      submit(isCreate) {
        if (!isCreate) {
          this.updateRoom(this.editableRoom.id);
        } else {
          this.createRoom();
        }
      },
      updateRoom(roomId) {
        this.isFormLoading = true;
        if (this.form.extended_pass_time && this.form.extended_pass_time.HH) {
          this.form.extended_pass_time = Object.values(this.form.extended_pass_time).join(':');
        }
        let data = {
          ...this.editableRoom,
          ...this.form
        };
        this.$store.dispatch('rooms/updateRoom', {
            roomId,
            data
          })
          .then((response) => {

            this.setSuccessResponse('Successfully updated.');
            this.isFormLoading = false;
            this.getRooms();
            this.resetExtendedPass();
            this.$store.dispatch('favorites/getFavorites');
            setTimeout(() => {
              this.$store.commit('rooms/SET_EDITABLE_ROOM', null);
              this.resetForm();
              this.resetResponseMessages();
            }, 1000);
          })
          .catch((err) => {
            let response = err.response.data;
            this.isFormLoading = false;
            this.setErrorResponse(response.message, response.errors);
            if (response.errors['extended_pass_time']) {
              this.form.extended_pass_time = this.defaultExtendedPassTime;
            }
          });
      },
      resetExtendedPass() {
        if (!this.form.is_extended) {
          this.form.extended_pass_time = this.defaultExtendedPassTime;
        }
      },
      createRoom() {
        this.resetResponseMessages();
        if (this.isValid) {
          this.isFormLoading = true;
          if (this.form.extended_pass_time && this.form.extended_pass_time.HH) {
            this.form.extended_pass_time = Object.values(this.form.extended_pass_time).join(':');
          }
          if (!this.form.is_extended) {
            this.form.extended_pass_time = null;
          }
          this.$store.dispatch('rooms/createRoom', this.form).then((response) => {
              this.setSuccessResponse('Successfully created.');
              this.resetForm();
              this.getRooms();
            })
            .catch((err) => {
              let response = err.response.data;
              this.setErrorResponse(response.message, response.errors);
            });
        } else {
          this.$v.$touch();
        }
      },
      importRooms() {
        this.resetImportFormMessages();
        this.isImportLoading = true;
        let files = this.$refs.file.files;
        if (!files.length) {
          this.importReqResponse = {
            type: 'danger',
            message: 'The csv import field is required.',
            errors: []
          };
          return;
        }

        let fileName = files[0].name;
        let validExtensions = /(\.csv)$/i;
        if (!validExtensions.exec(fileName)) {
          document.getElementById('rooms-import-input').value = '';
          this.importReqResponse = {
            type: 'danger',
            message: 'Invalid extension',
            errors: []
          };
          this.isImportLoading = false;
          return;
        }
        let data = new FormData();
        data.append("csv_file", files[0]);

        this.$store.dispatch('rooms/importRooms', data).then(() => {
            this.importReqResponse = {
              type: 'success',
              message: 'Rooms imported successfully.'
            };
            this.isImportLoading = false;
            this.getRooms(1, false, true);
            setTimeout(() => {
              this.resetRooomsImport();
            }, 1500);
          })
          .catch((err) => {
            let response = err.response.data;
            this.resetRooomsImport();
            this.importReqResponse = {
              type: 'danger',
              message: response.message,
              errors: response.errors
            };
            this.isImportLoading = false;
          });
      },
      searchByQuery(value, type) {
        clearInterval(this.searchTimeOut);
        this.searchTimeOut = setTimeout(() => {
          this.handleQuerySearch(value, type);
        }, 500);
      },
      handleQuerySearch(value, type) {
        let query = value.toString();
        if (query.replace(/\s/g, '').length > 0 || query.replace(/\s/g, '').length === 0) {
          this.filterParams.searchQuery = '';
          if (type && type === 'column') {
            this.columnSearchKeys.globalQuery = "";
            for (const key in this.columnSearchKeys) {
              if (Object.hasOwnProperty.call(this.columnSearchKeys, key)) {
                let columnData = this.columnSearchKeys[key];
                if (columnData.value) {
                  columnData.column.forEach(col => {
                    this.filterParams.searchQuery = this.filterParams.searchQuery +
                      `${col}:"${columnData.value}", `;
                  });
                }
              }
            }
            this.filterParams.searchQuery = this.filterParams.searchQuery.slice(0, -2);
          } else {
            this.resetSearchQuery();
            this.columnSearchKeys.globalQuery = query;
            this.filterParams.searchQuery = query ? '"' + query + '"' : query;
          }
          this.getRooms();
        }
      },
      sortByColumn(column) {
        let columnName = this.columnSearchKeys[column.column] ? this.columnSearchKeys[column.column].column[0] : column
          .column;
        this.filterParams.sort_query = `${columnName}:${column.asc ? 'asc' : 'desc'}`;
        this.getRooms();
      },
      resetSearchQuery() {
        this.filterParams.searchQuery = '';
        this.columnSearchKeys = {
          globalQuery: '',
          admin_favorite: {
            value: '',
            column: ['admin_favorite']
          },
          name: {
            value: '',
            column: ['name']
          },
          comment: {
            value: '',
            column: ['comment_type']
          },
          trip: {
            value: '',
            column: ['trip_type']
          },
          extended_pass_time: {
            value: '',
            column: ['extended_pass_time']
          },
          status: {
            value: '',
            column: ['status']
          },
        };
      },
      exportRooms() {
        this.isLoading = true;
        this.$store.dispatch('rooms/exportRooms')
          .then((response) => {
            if (response.data) {
              this.downloadCSVExport(response.data);
            }
            this.isLoading = false;
          })
          .catch((err) => {
            this.isLoading = false;
          });
      },
      exportExampleCSV() {
        this.isLoading = true;
        this.$store.dispatch('rooms/exportExampleCSV')
          .then((response) => {
            if (response.data) {
              this.downloadCSVExport(response.data);
            }
            this.isLoading = false;
          })
          .catch((err) => {
            this.isLoading = false;
          });
      },
      downloadCSVExport(data) {
        let csvDataForExport = 'data:text/csv;charset=utf-8,' + data;
        let encodedUri = encodeURI(csvDataForExport);
        let link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("target", "_blank");
        link.setAttribute("download", "rooms.csv");
        document.body.appendChild(link);
        link.click();
      },
      setFormByRoomRecord(room) {
        if (room) {
          this.form = {
            name: room.name,
            trip_type: room.trip_type,
            comment_type: room.comment_type,
            status: room.status,
            is_extended: !!room.nurses,
            extended_pass_time: room.nurses ? room.nurses.end_time : this.defaultExtendedPassTime
          }
        }
      },
      editRoom(room) {
        this.resetResponseMessages();
        this.$store.commit('rooms/SET_EDITABLE_ROOM', room);
        this.tabs.addRooms = true;
        this.$helpers.scrollToTop();
      },
      cancelEdit() {
        this.$store.commit('rooms/SET_EDITABLE_ROOM', null);
        this.resetForm();
        this.resetResponseMessages();
      },
      setSuccessResponse(message) {
        this.formReqResponse = {
          type: 'success',
          message: message ? message : 'Success!',
          errors: {}
        };
        setTimeout(() => {
          this.resetResponseMessages();
        }, 2000);
      },
      setErrorResponse(message, errors) {
        this.formReqResponse = {
          type: 'danger',
          message: message ? message : 'Something went wrong!',
          errors: errors ? errors : {}
        };
      },
      resetResponseMessages() {
        this.formReqResponse = {
          type: "",
          message: "",
          errors: {}
        }
      },
      resetImportFormMessages() {
        this.importReqResponse = {
          type: "",
          message: "",
          errors: {}
        }
      },
      checkIfValid(fieldName) {
        const field = this.$v.form[fieldName];
        if (!field.$dirty) {
          return null;
        }
        return !(field.$invalid || field.$model === '');
      },
      allowAPTRequestToRoom(room) {
        this.$store.dispatch('rooms/toggleAPTRequest', {
            id: room.id
          })
          .then(res => {
            this.getRooms();
          });
      },
      resetForm() {
        this.form = {
          name: '',
          trip_type: '',
          comment: null,
          status: 1,
          is_extended: false,
          extended_pass_time: this.defaultExtendedPassTime,
        };
        this.$v.$reset();
      },
      setPerPage(option) {
        if (option) {
          this.isLazyLoadingMode = option.label === 'All entries';
          this.pagination.per_page = option;
          this.getRooms();
        }
      },
      setActivePage() {
        this.getRooms(this.pagination.activePage);
        this.$helpers.scrollToTop();
      },
      showImportModal() {
        this.showReadMore = true;
      },
      closeModal() {
        this.showReadMore = false;
      },
      toggleTab(tab) {
        this.tabs[tab] = !this.tabs[tab];
      },
      clearExtendedPass(e) {
        this.resetResponseMessages();
        this.form.extended_pass_time = this.defaultExtendedPassTime;
      },
      matchAPTRequests(value) {
        let options = [{
            value: false,
            label: 'No'
          },
          {
            value: true,
            label: 'Yes'
          }
        ];
        let aptRequest = options.filter(option => option.label.toLowerCase().includes(value.toLowerCase()))[0].value;
        this.columnSearchKeys.enable_appointment_passes.value = aptRequest;
        this.searchByQuery(aptRequest, 'column');
      },
      matchStatus(value) {
        let options = {
          active: 1,
          inactive: 0
        }
        if (options.hasOwnProperty(value)) {
          this.searchByQuery(options[value], 'column');
        } else {
          this.columnSearchKeys.status.value = '';
        }
      },
      addAdminFav(item) {
        if (this.user.role.name == 'admin' && !this.isLoading) {
          this.isLoading = true;
          this.$store.dispatch('favorites/toggleFavorite', item).then(() => {
            this.getRooms();
          });
        }
      },
      resetRooomsImport(){
        this.importReqResponse = {
            type: "",
            message: "",
            errors: {}
          };
        document.getElementById('rooms-import-input').value = '';
      }
    }
  }

</script>
<style lang="scss">
  .sort-arrows {
    top: calc(50% - 10px);
    right: 10px;
  }

  .flaticon-double-chevron.up {
    transform: rotate(-90deg);
  }

  .flaticon-double-chevron.down {
    transform: rotate(90deg);
  }

</style>
