<template>
  <CContainer class="user-pass-history datatable-container p-0 pt-4">
    <Loader :isProcessing="isLoading" _classes="position-absolute" />
    <CRow class="justify-content-between">
      <CCol md="12">
        <h2 class="text-center mb-3 mt-0 position-relative">
          Today's History
          <HelpCenterButton _class="mr-3 top-right" contentKey="todays_history"/>
        </h2>
        <div class="text-center mb-3">
          <div class="passes-total-time">Total time today: <b class="ml-4">{{totalPassesTime}}</b></div>
        </div>
        <div class="user-passes-history">
          <DataTable class="datatable bg-white ps__child--consume"
          v-if="tablePassCollection"
          :items="tablePassCollection"
          :fields="dataTableFields"
          addTableClasses="student-history-table"
            serverSide="true"
            :sorter="{ external: false, resetable: true }"
            :sorter-value.sync="sorterValue" :loading="isLoading"
            :noItemsView='{ noResults: "No passes for today.", noItems: "No passes for today." }'>
            <template #sorting-icon="{state}">
              <div class="table-order-icons">
                <font-awesome-icon icon="caret-up" :class="[state=='desc'?'text-black':'text-black-50',]" />
                <font-awesome-icon icon="caret-down" :class="[state=='asc'?'text-black':'text-black-50']" />
              </div>
            </template>
            <template #from="{item}">
              <td>
                {{item.from}}
              </td>
            </template>
            <template #to="{item}">
              <td>
                {{item.to}}
              </td>
            </template>

            <template #signaturesCount="{item}">
               <td :class="{'unexpected-row' : item.signatures.unexpected}">
                {{item.signatures.count}}
              </td>
            </template>

            <template #time_out="{item}">
              <td>
                {{ item.time_out ? $helpers.transformDate(item.time_out,'h:mm A') : ""}}
              </td>
            </template>
            <template #final_time_in="{item}">
              <td>
                {{ $helpers.transformDate(item.final_time_in,'h:mm A')}}
              </td>
            </template>
             <template #total_time="{item}">
              <td>
                {{ $helpers.formatDate(item.total_time,'hh:mm:ss', 'm:ss')}}
              </td>
            </template>
          </DataTable>
        </div>
      </CCol>
      <CCol md=12>
        <div class="unexpected-pin-guide">
          <span class="color-guide"></span>
          Highlighted background color indicates that there was at least one unexpected PIN on that pass.
        </div>
      </CCol>
    </CRow>
  </CContainer>
</template>
<script>
  import Loader from '@/components/Loader'
  import HelpCenterButton from "../HelpCenterButton";

  export default {
    name: "StudentPassHistory",
    props: ['userId', 'userPasses', 'options'],
    components: {
      Loader,
      HelpCenterButton
    },
    data() {
      return {
        isLoading: false,
        passCollection: [],
        sorterValue: {
          column: null,
          asc: true
        },
        dataTableFields: [{
            key: 'from',
            label: 'From',
            sorter: true
          },
          {
            key: 'to',
            label: 'To',
            sorter: true
          },
          {
            key: 'signaturesCount',
            label: '# of signitures',
            sorter: true
          },
          {
            key: 'time_out',
            label: 'Time Out',
            sorter: true
          },
          {
            key: 'final_time_in',
            label: 'Final Time In',
            sorter: true
          },
          {
            key: 'total_time',
            label: 'Total Time',
            sorter: true
          }
        ]
      }
    },
    computed: {
      totalPassesTime() {
        let total = "00:00:00";
        if (this.passCollection) {
          this.passCollection.forEach(pass => {
            total = this.$helpers.addMinutesToTime(total, pass.total_time, 'HH:mm:ss', 'HH:mm:ss');
          });
        }
        return total;
      },
      tablePassCollection(){
        return this.passCollection && this.passCollection.length ?
        this.passCollection.map((item) => {
          return {
            ...item,
            signaturesCount: item.signatures ? item.signatures.count : 0
          }
        })
        :
        this.passCollection;
      }
    },
    watch: {
      userId: function (val) {
        if(val){
          this.getUserPasses(val);
        }
      },
      options: function (val) {
        if(val){
          this.passCollection = this.options ? this.transformData(this.options) : this.passCollection;
        }
      },
    },
    mounted() {
      if(!this.options){
        this.getUserPasses(this.userId);
      }else{
        this.passCollection = this.options ? this.transformData(this.options) : [];
      }
    },
    methods: {
      getUserPasses(userId) {
        this.isLoading = true;
        this.passCollection = [];
        if (userId && typeof userId === 'number') {
          this.$store.dispatch('passes/getStudentPassHistory', userId)
            .then((response) => {
              this.isLoading = false;
              let passes = response.data.data;
              if (passes && passes.length) {
                this.passCollection = this.transformData(response.data.data);
              }
            })
            .catch((err) => {
              this.isLoading = false;
            });
        } else {
          this.$store.dispatch('passes/getStudentPassHistoryAsStudent').then((response) => {
              this.isLoading = false;
              let passes = response.data.data;
              if (passes && passes.length) {
                this.passCollection = this.transformData(passes);
              }
            })
            .catch((err) => {
              this.isLoading = false;
            });
        }
      },
      getNumberOfSignitures(item) {
        let signitures = 0;
        if (item.from && item.approved_by && item.from.id !== item.approved_by.id) {
          signitures++;
        } else if (item.from && item.completed_by && item.from.id !== item.completed_by.id) {
          signitures++;
        }
        if (item.child && item.child.from && item.child.approved_by && item.child.completed_by) {
          if (item.child.from.id !== item.child.approved_by.id) {
            signitures++;
          } else if (item.child.from.id !== item.child.completed_by.id) {
            signitures++;
          }
        }
        return signitures;
      },
      transformData(data){
        return data.map(e=>{
          let total = "00:00:00";
          return{
            from: e.from.name?e.from.name:e.from.last_name+', '+e.from.first_name,
            to: e.to.name?e.to.name:e.from.last_name+', '+e.to.first_name,
            signatures: e.signatures,
            time_out: e.approved_at,
            final_time_in: e.ended_at,
            total_time: this.$helpers.addMinutesToTime(total, e.parent? e.parent.total_time:e.total_time, 'HH:mm:ss', 'HH:mm:ss')
          }
        })
      }
    }
  }

</script>

<style lang="scss">
.student-history-table, .unexpected-pin-guide {
  color: #000000 !important;
}
</style>
