
<template>
  <CContainer class="out-of-office-view datatable-container mb-5 px-0 px-md-3">
    <Loader :isProcessing="isLoading" />

    <CRow class="mt-5">
      <CCol md="12">
        <div class="table-tabs-header mb-2 bg-white d-flex align-items-center justify-content-between">
          <div class="d-flex">
            <div v-for="(tab, index) in tableTabs" :key="index">
              <div :class="{'active' : tab.value === filterParams.activeTab.value}" class="table-tab" @click="setActiveTableTab(tab)">{{tab.label}}</div>
            </div>
          </div>
          <div class="actions d-flex align-items-center">
            <div
              @click="handlePassLimits(pagination.activePage, true)"
              class="lh-normal cursor-pointer text-accent-blue-light">
              <i class="fi flaticon-download mr-1"></i> <span class="d-none d-md-inline-block">Download CSV</span>
            </div>
            <CInput
              class="search-field mb-0 ml-2 ml-md-4"
              placeholder="Search..."
              :value.sync="columnSearchKeys.globalQuery"
              @input="searchByQuery">
            >
             <template #prepend-content><div @click="getPassLimits()"><i class="flaticon-magnifying-glass"></i></div></template>
            </CInput>
          </div>
        </div>
        <div class="status-guides-container justify-content-between mb-0 mb-sm-2 flex-wrap">

          <div class="d-flex align-items-center order-2 order-sm-1">
            <div v-if="filterParams.activeTab.value === 'active'" class="status-list">
                <CInputCheckbox
                  label=""
                  :checked.sync="deleteCheckbox"
                  name=""
                  :inline="true"
                  :custom="true"
                  @update:checked="toggleAllForDelete"
                  :disabled="!passLimits || !passLimits.length"
                />
                 <CButton :disabled="!passLimits || !passLimits.length" @click="deletePassLimit(null, deleteCollection)" class="mr-2 p-small bg-gradient-blue reverse">
                  <span class="btn bg-white px-2 py-1 px-sm-3 py-sm-2"><b class="text-graident-blue reverse">DELETE</b></span>
                </CButton>
            </div>
          </div>
          <div class="d-flex align-items-center order-1 order-sm-2 mb-3 mb-sm-0 w-100 w-sm-auto">
            <div class="mr-2">Filters:</div>
            <div class="status-list">
                <CInputCheckbox
                  label="Group Limits"
                  :checked.sync="filterParams.checkBoxes.group_limits"
                  name="Group Limits"
                  :inline="true"
                  :custom="true"
                  @update:checked="handlePassLimits()"
                />
                <CInputCheckbox
                  label="Individual Students"
                  :checked.sync="filterParams.checkBoxes.individual_students"
                  name="Individual Students"
                  :inline="true"
                  :custom="true"
                  @update:checked="handlePassLimits()"
                />
            </div>
          </div>

          <div class="d-flex align-items-end order-3">
            <per-page-selector :action="setPerPage" :pagination="pagination"/>
          </div>
        </div>
        <DataTable
          class="datatable bg-white"
          v-if="passLimits"
          :items="passLimits"
          :fields="activeDataFields"
          :sorter='{ external: true }'
          column-filter
          @update:sorter-value="sortByColumn"
          :noItemsView='{ noResults: "No items available", noItems: "No items available" }'>
            <template #sorting-icon="{state}">
              <div class="table-order-icons">
                <font-awesome-icon icon="caret-up" :class="[state=='desc'?'text-black':'text-black-50',]" />
                <font-awesome-icon icon="caret-down" :class="[state=='asc'?'text-black':'text-black-50']" />
              </div>
            </template>

          <template #delete="{item}">
            <td class="mw-auto">
               <CInputCheckbox
                  label=""
                  name=""
                  :inline="true"
                  :custom="true"
                  :checked="deleteCollection.includes(item.id)"
                  @update:checked="togglePassLimitForDelete(item)"
                />
            </td>
          </template>

          <template #for="{item}">
            <td>
               <p v-if="item.for" class="m-0">
                {{ item.for }}
              </p>
            </td>
          </template>
          <template #for-filter>
            <input placeholder="Search by name" v-model="columnSearchKeys.for.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #from_date="{item}">
            <td>
              {{item.from_date ? item.from_date : ''}}
            </td>
          </template>
          <template #from_date-filter>
            <input placeholder="Search by date" v-model="columnSearchKeys.from_date.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>
          <template #to_date="{item}">
            <td>
              {{item.to_date ? item.to_date : ''}}
            </td>
          </template>
          <template #to_date-filter>
            <input placeholder="Search by date" v-model="columnSearchKeys.to_date.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #updated_at="{item}">
            <td>
              {{item.updated_at ? $helpers.transformDate(item.updated_at, 'MM/DD/YYYY') : ''}}
            </td>
          </template>
          <template #updated_at-filter>
            <input placeholder="Search by date" v-model="columnSearchKeys.updated_at.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #limit="{item}">
            <td>
              <b>{{item.limit}}</b>
            </td>
          </template>
          <template #limit-filter>
            <input placeholder="Search by limit" v-model="columnSearchKeys.limit.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #recurrence_type="{item}">
            <td>
              <div class="d-flex align-items-center justify-content-between" v-if="item.recurrence_type">
                <div class="mr-2">{{item.recurrence_type}}</div>
              </div>
              <div v-else>does not repeat</div>
            </td>
          </template>
          <template #recurrence_type-filter>
            <input placeholder="Search by date" v-model="columnSearchKeys.recurrence_type.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

           <template #reason="{item}">
            <td class="comments-column">
              <div v-if="item.reason" class="comments-list">
                <div class="comment">
                    {{item.reason}}
                </div>
              </div>
            </td>
          </template>
          <template #reason-filter>
            <input placeholder="Search by reason" v-model="columnSearchKeys.reason.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #created_at="{item}">
            <td>
              {{item.created_at ? $helpers.transformDate(item.created_at, 'MM/DD/YYYY h:mm A'):  ''}}
            </td>
          </template>
          <template #created_at-filter>
            <input placeholder="Search by date" v-model="columnSearchKeys.created_at.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #action="{item}">
            <td>
              <div class="d-flex">
                <button @click="editPassLimit(item)" class="btn btn-edit mr-2"><i class="flaticon-edit mr-1"></i> edit</button>
                <button @click="deletePassLimit(item.id)" class="btn btn-cancel">delete</button>
              </div>
            </td>
          </template>
          <template #action-filter>
            <div></div>
          </template>
        </DataTable>

        <CPagination
          class="cs-pagination mt-4"
          :dots="false"
          :doubleArrows="true"
          v-if="pagination.pages && pagination.pages>1 && !isLazyLoadingMode"
          :activePage.sync="pagination.activePage"
          :pages="pagination.pages"
          size="lg"
          align="center"
          @update:activePage="setActivePage">
          <template #last-button>
            <i class="flaticon-right-arrow-1"></i>
          </template>
          <template #first-button>
            <i class="flaticon-left-arrow-2"></i>
          </template>
          <template #previous-button>
            <i class="fi flaticon-left-arrow-1"></i>
          </template>
          <template #next-button>
            <i class="fi flaticon-chevron"></i>
          </template>
        </CPagination>

      </CCol>
    </CRow>
  </CContainer>
</template>
<script>
import Loader from '@/components/Loader'
import {mapGetters} from 'vuex';
import PerPageSelector from '../PerPageSelector.vue';

export default {
  name: "StudentPassLimitsTable",
  components: {
    Loader,
    PerPageSelector
  },
  data() {
    return {
      isLazyLoadingMode: false,
      deleteCheckbox: false,
      deleteCollection: [],
      columnSearchKeys: {
        globalQuery: '',
        for: {value:'', column: ['for'], sortBy: 'for'},
        from_date: {value:'', column: ['from_date.raw'], sortBy: 'from_date.raw'},
        to_date: {value:'', column: ['to_date.raw'], sortBy: 'to_date.raw'},
        limit: {value:'', column: ['limit'], sortBy: 'limit'},
        created_at: {value:'', column: ['created_on'], sortBy: 'created_at'},
        updated_at: {value:'', column: ['updated_at'], sortBy: 'updated_at'},
        recurrence_type: {value:'', column: ['recurrence_type'], sortBy: 'recurrence_type'},
        reason: {value:'', column: ['reason'], sortBy: 'reason'},
      },
      filterParams:{
        search_query: '',
        sort_query:'',
        activeTab: '',
        checkBoxes:{
          group_limits: false,
          individual_students: false
        }
      },
      pagination: {
        activePage: 1,
        total: 0,
        pages: 0,
        per_page: {label:'25', value: 25}
      },
      dataTableFields: [
        {key: 'delete', label: '', filter: false, _style:'width:50px', tabs:['active']},
        {key: 'for', label: 'Student', tabs:['active', 'inactive'], _style:'min-width:120px',},
        {key:'from_date', label:'Start Date', tabs:['active', 'inactive'], _style:'min-width:120px'},
        {key:'to_date', label:'End Date', tabs:['active', 'inactive'], _style:'min-width:120px'},
        {key: 'limit', label: 'Limit', _style:'width:80px', tabs:['active', 'inactive']},
        {key: 'recurrence_type', label: 'Repeat', tabs:['active', 'inactive']},
        {key:'reason', Label: "Comment", tabs:['active', 'inactive']},
        {key: 'created_at', label: 'Created on', _style:'min-width:150px', tabs:['active', 'inactive']},
        {key:'action', label: "Actions", tabs:['active']},
      ],
      tableTabs:[
        {label: "Active", value: 'active'},
        {label: "Inactive", value: 'inactive'},
      ],
      isLoading: false,
      modal: {
        isVisible: {
          edit: false
        },
        activePass: null
      },
    }
  },
  computed:{
    ...mapGetters({
      passLimits: 'passLimits/passLimits'
    }),
    totalPassesCount(){
      return this.pagination.total > this.passLimits.length ? this.pagination.total : this.passLimits.length;
    },
    passLimitIDCollection() {
      return this.passLimits.map(el => el.id);
    },
    activeDataFields(){
      return this.dataTableFields.filter(field => field.tabs.includes(this.filterParams.activeTab.value));
    }
  },
  created() {
    this.filterParams.activeTab = this.tableTabs[0];
    this.handlePassLimits();
  },
  mounted(){
    this.initLazyLoading();
  },
  methods: {
    handlePassLimits(page, isExport, noLoader, isLazyLoadingMode){
      this.pagination.activePage = page ? page : 1;
      let params = {
        page: this.pagination.activePage,
        per_page: this.pagination.per_page.value,
      };
      if(this.filterParams.activeTab){
        params[this.filterParams.activeTab.value] = true;
      }
      if(this.filterParams.search_query){
        params.search_query = this.filterParams.search_query;
      }
      if(this.filterParams.sort_query){
        params.sort = this.filterParams.sort_query;
      }
      for (const key in this.filterParams.checkBoxes) {
        if (Object.hasOwnProperty.call(this.filterParams.checkBoxes, key)) {
          const item = this.filterParams.checkBoxes[key];
          if(item){
            params[key] = true;
          }
        }
      }
      if(isExport){
        this.exportCSVPassLimits();
      }else{
        this.getPassLimits(params, noLoader, isLazyLoadingMode);
      }
    },
    getPassLimits(params, noLoader, isLazyLoadingMode){
      this.isLoading = !noLoader;
      this.$store.dispatch('passLimits/getPassLimits', params)
        .then((response) => {
          let data = response.data;
          if(data){
            if(isLazyLoadingMode){
              this.$store.commit('passLimits/PUSH_PASS_LIMITS', data.data);
            }else{
              this.$store.commit('passLimits/SET_PASS_LIMITS', data.data);
            }
            this.pagination.total = data.meta.total;
            this.pagination.from = data.meta.from
            this.pagination.to = data.meta.to
            this.pagination.pages = Math.ceil(data.meta.total / data.meta.per_page);
            this.pagination.activePage = Number(this.pagination.activePage);
            this.pagination = JSON.parse(JSON.stringify(this.pagination));
          }
          this.isLoading = false;
        })
        .catch((err) => { this.isLoading = false;});
    },
    exportCSVPassLimits(params){
      this.isLoading = true;
      this.$store.dispatch('passLimits/getCSVpassLimitsExport')
        .then((response) => {
          if(response.data){
            this.downloadCSVExport(response.data);
          }
          this.isLoading = false;
        })
        .catch((err) => { this.isLoading = false;});
    },
    downloadCSVExport(data){
      let csvDataForExport = 'data:text/csv;charset=utf-8,' + data;
      var encodedUri = encodeURI(csvDataForExport);
      var link = document.createElement("a");
      link.setAttribute("href", encodedUri);
      link.setAttribute("target", "_blank");
      link.setAttribute("download", "pass-limits.csv");
      document.body.appendChild(link);
      link.click();
    },
    searchByQuery(value, type){
      clearInterval(this.searchTimeOut);
      this.searchTimeOut = setTimeout(() => {
        this.handleQuerySearch(value, type);
      }, 500);
    },
    handleQuerySearch(value='', type){
      let query = value.toString();
      if(query.replace(/\s/g, '').length > 0 || query.replace(/\s/g, '').length === 0){
        this.filterParams.search_query = '';
        if(type && type === 'column'){
          this.columnSearchKeys.globalQuery = "";
          for (const key in this.columnSearchKeys) {
            if (Object.hasOwnProperty.call(this.columnSearchKeys, key)) {
              let columnData = this.columnSearchKeys[key];
              if(columnData.value){
                columnData.column.forEach(col => {
                  this.filterParams.search_query = this.filterParams.search_query + `${col}:${col === 'limit' ? columnData.value : '"' + columnData.value + '"'}, `;
                });
              }
            }
          }
          this.filterParams.search_query = this.filterParams.search_query.slice(0, -2);
        }else{
          this.resetSearchQuery();
          this.columnSearchKeys.globalQuery = query;
          this.filterParams.search_query = query ?  '"' + query + '"' : query;
        }
        this.handlePassLimits();
      }
    },
    sortByColumn(column){
      let columnName = this.columnSearchKeys[column.column] ? this.columnSearchKeys[column.column].sortBy : column.column;
      this.filterParams.sort_query = `${columnName}:${column.asc ? 'asc' : 'desc'}`;
      this.handlePassLimits();
    },
    editPassLimit(pass){
      if(pass){
        this.$store.commit('passLimits/SET_EDITABLE_PASS_LIMITS', pass);
        this.$helpers.scrollToTop();
      }
    },
    togglePassLimitForDelete(item, index,column, event){
      // if(event.target.classList && !event.target.classList.contains('no-target')){
        if(this.deleteCollection.length && this.deleteCollection.includes(item.id)){
          this.deleteCollection = this.deleteCollection.filter(el => el != item.id);
        }else{
          this.deleteCollection.push(item.id);
        }
      // }
    },
    toggleAllForDelete(){
      this.deleteCollection = this.deleteCheckbox ? this.passLimitIDCollection : [];
    },
    deletePassLimit(passID, collection) {
      if(passID){
        this.isLoading = true;
        this.$store.dispatch('passLimits/deletePassLimit', passID)
        .then(() => {
          this.isLoading = false;
          this.pagination.total = this.pagination.total - 1;
        })
        .catch(() => this.isLoading = false);
      }
      if(collection && collection.length){
        this.isLoading = true;
        this.$store.dispatch('passLimits/deletePassLimits', collection)
        .then(() => {
          this.handlePassLimits();
          this.deleteCollection = [];
          this.deleteCheckbox = false;
        })
        .catch(() => this.isLoading = false);
      }
    },
    updatePassLimit(pass){
      if(pass.id && pass.status){
        this.isLoading = true;
        this.$store.dispatch('passLimits/updatePassLimit', pass.id)
        .then(() => this.isLoading = false)
        .catch(() => this.isLoading = false);
      }
    },
    setPerPage(option){
      if(option){
        this.isLazyLoadingMode = option.label === 'All entries';
        this.pagination.per_page = option;
        this.handlePassLimits();
      }
    },
    setActivePage(){
      this.handlePassLimits(this.pagination.activePage);
      this.$helpers.scrollToTop();
    },
    setActiveTableTab(tab){
        this.filterParams.activeTab = tab;
        this.handlePassLimits();
    },
    resetSearchQuery(){
      this.filterParams.search_query = '';
      this.columnSearchKeys = {
        globalQuery: '',
        for: {value:'', column: ['for'], sortBy: 'for'},
        from_date: {value:'', column: ['from_date.raw'], sortBy: 'from_date.raw'},
        to_date: {value:'', column: ['to_date.raw'], sortBy: 'to_date.raw'},
        limit: {value:'', column: ['limit'], sortBy: 'limit'},
        created_at: {value:'', column: ['created_on'], sortBy: 'created_at'},
        updated_at: {value:'', column: ['updated_at'], sortBy: 'updated_at'},
        recurrence_type: {value:'', column: ['recurrence_type'], sortBy: 'recurrence_type'},
        reason: {value:'', column: ['reason'], sortBy: 'reason'},
      };
    },
    resetParams(){
      this.filterParams = {
        search_query: '',
        sort_query:'',
        activeTab: this.tableTabs[0],
        checkBoxes:{
          group_limits: false,
          individual_students: false
        }
      };
    },
    refreshDataTable(){
      this.resetParams();
      this.resetSearchQuery();
      this.handlePassLimits(1, false, true);
    },
    initLazyLoading(){
      let body = document.getElementsByClassName('main-scroll-container')[0];
      if(body){
        body.onscroll = () => {
          if(this.isLazyLoadingMode && this.passLimits && this.passLimits.length && this.pagination.total > this.passLimits.length){
            if(body.offsetHeight + body.scrollTop >= body.scrollHeight) {
              this.pagination.activePage = this.pagination.activePage + 1;
              this.handlePassLimits(this.pagination.activePage, false, false, true);
            }
          }
        }
      }
    },
  }
}
</script>
