<template>
  <CContainer class="appointment-pass-view datatable-container mb-5">
    <Loader :isProcessing="isLoading" />
    <CRow class="text-right pb-3">
      <CCol md="12">
        <HelpCenterButton contentKey="student_appointments"/>
      </CCol>
    </CRow>

    <CRow class="mt-3">
      <CCol md="12">
        <div class="table-tabs-header mb-2 bg-white d-flex align-items-center justify-content-between">
          <div class="tabs d-flex">
            <div v-for="(tab, index) in tableTabs" :key="index">
              <div class="table-tab" :class="{'active' : tab.value === activeTableTab.value}"
                @click="setActiveTableTab(tab)">{{tab.label}}</div>
            </div>
          </div>
          <div class="actions d-flex align-items-center">
            <CInput class="search-field mb-0 ml-2 ml-md-4" placeholder="Search..."
              :value.sync="columnSearchKeys.globalQuery" @input="searchByQuery">
              <template #prepend-content>
                <div><i class="flaticon-magnifying-glass"></i></div>
              </template>
            </CInput>
          </div>
        </div>
        <div class="status-guides-container d-flex justify-content-space-between mb-2 align-items-center">
          <div class="d-flex align-items-start align-items-center">
            <CInputCheckbox label="Recurring" :checked.sync="filterParams.quickFilter.recurrence_only" name="Recurring"
              class='recurring' @update:checked="handleAppointmentPasses()" />
          </div>
          <per-page-selector :action="setPerPage" :pagination="pagination" />
        </div>

        <!-- Pass comments modal -->
        <CModal :show.sync="modal.isVisible.comments" :closeOnBackdrop="false">
          <template #header-wrapper>
            <div class="pt-4 px-4 create-popup-header">
              <div @click="closeModal()"
                class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span
                  class="close-icon"></span></div>
            </div>
          </template>
          <div v-if="modal.activePass" class="px-3">
            <CommentsComponent :comments="modal.activePass.comments" :toID="modal.activePass.id"
              commentable_type="App\Models\AppointmentPass" @commentCreated="closeModal" />
          </div>
          <template #footer-wrapper>
            <div></div>
          </template>
        </CModal>
        <!-- End modal -->
        <!-- Cancel appt pass reason modal -->
        <CModal :show.sync="modal.isVisible.cancelPassReason" :closeOnBackdrop="false">
          <template #header-wrapper>
            <div class="pt-4 px-4 create-popup-header">
              <div @click="closeModal()"
                class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span
                  class="close-icon"></span></div>
            </div>
          </template>
          <div v-if="modal.activePass" class="px-3">
            <h3 class="text-center mb-4">Cancel Pass</h3>
            <AptPassCancelation :onlySimpleCancelation="true" :pass="modal.activePass" :close="closeModal" />
          </div>
          <template #footer-wrapper>
            <div></div>
          </template>
        </CModal>
        <!-- End modals -->
        <DataTable class="datatable bg-white student-app-pass" v-if="appointmentPasses" :items="appointmentPasses"
          :fields="dataTableFields" :sorter='{ external: true }' @update:sorter-value="sortByColumn"
          :noItemsView='{ noResults: "No items available", noItems: "No items available" }' :responsive="true">
          <template #sorting-icon="{state}">
            <div class="table-order-icons">
              <font-awesome-icon icon="caret-up" :class="[state=='desc'?'text-black':'text-black-50',]" />
              <font-awesome-icon icon="caret-down" :class="[state=='asc'?'text-black':'text-black-50']" />
            </div>
          </template>
          <template #confirm_cancel-header>
            <div>
              <div class="lh-normal">
                Confirmed <span class="flaticon-check text-green"></span>
                <br />/Cancelled <span class="flaticon-cancel text-red"></span>
              </div>
            </div>
          </template>
          <!-- Dates -->
          <template #for_date="{item}">
            <td class="m-0 p-0 h-100 d-flex">
              <div class="d-flex align-items-center">
                <div class="status-mark mr-3" :class=[getPassStatus(item).class]></div>
                <div class="recurrence-column" v-if="item.recurrence_appointment_pass">
                  <div v-if="item.recurrence_appointment_pass.recurrence_type">
                    <div class="">
                      <b>{{ $helpers.transformDate(item.for_date, 'MMM DD YYYY') }}</b>
                    </div>
                    <div><span class="text-capitalize">{{item.recurrence_appointment_pass.recurrence_type}}</span></div>
                    <div v-if="item.recurrence_appointment_pass.recurrence_days"
                      class="weekdays-options-container d-flex mt-1">
                      <div class="weekday-box active mr-1"
                        v-for="(day, index) in JSON.parse(item.recurrence_appointment_pass.recurrence_days).days"
                        :key="index">
                        {{day.substring(0, 2)}}
                      </div>
                    </div>
                    <div class="mt-1" v-if="item.recurrence_appointment_pass.recurrence_end_at">
                      {{$helpers.transformDate(item.recurrence_appointment_pass.for_date, 'MMM DD YYYY') + ' > ' + $helpers.transformDate(item.recurrence_appointment_pass.recurrence_end_at, 'MMM DD YYYY')}}
                    </div>
                  </div>
                </div>
                <div v-else>
                  <p class="mb-0"><b>{{item.for_date ? $helpers.transformDate(item.for_date, 'MMM DD YYYY') : ''}}</b></p>
                  <span>Does not repeat</span>
                </div>
              </div>
            </td>
          </template>
          <!-- Status -->
          <template #string_status="{item}">
            <td>
              <div class="pass-status p-3 rounded-30 text-center" :class=[getPassStatus(item).class]>
                <b class="text-uppercase">{{getPassStatus(item).label}}</b>
              </div>
            </td>
          </template>
          <!-- Period -->
          <template #period="{item}">
            <td>
              <div v-if="item.period">
                <strong
                  class="d-flex mb-1">{{item.for_date ? $helpers.transformDate(item.for_date, 'h:mm A') : ''}}</strong>
                <span>{{item.period.name}}</span>
              </div>
            </td>
          </template>
          <!-- From -->
          <template #from="{item}">
            <td class="pass-time-info">
              <div class="d-flex">
                <b
                  v-if="item.from_type && item.from_type==='App\\Models\\User'">{{item.from ? item.from.first_name + " " + item.from.last_name : '-'}}</b>
                <b v-else>{{item.from ? item.from.name : '-'}}</b>
                <span class="flaticon-check text-green" v-if="item.acknowledged_by_user"></span>
              </div>
            </td>
          </template>
          <!-- to -->
          <template #to="{item}">
            <td class="pass-time-info">
              <b
                v-if="item.to_type && item.to_type==='App\\Models\\User'">{{item.to ? item.to.first_name + " " + item.to.last_name : '-'}}</b>
              <b v-else>{{item.to ? item.to.name : '-'}}</b>
            </td>
          </template>
          <!-- Confirmed -->
          <template #confirm_cancel="{item}">
            <td>
              <div v-if="isCreatedByUser(item)">
                <div v-if="item.confirmed_by_user">
                  <span>{{item.confirmed_by_user.first_name + ' ' + item.confirmed_by_user.last_name}}</span>
                  <p v-if="item.confirmed_by_teacher_at">
                    <span class="flaticon-check text-green"></span>
                    {{$helpers.transformDate(item.confirmed_by_teacher_at, 'MMM DD YYYY h:mm A')}}
                  </p>
                </div>
                <div v-if="item.canceled_by_user">
                  <span> {{item.canceled_by_user.first_name + ' ' + item.canceled_by_user.last_name}}</span>
                  <p v-if="item.canceled_by_user">
                    <span class="flaticon-cancel text-red"></span>
                    {{$helpers.transformDate(item.canceled_by_at, 'MMM DD YYYY h:mm A')}}
                  </p>
                </div>
              </div>
            </td>
          </template>
          <!-- Actions -->
          <template #actions="{item}">
            <td>
              <div class="table-actions mb-2">
                <div class="d-flex" v-if="canPassBeCanceled(item) && isCancelVisible(item.for_date)">
                  <button class="btn btn-cancel" @click="setActiveModal('cancelPassReason', item)">cancel</button>
                </div>
              </div>
              <div v-if="item.acknowledged_by_teacher_at">
                Acknowledge: {{$helpers.transformDate(item.acknowledged_by_teacher_at, 'MMM DD YYYY h:mm A')}}
              </div>

              <div v-if="item.created_at">
                <div v-if="item.created_by_user && item.created_by_user.role_id == 1">
                  Requested: {{$helpers.transformDate(item.created_at, 'MMM DD YYYY h:mm A')}}
                </div>
                <div v-else>Created: {{$helpers.transformDate(item.created_at, 'MMM DD YYYY h:mm A')}}
                </div>
              </div>

              <div v-if="item.expired_at">Expired: {{$helpers.transformDate(item.expired_at, 'MMM DD YYYY h:mm A')}}
              </div>
            </td>
          </template>

          <template #comments="{item}">
            <td class="comments-column">
              <div v-if="item.comments" class="d-flex">
                <div @click="setActiveModal('comments', item)" class="comments-count mr-2">
                  <i class="fi flaticon-chat"></i><b>{{item.comments.length}}</b>
                </div>
                <div @click="setActiveModal('comments', item)" v-if="item.comments.length" class="comments-list cursor-pointer">
                  <div class="comment">
                    {{item.comments[item.comments.length-1].comment}}
                  </div>
                </div>
              </div>
            </td>
          </template>

        </DataTable>

        <CPagination class="cs-pagination mt-4" :dots="false" :doubleArrows="true"
          v-if="pagination.pages && pagination.pages>1" :activePage.sync="pagination.activePage"
          :pages="pagination.pages" size="lg" align="center" @update:activePage="setActivePage">
          <template #last-button>
            <i class="flaticon-right-arrow-1"></i>
          </template>
          <template #first-button>
            <i class="flaticon-left-arrow-2"></i>
          </template>
          <template #previous-button>
            <i class="fi flaticon-left-arrow-1"></i>
          </template>
          <template #next-button>
            <i class="fi flaticon-chevron"></i>
          </template>
        </CPagination>

      </CCol>
    </CRow>
  </CContainer>
</template>
<script>
  import Loader from '@/components/Loader'
  import CommentsComponent from '@/components/CommentsComponent'
  import AptPassCancelation from '@/components/Forms/AptPassCancelation';
  import HelpCenterButton from "@/components/HelpCenterButton";
  import {
    mapGetters
  } from 'vuex';
  import moment from 'moment-timezone';
  import PerPageSelector from '../PerPageSelector.vue';

  export default {
    name: "StudentAptPassDataTable",
    components: {
      Loader,
      CommentsComponent,
      AptPassCancelation,
      PerPageSelector,
      HelpCenterButton
    },
    data() {
      return {
        filterParams: {
          search_query: '',
          sort_query: '',
          quickFilter: {
            recurrence_only: null
          },
          passType: [],
          between_dates: null,
        },
        columnSearchKeys: {
          globalQuery: '',
          date: {
            value: '',
            column: ['for_date']
          },
          period: {
            value: '',
            column: ['period.name']
          },
          from: {
            value: '',
            column: ['from.name']
          },
          to: {
            value: '',
            column: ['to.name', 'to.first_name', 'to.last_name']
          },
          confirm_cancel: {
            value: '',
            column: ['confirm_cancel']
          },
          comments: {
            value: '',
            column: ['latest_comment.comment']
          },
        },
        pagination: {
          activePage: 1,
          total: 0,
          pages: 0,
          per_page: {
            label: '25',
            value: 25
          }
        },
        dataTableFields: [{
            key: 'for_date',
            label: 'Date',
            type: 'pass-view',
            _style: 'min-width:140px',
          },
          {
            key: 'string_status',
            label: 'Status',
            _style: 'min-width:150px',
            type: 'pass-view',
          },
          {
            key: 'period',
            label: 'Period & Time',
            _style: 'min-width:150px',
            type: 'pass-view'
          },
          {
            key: 'from',
            label: 'From',
            type: 'pass-view'
          },
          {
            key: 'to',
            label: 'To',
            type: 'pass-view'
          },
          {
            key: 'confirm_cancel',
            label: 'Confirmed/Canceled',
            type: 'pass-view',
            _style: 'min-width:150px',
          },
          {
            key: 'actions',
          },
          {
            key: 'comments',
            label: 'Comments',
            type: 'pass-view',
            _style: 'min-width:150px',
          },
        ],
        tableTabs: [{
            label: "Next 7 Days",
            value: 'nextSevenDays'
          },
          {
            label: "Beyond 7 Days",
            value: 'prevSeventDays'
          }
        ],
        activeTableTab: '',
        isLoading: false,
        modal: {
          isVisible: {
            comments: false,
            todayPasses: false,
            cancelPassReason: false
          },
          activePass: null
        },
        searchTimeOut: null,
      }
    },
    computed: {
      ...mapGetters({
        appointmentPasses: 'appointmentPasses/appointmentPasses',
        appPassRefresh: 'appointmentPasses/appPassRefresh',
        currentUser: 'authentication/user'
      }),
      nextSevenDays() {
        let today = moment().format('MM/DD/YYYY');
        let nextSevenDays = moment().add(7, 'days').format('MM/DD/YYYY');
        return today.toString() + ',' + nextSevenDays.toString();
      },
      prevSeventDays() {
        let next30nDays = moment().add(1, 'year').format('MM/DD/YYYY');
        return moment().add(8, 'days').format('MM/DD/YYYY').toString() + ',' + next30nDays.toString()
      },

    },
    created() {
      this.activeTableTab = this.tableTabs[0];
      this.handleAppointmentPasses();
    },
    watch: {
      '$store.state.appointmentPasses.appPassRefresh': function () {
        this.handleAppointmentPasses();
      }
    },
    methods: {
      handleAppointmentPasses(page, isExport) {
        this.pagination.activePage = page ? page : 1;
        let filterData = {
          page: this.pagination.activePage,
          per_page: this.pagination.per_page.value,
          between_dates: this.filterParams.between_dates ? this.filterParams.between_dates : this.nextSevenDays,
        };
        this.pagination.activePage = page ? page : 1;

        if (this.filterParams.search_query) {

          filterData.search_query = this.filterParams.search_query;
        }
        if (this.filterParams.sort_query) {

          filterData.sort = this.filterParams.sort_query;
        }
        if (this.filterParams.quickFilter.recurrence_only) {
          filterData.recurrence_only = 'true';
        }

        this.getAppoinmentPasses(filterData);

      },
      getAppoinmentPasses(params) {
        this.isLoading = true;
        this.$store.dispatch('appointmentPasses/getAppointmentPassesAsStudent', params)
          .then((response) => {
            let meta = response.data.meta
            if (meta) {
              this.pagination.total = meta.total;
              this.pagination.from = meta.from
              this.pagination.to = meta.to
              this.pagination.pages = Math.ceil(meta.total / meta.per_page);
              this.pagination.activePage = Number(this.pagination.activePage);
              this.pagination = JSON.parse(JSON.stringify(this.pagination));
            }
            this.isLoading = false;
          })
          .catch((err) => {
            this.isLoading = false;
          });
      },

      setActiveTableTab(tab) {
        this.activeTableTab = tab;
        this.filterParams.between_dates = this[tab.value];
        this.handleAppointmentPasses();
      },
      closeModal() {
        this.modal = {
          isVisible: {
            comments: false,
            todayPasses: false,
            cancelPassReason: false
          },
          activePass: null
        }
        this.handleAppointmentPasses();
      },
      setActiveModal(modal, pass) {
        if (pass) {
          this.modal.isVisible[modal] = true;
          this.modal.activePass = pass;
        }
      },
      setPerPage(item) {
        this.pagination.per_page = item ? item : this.pagination.per_page.value;
        this.handleAppointmentPasses();
      },
      setActivePage() {
        this.handleAppointmentPasses(this.pagination.activePage);
        this.$helpers.scrollToTop();
      },
      searchByQuery(value, type) {
        clearInterval(this.searchTimeOut);
        this.searchTimeOut = setTimeout(() => {
          this.handleQuerySearch(value, type);
        }, 500);
      },
      handleQuerySearch(value, type) {
        let query = value.toString();
        if (query.replace(/\s/g, '').length > 0 || query.replace(/\s/g, '').length === 0) {
          this.filterParams.search_query = '';
          if (type && type === 'column') {
            this.columnSearchKeys.globalQuery = "";
            for (const key in this.columnSearchKeys) {
              if (Object.hasOwnProperty.call(this.columnSearchKeys, key)) {
                let columnData = this.columnSearchKeys[key];
                if (columnData.value) {
                  columnData.column.forEach(col => {
                    this.filterParams.search_query = this.filterParams.search_query +
                      `${col}:"${columnData.value}", `;
                  });
                }
              }
            }
            this.filterParams.search_query = this.filterParams.search_query.slice(0, -2);
          } else {
            this.resetSearchQuery();
            this.columnSearchKeys.globalQuery = query;
            this.filterParams.search_query = query ? '"' + query + '"' : query;
          }
          this.handleAppointmentPasses();
        }
      },
      sortByColumn(column) {
        let columnName = this.columnSearchKeys[column.column] ? this.columnSearchKeys[column.column].column[0] : column
          .column;
        this.filterParams.sort_query = `${columnName}:${column.asc ? 'asc' : 'desc'}`;
        this.handleAppointmentPasses();
      },
      resetSearchQuery() {
        this.filterParams.search_query = '';
        this.columnSearchKeys = {
          globalQuery: '',
          date: {
            value: '',
            column: ['for_date']
          },
          period: {
            value: '',
            column: ['period.name']
          },
          from: {
            value: '',
            column: ['from.name']
          },
          to: {
            value: '',
            column: ['to.name', 'to.first_name', 'to.last_name']
          },
          confirm_cancel: {
            value: '',
            column: ['confirm_cancel']
          },
          comments: {
            value: '',
            column: ['latest_comment.comment']
          },
        };
      },
      getPassStatus(pass) {
        if (pass) {
          if (pass.is_for_confirm) {
            return {
              class: 'waiting-confirmation',
              label: 'Waiting Confirmation'
            };
          }
          if (pass.is_canceled) {
            return {
              class: 'canceled',
              label: 'Canceled'
            };
          }
          if (pass.is_for_future) {
            return {
              class: 'future-apt',
              label: 'Future Apt'
            };
          }
          if (pass.is_for_today || pass.waiting_activation) {
            return {
              class: 'today-pass',
              label: "Today's APT"
            };
          }
          if (pass.is_ended) {
            return {
              class: 'ended',
              label: 'Ended'
            };
          }
          if (pass.is_missed) {
            return {
              class: 'missed-apt',
              label: 'Missed apt'
            };
          }

          if (pass.is_in_another_pass) {
            return {
              class: 'on-other-pass',
              label: 'On other pass'
            };
          }
          if (pass.is_missed_request) {
            return {
              class: 'missed-request',
              label: 'Missed request'
            };
          }
        }
        return {
          class: '',
          label: ''
        };
      },
      isCancelVisible(date){
        let now = moment().format('YYYY-MM-DD HH:mm:ss');
        let endDate = moment(date, 'YYYY-MM-DD HH:mm:ss').subtract(30, 'minutes').format('YYYY-MM-DD HH:mm:ss');
        return now < endDate;
      },
      canPassBeCanceled(item){
        return item.created_by == this.currentUser.id && item.can_be_canceled;
      },
      isCreatedByUser(item){
        return item.created_by == this.currentUser.id;
      }
    }
  }

</script>
<style>
  .recurring .form-check-input {
    margin-top: 0 !important;
  }

</style>
