<template>
  <CContainer class="datatable-container substitue-datatable pb-2">
    <Loader :isProcessing="isLoading"/>
    <CRow class="mt-5">
      <CCol md="10" class="m-auto">
        <div class="table-tabs-header mb-2 bg-white d-flex align-items-center justify-content-between">
          <div v-for="(tab, index) in tableTabs" :key="index" class="table-tab"
               :class="{'active' : tab.value === activeTableTab.value}">{{ tab.label }}
          </div>
          <div class="actions d-flex align-items-center">
            <div
              @click="exportUsers()"
              class="lh-normal cursor-pointer text-accent-blue-light ml-2 ml-sm-0">
              <i class="fi flaticon-download mr-1"></i> <span class="d-none d-md-inline-block">Download CSV</span>
            </div>
            <CInput
              class="search-field mb-0 ml-2 ml-md-4"
              placeholder="Search"
              @input="searchByQuery"
              :value.sync="columnSearchKeys.globalQuery"
            >
              <template #prepend-content>
                <div @click="searchByQuery()">
                  <i class="flaticon-magnifying-glass"></i>
                </div>
              </template>
            </CInput>
          </div>
        </div>
        <div class="status-guides-container d-block pt-1 pb-3">
          <div class="d-flex justify-content-between align-items-end flex-wrap">
            <div class="pl-3">
              <div class="mb-2">Select all:</div>
              <div class="d-flex align-items-center actions mb-3 mb-sm-0">
                <input type="checkbox" class="mr-2" @change="selectUsers($event)">

                <CButton @click="generatePINS()" class="mr-2 p-small bg-gradient-blue">
                  <span class="btn bg-white px-1 px-sm-3 py-1 text-uppercase"><b class="text-graident-blue">Generate pin(s)</b></span>
                </CButton>

                <CButton @click="bulkDelete()" class="mr-2 p-small bg-gradient-blue">
                  <span class="btn bg-white px-1 px-sm-3 py-1"><b class="text-graident-blue text-uppercase">Inactive teacher(s)</b></span>
                </CButton>
              </div>
            </div>
            <per-page-selector :action="setPerPage" :pagination="pagination"/>
          </div>
        </div>

        <!-- End of modals -->
        <DataTable
          class="datatable bg-white substitue-datatable"
          :items="users"
          :fields="dataTableFields"
          :column-filter="true"
          :sorter='{ external: true }'
          @update:sorter-value="sortByColumn"
          :noItemsView='{ noResults: "No items available", noItems: "No items available" }'>
          <template #sorting-icon="{state}">
            <div class="table-order-icons">
              <font-awesome-icon icon="caret-up" :class="[state=='desc'?'text-black':'text-black-50',]"/>
              <font-awesome-icon icon="caret-down" :class="[state=='asc'?'text-black':'text-black-50']"/>
            </div>
          </template>
          <template #select="{item}">
            <td class="mw-auto">
              <input type="checkbox" :value="item.id" v-model="selectedUsers">
            </td>
          </template>
          <template #pin-header>
            <div class="d-block text-center float-none mb-1"><b>PIN</b></div>
            <div class="d-flex align-items-center ml-4">
              <span class="flaticon-hide"></span>
              <CSwitch class="modules-switch pins-switch mx-2" shape="pill" v-on:update:checked="showPins = $event"/>
              <span class="flaticon-eye"></span>
            </div>
          </template>

          <template #pin="{item}">
            <td>
              <div v-if="item.pin">{{ showPins ? item.pin.pin : '******' }}</div>
            </td>
          </template>

          <template #action="{item}">
            <td class="mw-auto">
              <div class="d-flex">
                <button @click="editUser(item)" class="btn btn-edit mr-2"><i class="flaticon-edit mr-1"></i> Edit</button>
                <button v-if="item.status" @click="toggleSubstitute(item)" class="btn btn-cancel no-target">Deactivate</button>
                <button v-else @click="toggleSubstitute(item)" class="btn btn-restore no-target"><span class="flaticon-back-arrow mr-1"></span> REACTIVATE</button>
              </div>
            </td>
          </template>

          <template #first_name="{item}">
            <td>
              <b>{{item.first_name ? item.first_name : ''}}</b>
            </td>
          </template>

          <template #last_name="{item}">
            <td>
              <b>{{item.last_name ? item.last_name : ''}}</b>
            </td>
          </template>

          <template #first_name-filter>
            <input v-model="columnSearchKeys.first_name.value" @input="searchByQuery($event.target.value, 'column')"
                   class="form-control form-control-sm">
          </template>

          <template #last_name-filter>
            <input v-model="columnSearchKeys.last_name.value" @input="searchByQuery($event.target.value, 'column')"
                   class="form-control form-control-sm">
          </template>

          <template #status="{item}">
            <td class="d-flex flex-column text-center justify-content-center my-auto">
              <b class="limit-status no-target" :class="item.status ? 'active' : 'inactive-gray'">{{item.status ? 'active' : 'inactive'}}</b>
            </td>
          </template>
        </DataTable>

        <CPagination
          class="cs-pagination mt-4"
          :dots="false"
          :doubleArrows="true"
          v-if="pagination.pages &&pagination.pages>1 && !isLazyLoadingMode"
          :activePage.sync="pagination.activePage"
          :pages="pagination.pages"
          size="lg"
          align="center"
          @update:activePage="getUsers">
          <template #last-button>
            <i class="flaticon-right-arrow-1"></i>
          </template>
          <template #first-button>
            <i class="flaticon-left-arrow-2"></i>
          </template>
          <template #previous-button>
            <i class="fi flaticon-left-arrow-1"></i>
          </template>
          <template #next-button>
            <i class="fi flaticon-chevron"></i>
          </template>
        </CPagination>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>
import Loader from '@/components/Loader'
import {mapGetters} from 'vuex';
import PerPageSelector from '../PerPageSelector.vue';

export default {
  name: "SubstituteUsersDataTable",
  components: {
    Loader,
    PerPageSelector
  },
  data() {
    return {
      isLoading: false,
      isLazyLoadingMode: false,
      showPins: false,
      pagination: {
        activePage: 1,
        total: 0,
        pages: 0,
        per_page: {label: '25', value: 25}
      },
      selectedUsers: [],
      tableTabs: [{
        label: "Substitute Teachers", value: 'substitute_teachers'
      }],
      activeTableTab: {
        value: 'substitute_teachers'
      },
      filterParams: {
        sort_query: 'created_at:desc',
        searchQuery: '',
      },
      dataTableFields: [
        {key: 'select', label: '', type: 'tabular', filter: false},
        {key: 'action', label: 'Action', type: 'tabular', filter: false, sorter: false},
        {key: 'first_name', label: 'First Name', type: 'tabular'},
        {key: 'last_name', label: 'Last Name', type: 'tabular'},
        {key: 'pin', label: 'PIN', type: 'tabular', filter: false, sorter: false},
        {key: 'status', label: 'Status', type: 'tabular', filter: false},
      ],
      columnSearchKeys: {
        globalQuery: '',
        first_name: {value: '', column: ['first_name']},
        last_name: {value: '', column: ['last_name']},
      },
    }
  },
  computed: {
    ...mapGetters({
      users: 'users/substituteUsers',
      editableUser: 'users/editableUser',
    }),
  },
  mounted() {
    this.initLazyLoading();
    this.getUsers();
  },
  methods: {
    initLazyLoading() {
      let body = document.getElementsByClassName('c-body')[0];
      if (body) {
        body.onscroll = () => {
          if (this.isLazyLoadingMode && this.users && this.users.length && this.pagination.total > this.users.length) {
            if (body.offsetHeight + body.scrollTop >= body.scrollHeight) {
              this.pagination.activePage = this.pagination.activePage + 1;
              this.getUsers(this.pagination.activePage, false, true);
            }
          }
        }
      }
    },
    toggleTab(tab) {
      this.tabs[tab] = !this.tabs[tab];
    },
    bulkDelete() {
      this.$store.dispatch('users/substituteDeleteBulk', {teacher_ids: this.selectedUsers.join()}).then(response => {
        this.getUsers();
        this.selectedUsers = [];
      })
    },
    selectUsers(e) {
      if (e.target.checked) {
        this.selectedUsers = [];
        this.users.forEach(user => {
          this.selectedUsers.push(user.id);
        })
      } else {
        this.selectedUsers = [];
      }
    },
    exportUsers() {
      this.isLoading = true;
      let params = {
        page: this.pagination.activePage,
        per_page: this.pagination.per_page.value,
        is_substitute: true
      }
      if(this.filterParams.searchQuery){
        params.search_query = this.filterParams.searchQuery;
      }
      if(this.filterParams.sort_query){
        params.sort = this.filterParams.sort_query;
      }
      this.$store.dispatch('users/exportUsers', params)
        .then((response) => {
          if (response.data) {
            this.downloadCSVExport(response.data);
          }
          this.isLoading = false;
        })
        .catch((err) => {
          this.isLoading = false;
        });
    },
    downloadCSVExport(data) {
      let csvDataForExport = 'data:text/csv;charset=utf-8,' + data;
      let encodedUri = encodeURI(csvDataForExport);
      let link = document.createElement("a");
      link.setAttribute("href", encodedUri);
      link.setAttribute("target", "_blank");
      link.setAttribute("download", "substitute_users.csv");
      document.body.appendChild(link);
      link.click();
    },
    generatePINS() {
      this.$store.dispatch('users/substituteBulkPin', {users: this.selectedUsers.join()}).then(response => {
        this.getUsers();
        this.selectedUsers = [];
      })
    },
    getUsers(page, noLoader, isLazyLoadingMode) {
      this.pagination.activePage = page ? page : 1;
      this.isLoading = !noLoader;
      this.$store.dispatch('users/getSubstituteUsers', {
        sort: this.filterParams.sort_query,
        search_query: this.filterParams.searchQuery,
        page: this.pagination.activePage,
        per_page: this.pagination.per_page.value
      }).then((response) => {
        let data = response.data;
        if (isLazyLoadingMode) {
          this.$store.commit('users/PUSH_USERS', data.data);
        } else {
          this.$store.commit('users/SET_USERS', data.data);
        }
        let meta = data.meta;
        if (meta) {
           this.pagination.total = meta.total;
            this.pagination.from = meta.from
            this.pagination.to = meta.to
            this.pagination.pages = Math.ceil(meta.total / meta.per_page);
            this.pagination.activePage = Number(this.pagination.activePage);
            this.pagination = JSON.parse(JSON.stringify(this.pagination));
        }
        this.isLoading = false;
      }).catch((err) => {
        this.isLoading = false;
      });
    },
    editUser(user) {
      this.$store.commit('users/SET_EDITABLE_SUBSTITUTE', user);
      this.$helpers.scrollToTop();
    },
    toggleSubstitute(user) {
      this.$store.dispatch(`users/${user.status ? 'deactivateSubstituteTeacher' : 'activateSubstituteTeacher'}`, {userId: user.id})
      .then(() => {
        setTimeout(() => {
          this.getUsers(1, true);
        }, 500);
      });
    },
    searchByQuery(value, type) {
      clearInterval(this.searchTimeOut);
      this.searchTimeOut = setTimeout(() => {
        this.handleQuerySearch(value, type);
      }, 500);
    },
    handleQuerySearch(value, type) {
      let query = value.toString();
      if (query.replace(/\s/g, '').length > 0 || query.replace(/\s/g, '').length === 0) {
        this.filterParams.searchQuery = '';
        if (type && type === 'column') {
          this.columnSearchKeys.globalQuery = "";
          for (const key in this.columnSearchKeys) {
            if (Object.hasOwnProperty.call(this.columnSearchKeys, key)) {
              let columnData = this.columnSearchKeys[key];
              if (columnData.value) {
                columnData.column.forEach(col => {
                  this.filterParams.searchQuery = this.filterParams.searchQuery + `${col}:"${columnData.value}", `;
                });
              }
            }
          }
          this.filterParams.searchQuery = this.filterParams.searchQuery.slice(0, -2);
        } else {
          this.resetSearchQuery();
          this.columnSearchKeys.globalQuery = query;
          this.filterParams.searchQuery = query ? '"' + query + '"' : query;
        }
        this.getUsers();
      }
    },
    sortByColumn(column) {
      let columnName = this.columnSearchKeys[column.column] ? this.columnSearchKeys[column.column].column[0] : column.column;
      this.filterParams.sort_query = `${columnName}:${column.asc ? 'asc' : 'desc'}`;
      this.getUsers();
    },
    resetSearchQuery() {
      this.filterParams.searchQuery = '';
      this.columnSearchKeys = {
        globalQuery: '',
        first_name: {value: '', column: ['first_name']},
        last_name: {value: '', column: ['last_name']},
      };
    },
    setPerPage(option) {
      if (option) {
        this.isLazyLoadingMode = option.label === 'All entries';
        this.pagination.per_page = option;
        this.getUsers();
      }
    },
    refreshDataTable(){
      this.resetSearchQuery();
      this.getUsers(1, true, false);
    },
  }
}
</script>
