<template>
  <CContainer class="datatable-container pb-2" @click="onContainerClick">
    <Loader :isProcessing="isLoading" />
    <CRow class="justify-content-center mt-4">
      <CCol md="12" class="mb-2 mb-sm-4">
        <h1 class="text-center">Summary Reports</h1>
      </CCol>
      <CCol xs="4" md="6" lg="3">
        <v-select :clearable="false" class="cs-select mb-3 ps__child--consume"
          v-model="filterParams.aggregate_by" required :options="aggregateByOptions" placeholder="Aggregate By" :reduce="item => item.value" />
      </CCol>
      <CCol class="d-block d-lg-none" xs="4" md="6" lg="3">
        <v-select class="cs-select auto-dropdown-height mb-3 ps__child--consume" v-model="filterParams.by_pass_types"
          :clearable="false"
          :clearSearchOnBlur="() => {return true}" :options="passTypesOptions" placeholder="By Pass Type"
          :reduce="item => item.value" />
      </CCol>
      <CCol xs="4" md="4" lg="3">
          <LazyLoadSelect
            :isMultiple="true"
            classes="mb-3"
            @change="(value) => {filterParams.teacher_ids = value}"
            :selected="filterParams.teacher_ids"
            type="adults"
            placeholder="Search Teachers"/>
      </CCol>
      <CCol xs="4" md="4" lg="3">
          <LazyLoadSelect
            :isMultiple="true"
            classes="mb-3"
            @change="(value) => {filterParams.student_ids = value}"
            :selected="filterParams.student_ids"
            type="student"
            placeholder="Search Students"/>
      </CCol>
      <CCol xs="4" md="4" lg="3">
          <LazyLoadSelect
            :isMultiple="true"
            classes="mb-3"
            @change="(value) => {filterParams.room_ids = value}"
            :selected="filterParams.room_ids"
            type="locations"
            placeholder="Search Destinations"/>
      </CCol>
      
      <CCol class="d-none d-lg-block" xs="4" md="4" lg="3">
        <v-select class="cs-select auto-dropdown-height mb-3 ps__child--consume" v-model="filterParams.by_pass_types"
          :clearable="false"
          :clearSearchOnBlur="() => {return true}" :options="passTypesOptions" placeholder="By Pass Type"
          :reduce="item => item.value" />
      </CCol>
      <CCol xs="4" md="4" lg="3">
        <v-select v-if="gradeYears" class="cs-select mb-3 ps__child--consume"
          v-model="filterParams.by_grade_years"
          :clearable="false"
          :clearSearchOnBlur="() => {return true}" :options="gradeYears" placeholder="By Grad Year"
          @input="setCalendarDates" />
      </CCol>
      <CCol xs="4" md="4" lg="3">
        <v-select v-if="gradYears" class="cs-select mb-3 ps__child--consume"
          v-model="filterParams.by_grad_year"
          multiple
          :clearable="false"
          :clearSearchOnBlur="() => {return true}" :options="gradYears" placeholder="By Year"
          :reduce="item => item.value" />
      </CCol>
      <CCol xs="4" md="4" lg="3">
        <v-date-picker class="cs-date-picker"
            :masks="{L:'MM/DD/YYYY'}"
            v-if="filterParams.by_grade_years"
            placeholder="Year"
            mode="range"
            v-model="filterParams.dates"
            is-range
            :min-date='minDate'
            :max-date='maxDate'
          >
            <template v-slot="{ inputValue, togglePopover, hidePopover }">
              <div class="input-icon-field cursor-pointer">
                <CInput
                  placeholder="Date"
                  type="readonly"
                  :value="inputValue.start + '-' + inputValue.end"
                  readonly
                  @click="showCalendarRanges(hidePopover, togglePopover)"
                  addInputClasses="date-calendar-option cursor-pointer"
                />
                <span class="field-icon" @click="showCalendarRanges(hidePopover, togglePopover)">
                  <i class="fi flaticon-calendar mr-1"></i>
                </span>
                <div v-show="calendar.isRangesVisible" class="optional-date-ranges-container">
                  <div v-for="(range, index) in optionalDateRanges" :key="index" :class="{'active' : range.label === calendar.activeRange.label}" class="option-range p-2" @click="setCalendarRange(range, togglePopover)">
                    {{range.label}}
                  </div>
                </div>
              </div>
            </template>
        </v-date-picker>
      </CCol>
      <CCol md="12" class="mt-1 mt-md-4 text-center text-sm-left">
        <div class="d-inline-block text-center mb-2" @click="advancedFilter()">
          <CButton class="mr-2 btn bg-gradient-blue reverse text-white">
            <div class="p-small">Search</div>
          </CButton>
        </div>
        <div class="d-inline-block text-center">
          <CButton @click="clearFilter()" class="ml-0 ml-sm-2 p-small bg-gradient-blue">
            <span class="btn bg-white px-3"><b class="text-graident-blue px-3">Clear</b></span>
          </CButton>
        </div>
      </CCol>
    </CRow>

    <CRow class="mt-5">
      <CCol md="12">
        <div class="table-tabs-header mb-2 bg-white d-flex align-items-center justify-content-between">
          <div v-for="(tab, index) in tableTabs" :key="index" class="table-tab"
            :class="{'active' : tab.value === activeTableTab.value}">{{ tab.label }}
          </div>
          <div class="actions d-flex align-items-center">
            <CLink class="lh-normal text-accent-blue-light ml-2 ml-sm-0" @click="handleReports(pagination.activePage, true)"
              download="summary_reports.csv" target="_blank">
              <i class="fi flaticon-download mr-1"></i> <span class="d-none d-md-inline-block">Download CSV</span>
            </CLink>
            <CInput
              class="search-field mb-0 ml-2 ml-md-4"
              placeholder="Search..."
              @input="searchByQuery"
              :value.sync="columnSearchKeys.globalQuery"
            >
             <template #prepend-content><div><i class="flaticon-magnifying-glass"></i></div></template>
            </CInput>
          </div>
        </div>
        <div class="d-flex justify-content-end align-items-center status-guides-container mb-2">
          <per-page-selector :action="setPerPage" :pagination="pagination"/>
        </div>

        <DataTable class="datatable bg-white text-center" v-if="summaryReports" :items="summaryReports"
          :fields="dataTableFields"
          :column-filter="true"
          :sorter='{ external: true }'
          @update:sorter-value="sortByColumn"
          :noItemsView='{ noResults: "No items available", noItems: "No items available" }'>
          <template #sorting-icon="{state}">
            <div class="table-order-icons">
              <font-awesome-icon icon="caret-up" :class="[state=='desc'?'text-black':'text-black-50',]" />
              <font-awesome-icon icon="caret-down" :class="[state=='asc'?'text-black':'text-black-50']" />
            </div>
          </template>
          <template #destination="{item}">
            <td class="text-left">{{ item.destination ? item.destination.name : '' }}</td>
          </template>
          <template #destination-filter>
            <input placeholder="Search by name" v-model="columnSearchKeys.destination.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #total_passes-filter>
            <input placeholder="Search by passes" v-model="columnSearchKeys.total_passes.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #total_time_all="{item}">
            <td>{{ item.total_time_all ? item.total_time_all : '00:00:00' }}</td>
          </template>
          <template #total_time_all-filter>
            <input placeholder="Search by time" v-model="columnSearchKeys.total_time_all.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #total_time_student="{item}">
            <td>{{ item.total_time_student ? item.total_time_student : '00:00:00' }}</td>
          </template>
          <template #total_time_student-filter>
            <input placeholder="Search by time" v-model="columnSearchKeys.total_time_student.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #total_time_proxy="{item}">
            <td>{{ item.total_time_proxy ? item.total_time_proxy : '00:00:00' }}</td>
          </template>
          <template #total_time_proxy-filter>
            <input placeholder="Search by time" v-model="columnSearchKeys.total_time_proxy.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #total_time_apt="{item}">
            <td>{{ item.total_time_apt ? item.total_time_apt : '00:00:00' }}</td>
          </template>
          <template #total_time_apt-filter>
            <input placeholder="Search by time" v-model="columnSearchKeys.total_time_apt.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>

          <template #total_time_ksk="{item}">
            <td>{{ item.total_time_ksk ? item.total_time_ksk : '00:00:00' }}</td>
          </template>
          <template #total_time_ksk-filter>
            <input placeholder="Search by time" v-model="columnSearchKeys.total_time_ksk.value" @input="searchByQuery($event.target.value, 'column')" class="form-control form-control-sm">
          </template>
        </DataTable>

        <CPagination
          class="cs-pagination mt-4"
          :dots="false"
          :doubleArrows="true"
          v-if="pagination && pagination.pages && pagination.pages>1 && !isLazyLoadingMode"
          :activePage.sync="pagination.activePage"
          :pages="pagination.pages"
          size="lg"
          align="center"
          @update:activePage="setActivePage">
          <template #last-button>
            <i class="flaticon-right-arrow-1"></i>
          </template>
          <template #first-button>
            <i class="flaticon-left-arrow-2"></i>
          </template>
          <template #previous-button>
            <i class="fi flaticon-left-arrow-1"></i>
          </template>
          <template #next-button>
            <i class="fi flaticon-chevron"></i>
          </template>
        </CPagination>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>
  import Loader from '@/components/Loader';
  import LazyLoadSelect from '@/components/LazyLoadSelect.vue';

  import {
    mapGetters
  } from 'vuex';
  import {
    DatePicker
  } from 'v-calendar';
  import moment from 'moment-timezone';
import PerPageSelector from '../PerPageSelector.vue';

  export default {
    name: "SummaryReportsDataTable",
    components: {
      Loader,
      'v-date-picker': DatePicker,
      LazyLoadSelect,
      PerPageSelector
    },
    data() {
      return {
        isLoading: false,
        searchTimeOut: null,
        isLazyLoadingMode: false,
        today: moment().format('MMM DD YYYY'),
        filterParams: {
          search_id: '',
          search_query: '',
          sort_query: '',
          aggregate_by: '',
          by_pass_types: '',
          by_grad_year: [],
          student_ids: [],
          teacher_ids: [],
          room_ids: [],
          dates: {
            start: moment().subtract(30, 'days')._d,
            end: moment()._d
          },
          by_grade_years: [],
        },
        dataTableFields: [{
            key: 'destination',
            label: 'Destinations',
            type: 'tabular',
            _style:'min-width:150px',
          },
          {
            key: 'total_passes',
            label: 'Total Pass',
            type: 'tabular',
            _style:'min-width:150px',
          },
          {
            key: 'total_time_all',
            label: 'Total Time',
            type: 'tabular',
            _style:'min-width:150px',
          },
          {
            key: 'total_time_student',
            label: 'STU',
            type: 'tabular'
          },
          {
            key: 'total_time_proxy',
            label: 'TCH(PRX)',
            type: 'tabular'
          },
          {
            key: 'total_time_apt',
            label: 'APT',
            type: 'tabular'
          },
          {
            key: 'total_time_ksk',
            label: 'KSK',
            type: 'tabular'
          },
        ],
        aggregateByOptions: [
            {
              value: 'highest_pass_destination',
              label: 'Locations (pass destination)'
            },
            {
              value: 'highest_pass_granters',
              label: 'Adults (pass granters)'
            },
            {
              value: 'highest_pass_takers',
              label: 'Students (pass takers)'
            }
        ],
        passTypesOptions: [
            {
              value: 'ALL',
              label: 'All Passes'
            },
            {
              value: 'TCH',
              label: 'Teacher Pass (Proxy Pass)'
            },
            {
              value: 'APT',
              label: 'Appointment Pass'
            },
            {
              value: 'STU',
              label: 'Student Created Pass'
            },
            {
              value: 'KSK',
              label: 'Kiosk Pass'
            }
        ],
        pagination: {
          activePage: 1,
          total: 0,
          pages: 0,
          per_page: {label:'25', value: 25}
        },
        tableTabs: [{
          label: "Summary Reports",
          value: 'summary-reports'
        }],
        activeTableTab: {
          value: 'summary-reports'
        },
        reqResponse: {
          type: "",
          message: "",
          errors: {}
        },
        calendar: {
          isCalendarVisible: false,
          isRangesVisible: false,
          activeRange: {
            label: 'Last 30 days',
            range:{
              start: moment().subtract(30, 'days')._d,
              end: moment()._d
            }
          }
        },
        optionalDateRanges: [{
          label: 'Today',
          range:{
            start: moment()._d,
            end: moment()._d
          }
        },
        {
          label: 'Yesterday',
          range:{
            start: moment().subtract(1, 'days')._d,
            end: moment().subtract(1, 'days')._d,
          }
        },
        {
          label: 'Last 7 days',
          range:{
            start: moment().subtract(7, 'days')._d,
            end: moment()._d
          }
        },
        {
          label: 'Last 14 days',
          range:{
            start: moment().subtract(14, 'days')._d,
            end: moment()._d
          }
        },
        {
          label: 'Last 30 days',
          range:{
            start: moment().subtract(30, 'days')._d,
            end: moment()._d
          }
        },
        {
          label: 'This month',
          range:{
            start: moment().startOf('month')._d,
            end: moment()._d
          }
        },
        {
          label: 'This year',
          range:{
            start: moment().startOf('year')._d,
            end: moment()._d
          }
        },
        {
          label: 'Custom range',
          range: null
        }],
        columnSearchKeys: {
          globalQuery: '',
          destination: {value:'', column: ['destination.name'], sortBy: 'destination.name'},
          total_passes: {value:'', column: ['total_passes'], sortBy: 'total_passes.raw_int'},
          total_time_all: {value:'', column: ['total_time_all'], sortBy: 'total_time_all'},
          total_time_student: {value:'', column: ['total_time_student'], sortBy: 'total_time_student'},
          total_time_proxy: {value:'', column: ['total_time_proxy'], sortBy: 'total_time_proxy'},
          total_time_apt: {value:'', column: ['total_time_apt'], sortBy: 'total_time_apt'},
          total_time_ksk: {value:'', column: ['total_time_ksk'], sortBy: 'total_time_ksk'},
        },
      }
    },
    created() {
      this.initDataSet();
      this.handleReports(1, false, false, true);
    },
    mounted(){
      this.initLazyLoading();
    },
    destroyed() {
      this.$store.commit('summaryReports/SET_SUMMARY_REPORTS', null);
    },
    computed: {
      ...mapGetters({
        summaryReports: 'summaryReports/summaryReports'
      }),
      gradeYears() {
        let gradeYears = [];
        let currentYear = new Date().getFullYear();
        for (let i = 0; i < currentYear - 2016; i++) {
          gradeYears.push({
            value: [2016 + i, 2017 + i],
            label: `${2016 + i}-${17 + i}`
          });
        }
        return gradeYears;
      },
      gradYears() {
        let gradeYears = [];
        let currentYear = new Date().getFullYear();
        for (let i = 0; i < currentYear - 2016; i++) {
          gradeYears.push({
            value: 2016 + i,
            label: `${2016 + i}`
          });
        }
        return gradeYears;
      },
      maxDate(){
        return new Date().getFullYear() === this.filterParams.by_grade_years.value[1] ? this.today : new Date(this.filterParams.by_grade_years.value[1],11,31);
      },
      minDate(){
        return new Date(this.filterParams.by_grade_years.value[0],0,1);
      },
    },
    methods: {
      handleReports(page, isExport, isLazyLoadingMode, isAdvancedSearch) {
        this.pagination.activePage = page ? page : 1;
        let params = {
          per_page: this.pagination.per_page.value,
          page: this.pagination.activePage,
        };
        if(this.filterParams.search_query){
          params.search_query = this.filterParams.search_query;
        }
        if(this.filterParams.sort_query){
          params.sort = this.filterParams.sort_query;
        }
        if(this.filterParams.search_id){
          params.search_id = this.filterParams.search_id;
        }
        if(isExport){
          this.exportSummaryReports(params);
        }else{
          this.getSummaryReports(params, isLazyLoadingMode, isAdvancedSearch);
        }
      },
      getSummaryReports(data, isLazyLoadingMode, isAdvancedSearch) {
        this.isLoading = true;
        if(isAdvancedSearch){
          let params = {
            aggregate_by: this.filterParams.aggregate_by,
            teacher_ids: this.filterParams.teacher_ids.length ? this.filterParams.teacher_ids.map(el => el.value.id) : this.filterParams.teacher_ids,
            student_ids: this.filterParams.student_ids.length ? this.filterParams.student_ids.map(el => el.value.id) : this.filterParams.student_ids,
            room_ids: this.filterParams.room_ids.length ? this.filterParams.room_ids.map(el => el.value.id) : this.filterParams.room_ids,
            by_pass_types: this.filterParams.by_pass_types,
            by_grad_year: this.filterParams.by_grad_year,
            from_date: this.filterParams.dates.start ? this.filterParams.dates.start : null,
            to_date: this.filterParams.dates.end ? this.filterParams.dates.end : null,
            per_page: this.pagination.per_page.value,
            page: this.pagination.activePage,
          };

          this.isLoading = true;
            this.$store.dispatch('summaryReports/getSummaryReports', params).then((response) => {
              let responseData = response.data.data;
              if(responseData && responseData.search_id){
                this.filterParams.search_id = responseData.search_id;
                let params = {...data, search_id: responseData.search_id};
                this.getSummaryReportsResults(params, isLazyLoadingMode);
              }
              this.isLoading = false;
            })
            .catch((err) => {
              this.isLoading = false;
            });

        }else{
          this.getSummaryReportsResults(data, isLazyLoadingMode);
        }
      },
      getSummaryReportsResults(data,isLazyLoadingMode){
        this.$store.dispatch('summaryReports/getSummaryReportsResults', data).then((response) => {
          let data = response.data;
          if (data.data) {
            if(isLazyLoadingMode){
              this.$store.commit('summaryReports/PUSH_SUMMARY_REPORTS', data.data);
            }else{
              this.$store.commit('summaryReports/SET_SUMMARY_REPORTS', data.data);
            }
          }
          if(data.meta){
            this.pagination.total = data.meta.total;
            this.pagination.from = data.meta.from
            this.pagination.to = data.meta.to
            this.pagination.pages = Math.ceil(data.meta.total / data.meta.per_page);
            this.pagination.activePage = Number(this.pagination.activePage);
            this.pagination = JSON.parse(JSON.stringify(this.pagination));
          }
          this.isLoading = false;
        })
        .catch((err) => {
          this.isLoading = false;
        });
      },
      exportSummaryReports(data) {
        let params = {
            aggregate_by: this.filterParams.aggregate_by,
            teacher_ids: this.filterParams.teacher_ids.length ? this.filterParams.teacher_ids.map(el => el.value.id) : this.filterParams.teacher_ids,
            student_ids: this.filterParams.student_ids.length ? this.filterParams.student_ids.map(el => el.value.id) : this.filterParams.student_ids,
            room_ids: this.filterParams.room_ids.length ? this.filterParams.room_ids.map(el => el.value.id) : this.filterParams.room_ids,
            by_pass_types: this.filterParams.by_pass_types,
            by_grad_year: this.filterParams.by_grad_year,
            from_date: this.filterParams.dates.start ? this.filterParams.dates.start : null,
            to_date: this.filterParams.dates.end ? this.filterParams.dates.end : null,
            search_id: this.filterParams.search_id,
            ...data
        };
        
        this.isLoading = true;
        this.$store.dispatch('summaryReports/getSummaryReportsResults', {export_csv:true, ...params})
          .then((response) => {
            if (response.data) {
              this.downloadCSVExport(response.data);
            }
            this.isLoading = false;
          })
          .catch((err) => {
            this.isLoading = false;
          });
      },
      downloadCSVExport(data) {
        let csvDataForExport = 'data:text/csv;charset=utf-8,' + data;
        let encodedUri = encodeURI(csvDataForExport);
        let link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("target", "_blank");
        link.setAttribute("download", "summary_reports.csv");
        document.body.appendChild(link);
        link.click();
      },
      clearFilter(){
        this.resetSearchQuery();
        this.clearFilterParams();
        this.handleReports(1, false, false, true);
      },
      clearFilterParams() {
        this.filterParams = {
          search_id: this.filterParams.search_id,
          search_query: this.filterParams.search_query,
          sort_query: this.filterParams.sort_query,
          aggregate_by: this.aggregateByOptions[0].value,
          teacher_ids: [],
          student_ids: [],
          by_grad_year: [],
          room_ids: [],
          by_pass_types: this.passTypesOptions[0].value,
          by_grade_years: this.gradeYears ? this.gradeYears[this.gradeYears.length-1] : this.filterParams.by_grade_years,
          dates: {
            start: moment().subtract(30, 'days')._d,
            end: moment()._d
          },
        }
      },
      setPerPage(option) {
        if(option){
          this.isLazyLoadingMode = option.label === 'All entries';
          this.pagination.per_page = option;
          this.handleReports();
        }
      },
      setCalendarDates(){
        this.filterParams.dates = {
          start: this.minDate,
          end: this.maxDate
        }
        this.calendar.activeRange = this.optionalDateRanges[4];
      },
      onContainerClick(e){
        let target = e.target;
        let classList = target.classList.contains('date-calendar-option') || target.classList.contains('flaticon-calendar') || target.classList.contains('field-icon');
        if(target && !classList){
          this.calendar.isRangesVisible = false;
        }
      },
      showCalendarRanges(hidePopover, togglePopover){
        if(this.calendar.isCalendarVisible){
          hidePopover();
        }
        let isCurrentRange = (this.filterParams.by_grade_years && this.filterParams.by_grade_years.value[1] === new Date().getFullYear());
        this.calendar.isRangesVisible = isCurrentRange;
        this.calendar.isCalendarVisible = !isCurrentRange;
        if(this.calendar.isCalendarVisible){
          togglePopover();
        }
      },
      setCalendarRange(range, togglePopover){
        let isCustomRange = (range && range.label == 'Custom range');

        this.calendar.isCalendarVisible = isCustomRange;
        this.calendar.isRangesVisible = false; // !isCustomRange

        this.calendar.activeRange = range;
        this.filterParams.dates = range.range ? range.range : this.filterParams.dates;

        if(this.calendar.isCalendarVisible){
          togglePopover();
        }
      },
      searchByQuery(value, type){
        clearInterval(this.searchTimeOut);
        this.searchTimeOut = setTimeout(() => {
          this.handleQuerySearch(value, type);
        }, 500);
      },
      handleQuerySearch(value, type){
        let query = value.toString();
        if(query.replace(/\s/g, '').length > 0 || query.replace(/\s/g, '').length === 0){
          this.filterParams.search_query = '';
          if(type && type === 'column'){
            this.columnSearchKeys.globalQuery = "";
            for (const key in this.columnSearchKeys) {
              if (Object.hasOwnProperty.call(this.columnSearchKeys, key)) {
                let columnData = this.columnSearchKeys[key];
                if(columnData.value){
                  columnData.column.forEach(col => {
                    this.filterParams.search_query = this.filterParams.search_query + `${col}:"${columnData.value}", `;
                  });
                }
              }
            }
            this.filterParams.search_query = this.filterParams.search_query.slice(0, -2);
          }else{
            this.resetSearchQuery();
            this.columnSearchKeys.globalQuery = query;
            this.filterParams.search_query = query ?  '"' + query + '"' : query;
          }
          this.handleReports();
        }
      },
      sortByColumn(column){
        let columnName = this.columnSearchKeys[column.column] ? this.columnSearchKeys[column.column].sortBy : column.column;
        this.filterParams.sort_query = `${columnName}:${column.asc ? 'asc' : 'desc'}`;
        this.handleReports();
      },
      resetSearchQuery(){
        this.filterParams.search_query = '';
        this.columnSearchKeys = {
          globalQuery: '',
          destination: {value:'', column: ['destination.name'], sortBy: 'destination.name'},
          total_passes: {value:'', column: ['total_passes'], sortBy: 'total_passes.raw_int'},
          total_time_all: {value:'', column: ['total_time_all'], sortBy: 'total_time_all'},
          total_time_student: {value:'', column: ['total_time_student'], sortBy: 'total_time_student'},
          total_time_proxy: {value:'', column: ['total_time_proxy'], sortBy: 'total_time_proxy'},
          total_time_apt: {value:'', column: ['total_time_apt'], sortBy: 'total_time_apt'},
          total_time_ksk: {value:'', column: ['total_time_ksk'], sortBy: 'total_time_ksk'},
        };
      },
      initLazyLoading(){
        let body = document.getElementsByClassName('main-scroll-container')[0];
        if(body){
          body.onscroll = () => {
            if(this.isLazyLoadingMode && this.passHistories && this.passHistories.length && this.pagination.total > this.passHistories.length){
              if(body.offsetHeight + body.scrollTop >= body.scrollHeight) {
                this.pagination.activePage = this.pagination.activePage + 1;
                this.requestPassHistory(this.pagination.activePage, false, true);
              }
            }
          }
        }
      },
      initDataSet(){
        this.filterParams.by_grade_years = this.gradeYears ? this.gradeYears[this.gradeYears.length-1] : this.filterParams.by_grade_years;
        this.filterParams.by_pass_types = this.passTypesOptions[0].value;
        this.filterParams.aggregate_by = this.aggregateByOptions[0].value;
      },
      setActivePage(){
        this.handleReports(this.pagination.activePage);
        this.$helpers.scrollToTop();
      },
      advancedFilter(){
        this.filterParams.sort_query = '';
        this.resetSearchQuery();
        this.handleReports(1, false, false, true);
      },
    }
  }

</script>
