<template>
  <CContainer fluid class="datatable-container">
    <Loader :isProcessing="isLoading"/>
    <!-- User avatar modal -->
        <CModal :show="!!(activeAvatar)" :closeOnBackdrop="false">
          <template #header-wrapper>
            <div class="pt-4 px-4 create-popup-header">
              <div @click="activeAvatar = null"
                class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span
                  class="close-icon"></span></div>
            </div>
          </template>
          <div v-if="activeAvatar" class="pb-3 px-3">
            <img class="img-fluid" :src="activeAvatar" alt="">
          </div>
          <template #footer-wrapper>
            <div></div>
          </template>
        </CModal>
    <CRow class="mt-5">
      <CCol>
        <div class="table-tabs-header mb-2 bg-white d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">

            <div class="mr-4">
              <div v-for="(tab, index) in tableTabs" :key="index" class="table-tab"
                  :class="{'active' : tab.value === activeTableTab.value}">{{ tab.label }}
              </div>
            </div>

            <div v-if="authTypes" class="d-flex justify-content-center">
                <div v-for="(authType, index) in authTypes" :key="index" class="auth-type-icon">
                    <span v-if="authType.icon" :class="'flaticon-' + authType.icon" :title="authType.title">
                      <span v-if="authType.html" v-html="authType.html"></span>
                    </span>
                </div>
            </div>

        </div>

          <div class="actions d-flex align-items-center">
            <div
              @click="handleUsers(pagination.activePage, false, false, true)"
              class="lh-normal cursor-pointer text-accent-blue-light ml-2 ml-sm-0">
              <i class="fi flaticon-download mr-1"></i> <span class="d-none d-md-inline-block">Download CSV</span>
            </div>
            <CInput
              class="search-field mb-0 ml-2 ml-md-4"
              placeholder="Search"
              @input="searchByQuery"
              :value.sync="columnSearchKeys.globalQuery"
            >
              <template #prepend-content>
                <div @click="searchByQuery()">
                  <i class="flaticon-magnifying-glass"></i>
                </div>
              </template>
            </CInput>
          </div>
        </div>
        <div class="status-guides-container d-flex flex-wrap">
          <div class="d-flex align-items-center actions pl-0 pl-sm-3 mb-3 mb-sm-0">
              <input type="checkbox" class="mr-2" @change="selectUsers($event)">

              <CButton @click="inviteBulk()" class="mr-2 p-small bg-gradient-blue gradient-btn">
                <span class="btn bg-white px-3 py-1 text-uppercase"><b class="text-graident-blue">Reset Password</b></span>
              </CButton>

              <CButton @click="archiveBulk()" class="mr-2 p-small bg-gradient-blue gradient-btn">
                <span class="btn bg-white px-3 py-1"><b class="text-graident-blue text-uppercase">Archive</b></span>
              </CButton>
          </div>

          <per-page-selector :action="setPerPage" :pagination="pagination"/>
        </div>

        <DataTable
          class="datatable bg-white"
          :items="users"
          :fields="dataTableFields"
          :column-filter="true"
          :sorter='{ external: true }'
          @update:sorter-value="sortByColumn"
          :noItemsView='{ noResults: "No items available", noItems: "No items available" }'>
          <template #sorting-icon="{state}">
            <div class="table-order-icons">
              <font-awesome-icon icon="caret-up" :class="[state=='desc'?'text-black':'text-black-50',]"/>
              <font-awesome-icon icon="caret-down" :class="[state=='asc'?'text-black':'text-black-50']"/>
            </div>
          </template>

          <template #select="{item}">
            <td class="mw-auto">
              <input type="checkbox" :value="item.id" v-model="selectedUsers">
            </td>
          </template>

          <template #new="{item}">
            <td class="mw-auto">
              <button v-if="!item.is_synced" class="px-3 py-1 btn btn-unarchive d-flex align-items-center border-0"
                      @click="recreateUser(item)">
                <span class="flaticon-back-arrow"></span>
                <span class="ml-1 text-uppercase font-weight-bold">Sync</span>
              </button>

              <b v-if="getUserStatus(item)" class="px-3 py-2 bg-gradient-blue reverse text-white font-weight-bold text-uppercase"
                  :style="`border-radius: 13.5px;font-size:11px;display: inline-block; width: ${getUserStatus(item).length > 7 ? '100px' : 'auto'}`">{{getUserStatus(item)}}</b>
            </td>
          </template>

          <template #first_name="{item}">
            <td @click="showAvatar(item.avatar)" :class="{'text-accent-blue-light font-weight-bold cursor-pointer' : item.avatar}">{{item.first_name}}</td>
          </template>

          <template #last_name="{item}">
            <td @click="showAvatar(item.avatar)" :class="{'text-accent-blue-light font-weight-bold cursor-pointer' : item.avatar}">{{item.last_name}}</td>
          </template>

          <template #first_name-filter>
            <input v-model="columnSearchKeys.first_name.value" @input="searchByQuery($event.target.value, 'column')"
                   class="form-control form-control-sm">
          </template>

          <template #last_name-filter>
            <input v-model="columnSearchKeys.last_name.value" @input="searchByQuery($event.target.value, 'column')"
                   class="form-control form-control-sm">
          </template>

          <template #email="{item}">
            <td>
              {{ item.email ? item.email : '' }}
            </td>
          </template>

          <template #email-filter>
            <input v-model="columnSearchKeys.email.value" @input="searchByQuery($event.target.value, 'column')"
                   class="form-control form-control-sm">
          </template>

          <template #action="{item}">
            <td class="mw-auto">
              <button @click="editUser(item)" class="btn btn-edit mr-2 px-2 py-1"><i class="flaticon-edit mr-2"></i> edit</button>
            </td>
          </template>

          <template #status="{item}">
            <td class="d-flex flex-column text-center justify-content-center my-auto">
              <b class="limit-status no-target" :class="item.status ? 'active' : 'inactive-gray'">{{item.status ? 'active' : 'inactive'}}</b>
            </td>
          </template>

          <template #role_id="{item}">
            <td>
              {{ item.current_role_in_school ? item.current_role_in_school.name: '' }}
            </td>
          </template>

          <template #role_id-filter>
            <input v-model="columnSearchKeys.role_id.value" @input="searchByQuery($event.target.value, 'column')"
                   class="form-control form-control-sm">
          </template>

          <template #grade_year="{item}">
            <td>
              {{ item.grade_year ? item.grade_year : '' }}
            </td>
          </template>

          <template #grade_year-filter>
            <input v-model="columnSearchKeys.grade_year.value" @input="searchByQuery($event.target.value, 'column')"
                   class="form-control form-control-sm">
          </template>

          <template #auth_type="{item}">
            <td>
              {{ getAuthType(item.auth_type) }}
            </td>
          </template>

          <template #auth_type-filter>
            <input v-model="columnSearchKeys.auth_type.value" @input="searchByQuery($event.target.value, 'column')"
                   class="form-control form-control-sm">
          </template>

          <template #web_last_login_at="{item}">
            <td class="text-center">
              {{ item.web_last_login_at ? item.web_last_login_at : 'None' }}
            </td>
          </template>
          <template #web_last_login_at-filter>
            <input v-model="columnSearchKeys.web_last_login_at.value" @input="searchByQuery($event.target.value, 'column')"
                   class="form-control form-control-sm">
          </template>

          <template #mobile_last_login_at="{item}">
            <td class="text-center">
              {{ item.mobile_last_login_at ? item.mobile_last_login_at : 'None' }}
            </td>
          </template>
          <template #mobile_last_login_at-filter>
            <input v-model="columnSearchKeys.mobile_last_login_at.value" @input="searchByQuery($event.target.value, 'column')"
                   class="form-control form-control-sm">
          </template>

          <template #mobile_last_used_at="{item}">
            <td class="text-center">
              {{ item.mobile_last_used_at ? item.mobile_last_used_at : 'None' }}
            </td>
          </template>
          <template #mobile_last_used_at-filter>
            <input v-model="columnSearchKeys.mobile_last_used_at.value" @input="searchByQuery($event.target.value, 'column')"
                   class="form-control form-control-sm">
          </template>

          <template #kiosk_pin="{item}">
            <td class="mw-auto lh-normal text-center">
              {{ item.kiosk_users && item.kiosk_users.kpassword? 'Y' : '' }}
            </td>
          </template>
        </DataTable>

        <CPagination
          class="cs-pagination mt-4"
          :dots="false"
          :doubleArrows="true"
          v-if="pagination && pagination.pages && pagination.pages>1 && !isLazyLoadingMode"
          :activePage.sync="pagination.activePage"
          :pages="pagination.pages"
          size="lg"
          align="center"
          @update:activePage="setActivePage">
          <template #last-button>
            <i class="flaticon-right-arrow-1"></i>
          </template>
          <template #first-button>
            <i class="flaticon-left-arrow-2"></i>
          </template>
          <template #previous-button>
            <i class="fi flaticon-left-arrow-1"></i>
          </template>
          <template #next-button>
            <i class="fi flaticon-chevron"></i>
          </template>
        </CPagination>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>
import Loader from '@/components/Loader'
import {mapGetters} from 'vuex';
import moment from 'moment-timezone';
import PerPageSelector from '../PerPageSelector.vue';

export default {
  name: "UsersDataTable",
  components: {
    Loader,
    PerPageSelector,
  },
  data() {
    return {
      isLazyLoadingMode: false,
      isLoading: false,
      formData: {
        loginType: [
          {
            value: 1,
            label: 'InHouse SSO'
          },
          {
            value: 10,
            label: 'Google'
          },
          {
            value: 20,
            label: 'Microsoft'
          },
          {
            value: 101,
            label: 'ClassLink'
          },
          {
            value: 102,
            label: 'Clever'
          },
          {
            value: 103,
            label: 'GG4L'
          }
        ],
      },
      selectedUsers: [],
      pagination: {
        activePage: 1,
        total: 0,
        pages: 0,
        per_page: {label: '25', value: 25}
      },
      tableTabs: [{
        label: "Users", value: 'users'
      }],
      activeTableTab: {
        value: 'users'
      },
      filterParams: {
        sort_query: '',
        searchQuery: '',
      },
      dataTableFields: [
        {key: 'select', label: '', filter: false},
        {key: 'new', label: 'New', filter: false},
        {key: 'action', label: 'Action', filter: false},
        {key: 'first_name', _style:'min-width:120px', label: 'First Name'},
        {key: 'last_name', _style:'min-width:120px', label: 'Last Name'},
        {key: 'email', _style:'min-width:100px', label: 'Email'},
        {key: 'role_id', label: 'Role'},
        {key: 'grade_year', _style:'min-width:150px', label: 'Grad Year'},
        {key: 'auth_type', _style:'min-width:150px', label: 'Login type'},

        {key: 'web_last_login_at', label: 'Web Last Login', _style: "min-width:180px"},
        {key: 'mobile_last_login_at', label: 'Mobile Last Login', _style: "min-width:180px"},
        {key: 'mobile_last_used_at', label: 'Mobile Last Used', _style: "min-width:180px"},

        {key: 'status', label: 'Status', filter: false},
        {key: 'kiosk_pin', label: 'Kiosk PW', _style:'min-width:100px', filter: false},
      ],
      columnSearchKeys: {
        globalQuery: '',
        first_name: {value: '', column: ['first_name'], sortBy: 'first_name'},
        last_name: {value: '', column: ['last_name'], sortBy: 'last_name'},
        email: {value: '', column: ['email'], sortBy: 'email'},
        role_id: {value: '', column: ['role_user.name'], sortBy: 'role_user.name'},
        grade_year: {value: '', column: ['grade_year'], sortBy: 'grade_year'},
        auth_type: {value: '', column: ['auth_type_name'], sortBy: 'auth_type'},
        web_last_login_at: {value: '', column: ['web_last_login_at.raw'], sortBy: 'web_last_login_at'},
        mobile_last_login_at: {value: '', column: ['mobile_last_login_at.raw'], sortBy: 'mobile_last_login_at'},
        mobile_last_used_at: {value: '', column: ['mobile_last_used_at.raw'], sortBy: 'mobile_last_used_at'},

      },
      allAuthTypes: [
        {
          id: 0,
          icon: 'user',
          title: 'Manual'
        },
        {
          id: 10,
          icon: 'google',
          title: 'Google',
          html: '<span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>'
        },
        {
          id: 20,
          icon: 'microsoft',
          title: 'Microsoft',
          html: '<span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span>'
        },
        {
          id: 101,
          icon: 'sso',
          title: 'ClassLink',
        },
        {
          id: 102,
          icon: 'clever',
          title: 'Clever',
        },
        {
          id: 103,
          icon: 'gg4l',
          title: 'GG4L'
        },
      ],
      activeAvatar: null
    }
  },
  computed: {
    ...mapGetters({
      users: 'users/users',
      authProviders: 'schools/activeSchoolAuthProviders',
      user: 'authentication/user'
    }),
    authTypes(){
      return this.authProviders ? this.allAuthTypes.filter(el => this.authProviders.includes(el.id)) : null;
    }
  },
  mounted() {
    this.initLazyLoading();
    this.handleUsers();
  },
  methods: {
    initLazyLoading() {
      let body = document.getElementsByClassName('c-body')[0];
      if (body) {
        body.onscroll = () => {
          if (this.isLazyLoadingMode && this.users && this.users.length && this.pagination.total > this.users.length) {
            if (body.offsetHeight + body.scrollTop >= body.scrollHeight) {
              this.pagination.activePage = this.pagination.activePage + 1;
              this.handleUsers(this.pagination.activePage, true);
            }
          }
        }
      }
    },
    handleUsers(page, isLazyLoadingMode, noLoader, isExport) {
      this.isLoading = !noLoader;
      this.pagination.activePage = page ? page : 1;
      let params = {
        page: this.pagination.activePage,
        per_page: this.pagination.per_page.value,
        archived: false,
      };
      if(this.filterParams.sort_query){
        params.sort = this.filterParams.sort_query;
      }
      if(this.filterParams.searchQuery){
        params.search_query = this.filterParams.searchQuery;
      }
      if(isExport){
        this.exportUsers(params);
      }else{
        this.getUsers(params, isLazyLoadingMode);
      }
    },
    getUsers(params, isLazyLoadingMode) {
      this.$store.dispatch('users/getUsers', params)
      .then((response) => {
        let data = response.data;
        if (isLazyLoadingMode) {
          this.$store.commit('users/PUSH_USERS', data.data);
        } else {
          this.$store.commit('users/SET_USERS', data.data);
        }
        let meta = data.meta;
        if (meta) {
           this.pagination.total = meta.total;
            this.pagination.from = meta.from
            this.pagination.to = meta.to
            this.pagination.pages = Math.ceil(meta.total / meta.per_page);
            this.pagination.activePage = Number(this.pagination.activePage);
            this.pagination = JSON.parse(JSON.stringify(this.pagination));
        }
        this.isLoading = false;
      })
      .catch((err) => {
        this.isLoading = false;
      });
    },
    selectUsers(e) {
      if (e.target.checked) {
        this.selectedUsers = [];
        this.users.forEach(user => {
          this.selectedUsers.push(user.id);
        })
      } else {
        this.selectedUsers = [];
      }
    },
    inviteBulk() {
      this.$store.dispatch('users/inviteBulk', {users: this.selectedUsers})
        .then(() => {
          this.handleUsers();
          this.selectedUsers = [];
        });
    },
    archiveBulk() {
      this.$store.dispatch('users/archiveBulk', {users: this.selectedUsers.join()})
        .then(() => {
          setTimeout(() => {
            this.handleUsers();
          }, 500);
          this.selectUsers = [];
        });
    },
    exportUsers(params) {
      this.isLoading = true;
      this.$store.dispatch('users/exportUsers', {...params, is_substitute: false, is_archived: false})
        .then((response) => {
          if (response.data) {
            this.downloadCSVExport(response.data);
          }
          this.isLoading = false;
        })
        .catch((err) => {
          this.isLoading = false;
        });
    },
    downloadCSVExport(data) {
      let csvDataForExport = 'data:text/csv;charset=utf-8,' + data;
      let encodedUri = encodeURI(csvDataForExport);
      let link = document.createElement("a");
      link.setAttribute("href", encodedUri);
      link.setAttribute("target", "_blank");
      link.setAttribute("download", "users.csv");
      document.body.appendChild(link);
      link.click();
    },
    editUser(user) {
      this.$emit('setUserEditable');
      this.$store.commit('users/SET_EDITABLE_USER', user);
      let topPosition = document.getElementById('user-manage-form-container').offsetParent.offsetTop;
      this.$helpers.scrollToTop(topPosition ? topPosition - 100 : 0);
    },
    recreateUser(user) {
      this.$store.dispatch('users/recreateUser', user)
        .then((response) => {
          this.resetForm();
        })
        .catch((err) => {
          this.isLoading = false;
          let response = err.response.data;
          this.setErrorResponse(response.message, response.errors);
        });
    },
    sortByColumn(column) {
      let columnName = this.columnSearchKeys[column.column] ? this.columnSearchKeys[column.column].sortBy : column.column;
      this.filterParams.sort_query = `${columnName}:${column.asc ? 'asc' : 'desc'}`;
      if(column.column == 'role_id'){
        this.filterParams.searchQuery = this.filterParams.searchQuery.includes('role_user.pivot.school_id') ? this.filterParams.searchQuery : this.filterParams.searchQuery ? this.filterParams.searchQuery +  `,role_user.pivot.school_id:${this.user.school_id}` : `role_user.pivot.school_id:${this.user.school_id}`;
      }
      this.handleUsers();
    },
    isCreatedToday(date) {
      return moment(date).isSame(moment(), 'd');
    },
    getAuthType(id) {
      switch (id) {
        case 1:
          return 'Manual';
        case 10:
          return 'Google';
        case 20:
          return 'Microsoft';
        case 101:
          return 'ClassLink';
        case 102:
          return 'Clever';
        case 103:
          return 'GG4L';
        default:
          return '';
      }
    },
    searchByQuery(value, type, minLetters) {
      clearInterval(this.searchTimeOut);
      this.searchTimeOut = setTimeout(() => {
        this.handleQuerySearch(value, type, minLetters);
      }, 500);
    },
    handleQuerySearch(value, type, minLetters) {
      let query = value.toString();
      let minLen = minLetters ? parseInt(minLetters) : 0;
      if (query.replace(/\s/g, '').length > minLen || query.replace(/\s/g, '').length === 0) {
        this.filterParams.searchQuery = '';
        if (type && type === 'column') {
          this.columnSearchKeys.globalQuery = "";
          for (const key in this.columnSearchKeys) {
            if (Object.hasOwnProperty.call(this.columnSearchKeys, key)) {
              let columnData = this.columnSearchKeys[key];
              if (columnData.value) {
                columnData.column.forEach(col => {
                  if(col == 'role_user.name'){
                    this.filterParams.searchQuery = this.filterParams.searchQuery + `role_user.pivot.school_id:${this.user.school_id}, `;
                  }
                  this.filterParams.searchQuery = this.filterParams.searchQuery + `${col}:"${columnData.value}", `;
                });
              }
            }
          }
          this.filterParams.searchQuery = this.filterParams.searchQuery.slice(0, -2);
        } else {
          this.resetSearchQuery();
          this.columnSearchKeys.globalQuery = query;
          this.filterParams.searchQuery = query ? '"' + query + '"' : query;
        }
        this.handleUsers(null, false);
      }
    },
    resetSearchQuery() {
      this.filterParams.searchQuery = '';
      this.columnSearchKeys = {
        globalQuery: '',
        first_name: {value: '', column: ['first_name'], sortBy: 'first_name'},
        last_name: {value: '', column: ['last_name'], sortBy: 'last_name'},
        email: {value: '', column: ['email'], sortBy: 'email'},
        role_id: {value: '', column: ['role_user.name'], sortBy: 'role_user.name'},
        grade_year: {value: '', column: ['grade_year'], sortBy: 'grade_year'},
        auth_type: {value: '', column: ['auth_type_name'], sortBy: 'auth_type'},
        web_last_login_at: {value: '', column: ['web_last_login_at.raw'], sortBy: 'web_last_login_at'},
        mobile_last_login_at: {value: '', column: ['mobile_last_login_at.raw'], sortBy: 'mobile_last_login_at'},
        mobile_last_used_at: {value: '', column: ['mobile_last_used_at.raw'], sortBy: 'mobile_last_used_at'},
      };
    },
    setPerPage(option) {
      if (option) {
        this.isLazyLoadingMode = option.label === 'All entries';
        this.pagination.per_page = option;
        this.handleUsers();
      }
    },
    matchAuthType(value) {
      if(!value.length) {
        this.columnSearchKeys.auth_type.value = '';
        this.searchByQuery('', 'column');
        return;
      }
      let authType = this.formData.loginType.filter(loginType => loginType.label.includes(value));
      if (authType.length) {
        this.columnSearchKeys.auth_type.value = authType[0].value;
        this.searchByQuery(authType[0].value, 'column');
      } else {
        this.columnSearchKeys.auth_type.value = '';
        this.searchByQuery('', 'column');
      }
    },
    refreshDataTable(){
      this.resetSearchQuery();
      this.handleUsers(1, false, true);
    },
    setActivePage(){
      this.handleUsers(this.pagination.activePage);
      this.$helpers.scrollToTop();
    },
    getUserStatus(user){
      if(!user.is_synced){
        return false;
      }
      else if(user.invited_at == null && user.send_invite==1){
        return 'IN PROGRESS';
      }else if(user.invited_at != null && user.send_invite==0){
        return 'INVITED';
      }else if(this.isCreatedToday(user.created_at) && user.is_synced){
        return 'ADDED'
      }
      return null;
    },
    showAvatar(avatar){
      this.activeAvatar = avatar;
    }
  }
}
</script>
