<template>
  <CRow class="justify-content-center">
    <CSpinner color="primary" v-if="isloading" />
    <CCol md="8" lg="6" v-if="activePass ==null && !isloading">
      <div>No Passes</div>
    </CCol>

    <CCol md="12" lg="12" v-if="!isloading && activePass">
      <div :class="[currentStatus]" class="active-pass rounded-30 pt-2">
        <div class="p-4" v-if="currentStatus == 'waiting'">
          <div class="bg-white p-3 rounded-30 d-flex justify-content-between align-items-center">
            <div class="text-black-50">
              Currently waiting for approval!
            </div>
            <div class="d-flex align-items-center flex-shrink-0">
              <div @click="showCancelModal=true;" class="text-black-50 d-flex align-items-center"
                v-if="activePass.type =='STU' || activePass.type =='TCH'">
                <i class="flaticon-forbidden text-red mr-1 mb-1"></i>Cancel Request</div>
              <div class="bg-red-gradient py-2 px-3 rounded-30 ml-2 text-center " style="width:100px;">
                {{ timeInRequest }}
              </div>
            </div>
          </div>
          <div class="bg-white rounded-30 d-flex flex-column justify-content-between align-items-center m-0 mt-3">
            <div class="active-pass-comments-cnt"
              v-if="activePass.parent?activePass.parent.comments.length:activePass.comments.length">
              <div class="font-weight-bold pb-1">Comments:</div>
              <div class="active-pass-comments pb-1"
                v-for="(item, index) in activePass.parent?activePass.parent.comments:activePass.comments" :key="index">
                <strong>[{{ $helpers.formatDate(item.created_at,'','h:mm A') }}]</strong>
                {{ item.comment }}
                <strong>({{ item.user.first_name +' '+ item.user.last_name  }})</strong>
              </div>
            </div>
            <div
              class="active-pass-timer bg-white rounded-30 d-flex align-items-center justify-content-center w-100 shadow text-red ">
              <span v-if="activePass.flags && activePass.flags.auto_pass && !activePass.flags.auto_pass.is_valid"
                class="flaticon-hour-glass-2-optimized">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span
                  class="path4"></span><span class="path5"></span><span class="path6"></span><span
                  class="path7"></span><span class="path8"></span><span class="path9"></span><span
                  class="path10"></span>
              </span>
              <div
                v-if="activePass.flags && activePass.flags.auto_pass && activePass.flags.auto_pass.is_valid && (activePass.flags.auto_pass.mode=='start_and_stop' || activePass.flags.auto_pass.mode=='start_only')"
                class="pt-3 text-green d-flex flex-column align-items-center">
                <i class="flaticon-play-circle " @click="autoApprove" />
                <spna class="font-sm">start</spna>
              </div>
              <div class="text-center" style="width: 280px;">
                {{ timeInPass }}
              </div>
              <div class="mt-2 text-danger comments-section-warning" v-if="pinAttemptsCount >= 3">
                This student is flagged for 3 unsuccessful PIN attempts
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white rounded-30 d-flex flex-column justify-content-between align-items-center m-3"
          v-if="currentStatus == 'approved'">
          <div class="active-pass-comments-cnt"
            v-if="activePass.parent?activePass.parent.comments.length:activePass.comments.length">
            <div class="font-weight-bold pb-1">Comments:</div>
            <div class="active-pass-comments pb-1"
              v-for="(item, index) in activePass.parent?activePass.parent.comments:activePass.comments" :key="index">
              <strong>[{{ $helpers.formatDate(item.created_at,'','h:mm A') }}]</strong>
              {{ item.comment }}
              <strong>({{ item.user.first_name +' '+ item.user.last_name  }})</strong>
            </div>
          </div>
          <div
            class="active-pass-timer bg-white rounded-30 d-flex align-items-center justify-content-center w-100 shadow text-green ">
            <i class="fi flaticon-check mr-3"
              v-if="activePass.flags && activePass.flags.auto_pass && !activePass.flags.auto_pass.is_valid"
              @click="(activePass.flags && activePass.flags.auto_check_in && activePass.flags.auto_check_in.is_valid==true)?showCheckInModal=true:''" />
            <div
              v-if="activePass.flags && activePass.flags.auto_pass && activePass.flags.auto_pass.is_valid && activePass.flags.auto_pass.mode=='start_and_stop'"
              class="pt-3 d-flex flex-column align-items-center text-red">
              <i class="flaticon-stop-circle" @click="autoPause" />
              <span class="font-sm ">stop</span>
            </div>
            <div class="text-center" style="width: 280px;">
              {{ timeInPass }}
            </div>
            <div class="auto-checkin text-green w-100 font-sm text-center"
              v-if="activePass.flags && activePass.flags.auto_check_in && activePass.flags.auto_check_in.is_valid==true"
              @click="showCheckInModal=true;">
              Check-in
            </div>
            <div class="mt-2 text-danger comments-section-warning" v-if="pinAttemptsCount >= 3">
              This student is flagged for 3 unsuccessful PIN attempts
            </div>
          </div>

        </div>
        <div class="bg-white rounded-30 d-flex flex-column justify-content-between align-items-center m-3"
          v-if="currentStatus == 'expired'">
          <div class="active-pass-comments-cnt"
            v-if="activePass.parent?activePass.parent.comments.length:activePass.comments.length">
            <div class="font-weight-bold pb-1">Comments:</div>
            <div class="active-pass-comments pb-1"
              v-for="(item, index) in activePass.parent?activePass.parent.comments:activePass.comments" :key="index">
              <strong>[{{ $helpers.formatDate(item.created_at,'','h:mm A') }}]</strong>
              {{ item.comment }}
              <strong>({{ item.user.first_name +' '+ item.user.last_name  }})</strong>
            </div>
          </div>
          <div
            class="active-pass-timer bg-white rounded-30 d-flex align-items-center justify-content-center w-100 shadow text-red">
            <span class="flaticon-finish-line-optimized mr-3"><span class="path1"></span><span
                class="path2"></span><span class="path3"></span><span class="path4"></span><span
                class="path5"></span><span class="path6"></span><span class="path7"></span><span
                class="path8"></span><span class="path9"></span><span class="path10"></span></span>
            {{ activePass.parent?activePass.parent.total_time:activePass.total_time }}
            <div class="mt-2 text-danger comments-section-warning" v-if="pinAttemptsCount >= 3">
              This student is flagged for 3 unsuccessful PIN attempts
            </div>
          </div>
        </div>
        <!-- Parent -->
        <div v-if="activePass.parent">
          <!-- P - Wating -->
          <hr class="bg-white" style="height:2px;" />
          <div class="d-flex justify-content-around px-4 px-xl-5" v-if="currentStatus == 'waiting'">
            <div class="from-cnt d-flex flex-column ">
              <span class="text-white pb-2 font-weight-bold"> From:</span>
              <div class="ft-data text-white ">
                {{ activePass.parent.from.first_name + ' '+ activePass.parent.from.last_name }}
              </div>
              <div class="approved-at text-white p-2 text-center" v-if="activePass.parent.approved_at">
                {{ $helpers.transformDate(activePass.parent.approved_at,'hh:mm A') }}
              </div>
              <div
                :class="[activePass.parent.from.id == activePass.parent.approved_by_user.id? 'bg-gray':'bg-red','approved-by','text-center']"
                v-if="activePass.parent.approved_by_user">
                {{ activePass.parent.approved_by_user.first_name + " " + activePass.parent.approved_by_user.last_name }}
              </div>
            </div>
            <div class="to-cnt d-flex flex-column ">
              <span class="text-white pb-2 font-weight-bold">To:</span>
              <div class="ft-data text-white">
                {{ activePass.parent.to.first_name + ' '+ activePass.parent.to.last_name }}
              </div>
              <div class="approved-at text-white p-2 text-center" v-if="activePass.parent.completed_at">
                {{  $helpers.transformDate(activePass.parent.completed_at,'hh:mm A') }}
              </div>
              <div
                :class="[activePass.parent.to.id == activePass.parent.completed_by_user.id? 'bg-gray':'bg-red','approved-by','text-center']"
                v-if="activePass.parent.completed_by_user">
                {{ activePass.parent.approved_by_user.first_name + " " + activePass.parent.approved_by_user.last_name }}
              </div>
            </div>
          </div>
          <!-- P - Approved -->
          <div class="d-flex justify-content-around px-4 px-xl-5" v-if="currentStatus == 'approved'">
            <div class="from-cnt d-flex flex-column ">
              <span class="text-white pb-2 font-weight-bold"> From:</span>
              <div class="ft-data text-white">
                {{ activePass.parent.from.name? activePass.parent.from.name:activePass.parent.from.first_name + ' '+ activePass.parent.from.last_name }}
              </div>
              <div class="approved-at text-white p-2 text-center" v-if="activePass.parent.approved_at">
                {{ $helpers.transformDate(activePass.parent.approved_at,'hh:mm A') }}
              </div>
              <div v-if="!activePass.parent.approved_with" class="text-center">
                <div
                  :class="[activePass.parent.from.user_ids_assigned.includes(activePass.parent.approved_by_user.id)? 'bg-gray':'bg-red','approved-by','text-center']"
                  v-if="activePass.parent.approved_by_user && activePass.parent.from_type=='App\\Models\\Room'">
                  {{ activePass.parent.approved_by_user.first_name + " " + activePass.parent.approved_by_user.last_name }}
                </div>
                <div :class="['bg-red','approved-by','text-center']"
                  v-if="activePass.parent.approved_by_user && activePass.parent.from.id != activePass.parent.approved_by_user.id && activePass.parent.from_type=='App\\Models\\User'">
                  {{ activePass.parent.approved_by_user.first_name + " " + activePass.parent.approved_by_user.last_name }}
                </div>
              </div>
              <div :class="['bg-gray','approved-by','text-center']" v-if="activePass.parent.approved_with">
                Auto Pass
              </div>
            </div>
            <div class="to-cnt d-flex flex-column ">
              <span class="text-white pb-2 font-weight-bold">To:</span>
              <div class="ft-data text-white">
                {{ activePass.parent.to.name? activePass.parent.to.name:activePass.parent.to.first_name + ' '+ activePass.parent.to.last_name }}
              </div>
              <div class="approved-at text-white p-2 text-center" v-if="activePass.parent.completed_at">
                {{ $helpers.transformDate(activePass.parent.completed_at,'hh:mm A')}}
              </div>
              <div v-if="!activePass.parent.ended_with" class="text-center">
                <div
                  :class="[activePass.parent.to.user_ids_assigned.includes(activePass.parent.completed_by_user.id)? 'bg-gray':'bg-red','approved-by','text-center']"
                  v-if="activePass.parent.completed_by_user && activePass.parent.to_type=='App\\Models\\Room'">
                  {{ activePass.parent.completed_by_user.first_name + " " + activePass.parent.completed_by_user.last_name }}
                </div>
                <div :class="['bg-red','approved-by','text-center']"
                  v-if="activePass.parent.completed_by_user && activePass.parent.to.id != activePass.parent.completed_by_user.id && activePass.parent.to_type=='App\\Models\\User'">
                  {{ activePass.parent.completed_by_user.first_name + " " + activePass.parent.completed_by_user.last_name }}
                </div>
              </div>
              <div :class="['bg-gray','approved-by','text-center']" v-if="activePass.parent.ended_with=='autopass'">
                Auto Pass
              </div>
              <div :class="['bg-gray','approved-by','text-center']" v-if="activePass.parent.ended_with=='checkin' ">
                Check-in
              </div>
            </div>
          </div>
          <!-- P - Expired -->
          <div class="d-flex justify-content-around px-4 px-xl-5" v-if="currentStatus == 'expired'">
            <div class="from-cnt d-flex flex-column ">
              <span class="text-white pb-2 font-weight-bold"> From:</span>
              <div class="ft-data text-white">
                {{ activePass.parent.from.name? activePass.parent.from.name:activePass.parent.from.first_name + ' '+ activePass.parent.from.last_name }}
              </div>
              <div class="approved-at text-white p-2 text-center" v-if="activePass.parent.approved_at">
                {{ $helpers.transformDate(activePass.parent.approved_at,'hh:mm A') }}
              </div>
              <div v-if="!activePass.parent.approved_with" class="text-center">
                <div
                  :class="[activePass.parent.from.user_ids_assigned.includes(activePass.parent.approved_by_user.id)? 'bg-gray':'bg-red','approved-by','text-center']"
                  v-if="activePass.parent.approved_by_user && activePass.parent.from_type=='App\\Models\\Room'">
                  {{ activePass.parent.approved_by_user.first_name + " " + activePass.parent.approved_by_user.last_name }}
                </div>
                <div :class="['bg-red','approved-by','text-center']"
                  v-if="activePass.parent.approved_by_user && activePass.parent.from_type=='App\\Models\\User' && activePass.parent.from.id != activePass.parent.approved_by_user.id">
                  {{ activePass.parent.approved_by_user.first_name + " " + activePass.parent.approved_by_user.last_name }}
                </div>
              </div>
              <div :class="['bg-gray','approved-by','text-center']" v-if="activePass.parent.approved_with">
                Auto Pass
              </div>
            </div>
            <div class="to-cnt d-flex flex-column ">
              <span class="text-white pb-2 font-weight-bold">To:</span>
              <div class="ft-data text-white ">
                {{ activePass.parent.to.name? activePass.parent.to.name:activePass.parent.to.first_name + ' '+ activePass.parent.to.last_name }}
              </div>
              <div class="approved-at text-white p-2 text-center" v-if="activePass.parent.completed_at">
                {{ $helpers.transformDate(activePass.parent.completed_at,'hh:mm A')}}
              </div>
              <div v-if="!activePass.parent.ended_with" class="text-center">
                <div
                  :class="[activePass.parent.to.user_ids_assigned.includes(activePass.parent.completed_by_user.id)? 'bg-gray':'bg-red','approved-by','text-center']"
                  v-if="activePass.parent.completed_by_user && activePass.parent.to_type=='App\\Models\\Room'">
                  {{ activePass.parent.completed_by_user.first_name + " " + activePass.parent.completed_by_user.last_name }}
                </div>
                <div :class="['bg-red','approved-by','text-center']"
                  v-if="activePass.parent.completed_by_user && activePass.parent.to.id != activePass.parent.completed_by_user.id && activePass.parent.to_type=='App\\Models\\User'">
                  {{ activePass.parent.completed_by_user.first_name + " " + activePass.parent.completed_by_user.last_name }}
                </div>
              </div>
              <div :class="['bg-gray','approved-by','text-center']" v-if="activePass.parent.ended_with=='autopass'">
                Auto Pass
              </div>
              <div :class="['bg-gray','approved-by','text-center']" v-if="activePass.parent.ended_with=='checkin' ">
                Check-in
              </div>
            </div>
          </div>
        </div>
        <!-- No Parent -->
        <!-- Wating -->
        <hr class="bg-white" style="height:2px;" />
        <div class="d-flex justify-content-around px-4 px-xl-5" v-if="currentStatus == 'waiting'">
          <div class="from-cnt d-flex flex-column ">
            <span class="text-white pb-2 font-weight-bold"> From:</span>
            <div class="ft-data bg-white text-red" @click="openStuffModal(actions.approved)">
              {{ activePass && activePass.from.name?activePass.from.name: activePass.from.first_name + ' '+ activePass.from.last_name }}
              <i class="fi flaticon-check-1 ml-1" />
            </div>
            <div class="approved-at text-white p-2" v-if="activePass.approved_at">
            </div>
            <div :class="[activePass.from.id == activePass.approved_by_user.id? 'bg-gray':'bg-red','approved-by']"
              v-if="activePass.approved_by_user">
              {{ activePass.approved_by_user.first_name + " " + activePass.approved_by_user.last_name }}
            </div>
          </div>
          <div class="to-cnt d-flex flex-column ">
            <span class="text-white pb-2 font-weight-bold">To:</span>
            <div class="ft-data text-white">
              {{ activePass.to.name? activePass.to.name:activePass.to.first_name + ' '+ activePass.to.last_name }}
            </div>
          </div>
        </div>
        <!-- Approved -->
        <div class="d-flex justify-content-around px-4 px-xl-5"
          v-if="currentStatus == 'approved' && !activePass.approved_by_user">
          <div class="from-cnt d-flex flex-column ">
            <span class="text-white pb-2 font-weight-bold"> From:</span>
            <div class="ft-data text-green bg-white" @click="openStuffModal(actions.approved)">
              {{ activePass.from.name? activePass.from.name:activePass.from.first_name + ' '+ activePass.from.last_name }}
              <i class="fi flaticon-check-1 ml-1" />
            </div>
            <div class="approved-at text-white p-2 text-center" v-if="activePass.approved_at">
              {{ $helpers.transformDate(activePass.approved_at,'hh:mm A') }}
            </div>
            <div v-if="!activePass.approved_with">
              <div
                :class="[activePass.from.id == activePass.approved_by_user.id? 'bg-gray':'bg-red','approved-by', 'text-center']"
                v-if="activePass.approved_by_user">
                {{ activePass.approved_by_user.first_name + " " + activePass.approved_by_user.last_name }}
              </div>
            </div>

            <div :class="['bg-gray','approved-by','text-center']" v-if="activePass.approved_with">
              Auto Pass
            </div>
          </div>
          <div class="to-cnt d-flex flex-column ">
            <span class="text-white pb-2 font-weight-bold">To:</span>
            <div class="ft-data text-white">
              {{ activePass.to.name?activePass.to.name:activePass.to.first_name + ' '+ activePass.to.last_name }}
            </div>
            <div class="approved-at text-white p-2 text-center" v-if="activePass.completed_at">
              {{ $helpers.transformDate(activePass.completed_at,'hh:mm A')}}
            </div>
            <div v-if="!activePass.ended_with">
              <div
                :class="[activePass.to.id == activePass.completed_by_user.id? 'bg-gray':'bg-red','approved-by','text-center']"
                v-if="activePass.completed_by_user">
                {{ activePass.approved_by_user.first_name + " " + activePass.approved_by_user.last_name }}
              </div>
            </div>
            <div :class="['bg-gray','approved-by','text-center']" v-if="activePass.ended_with=='autopass'">
              Auto Pass
            </div>
            <div :class="['bg-gray','approved-by','text-center']" v-if="activePass.ended_with=='checkin' ">
              Check-in
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-around px-4 px-xl-5"
          v-if="currentStatus == 'approved' && activePass.approved_by_user">
          <div class="from-cnt d-flex flex-column ">
            <span class="text-white pb-2 font-weight-bold"> From:</span>
            <div class="ft-data text-white">
              {{ activePass.from.name? activePass.from.name:activePass.from.first_name + ' '+ activePass.from.last_name }}
            </div>
            <div class="approved-at text-white p-2 text-center" v-if="activePass.approved_at">
              {{ $helpers.transformDate(activePass.approved_at,'hh:mm A') }}
            </div>
            <div v-if="!activePass.approved_with" class="text-center">
              <div
                :class="[activePass.from.user_ids_assigned.includes(activePass.approved_by_user.id)? 'bg-gray':'bg-red','approved-by','text-center']"
                v-if="activePass.approved_by_user  && !activePass.approved_with && activePass.from_type=='App\\Models\\Room' ">
                {{ activePass.approved_by_user.first_name + " " + activePass.approved_by_user.last_name }}
              </div>
              <div :class="['bg-red','approved-by','text-center']"
                v-if="activePass.approved_by_user  && !activePass.approved_with && activePass.from.id != activePass.approved_by_user.id && activePass.from_type=='App\\Models\\User'">
                {{ activePass.approved_by_user.first_name + " " + activePass.approved_by_user.last_name }}
              </div>
            </div>
            <div :class="['bg-gray','approved-by','text-center']" v-if="activePass.approved_with">
              Auto Pass
            </div>
          </div>
          <div class="to-cnt d-flex flex-column ">
            <span class="text-white pb-2 font-weight-bold">To:</span>
            <div class="ft-data text-green bg-white" @click="openStuffModal(actions.end)">
              {{ activePass.to.name?activePass.to.name:activePass.to.first_name + ' '+ activePass.to.last_name }} <i
                class="fi flaticon-check-1 ml-1" />
            </div>
            <div class="approved-at text-white p-2 text-center" v-if="activePass.completed_at">
              {{ $helpers.transformDate(activePass.completed_at,'hh:mm A')}}
            </div>
            <div v-if="!activePass.ended_with" class="text-center">
              <div
                :class="[activePass.to.user_ids_assigned.includes(activePass.completed_by_user.id)? 'bg-gray':'bg-red','approved-by','text-center']"
                v-if="activePass.completed_by_user && activePass.to_type=='App\\Models\\Room'">
                {{ activePass.completed_by_user.first_name + " " + activePass.completed_by_user.last_name }}
              </div>
              <div :class="['bg-red','approved-by','text-center']"
                v-if="activePass.completed_by_user && activePass.to.id != activePass.completed_by_user.id && activePass.to_type=='App\\Models\\User'">
                {{ activePass.completed_by_user.first_name + " " + activePass.completed_by_user.last_name }}
              </div>
            </div>
            <div :class="['bg-gray','approved-by','text-center']" v-if="activePass.ended_with=='autopass'">
              Auto Pass
            </div>
            <div :class="['bg-gray','approved-by','text-center']" v-if="activePass.ended_with=='checkin' ">
              Check-in
            </div>
          </div>
        </div>
        <!-- Exprired -->
        <div class="d-flex justify-content-around px-4 px-xl-5" v-if="currentStatus == 'expired'">
          <div class="from-cnt d-flex flex-column ">
            <span class="text-white pb-2 font-weight-bold"> From:</span>
            <div class="ft-data text-white" v-if="activePass && activePass.from">
              {{  activePass.from.name?activePass.from.name:activePass.from.first_name + ' '+ activePass.from.last_name }}
            </div>
            <div class="approved-at text-white p-2 text-center" v-if="activePass.approved_at">
              {{ $helpers.transformDate(activePass.approved_at,'hh:mm A') }}
            </div>
            <div v-if="!activePass.approved_with" class="text-center" :class="{'mt-3' : !activePass.approved_at}">
              <div
                :class="[activePass.from.user_ids_assigned.includes(activePass.approved_by_user.id)? 'bg-gray':'bg-red','approved-by','text-center']"
                v-if="activePass.approved_by_user && !activePass.approved_with && activePass.from_type=='App\\Models\\Room'">
                {{ activePass.approved_by_user.first_name + " " + activePass.approved_by_user.last_name }}
              </div>
              <div :class="['bg-red','approved-by','text-center']"
                v-if="activePass.approved_by_user && !activePass.approved_with && activePass.from.id != activePass.approved_by_user.id && activePass.from_type=='App\\Models\\User'">
                {{ activePass.approved_by_user.first_name + " " + activePass.approved_by_user.last_name }}
              </div>
            </div>
            <div :class="['bg-gray','approved-by','text-center']" v-if="activePass.approved_with">
              Auto Pass
            </div>
          </div>
          <div class="to-cnt d-flex flex-column ">
            <span class="text-white pb-2 font-weight-bold">To:</span>
            <div class="ft-data text-white" v-if="activePass && activePass.to">
              {{ activePass.to.name?activePass.to.name:activePass.to.first_name + ' '+ activePass.to.last_name }}
            </div>
            <div class="approved-at text-white p-2 text-center" v-if="activePass.completed_at">
              {{ $helpers.transformDate(activePass.completed_at,'hh:mm A')}}
            </div>
            <div v-if="!activePass.ended_with && activePass.completed_by_user" class="text-center">
              <div v-if="activePass.to_type=='App\\Models\\Room'">
                <!-- <div
                  :class="[activePass.to.user_ids_assigned.includes(activePass.completed_by_user.id)? 'bg-gray':'bg-red','approved-by','text-center']"
                  v-if="activePass.to.trip_type=='Roundtrip' && (activePass.approved_by !== activePass.completed_by)">
                  {{ activePass.completed_by_user.first_name + " " + activePass.completed_by_user.last_name }}
                </div> -->
                <div
                  v-if="activePass.from_type === 'App\\Models\\Room' || activePass.from_id !== activePass.completed_by_user.id"
                  :class="[activePass.to.user_ids_assigned.includes(activePass.completed_by_user.id)? 'bg-gray':'bg-red','approved-by','text-center']">
                  {{ activePass.completed_by_user.first_name + " " + activePass.completed_by_user.last_name }}
                </div>
              </div>
              <div v-else>
                <div :class="['bg-red','approved-by','text-center']"
                  v-if="activePass.to.id != activePass.completed_by_user.id">
                  {{ activePass.completed_by_user.first_name + " " + activePass.completed_by_user.last_name }}
                </div>
              </div>
            </div>
            <div :class="['bg-gray','approved-by','text-center']" v-if="activePass.ended_with=='autopass' || activePass.ended_with=='kiosk'">
              Auto Pass
            </div>
            <div :class="['bg-gray','approved-by','text-center']" v-if="activePass.ended_with=='checkin' ">
              Check-in
            </div>
          </div>
        </div>
        <div class="d-flex py-5 px-5 align-items-center">
          <div class="pr-3 font-weight-bolder text-white">Status:</div>
          <div class="status-block d-flex align-items-center" :class="[currentStatus]">
            <span class="flaticon-hour-glass-2-optimized mr-1" v-if="currentStatus=='waiting'">
              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span
                class="path4"></span><span class="path5"></span><span class="path6"></span><span
                class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span>
            </span>
            <i class="fi flaticon-check mr-1" v-if="currentStatus=='approved'" />
            <span class="flaticon-finish-line-optimized mr-1" v-if="currentStatus=='expired'"><span
                class="path1"></span><span class="path2"></span><span class="path3"></span><span
                class="path4"></span><span class="path5"></span><span class="path6"></span><span
                class="path7"></span><span class="path8"></span><span class="path9"></span><span
                class="path10"></span></span>
            {{ passStatuses[(currentStatus=='expired' && activePass.canceled_at!=null)?'canceled':currentStatus] }}

          </div>
          <div class="mx-5 text-white d-block">
            <div v-if="currentStatus=='expired' && activePass.parent" class="">
              {{ $helpers.transformDate(activePass.parent.canceled_at || activePass.parent.ended_at || activePass.parent.completed_at, 'MM-DD-YYYY h:mm A')  }}
            </div>
            <div v-if="currentStatus=='expired' && !activePass.parent">
              {{ $helpers.transformDate(activePass.canceled_at || activePass.ended_at || activePass.completed_at || activePass.expired_at, 'MM-DD-YYYY h:mm A') }}
            </div>
          </div>
        </div>
        <div class="active-pass-history-badge text-white" @click="showHistoryModal=true">
          {{ passHistories && passHistories.length }}
        </div>
      </div>
    </CCol>
    <CModal :show.sync="showHistoryModal" :closeOnBackdrop="false" class="p-0 " size="lg"
      addContentClasses="no-padding-modal no-border-radius-modal left-top-header history-modal">
      <template #header-wrapper>
        <div class="pt-4 px-3 create-popup-header d-flex justify-content-between align-items-center w-100">
          <div @click="closeHistoryModal()"
            class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span
              class="close-icon"></span></div>
        </div>
      </template>
      <div>
        <StudentPassHistory ref="stHisroty" />
      </div>
      <template #footer-wrapper>
        <div></div>
      </template>
    </CModal>
    <CModal :show.sync="showStuffModal" :closeOnBackdrop="false" class="p-0" size="lg"
      addContentClasses="no-padding-modal no-border-radius-modal left-top-header">
      <template #header-wrapper>
        <div class="pt-4 px-3 create-popup-header">
          <div @click="closeStuffModal()"
            class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span
              class="close-icon"></span></div>
        </div>
      </template>
      <div>
        <CRow class="justify-content-center p-5">
          <CCol md="9 d-flex flex-column">
            <h2 class="text-center mb-3 mt-0">Staff use only</h2>
            <div class="form-group">
              <input
                name="PIN"
                autocorrect="off" spellcheck="false"
                autocomplete="off"
                type="text"
                class="form-control"
                :class="[{ 'is-invalid': $v.teacherPin.$error || (responseMessageTeacherApproval && responseMessageTeacherApproval.message)}, {'secure-text' : teacherPin && teacherPin.length}]"
                placeholder="Enter your PIN"
                v-model="teacherPin"
                @input="resetTeacherApproveMessage"/>
                <div v-if="$v.teacherPin.$error && !$v.teacherPin.required" class="invalid-feedback"> The fields is required</div>
                <div v-if="$v.teacherPin.$error && !$v.teacherPin.minLength" class="invalid-feedback"> The pin should be at least 4 characters.
                </div>
                <div v-if="$v.teacherPin.$error && !$v.teacherPin.maxLength" class="invalid-feedback"> The pin may not be greater than 6
                  characters.</div>
                  <div v-if="responseMessageTeacherApproval && responseMessageTeacherApproval.message"
                  class="invalid-feedback">{{responseMessageTeacherApproval.message}}</div>
            </div>

            <div class="form-group">
              <input
                type="text"
                class="form-control"
                :class="{ 'is-invalid': $v.teacherNote.$error}"
                placeholder="Note..."
                v-model="teacherNote"
                @input="resetTeacherApproveMessage"/>
                <div v-if="$v.teacherNote.$error && !$v.teacherNote.maxLength" class="invalid-feedback">The field should be maximum 255 characters</div>
              </div>

            <div class="d-flex flex-wrap w-100 mt-3 stuff-only-popup-buttons">
              <button class="btn btn-comfirm w-100 m-2 p-1" v-if="currentStatus == 'waiting' && !activePass.parent"
                @click="updatePassStuff(actions.approved)">APPROVE</button>

              <button class="btn btn-comfirm w-100 m-2 p-1"
                v-if="currentStatus == 'approved' && isLayoverPass && !(activePass.parent && activePass.parent.arrived_at)"
                @click="updatePassStuff(actions.arrived)">ARRIVED</button>

              <button class="btn btn-comfirm w-100 m-2 p-1"
                v-if="isLayoverPass && (!activePass.parent && currentStatus == 'approved') "
                @click="updatePassStuff(actions.returning,'inout')">IN/OUT</button>

              <button class="btn btn-comfirm w-100 m-2 p-1"
                v-if="!activePass.approved_by && activePass.parent && currentStatus == 'approved' "
                @click="updatePassStuff(actions.returning,'return')">RETURNING</button>

              <button class="btn btn-delete w-100 m-2 " v-if="!isLayoverPass && currentStatus == 'approved' "
                @click="updatePassStuff(actions.end)">
                <span class="flaticon-check mr-2 "></span>
                END/KEEP</button>
              <button class="btn btn-delete w-100 m-2 "
                v-if="isLayoverPass && currentStatus == 'approved' && activePass.parent"
                @click="updatePassStuff(actions.end)">
                <span class="flaticon-check mr-2 "></span>
                END</button>
              <button class="btn btn-delete w-100 m-2 "
                v-if="isLayoverPass && currentStatus == 'approved' && !activePass.parent"
                @click="updatePassStuff(actions.end)">
                <span class="flaticon-check mr-2 "></span>
                END/KEEP</button>

              <button class="btn btn-delete w-100 m-2" @click="updatePassStuff(actions.cancel)"
                v-if="currentStatus == 'waiting'"> <span class="flaticon-cancel mr-2"></span>
                CANCEL</button>

              <button class="btn btn-cencel w-100 m-2 border-1 border-secondary" @click="closeStuffModal()"
                v-if="currentStatus == 'waiting' && !activePass.parent">
                <span class="flaticon-forbidden mr-1 text-black"></span>
                CLOSE</button>
            </div>
          </CCol>
        </CRow>
      </div>
      <template #footer-wrapper>
        <div></div>
      </template>
    </CModal>
    <CModal :show.sync="showCheckInModal" :closeOnBackdrop="false" class="p-0" size="lg"
      addContentClasses="no-padding-modal no-border-radius-modal left-top-header">
      <template #header-wrapper>
        <div class="pt-4 px-3 create-popup-header">
          <div @click="closeCheckInModal()"
            class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span
              class="close-icon"></span></div>
        </div>
      </template>
      <div>
        <CRow class="justify-content-center p-5">
          <CCol md="9 d-flex flex-column">
            <h2 class="text-center mb-3 mt-0">Check-In</h2>
            <CInput placeholder="Enter room PIN" v-model="roomPin"
              :class="{'secure-text' : roomPin && roomPin.length}"
              :isValid="checkIfValid('roomPin') && !(responseMessageRoomApproval && responseMessageRoomApproval.message=='Invalid pin.')"
              type="text" @input="responseMessageRoomApproval=null" autocomplete="off">
              <template v-slot:invalid-feedback>
                <div v-if="$v.roomPin.$error && !$v.roomPin.required" class="invalid-feedback"> The fields is required</div>
                <div v-if="$v.roomPin.$error && !$v.roomPin.minLength" class="invalid-feedback"> The pin should be at least 4 characters.
                </div>
                <div v-if="$v.roomPin.$error && !$v.roomPin.maxLength" class="invalid-feedback"> The pin may not be greater than 6
                  characters.</div>
                <div v-if="responseMessageRoomApproval && responseMessageRoomApproval.message=='Invalid pin.'"
                  class="invalid-feedback">  INVALID PIN.This attempt has been logged and reported. For
                    security purposes, you will be logged out after the next
                    INVALID PIN</div>
                    <div v-if="responseMessageRoomApproval && responseMessageRoomApproval.message"
                  class="invalid-feedback">{{responseMessageRoomApproval.message}}</div>
              </template>
            </CInput>
            <div class="d-flex flex-wrap w-100  stuff-only-popup-buttons">
              <button class="btn btn-comfirm w-100 m-2 p-1" @click="autoCheckIn()">CHECK-IN</button>

            </div>
          </CCol>
        </CRow>
      </div>
      <template #footer-wrapper>
        <div></div>
      </template>
    </CModal>
    <CModal :show.sync="showCancelModal" :closeOnBackdrop="false" class="p-0" size="lg"
      addContentClasses="no-padding-modal no-border-radius-modal left-top-header">
      <template #header-wrapper>
        <div class="pt-4 px-3 create-popup-header">
          <div @click="closeCancelModal()"
            class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span
              class="close-icon"></span></div>
        </div>
      </template>
      <div>
        <CRow class="justify-content-center p-5">
          <CCol md="9 d-flex flex-column">
            <h2 class="text-center mb-3 mt-0">Cancel Pass</h2>
            <div class="text-black-50 pb-5 text-center font-2xl">
              Do you really want to cancel the pass?
            </div>
            <div class="d-flex flex-wrap w-100 justify-content-center">
              <button class="btn btn-delete  m-2" @click="cancelPass()"> <span class="flaticon-cancel mr-2"></span>
                CANCEL</button>
              <button class="btn btn-cencel m-2 border-1 border-secondary" @click="closeCancelModal()">
                <span class="flaticon-forbidden mr-1 text-black"></span>
                CLOSE</button>
            </div>
          </CCol>
        </CRow>
      </div>
      <template #footer-wrapper>
        <div></div>
      </template>
    </CModal>
  </CRow>
</template>

<script>
  import moment from 'moment-timezone';
  import HelpCenterButton from '@/components/HelpCenterButton';
  import {
    validationMixin
  } from "vuelidate";
  import StudentPassHistory from '../components/DataTables/StudentPassHistory';
  import {
    mapGetters
  } from "vuex";
  import {
    required,
    minLength,
    maxLength
  } from "vuelidate/lib/validators";

  export default {
    name: "ActivePass",
    components: {
      StudentPassHistory,
      HelpCenterButton
    },

    data() {
      return {
        passStatuses: {
          'waiting': 'Waiting Approval',
          'approved': 'Active',
          'expired': 'Ended',
          'canceled': 'Canceled'
        },
        actions: {
          approved: 1,
          end: 2,
          arrived: 3,
          returning: 4,
          cancel: 5
        },
        counter: 1,
        showHistoryModal: false,
        showStuffModal: false,
        teacherPin: '',
        teacherNote: '',
        responseMessageTeacherApproval: null,
        responseMessageRoomApproval: null,
        modalAction: 1,
        isloading: false,
        updatePassHistory: true,
        showCheckInModal: false,
        showCancelModal: false,
        roomPin: ''
      };
    },
    mixins: [validationMixin],
    validations: {
      teacherPin: {
        required,
        maxLength: maxLength(6),
        minLength: minLength(4),
      },
      roomPin: {
        required,
        minLength: minLength(4),
        maxLength: maxLength(6)
      },
      teacherNote: {
        maxLength: maxLength(255)
      }
    },
    computed: {
      ...mapGetters({
        activePass: "passes/activePass",
        staff: "users/formListStaff",
        rooms: "rooms/formListRooms",
        pinAttemptsCount: "authentication/pinAttemptsCount",
        passHistories: "passes/studentPassHistories"
      }),
      timeInRequest() {
        var duration = moment.duration(this.activePass.expire_after);

        var requested_at = moment(this.activePass.requested_at).valueOf();
        var expored_at = requested_at + duration.asMilliseconds();
        var timeremain = moment(expored_at).diff(moment(), 'seconds');
        return this.counter && this.activePass && timeremain > 0 ? this.$helpers.secondsToTimeString(timeremain) :
          '00:00:00';
      },
      timeInPass() {
        return this.counter && this.activePass ? this.$helpers.secondsToTimeString(moment().diff(this.activePass
          .parent && this.activePass
          .parent.approved_at ? moment(this.activePass.parent.approved_at) : this.activePass.approved_at ? moment(
            this.activePass.approved_at) : moment(), 'seconds')) : '';
      },
      fromToCollection() {
        return this.staff && this.rooms ? this.staff.concat(this.rooms) : null;
      },
      currentStatus() {
        if (this.activePass && this.activePass.pass_status == 1 && this.activePass.approved_at === null && !this
          .activePass.parent) {
          return 'waiting';
        }
        if (this.activePass && this.activePass.pass_status == 1 && this.activePass.approved_at === null && this
          .activePass.parent) {
          return 'approved'
        }
        if (this.activePass && this.activePass.pass_status == 1 && this.activePass.approved_at !== null && this
          .activePass.completed_at === null) {
          return 'approved'
        }
        return 'expired'
      },
      isLayoverPass() {
        return this.activePass && (this.activePass.to_type == 'App\\Models\\User' || (this.activePass.to && this
          .activePass.to.trip_type == 'Layover')) ? true : false;
      }
    },
    watch: {
      timeInRequest: function () {
        if (this.timeInRequest == '00:00:00' && this.activePass.pass_status != 0) {
          var temp = JSON.parse(JSON.stringify(this.activePass));
          temp.pass_status = 0;
          temp.ended_at = moment().format('YYYY-MM-DD HH:mm:ss')
          this.$store.commit('passes/SET_ACTIVE_PASS', temp);
          var elem = {
            id: this.activePass.id,
            data: {
              action: 6,
            }
          }
          this.$store.dispatch("passes/updatePass", elem).then(res => {
            this.responseMessageTeacherApproval = {
              type: 'success',
              message: 'Successfully updated.'
            };
            this.$refs.stHisroty.getUserPasses(null);
            this.teacherPin = '';
            this.teacherNote = '';

            setTimeout(() => {
              this.$store.dispatch('passes/getStudentPassHistoryAsStudent');
            }, 500);
          });
        }
      },
      currentStatus: function () {
        if (this.currentStatus == 'expired') {
          this.closeCheckInModal();
          this.closeStuffModal();
          this.closeHistoryModal();
          this.closeCancelModal();
        }
      }
    },
    created() {
      this.isloading = true;
      this.$store.dispatch("passes/getPasses").then(() => {
        this.$store.dispatch('passes/getStudentActivePass').then(() => {
          this.$store.dispatch('passes/getStudentPassHistoryAsStudent').then(res => {
            this.isloading = false;
          }).catch(() => {
            this.isloading = false;
          });
        });
      })
      clearInterval(window.activePass);
      window.activePass = setInterval(() => {
        this.counter++;
      }, 1000);
    },
    beforeDestroy() {
      clearInterval(window.activePass);
    },
    methods: {
      closeCheckInModal() {
        this.roomPin = '';
        this.showCheckInModal = false;
        this.$v.$reset();
      },
      closeCancelModal() {
        this.showCancelModal = false;
      },
      checkIfValid(fieldName) {
        const field = this.$v[fieldName];
        if (!field.$dirty) {
          return null;
        }
        return !(field.$invalid);
      },
      cancelPass() {
        this.$store.dispatch("passes/cancelActivePass", this.activePass.id).then(res => {})
      },
      closeHistoryModal() {
        this.showHistoryModal = false;
      },
      closeStuffModal() {
        this.showStuffModal = false;
        this.responseMessageTeacherApproval = null;
        this.teacherPin = '';
        this.teacherNote = '';
        this.$v.$reset();
      },
      openStuffModal(attr) {
        this.$v.$reset();
        this.modalAction = attr;
        this.showStuffModal = true;
      },
      updatePassStuff(argAction, returnType) {
        this.$v.$touch();
        if (!this.checkIfValid('teacherPin') || !this.checkIfValid('teacherNote')) {
          return;
        }
        this.updatePassHistory = false;
        var elem = {
          id: this.activePass.id,
          data: {
            teacher_pin: this.teacherPin,
            approval_message: this.teacherNote,
            action: argAction,
          }
        }
        if (returnType) {
          elem.data.return_type = returnType;
        }

        this.$store.dispatch("passes/updatePass", elem).then(res => {
          this.responseMessageTeacherApproval = {
            type: 'success',
            message: 'Successfully updated.'
          };
          this.$v.$reset();
          this.$refs.stHisroty.getUserPasses(null);
          this.$store.dispatch('passes/getStudentPassHistoryAsStudent');


          this.closeStuffModal();

          this.$store.commit("authentication/RESET_PIN_ATTEMPTS_COUNT");
        }).catch((err) => {
          this.responseMessageTeacherApproval = {
            type: 'danger',
            message: err.response.data.message
          };
          const logout = err.response.data.data.logout
          if (logout) {
            this.$store.dispatch('authentication/getUserDetails').then(() => {
              window.location.reload();
            });
          } else if (err.response.status === 423) {
            this.$store.commit("authentication/SET_USER_IS_LOCKED", true);
            this.$router.push("/locked");
          }
        })
      },
      autoApprove() {
        this.$store.dispatch("passes/autoApprovePass", {
          id: this.activePass.id,
          action: 1
        }).then(() => {
          this.$refs.stHisroty.getUserPasses(null);
          this.$store.dispatch('passes/getStudentPassHistoryAsStudent');
        });

      },
      autoPause() {
        this.$store.dispatch("passes/autoApprovePass", {
          id: this.activePass.id,
          action: 2
        }).then(() => {
          this.$refs.stHisroty.getUserPasses(null);
          this.$store.dispatch('passes/getStudentPassHistoryAsStudent');
        });
      },
      autoCheckIn() {
        this.$v.$touch();
        if (!this.checkIfValid('roomPin')) {
          return;
        } else {
          this.$store.dispatch("passes/autoCheckIn", {
            id: this.activePass.id,
            roomPin: this.roomPin
          }).then(() => {
            this.roomPin = null;
            this.showCheckInModal = false;
            this.$v.$reset();
          }).catch((err) => {
            this.responseMessageRoomApproval = {
              type: 'danger',
              message: err.response.data.message
            };
            var locked = err.response.data.data.locked
            if (locked) {
              this.$store.dispatch('authentication/getUserDetails').then(() => {
                window.location.reload();
              });
            }
          });
        }
      },
      deleteActivePassBlock(){
        this.$store.commit('passBlocks/DELETE_ACTIVE_PASS_BLOCK');
      },
      resetTeacherApproveMessage(){
        this.responseMessageTeacherApproval=null;
      }
    }
  }

</script>
<style scoped lang="scss">
  .stuff-only-popup-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;

    @media screen and (max-width:768px) {
      margin: 0px;
    }

    button.btn {
      display: flex;
      align-items: center;
      width: 130px !important;

      @media screen and (max-width:768px) {
        width: 100% !important;
      }

      padding: 5px 10px !important;

      &:before,
      & .flaticon-forbidden,
      & .flaticon-cancel,
      & .flaticon-check {
        width: 25px;
        height: 25px;
        background-size: 100%;
        font-size: 23px;
      }
    }

  }

  .comments-section-warning {
    font-size: 14px;
  }
</style>
