<template>
  <div>
    <CContainer>
      <CRow class="justify-content-center mt-4" v-if="user.role.name !=='student'">
        <CCol md="12" class="text-center">
          <h1 class="mb-2">
            {{editablePass ? 'Edit Appointment Pass' : 'Create Appointment Pass'}}
            <HelpCenterButton _class="mr-2" contentKey="appointment_pass_form"/>
          </h1>
          <CreateApptMultipleForm @newAptPassCreated="resetDataTableFilters()" :periods="periods" :editablePass="editablePass" isInView="true" />
        </CCol>
      </CRow>
    </CContainer>
    <AptPassDataTable ref="AptPassDataTable" v-if="user.role.name !=='student'"/>
    <StudentAptPassDataTable v-if="user.role.name ==='student'"/>
  </div>
</template>
<script>
import AptPassDataTable from '@/components/DataTables/AptPassDataTable';
import StudentAptPassDataTable from '@/components/DataTables/StudentAptPassDataTable';
import HelpCenterButton from '@/components/HelpCenterButton';
import CreateApptMultipleForm from '@/components/Forms/CreateApptMultipleForm';

import { mapGetters } from 'vuex';

export default {
  name: "AppointmentPass",
  components: {AptPassDataTable, HelpCenterButton, CreateApptMultipleForm,StudentAptPassDataTable},
  computed: {
    ...mapGetters({
      user: 'authentication/user',
      periods: 'periods/formListStudents',
      editablePass: 'appointmentPasses/editablePass',
    }),
  },
  methods: {
    resetDataTableFilters(){
      this.$refs.AptPassDataTable.resetDataTable(1);
    }
  }
}
</script>
