<template>
  <ArchivedUsersDataTable/>
</template>
<script>
import ArchivedUsersDataTable from '@/components/DataTables/ArchivedUsersDataTable';
export default {
  name: 'Users',
  components: {ArchivedUsersDataTable}
}
</script>
