<template>
  <ContactTracingDataTable></ContactTracingDataTable>
</template>

<script>
import ContactTracingDataTable from "../components/DataTables/ContactTracingDataTable";
export default {
  components: {ContactTracingDataTable}
}
</script>

<style>

</style>
