<template>
  <div>
      <PassesStats :stats="stats" />
      <RoomStats v-if="userRole === 'admin' || userRole === 'staff'"/>
      <div v-if="unavailable && isUserAvailable" class="unavailable-alert">
        <span @click="closeUnavailableAlert" class="close-btn"><span class="close-icon"></span></span>
        <div class="content">
          <div>
            <i class="fi flaticon-briefcase mr-2"></i>
            Your Out of Office is currently on and will end on {{$helpers.transformDate(unavailable.to_date, 'ddd, MM/DD/YYYY h:mm A')}}
          </div>
          <div class="comment mt-1" v-if="unavailable.comment">Note: {{unavailable.comment}}</div>
        </div>
      </div>
      <CContainer>
        <CRow>
          <CCol md="12" class="text-right py-2">
            <HelpCenterButton _class="mr-2" contentKey="dashboard_overview"/>
          </CCol>
        </CRow>
      </CContainer>
      <div class="pt-0 p-sm-2">
        <DashboardDataTable :stats="stats"/>
      </div>
  </div>
</template>
<script>
import {mapGetters} from 'vuex';
import PassesStats from '@/components/PassesStats';
import RoomStats from '@/components/RoomStats';
import DashboardDataTable from '@/components/DataTables/DashboardDataTable';
import HelpCenterButton from '@/components/HelpCenterButton';

export default {
  mame: 'Dashboard',
  components: {PassesStats, RoomStats, DashboardDataTable, HelpCenterButton},
  computed: {
    ...mapGetters({
      userRole: 'authentication/getUserRole',
      isUserAvailable: 'authentication/isUserAvailable',
      stats: 'dashboard/stats',
      unavailable: 'dashboard/unavailable'
    }),
  },
  mounted() {
    this.$store.dispatch('dashboard/getDashboard');
  },
  methods: {
    closeUnavailableAlert(){
      if(window.confirm("Are you sure you want to delete this Out Of Office?")){
        this.endUnavailable(this.unavailable);
      }
    },
    endUnavailable(unavailable){
      if(unavailable && unavailable.id && unavailable.status){
        this.isLoading = true;
        this.$store.dispatch('outOfOfficePasses/updateOutOfOfficeStatus', {id:unavailable.id, params: {dashboard:true}});
      }
    }
  }
}
</script>
