<template>
  <FileUploadsDataTable/>
</template>
<script>


import FileUploadsDataTable from '@/components/DataTables/FileUploadsDataTable';
export default {
  name: "FileUploads",
  components: {FileUploadsDataTable},
  data() {
    return {}
  },
}
</script>
