<template>
  <div class="c-app flex-row align-items-center" :class="{ 'c-dark-theme': $store.state.layout.darkMode }">
    <CContainer>
      <CRow class="justify-content-center">
        <CCol md="5">
          <CCardGroup>
            <CCard class="p-4">
              <CCardBody>
                <CForm>
                  <div class="d-flex justify-content-center mb-4">
                    <img src="@/assets/images/logo-small.png" alt="e-hallpass">
                  </div>

                  <CInput class="mb-0" :class="{'is-invalid' : $v.user.$error && !$v.user.email.required}" placeholder="Email" autocomplete="email"
                     :isValid="checkIfValid('email')"
                    :value.sync="$v.user.email.$model">
                    <template #prepend-content>
                      <CIcon name="cil-user" /></template>
                  </CInput>
                  <div class="invalid-feedback" v-if="$v.user.$error && !$v.user.email.required">This field is required</div>

                 <CAlert v-if="reqResponse.message" class="mt-3 mb-0" :color="reqResponse.type" :show="!!reqResponse.message">
                  {{reqResponse.message}}
                  <div v-if="reqResponse.errors">
                    <div v-if="(err, index) in reqResponse.errors">{{err[0]}}</div>
                  </div>
                </CAlert>
                  <CRow>
                    <CCol col="12" class="text-center">
                      <div class="mt-3" @click="resetPass()">
                        <CLoadingButton class="mr-2 btn bg-gradient-blue text-white" :spinner="isLoading"
                          :loading="isLoading">Reset Password</CLoadingButton>
                      </div>
                    </CCol>
                  </CRow>
                  <p class="text-muted mt-4 text-center">
                    Enter your email to reset your password.
                  </p>
                </CForm>
                 <div class="d-flex justify-content-center">
                    <CButton color="link" class="" to="/login">Back to Login</CButton>
                  </div>
              </CCardBody>
            </CCard>
          </CCardGroup>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
  import {
    validationMixin
  } from "vuelidate"
  import {
    required
  } from "vuelidate/lib/validators"

  export default {
    name: 'ForgottenPassword',
    data: () => ({
      isLoading: false,
      user: {
        email: "",
      },
      reqResponse: {
        type: "",
        message: "",
        errors: {}
      },
    }),
    mixins: [validationMixin],
    validations: {
      user: {
        email: {
          required,
        },
      }
    },
    computed: {
      isValid() {
        return !this.$v.user.$invalid
      },
    },
    methods: {
      checkIfValid(fieldName) {
        const field = this.$v.user[fieldName];
        if (!field.$dirty) {
          return null;
        }
        return !(field.$invalid || field.$model === '');
      },
      resetPass() {
        this.resetResponseMessages();
        if (this.isValid) {
          this.isLoading = true;
          //TODO: Add the BE stuff
          this.$store.dispatch('authentication/resetPassword', this.user)
            .then(response => {
              const data = response.data;
              this.setSuccessResponse('Password reset email successfully sent.');
            })
            .catch(err => {
              let response = err && err.response ? err.response.data : null;
              if(response){
                this.setErrorResponse(response.message || err.message, response.errors);
              }else{
                this.setErrorResponse(err.message, null);
              }
              //TODO: No  correct errors from BE {"message":"Authentication failed."}
            });
        } else {
          this.$v.$touch();
        }
      },
      resetResponseMessages() {
        this.reqResponse = {
          type: "",
          message: "",
          errors: {}
        }
      },
      setSuccessResponse(message) {
        this.reqResponse = {
          type: 'success',
          message: message ? message : 'Success!',
          errors: {}
        };
      },
      setErrorResponse(message, errors) {
        this.reqResponse = {
          type: 'danger',
          message: message ? message : 'Someting went wrong!',
          errors: errors ? errors : {}
        };
      },
    }
  }

</script>
