<template>
  <div>
      <CContainer>
        <CRow class="justify-content-center mt-4">
          <CCol md="12 text-center">
            <h1 class="mb-4">Help Desk</h1>
            <div >
              <iframe src="https://docs.google.com/document/d/e/2PACX-1vSTMu3UghjmPrtfm1IdbNbEJa7jQ1dMYAJPJCbXj7BPWPdnVqkDgwCvOvjx-OqsL1QIM5qi8e7YiiDE/pub?embedded=true" class="trainings-iframe centered-content-iframe"></iframe>
            </div>
          </CCol>
        </CRow>
      </CContainer>
  </div>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
  name: "VideoTraining",
  components: {
  },
  created(){
    this.$store.dispatch('releases/getTrainings');
  },
  computed: {
    ...mapGetters({
      trainings: 'releases/trainings',
      user: 'authentication/user'
    }),
  }
}
</script>
