<template>
  <div class="kiosk-view">
    <KioskLoginForm/>
  </div>
</template>
<script>
import KioskLoginForm from "@/components/Forms/Kiosk/KioskLoginForm";

export default {
  name: "KioskLogin",
  components: {
    KioskLoginForm,
  },
}
</script>
