<template>
<div class="kiosk-view">
  <vue-scrollbar :settings="scrollbarSettings" class="main-scroll-container">
  <CContainer class="py-4 full-height-scrooll-content">
    <CRow class="justify-content-center p-4">
      <CCol md="12">
        <h1 class="text-graident-blue mb-4 text-center">Kiosk Mode</h1>
      </CCol>
      <CCol col="12" md="9" lg="6">
        <div v-if="activeKiosk">
          <div v-show="!showActivePass" class="px-2 pt-4 pb-4 px-lg-5 pt-lg-5 pb-lg-4 rounded-panel text-center">
            <img src="@/assets/images/logo-small.png" alt="e-hallpass" class="mb-2">
            <div>
              
              <MainScreen v-if="showMainScreen" :activeKiosk="activeKiosk" @tabChanged="setActiveScreen"/>
              <CreatePassForm v-if="createPassScreen" ref="createPassForm" @tabChanged="setActiveScreen" @kioskPassCreated="setActiveScreen('mainScreen'), showActivePass=true"></CreatePassForm>
              <EndPassForm v-if="endPassScreen" @cancel="setActiveScreen" @tabChanged="setActiveScreen"></EndPassForm>
              <KioskUserLogin :activeKiosk="activeKiosk" v-if="loginScreen" @tabChanged="setActiveScreen" @userLoggedIn="onUserLogin()"/>

            </div>
          </div>
          <div v-if="showActivePass">
            <KioskActivePass @cancel="closeActivePassPopup"/>
          </div>
        </div>
        <div v-else>No active kiosk.</div>
      </CCol>
    </CRow>
  </CContainer>
  </vue-scrollbar>
  </div>
</template>
<script>
import {mapGetters} from "vuex";
import CreatePassForm from "../components/Forms/Kiosk/CreatePassForm";
import EndPassForm from "../components/Forms/Kiosk/EndPassForm";
import KioskActivePass from "../components/Forms/Kiosk/ActivePass";
import MainScreen from "../components/Forms/Kiosk/MainScreen";
import KioskUserLogin from "@/components/Forms/Kiosk/KioskUserLogin";

export default {
  name: "KioskLaunch",
  components: {
    KioskActivePass,
    EndPassForm,
    CreatePassForm,
    MainScreen,
    KioskUserLogin
  },
  data() {
    return {
      showActivePass: false,
      kioskFlow: {
        mainScreen: true,
        createPass: false,
        endPass: false,
        userLogin: false
      },
      scrollbarSettings: {
        suppressScrollY: false,
        suppressScrollX: true,
      }
    }
  },
  computed: {
    ...mapGetters({
      activeKiosk: 'kiosks/activeKiosk',
      activePass: 'kiosks/activePass',
      access_token: 'kiosks/accessToken',
      createNewPassData: 'kiosks/createNewPassData'
    }),
    showMainScreen(){
      return this.kioskFlow.mainScreen && !this.access_token;
    },
    createPassScreen(){
      return !!(this.kioskFlow.createPass && !this.access_token || this.kioskFlow.createPass && this.createNewPassData);
    },
    endPassScreen(){
      return !!(this.kioskFlow.endPass && this.access_token);
    },
    loginScreen(){
      return this.kioskFlow.userLogin && !this.access_token || 
             !this.endPassScreen && this.kioskFlow.endPass;
    }
  },
  mounted() {
    this.$store.commit('passes/SET_ACTIVE_PASS', null);
    if(!this.activeKiosk){
      this.$router.push('/kiosk/login');
    }
  },
  destroyed(){
    this.$store.dispatch('kiosks/userLogout');
  },
  methods: {
    setActiveScreen(screen){
      if(this.kioskFlow.hasOwnProperty(screen)){
        for (const key in this.kioskFlow) {
          if (Object.hasOwnProperty.call(this.kioskFlow, key)) {
            this.kioskFlow[key] = key === screen;
          }
        }
      }
    },
    closeActivePassPopup(){
      this.$store.dispatch('kiosks/userLogout');
      this.showActivePass = false;
      this.setActiveScreen('mainScreen');
    },
    onUserLogin(){
      if(!this.kioskFlow.endPass && this.createNewPassData){
        this.setActiveScreen('createPass');
        if(!this.activePass){
          // this.showActivePass = true;
          setTimeout(() => {
            this.$refs.createPassForm.createPass(this.createNewPassData);
          }, 100);
        }
      }
    }
  }
}
</script>
