<template>
  <div>
      <CContainer>
        <CRow class="justify-content-center mt-4">
          <CCol col="12" md="8" xl="6" class="text-center">
            <h1 class="mb-4">
              Limit Location Availability
              <HelpCenterButton _class="mr-2" contentKey="limit_location_availability"/>
            </h1>
            <CreateRoomRestrictionForm @createLocationRestriction="refreshDataTable" isInView="true"/>
          </CCol>
        </CRow>
        <CRow>
          <CCol md="12">
            <LocationRestrictionsDataTable ref="LocationRestrictionsDataTable" />
          </CCol>
        </CRow>
      </CContainer>
  </div>
</template>
<script>
import CreateRoomRestrictionForm from '@/components/Forms/CreateRoomRestrictionForm';
import LocationRestrictionsDataTable from '@/components/DataTables/LocationRestrictionsDataTable'
import HelpCenterButton from '@/components/HelpCenterButton';

import { mapGetters } from 'vuex';

export default {
  name: "LimitLocationAvailability",
  components: {CreateRoomRestrictionForm, LocationRestrictionsDataTable, HelpCenterButton},
  computed: {
    ...mapGetters({
        multiSelectStudentsList: 'users/multiSelectStudentsList'
    }),
  },
  methods: {
    refreshDataTable(){
      this.$refs.LocationRestrictionsDataTable.refreshDataTable();
    }
  }
}
</script>