<template>
  <div>
      <CContainer>
        <CRow class="justify-content-center mt-4">
          <CCol col="12" xl="7" class="text-center">
            <h1 class="mb-4">
              Limit Location Max Cap
              <HelpCenterButton _class="mr-2" contentKey="limit_location_map_cap"/>
            </h1>
            <CreateLimitLocationMaxCapForm @locationLimitCreated="resetDataTable()" @updatedLimitLocationMaxCap="resetDataTable()" :isInView="true" :activeRoom="editableRoomCapacityLimit" ref="CreateLimitLocationMaxCapForm"/>
            <LocationsMaxCapLimitTable ref="LocationsMaxCapLimitTable" @roomLimitDeleted="refreshRoomsSelect()"/>
          </CCol>
        </CRow>
      </CContainer>
  </div>
</template>
<script>
import CreateLimitLocationMaxCapForm from '@/components/Forms/CreateLimitLocationMaxCapForm'
import LocationsMaxCapLimitTable from '@/components/DataTables/LocationsMaxCapLimitTable'
import { mapGetters } from 'vuex';
import HelpCenterButton from '@/components/HelpCenterButton';

export default {
  name: "LimitLocationMaxCap",
  components: {CreateLimitLocationMaxCapForm, LocationsMaxCapLimitTable, HelpCenterButton},
  computed: {
    ...mapGetters({
      editableRoomCapacityLimit: 'rooms/editableRoomCapacityLimit'
    }),
  },
  methods: {
    resetDataTable(){
      this.$refs.LocationsMaxCapLimitTable.resetDataTable(1);
    },
    refreshRoomsSelect(){
      setTimeout(() => {
        this.$refs.CreateLimitLocationMaxCapForm.refreshRoomsSelect();
      }, 500);
    }
  }
}
</script>
