<template>
  <div>
    <CContainer>
      <CRow class="justify-content-center mt-5 overflow-auto" style="height: 100vh">
        <CCol md="5" class="text-center mt-5 " style="margin-bottom:100px">
          <h1>You are Locked!</h1>
          <div class="flaticon-padlock"></div>
          <div class="py-4">
            Please, verify by a Teacher to use create passes again.
          </div>
          <table class="attempts mb-4" v-if="attempts">
            <thead>
              <tr>
                <td>No.</td>
                <td>Date</td>
                <td>Time</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item,i) in attempts" :key="i">
                <td>{{ i+1 }}</td>
                <td>{{ $helpers.transformDate(item.created_at) }}</td>
                <td>{{ $helpers.transformDate(item.created_at,'hh:mm A') }}</td>
              </tr>
            </tbody>
          </table>
          <CInput placeholder="Enter your PIN" v-model="teacherPin"
            :invalidFeedback="$v.teacherPin.$error && !$v.teacherPin.required?'The field is required':$v.teacherPin.$error && !$v.teacherPin.minLength?'The pin should be atlast 4 characters.':responseMessageTeacherApproval && responseMessageTeacherApproval.message=='Invalid pin.'?' INVALID PIN.This attempt has been logged and reported. For security purposes, you will be logged out after the next INVALID PIN':''"
            :isValid="checkIfValid('teacherPin') && !(responseMessageTeacherApproval && responseMessageTeacherApproval.message=='Invalid pin.')"
            type="password" @input="responseMessageTeacherApproval=null" />

          <CAlert v-if="responseMessageTeacherApproval" class="mt-4" :color="responseMessageTeacherApproval.type"
            :show="!!responseMessageTeacherApproval.message">
            {{ responseMessageTeacherApproval.message }}
          </CAlert>
          <CButton @click="unLock" class="bg-gradient-blue text-white">
            Submit
          </CButton>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>
<script>
  import {
    validationMixin
  } from "vuelidate";
  import {
    required,
  } from "vuelidate/lib/validators";
  import {
    mapGetters
  } from "vuex";
  export default {
    name: "Locked",
    data() {
      return {
        teacherPin: null,
        responseMessageTeacherApproval: null,
      }
    },
    mixins: [validationMixin],
    validations: {
      teacherPin: {
        required,
      }
    },
    computed: {
      ...mapGetters({
        attempts: "authentication/attempts",
      }),
    },
    created() {
      this.$store.dispatch("authentication/getAttempts")
    },
    methods: {
      checkIfValid(fieldName) {
        const field = this.$v[fieldName];
        if (!field.$dirty) {
          return null;
        }
        return !(field.$invalid);
      },
      unLock() {
        this.$v.$touch();
        if (!this.checkIfValid('teacherPin')) {
          return;
        }
        this.responseMessageTeacherApproval = null;

        this.$store.dispatch("authentication/unlock", this.teacherPin).then(e=>{
          window.location.replace('/passes/create');
        }).catch(err => {
          this.responseMessageTeacherApproval = {
            type: 'danger',
            message: err.response.data.message
          };
        })
      },
    }
  }

</script>
<style scoped lang="scss">
  .flaticon-padlock {
    margin: 40px 20px;
    font-size: 100px;
  }

  .attempts {
    width: 80%;
    margin: 0 auto;

    thead {
      font-family: 'VisbyCF-Bold';
      font-size: 20px;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.7;
      letter-spacing: 0.2px;
      text-align: center;
      color: #464a53;
    }

    tbody {
      text-align: center;
      font-size: 18px;

      tr:nth-of-type(4) {
        color: red;
      }

      tr:nth-of-type(5) {
        color: red;
      }
    }
  }

</style>
