<template>
  <div
    class="c-app flex-row align-items-center"
    :class="{ 'c-dark-theme': $store.state.layout.darkMode }"
  >
    <CContainer>
      <CRow class="justify-content-center">
        <CCol md="12" lg="6" xl="6">
          <CCardGroup>
            <CCard class="p-4">
              <CCardBody>
                <CForm v-if="!redirectLoading">
                  <div class="d-flex justify-content-center mb-4">
                    <img
                      src="@/assets/images/logo-small.png"
                      alt="e-hallpass"
                    />
                  </div>
                  <CInput
                    class="mb-0"
                    :class="{
                      'is-invalid': $v.user.$error && !$v.user.email.required
                    }"
                    placeholder="Email"
                    autocomplete="email"
                    :isValid="checkIfValid('email')"
                    :value.sync="$v.user.email.$model"
                    v-on:keyup="checkForEnter"
                  >
                    <template #prepend-content>
                      <CIcon name="cil-user"
                      />
                    </template>
                  </CInput>
                  <div
                    class="invalid-feedback"
                    v-if="$v.user.$error && !$v.user.email.required"
                  >
                    This field is required
                  </div>

                  <CInput
                    :class="{
                      'is-invalid': $v.user.$error && !$v.user.password.required
                    }"
                    class="mt-3 mb-0"
                    placeholder="Password"
                    type="password"
                    :isValid="checkIfValid('password')"
                    :value.sync="$v.user.password.$model"
                    v-on:keyup="checkForEnter"
                  >
                    <template #prepend-content>
                      <CIcon name="cil-lock-locked"
                      />
                    </template>
                  </CInput>
                  <div
                    class="invalid-feedback"
                    v-if="$v.user.$error && !$v.user.password.required"
                  >
                    This field is required
                  </div>

                  <CAlert v-if="error" class="mt-3" color="danger" :show="true">
                    {{ error }}
                  </CAlert>
                  <div class="d-flex justify-content-end">
                    <CButton color="link" class="" to="/forgotten-password"
                    >Forgot password?
                    </CButton
                    >
                  </div>
                  <CRow class="mt-3">
                    <CCol col="12" class="text-center">
                      <div @click="login()">
                        <CButton class="mr-2 btn bg-gradient-blue text-white">
                          Login
                        </CButton
                        >
                      </div>
                    </CCol>
                  </CRow>
                  <p class="text-muted mt-4">
                    If your school uses a Google,Clever or Office 365 account to
                    log you in, choose the appropriate option below.
                  </p>
                  <CRow>
                    <CCol col="12" class="text-center mb-3 px-0 px-md-2">
                      <div class="d-flex justify-content-center">
                        <div class="ext-login-btn" @click="loginClever('web')">
                          <span class="flaticon-clever"></span>
                        </div>
                        <div
                          class="ext-login-btn"
                          @click="loginClassLink('web')"
                        >
                          <span class="flaticon-sso"></span>
                        </div>
                        <div class="ext-login-btn" @click="loginGoogle('web')">
                          <span class="flaticon-google"
                          ><span class="path1"></span
                          ><span class="path2"></span
                          ><span class="path3"></span
                          ><span class="path4"></span
                          ></span>
                        </div>
                        <div class="ext-login-btn" @click="loginMS('web')">
                          <span class="flaticon-microsoft"
                          ><span class="path1"></span
                          ><span class="path2"></span
                          ><span class="path3"></span
                          ><span class="path4"></span
                          ><span class="path5"></span
                          ><span class="path6"></span
                          ><span class="path7"></span
                          ></span>
                        </div>
                        <div class="ext-login-btn" @click="loginGG4L('web')">
                          <span class="flaticon-gg4l"></span>
                        </div>

                        <!-- <div class="login-btn" @click="loginSSO">
                          <span class="flaticon-google"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
                        </div> -->
                      </div>
                    </CCol>
                  </CRow>
                </CForm>
                <CCol col="12" class="text-center mb-3">
                  <CSpinner color="primary" v-if="isLoading && !goToApp"/>
                </CCol>
                <CCol v-if="goToApp" col="12" class="text-center mb-3">
                  <a class="btn bg-gradient-blue text-white" :href="goToApp">
                    Go to App
                  </a>
                </CCol>
              </CCardBody>
            </CCard>
          </CCardGroup>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import {validationMixin} from "vuelidate";
import {required} from "vuelidate/lib/validators";

const randomstring = require("randomstring");
const crypto = require("crypto");
const base64url = require("base64url");

export default {
  name: "Login",
  data: () => ({
    redirectLoading: false,
    isLoading: false,
    user: {
      email: "",
      password: ""
    },
    error: null,
    goToApp: null
  }),
  mixins: [validationMixin],
  validations: {
    user: {
      email: {
        required
      },
      password: {
        required
      }
    }
  },
  mounted() {
    if(this.$route.name !== 'login'){
      this.redirectLoginToSource(this.$route.name);
    }

  },
  created() {
    this.$echo.connector.socket.on('connect', function(){
        console.log('connected', this.$echo.socketId());
    });
    this.$echo.connector.socket.on('disconnect', function(){
        console.log('disconnected');
    });
    this.$echo.connector.socket.on('reconnecting', function(attemptNumber){
        console.log('reconnecting', attemptNumber);
    });
    this.$echo.disconnect();
    if (this.$route.query && this.$route.query.mobile_redirect) {
      this.isLoading = true;
      this.redirectLoading = true;
      this.handleMobileRedirect(this.$route.query.mobile_redirect);
    }
    if (this.$route.query && this.$route.query.code) {
      if (this.$route.params.source === "mobile") {
        this.redirectLoading = true;
      }
      this.isLoading = true;

      var state =
        this.$route.query.state ??
        this.getProviderIDByName(this.$route.params.type);
      var redirectUrl = this.getRedirectUri(
        this.$route.params.source,
        this.$route.params.type
      );

      var params = {
        ...this.$route.query,
        redirectUri: redirectUrl,
        codeVerifier: localStorage.getItem("code_verifier"),
        state: state
      };
      this.$store
        .dispatch("authentication/externalLogin", params)
        .then(response => {
          const data = response.data;
          if (data.access_token) {
            if (this.$route.params.source === "mobile") {
              this.afterLoginMobile(data.access_token);
            } else {
              this.afterLoginWeb(data);
            }
          }
          this.isLoading = false;
        })
        .catch(err => {
          if (this.$route.params.source === "mobile") {
            this.afterLoginMobile(null, err.message);
          } else {
            this.isLoading = false;
            this.error = err.message;
          }
        });
    }
  },
  computed: {
    isValid() {
      return !this.$v.user.$invalid;
    }
  },
  methods: {
    checkIfValid(fieldName) {
      const field = this.$v.user[fieldName];
      if (!field.$dirty) {
        return null;
      }
      return !(field.$invalid || field.$model === "");
    },
    checkForEnter(e) {
      if (e.keyCode === 13) {
        this.login();
      }
    },
    login() {
      this.errors = null;
      if (this.isValid) {
        this.isLoading = true;
        this.$store
          .dispatch("authentication/login", this.user)
          .then(response => {
            const data = response.data;
            if (data.access_token) {
              this.afterLoginWeb(data);
            }
          })
          .catch(err => {
            this.isLoading = false;
            this.error = err.message;
          });
      } else {
        this.$v.$touch();
      }
    },
    afterLoginWeb(data) {
      this.$store.dispatch("authentication/saveToken", data.access_token);
      this.$echo.connector.options.auth.headers["Authorization"] =
        "Bearer " + data.access_token;
        this.$echo.connect();
      if (data.user && data.user.created_at) {
        this.$store.commit("authentication/SET_USER", data.user);
      }
      localStorage.setItem("showAnnouncements", true);
      if (data.user.role_id === 1) {
        window.location.replace("/passes/create");
      } else {
        window.location.replace("/dashboard");
      }
    },
    afterLoginMobile(token, error) {
      const query = token ? "?token=" + token : "?error=" + error;
      this.goToApp = process.env.VUE_APP_MOBILE_URL + "login" + query;
    },
    getPKCE() {
      var code_verifier = randomstring.generate(128);
      localStorage.setItem("code_verifier", code_verifier);
      var base64Digest = crypto
        .createHash("sha256")
        .update(code_verifier)
        .digest("base64");
      var code_challenge = base64url.fromBase64(base64Digest);
      return code_challenge;
    },
    getRedirectUri(source = "web", type = null) {
      type = type ? `/${type}` : "";
      return `${document.location.origin}/login/${source}${type}`;
    },
    loginGG4L(source = "web") {
      var redirect_uri = this.getRedirectUri(source);
      var url = `https://sso.gg4l.com/oauth/auth?response_type=code&client_id=${process.env.VUE_APP_GG4L_CLIENT}&redirect_uri=${redirect_uri}/login&state=103`;
      window.location.href = url;
    },
    loginGoogle(source = "web") {
      var redirect_uri = this.getRedirectUri(source);
      var url = `https://accounts.google.com/o/oauth2/v2/auth/auth?client_id=${
        process.env.VUE_APP_GOOGLE_CLIENT_ID
      }&redirect_uri=${redirect_uri}&prompt=consent&access_type=offline&scope=email%20profile%20openid&code_challenge=${this.getPKCE()}&code_challenge_method=S256&flowName=GeneralOAuthFlow&state=10&response_type=code`;
      window.location.href = url;
    },
    loginMS(source = "web") {
      var redirect_uri = this.getRedirectUri(source);
      var url = `https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=${
        process.env.VUE_APP_MICROSOFT_CLIENT_ID
      }&redirect_uri=${redirect_uri}&response_type=code&response_mode=query&scope=https%3A%2F%2Fgraph.microsoft.com%2Fuser.read%20openid%20profile%20email%20offline_access&code_challenge=${this.getPKCE()}&code_challenge_method=S256&state=20`;
      window.location.href = url;
    },
    loginClassLink(source = "web") {
      var redirect_uri = this.getRedirectUri(source, "classlink");
      var url = `https://launchpad.classlink.com/oauth2/v2/auth?scope=profile&redirect_uri=${redirect_uri}&client_id=${process.env.VUE_APP_CLASSLINK_CLIENT_ID}&response_type=code&state=101`;
      window.location.href = url;
    },
    loginClever(source = "web") {
      var redirect_uri = this.getRedirectUri(source, "clever");
      //https://clever.com/in/protective-information-7564
      var url = `https://clever.com/oauth/authorize?client_id=${process.env.VUE_APP_CLEVER_CLIENT_ID}&redirect_uri=${redirect_uri}&response_type=code&state=102`;
      window.location.href = url;
    },
    getProviderIDByName(name) {
      var providers = {
        clever: 102,
        classlink: 101
      };
      return providers[name];
    },
    handleMobileRedirect(type) {
      if (type === "gg4l") {
        this.loginGG4L("mobile");
      } else if (type === "google") {
        this.loginGoogle("mobile");
      } else if (type === "microsoft") {
        this.loginMS("mobile");
      } else if (type === "class_link") {
        this.loginClassLink("mobile");
      } else if (type === "clever") {
        this.loginClever("mobile");
      }
      this.isLoading = false;
    },
    redirectLoginToSource(source){
      switch (source) {
        case 'glogin':
          this.loginGoogle();
          break;

        case 'ologin':
          this.loginMS();
          break;

        case 'clogin':
          this.loginClever();
          break;

        case 'classlinklogin':
          this.loginClassLink();
          break;

        case 'gg4l':
          this.loginGG4L();
          break;

        default:
          break;
      }
    }
  }
};
</script>
<style scoped lang="scss">
.ext-login-btn {
  background-color: #e1e1e1;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 5px 10px;
  cursor: pointer;
  @media screen and (max-width:600px) {
    margin: 5px;
    width: 42px;
    height: 42px;
  }
}
</style>
