<template>
  <div>
    <CContainer>
      <CRow class="mt-4">
        <CCol md="12" class="d-flex align-items-center justify-content-center">
          <h1 class="mb-4">Modules List</h1>
        </CCol>
        <CCol lg="8" sm="12" class="modulesList">
          <div>
            <appointment-pass-module-form v-if="isAppPassAval"></appointment-pass-module-form>
          </div>
          <div>
            <auto-check-in-module-form v-if="isAutoCheckInAval"></auto-check-in-module-form>
          </div>
          <div>
            <kiosk-module-form v-if="isKioksAval"></kiosk-module-form>
          </div>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>
<script>
import AppointmentPassModuleForm from "../components/Forms/AppointmentPassModuleForm";
import AutoCheckInModuleForm from "../components/Forms/AutoCheckInModuleForm";
import KioskModuleForm from "../components/Forms/KioskModuleForm";
import HelpCenterButton from "../components/HelpCenterButton";
import {mapGetters} from 'vuex';

export default {
  name: "ModulesList",
  components: {
    KioskModuleForm,
    AutoCheckInModuleForm,
    AppointmentPassModuleForm,
    HelpCenterButton
  },
  data() {
    return {}
  },
  computed:{
    ...mapGetters({
      availableSchoolModules: 'schools/availableSchoolModules',
    }),
    isKioksAval(){
      return this.availableSchoolModules && this.availableSchoolModules.includes('Kiosk');
    },
    isAppPassAval(){
      return this.availableSchoolModules && this.availableSchoolModules.includes('Appointmentpass');
    },
    isAutoCheckInAval(){
      return this.availableSchoolModules && this.availableSchoolModules.includes('Auto Check-In');
    }
  },
}
</script>
