<template>
  <div>
    <CContainer>
      <CRow class="justify-content-center mt-4">
        <CCol md="6 text-center">
          <h1 class="mb-4">New Releases</h1>
          <div v-if="!releases">
            No releases
          </div>
          <div v-else>
            <div v-for="(release, index) in releases" :key="index" class="mb-5 modal-height">
              <h3 class="text-info"> e-hallpass (EHP) Updates {{release.version}}
                {{$helpers.transformDate(release.created_at,'MMMM,DD')}}</h3>
              <div v-html="release.content">
              </div>
            </div>
          </div>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>
<script>
  import {
    mapGetters
  } from 'vuex';

  export default {
    name: "NewReleases",
    components: {},
    computed: {
      ...mapGetters({
        releases: 'releases/releases',
      }),
    },
    created() {
      this.$store.dispatch('releases/getAllReleases');
    }
  }

</script>
