<template>
  <div>
      <CContainer>
        <CRow class="justify-content-center mt-5">
          <CCol md="6" class="text-center mt-5">
            <div class="text-center mb-4">
                <img src="@/assets/images/logo-small.png" alt="e-hallpass">
            </div>
            <h1 style="font-size:120px" class="text-graident-blue mt-5"><b>404</b></h1>
            <h2 class="mb-5">Page not found..</h2>
            <CLink class="text-accent-blue-dark" to="/">
              <b>Go back to home</b>
            </CLink>
          </CCol>
        </CRow>
      </CContainer>
  </div>
</template>
<script>
export default {
  name: "Not Found",
}
</script>