<template>
  <div>
      <CContainer>
        <CRow class="justify-content-center mt-4">
          <CCol md="12" class="text-center">
            <h1 class="mb-4">
              Out of office
              <HelpCenterButton _class="mr-2" contentKey="office_out_form"/>
            </h1>
            <OutOfOfficeForm @outOfOfficeCreated="refreshDataTable()" :editablePass="editablePass" isInView="true"/>
          </CCol>
        </CRow>
      </CContainer>
      <OutOfOfficeDataTable ref="OutOfOfficeDataTable" />
  </div>
</template>
<script>
import OutOfOfficeForm from '@/components/Forms/OutOfOfficeForm'
import { mapGetters } from 'vuex';
import OutOfOfficeDataTable from '@/components/DataTables/OutOfOfficeDataTable';
import HelpCenterButton from '@/components/HelpCenterButton';

export default {
  name: "OutOfOffice",
  components: {OutOfOfficeForm, OutOfOfficeDataTable, HelpCenterButton},
  computed: {
    ...mapGetters({
      editablePass: 'outOfOfficePasses/editablePass',
    }),
  },
  methods: {
    refreshDataTable(){
      this.$refs.OutOfOfficeDataTable.refreshDataTable();
    }
  }
}
</script>