<template>
  <PassTransparencyDataTable/>
</template>
<script>
import PassTransparencyDataTable from "../components/DataTables/PassTransparencyDataTable";
export default {
  name: 'PassTransparency',
  components: {PassTransparencyDataTable}
}
</script>
