<template>
  <PassHistoryDataTable/>
</template>
<script>
import PassHistoryDataTable from '@/components/DataTables/PassHistoryDataTable';
export default {
  name: 'PassHistory',
  components: {PassHistoryDataTable}
}
</script>