<template>
  <div>
      <CContainer>
        <CRow class="justify-content-center mt-4">
          <CCol col="12" md="8" xl="6" class="text-center">
            <h1 class="mb-4">
              Pass Blocking
              <HelpCenterButton _class="mr-2" contentKey="pass_blocking"/>
            </h1>
            <CreatePassBlockingForm @createdPassBlock="refreshDataTable" isInView="true" :editablePassBlock="editablePassBlock"/>
          </CCol>
        </CRow>
        <CRow>
          <CCol md="12">
            <PassBlockingDataTable ref="PassBlockingDataTable"/>
          </CCol>
        </CRow>
      </CContainer>
  </div>
</template>
<script>
import CreatePassBlockingForm from '@/components/Forms/CreatePassBlockingForm'
import PassBlockingDataTable from '@/components/DataTables/PassBlockingDataTable';
import HelpCenterButton from '@/components/HelpCenterButton';
import { mapGetters } from 'vuex';

export default {
  name: "PassBlocking",
  components: {CreatePassBlockingForm, PassBlockingDataTable, HelpCenterButton},
    computed: {
    ...mapGetters({
      editablePassBlock: 'passBlocks/editablePassBlock',
    }),
  },
  methods: {
    refreshDataTable(){
      this.$refs.PassBlockingDataTable.refreshDataTable();
    }
  }
}
</script>