<template>
  <PeriodsDataTable></PeriodsDataTable>
</template>
<script>
import PeriodsDataTable from "../components/DataTables/PeriodsDataTable";
export default {
  name: 'Periods',
  components: {PeriodsDataTable}
}
</script>
