<template>
  <div>
    <CContainer class="student-pass">
      <CRow v-if="!isloading" class="justify-content-center">
        <CCol lg="8" xl="6" class="bg-white text-center pt-4 pb-2">
          <HelpCenterButton
            _class="top-right mt-2 mr-2"
            :contentKey="formHelpCenterKey"
          />
          <CAlert
            v-if="restrictions"
            class="mt-2"
            show
            color="info"
            style="text-align:center; display:inline-block;"
            >You have ({{ restrictions }}) location restrictions</CAlert
          >
        </CCol>
      </CRow>
      <CRow class="justify-content-center" v-if="!isloading">
        <CCol lg="8" xl="6"  class="bg-white text-left pt-4 pb-4 mb-5">
          <div class="d-flex flex-md-shrink-0 pass-tab-cnt">
            <button
              @click="setActiveTab('now-pass')"
              :class="[
                modal.activeModalTab === 'now-pass' ? 'focus' : '',
                !passLimits.has || !passLimits.student_reached_limit ? 'active' : '',
                'py-2 px-4 font-weight-bold text-uppercase now-pass-btn',
                ,
                hasAppoitmentPasses ? 'w-50' : 'w-100'
              ]"
            >
              Now Pass
              <span
                class="d-block text-uppercase text-value-xs"
                v-if="passLimits.has"
                >Pass Limit: {{ this.passLimits.max > this.passLimits.current ? this.passLimits.max - this.passLimits.current : 0 }}/{{
                  this.passLimits.max == -1 ? "&infin;" : this.passLimits.max
                }}</span
              >
              <span
                class="d-block text-uppercase text-value-xs"
                v-if="passLimits.has"
                >{{ $helpers.transformDate(this.passLimits.from_date) }} -
                {{ $helpers.transformDate(this.passLimits.to_date) }}</span
              >
            </button>
            <button
              @click="setActiveTab('appointment-pass')"
              v-if="hasAppoitmentPasses"
              :class="[
                modal.activeModalTab === 'appointment-pass' ? 'focus' : '',
                appointmentPassRequests > 0 && hasAppoitmentPasses
                  ? 'active'
                  : '',
                'text-uppercase py-2 px-4 font-weight-bold w-50 appointment-pass-btn  lh-normal'
              ]"
            >
              Appointment Pass
              <span class="d-block text-uppercase text-value-xs"
                >{{ this.appointmentPassRequests }} request(s) available</span
              >
            </button>
          </div>
          <div class="my-2" v-show="modal.activeModalTab === 'now-pass'">
            <CreatePassForm v-if="!passLimits.has || passLimits.current < passLimits.max" />
            <div
              v-else
              class="d-flex flex-column py-5"
            >
              <img src="@/assets/images/sad-face.png" class="w-50 m-auto" />
              <div
                class="text-primary  text-uppercase text-value-lg text-center"
              >
                (0) NOW PASSES AVAILABLE
              </div>
            </div>
          </div>
          <div :class="{'opacity-0' : showOnload}" v-show="showOnload || modal.activeModalTab === 'appointment-pass'">
            <CreateAppointmentPassForm
              v-if="appointmentPassRequests > 0 && hasAppoitmentPasses"
            />
            <div v-if="!hasAppoitmentPasses" class="d-flex flex-column py-5">
              <!-- <img src="@/assets/images/sad-face.png" class="w-50 m-auto"> -->
              <div
                class="text-primary  text-uppercase text-value-lg text-center"
              >
                THE MODEULE IS NOT AVAILABLE
              </div>
            </div>
            <div
              v-if="appointmentPassRequests == 0 && hasAppoitmentPasses"
              class="d-flex flex-column py-5"
            >
              <img src="@/assets/images/sad-face.png" class="w-50 m-auto" />
              <div
                class="text-primary  text-uppercase text-value-lg text-center"
              >
                (0) APPOINTMENT PASSES AVAILABLE
              </div>
            </div>
          </div>
        </CCol>
      </CRow>
      <CRow class="justify-content-center">
        <CCol lg="8" xl="6"  class="">
          <CSpinner color="primary" v-if="isloading" />
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import CreatePassForm from "../components/Forms/CreatePassForm";
import CreateAppointmentPassForm from "../components/Forms/Student/CreateAppointmentPassForm";
import HelpCenterButton from "@/components/HelpCenterButton";

export default {
  name: "TeacherPass",
  data() {
    return {
      modal: {
        isVisible: false,
        activeModalTab: "now-pass"
      },
      activeModal: null,
      notf: {
        acknowledge: null,
        appointmentpassready: null
      },
      isloading: true,
      restrictions: null,
      showOnload: true,
    };
  },
  created() {
    this.getPasses();
    this.$store.dispatch("passes/getStudentActivePass");
  },
  mounted() {
    setTimeout(() => {
      this.showOnload = false; // fixes carousel dots scroll bug
    }, 1000);
    this.initSockets();
  },
  destroyed() {
    this.destroySockets();
  },
  components: {
    CreatePassForm,
    CreateAppointmentPassForm,
    HelpCenterButton
  },
  computed: {
    ...mapGetters({
      passes: "passes/passes",
      pass_limit: "passes/pass_limit",
      app_pass_limit: "passes/app_pass_limit",
      activePass: "passes/activePass",
      notifications: "sockets/notifications",
      activeSchool: "schools/activeSchool",
      currentUser: 'authentication/user',
    }),
    appointmentPassRequests() {
      return this.app_pass_limit.max_count - this.app_pass_limit.created_count;
    },
    passLimits() {
      return this.pass_limit;
    },
    appointmentPassReady() {
      return this.notifications.appointmentPassRun.data;
    },
    acknowledgePassNotf() {
      return this.notifications.appointmentPassRemind.data;
    },
    hasAppoitmentPasses() {
      let appointmentPass = this.activeSchool.modules.find(
        module => module.name === "Appointmentpass" && module.pivot.status
      );
      if (!appointmentPass) {
        return false;
      }
      let appointmentPassOptions = JSON.parse(
        appointmentPass.pivot.option_json
      );
      return (
        appointmentPassOptions.admin ||
        appointmentPassOptions.location ||
        appointmentPassOptions.staff ||
        appointmentPassOptions.teacher
      );
    },
    formHelpCenterKey() {
      switch (this.modal.activeModalTab) {
        case "now-pass":
          return "to_create_now_pass_txt";

        case "appointment-pass":
          return "to_create_an_appointment_text";

        default:
          return "";
      }
    }
  },
  methods: {
    setActiveTab(tab) {
      this.modal.activeModalTab = tab;
    },
    acknowledgePass(pass_id) {
      this.$store.dispatch("passes/acknowledgeStudentAppointmentPass", pass_id);
    },
    getPasses() {
      this.$store.dispatch("passes/getPasses").then(res => {
        this.isloading = false;
        if (res && res.data && res.data.data && res.data.data.restriction) {
          this.restrictions = res.data.data.restriction.count;
        }
      });
    },
    initSockets() {
      let schoolId = this.currentUser.school_id;
      let userId = this.currentUser.id;
      let schoolChannel = this.$echo.private(`pass-limits.${schoolId}`);
      let userChannel = this.$echo.private(`user.profile.${userId}`);

      schoolChannel.listen('StudentPassLimitCreatedEvent', () => {
        this.getPasses();
      });
      userChannel.listen('StudentPassLimitCreatedEvent', () => {
        this.getPasses();
      });

      schoolChannel.listen('StudentPassLimitRemovedEvent', () => {
        this.getPasses();
      });
      userChannel.listen('StudentPassLimitRemovedEvent', () => {
        this.getPasses();
      });
    },
    destroySockets(){
      let schoolId = this.currentUser.school_id;
      let userId = this.currentUser.id;
      this.$echo.connector.leaveChannel(`pass-limits.${schoolId}`);
      this.$echo.connector.leaveChannel(`user.profile.${userId}`);
    },
  }
};
</script>
