<template>
  <SummaryReportsDataTable></SummaryReportsDataTable>
</template>

<script>
import SummaryReportsDataTable from "../components/DataTables/SummaryReportsDataTable";
export default {
  components: {SummaryReportsDataTable}
}
</script>

<style>

</style>
