<template>
  <div>
      <CContainer>
        <CRow class="justify-content-center mt-4">
          <CCol md="12" class="text-center px-0">
            <h1>
              Teacher Pass
              <HelpCenterButton contentKey="teacher_pass_create"/>
            </h1>
            <p class="mb-4">(Proxy Pass)</p>
            <CreateTeacherPassForm :students="students" :rooms="rooms" :staff="staff" isInView="true"/>
          </CCol>
        </CRow>
      </CContainer>
  </div>
</template>
<script>
import CreateTeacherPassForm from '@/components/Forms/CreateTeacherPassForm'
import { mapGetters } from 'vuex';
import HelpCenterButton from '@/components/HelpCenterButton';

export default {
  name: "TeacherPass",
  components: {CreateTeacherPassForm, HelpCenterButton},
  computed: {
    ...mapGetters({
      students: 'users/formListStudents',
      staff: 'users/formListStaff',
      rooms: 'rooms/formListRooms',
    }),
  }
}
</script>
