<template>
<div>
  <CContainer class="users-view-container">
    <!-- Modals -->

 <CModal :show="showAddUserWarningModal"
          :closeOnBackdrop="false">
    <template #header-wrapper>
      <div></div>
      </template>
        <div class="p-3">
          <CAlert class="mx-2 no-icon" color="danger" :show="true">
            <div>
              When adding a user here, a "Login Type" will need to be selected.  The options are Manual, Google, or Microsoft (O365).  Manual will have an option for a password to be added and managed within e-hallpass.  (An invite could also be sent for the user to set up the password.) Please be aware that when adding a user here with one of these three login types, the user will NOT be subject to the system "auto-archiving" process.  Please see the "Add User" Help Text for additional details. 
              <p class="mt-2 mb-0">Would you like to proceed?</p>
            </div>
          </CAlert>
          <div class="d-flex align-items-center justify-content-between px-4">
            <button class="btn btn bg-gradient-blue reverse text-white" @click="toggleTab('addUser'), showAddUserWarningModal = false">Yes</button>
            <button class="btn btn" @click="showAddUserWarningModal = false">No</button>
          </div>
        </div>
      <template #footer-wrapper>
      <div></div>
    </template>
  </CModal>

    <!-- end Modals -->
    <h1 class="text-center mb-4 mb-lg-5">
      Main Users
      <HelpCenterButton _class="mr-2" contentKey="main_users_menu"/>
    </h1>
    <UsersStats/>
    
    <CRow class="forms-container justify-content-center mt-2">
      <CCol xs="12" sm="6" md="5" lg="4" class="px-1 mt-4">
        <div id="user-manage-form-container" class="form-block rounded-panel px-3 px-xl-5 py-2">
          <div class="d-flex justify-content-between align-items-center py-2">
            <h5 class="font-weight-light d-block rounded-panel-title my-2">{{editableUser ? 'Edit User (full access)' : 'Add User (full access)'}}</h5>
            <span @click="showCreateForm"
                  class="d-flex align-items-center justify-content-center text-white rounded-circle bg-gradient-blue p-2 cursor-pointer">
              <i :class="tabs.addUser ? 'flaticon-up-arrow' : 'flaticon-down-arrow'"></i>
            </span>
          </div>
          <div class="form" v-show="tabs.addUser">
            <CreateUserForm @userCreated="refreshDataTable(), refreshUsersStats()" @userUpdated="refreshDataTable"/>
          </div>
        </div>
        <UsersImport></UsersImport>
      </CCol>

      <CCol xs="12" sm="6" md="5" lg="4" class="px-1 mt-4">
        <div class="form-block rounded-panel px-3 px-xl-5 py-2">
          <div class="d-flex justify-content-between align-items-center py-2">
            <h5 class="font-weight-light d-block rounded-panel-title my-2">Add Substitute (PIN Only)</h5>
            <span @click="toggleTab('addSubstitute')"
                  class="d-flex align-items-center justify-content-center text-white rounded-circle bg-gradient-blue p-2 cursor-pointer">
              <i :class="tabs.addSubstitute ? 'flaticon-up-arrow' : 'flaticon-down-arrow'"></i>

            </span>
          </div>
          <div class="form" v-show="tabs.addSubstitute">
            <CreateSubstituteForm @substituteCreated="refreshUsersStats" />
          </div>
        </div>

        <div v-if="isActiveKioskModule">
          <ImportKioskPW />
        </div>
      </CCol>
    </CRow>
  </CContainer>
  <UsersDataTable ref="UsersDataTable" @setUserEditable="tabs.addUser = true"/>
</div>
</template>
<script>
import UsersDataTable from '@/components/DataTables/UsersDataTable';
import UsersImport from "@/components/UsersImport/UsersImport";
import CreateUserForm from "@/components/Forms/CreateUserForm";
import CreateSubstituteForm from "@/components/Forms/CreateSubstituteForm";
import UsersStats from "@/components/UsersStats";
import ImportKioskPW from '@/components/UsersImport/ImportKioskPW';
import {mapGetters} from 'vuex';
import HelpCenterButton from '@/components/HelpCenterButton';

export default {
  name: 'Users',
  data() {
    return {
      showAddUserWarningModal: false,
      tabs: {
        addUser: false,
        addSubstitute: false,
      },
    }
  },
  components: {
    UsersDataTable,
    UsersImport,
    CreateUserForm,
    UsersStats,
    CreateSubstituteForm,
    ImportKioskPW,
    HelpCenterButton
  },
  computed: {
    ...mapGetters({
      editableUser: 'users/editableUser',
      isActiveKioskModule: 'schools/isActiveKioskModule',
    })
  },
  watch: {
    editableUser: function(value) {
      if(!value){
        this.showCreateForm();
      }
    }
  },
  methods: {
    toggleTab(tab) {
      this.tabs[tab] = !this.tabs[tab];
    },
    refreshDataTable(){
      this.$refs.UsersDataTable.refreshDataTable();
    },
    refreshUsersStats(){
      this.$store.dispatch('users/getStats');
    },
    showCreateForm(){
      if(this.tabs.addUser){
        this.tabs.addUser = false;
      }else{
        this.showAddUserWarningModal = !this.editableUser;
        this.tabs.addUser = this.editableUser;
      }
    }
  }
}
</script>
