<template>
    <div class="profile-view">
        <StudentSettings v-if="userRole === 'student'" :userRole="userRole" :isActiveKioskModule="isActiveKioskModule" :showPhoto="showStudentPhotos" :user="user"/>
        <AdminSettings :activeAppoinmentModuleOptions="activeAppoinmentModuleOptions" :isActiveAppoinmentModule="isActiveAppoinmentModule" :isActiveAutoCheckInModule="isActiveAutoCheckInModule" v-else :user="user" :userRole="userRole"/>
    </div>
</template>

<script>
import AdminSettings from '@/components/UserSettings/AdminSettings.vue'
import StudentSettings from '@/components/UserSettings/StudentSettings.vue'
import {mapGetters} from 'vuex';

export default {
    name: "UserSettings",
    components:{
        AdminSettings,
        StudentSettings
    },
    data() {
        return {
        };
    },
    computed: {
       ...mapGetters({
            user: 'authentication/user',
            userRole: 'authentication/getUserRole',
            isActiveAppoinmentModule: 'schools/isActiveAppoinmentModule',
            isActiveAutoCheckInModule: 'schools/isActiveAutoCheckInModule',
            isActiveKioskModule: 'schools/isActiveKioskModule',
            activeAppoinmentModuleOptions: 'schools/activeAppoinmentModuleOptions',
            showStudentPhotos: 'schools/showStudentPhotos'
        }),
    },
    created(){
        this.$store.dispatch('authentication/getUserDetails');
    }
}
</script>

<style>

</style>