<template>
  <div>
      <CContainer>
        <CRow class="justify-content-center mt-4">
          <CCol md="12 text-center">
            <h1 class="mb-4">VideoTraining</h1>
            <div v-if="videos">
              <div class="" v-for="(video,index) in videos" :key="index">
                <h2>{{ video.topic }}</h2>
                <p>{{ video.description }}</p>
                <iframe :src="video.link" class="trainings-iframe centered-content-iframe"></iframe>
              </div>
            </div>
            <div v-else>
              No tutorials at the moment
            </div>
          </CCol>
        </CRow>
      </CContainer>
  </div>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
  name: "VideoTraining",
  components: {
  },
  created(){
    this.$store.dispatch('releases/getVideos');
  },
  computed: {
    ...mapGetters({
      videos: 'releases/videos',
    }),
  }
}
</script>
