<template>
  <div class="my-2">
    <span class="text-black-50 text-value-lg mb-2 d-inline-block">Departing From:</span>
    <LazyLoadSelect :classes="[{ 'is-invalid': $v.form.from.$error || responseMessage.errors['from_id']}]" :isMultiple="false" v-model="form.from"
      :selected="form.from" type="combined" placeholder="Teacher/Location" @change="(value)=>{form.from = value}">
      <template #footer>
        <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.from.required">This field is
          required</div>
        <div class="invalid-feedback" v-if="responseMessage.errors['from_id']">
          {{responseMessage.errors['from_id'][0]}}
        </div>
      </template>
    </LazyLoadSelect>

    <FavoriteCarousel :selected="$v.form.from.$model" :isEditable="true"
      :action="(elem)=>{form.from = elem;}" helpCenterKey="to_add_favorite_teacher_txt" :isvalid="checkIfValid('from')"
      class="mb-3" section="departing" :key="'departing'" />
    <hr />
    <span class="text-black-50 text-value-lg mb-2 d-inline-block">Destination:</span>
    <LazyLoadSelect :classes="[{ 'is-invalid': $v.form.to.$error || responseMessage.errors['to_id']}]" :isMultiple="false" v-model="form.to"
      :selected="form.to" type="appointment" placeholder="Teacher/Location" @change="(value)=>{form.to = value}">
      <template #footer>
        <div class="invalid-feedback d-flex flex-wrap font-weight-bold" v-if="form.to && form.to.value && form.to.value.unavailability">
          This adult is unavailable until
          <span class="mx-1" v-html="$helpers.getHTMLDateTime(form.to.value.unavailability.to_date, 'MMMM D, YYYY',  'h:mm A') + '.'"></span>
          <span v-if="form.to.value.unavailability.comment">Note: {{form.to.value.unavailability.comment}}</span>
        </div>
        <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.to.required">This field is
          required</div>
        <div class="invalid-feedback" v-if="!$v.form.to.notSameAsFrom && $v.form.to.required  ">
          Start point and destination point should not be the same.
        </div>
        <div class="invalid-feedback" v-if="responseMessage.errors['to_id']">
          {{responseMessage.errors['to_id'][0]}}
        </div>
      </template>
    </LazyLoadSelect>

    <FavoriteCarousel :selected="$v.form.to.$model" :isEditable="true" :showUnavailables="true"
      :action="(elem)=>{form.to = elem;}" :isvalid="checkIfValid('to')" section="destination"
      :key="'destination'" />

    <CRow class="mt-3">
      <CCol sm="4" class="pr-3 pr-sm-1">
        <v-date-picker class="cs-date-picker" placeholder="Date" :popover="{ visibility: 'click' }"
          :masks="{L:'MM/DD/YYYY'}"
          v-model="$v.form.for_date.$model" :min-date="minDate">
          <template v-slot="{ inputValue, togglePopover }">
            <div class="input-icon-field" @click="togglePopover">
              <div class="form-group">
                <input class="form-control" :class="{ 'is-invalid': $v.form.for_date.$error || responseMessage.errors['for_date'] }" placeholder="Date"
                  readonly :value="inputValue" />
                <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.for_date.required">This field is
                  required</div>
                  <div class="invalid-feedback" v-if="responseMessage.errors['for_date']">
                    {{ responseMessage.errors["for_date"][0] }}
                  </div>
              </div>
              <span class="field-icon">
                <i class="fi flaticon-calendar mr-1"></i>
              </span>
            </div>
          </template>
        </v-date-picker>
      </CCol>
      <CCol sm="4">
        <v-select :options="periods" v-model="form.period" placeholder="Period" :clearable="false"
          class="cs-select periods ps__child--consume" :class="{ 'is-invalid': $v.form.period.$error || responseMessage.errors['period_id']}" lable="label">
          <template #footer>
            <div class="invalid-feedback" v-if="$v.form.period.$error">
              This field is required
            </div>
            <div class="invalid-feedback" v-if="responseMessage.errors['period_id']">
              {{ responseMessage.errors["period_id"][0] }}
            </div>
          </template>
          <span slot="no-options">
            <span class="text-black-50 pm-1 d-inline-block"> Sorry, no matching options </span>
          </span>
        </v-select>
      </CCol>
      <CCol sm="4" class="pl-3 pl-sm-0 my-3 my-sm-0">
        <cs-time-picker v-model="$v.form.time.$model" placeholder="Time"
          :classes="{ 'is-invalid': ($v.form.time.$error || responseMessage.errors['time'])}">
          <template #footer>
            <div v-if="$v.form.$error && !$v.form.time.required" class="invalid-feedback"> This field is required</div>
            <div v-if="$v.form.$error && $v.form.time.required && !$v.form.time.minTime" class="invalid-feedback"> The time must be 30 minutes from now and
              not
              more than a month!</div>
            <div v-if="$v.form.$error && $v.form.time.required && !$v.form.time.betweenTime" class="invalid-feedback"> You must pick a time between 6AM and
              5PM.</div>
              <div class="invalid-feedback" v-if="responseMessage.errors['time']">
                {{ responseMessage.errors["time"][0] }}
              </div>
          </template>
        </cs-time-picker>
      </CCol>
    </CRow>

    <CTextarea
      :placeholder="form.to.value.comment_type=='Optional'?'Reason for pass (optional)':'Reason for pass (required)'"
      rows="5" v-if="form && form.to && form.to.value && form.to.value.comment_type!='Hidden'"
      :isValid="checkIfValid('reason')" :value.sync="$v.form.reason.$model" />
      <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.reason.mandatory">This field is required</div>
      <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.reason.maxLengthCustom">Max 255 characters</div>
      <div class="invalid-feedback" v-if="responseMessage.errors['reason']">
        {{ responseMessage.errors["reason"][0] }}
      </div>

      <CAlert v-if="responseMessage.message && responseMessage.message !== 'The given data was invalid.'" class="mt-3" :color="responseMessage.type"
        :show="!!responseMessage.message">
        {{ responseMessage.message }}
      </CAlert>

    <div class="form-group form-actions mt-2 text-center">
      <div class="d-inline" @click="submit()">
        <CLoadingButton :spinner="isLoading" :disabled="isLoading" :loading="isLoading"
          class="mt-2 btn bg-gradient-blue text-white">
          Submit
        </CLoadingButton>
      </div>
    </div>
    <CModal :show.sync="showAppPassSuccesModal" addContentClasses="bg-white">
      <template #header-wrapper>
        <div class="d-flex ">
          <h2 class="mb-0 text-center text-black-50 w-100 pt-4">Appointment Request Sent for
            {{ $helpers.currTzDate(form.for_date, 'ddd, M/D') }}</h2>
        </div>
      </template>

      <template #footer-wrapper>
        <div class="d-flex w-50 my-2 mx-auto">
          <button class="btn btn-confirm w-100 m-2 p-3"
            @click="showAppPassSuccesModal=false;$router.push('/appointment-pass');">Apt Menu</button>
          <button class="btn btn-cancel w-100 m-2 p-3" @click="closePassSuccess()">
            Close</button>

        </div>
      </template>
    </CModal>
  </div>
</template>

<script>
  import {
    validationMixin
  } from "vuelidate"
  import {
    required,
  } from "vuelidate/lib/validators";
  import {
    mapGetters
  } from "vuex";
  import FavoriteCarousel from "./../FavoriteCarousel.vue";
  import moment from 'moment-timezone';
  import {
    DatePicker
  } from 'v-calendar';
  import LazyLoadSelect from '@/components/LazyLoadSelect.vue';

  export default {
    name: "CreateAppointmentPassForm",
    components: {
      FavoriteCarousel,
      LazyLoadSelect,
      'v-date-picker': DatePicker,

    },
    data() {
      return {
        isLoading: false,
        form: {
          from: [],
          to: [],
          reason: "",
          for_date: null,
          time: null
        },
        responseMessage: {
          type: "",
          message: "",
          errors: []
        },
        isLoading: false,
        showAppPassSuccesModal: false
      };
    },
    mixins: [validationMixin],
    validations: {
      form: {
        from: {
          required,
        },
        to: {
          required,
          available:(value, vm) => {if((vm.to && vm.to.value) && !(vm.to.value.unavailability)){return true} return false;},
          notSameAsFrom: (value, vm) => {
            if (!(vm.from && vm.from.value) && (vm.to && vm.to.value)) {
              return true;
            }
            if (!(vm.from && vm.from.value) || !(vm.to && vm.to.value)) {
              return false;
            }

            return vm.from.value.id != vm.to.value.id;
          },
        },
        reason: {
          mandatory: (value, vm) => {
            if (vm.to && vm.to.value && vm.to.value.comment_type && vm.to.value.comment_type == 'Mandatory') {
              if (vm.reason && vm.reason != '') {
                return true;
              } else {
                return false;
              }
            } else {
              return true;
            }
          },
          maxLengthCustom: (value, vm) => {
            if (!vm.reason) {
              return true
            } else {
              return vm.reason != '' && vm.reason.length <= 255;
            }

          }
        },
        time: {
          required,
          minTime: (value, vm) => {
            if (vm.for_date && vm.time && moment().add(30, 'minutes')
              .isSameOrBefore(moment(moment(new Date(vm.for_date).toLocaleDateString('en-GB'), 'DD-MM-YYYY').format(
                  'YYYY-MM-DD') + ' ' + vm
                .time))) {
              return true;
            } else {
              return false
            }
          },
          betweenTime: (value, vm) => {
            return moment(vm.time, 'HH:mm a').isBetween(moment('05:59 AM', 'HH:mm a'), moment('05:01 PM', 'HH:mm a'));
          }
        },
        for_date: {
          required
        },
        period: {
          required,
        }
      }
    },
    computed: {
      ...mapGetters({
        periods: "passes/formListPeriods",
      }),

      isValid() {
        return !this.$v.form.$invalid
      },
      minDate() {
        return moment().format('MMM DD YYYY');
      }
    },
    methods: {
      checkIfValid(fieldName) {
        const field = this.$v.form[fieldName];
        if (!field.$dirty) {
          return null;
        }
        return !(field.$invalid || field.$model === '');
      },
      submit() {
        this.resetResponseMessage();
        this.isLoading = true;
        if (this.isValid) {
          let appointmentPass = {
            from_id: this.form.from.value.id,
            to_id: this.form.to.value.id,
            from_type: this.form.from.value.type,
            to_type: this.form.to.value.type,
            for_date: this.$helpers.currTzDateTime(this.form.for_date, this.form.time),
            time: this.$helpers.currTzDateTime(this.form.for_date, this.form.time),
            reason: this.form.reason,
            period_id: this.form.period.value[0]
          };

          this.$store.dispatch('appointmentPasses/createStudentAppointmentPass', appointmentPass)
            .then(() => {
              this.isLoading = false;
              this.showAppPassSuccesModal = true;
            })
            .catch((err) => {
              this.responseMessage = {
                type: 'danger',
                message: err.response.data.message,
                errors: err.response.data.errors ? err.response.data.errors : []
              };
              this.isLoading = false;
            });
        } else {
          this.$v.$touch();
          this.isLoading = false;
        }
      },
      closePassSuccess(){
        this.showAppPassSuccesModal=false;
        this.form={
          from: [],
          to: [],
          reason: "",
          for_date: null,
          time: null
        }
        this.$v.$reset();
        window.location.reload();
      },
      resetResponseMessage(){
        this.responseMessage = {
          type: "",
          message: "",
          errors: []
        };
      }
    }

  }

</script>

<style scope lang="scss">
  .periods {
    #vs5__listbox {
      max-height: 110px !important;
    }
  }

</style>
