<template>
  <div v-if="user" class="c-header-nav-items header-account-dropdown">
    <CLink class="d-flex align-items-center mr-2" to="/user-settings">
      <div v-if="showPhoto" class="c-avatar mr-1 mr-sm-3">
        <div class="settings-link">
          <i class="flaticon-settings"></i>
        </div>
        <img :src="user.avatar ? user.avatar : '/img/avatars/user-avatar.jpeg'" class="c-avatar-img user-avatar-image"/>
      </div>
      <div class="user-info">
        <div class="name">{{ user.first_name + ' ' + user.last_name }}</div>
        <b>Profile settings</b>
      </div>
    </CLink>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: 'TheHeaderDropdownAccnt',
  props: ['user'],
  data() {
    return {
      itemsCount: 42
    }
  },
  computed: {
    ...mapGetters({
      showStudentPhotos: 'schools/showStudentPhotos',
      isStudent: 'authentication/isStudent',
    }),
    showPhoto() {
      return !this.isStudent || this.showStudentPhotos
    },
  },
  methods: {
    logout() {
      this.$store.dispatch('authentication/logOut');
    }
  }
}
</script>

<style lang="scss" scoped>
.c-icon {
  margin-right: 0.3rem;
}
</style>
