<template>
  <CDropdown
    caret
    inNav
    class="c-header-nav-items header-school-dropdown"
    placement="bottom-end"
    add-menu-classes="p-0 shadow-none"
    :class="{'student-school' : noSchoolOptions}"
    v-if="activeSchool"
  >
    <template #toggler>
      <CHeaderNavLink :class="{'cursor-default' : noSchoolOptions}">
        <div class="c-avatar active-school mr-1 mr-md-3">
          <img width="50"
            :src="activeSchool.logo ? activeSchool.logo : '/img/avatars/school-avatar.png'"
            class="c-avatar-img"
          />
        </div>
        <b class="flex-grow-1">{{activeSchool.name}}</b>
      </CHeaderNavLink>
    </template>
    <div v-if="!noSchoolOptions">
      <CDropdownItem v-for="(school,index) in schoolOptions" :key="index" class="px-2">
        <div @click="setActiveSchool(school)" class="d-flex align-items-center school-container py-2">
          <div class="c-avatar mr-1 school-avatar">
            <img width="50" :src="school.logo ? school.logo : '/img/avatars/school-avatar.png'" class="c-avatar-img"/>
            </div>
          <div class="text-left school-name flex-grow-1">{{school.name}}</div>
        </div>
      </CDropdownItem>
    </div>
  </CDropdown>
</template>

<script>
import {mapState} from 'vuex';

export default {
  name: 'TheHeaderDropdownAccnt',
  props: ['userRole'],
  data () {
    return {}
  },
  computed:{
    ...mapState({
      schools: state => state.schools.schools,
      activeSchool: state => state.schools.activeSchool
    }),
    isStudent() {
      return this.userRole.toLowerCase() === 'student';
    },
    schoolOptions(){
      return this.schools && this.schools.length ? this.schools.filter(el => el.id !== this.activeSchool.id) : [];
    },
    noSchoolOptions(){
      return this.isStudent || !this.schoolOptions.length;
    }
  },
  methods:{
    setActiveSchool(school){
      if(school && school.name !== this.activeSchool.name){
        this.$store.dispatch('schools/changeActiveSchool', school);
      }
    },
  },
}
</script>
