<template>
<div class="create-popup-container">
    <button @click="modal.isVisible = true, toggleBodyScroll(true);" class="btn bg-gradient-blue text-white font-weight-bold">
        <i class="flaticon-plus mr-2"></i>
        <span>Create</span>
    </button>
    <CModal
      :size="modal.size"
      :show.sync="modal.isVisible"
      :closeOnBackdrop="false"
    >
    <template #header-wrapper>
        <div class="pt-4 px-4 create-popup-header d-flex align-items-center justify-content-between">
            <div @click="closeModal()" class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span class="close-icon"></span></div>
            <HelpCenterButton v-if="modal.activeModalTab" :contentKey="helpCenterKey"/>
        </div>
    </template>

    <div v-if="!modal.activeModalTab || modal.activeModalTab === 'all'" class="px-0 px-md-4 pb-4 text-center">
        <CContainer>
        <CRow>
              <div @click="setActiveTab('teacher_pass_pop_up')" class="create-box bg-gradient-blue cursor-pointer">
                  <div class="text-center mb-1">
                    <i class="flaticon-key"></i>
                  </div>
                  <b>Teacher Pass<sup>TCH</sup><br>(Proxy Pass)</b>
              </div>
              <div v-if="isActiveAppoinmentModule" @click="setActiveTab('appointment_pass_pop_up')" class="create-box bg-gradient-blue cursor-pointer">
                  <div class="text-center mb-1">
                    <i class="flaticon-calendar"></i>
                  </div>
                  <b>Appointments Pass<sup>APT</sup></b>
              </div>
              <div @click="setActiveTab('out_of_office_pop_up')" class="create-box bg-gradient-blue cursor-pointer">
                  <div class="text-center mb-1">
                    <i class="flaticon-briefcase"></i>
                  </div>
                  <b>Out of office</b>
              </div>
              <div v-if="isActiveKioskModule" @click="goToPage('/kiosks')" class="create-box bg-gradient-blue cursor-pointer">
                  <div class="text-center mb-1">
                    <i class="flaticon-monitor"></i>
                  </div>
                  <b>Activate Kiosk</b>
              </div>
              <div v-if="userRole != 'admin'" class="create-box pass-history cursor-pointer mr-0">
                <CLink to="/pass-history">
                  <div class="text-center mb-1 icon">
                    <i class="flaticon-exchange"></i>
                  </div>
                  <b>Pass History</b>
                </CLink>
              </div>
              <div v-else class="create-box bg-gradient-yellow cursor-pointer mr-0">
                <CLink to="/help-desk-portal">
                  <div class="text-center mb-1">
                    <i class="flaticon-idea-gray"></i>
                  </div>
                  <b>Help Desk Request</b>
                </CLink>
              </div>
        </CRow>
        <CRow v-if="userRole === 'admin'" class="create-limits-container">
              <div @click="setActiveTab('a_b_polarity_pop_up')" class="create-box cursor-pointer">
                <div class="text-center mb-3">
                    <img
                        class="m-0"
                        src="@/assets/images/icons/followers-icon.png"
                    />
                </div>
                <b>Contact Control<br>(A/B Polarity)</b>
              </div>
              <div @click="setActiveTab('limit_location_max_cap_pop_up')" class="create-box cursor-pointer">
                <div class="text-center mb-3">
                    <img
                        class="m-0"
                        src="@/assets/images/icons/pin.png"
                    />
                </div>
                <b>Limit Location Max Cap</b>
              </div>
              <div @click="setActiveTab('limit_local_availability_pop_up')" class="create-box cursor-pointer">
                <div class="text-center mb-3">
                    <img
                        class="m-0"
                        src="@/assets/images/icons/flag.png"
                    />
                </div>
                <b>Limit Location Availability</b>
              </div>
              <div @click="setActiveTab('limit_students_passes_pop_up')" class="create-box cursor-pointer">
                <div class="text-center mb-3">
                    <img
                        class="m-0"
                        src="@/assets/images/icons/user.png"
                    />
                </div>
                <b>Limit Student Pass</b>
              </div>
              <div @click="setActiveTab('limit_acive_passes_pop_up')" class="create-box cursor-pointer">
                <div class="text-center mb-3">
                    <img
                        class="m-0"
                        src="@/assets/images/icons/thermometer.png"
                    />
                </div>
                <b>Limit Active Pass</b>
              </div>
              <div @click="setActiveTab('pass_blocking_pop_up')" class="create-box cursor-pointer">
                <div class="text-center mb-3">
                    <img
                        class="m-0"
                        src="@/assets/images/icons/open-lock.png"
                    />
                </div>
                <b>Pass Blocking</b>
              </div>
        </CRow>
        <CRow v-if="userRole === 'admin'" class="quick-links-container">
            <div class="create-box cursor-pointer">
                <CLink to="/blocking/ab-polarity">
                    <div class="text-center mb-3">
                        <img
                            class="m-0"
                            src="@/assets/images/icons/exchange.png"
                        />
                    </div>
                    <b>Polarity Report</b>
                </CLink>
            </div>
            <div class="create-box cursor-pointer">
                <CLink to="/pass-history">
                    <div class="text-center mb-3">
                        <img
                            class="m-0"
                            src="@/assets/images/icons/hourglass.png"
                        />
                    </div>
                    <b>Pass History</b>
                </CLink>
            </div>
            <div class="create-box cursor-pointer">
                <CLink to="/admin-reports/summary-reports">
                    <div class="text-center mb-3">
                        <img
                            class="m-0"
                            src="@/assets/images/icons/paste.png"
                        />
                    </div>
                    <b>Summary Report</b>
                </CLink>
            </div>
            <div class="create-box cursor-pointer">
                <CLink to="/admin-reports/contact-tracing">
                    <div class="text-center mb-3">
                        <img
                            class="m-0"
                            src="@/assets/images/icons/binoculars.png"
                        />
                    </div>
                    <b>Contact Tracing</b>
                </CLink>
            </div>
        </CRow>
        </CContainer>
    </div>

    <div v-if="modal.activeModalTab" class="create-modals pt-3 pb-4">
        <div class="text-center px-5" v-if="modal.activeModalTab === 'teacher_pass_pop_up'">
            <h2 class="mb-5">Teacher Pass (Proxy Pass) Pop-up</h2>
            <CreateTeacherPassForm ref="teacher_pass_pop_up" @closeModal="closeModal()"/>
        </div>
        <div v-if="isActiveAppoinmentModule && modal.activeModalTab === 'appointment_pass_pop_up'" class="text-center px-5">
            <h2 class="mb-4">Appointments Pass Pop-up</h2>
            <CreateAppoinmentsPassForm ref="appointment_pass_pop_up" @closeModal="closeModal()" formIndex="0" :periods="periods"/>
        </div>
        <div class="text-center px-5" v-if="modal.activeModalTab === 'out_of_office_pop_up'">
            <h2 class="mb-4">Out Of Office Pop-up</h2>
            <OutOfOfficeForm ref="out_of_office_pop_up" @closeModal="closeModal()" />
        </div>
        <div v-if="userRole === 'admin'">
            <div class="text-center px-5" v-if="modal.activeModalTab === 'a_b_polarity_pop_up'">
                <h2 class="mb-4">Contact Control (A/B Polarity) Pop-up</h2>
                <CreateABPolarityForm ref="a_b_polarity_pop_up" @closeModal="closeModal()" />
            </div>
            <div class="text-center px-5" v-if="modal.activeModalTab === 'limit_location_max_cap_pop_up'">
                <h2 class="mb-4">Limit Location Max Cap Pop-up</h2>
                <CreateLimitLocationMaxCapForm :isDashboardView="true" @closeModal="closeModal()" ref="limit_location_max_cap_pop_up" />
            </div>
            <div class="text-center px-5" v-if="modal.activeModalTab === 'limit_local_availability_pop_up'">
                <h2 class="mb-4">Limit Location Availability Pop-up</h2>
                <CreateRoomRestrictionForm @closeModal="closeModal()" ref="limit_local_availability_pop_up"/>
            </div>
            <div class="text-center px-5" v-if="modal.activeModalTab === 'limit_students_passes_pop_up'">
                <h2 class="mb-4">Limit Student(s) Passes Pop-up</h2>
                <CreateLimitStudentPassForm @closeModal="closeModal()" ref="limit_students_passes_pop_up"/>
            </div>
            <div class="text-center px-5" v-if="modal.activeModalTab === 'limit_acive_passes_pop_up'">
                <h2 class="mb-4">Limit Active Passes Pop-up</h2>
                <CreateLimitActivePassForm @closeModal="closeModal()" ref="limit_acive_passes_pop_up"/>
            </div>
            <div class="text-center px-5" v-if="modal.activeModalTab === 'pass_blocking_pop_up'">
                <h2 class="mb-4">Pass blocking Pop-up</h2>
                <CreatePassBlockingForm @closeModal="closeModal()" ref="pass_blocking_pop_up"/>
            </div>
        </div>

    </div>

    <template #footer-wrapper><div></div></template>

    </CModal>
</div>
</template>

<script>
import CreateTeacherPassForm from '@/components/Forms/CreateTeacherPassForm'
import CreateAppoinmentsPassForm from '@/components/Forms/CreateAppoinmentsPassForm'
import OutOfOfficeForm from '@/components/Forms/OutOfOfficeForm'
import CreateABPolarityForm from '@/components/Forms/CreateABPolarityForm'
import CreateLimitLocationMaxCapForm from '@/components/Forms/CreateLimitLocationMaxCapForm'
import CreateRoomRestrictionForm from '@/components/Forms/CreateRoomRestrictionForm'
import CreateLimitStudentPassForm from '@/components/Forms/CreateLimitStudentPassForm'
import CreatePassBlockingForm from '@/components/Forms/CreatePassBlockingForm'
import CreateLimitActivePassForm from '@/components/Forms/CreateLimitActivePassForm'
import HelpCenterButton from '@/components/HelpCenterButton';

import { mapGetters } from 'vuex';

export default {
  name: 'TheHeaderCreateButton',
  props: ['userRole'],
  components: {
    CreateAppoinmentsPassForm,
    CreateTeacherPassForm,
    OutOfOfficeForm,
    CreateABPolarityForm,
    CreateLimitLocationMaxCapForm,
    CreateRoomRestrictionForm,
    CreateLimitStudentPassForm,
    CreatePassBlockingForm,
    CreateLimitActivePassForm,
    HelpCenterButton
  },
  data() {
    return {
        modal: {
            isVisible: false,
            activeModalTab: "all",
            size: 'xl'
        },
    }
  },
  computed:{
      ...mapGetters({
        periods: 'periods/formListStudents',
        isActiveAppoinmentModule: 'schools/isActiveAppoinmentModule',
        isActiveKioskModule: 'schools/isActiveKioskModule'
      }),
      helpCenterKey(){
        return this.modal.activeModalTab === 'all' ? 'user_menu_create_button' : this.modal.activeModalTab;
      }
  },
  watch:{
    $route (to, from){
        this.closeModal();
    }
  },
  created(){
    this.$store.dispatch('periods/getPeriods');
    this.$store.dispatch('rooms/getUserAssignRooms');
  },
  methods: {
    setActiveTab(tab, size = null){
        if (this.$route.path.includes(tab)) {
          this.closeModal();
        } else {
          this.modal.activeModalTab = tab;
          this.modal.size= size;
        }
    },
    closeModal() {
        this.modal.isVisible = false;
        setTimeout(() => {
            if(this.modal.activeModalTab && this.$refs[this.modal.activeModalTab]){
                this.$refs[this.modal.activeModalTab].refreshForm();
            }
            this.modal.activeModalTab = 'all';
            this.modal.size= "xl";
        }, 500);
        this.toggleBodyScroll(false);
    },
    toggleBodyScroll(isVisible){
        let body = document.getElementsByTagName('body')[0];
        if(isVisible){
            body.classList.add('overflow-hidden');
        }else{
            body.classList.remove('overflow-hidden');
        }
    },
    goToPage(page) {
      if (this.$route.path !== page) {
        this.$router.push(page);
      }
    }
  }
}
</script>
