<template>
  <CHeader with-subheader class="p-0 p-lg-3 the-header flex-column-reverse flex-xl-row">
    <div v-if="userRole === 'student'" class="text-right">
      <HelpCenterButton class="top-right mt-1 mr-2" width="17" height="17" contentKey="student_header" />
    </div>
    <CHeaderNav class="mr-auto c-breadcrumb-container">
      <CHeaderNavItem>
      </CHeaderNavItem>
    </CHeaderNav>

    <CHeaderNav class="py-2 px-2 px-lg-0 py-md-0">
      <CToggler in-header class="mr-auto d-lg-none" @click="$store.commit('layout/toggleSidebarMobile')" />

      <CHeaderNavItem class="pr-1 pr-sm-3 c-d-legacy-none">
        <TheHeaderCreateButton v-if="userRole !== 'student'" :userRole="userRole" />
      </CHeaderNavItem>

      <CHeaderNavItem v-if="userRole !== 'student'" class="mr-2 mr-sm-3 d-flex align-items-center">
        <HelpCenterButton contentKey="header asist" :custom='`<i class="flaticon-question-2"></i>`' />
      </CHeaderNavItem>

      <TheHeaderDropdownNotif v-if="userRole === 'student'" />
      <CHeaderNavItem class="mr-2 mr-sm-3 c-d-legacy-none">
        <TheHeaderSoundBtn :user="user" />
      </CHeaderNavItem>
      <TheHeaderDropdownAccnt :user="user" />
      <TheHeaderDropdownSchool :userRole="userRole" />
    </CHeaderNav>
  </CHeader>
</template>

<script>
  import TheHeaderDropdownAccnt from './TheHeaderDropdownAccnt'
  import TheHeaderDropdownNotif from './TheHeaderDropdownNotif'
  import TheHeaderDropdownSchool from './TheHeaderDropdownSchool'
  import TheHeaderCreateButton from './TheHeaderCreateButton'
  import HelpCenterButton from '@/components/HelpCenterButton';
  import TheHeaderSoundBtn from './TheHeaderSoundBtn';

  import {
    mapGetters
  } from 'vuex';

  export default {
    name: 'TheHeader',
    components: {
      TheHeaderDropdownAccnt,
      TheHeaderDropdownNotif,
      TheHeaderDropdownSchool,
      TheHeaderCreateButton,
      HelpCenterButton,
      TheHeaderSoundBtn
    },
    computed: {
      ...mapGetters({
        user: 'authentication/user',
        userRole: 'authentication/getUserRole'
      }),
    },
    mounted(){
      setInterval(() => {
        this.$store.dispatch('authentication/getUserDetails');
      }, 1800000);
    }
  }

</script>
