<template>
  <div class="sound-icon d-flex align-items-center" @click="toggleNotfSound()">
    <i :class="isMuted ? 'flaticon-mute-2' : 'flaticon-volume-1'"></i>
    <div>
      <audio id="notifications-audio">
        <source src="@/assets/sounds/pristine-609.mp3" type="audio/mp3">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
</template>
<script>
  import {
    mapGetters
  } from "vuex";
  export default {
    props: [ 'user'],
    name: 'TheHeaderSoundBtn',
    data() {
      return {

      }
    },
    computed: {
      ...mapGetters({
        isMuted: "authentication/isMuted",
      }),
    },
    watch: {
      isMuted: function (from, to) {
        if (to) {
          this.$helpers.playNotificationSound();
        } else {
          this.$helpers.stopNotificationSound();
        }
      }
    },
    mounted() {

    },
    methods: {
      toggleNotfSound() {
        this.$store.dispatch('layout/toggleNotificationSounds', this.user.role.id);
      },
    }
  }

</script>
