<template>
  <div v-if="comments" class="ps__child--consume">
    <div class="comments-list-container no-target">
      <div class="comments-list no-target">
        <div v-for="(comment, index) in comments" :key="index" class="comment">
          <b v-if="comment.user">{{comment.user.first_name + ' ' + comment.user.last_name}}</b><b>{{" [" + $helpers.transformDate(comment.created_at, 'D MMM YYYY h:mm A') + "]"}}
            :</b>
          {{comment.comment}}
        </div>
        <div v-if="comments.length==0">
          No comments
        </div>
      </div>
      <div class="post-comment mt-3">
        <div class="form-group no-target">
          <textarea class="form-control no-target" placeholder="Type your comment here ..."
            :class="{ 'is-invalid': reqResponse.errors['comment'] || $v.form.$invalid}" rows="2" v-model="form.comment">
                    </textarea>
          <div class="invalid-feedback" v-if="reqResponse.errors['comment']">{{reqResponse.errors['comment'][0]}}
          </div>
          <div class="invalid-feedback" v-if="!$v.form.comment.mandatory">The comment is required!
          </div>
          <div class="invalid-feedback" v-if="!$v.form.comment.maxLength">The comment should be maximun 255 charactes.
          </div>
        </div>
        <CAlert v-if="reqResponse.message" class="mt-4" :color="reqResponse.type" :show="!!reqResponse.message">
          {{reqResponse.message}}
        </CAlert>
        <div class="text-center">
          <button @click="createComment()" type="button" class="btn btn bg-gradient-blue text-white py-3 my-3"> Comment
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import {
    validationMixin
  } from "vuelidate"
  import {
    required,
    maxLength
  } from "vuelidate/lib/validators";
  export default {
    name: 'CommentsComponent',
    props: ['comments', 'toID', 'commentable_type'],
    data() {
      return {
        form: {
          comment: null
        },
        reqResponse: {
          type: "",
          message: "",
          errors: {}
        },
      }
    },
    mixins: [validationMixin],
    validations: {
      form: {
        comment: {
          mandatory: function (value) {
            if (value == null) {
              return true;
            }
            return value.length > 0;
          },
          maxLength: maxLength(255)
        }
      }
    },

    methods: {
      createComment() {
        this.resetResponseMessages();
        if (!this.$v.form.$invalid) {
          if (this.form.comment) {
            if (this.toID && this.commentable_type) {
              let comment = {
                toID: this.toID,
                data: {
                  comment: this.form.comment,
                  commentable_type: this.commentable_type,
                  permission: false
                }
              };
              this.$store.dispatch('comments/createComment', comment)
                .then((response) => {
                  let data = response.data.data;
                  if (data) {
                    this.setSuccessResponse('Successfully created!');
                    this.form.comment = null;
                    this.comments.push(data);
                    this.$v.$reset();
                    setTimeout(() => {
                      this.resetResponseMessages();
                      this.$emit('commentCreated');
                    }, 1000);
                  }
                })
                .catch((err) => {
                  this.$v.$reset();
                  let response = err.response.data;
                  this.setErrorResponse(response.message, response.errors);
                });
            }
          } else {
            this.reqResponse = {
              type: 'danger',
              errors: {
                comment: ['The comments field is required!']
              }
            };
          }
        } else {
          this.$v.$touch();
        }
      },
      resetResponseMessages() {
        this.reqResponse = {
          type: "",
          message: "",
          errors: {}
        }
      },
      resetForm() {
        this.form = {
          comment: null
        };
        this.resetResponseMessages();
        this.$v.$reset();
      },
      setSuccessResponse(message) {
        this.$v.$reset();
        this.reqResponse = {
          type: 'success',
          message: message ? message : 'Success!',
          errors: {}
        };
      },
      setErrorResponse(message, errors) {
        this.reqResponse = {
          type: 'danger',
          message: message ? message : 'Someting went wrong!',
          errors: errors ? errors : {}
        };
      },
    }
  }

</script>

<style scoped lang="scss">
  textarea::-webkit-scrollbar {
    display: none;
  }

  .invalid-feedback {
    font-weight: bold;
    font-size: 12px;
  }

</style>
