<template>
  <div class="custom-time-picker" :class="[classes, {'with-label' : innerLabel}]">
    <div class="input-icon-field">
      <div class="form-group mb-0">
        <span class="inner-label" v-if="innerLabel">{{innerLabel + ' ' + currentValueLabel}}</span>
        <date-picker ref="datePicker" :readonly="!!(readonly)" @dp-show="onFocus()" @dp-hide="onBlur()" :config="options" :value="currentValue"
          @input="onValueChange" :placeholder="placeholder"></date-picker>
      </div>
      <span @click="showPicker" v-if="!hideIcon" class="field-icon">
        <i class="fi flaticon-wall-clock mr-1"></i>
      </span>
    </div>

    <slot name="footer">
    </slot>
  </div>
</template>
<script>
  import moment from 'moment-timezone';

  export default {
    props: ['value', 'placeholder', 'classes', 'readonly', 'format', 'hideIcon', 'innerLabel', 'disableSetFocus'],
    name: "CustomTimePicker",
    data() {
      return {
        options: {
          format: this.format ? this.format : 'h:mm A',
          useCurrent: false,
          showClear: false,
          showClose: false,
          icons: {
            time: 'far fa-clock',
            date: 'far fa-calendar',
            up: 'flaticon-up-arrow',
            down: 'flaticon-down-arrow',
            previous: 'fas fa-chevron-left',
            next: 'fas fa-chevron-right',
            today: 'fas fa-calendar-check',
            clear: 'far fa-trash-alt',
            close: 'far fa-times-circle'
          }
        }
      }
    },
    computed: {
      currentValue() {
        return this.value;
      },
      currentValueLabel(){
        return this.value ? moment(this.value, 'HH:mm').format("h:mm A") : this.value;
      }
    },
    watch: {
      readonly: function (value) {
        if (!value) {
          this.setFocus();
        }
      }
    },
    methods: {
      onValueChange(value) {
        this.$emit('input', value ? moment(value, this.format ? this.format : 'h:mm A').format(this.format ? this.format :
          'HH:mm') : value);
        this.$emit('change', value ? moment(value, this.format ? this.format : 'h:mm A').format(this.format ? this.format :
          'HH:mm') : value);
      },
      onBlur() {
        this.$emit('blur');
      },
      onFocus() {
        if (!this.value) {
          this.$emit('input', moment().format("HH:mm"));
          this.$emit('change', moment().format("HH:mm"));
        }
        this.$emit('focus');
      },
      setFocus() {
        if(!this.disableSetFocus){
          setTimeout(() => {
            this.$refs.datePicker.$el.focus({
              preventScroll: true
            });
          }, 200);
        }
      },
      showPicker(){
        if(this.$refs.datePicker){
          this.$refs.datePicker.dp.show();
        }
      }
    }
  }

</script>
<style lang="scss">
  .custom-time-picker {
    table{
      max-width: 100%;
      td{
        min-width: auto;
        padding: 5px !important;
        &.separator{
          max-width: 45px;
        }
      }
    }
    .field-icon {
      z-index: 1;
    }
    .wider{
      .bootstrap-datetimepicker-widget.dropdown-menu {
        width: 22em;
      }
    }
    .bootstrap-datetimepicker-widget {
      z-index: 999 !important;
    }

    .bootstrap-datetimepicker-widget.dropdown-menu {
      width: 19em;
    }

    .form-control {
      border-color: #3042aa;

      &:focus {
        outline: none;
        box-shadow: none !important;
      }
    }

    &.is-invalid {
      .form-control {
        border-color: #e55353 !important;
      }

      .invalid-feedback {
        display: block;
        z-index: 1;
      }
    }

    .timepicker {
      z-index: 999;

      .btn {
        box-shadow: none !important;

        &.btn-primary {
          padding: 12px;
        }
      }
    }

    .bootstrap-datetimepicker-widget a {
      padding: 0 !important;
    }
  }

</style>
