<template>
<div>
  <div class="position-relative rounded-panel px-4 py-3 mt-4" style="background-color:#b7b7b7;">
    <div class="d-flex justify-content-between align-items-center py-2 cursor-pointer">
      <span class="text-value-lg font-weight-light d-block rounded-panel-title text-white">Import Kiosk PW</span>
      <span class="d-flex align-items-center justify-content-center text-white rounded-circle p-2">
        <i class="flaticon-upload text-value-lg"></i>
      </span>
    </div>
      <input type="file" @change="importKiosk" id="user-import-input" class="position-absolute d-block fixed-top h-100 w-100 cursor-pointer opacity-0">
  </div>
  <!-- Import Modal -->
  <CModal :show="isModalVisible"
          :closeOnBackdrop="false"
  >
    <template #header-wrapper>
      <div>header</div>
      </template>
        <div>main</div>
      <template #footer-wrapper>
      <div></div>
    </template>
  </CModal>

  
  </div>
</template>

<script>
export default {
  name: "KioskImport",
  data() {
    return {
      isModalVisible: false
    }
  },
  computed: {
  },
  methods: {
    importKiosk(){
      this.isModalVisible = true;
    }
  }
}
</script>
