<template>
  <div class="lazy-load-select">
      <v-select
        :id="`lazyLoadSelect-${_uid}`"
        class="cs-select"
        :class="[classes, {'ps__child--consume' : isOpened}]"
        v-model="selectedValue"
        :selected="selected"
        :multiple="isMultiple"
        :options="selectOptions"
        :clearable="false"
        :placeholder="placeholder ? placeholder : 'Select'"
        @search="onSearch"
        @input="onChange"
        :autoscroll="false"
        :closeOnSelect="!isMultiple"
        @open="onOpenSelect"
        @close="onCloseSelect"
        :filterable="false"
        :reduce="reduce"
        :selectable="selectable"
        :disabled="disabled"
        >
        <template #list-footer>
            <div v-if="showLoadingLabel" class="p-2 cursor-pointer text-center">
                Loading more..
            </div>
        </template>
        <template #footer>
            <slot name="footer"></slot>
        </template>
        <span slot="no-options" >
          <span class="text-black-50 pm-1 d-block" > Sorry, no matching options </span>
        </span>
      </v-select>
  </div>
</template>

<script>
export default {
  props: ['classes', 'isMultiple', 'placeholder', 'selected', 'type', 'reduce', 'selectable', 'externalOptions', 'showInactive', 'isInKiosk', 'default', 'prependItems', 'disabled', 'auth_uuid', 'onlyBasicData', 'refreshOnOpen', 'excludeOptions'],
  name: 'LazyLoadSelect',
  data(){
      return {
        selectedValue: null,
        options: [],
        isOpened: false,
        params:{
            per_page: 25,
            page: 1,
        },
        searchQuery: '',
        last_page: null,
        total: null,
        isProcessing: false,
        searchKeys: {
            locations: ['name'],
            teacher: ['name'],
            staff: ['name'],
            student: ['name', 'email'],
            adults: ['name'],
            combined: ['name'],
            appointment: ['name'],
            kiosk: ['name'],
        },
        processingTimeOut: null,
      }
  },
  mounted(){
    this.selectedValue = this.default || this.selected || this.selectedValue;
    // Emit default value value to update model if set
    if (this.default) {
        this.$emit('change', this.selectedValue);
    }
    if (!this.disabled) {
        this.getOptions(this.params, false);
    }
  },
  computed: {
      isLastPage(){
        return this.last_page && this.last_page <= this.params.page;
      },
      excludedOptionIDs(){
        return this.excludeOptions && this.excludeOptions.length ? this.excludeOptions.map(el => el.value.id) : null;
      },
      selectOptions(){
        let prependOptions = this.prependItems || [];
        let filteredOptions = prependOptions.filter(pi => !this.searchQuery || pi.label.includes(this.searchQuery));
        let options = this.externalOptions ? this.externalOptions : this.options;
        options = this.excludedOptionIDs ? options.filter(option => !this.excludedOptionIDs.includes(option.value.id)): options;

        return [
            ...filteredOptions,
            ...options
        ];
      },
      showLoadingLabel(){
        return !this.isLastPage && !this.externalOptions;
      },
  },
  watch: {
    selected: function(){
        this.selectedValue = this.selected;
    }
  },
  methods: {
    onSearch(query, loading){
        let searchQuery = query.toString();
        if(searchQuery.replace(/\s/g, '').length > 1 || searchQuery.replace(/\s/g, '').length === 0){
            clearTimeout(this.processingTimeOut);
            this.processingTimeOut = setTimeout(() => {
                this.resetParams();
                this.searchQuery = searchQuery ? searchQuery : '';
                this.getOptions(this.params, loading);
                this.selectedValue = this.selected;
                this.detectScroll();
            }, 600);
        }
    },
    onChange(value){
        this.$emit('change', value);
    },
    loadMore(){
        clearTimeout(this.processingTimeOut);
        this.processingTimeOut = setTimeout(() => {
            this.params.page++;
            this.getOptions(this.params, false, true);
        }, 100);
    },
    detectScroll(){
        setTimeout(() => {
            let select = document.getElementById(`lazyLoadSelect-${this._uid}`);
            if(select){
                let dropdown = select.getElementsByTagName('ul');
                if(dropdown && dropdown[0]){
                    dropdown[0].onscroll = () => {
                        if(this.options && this.options.length && !this.isLastPage){
                            if(dropdown[0].offsetHeight + dropdown[0].scrollTop >= dropdown[0].scrollHeight) {
                                this.loadMore();
                            }
                        }
                    }
                }
            }
        }, 800);
    },
    onOpenSelect(){
        if(this.refreshOnOpen){
            this.refreshSelect();
        }
        this.isOpened = true;
        this.detectScroll();
    },
    onCloseSelect(){
        this.isOpened = false;
    },
    resetParams(){
        this.params = {
            per_page: 25,
            page: 1,
        }
        this.searchQuery = '';
    },
    getOptions(params, loading, isLoadMore){
        if(!this.externalOptions){
            let search_query = '';
            let newParams =  {...params, type: this.type};

            if(this.searchQuery && this.searchKeys[this.type]){
                this.searchKeys[this.type].forEach(key => {
                search_query = search_query + `${key}:"${this.searchQuery}", `;
                });
                if(this.searchKeys[this.type].includes('email')){
                    newParams.operator = "OR";
                }
            }
            if(!this.showInactive){
                newParams.active_only = true;
            }
            if(search_query){
                newParams.search_query = search_query.slice(0, -2);
            }
            if (this.type === 'appointment') {
              newParams.only_allowed_apt = true;
            }

            if(this.auth_uuid){
                newParams.cus_uuid = this.auth_uuid;
            }
            if(loading){
                loading(true);
                this.isProcessing = true;
            }
            this.$store.dispatch(`${this.isInKiosk ? 'kiosks' : 'search'}/searchByTypeAndQuery`, newParams)
            .then((response) => {
                let data = response.data.data;
                let meta = response.data.meta;
                if(data){
                    this.options = isLoadMore ? this.options : [];
                    if(Array.isArray(data)){
                        this.pushOptions(data);
                    }else{
                        for (const key in data) {
                            if (Object.hasOwnProperty.call(data, key)) {
                                const element = data[key];
                                if(element && element.data){
                                    this.pushOptions(element.data);
                                }

                            }
                        }
                    }
                }
                if(meta){
                    this.last_page = meta.last_page;
                    this.total = meta.total;
                }
                if(loading){
                    loading(false);
                }
                this.isProcessing = false;
            });
        }
    },
    pushOptions(data){
        data.forEach(option => {
            if(!option.role_id){
                if(this.onlyBasicData){
                    this.options.push({
                        value: {
                            id: option.id,
                            type: 'App\\Models\\Room',
                        },
                        label: option.name,
                    })
                }else{
                    this.options.push({
                        value: {
                            id: option.id,
                            type: 'App\\Models\\Room',
                            comment_type: option.comment_type,
                            unavailability: option.hasOwnProperty('active_unavailability') ? option.active_unavailability : null
                        },
                        label: option.name,
                        capacity: option.capacity ? option.capacity : null,
                        owner_pin: option.owner_pin && option.owner_pin.pin,
                    })
                }
            }else{
                this.options.push({
                    value: {
                        id: option.id,
                        type: 'App\\Models\\User',
                        passesToday: option.passes_for_today_count,
                        unavailability: option.hasOwnProperty('active_unavailability') ? option.active_unavailability : null
                    },
                    label: option.email ? option.name + ', ' + option.email : option.name
                })
            }
        });
    },
    refreshSelect(){
        this.getOptions(this.params, false);
    }
  }
}
</script>
