<template>
  <div v-show="isProcessing" class="loader-container" :class="_classes">
    <CSpinner
      color="primary"
      style="width:4rem;height:4rem;"
    />
  </div>
</template>

<script>
export default {
  props: ['isProcessing', '_classes'],
  name: 'Loader'
}
</script>
