<template>
  <CContainer :fluid="true">
      <!-- MODALS -->
      <CModal
        v-if="stats && stats.autoPassesRoomsCount"
        :show.sync="modal.isVisible.autoPassLimit"
        :closeOnBackdrop="false">
          <template #header-wrapper>
            <div class="pt-4 px-4 create-popup-header d-flex align-items-center justify-content-between">
                <div @click="closeModal(), resetAutoPassLimitForm()" class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span class="close-icon"></span></div>
                <HelpCenterButton contentKey="auto_pass_limit"/>
            </div>
          </template>
          <div class="px-3">
            <h2 class="mb-4 text-center">Set Auto Pass limit</h2>
            <CreateAutoPassLimit ref="CreateAutoPassLimit" @autoPassLimitCreated="modal.isVisible.autoPassLimit = false" :limit="stats.autoPassLimit ? stats.autoPassLimit.limit : null"/>
          </div>
        <template #footer-wrapper><div></div></template>
      </CModal>
      <CModal
        :show.sync="modal.isVisible.limitActivePass"
        :closeOnBackdrop="false">
          <template #header-wrapper>
            <div class="pt-4 px-4 create-popup-header d-flex align-items-center justify-content-between">
                <div @click="closeModal(), resetLimitPassForm()" class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span class="close-icon"></span></div>
                <HelpCenterButton contentKey="limit_acive_passes_pop_up"/>
            </div>
          </template>
          <div class="px-3">
            <h2 class="mb-4 text-center">Limit Active Passes</h2>
            <CreateLimitActivePassForm ref="CreateLimitActivePassForm" @setActivePassLimit="setActivePassLimit" @limitActivePassCreated="modal.isVisible.limitActivePass = false"/>
          </div>
        <template #footer-wrapper><div></div></template>
      </CModal>
        <CRow>
          <CCol md="12" class="bg-white d-flex justify-content-center pt-0 pt-md-1">
            <div v-if="stats" class="passes-stats-container d-flex align-items-center justify-content-between px-2 px-sm-4">
              <div class="passes-stats pt-2 pt-sm-0">
                <div class="stat limit">
                    Building Passes
                    <span @click="setActiveModal('limitActivePass')" class="d-flex flex-column cursor-pointer">
                        {{stats.buildingActivePassesCount ? stats.buildingActivePassesCount : '0'}} / {{stats.buildingPassesCount}}
                        <b class="limit-count">Limit - {{activePassLimit !== null && activePassLimit !== '-' ? activePassLimit : ''}}</b>
                    </span>
                </div>
                <div class="stat inverse">My Passes <span>{{stats.myActivePassesCount ? stats.myActivePassesCount : '0'}} / {{stats.passesToMeCount}}</span></div>
                <div class="stat inverse">Flagged Passes <span>{{stats.flaggedPassesCount}}</span></div>
                <div v-if="stats.autoPassesRoomsCount" class="stat inverse icon-appended">
                  <div class="stat-content">Auto Passes <span>{{stats.autoPassLimit ? stats.autoPassesPreferencesCount + ' out of ' + stats.autoPassesRoomsCount : 'Off'}}</span></div>
                  <div @click="setActiveModal('autoPassLimit')" class="icon"><i class="flaticon-pen-1"></i></div>
                </div>
                <div v-if="isActiveKioskModule" class="open-kiosk d-flex align-items-center ml-4">
                    <span class="stats-title mr-2 ml-2">Kiosk:</span>
                    <div class="icon">
                        <i class="fi flaticon-monitor"></i> 
                          <span>{{stats.myOpenKiosksCount}}</span>
                    </div>
                </div>
              </div>
            </div>
          </CCol>
        </CRow>
      </CContainer>
</template>

<script>
import CreateAutoPassLimit from '@/components/Forms/CreateAutoPassLimit';
import CreateLimitActivePassForm from '@/components/Forms/CreateLimitActivePassForm';
import HelpCenterButton from '@/components/HelpCenterButton';
import {mapGetters} from 'vuex';

export default {
    name: "PassesStats",
    props: ['stats'],
    components: {CreateAutoPassLimit, HelpCenterButton, CreateLimitActivePassForm},
    data() {
      return {
        activePassLimit: null,
        modal: {
          isVisible:{
            autoPassLimit: false,
            limitActivePass: false
          }
        }
      }
    },
    computed:{
      ...mapGetters({
        isActiveAppoinmentModule: 'schools/isActiveAppoinmentModule',
        isActiveKioskModule: 'schools/isActiveKioskModule',
      }),
    },
    methods: {
      setActiveModal(modal){
        if(modal){
          this.modal.isVisible[modal] =  true;
        }
      },
      setActivePassLimit(limit){
        this.activePassLimit = limit;
      },
      closeModal(){
        this.modal ={
          isVisible:{
            autoPassLimit: false,
            limitActivePass: false
          }
        };
      },
      resetLimitPassForm(){
        if(this.$refs.CreateLimitActivePassForm){
          setTimeout(() => {
            this.$refs.CreateLimitActivePassForm.refreshForm();
          }, 500);
        }
      },
      resetAutoPassLimitForm(){
        if(this.$refs.CreateAutoPassLimit){
          this.$refs.CreateAutoPassLimit.refreshForm();
        }
      }
    }
}
</script>