<template>
  <div class="d-flex justify-content-end align-items-end">
    Showing
    <CDropdown :toggler-text="pagination.per_page.label" class="bg-white ml-2 cs-dropdown-select mr-2">
      <CDropdownItem v-for="(item, index) in options" :key="index" @click="action(item)">
        {{ item.label }}
      </CDropdownItem>
    </CDropdown>
    <div v-if="pagination.total>0 && pagination.per_page.label!='All entries'"> <span class="d-inline-block mr-2">entries</span> Showing {{ pagination.from }} to {{ pagination.to }} of {{ pagination.total }}</div>
  </div>
</template>

<script>
  export default {
    name: 'PerPageSelector',
    props: {
      pagination: {
        type: Object
      },
      options: {
        type: Array,
        deep:true,
        // Object or array defaults must be returned from
        // a factory function
        default: function () {
          return [{
            label: '25',
            value: 25
          }, {
            label: '50',
            value: 50
          }, {
            label: '100',
            value: 100
          }, {
            label: 'All entries',
            value: 75
          }]
        }
      },
      action:{
        type: Function
      }
    },

  }

</script>
