<template>
  <CContainer :fluid="true">
        <CRow>
        <!-- MODALS -->
        <CModal
          :show.sync="modal.isVisible"
          :closeOnBackdrop="false">
          <template #header-wrapper>
            <div class="pt-4 px-4 create-popup-header d-flex align-items-center justify-content-between">
                <div @click="closeModal()" class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span class="close-icon"></span></div>
                <HelpCenterButton contentKey="limit_location_map_cap"/>
            </div>
          </template>
            <div class="px-3" v-if="activeRoom">
              <h2 class="mb-4 text-center">Limit Location Max Cap</h2>
              <CreateLimitLocationMaxCapForm :isInView="false" :isDashboardView="true" :activeRoom="activeRoom.room_advance ? activeRoom.room_advance : activeRoom" @updatedLimitLocationMaxCap="modal.isVisible = false"/>
            </div>
          <template #footer-wrapper><div></div></template>
        </CModal>
          <CCol v-if="autoPassesRooms && autoPassesRooms.length" md="12" class="bg-white d-flex justify-content-center flex-wrap"> <!-- v-if="userAssignRooms && userAssignRooms.length"  -->
            <div :class="hideRoomCapacities ? 'd-none' : 'd-flex'" class="rooms-stats-container align-items-center px-4">
              <div class="mr-4 stats-title">Room Capacities:</div>
              <div class="rooms-stats">
                <div @click="showModal(room)" v-for="(room, index) in autoPassesRooms" :key="index" class="stat cursor-pointer">{{room.room.name}}
                  <span>
                    {{room.limit !== null ? room.limit : '-'}}
                  </span>
                </div>
              </div>
            </div>
            <div class="text-text-color-dark p-2 w-full text-center cursor-pointer" @click="hideRoomCapacities = !hideRoomCapacities">
              <div class="d-flex align-items-center justify-content-center toggler-btn" v-if="hideRoomCapacities">
                <span class="stats-title">Room Capacities</span>
                <span class="flaticon-down-arrow ml-1"></span>
              </div>
              <div v-else class="d-flex align-items-center justify-content-center">
                <span class="flaticon-up-arrow ml-1"></span>
              </div>
            </div>
          </CCol>
        </CRow>
      </CContainer>
</template>

<script>
import { mapGetters } from 'vuex';
import CreateLimitLocationMaxCapForm from './Forms/CreateLimitLocationMaxCapForm.vue';
import HelpCenterButton from '@/components/HelpCenterButton';

export default {
    name: "RoomStats",
    components: {CreateLimitLocationMaxCapForm, HelpCenterButton},
    data() {
      return {
        modal: {
          isVisible: false,
        },
        activeRoom: null,
        hideRoomCapacities: true
      }
    },
    computed:{
      ...mapGetters({
        autoPassesRooms: 'dashboard/staffSchedules',
      }),
    },
    methods: {
      showModal(room){
        this.modal.isVisible = true;
        this.activeRoom = room;
      },
      closeModal(){
        this.modal.isVisible = false;
        this.activeRoom = null;
      }
    }
}
</script>
