<template>
  <div >
    <CModal v-if="showPopup" :show.sync="showPopup">
      <template #header-wrapper>
        <div class="pt-4 px-3 create-popup-header d-flex justify-content-between align-items-center w-100">

        </div>
      </template>
      <div class="modal-height d-flex flex-column ">
        <h2 class="text-center mb-3 mt-0">New releases</h2>
        <div class="overflow-auto h-100">
          <div v-for="(release, index) in newReleases" :key="index" class="mb-5 modal-height">
            <h3 class="text-info"> e-hallpass (EHP) Updates {{release.version}} {{$helpers.transformDate(release.created_at,'MMMM,DD')}}</h3>
            <div v-html="release.content">
            </div>
          </div>
        </div>
      </div>
      <template #footer-wrapper>
        <div class="d-flex flex-column align-items-center p-3">
          <CButton @click="closeModal();" class="btn btn-sm border-info">Close</CButton>
          <div class="form-check mt-3">
            <input class="form-check-input border-info" type="checkbox" v-model="markseen" id="flexCheckDefault">
            <label class="form-check-label " for="flexCheckDefault">
              Turn off new release popup for the next time.
            </label>
          </div>
        </div>
      </template>
    </CModal>

    <CModal v-if="announcements && announcements.length" :show="showAnnouncementsModal">
      <template #header-wrapper>
        <div class="pt-4 px-4 create-popup-header">
            <div @click="closeAnnouncementsModal()" class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer">
              <span class="close-icon"></span>
            </div>
        </div>
      </template>
      <div class="modal-height d-flex flex-column ">
        <div class="overflow-auto h-100">
          <div v-for="(announcement, index) in announcements" :key="index" class="mb-5 modal-height  text-center">
            <h3 class="text-info">{{announcement.title}}</h3>
            <div v-html="announcement.html">
            </div>
          </div>
        </div>
      </div>
      <template #footer-wrapper>
        <div class="d-flex flex-column align-items-center">
        </div>
      </template>
    </CModal>
  </div>
</template>

<script>
import moment from 'moment-timezone';

  import {
    mapGetters
  } from "vuex";

  export default {
    name: 'TheFooter',
    data() {
      return {
        alreadypresented: false,
        markseen:false,
        showAnnouncementsModal: false
      }
    },
    created() {
      if (!this.releases) {
        this.$store.dispatch('releases/getAllReleases');
      }
      if(localStorage.getItem('showAnnouncements')){
        this.$store.dispatch('releases/getAnnouncement');
        setTimeout(() => {
          this.showAnnouncementsModal = true;
        }, 800);
      }
    },
    computed: {
      ...mapGetters({
        releases: 'releases/releases',
        announcements: 'releases/announcements'
      }),

      newReleases() {
        return this.releases && this.releases.filter(e => e.seen == false);
      },
      showPopup() {
        return this.releases ? this.releases.filter(e => e.seen == false).length > 0 && !this.alreadypresented : false
      },
      year(){
        return moment().format('YYYY');
      }
    },
    methods: {
      closeModal() {
        this.alreadypresented = true;
        if(this.markseen){
          this.newReleases.forEach(e=>{
            this.$store.dispatch('releases/markReleasesSeen',e.id);
          })
        }
      },
      closeAnnouncementsModal(){
        this.showAnnouncementsModal = false;
        localStorage.removeItem('showAnnouncements');
        setTimeout(() => {
          this.$store.commit('releases/SET_ANNOUNCEMENTS', null);
        }, 500);
      }
    }
  }

</script>
<style scoped lang="scss">
  .modal-height {
    max-height: 300px;
  }

  .form-check-label {
    padding-top: 2px;
  }

</style>
