<template>
  <CSidebar aside :show="$store.state.layout.asideShow" colorScheme="light" size="lg">
    <CSidebarClose @click.native="closeAsideBar()" />
    <div v-if="helpCenterContent" class="help-center-content pt-5">
      <vue-scrollbar class="scroll-area" :settings="scrollbarSettings">
        <div class="pl-4 pr-5" v-html="helpCenterContent"></div>
      </vue-scrollbar>
    </div>
  </CSidebar>
</template>

<script>
  import {
    mapGetters
  } from 'vuex';

  export default {
    name: 'TheAside',
    data() {
      return {
        scrollbarSettings: {
          suppressScrollY: false,
          suppressScrollX: true,
        }
      }
    },
    computed: {
      ...mapGetters({
        helpCenterContent: 'helpCenter/getHelpCenterContent',
      }),
    },
    methods: {
      closeAsideBar() {
        this.$store.commit('layout/toggle', 'asideShow');
        this.$store.commit('helpCenter/SET_CONTENT', '');
      }
    },

  }

</script>
<style>
  .scroll-area {
    position: relative;
    margin: auto;
    width: 100%;
    height: calc(100vh - 200px);
  }

</style>
