<template>
  <CSidebar
    v-if="filterSideBarItemsByRole"
    class="the-sidebar"
    :minimize="minimize"
    unfoldable
    :show="show"
    @update:show="
      (value) => $store.commit('layout/set', ['sidebarShow', value])
    "
  >
    <div class="d-flex">
      <CToggler
        in-header
        class="mr-auto d-lg-none"
        @click="$store.commit('layout/toggleSidebarMobile')"
      />
      <CSidebarBrand
        class="pt-3 pb-2 px-4 justify-content-start flex-grow-1"
        :to="userRole == 'student' ? '/passes/create/' : '/'"
      >
        <img
          src="@/assets/images/logo-small.png"
          alt="e-hallpass"
          id="logo-ehp"
        />
      </CSidebarBrand>
    </div>
    <CRenderFunction flat :contentToRender="filterSideBarItemsByRole" />
    <CBadge color="gray" class="mx-auto my-3">{{
      env + " - " + version
    }}</CBadge>
  </CSidebar>
</template>

<script>
import { mapGetters } from "vuex";
import { version } from "../../../package";

import SidebarItems from "./SidebarItems";
export default {
  name: "TheSidebar",
  extends: SidebarItems,
  computed: {
    ...mapGetters({
      userRole: "authentication/getUserRole",
      user: "authentication/user",
      releases: "releases/releases",
      activeModulesNames: "schools/activeModulesNames",
    }),
    env() {
      return process.env.NODE_ENV;
    },
    version() {
      return version;
    },
    show() {
      return this.$store.state.layout.sidebarShow;
    },
    minimize() {
      return this.$store.state.layout.sidebarMinimize;
    },
    newReleases() {
      return this.releases ? this.releases.filter((e) => e.seen == false) : [];
    },
    showPopup() {
      return this.releases
        ? this.releases.filter((e) => e.seen == false).length > 0 &&
            !this.alreadypresented
        : false;
    },
    filterSideBarItemsByRole() {
      let items = this.sidebarItems;
      //filter by required Role
      items[0]._children = items[0]._children.filter((item) =>
        item.requiredRoles ? item.requiredRoles.includes(this.userRole) : true
      );
      //filter by required Module
      items[0]._children = items[0]._children.filter((item) =>
        item.requiredModule
          ? this.activeModulesNames.includes(item.requiredModule)
          : true
      );

      items[0]._children.map((item) => {
        if (item.items) {
          item.items = item.items.filter((item) =>
            item.requiredRoles
              ? item.requiredRoles.includes(this.userRole)
              : true
          );
          item.items = item.items.filter((item) =>
            item.requiredModule
              ? this.activeModulesNames.includes(item.requiredModule)
              : true
          );
        }
      });

      return items;
    },
  },
  watch: {
    activeModulesNames: function(value) {
      // used to force reactivity in filterSideBarItemsByRole and re-render the sidebar after module change
      this.$store.commit('authentication/SET_USER', {...this.user})
    }
  },
  mounted() {
    let els = document.querySelectorAll(".c-sidebar-nav-item a");
    if (els) {
      els.forEach((e) => {
        e.addEventListener(
          "touchend",
          () => {
            window.location.href = e.getAttribute("href");
          },
          false
        );
      });
    }
  },
};
</script>
<style scoped lang="scss">
#logo-ehp {
  width: 90%;
  height: 70px;
  object-fit: contain;

  @media screen and(max-width:990px) {
    height: 30px !important;
  }
}
</style>
