<template>
  <div
    class="c-app"
    :class="{ 'module-appointmentpass': isActiveAppToLocations }"
  >
    <TheSidebar />
    <TheAside />
    <CWrapper>
      <TheHeader />
      <div class="c-body">
        <vue-scrollbar
          :swicher="scrollbarSettings.swicher"
          :settings="scrollbarSettings"
          :class="['main-scroll-container']"
        >
          <main class="c-main" :class="[viewClass, {'pb-6': devicePlatform === 'iOS'}]">
            <CContainer fluid>
              <transition name="fade" mode="out-in">
                <router-view></router-view>
              </transition>
            </CContainer>
          </main>
        </vue-scrollbar>
        <TheFooter />
      </div>
    </CWrapper>
  </div>
</template>

<script>
import TheSidebar from "@/components/Sidebar/TheSidebar";
import TheHeader from "@/components/Header/TheHeader";
import TheFooter from "@/components/TheFooter";
import TheAside from "@/components/Sidebar/TheAside";
import { mapGetters } from "vuex";

export default {
  name: "SideBarLayout",
  data() {
    return {
      scrollbarSettings: {
        suppressScrollY: false,
        suppressScrollX: true,
        swicher: true,
      },
    };
  },
  components: {
    TheSidebar,
    TheHeader,
    TheFooter,
    TheAside,
  },
  watch: {
    $route() {
      setTimeout(() => {
        let main = document.getElementsByClassName("c-main")[0];
        let body = document.getElementsByClassName("c-body")[0];
        main.scrollIntoView();
        body.scrollIntoView();
      }, 400);
      this.$helpers.scrollToTop();
    },
  },
  computed: {
    ...mapGetters({
      userRole: "authentication/getUserRole",
      isActiveAppoinmentModule: "schools/isActiveAppoinmentModule",
      activeAppoinmentModuleOptions: "schools/activeAppoinmentModuleOptions",
    }),
    viewClass() {
      return this.$route.meta.classes ? this.$route.meta.classes : "";
    },
    isActiveAppToLocations() {
      return (
        this.isActiveAppoinmentModule &&
        this.activeAppoinmentModuleOptions &&
        this.activeAppoinmentModuleOptions.location
      );
    },
    devicePlatform(){
      const ua = navigator.userAgent;
        if (/android/i.test(ua)) {
          return "Android";
        }
        else if (/iPad|iPhone|iPod/.test(ua) || (navigator.platform === 'MacIntel' && navigator.maxTouchPoints > 1)){
          return "iOS";
        }
        return "Other"
    }
  },
  mounted() {
    let deviceWidth = window.innerWidth > 0 ? window.innerWidth : screen.width;
    this.scrollbarSettings.swicher = !deviceWidth || deviceWidth > 700;

  },
};
</script>
<style scoped>
.scrollTopFix {
  overflow: auto !important;
  width: calc(100% + 11px) !important;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.ps-container {
  /* scroll-behavior: smooth; */
}
</style>
