<template>
  <div>
    <CModal
      v-if="isForCancel"
      :show.sync="modal.isVisible.cancel"
      :closeOnBackdrop="false"
    >
      <template #header-wrapper>
        <div class="pt-4 px-4 create-popup-header">
          <div
            @click="
              closeCancelModal(), resetPassCancelationForm()
            "
            class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"
          >
            <span class="close-icon"></span>
          </div>
        </div>
      </template>
      <div v-if="pass" class="px-3">
        <h3 class="text-center mb-4">Cancel Pass</h3>
        <AptPassCancelation
          :close="closeCancelModal"
          ref="AptPassCancelation"
          :pass="pass"
          :countType="countType"
          :isBeyond="isPassBeyond"
        />
      </div>
      <template #footer-wrapper><div></div></template>
    </CModal>

    <div class="table-actions">
      <div v-if="isForAcknowledge">
        <button
          @click="acknowledgeAppointmentPass(pass.id)"
          class="btn btn-comfirm w-100 mb-2"
        >
          Acknowledge
        </button>
      </div>
      <div v-if="isForComfirm">
        <button
          @click="comfirmAppointmentPass(pass.id)"
          class="btn btn-comfirm w-100 mb-2"
        >
          Confirm
        </button>
      </div>

      <div class="d-flex">
        <button
          @click="editAppointmentPass(pass)"
          class="btn btn-edit mr-2"
          v-if="isForEdit"
        >
          <i class="flaticon-edit mr-1"></i> edit
        </button>
        <button
          v-if="isForCancel"
          class="btn btn-cancel"
          @click="showCancelModal()"
        >
          cancel
        </button>
        <button
          v-if="isForDelete"
          class="btn btn-cancel ml-1"
          @click="modal.isVisible.delete = true"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import AptPassCancelation from "@/components/Forms/AptPassCancelation";

export default {
  props: ["pass", "countType", "isPassBeyond"],
  name: "ApptPassActionButtons",
  components: { AptPassCancelation },
  data() {
    return {
      modal: {
        isVisible: {
          delete: false,
          cancel: false
        }
      }
    };
  },
  computed: {
    isForAcknowledge() {
      return this.pass.is_for_acknowledge;
    },
    isForComfirm() {
      return this.pass.is_for_confirm;
    },
    isForCancel() {
      return this.pass.can_be_canceled && !this.pass.cancel_reason;
    },
    isForDelete() {
      return this.pass.can_be_deleted;
    },
    isForEdit() {
      return this.pass.can_be_edited;
    }
  },
  methods: {
    comfirmAppointmentPass(passID) {
      this.isLoading = true;
      this.$store
        .dispatch("appointmentPasses/comfirmAppointmentPass", passID)
        .then(response => {
          this.isLoading = false;
          this.incrementTodayCounter();
          this.decrementCurrentCounter();
        })
        .catch(err => {
          this.isLoading = false;
        });
    },
    acknowledgeAppointmentPass(passID) {
      this.isLoading = true;
      this.$store
        .dispatch("appointmentPasses/acknowledgeAppointmentPass", passID)
        .then(response => {
          this.isLoading = false;
        })
        .catch(err => {
          this.isLoading = false;
        });
    },
    editAppointmentPass(pass) {
      this.$emit("editAppPass", pass);
    },
    decrementCurrentCounter() {
      if (this.countType === "awaitingTodayAppointmentsCount") {
        this.$store.commit("dashboard/DECREMENT_STAT", this.countType);
      }
    },
    incrementTodayCounter() {
      if (this.countType === "awaitingTodayAppointmentsCount") {
        this.$store.commit(
          "dashboard/INCREMENT_STAT",
          "todayAppointmentsCount"
        );
      }
    },
    resetPassCancelationForm() {
      if (this.$refs.AptPassCancelation) {
        this.$refs.AptPassCancelation.refreshForm();
      }
    },
    closeCancelModal() {
      this.modal.isVisible.cancel = false;
      this.$helpers.setModalToggleClass(false);
    },
    showCancelModal(){
      this.modal.isVisible.cancel = true;
      this.$helpers.setModalToggleClass(true);
    }
  }
};
</script>

<style></style>
