<template>
    <div v-if="pass">
        <div v-if="section === 'approved_at'">
            <div class="mt-1" v-if="pass.approved_by_user && pass.from && pass.type!=='KSK' && pass.approved_with !== 'autopass' || pass.approved_by_user && pass.from && pass.approved_with !== 'autopass'">
                <div v-if="pass.from_type && pass.from_type == 'App\\Models\\User'">
                    <b :title="pass.approved_by_user.first_name + ' ' + pass.approved_by_user.last_name" v-show="pass.from.id !== pass.approved_by_user.id" class="processed-by not-same">
                        {{approved_by_user}}
                    </b>
                </div>
                <div v-else>
                    <b :title="pass.approved_by_user.first_name + ' ' + pass.approved_by_user.last_name" :class="{'not-same' : !pass.from.user_ids_assigned.includes(pass.approved_by)}" class="processed-by">{{approved_by_user}}</b>
                </div>
            </div>
            <div v-if="pass.from_kiosk && pass.approved_by && pass.approved_by !== pass.from_kiosk.user.id && pass.type==='KSK' && pass.approved_with === 'autopass'">
                <b class="processed-by" :class="{'not-same' : pass.approved_by_user.role_id !==1 }">kiosk</b>
            </div>
            <div class="processed-by mt-1" v-if="pass.type!=='KSK' && pass.approved_with && pass.approved_with === 'autopass'">
                Auto Pass
            </div>
        </div>
                
        <div v-if="section === 'completed_at'">
            <div v-if="pass.completed_by && pass.to && !pass.ended_with">
                <div v-if="pass.to_type && pass.to_type == 'App\\Models\\User'">
                    <b :title="pass.completed_by_user.first_name + ' ' + pass.completed_by_user.last_name" v-show="pass.completed_by !== pass.to_id" class="processed-by not-same">{{completed_by}}</b>
                </div>
                <div v-else>
                    <b v-if="pass.to.trip_type=='Roundtrip' && (pass.approved_by !== pass.completed_by)"  :title="pass.completed_by_user.first_name + ' ' + pass.completed_by_user.last_name" :class="{'not-same' : !pass.to.user_ids_assigned.includes(pass.completed_by)}" class="processed-by">{{completed_by}}</b>
                    <b v-if="pass.to.trip_type!=='Roundtrip'" :title="pass.completed_by_user.first_name + ' ' + pass.completed_by_user.last_name" :class="{'not-same' : !pass.to.user_ids_assigned.includes(pass.completed_by)}" class="processed-by">{{completed_by}}</b>
                </div>
            </div>

            <div v-if="pass.to_kiosk">
                <b class="processed-by" v-if="pass.to_type=='App\\Models\\User' && !pass.to_kiosk.room && pass.to_kiosk.user.id === pass.to_id ||
                                              pass.to_type=='App\\Models\\Room' && pass.to_kiosk.room && pass.to_kiosk.room.id === pass.to_id && pass.to.trip_type !== 'Roundtrip'||
                                              pass.to_type=='App\\Models\\Room' && pass.to.trip_type=='Roundtrip' && pass.created_by_kiosk.id === pass.to_kiosk.id">kiosk</b>
                <b v-else  class="processed-by not-same">
                    kiosk
                    <span>
                        - {{pass.to_kiosk.room ? pass.to_kiosk.room.name + '(' + pass.to_kiosk.user.first_name + pass.to_kiosk.user.last_name + ')' : pass.to_kiosk.user.first_name + pass.to_kiosk.user.last_name}}
                    </span>
                </b>
            </div>

            <div class="processed-by mt-1" v-if="pass.ended_with && pass.ended_with==='autopass' && !pass.to_kiosk">
                Auto Pass
            </div>
            <div class="processed-by mt-1" v-if="pass.ended_with && pass.ended_with === 'checkin'">
                Check-in
            </div>
            <div class="processed-by not-same mt-1 font-weight-bold" v-if="!pass.child && pass.badge_flags.system_completed || !pass.child && pass.badge_flags.extended && pass.badge_flags.ended">
                System Ended
            </div>
        </div>


        <div v-if="section === 'child_approved_at'">
            <div v-if="pass.child && pass.child.approved_by && pass.child.from && !pass.child.approved_with">
                <div v-if="pass.child.from_type && pass.child.from_type == 'App\\Models\\User'">
                    <b :title="pass.child.approved_by_user.first_name + ' ' + pass.child.approved_by_user.last_name" v-show="pass.child.approved_by !== pass.child.from.id" class="processed-by not-same">{{child_approved_by_user}}</b>
                </div>
                <div v-else>
                    <b :title="pass.child.approved_by_user.first_name + ' ' + pass.child.approved_by_user.last_name" :class="{'not-same' : !pass.child.from.user_ids_assigned.includes(pass.child.approved_by)}" class="processed-by">{{child_approved_by_user}}</b>
                </div>
            </div>

             <div v-if="pass.child && pass.child.from_kiosk">
                <b class="processed-by" v-if="
                   pass.child.from_type=='App\\Models\\User' && !pass.child.from_kiosk.room && pass.child.from_kiosk.user.id === pass.child.from.id ||
                   pass.child.from_type=='App\\Models\\Room' && pass.child.from_kiosk.room && pass.child.from_kiosk.room.id === pass.child.from.id">kiosk</b>
                <b v-else  class="processed-by not-same">
                    kiosk
                    <span>
                        - {{pass.child.from_kiosk.room ? pass.child.from_kiosk.room.name + '(' + pass.child.from_kiosk.user.first_name + pass.child.from_kiosk.user.last_name + ')' : pass.child.from_kiosk.user.first_name + pass.child.from_kiosk.user.last_name}}
                    </span>
                </b>
            </div>

            <div class="processed-by not-same mt-1 font-weight-bold" v-if="pass.child && !pass.child.approved_by && pass.badge_flags.system_completed || pass.child && pass.badge_flags.extended && pass.badge_flags.ended">
                System Ended
            </div>
        </div>

        <div v-if="section === 'child_completed_at'">
            <div v-if="pass.child && pass.child.completed_by && pass.child.to && !pass.child.ended_with">
            <div v-if="pass.child && pass.child.to_type && pass.child.to_type == 'App\\Models\\User'">
                <b :title="pass.child.completed_by_user.first_name + ' ' + pass.child.completed_by_user.last_name" v-show="pass.child.completed_by !== pass.child.to_id" class="processed-by not-same">{{child_completed_by_user}}</b>
                </div>
                <div v-else>
                    <b :title="pass.child.completed_by_user.first_name + ' ' + pass.child.completed_by_user.last_name" :class="{'not-same' : !pass.child.to.user_ids_assigned.includes(pass.child.completed_by)}" class="processed-by">{{child_completed_by_user}}</b>
                </div>
            </div>

            <div v-if="pass.child && pass.child.to_kiosk">
                <b class="processed-by" v-if="
                   pass.child.to_type=='App\\Models\\User' && !pass.child.to_kiosk.room && pass.child.to_kiosk.user.id === pass.child.to.id ||
                   pass.child.to_type=='App\\Models\\Room' && pass.child.to_kiosk.room && pass.child.to_kiosk.room.id === pass.child.to.id">kiosk</b>
                <b v-else  class="processed-by not-same">
                    kiosk
                    <span>
                        - {{pass.child.to_kiosk.room ? pass.child.to_kiosk.room.name + '(' + pass.child.to_kiosk.user.first_name + pass.child.to_kiosk.user.last_name + ')' : pass.child.to_kiosk.user.first_name + pass.child.to_kiosk.user.last_name}}
                    </span>
                </b>
            </div>

            <div class="processed-by not-same mt-1 font-weight-bold" v-if="pass.child && !pass.child.completed_by && pass.child.approved_by && pass.badge_flags.system_completed || pass.child && pass.badge_flags.extended && pass.badge_flags.ended">
                System Ended
            </div>
        </div>

    </div>
</template>

<script>

export default {
    props: ['pass', 'section'],
    name:"InOutColumn",
    data() {
        return {
        }
    },
    computed:{
        isAutoApprove(){
            if(this.pass && this.pass.created_at && this.pass.approved_at){
                return this.$helpers.date(this.pass.created_at).format('DD-MM-YYYY HH:mm:ss') === this.$helpers.date(this.pass.approved_at).format('DD-MM-YYYY HH:mm:ss');
            }
            return false;
        },
        approved_by_user(){
            let fullName = this.pass.approved_by_user.first_name + ' ' + this.pass.approved_by_user.last_name;
            return fullName.length > 11 ? fullName.slice(0,11) + '..' : fullName;
        },
        completed_by(){
            let fullName = this.pass.completed_by_user.first_name + ' ' + this.pass.completed_by_user.last_name;
            return fullName.length > 11 ? fullName.slice(0,11) + '..' : fullName;
        },
        child_approved_by_user(){
            let fullName = this.pass.child.approved_by_user.first_name + ' ' + this.pass.child.approved_by_user.last_name;
            return fullName.length > 11 ? fullName.slice(0,11) + '..' : fullName;
        },
        child_completed_by_user(){
            let fullName = this.pass.child.completed_by_user.first_name + ' ' + this.pass.child.completed_by_user.last_name;
            return fullName.length > 11 ? fullName.slice(0,11) + '..' : fullName;
        }
    }
}
</script>

<style>

</style>