<template>
  <div class="no-target">
    <CModal class="ps__child--consume" :show.sync="modal.isVisible" :closeOnBackdrop="false">
      <template #header-wrapper>
        <div class="pt-4 px-4 create-popup-header">
          <div @click="closeModal"
            class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span
              class="close-icon no-target"></span></div>
        </div>
      </template>
      <div v-if="pass && pass.comments" class="px-3">
        <CommentsComponent @commentCreated="closeModal" ref="CommentsComponent" :comments="pass.comments" :toID="pass.id"
          :commentable_type="commentable_type"  />
      </div>
      <template #footer-wrapper>
        <div></div>
      </template>
    </CModal>

    <div v-if="!isTabular" class="comments-column">
        <div class="ended-by">
          <div v-if="passEndedBy" class="mb-2">{{passEndedBy}}</div>
      </div>
      <div v-if="pass.comments" class="d-flex">
        <div @click="showModal()" class="comments-count mr-2">
          <i class="fi flaticon-chat no-target"></i><b class="no-target">{{pass.comments.length}}</b>
        </div>
        <div @click="showModal()" v-show="!isBasicView" v-if="pass.comments.length" class="comments-list cursor-pointer">
          <div class="comment">
            {{visibleComment}}
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <div v-if="pass.comments">
        <div v-for="(comment, index) in pass.comments" :key="index">
          {{comment.comment}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import CommentsComponent from '@/components/CommentsComponent'

  export default {
    props: ['pass', 'commentable_type', 'isBasicView', 'isTabular'],
    name: "PassComments",
    components: {
      CommentsComponent
    },
    data() {
      return {
        modal: {
          isVisible: false
        }
      }
    },
    computed: {
      visibleComment(){
        let lastComment = this.pass.comments[this.pass.comments.length-1].comment;
        return lastComment.length > 15 ? lastComment.slice(0,15) + '..' : lastComment;
      },
      passEndedBy(){
        if(this.pass.badge_flags && this.pass.badge_flags.system_completed || this.pass.badge_flags && this.pass.badge_flags.extended && this.pass.badge_flags.ended){
          return 'Ended by System';
        }
        if(this.pass.child){
          return this.pass.child.completed_by_user && this.pass.child.completed_by_user.name? 'Ended by ' + this.pass.child.completed_by_user.name : '';
        }else{
          return this.pass.completed_by_user ? 'Ended by ' + this.pass.completed_by_user.name : '';
        }
      }
    },
    methods: {
      closeModal() {
        this.modal.isVisible = false;
        if (this.$refs.CommentsComponent) {
          this.$refs.CommentsComponent.resetForm();
        }
        this.$helpers.setModalToggleClass(false);
      },
      showModal() {
        this.modal.isVisible = true;
        this.$helpers.setModalToggleClass(true);
      }
    }
  }

</script>

<style>

</style>
