<template>
    <div v-if="pass.badge_flags && !pass.badge_flags.ended">
        <div class="table-actions">
            <div v-if="isVisibleActionSection" class="mt-2" v-show="actionsStatus === 1">
                <button @click="setPassStatus(1, null, pass.id)" class="btn btn-comfirm mb-1">Approve</button>
                <button class="btn btn-cancel" @click="cancelPass()">Cancel</button>
            </div>

            <div v-if="isVisibleActionSection" class="mt-2" v-show="actionsStatus === 2">
                <div v-if="pass.to_type == 'App\\Models\\User' || pass.to_type== 'App\\Models\\Room' && pass.to.trip_type == 'Layover'" class="d-flex align-items-center mb-1">
                    <button @click="setPassStatus(3, null, pass.id)" class="btn btn-comfirm mr-1">Arrived</button>
                    <button @click="setPassStatus(4, 'inout', pass.id)" class="btn btn-comfirm in-out"> In/Out</button>
                </div>
                <button @click="setPassStatus(2, null, pass.id)" class="btn btn-cancel">End/Keep</button>
            </div>

            <div v-if="isVisibleActionSection" class="mt-2" v-show="actionsStatus === 3">
                <button @click="setPassStatus(4, 'return', pass.child.id)" class="btn btn-comfirm no-icon mr-1 mb-1"> <span class="flaticon-back-arrow mr-1 icon-15"></span> Returning</button>
                <button @click="setPassStatus(2, null, pass.child.id, true)" class="btn btn-cancel">End</button>
            </div>

            <div v-if="isVisibleActionSection" class="mt-2" v-show="actionsStatus === 4">
                <button @click="setPassStatus(2, null, pass.child.id, true)" class="btn btn-cancel">End</button>
            </div>

        </div>
    </div>
</template>

<script>

export default {
    props: ['pass', 'actionsStatus'],
    name:"PassActionButtons",
    data() {
        return {
            isProcessing: false
        }
    },
    computed:{
        isVisibleActionSection(){
            switch (this.actionsStatus) {
                case 1:
                    return !this.pass.approved_at && this.pass.pass_status;
                case 2:
                    return this.pass.approved_at && this.pass.pass_status;
                case 3:
                    return this.pass.child && !this.pass.child.approved_at && this.pass.child.pass_status;
                case 4:
                    return this.pass.child && this.pass.child.approved_at && this.pass.child.pass_status;
                default:
                    break;
            }
        }
    },
    methods: {
        setPassStatus(status, return_type, passId, isChild){
            if(!this.isProcessing){
                this.isProcessing = true;
                let data = {
                    id: passId,
                    data:{
                        action: status
                    }
                }
                if(return_type){
                    data.data.return_type = return_type;
                }
                if(isChild){
                    data.data.child = true;
                }


                this.$store.dispatch('passes/setPassStatus', data)
                .then((response) => {
                    if(status == 2){
                        this.$emit('passEnded');
                    }
                    this.isProcessing = false;
                })
                .catch((err => {this.isProcessing = false;}));
            }
        },
        cancelPass(){
            this.$store.dispatch('passes/cancelPass', this.pass.id);
            this.$emit('cancelPass')
        }
    }
}
</script>

<style>

</style>