<template>
  <td v-if="pass.user" class="p-0 position-relative td-box w-auto d-table-cell" :class="[passStatus && passStatus.class ? passStatus.class : '']">
    <!-- Edit pass time modal -->
    <CModal :show.sync="modal.isVisible.passTimeChange" :closeOnBackdrop="false" class="no-target">
      <template #header-wrapper>
        <div class="pt-4 px-4 create-popup-header">
          <div @click="closeModal()"
            class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span
              class="close-icon no-target"></span></div>
        </div>
      </template>
      <div v-if="modal.activePass">
        <ChangePassHistoryTimeForm @passTimeChange="onPassTimeChange" :pass="modal.activePass" />
      </div>
      <template #footer-wrapper>
        <div></div>
      </template>
    </CModal>
    <!-- Student passes history -->
    <CModal v-if="modal.activePass" :show.sync="modal.isVisible.todayPasses" :closeOnBackdrop="false" class="no-target"
      size="lg" addContentClasses="no-padding-modal no-border-radius-modal left-top-header">
      <template #header-wrapper>
        <div class="pt-4 px-3 create-popup-header">
          <div @click="closeModal()"
            class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span
              class="close-icon no-target"></span></div>
        </div>
      </template>
      <div>
        <StudentPassHistory :userId="modal.activePass.user.id" />
      </div>
      <template #footer-wrapper>
        <div></div>
      </template>
    </CModal>



    <div class="d-flex align-items-center justify-content-start user-details-column border-0"
      :class="[passStatus && passStatus.class ? passStatus.class : '', isBasicView ? 'p-2' : '']">
      <div v-if="passStatus">
        <div class="pass-status" :class="passStatus && passStatus.class ? passStatus.class : ''">
          {{passStatus.label}}
        </div>
      </div>
      <div v-if="!isAppoinment" class="edit mr-2 no-target">
        <div class="d-flex align-items-center content-center mb-1 no-target">
          <span v-if="isPassEditable" class="edit-btn no-target" @click="showModal('passTimeChange')"><i
              class="fi flaticon-edit mr-1 no-target"></i></span>
          <span v-if="getFlagStatusColor" class="status-flag" :style="'color:' + getFlagStatusColor"><i
              class="flaticon-flag-2"></i></span>
        </div>
        <p v-show="pass.edited_at" class="is-edited m-0 mt-2">EDITED<i class="fi flaticon-edit ml-1"></i></p>
      </div>
      <div v-show="!isBasicView && showStudentPhotos" class="c-avatar mr-2">
        <img :src="pass.user.avatar ? pass.user.avatar : 'img/avatars/user-avatar.jpeg'" class="c-avatar-img " />
      </div>
      <div class="user-info">
        <b>{{pass.user.first_name + ' ' +pass.user.last_name}}</b>
        <div v-show="!isBasicView">
          <div class="d-flex" v-if="isAppoinment">
            <div v-show="pass.acknowledge_at" class="like-icon"></div>
            <div v-show="pass.acknowledged_by_mail_at" class="like-icon"></div>
          </div>
          <p v-else class="m-0 passes-stat no-target">has <b @click="showModal('todayPasses')"
              class="passes-count-badge no-target">{{pass.user.passes_for_today_count ? pass.user.passes_for_today_count : 0}}</b>
            passes today</p>
        </div>
        <p v-show="!pass.edited_at && isBasicView" class="is-edited only-basic-view m-0 mt-2">EDITED<i
            class="fi flaticon-edit ml-1"></i></p>
        <p v-if="pass.edited_at && isAppoinment" class="is-edited d-inline-block m-0 mt-1">EDITED<i
            class="fi flaticon-edit ml-1"></i></p>
      </div>
    </div>
  </td>
</template>

<script>
  import {
    mapGetters
  } from 'vuex';
  import StudentPassHistory from '@/components/DataTables/StudentPassHistory';
  import ChangePassHistoryTimeForm from '@/components/Forms/ChangePassHistoryTimeForm'

  export default {
    name: "UserColumnData",
    props: ['pass', 'isAppoinment', 'isBasicView'],
    components: {
      StudentPassHistory,
      ChangePassHistoryTimeForm
    },
    data() {
      return {
        modal: {
          isVisible: {
            passTimeChange: false,
            todayPasses: false
          },
          activePass: null
        },
      }
    },
    computed: {
      ...mapGetters({
        currentUser: 'authentication/user',
        passesTimeSettings: 'passes/passesTimeSettings',
        showStudentPhotos: 'schools/showStudentPhotos',
      }),
      getAppPassStatus() {
        if (this.pass) {
          if (this.pass.is_canceled) {
            return {
              class: 'canceled',
              label: 'Canceled'
            };
          }
          if (this.pass.is_for_today) {
            return {
              class: 'today-pass',
              label: "Today's APT"
            };
          }
          if (this.pass.is_active) {
            return {
              class: 'activated',
              label: "Activated"
            };
          }

          if (this.pass.is_ended) {
            return {
              class: 'ended',
              label: 'Ended'
            };
          }
          if (this.pass.is_for_future) {
            return {
              class: 'future-apt',
              label: 'Future Apt'
            };
          }
          if (this.pass.waiting_activation) {
            return {
              class: 'wating-activation',
              label: 'Waitiing activation'
            };
          }
          if (this.pass.is_missed) {
            return {
              class: 'missed-apt',
              label: 'Missed apt'
            };
          }
          if (this.pass.is_missed_request) {
            return {
              class: 'missed-request',
              label: 'Missed request'
            };
          }
          if (this.pass.is_in_another_pass) {
            return {
              class: 'on-other-pass',
              label: 'On other pass'
            };
          }
          if (!this.pass.confirmed_at && !this.pass.confirmed_by_teacher_at) {
            return {
              class: 'waiting-confirmation',
              label: 'Waiting Confirmation'
            };
          }
        }
        return {
          class: '',
          label: ''
        };
      },
      getPassStatus(){
        if(this.pass.badge_flags){
          if(this.pass.badge_flags.active && !this.pass.badge_flags.min_time){
            return {label: 'Active', class: 'active'};
          }
          if(this.pass.badge_flags.canceled){
            return {label: 'Canceled', class: 'canceled'};
          }
          if(this.pass.badge_flags.ended){
            return {label: 'Ended', class: 'ended'};
          }
          if(this.pass.badge_flags.system_completed){
            return {label: 'System Ended', class: 'system-completed'};
          }
          if(this.pass.badge_flags.min_time){
            return {label: this.passesTimeSettings ? this.$helpers.formatDate(this.passesTimeSettings.min_time, 'hh:mm:ss', 'm') + '+ MIN' : 'Min time', class: 'min-time'};
          }
          if(this.pass.badge_flags.extended){
            return {label: 'Extended', class: 'extended'};
          }
          if(this.pass.badge_flags.missed){
            return {label: 'Missed', class: 'missed'};
          }
          if(this.pass.badge_flags.waiting_approval){
            return {label: 'Waiting Approval', class: 'waiting-approval'};
          }
        }
        return '';
      },
      passStatus(){
        if(this.isAppoinment){
          return this.getAppPassStatus;
        }
        return this.getPassStatus;
      },
      isPassEditable() {
        return !!this.currentUser ? this.pass.approved_by === this.currentUser.id && !this.pass.badge_flags.active || this.pass.completed_by === this
          .currentUser.id && !this.pass.badge_flags.active  : false;
      },
      getFlagStatusColor(){
        if(this.pass.badge_flags){
          if(this.pass.badge_flags.system_completed){
            return '#DF3C3B';
          }
          if(this.pass.badge_flags.min_time){
            return '#F4EA65';
          }
          if(this.pass.badge_flags.extended){
            return '#672C91';
          }
        }
        return 'transparent';
      },
    },
    methods: {
      showModal(modal) {
        this.modal.isVisible[modal] = true;
        this.modal.activePass = this.pass;
      },
      closeModal() {
        this.modal = {
          isVisible: {
            passTimeChange: false,
            todayPasses: false
          },
          activePass: null
        }
      },
      onPassTimeChange(pass){
        this.modal.isVisible.passTimeChange = false;
        this.$store.commit('dashboard/UPDATE_PASS', pass);
      }
    }
  }

</script>

<style>

</style>
