<template>
  <CContainer>
    <CRow class="justify-content-center">
      <CCol md="12" class="text-left">
        <div class="d-flex align-items-center">
          <h2>Appointment Pass</h2>
          <div class="d-flex align-items-center ml-4">
            <span class="font-weight-bold mr-2">Off</span>
            <CSwitch class="modules-switch mx-1" shape="pill" :checked="isAppModuleActive"
                     @update:checked="toggleStatus()"/>
            <span class="font-weight-bold ml-2">On</span>
          </div>
          <HelpCenterButton _class="ml-2" contentKey="modules_appointment_pass_and_request"/>
        </div>
        <div v-if="isAppModuleActive">
          Please select the Appointment Pass notification method(s) you would like to activate for your school.
          <div class="d-flex mt-4">
            <CInputCheckbox
              label="Email Alert Notification"
              :checked.sync="form.emailNotification"
              v-on:update:checked="submit"
              class="text-left"
              :custom="true"
            />
          </div>
          <div class="d-flex">
            <CInputCheckbox
              label="Turn off Admins ability to edit other user's Appointment Passes"
              :checked.sync="form.adminEdit"
              v-on:update:checked="submit"
              class="text-left"
              :custom="true"
            />
          </div>
          <p class="mt-4">
            Allow Students to request Appointments to any or all of the following. By making a selection here the
            Student Appointment Pass Functionality will be activated for your school.
          </p>
          <div class="d-flex">
            <div class="d-flex align-items-center">
              <CInputCheckbox
                label="Teachers"
                :checked.sync="form.teachers"
                v-on:update:checked="submit"
                class="text-left"
                :custom="true"
              />
            </div>
            <div class="d-flex align-items-center ml-4">
              <CInputCheckbox
                label="Admins"
                :checked.sync="form.admins"
                v-on:update:checked="submit"
                class="text-left"
                :custom="true"
              />
            </div>
            <div class="d-flex align-items-center ml-4">
              <CInputCheckbox
                label="Staff"
                :checked.sync="form.staff"
                v-on:update:checked="submit"
                class="text-left"
                :custom="true"
              />
            </div>
            <div class="d-flex align-items-center ml-4">
              <CInputCheckbox
                label="Locations"
                :checked.sync="form.locations"
                v-on:update:checked="submit"
                class="text-left"
                :custom="true"
              />
            </div>
          </div>
          <CAlert
            v-if="reqResponse.message"
            class="mt-4"
            :color="reqResponse.type"
            :show="!!reqResponse.message"
          >
            {{ reqResponse.message }}
          </CAlert>
        </div>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>
import HelpCenterButton from "../HelpCenterButton";
import {mapState} from 'vuex';
import _ from "underscore";

export default {
  name: "AppointmentPassModuleForm",
  components: {HelpCenterButton},
  data() {
    return {
      isLoading: false,
      form: {
        emailNotification: false,
        adminEdit: false,
        teachers: false,
        admins: false,
        staff: false,
        locations: false,
      },
      isAppModuleActive: false,
      reqResponse: {
        type: "",
        message: "",
        errors: {}
      },
    };
  },
  computed: {
    ...mapState({
      options: state => {
        let index = _.findIndex(state.schools.activeSchool.modules, {name: "Appointmentpass"});
        return index !== -1 ? JSON.parse(state.schools.activeSchool.modules[index].pivot.option_json) : false;
      },
      active: state => {
        let index = _.findIndex(state.schools.activeSchool.modules, {name: "Appointmentpass"});
        return index !== -1 ? Boolean(state.schools.activeSchool.modules[index].pivot.status) : false;
      },
    })
  },
  mounted() {
    if(this.options) {
      this.form.emailNotification = !!this.options.email;
      this.form.adminEdit = !!this.options.admin_edit;
      this.form.teachers = !!this.options.teacher;
      this.form.admins = !!this.options.admin;
      this.form.staff = !!this.options.staff;
      this.form.locations = !!this.options.location;
    }
    this.isAppModuleActive = this.active;
  },
  methods: {
    submit() {
      this.resetResponseMessages();
      let inputsData = JSON.stringify({
        peer: null,
        sms: null,
        email: this.form.emailNotification,
        admin: this.form.admins,
        staff: this.form.staff,
        location: this.form.locations,
        teacher: this.form.teachers,
        admin_edit: this.form.adminEdit
      });
      this.isLoading = true;
      this.$store.dispatch('modules/updateAppointmentPassModule', {option_json: inputsData})
        .then((response) => {
          this.setSuccessResponse('Module updated.');
          this.$store.dispatch("schools/getSchools");
          this.isLoading = false;
          setTimeout(() => {
            this.resetResponseMessages();
          }, 850);
        })
        .catch((err) => {
          let response = err.response.data;
          this.setErrorResponse(response.message, response.errors);
          this.isLoading = false;
        });
    },
    toggleStatus() {
      this.$store.dispatch('modules/toggleModule', {id: 1}).then(() => {
        this.isAppModuleActive = !this.isAppModuleActive;
        this.$store.dispatch("schools/getSchools");
      }).catch((err) => {
        console.log(err);
      })
    },
    resetResponseMessages() {
      this.reqResponse = {
        type: "",
        message: "",
        errors: {}
      }
    },
    setSuccessResponse(message) {
      this.reqResponse = {type: 'success', message: message ? message : 'Success!', errors: {}};
    },
    setErrorResponse(message, errors) {
      this.reqResponse = {
        type: 'danger',
        message: message ? message : 'Someting went wrong!',
        errors: errors ? errors : {}
      };
    }
  }

}
</script>
