<template>
  <CContainer>
    <CRow class="justify-content-center">
      <CCol md="12" class="text-left">
        <CAlert v-if="reqResponse.message" class="mt-4" :color="reqResponse.type" :show="!!reqResponse.message">
          {{ reqResponse.message }}
        </CAlert>
        <div class="mb-2" v-if="showSimpleCancel">
          <div class="form-group">
            <textarea class="form-control" :class="{
                'is-invalid':
                  $v.form.message.$error || reqResponse.errors['cancel_reason']
              }" placeholder="Message..." rows="5" v-model="form.message">
            </textarea>
            <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.message.required">
              This field is required
            </div>
            <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.message.maxLength">
              The cancel reason may not be greater than 255 characters.
            </div>
            <div class="invalid-feedback" v-if="reqResponse.errors['cancel_reason']">
              {{ reqResponse.errors["cancel_reason"][0] }}
            </div>
          </div>

          <div class="form-group form-actions mt-4 text-center">
            <div class="d-flex align-items-center justify-content-center">
              <div @click="submit()">
                <CLoadingButton :spinner="isLoading" :disabled="isLoading" :loading="isLoading"
                  class="mr-2 btn bg-gradient-blue text-white">
                  Submit
                </CLoadingButton>
              </div>
            </div>
          </div>
        </div>
        <div v-else class="px-5">
          <!-- <h3 class="text-center mb-4">Delete Pass</h3> -->
          <div pass.recurrence_appointment_pass_id>
            <div v-if="isBeyond">
              <p class="text-center">
                There may be instances of this series already scheduled on the
                "Next 7 Days" tab. Do you want to cancel all of those as well?
              </p>
              <div class="d-flex justify-content-center mb-3">
                <button class="btn btn-cancel no-icon mr-2" @click="cancelRecurrencePass(1, pass)">
                  Just Cancel Future Occurrences
                </button>
                <button class="btn btn-edit no-icon" @click="cancelRecurrencePass(2, pass)">
                  Cancel Current Week And Future Occurrences
                </button>
              </div>
            </div>

            <div v-else>
              <p class="text-center">
                Do you want to delete only this instance or the entire series?
              </p>
              <div class="d-flex justify-content-center mb-3">
                <button class="btn btn-cancel no-icon mr-2 px-3 py-2" @click="cancelPass(pass)">
                  Delete only this instance
                </button>
                <button class="btn btn-edit no-icon px-3 py-2" @click="cancelRecurrencePass(2, pass)">
                  Delete entire series
                </button>
              </div>
            </div>
          </div>
        </div>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>
  import {
    validationMixin
  } from "vuelidate";
  import {
    mapGetters
  } from "vuex";
  import {
    required,
    maxLength
  } from "vuelidate/lib/validators";

  export default {
    name: "AptPassCancelation",
    props: ["pass", "close", "countType", "isBeyond", "onlySimpleCancelation"],
    components: {},
    data() {
      return {
        isLoading: false,
        form: {
          message: ""
        },
        reqResponse: {
          type: "",
          message: "",
          errors: {}
        }
      };
    },
    mixins: [validationMixin],
    validations: {
      form: {
        message: {
          required,
          maxLength: maxLength(255)
        }
      }
    },
    computed: {
      isValid() {
        return !this.$v.form.$invalid;
      },
      ...mapGetters({
        currentUser: "authentication/user"
      }),
      showSimpleCancel(){
        return this.onlySimpleCancelation || (!this.pass.is_recurrence && !this.pass.recurrence_appointment_pass);
      }
    },
    methods: {
      submit() {
        this.resetResponseMessages();

        if (this.isValid) {
          let data = {
            id: this.pass.id,
            message: {
              cancel_reason: this.form.message
            }
          };
          this.isLoading = true;
          if (this.currentUser.role.name == "student") {
            this.$store
              .dispatch("appointmentPasses/cancelAppointmentPassAsStudent", data)
              .then(response => {
                this.resetForm();
                this.setSuccessResponse("Successfully canceled.");
                this.isLoading = false;
                this.close();
              })
              .catch(err => {
                let response = err.response.data;
                this.setErrorResponse(response.message, response.errors);
                this.isLoading = false;
                this.close();
              });
          } else {
            this.$store
              .dispatch("appointmentPasses/cancelAppointmentPass", data)
              .then(response => {
                this.decrementCurrentCounter();
                this.resetForm();
                this.setSuccessResponse("Successfully canceled.");
                this.isLoading = false;
                setTimeout(() => {
                  this.resetResponseMessages();
                }, 1000);
                this.close();
              })
              .catch(err => {
                let response = err.response.data;
                this.setErrorResponse(response.message, response.errors);
                this.isLoading = false;
                this.close();
              });
          }
        } else {
          this.$v.$touch();
        }
      },
      resetForm() {
        this.$v.$reset();
        this.form = {
          message: ""
        };
      },
      resetResponseMessages() {
        this.reqResponse = {
          type: "",
          message: "",
          errors: {}
        };
      },
      setSuccessResponse(message) {
        this.reqResponse = {
          type: "success",
          message: message ? message : "Success!",
          errors: {}
        };
      },
      setErrorResponse(message, errors) {
        this.reqResponse = {
          type: "danger",
          message: message ? message : "Someting went wrong!",
          errors: errors ? errors : {}
        };
      },
      refreshForm() {
        this.resetForm();
        this.resetResponseMessages();
      },
      cancelRecurrencePass(action, pass) {
        this.resetResponseMessages();
        let id = pass.recurrence_appointment_pass_id ?
          pass.recurrence_appointment_pass_id :
          null;

        this.isLoading = true;
        this.$store
          .dispatch("appointmentPasses/cancelRecurrenceAppointmentPass", {
            id,
            action
          })
          .then(response => {
            this.isLoading = false;
            this.close();
          })
          .catch(err => {
            this.isLoading = false;
            let response = err.response.data;
            this.setErrorResponse(response.message, response.errors);
            console.log(err);
          });
      },
      cancelPass(pass) {
        this.resetResponseMessages();
        this.isLoading = true;
        this.$store
          .dispatch("appointmentPasses/cancelAppointmentPass", {
            id: pass.id,
            fromRecurrence: true
          })
          .then(response => {
            this.isLoading = false;
            this.close();
          })
          .catch(err => {
            this.isLoading = false;
            let response = err.response.data;
            this.setErrorResponse(response.message, response.errors);
            console.log(err);
          });
      },
      decrementCurrentCounter() {
        if (this.countType !== "todayAppointmentsCount") {
          this.$store.commit("dashboard/DECREMENT_STAT", this.countType);
        }
      }
    }
  };

</script>
<style scoped lang="scss">
  textarea::-webkit-scrollbar {
    display: none;
  }

  textarea,
  textarea::placeholder {
    font-weight: bold;
    font-size: 12px;
    color: #000 !important;
  }

  .invalid-feedback {
    font-weight: bold;
    font-size: 12px;
  }

</style>
