<template>
  <CContainer>
    <CRow class="justify-content-center mt-4" style="">
      <CCol md="12" class="text-left">
        <CAlert
          v-if="reqResponse.message"
          class="mt-4"
          :color="reqResponse.type"
          :show="!!reqResponse.message"
        >
          {{reqResponse.message}}
        </CAlert>
        <div class="d-flex align-items-center">
          <h2>Auto Check-In</h2>
          <div class="d-flex align-items-center ml-4">
            <span class="font-weight-bold mr-2">Off</span>
            <CSwitch class="modules-switch mx-1" shape="pill" :checked="isActive"
                     v-on:update:checked="toggleAutoCheckIn()"/>
            <span class="font-weight-bold ml-2">On</span>
          </div>
          <HelpCenterButton _class="ml-2" contentKey="module_autocheck_in"/>
        </div>
        <p class="mt-4">
          Auto Check-In enables assigning a public PIN to a room so that students can Check into room using that public PIN
        </p>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>
import {mapState} from "vuex";
import HelpCenterButton from "../HelpCenterButton";
import _ from "underscore";

export default {
  name: "AutoCheckInModuleForm",
  components: {HelpCenterButton},
  data() {
    return {
      isLoading: false,
      form: {
      },
      reqResponse: {
        type: "",
        message: "",
        errors:{}
      },
      isActive: false,
    };
  },
  computed: {
    ...mapState({
      options: state => {
        let index = _.findIndex(state.schools.activeSchool.modules, {name: "Auto Check-In"});
        return index !== -1 ? JSON.parse(state.schools.activeSchool.modules[index].pivot.option_json) : false;
      },
      active: state => {
        let index = _.findIndex(state.schools.activeSchool.modules, {name: "Auto Check-In"});
        return index !== -1 ? Boolean(state.schools.activeSchool.modules[index].pivot.status) : false;
      }
    })
  },
  mounted() {
    this.isActive = this.active;
  },
  methods: {
    toggleAutoCheckIn() {
      this.$store.dispatch('modules/toggleModule', {id: 2}).then(() => {
        this.isActive = !this.isActive;
        this.$store.dispatch("schools/getSchools");
      })
    },
    resetResponseMessages(){
      this.reqResponse = {
        type: "",
        message: "",
        errors:{}
      }
    },
    setSuccessResponse(message){
      this.reqResponse = {type:'success', message: message ? message : 'Success!', errors: {}};
    },
    setErrorResponse(message, errors){
      this.reqResponse = {type:'danger', message: message ? message : 'Someting went wrong!', errors: errors ? errors : {}};
    }
  }

}
</script>
