<template>
  <CContainer>
    <CRow class="justify-content-center mt-4" style="">
      <CCol md="8">
        <div class="d-flex flex-column align-items-center justify-content-center mb-2 max-w-500 m-auto">

          <div class="d-flex flex-column">
            <h1 class="text-center">Auto Pass
              <HelpCenterButton _class="ml-2" contentKey="auto_pass"/>
            </h1>
            <p class="text-value-sm">Select multiple rooms</p>
          </div>
          <div class="w-100">
            <CAlert v-if="reqResponse.message" class="mt-4 w-100" :color="reqResponse.type"
                    :show="!!reqResponse.message" closeButton>
              {{ reqResponse.message }}
            </CAlert>
            <LazyLoadSelect
              :classes="'mb-3'"
              :isMultiple="true"
              :onlyBasicData="true"
              @change="(value) => {form.rooms = value}"
              :selected="form.rooms"
              type="locations"
              placeholder="Select location">
              <template #footer>
                <div class="invalid-feedback" v-if="reqResponse.errors['room_id']">
                  {{ reqResponse.errors['room_id'][0] }}
                </div>
              </template>
            </LazyLoadSelect>
          </div>

          <div class="d-flex justify-content-center mt-4" @click="submit()">
            <CLoadingButton :spinner="isLoading" :disabled="isLoading" :loading="isLoading" class="mr-2 btn bg-gradient-blue text-white">
              Submit
            </CLoadingButton>
          </div>
        </div>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>
import {mapGetters, mapState} from "vuex";
import HelpCenterButton from "../HelpCenterButton";
import LazyLoadSelect from '@/components/LazyLoadSelect.vue';

export default {
  name: "AutoPassForm",
  components: {HelpCenterButton, LazyLoadSelect},
  data() {
    return {
      isLoading: false,
      form: {
        rooms: [],
      },
      reqResponse: {
        type: "",
        message: "",
        errors: {}
      },
    };
  },
  computed: {
    ...mapGetters({
      autoPassLimits: 'rooms/autoPassLimits',
    }),
  },
  created() {
    this.$store.dispatch('rooms/getAutoPassLimit')
    .then((response) => {
      let data = response.data.data;
      if (data.auto_pass_rooms && data.auto_pass_rooms.length) {
          this.setAutoPassLimitData(data);
      }
    });
  },
  methods: {
    submit() {
      this.resetResponseMessages();
      this.isLoading = true;
      this.$store.dispatch('rooms/setAutoPassLimit', {autopass_rooms: this.form.rooms.map(el => el.value.id)})
        .then((response) => {
          this.setSuccessResponse('Success! The Auto Room(s) was created successfully.');
          this.isLoading = false;
          setTimeout(() => {
            this.resetResponseMessages();
          }, 1000);
        })
        .catch((err) => {
          let response = err.response.data;
          this.setErrorResponse(response.message, response.errors);
          this.isLoading = false;
        });
    },
    setAutoPassLimitData(data) {
      data.auto_pass_rooms.forEach(el => {
        this.form.rooms.push({
          value:{
            id:el.room_id,
            type:"App\\Models\\Room"
            }, 
          label:el.room.name
        });
      });
    },
    resetResponseMessages() {
      this.reqResponse = {
        type: "",
        message: "",
        errors: {}
      }
    },
    setSuccessResponse(message) {
      this.reqResponse = {type: 'success', message: message ? message : 'Success!', errors: {}};
    },
    setErrorResponse(message, errors) {
      this.reqResponse = {
        type: 'danger',
        message: message ? message : 'Someting went wrong!',
        errors: errors ? errors : {}
      };
    }
  }

}
</script>
