<template>
    <div>
      <CContainer>
        <CRow>
          <CCol md="12">
            <CAlert
              v-if="reqResponse.message"
              class="mt-4"
              :color="reqResponse.type"
              :show="!!reqResponse.message"
              closeButton
            >
              {{reqResponse.message}}
            </CAlert>
          </CCol>
          <CCol md="6">
            <h3>Out time</h3>
            <cs-time-picker v-model="form.out_time" placeholder="Out Time" :classes="[{ 'is-invalid': $v.form.out_time.$error || reqResponse.errors['out_time']}, 'mb-3']">
              <template #footer>
                <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.out_time.required">This field is required</div>
                <div class="invalid-feedback" v-if="$v.form.$error && $v.form.out_time.required && !$v.form.out_time.minValue">Start time must be after now</div>
                <div class="invalid-feedback" v-if="reqResponse.errors['out_time']">{{reqResponse.errors['out_time'][0]}}</div>
              </template>
            </cs-time-picker>

             <!-- <div class="form-group cs-time-field">
              <div
                class="form-control"
                :class="{ 'is-invalid': $v.form.out_time.$error || reqResponse.errors['out_time']}">
                    <input
                      type="time"
                      v-model="form.out_time"/>
                    <div class="cs-placeholder">
                      <span class="text">{{form.out_time ? form.out_time : 'Out Time'}}</span>
                      <span class="icon"><i class="fi flaticon-wall-clock mr-1"></i></span>
                    </div>
                </div>
                <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.out_time.required">This field is required</div>
                <div class="invalid-feedback" v-if="$v.form.$error && $v.form.out_time.required && !$v.form.out_time.minValue">Start time must be after now</div>
                <div class="invalid-feedback" v-if="reqResponse.errors['out_time']">{{reqResponse.errors['out_time'][0]}}</div>
              </div> -->
          </CCol>
          <CCol md="6">
            <h3>In time</h3>
            <cs-time-picker v-model="form.in_time" placeholder="In Time" :classes="[{ 'is-invalid': $v.form.in_time.$error || reqResponse.errors['in_time']}, 'mb-3']">
              <template #footer>
                <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.in_time.required">This field is required</div>
                <div class="invalid-feedback" v-if="$v.form.$error && $v.form.in_time.required && !$v.form.in_time.minValue">Start time must be after now</div>
                <div class="invalid-feedback" v-if="reqResponse.errors['in_time']">{{reqResponse.errors['in_time'][0]}}</div>
              </template>
            </cs-time-picker>

              <!-- <div class="form-group cs-time-field">
              <div
                class="form-control"
                :class="{ 'is-invalid': $v.form.in_time.$error || reqResponse.errors['in_time']}">
                    <input
                      type="time"
                      v-model="form.in_time"/>
                    <div class="cs-placeholder">
                      <span class="text">{{form.in_time ? form.in_time : 'In Time'}}</span>
                      <span class="icon"><i class="fi flaticon-wall-clock mr-1"></i></span>
                    </div>
                </div>
                <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.in_time.required">This field is required</div>
                <div class="invalid-feedback" v-if="$v.form.$error && $v.form.in_time.required && !$v.form.in_time.minValue">Start time must be after now</div>
                <div class="invalid-feedback" v-if="reqResponse.errors['in_time']">{{reqResponse.errors['in_time'][0]}}</div>
              </div> -->
          </CCol>
        </CRow>
        <CRow v-if="pass.child">
          <CCol v-if="pass.child.approved_at" md="6">
            <h3>Out time</h3>
            <cs-time-picker v-model="form.child_out_time" placeholder="Out Time" :classes="{ 'is-invalid': $v.form.child_out_time.$error || reqResponse.errors['child_out_time']}">
              <template #footer>
                <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.child_out_time.required">This field is required</div>
                <div class="invalid-feedback" v-if="$v.form.$error && $v.form.child_out_time.required && !$v.form.child_out_time.minValue">Start time must be after now</div>
                <div class="invalid-feedback" v-if="reqResponse.errors['child_out_time']">{{reqResponse.errors['child_out_time'][0]}}</div>
              </template>
            </cs-time-picker>

            <!-- <div class="form-group cs-time-field">
              <div
                class="form-control"
                :class="{ 'is-invalid': $v.form.child_out_time.$error || reqResponse.errors['child_out_time']}">
                    <input
                      type="time"
                      v-model="form.child_out_time"/>
                    <div class="cs-placeholder">
                      <span class="text">{{form.child_out_time ? form.child_out_time : 'Out Time'}}</span>
                      <span class="icon"><i class="fi flaticon-wall-clock mr-1"></i></span>
                    </div>
                </div>
                <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.child_out_time.required">This field is required</div>
                <div class="invalid-feedback" v-if="$v.form.$error && $v.form.child_out_time.required && !$v.form.child_out_time.minValue">Start time must be after now</div>
                <div class="invalid-feedback" v-if="reqResponse.errors['child_out_time']">{{reqResponse.errors['child_out_time'][0]}}</div>
            </div> -->
          </CCol>
          <CCol v-if="pass.child.completed_at" md="6">
            <h3>In time</h3>
            <cs-time-picker v-model="form.child_in_time" placeholder="In Time" :classes="{ 'is-invalid': $v.form.child_in_time.$error || reqResponse.errors['child_in_time']}">
              <template #footer>
                <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.child_in_time.required">This field is required</div>
                <div class="invalid-feedback" v-if="$v.form.$error && $v.form.child_in_time.required && !$v.form.child_in_time.minValue">Start time must be after now</div>
                <div class="invalid-feedback" v-if="reqResponse.errors['child_in_time']">{{reqResponse.errors['child_in_time'][0]}}</div>
              </template>
            </cs-time-picker>

              <!-- <div class="form-group cs-time-field">
                <div
                class="form-control"
                :class="{ 'is-invalid': $v.form.child_in_time.$error || reqResponse.errors['child_in_time']}">
                    <input
                      type="time"
                      v-model="form.child_in_time"/>
                    <div class="cs-placeholder">
                      <span class="text">{{form.child_in_time ? form.child_in_time : 'In Time'}}</span>
                      <span class="icon"><i class="fi flaticon-wall-clock mr-1"></i></span>
                    </div>
                </div>
                <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.child_in_time.required">This field is required</div>
                <div class="invalid-feedback" v-if="$v.form.$error && $v.form.child_in_time.required && !$v.form.child_in_time.minValue">Start time must be after now</div>
                <div class="invalid-feedback" v-if="reqResponse.errors['child_in_time']">{{reqResponse.errors['child_in_time'][0]}}</div>
            </div> -->
          </CCol>
        </CRow>
        <CRow>
          <CCol md="12" class="text-center mt-4 mb-2">
            <button @click="changePassHistoryTime()" type="button" class="btn btn bg-gradient-blue text-white mr-2"> Update </button>
          </CCol>
        </CRow>
      </CContainer>
    </div>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required, requiredIf } from "vuelidate/lib/validators";
import moment from 'moment-timezone';

export default {
  props: ['pass'],
  name: "ChangePassHistoryTimeForm",
  data() {
    return {
      form: {
        out_time: "",
        in_time: "",
        child_out_time: "",
        child_in_time: ""
      },
      reqResponse: {
        type: "",
        message: "",
        errors:{}
      }
    }
  },
   mixins: [validationMixin],
    validations: {
      form:{
          out_time: {
            required,
            minValue: value => value >= moment().format('HH:mm')
          },
          in_time: {
            required,
            minValue: (value, model) => {return value > model.out_time}
          },
          child_out_time: {
            // required: requiredIf((model) => {return pass.child && pass.child.approved_at}),
          },
          child_in_time: {
            // required: requiredIf((model) => {return pass.child && pass.child.completed_at}),
          }
      }
    },
  computed:{
  },
  watch: {
    pass: function(pass){
      this.setCurrentPassTime(pass);
    }
  },
  created(){
    this.setCurrentPassTime(this.pass);
  },
  methods: {
    changePassHistoryTime(){
      this.resetResponseMessages();
      // edit -> logged user id == completed by id || approved by id
      let data = {
        passID: this.pass.id,
        newTime: this.form
      };
      this.$store.dispatch('passes/changePassHistoryTime', data)
      .then((response) => {
        let data = response.data.data;
        this.setSuccessResponse('Successfully updated!');
        setTimeout(() => {
          this.resetResponseMessages();
          this.$emit('passTimeChange', data);
        }, 1000);
        // this.resetForm();
      })
      .catch((err) => {
        let response = err.response.data;
        this.setErrorResponse(response.message, response.errors);
      });
    },
    setCurrentPassTime(pass){
      if(pass){
        this.form.out_time = pass.approved_at ? this.$helpers.transformDate(pass.approved_at, 'HH:mm') : this.form.out_time;
        this.form.in_time = pass.completed_at ? this.$helpers.transformDate(pass.completed_at, 'HH:mm') : this.form.in_time;
        if(pass.child){
            this.form.child_out_time = pass.child.approved_at ? this.$helpers.transformDate(pass.child.approved_at, 'HH:mm') : this.form.child_out_time;
            this.form.child_in_time = pass.child.completed_at ? this.$helpers.transformDate(pass.child.completed_at, 'HH:mm') : this.form.child_in_time;
        }
      }
    },
    resetResponseMessages(){
        this.reqResponse = {
          type: "",
          message: "",
          errors:{}
        }
      },
      setSuccessResponse(message){
        this.reqResponse = {type:'success', message: message ? message : 'Success!', errors: {}};
      },
      setErrorResponse(message, errors){
        this.reqResponse = {type:'danger', message: message ? message : 'Someting went wrong!', errors: errors ? errors : {}};
      }
  }
}
</script>
