<template>
  <div>
    <CAlert
      v-if="reqResponse.message"
      class="mt-2 mb-4"
      :color="reqResponse.type"
      :show="!!reqResponse.message">
      {{reqResponse.message}}
    </CAlert>

    <div class="form-group">
       <v-select
        :class="{ 'is-invalid': $v.form.role_id.$error || reqResponse.errors['role_id']}"
        class="cs-select mb-2 ps__child--consume"
        v-model="form.role_id"
        :options="formData.roles"
        placeholder="Role"
        :clearable="false"
        :reduce="item => item.value"
        label="label">
        <template #footer>
          <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.role_id.required">This field is required</div>
          <div class="invalid-feedback" v-if="reqResponse.errors['role_id']">{{reqResponse.errors['role_id'][0]}}</div>
        </template>
      </v-select>
    </div>
    <div class="form-group">
      <div class="form-group">
        <input
          autocomplete="off"
          type="text"
          class="form-control"
          :class="{ 'is-invalid': $v.form.first_name.$error || reqResponse.errors['first_name']}"
          placeholder="First Name"
          v-model="form.first_name"/>
        <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.first_name.required">This field is required</div>
        <div class="invalid-feedback" v-if="reqResponse.errors['first_name']">{{reqResponse.errors['first_name'][0]}}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group">
        <input
          autocomplete="off"
          type="text"
          class="form-control"
          :class="{ 'is-invalid': $v.form.last_name.$error || reqResponse.errors['last_name']}"
          placeholder="Last Name"
          v-model="form.last_name"/>
        <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.last_name.required">This field is required</div>
        <div class="invalid-feedback" v-if="reqResponse.errors['last_name']">{{reqResponse.errors['last_name'][0]}}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group">
        <input
          autocomplete="off"
          type="text"
          class="form-control"
          :class="{ 'is-invalid': $v.form.email.$error || reqResponse.errors['email']}"
          placeholder="Email"
          v-model="form.email"/>
        <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.email.required">This field is required</div>
        <div class="invalid-feedback" v-if="reqResponse.errors['email']">{{reqResponse.errors['email'][0]}}</div>
      </div>
    </div>
    <div class="form-group" v-if="form.role_id === 1">
      <div class="form-group">
        <input
          autocomplete="off"
          type="text"
          class="form-control"
          :class="{ 'is-invalid': reqResponse.errors['grade_year']}"
          placeholder="Grad Year"
          v-model="form.grade_year"/>
        <div class="invalid-feedback" v-if="reqResponse.errors['grade_year']">{{reqResponse.errors['grade_year'][0]}}</div>
      </div>
    </div>
    <div class="form-group" v-if="form.role_id === 1">
       <div class="form-group">
        <input
          autocomplete="off"
          type="text"
          class="form-control"
          :class="{ 'is-invalid': reqResponse.errors['student_sis_id']}"
          placeholder="Student Number"
          v-model="form.student_sis_id"/>
        <div class="invalid-feedback" v-if="reqResponse.errors['student_sis_id']">{{reqResponse.errors['student_sis_id'][0]}}</div>
      </div>
    </div>
    <div class="form-group">
      <v-select
        :class="{ 'is-invalid': $v.form.status.$error || reqResponse.errors['status']}"
        class="cs-select mb-2 ps__child--consume"
        v-model="form.status"
        :options="formData.status"
        placeholder="Status"
        :clearable="false"
        :reduce="item => item.value"
        label="label">
        <template #footer>
          <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.status.required">This field is required</div>
          <div class="invalid-feedback" v-if="reqResponse.errors['status']">{{reqResponse.errors['status'][0]}}</div>
        </template>
      </v-select>
    </div>
    <div class="form-group">
        <v-select
        :class="{ 'is-invalid': $v.form.auth_type.$error || reqResponse.errors['auth_type']}"
        class="cs-select mb-2 ps__child--consume"
        v-model="form.auth_type"
        :options="formData.loginType"
        placeholder="Login Type"
        :clearable="false"
        :reduce="item => item.value"
        label="label">
        <template #footer>
          <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.auth_type.required">This field is required</div>
          <div class="invalid-feedback" v-if="reqResponse.errors['auth_type']">{{reqResponse.errors['auth_type'][0]}}</div>
        </template>
      </v-select>
    </div>

    <div class="form-group" v-if="form.auth_type === 102">
      <div class="form-group">
        <input
          autocomplete="off"
          type="text"
          class="form-control"
          :class="{ 'is-invalid': reqResponse.errors['clever_id']}"
          placeholder="Clever User Id"
          v-model="form.clever_id"/>
        <div class="invalid-feedback" v-if="reqResponse.errors['clever_id']">{{reqResponse.errors['clever_id'][0]}}</div>
      </div>
    </div>

    <div class="form-group" v-if="form.auth_type === 1">
       <div class="form-group">
        <input
          autocomplete="new-password"
          type="password"
          class="form-control"
          :class="{ 'is-invalid': reqResponse.errors['password']}"
          placeholder="Password"
          v-model="form.password"/>
        <div class="invalid-feedback" v-if="reqResponse.errors['password']">{{reqResponse.errors['password'][0]}}</div>
      </div>
    </div>

    <div class="form-group" v-if="isActiveKioskModule && form.role_id === 1">
       <div class="form-group">
        <input
          autocomplete="new-password"
          type="password"
          class="form-control"
          :class="{ 'is-invalid': reqResponse.errors['kiosk_password']}"
          placeholder="Kiosk Password"
          v-model="form.kiosk_password"/>
        <div class="invalid-feedback" v-if="reqResponse.errors['kiosk_password']">{{reqResponse.errors['kiosk_password'][0]}}</div>
      </div>
    </div>


    <div class="form-group mb-1" v-if="form.auth_type === 1">
      <CInputCheckbox :checked.sync="form.send_invite"
                      :custom="true"
                      label="Send Invite"
                      class="d-flex"/>
    </div>
    <div class="form-group">
    <CInputCheckbox
      :class="{ 'is-invalid': $v.form.prevent_archive.$error || reqResponse.errors['prevent_archive']}"
      label="Prevent Archive"
      :checked="form.prevent_archive"
      name="Prevent Archive"
      disabled
      :inline="true"
      :custom="true"
    />
    <div class="invalid-feedback d-block" v-if="reqResponse.errors['prevent_archive']">{{reqResponse.errors['prevent_archive'][0]}}</div>
  </div>

    <div v-if="isEditMode" class="d-flex justify-content-center mb-2">
      <div @click="submit()">
        <CLoadingButton :spinner="isLoading" :disabled="isLoading" :loading="isLoading"
                class="mr-2 btn bg-gradient-blue text-white">
          Update
        </CLoadingButton>
      </div>
      <div class="ml-2" @click="cancelEdit()">
        <CButton class="mr-2 btn-gradient-border">
          <span class="btn px-4"><b class="text-graident-blue">Cancel</b></span>
        </CButton>
      </div>
    </div>
    <div v-else class="text-center d-flex align-items-center justify-content-center">
      <div @click="submit(true)">
        <CLoadingButton :spinner="isLoading" :loading="isLoading"
                class="mr-2 mb-2 mt-1 btn bg-gradient-blue reverse text-white">
          Submit
        </CLoadingButton>
      </div>
      <HelpCenterButton width="18" height="18" _class="mr-2" contentKey="form_add_user"/>
    </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex';
import { validationMixin } from "vuelidate"
import { required, requiredIf } from "vuelidate/lib/validators"
import HelpCenterButton from '@/components/HelpCenterButton';

export default {
    name: 'CreateUserForm',
    components: {HelpCenterButton},
    data() {
        return {
            isLoading:false,
            form: {
                role_id: null,
                first_name: '',
                last_name: '',
                email: '',
                status: 1,
                student_sis_id: null,
                prevent_archive: true,
                clever_id: null,
                auth_type: null,
                send_invite: false,
                kiosk_password: null,
            },
            formData: {
                roles: [
                {
                    value: 2,
                    label: 'Admin'
                },
                {
                    value: 3,
                    label: 'Teacher'
                },
                {
                    value: 4,
                    label: 'Staff'
                },
                {
                    value: 1,
                    label: 'Student'
                }
                ],
                status: [
                {
                    value: 1,
                    label: 'Active'
                },
                {
                    value: 0,
                    label: 'Archive',
                }
                ],
                loginType: [
                {
                    value: 1,
                    label: 'Manual'
                },
                {
                    value: 10,
                    label: 'Google'
                },
                {
                    value: 20,
                    label: 'Microsoft'
                },
                // {
                //     value: 101,
                //     label: 'ClassLink'
                // },
                // {
                //     value: 102,
                //     label: 'Clever'
                // },
                // {
                //     value: 103,
                //     label: 'GG4L'
                // }
                ],
            },
            reqResponse: {
                type: "",
                message: "",
                errors: {}
            }
        }
    },
    mixins: [validationMixin],
    validations: {
      form: {
        role_id: {required},
        first_name: {required},
        last_name: {required},
        email: {required},
        status: {required},
        student_sis_id: {},
        prevent_archive: {},
        clever_id: {},
        auth_type: {required},
        send_invite: {},
      }
    },
    computed: {
        ...mapGetters({
            editableUser: 'users/editableUser',
            isActiveKioskModule: 'schools/isActiveKioskModule'
        }),
        isValid () { return !this.$v.form.$invalid },
        isEditMode(){
          return this.editableUser && this.editableUser.id;
        },
        isAuthTypeEditable(){
          return !this.editableUser ||
          ((this.editableUser &&
            this.editableUser.auth_type_name &&
            this.formData.loginType.filter(type => type.value == this.editableUser.auth_type).length));
        }
    },
  watch: {
    editableUser: function (user) {
      this.resetForm();
      this.resetResponseMessages();
      this.setFormByUserRecord(user);
    },
  },
  created(){
    this.cancelEdit();
  },
  destroyed() {
    this.cancelEdit();
  },
  methods: {
      submit(isCreate) {
      this.resetResponseMessages();
      if (this.isValid){
        if (!isCreate) {
          this.updateUser(this.editableUser.id);
        } else {
          this.createUser();
        }
      }else{
        this.$v.$touch();
      }
    },
    createUser() {
      this.isLoading = true;
      let form = Object.fromEntries(Object.entries(this.form).filter(([_, v]) => v != null));
      this.$store.dispatch('users/createUser', form)
        .then((response) => {
          this.isLoading = false;
          this.setSuccessResponse('Successfully created.');
          this.resetForm();
          setTimeout(() => {
            this.$emit('userCreated');
            this.resetResponseMessages();
          }, 3000);
        })
        .catch((err) => {
          this.isLoading = false;
          let response = err.response.data;
          this.setErrorResponse(response.message, response.errors);
        });
    },
    updateUser(userId) {
      this.isLoading = true;
      let data = this.form;
      this.$store.dispatch('users/updateUser', {userId, data})
        .then((response) => {
          this.isLoading = false;
          this.setSuccessResponse('Successfully updated.');
          this.resetForm();
          setTimeout(() => {
            this.resetResponseMessages();
            this.$emit('userUpdated');
            this.cancelEdit();
          }, 2500);
        })
        .catch((err) => {
          this.isLoading = false;
          let response = err.response.data;
          this.setErrorResponse(response.message, response.errors);
        });
    },
    setFormByUserRecord(user) {
      if (user) {
        this.form.role_id = user.role_id;
        this.form.first_name = user.first_name;
        this.form.last_name = user.last_name;
        this.form.email = user.email;
        this.form.status = user.status;
        this.form.auth_type = this.isAuthTypeEditable ? user.auth_type : null;
        this.form.prevent_archive = !!user.un_archive;
        this.form.clever_id = user.clever_id;
        this.form.grade_year = user.grade_year;
        this.form.send_invite = false;
      }
      if (user.student_sis_id && user.student_sis_id != "0") {
        this.form.student_sis_id = user.student_sis_id;
      }
    },
    cancelEdit() {
      this.$store.commit('users/SET_EDITABLE_USER', null);
      this.resetForm();
      this.resetResponseMessages();
    },
    resetResponseMessages() {
      this.reqResponse = {
        type: "",
        message: "",
        errors: {}
      }
    },
    resetForm() {
      this.$v.$reset();
      this.form = {
        role_id: null,
        first_name: '',
        last_name: '',
        email: '',
        status: 1,
        student_sis_id: null,
        prevent_archive: true,
        clever_id: null,
        auth_type: null,
        send_invite: false,
      };
    },
    setSuccessResponse(message){
      this.reqResponse = {type:'success', message: message ? message : 'Success!', errors: {}};
    },
    setErrorResponse(message, errors){
      this.reqResponse = {type:'danger', message: message ? message : 'Someting went wrong!', errors: errors ? errors : {}};
    },
  }
}
</script>

<style>

</style>
