<template>
    <CContainer>
      <CRow class="justify-content-center">
        <CCol md="12" class="text-left">
          <CAlert
            v-if="reqResponse.message"
            class="mt-4"
            :color="reqResponse.type"
            :show="!!reqResponse.message">
            {{reqResponse.message}}
          </CAlert>
            <CForm class="mb-2">

               <CRow>
                 <CCol sm="6">
                  <v-date-picker class="cs-date-picker"
                    :masks="{L:'MM/DD/YYYY'}"
                    placeholder="Start date"
                    v-model="$v.form.from_date.$model"
                    :min-date="today"
                    @input="onStartDateChange">
                    <template v-slot="{ inputValue, togglePopover }">
                      <div class="input-icon-field" @click="toggleDate(togglePopover)">
                        <div class="form-group">
                          <input
                            class="form-control"
                            :class="{ 'is-invalid': $v.form.from_date.$error || reqResponse.errors['from_date']}"
                            placeholder="Select start date"
                            readonly
                            :value="inputValue"/>
                          <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.from_date.required">This field is required</div>
                          <div class="invalid-feedback" v-if="reqResponse.errors['from_date']">{{reqResponse.errors['from_date'][0]}}</div>
                        </div>
                        <span class="field-icon">
                          <i class="fi flaticon-calendar mr-1"></i>
                        </span>
                      </div>
                    </template>
                  </v-date-picker>
                </CCol>
                <CCol sm="6">
                    <v-date-picker class="cs-date-picker"
                    :masks="{L:'MM/DD/YYYY'}"
                    placeholder="End date"
                    :popover="{ visibility: 'click' }"
                    v-model="$v.form.to_date.$model"
                    :min-date="form.from_date && !editablePassBlock ? form.from_date : today">
                    <template v-slot="{ inputValue, togglePopover }">
                      <div class="input-icon-field" @click="togglePopover">
                        <div class="form-group">
                          <input
                            class="form-control"
                            :class="{ 'is-invalid': $v.form.to_date.$error || reqResponse.errors['to_date']}"
                            placeholder="Select end date"
                            readonly
                            :value="inputValue"/>
                          <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.to_date.required">This field is required</div>
                          <div class="invalid-feedback" v-if="reqResponse.errors['to_date']">{{reqResponse.errors['to_date'][0]}}</div>
                        </div>
                        <span class="field-icon">
                          <i class="fi flaticon-calendar mr-1"></i>
                        </span>
                      </div>
                    </template>
                  </v-date-picker>
                </CCol>
               </CRow>

                <CRow>

                 <CCol sm="6" class="mb-3 mb-sm-0">
                   <cs-time-picker :disableSetFocus="true" :readonly="!isEditableFromDate" v-model="form.from_time" placeholder="Start Time" :classes="{ 'is-invalid': $v.form.from_time.$error || reqResponse.errors['from_time']}">
                      <template #footer>
                        <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.from_time.required">This field is required</div>
                        <div class="invalid-feedback" v-if="$v.form.$error && $v.form.from_time.required && !$v.form.from_time.minValue">Start time can not be in the past</div>
                        <div class="invalid-feedback" v-if="reqResponse.errors['from_time']">{{reqResponse.errors['from_time'][0]}}</div>
                      </template>
                    </cs-time-picker>
                </CCol>
                <CCol sm="6" class="mb-3 mb-sm-0">
                  <cs-time-picker v-model="form.to_time" placeholder="End Time" :classes="{ 'is-invalid': $v.form.to_time.$error || reqResponse.errors['to_time']}">
                    <template #footer>
                      <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.to_time.required">This field is required</div>
                      <div class="invalid-feedback" v-if="$v.form.$error && $v.form.to_time.required && !$v.form.to_time.minValue">End time must be greater than start time</div>
                      <div class="invalid-feedback" v-if="reqResponse.errors['to_time']">{{reqResponse.errors['to_time'][0]}}</div>
                    </template>
                  </cs-time-picker>
                </CCol>

                <CCol sm="12" class="mb-3">
                    <p class="mb-1"><b>Pass types, included in this blocking period</b></p>
                    <CInputCheckbox
                      label="Student Created"
                      :checked.sync="$v.form.students.$model"
                      name="Student Created"
                      :inline="true"
                      :custom="true"
                    />
                    <CInputCheckbox
                      label="Teacher Pass (Proxy Pass)"
                      :checked.sync="$v.form.proxy.$model"
                      name="Proxy Pass"
                      :inline="true"
                      :custom="true"
                    />
                    <CInputCheckbox
                      label="Appoinment Pass"
                      :checked.sync="$v.form.appointments.$model"
                      name="Appoinment Pass"
                      :inline="true"
                      :custom="true"
                    />

                    <CInputCheckbox
                      label="Kiosk (EHP Self service)"
                      :checked.sync="$v.form.kiosk.$model"
                      name="Kiosk (EHP Self service)"
                      :inline="true"
                      :custom="true"
                    />
                </CCol>
               </CRow>

                <CRow>
                    <CCol sm="12">
                      <div class="form-group">
                        <textarea
                          class="form-control"
                          :class="{ 'is-invalid': $v.form.reason.$error || reqResponse.errors['reason']}"
                          placeholder="Reason for blocking (shown to students and teachers)"
                          rows="1"
                          v-model="form.reason">
                        </textarea>
                        <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.reason.required">This field is required</div>
                        <div class="invalid-feedback" v-if="reqResponse.errors['reason']">{{reqResponse.errors['reason'][0]}}</div>
                      </div>
                    </CCol>
                    <CCol sm="12">
                        <div class="form-group">
                          <textarea
                            class="form-control"
                            :class="{ 'is-invalid': $v.form.message.$error || reqResponse.errors['message']}"
                            placeholder="Message to students who are out on pass"
                            rows="1"
                            v-model="form.message">
                          </textarea>
                          <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.message.required">This field is required</div>
                          <div class="invalid-feedback" v-if="reqResponse.errors['message']">{{reqResponse.errors['message'][0]}}</div>
                        </div>
                    </CCol>
                </CRow>

              <div class="form-group form-actions mt-4 text-center">
                <div class="d-flex align-items-center justify-content-center">
                  <div v-if="editablePassBlock && editablePassBlock.id" class="d-flex">
                    <div @click="submit(true)" >
                      <CLoadingButton :spinner="isLoading" :disabled="isLoading" :loading="isLoading" class="mr-2 px-5 py-3 btn bg-gradient-blue text-white">
                        Update
                      </CLoadingButton>
                    </div>
                    <div class="ml-2" @click="cancelEdit()" >
                      <CButton class="mr-2 btn-gradient-border">
                        <span class="btn px-4"><b class="text-graident-blue">Cancel</b></span>
                      </CButton>
                    </div>
                  </div>
                  <div v-else @click="submit()" >
                    <CLoadingButton :spinner="isLoading" :disabled="isLoading" :loading="isLoading" class="mr-2 btn px-5 py-3 bg-gradient-blue text-white">
                      Submit
                    </CLoadingButton>
                  </div>
                  <CLink v-if="!isInView" class="text-graident-blue ml-3" to="/blocking/pass-blocking">
                    <div @click="goToFullMenu()" class="d-flex align-items-center">
                      <img
                        width="18"
                        class="m-0 mr-2"
                        src="@/assets/images/icons/gradient-link.png"
                      />
                      <span class="text-graident-blue">Go to full menu</span>
                    </div>
                  </CLink>
                </div>
              </div>
            </CForm>
        </CCol>
      </CRow>
    </CContainer>
</template>

<script>
import { validationMixin } from "vuelidate"
import { required, } from "vuelidate/lib/validators"
import moment from 'moment-timezone';
import { DatePicker } from 'v-calendar'

export default {
    name: "CreatePassBlockingForm",
    props: ['isInView', 'editablePassBlock'],
    components: {'v-date-picker': DatePicker},
    data() {
        return {
            isLoading: false,
            form: {
              from_date: moment().format('MMM DD YYYY'),
              to_date: moment().format('MMM DD YYYY'),
              reason: '',
              message: '',
              from_time: moment().format('HH:mm'),
              to_time: moment().add(1, 'hour').format('HH:mm'),
              kiosk: true,
              students: true,
              proxy: true,
              appointments: true,
              isEditableFromDate: true,
            },
            reqResponse: {
              type: "",
              message: "",
              errors:{}
            }
        };
    },
    mixins: [validationMixin],
    validations: {
      form:{
        from_date: {
          required,
        },
        to_date: {
          required,
        },
        reason: {
          required,
        },
        message: {
          required,
        },
        from_time: {
          required,
          minValue: (value, model) => {return (model.from_date > moment().format('MMM DD YYYY') || value >= moment().format('HH:mm')) || !model.isEditableFromDate}
        },
        to_time: {
          required,
          minValue: (value, model) => {return model.to_date > model.from_date || value > model.from_time}
        },
        students:{},
        kiosk:{},
        appointments: {},
        proxy: {}
      }
    },
    computed: {
      isValid () { return !this.$v.form.$invalid },
      isEditableFromDate(){
        return this.editablePassBlock ? this.editablePassBlock.from_date && this.$helpers.transformDate(this.editablePassBlock.from_date, 'YYYY-MM-DD HH:mm:ss') >= this.$helpers.date().format('YYYY-MM-DD HH:mm:ss') : true;
      },
      today(){
        return moment().format('MMM DD YYYY');
      }
    },
    watch: {
      editablePassBlock: function(passBlock){
        this.resetForm();
        this.resetResponseMessages();
        this.setFormByPassRecord(passBlock)
      },
      isEditableFromDate(value){
        this.form.isEditableFromDate = value;
      }
    },
    destroyed() {
      this.cancelEdit();
    },
    methods: {
        setFormByPassRecord(passBlock){
          if(passBlock){
            this.form = {
              from_date: moment(passBlock.from_date)._d,
              to_date: moment(passBlock.to_date)._d,
              reason: passBlock.reason,
              message: passBlock.message,
              from_time: moment(passBlock.from_date).format('HH:mm'),
              to_time: moment(passBlock.to_date).format('HH:mm'),
              kiosk: !!passBlock.kiosk,
              students: !!passBlock.students,
              proxy: !!passBlock.proxy,
              appointments: !!passBlock.appointments,
            };
          }
        },
        submit(isUpdate){
          this.resetResponseMessages();
          if (this.isValid){
            let inputsData = {
              from_date: this.$helpers.currTzDateTime(this.form.from_date, this.form.from_time),
              from_time: this.$helpers.currTzDateTime(this.form.from_date, this.form.from_time),
              to_date: this.$helpers.currTzDateTime(this.form.to_date, this.form.to_time),
              to_time: this.$helpers.currTzDateTime(this.form.to_date, this.form.to_time),
              reason: this.form.reason,
              message: this.form.message,
              kiosk: this.form.kiosk,
              students: this.form.students,
              proxy: this.form.proxy,
              appointments: this.form.appointments,
            };

            if(isUpdate && this.editablePassBlock){
              this.updatePassBlock(inputsData);
            }else{
              this.createPassBlock(inputsData);
            }

        }else{
          this.$v.$touch();
        }
      },
      createPassBlock(data){
        this.isLoading = true;
            this.$store.dispatch('passBlocks/createPassBlock', data)
            .then((response) => {
              let data = response.data.data;
              if(data){
                setTimeout(() => {
                  this.$emit('createdPassBlock');
                }, 500);
              }
              this.resetForm();
              this.setSuccessResponse('Successfully created.');
              this.isLoading = false;
              setTimeout(() => {
                this.resetResponseMessages();
              }, 1000);
            })
            .catch((err) => {
              let response = err.response.data;
              this.setErrorResponse(response.message, response.errors);
              this.isLoading = false;
        });
      },
      updatePassBlock(data){
        let dataObj = {
          id: this.editablePassBlock.id,
          data,
        }
        this.isLoading = true;
            this.$store.dispatch('passBlocks/updatePassBlock', dataObj)
            .then((response) => {
              let data = response.data.data;
              if(data){
                setTimeout(() => {
                  this.$emit('createdPassBlock');
                }, 500);
              }
              this.resetForm();
              this.setSuccessResponse('Successfully updated.');
              this.isLoading = false;
              setTimeout(() => {
                this.cancelEdit();
              }, 1000);
            })
            .catch((err) => {
              let response = err.response.data;
              this.setErrorResponse(response.message, response.errors);
              this.isLoading = false;
        });
      },
      onStartDateChange() {
        this.form.to_date = this.form.to_date && moment(this.form.to_date).format('MMM DD YYYY') < moment(this.form.from_date).format('MMM DD YYYY') ? this.form.from_date : this.form.to_date;
      },
      resetForm(){
        this.$v.$reset();
        this.form = {
          from_date: moment().format('MMM DD YYYY'),
          to_date: moment().format('MMM DD YYYY'),
          reason: '',
          message: '',
          from_time: moment().format('HH:mm'),
          to_time: moment().add(1, 'hour').format('HH:mm'),
          kiosk: true,
          students: true,
          proxy: true,
          appointments: true,
        };
        this.$nextTick(() => { this.$v.$reset() })
      },
      resetResponseMessages(){
        this.reqResponse = {
          type: "",
          message: "",
          errors:{}
        }
      },
      setSuccessResponse(message){
        this.reqResponse = {type:'success', message: message ? message : 'Success!', errors: {}};
      },
      setErrorResponse(message, errors){
        this.reqResponse = {type:'danger', message: message ? message : 'Someting went wrong!', errors: errors ? errors : {}};
      },
      cancelEdit(){
        this.$store.commit('passBlocks/SET_EDITABLE_PASS_BLOCK', null);
        this.resetForm();
        this.resetResponseMessages();
      },
      refreshForm(){
        this.resetForm();
        this.resetResponseMessages();
      },
      goToFullMenu(){
        this.$emit('closeModal');
      },
      toggleDate(toggle){
        if(this.isEditableFromDate){
          toggle();
        }
      }
    }

}
</script>
