<template>
    <CContainer>
      <CRow class="justify-content-center">
        <CCol md="12" class="text-left">
          <CAlert
            v-if="reqResponse.message"
            class="mt-4"
            :color="reqResponse.type"
            :show="!!reqResponse.message"
            >
            {{reqResponse.message}}
          </CAlert>
            <CForm class="mb-2">
              <CRow>
                 <CCol sm="12" class="pr-1">
                   <p class="mb-1">Set limit:</p>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        :class="{ 'is-invalid': reqResponse.errors['limit']}"
                        placeholder="No limit"
                        :disabled="!isFormEditable"
                        v-model="form.limit"
                        @input="setLimit($event.target.value)"/>
                      <div class="invalid-feedback" v-if="reqResponse.errors['limit']">{{reqResponse.errors['limit'][0]}}</div>
                    </div>
                </CCol>
               </CRow>

                <CRow>
                  <CCol sm="12" class="mb-3">
                      <p class="mt-1 mb-4">Apply limit for:</p>
                      <CInputCheckbox
                        class="mb-2"
                        label="STU Passes initiated by the student"
                        :checked.sync="form.student_pass"
                        :custom="true"
                        :disabled="!isFormEditable"
                      />
                      <CInputCheckbox
                        class="mb-2"
                        label="TCH (PRX) Passes"
                        :checked.sync="form.proxy_pass"
                        :custom="true"
                        :disabled="!isFormEditable"
                      />

                      <CInputRadioGroup
                          v-show="form.proxy_pass"
                          class="pl-2 mb-2"
                          :options="radiosOptions"
                          :checked.sync="form.teacher_override"
                          :custom="true"
                          :disabled="!isFormEditable"
                      />

                      <CInputCheckbox
                        label="KSK Passes students initiate at a Kiosk."
                        :checked.sync="form.kiosk_pass"
                        :custom="true"
                        :disabled="!isFormEditable"
                      />
                  </CCol>
               </CRow>
               <div clas="d-flex"><div><strong>Notes:</strong></div> <div>APT passes are not affected by this limit.<br/> A "-" allows for unlimited passes.</div></div>


              <div class="form-group form-actions mt-4 text-center">
                <div class="d-flex align-items-center justify-content-center">
                  <div @click="submit()" >
                    <CLoadingButton :spinner="isLoading" :disabled="isLoading || !isFormEditable" :loading="isLoading" class="mr-2 px-5 py-3 btn bg-gradient-blue text-white">
                      Submit
                    </CLoadingButton>
                  </div>
                  <CLink :disabled="!isFormEditable" v-if="!isInView && userRole !== 'teacher'" class="text-graident-blue ml-3" to="/blocking/limit-active-pass">
                    <div @click="goToFullMenu()" class="d-flex align-items-center">
                      <img
                        width="18"
                        class="m-0 mr-2"
                        src="@/assets/images/icons/gradient-link.png"
                      />
                      <span class="text-graident-blue">Go to full menu</span>
                    </div>
                  </CLink>
                </div>
              </div>
            </CForm>
        </CCol>
      </CRow>
    </CContainer>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    name: "CreateLimitActivePassForm",
    props: ['isInView'],
    data() {
        return {
            isLoading: false,
            form: {
              limit: '',
              student_pass: false,
              proxy_pass: false,
              kiosk_pass: false,
              teacher_override: '0',
            },
            reqResponse: {
              type: "",
              message: "",
              errors:{}
            },
            radiosOptions:[
                {value: '1', label: "Allow teachers to override the limit (they will get an alert first)", props: {disabled: false}},
                {value: '0', label: "Don't allow teachers to override the limit", props: {disabled: false}}
            ]
        };
    },
    computed: {
      ...mapGetters({
        activePassLimits: 'activePass/activePassLimits',
        userRole: 'authentication/getUserRole'
      }),
      isFormEditable(){
        return this.userRole === 'admin';
      }
    },
    created() {
      if(!this.activePassLimits){
        this.$store.dispatch('activePass/getActivePassLimits')
        .then((response) => {
          let data = response.data.data;
          this.setFormData(data);
        });
      }else{
        this.setFormData(this.activePassLimits);
      }
      this.radiosOptions.map(item => item.props.disabled = !this.isFormEditable)
    },
     watch: {
      activePassLimits: function(val) {
        this.setFormData(val);
      }
    },
    methods: {
        setFormData(data){
          if(data && Object.keys(data).length){
            this.$emit('setActivePassLimit', data.limit);
            this.form = {
              limit: data.limit === '' ? null : data.limit,
              student_pass: !!data.student_pass,
              proxy_pass: !!data.proxy_pass,
              kiosk_pass: !!data.kiosk_pass,
              teacher_override: data.teacher_override.toString(),
            }
          }else{
            this.resetForm();
          }
        },
        resetForm(){
          this.form = {
            limit: null,
            student_pass: false,
            proxy_pass: false,
            kiosk_pass: false,
            teacher_override: '0',
          };
        },
        submit(){
          if(this.isFormEditable){
            this.resetResponseMessages();
              let inputsData = {
                limit: this.form.limit === '' ? null :this.form.limit,
                student_pass:  this.form.student_pass,
                proxy_pass:  this.form.proxy_pass,
                kiosk_pass:  this.form.kiosk_pass,
                teacher_override:  this.form.teacher_override,
              };
              this.isLoading = true;
              this.$store.dispatch('activePass/createActivePassLimit', inputsData)
              .then((response) => {
                let data = response.data.data;
                this.setFormData(data);
                this.setSuccessResponse('Successfully updated.');
                setTimeout(() => {
                  this.resetResponseMessages();
                  this.$emit('limitActivePassCreated');
                }, 1000);
                this.isLoading = false;
              })
              .catch((err) => {
                let response = err.response.data;
                this.setErrorResponse(response.message, response.errors);
                this.isLoading = false;
              });
        }
      },
      resetResponseMessages(){
        this.reqResponse = {
          type: "",
          message: "",
          errors:{}
        }
      },
      setSuccessResponse(message){
        this.reqResponse = {type:'success', message: message ? message : 'Success!', errors: {}};
      },
      setErrorResponse(message, errors){
        this.reqResponse = {type:'danger', message: message ? message : 'Someting went wrong!', errors: errors ? errors : {}};
      },
      refreshForm(){
        this.resetForm();
        if(this.activePassLimits){
          this.setFormData(this.activePassLimits);
        }
        this.resetResponseMessages();
      },
      goToFullMenu(){
        this.$emit('closeModal');
      },
      setLimit(value){
        var numbers = /^[0-9]+$/;
        if(value) {
          if(value.match(numbers)){
            this.form.limit = parseInt(value) > 0 ? parseInt(value) : 0;
          }else{
            this.form.limit = value === '-' || value === '' ? value : ''; 
          }
        }
      }
    }

}
</script>
