<template>
  <div>
    <span class="text-black-50 text-value-lg mb-2 d-inline-block">Departing From:</span>
    <LazyLoadSelect :classes="[{ 'is-invalid': $v.form.from.$error || responseMessage.errors['from_id']}]" :isMultiple="false" v-model="form.from"
      :selected="form.from" @change="(value)=>{form.from = value}" type="combined" placeholder="Teacher/Location">
      <template #footer>
        <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.from.required">This field is
          required</div>
        <div class="invalid-feedback" v-if="responseMessage.errors['from_id']">{{responseMessage.errors['from_id'][0]}}</div>
      </template>
    </LazyLoadSelect>

    <FavoriteCarousel :selected="$v.form.from.$model" :isEditable="true"
      :action="(elem)=>{form.from = elem;}" helpCenterKey="to_add_favorite_teacher_txt" :isvalid="checkIfValid('from')" class="mb-3" section="departing"
      :key="'departing'" />
    <hr />
    <span class="text-black-50 text-value-lg mb-2 d-inline-block">Destination:</span>
    <LazyLoadSelect :classes="[{ 'is-invalid': $v.form.to.$error || responseMessage.errors['to_id']}]" :isMultiple="false" v-model="form.to"
      :selected="form.to" type="combined" placeholder="Teacher/Location"
      @change="(value)=>{form.to = value}">
      <template #footer>
        <div class="invalid-feedback d-flex flex-wrap font-weight-bold" v-if="form.to && form.to.value && form.to.value.unavailability">
          This adult is unavailable until
          <span class="mx-1" v-html="$helpers.getHTMLDateTime(form.to.value.unavailability.to_date, 'MMMM D, YYYY',  'h:mm A') + '.'"></span>
          <span v-if="form.to.value.unavailability.comment">Note: {{form.to.value.unavailability.comment}}</span>
        </div>
        <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.to.required">This field is
          required</div>
        <div class="invalid-feedback" v-if="!$v.form.to.notSameAsFrom && $v.form.to.required  ">
          Start point and destination point should not be the same.
        </div>
        <div class="invalid-feedback" v-if="responseMessage.errors['to_id']">{{responseMessage.errors['to_id'][0]}}</div>
      </template>
    </LazyLoadSelect>


    <FavoriteCarousel :selected="$v.form.to.$model" :isEditable="true" :showUnavailables="true"
      :action="(elem)=>{form.to = elem;}" :isvalid="checkIfValid('to') || $v.form.to.capacityLimit" section="destination"
      :key="'destination'" />

      <CAlert v-if="form.to.hasOwnProperty('capacity') && form.to.capacity && form.to.capacity.capacity_reached" class="mt-0" color="danger"
        :show="true">
        Maximum capacity of the location has been reached. Please try again when a student returns.
      </CAlert>

    <CTextarea
      class="mt-3"
      :placeholder="form.to.value.comment_type=='Optional'?'Reason for pass (optional)':'Reason for pass (required)'"
      rows="5" v-if="form && form.to && form.to.value && form.to.value.comment_type!='Hidden'"

      :isValid="checkIfValid('reason') && !responseMessage.errors['comment']" :value.sync="$v.form.reason.$model" />
      <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.reason.mandatory">Reason for pass is required</div>
      <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.reason.maxLengthCustom">Max 255 characters</div>
      <div class="invalid-feedback" v-if="responseMessage.errors['comment']">{{responseMessage.errors['comment'][0]}}</div>


      <CAlert v-if="responseMessage.message" class="mt-3" :color="responseMessage.type"
        :show="!!responseMessage.message">
        {{ responseMessage.message }}
      </CAlert>

    <div class="form-group form-actions mt-2 text-center">
      <div class="d-inline" @click="submit()">
        <CLoadingButton :spinner="isLoading" :disabled="isLoading" :loading="isLoading"
          class="mt-2 btn bg-gradient-blue text-white">
          Submit
        </CLoadingButton>
      </div>
    </div>
  </div>
</template>

<script>
  import {
    validationMixin
  } from "vuelidate";
  import {
    required,
  } from "vuelidate/lib/validators";
  import FavoriteCarousel from "./FavoriteCarousel.vue";
  import LazyLoadSelect from '@/components/LazyLoadSelect.vue';

  export default {
    name: "CreatePassForm",
    components: {
      FavoriteCarousel,
      LazyLoadSelect
    },
    data() {
      return {
        isLoading: false,
        form: {
          from: [],
          to: [],
          reason: null,
        },
        responseMessage: {
          type: "",
          message: "",
          errors: {}
        },
      };
    },
    mixins: [validationMixin],
    validations: {
      form: {
        from: {
          required,
        },
        to: {
          required,
          available:(value, vm) => {if((vm.to && vm.to.value) && !(vm.to.value.unavailability)){return true} return false;},
          capacityLimit:(value, vm) => {if((vm.to && vm.to.value) && !(vm.to.hasOwnProperty('capacity') && vm.to.capacity && vm.to.capacity.capacity_reached)){return true} return false;},
          notSameAsFrom: (value, vm) => {
            if (!(vm.from && vm.from.value) && (vm.to && vm.to.value)) {
              return true;
            }
            if (!(vm.from && vm.from.value) || !(vm.to && vm.to.value)) {
              return false;
            }
            if (vm.from.value.type != vm.to.value.type) {
              return true;
            }

            return (vm.from.value.id != vm.to.value.id);
          },
        },
        reason: {
          mandatory: (value, vm) => {
            if (vm.to && vm.to.value && vm.to.value.comment_type && vm.to.value.comment_type == 'Mandatory') {
              if (vm.reason && vm.reason != '' && vm.reason != ' ') {
                return true;
              } else {
                return false;
              }
            } else {
              return true;
            }
          },
          maxLengthCustom: (value, vm) => {
            if (!vm.reason) {
              return true
            } else {
              return vm.reason != '' && vm.reason.length <= 255;
            }

          }
        },
      },
    },
    computed: {
      isFormValid() {
        return !this.$v.form.$invalid;
      },
    },
    methods: {
      checkIfValid(fieldName) {
        const field = this.$v.form[fieldName];
        if (!field.$dirty) {
          return null;
        }
        return !(field.$invalid || field.$model === "");
      },
      submit() {
        this.resetResponseMessage();
        if (this.isFormValid) {
          let pass = {
            from_id: this.form.from.value.id,
            from_type: this.form.from.value.type,
            to_id: this.form.to.value.id,
            to_type: this.form.to.value.type,
            comment: this.form.reason,
          };
          this.isLoading = true;
          this.$store
            .dispatch("passes/createPass", pass)
            .then((response) => {
              this.responseMessage = {
                type: "success",
                message: "Successfully created.",
              };

              setTimeout(() => {
                this.$router.push('/passes/activepass');
                this.isLoading = false;
              }, 500);
            })
            .catch((err) => {
              this.isLoading = false;
              let response = err.response.data;
              this.setErrorResponse(response.message, response.errors);
            });
        } else {
          this.$v.$touch();
        }
      },
      resetResponseMessage(){
        this.responseMessage = {
          type: "",
          message: "",
          errors: {}
        };
      },
      setErrorResponse(message, errors){
        this.responseMessage = {type:'danger', message: message && message !== 'The given data was invalid.' ? message : '', errors: errors ? errors : {}};
      },
    },
  };

</script>

<style>
</style>
