<template>
    <CContainer>
      <CRow class="justify-content-center">
        <CCol md="12" class="text-left">
          <CAlert
            v-if="reqResponse.message"
            class="mt-4"
            :color="reqResponse.type"
            :show="!!reqResponse.message"
            closeButton
            >
            {{reqResponse.message}}
          </CAlert>
            <CForm class="mb-2">
              <v-select
                :class="{ 'is-invalid': $v.form.limit_for.$error || reqResponse.errors['limit_for']}"
                class="cs-select mb-3 ps__child--consume"
                v-model="form.limit_for"
                :options="locationAvailabilityOptions"
                placeholder="Location Availability for"
                :clearable="false"
                @input="resetOptinalInputs"
                label="label"
                :reduce="item => item.value"
                >
                <template #footer>
                  <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.limit_for.required">This field is required</div>
                  <div class="invalid-feedback" v-if="reqResponse.errors['limit_for']">{{reqResponse.errors['limit_for'][0]}}</div>
                </template>
              </v-select>

              <div v-if="form.limit_for === 'student'">
                <LazyLoadSelect
                  :classes="[{ 'is-invalid': $v.form.selected_student_ids.$error || reqResponse.errors['selected_student_ids']}, 'mb-3']"
                  :isMultiple="true"
                  @change="(value) => {form.selected_student_ids = value}"
                  :selected="form.selected_student_ids"
                  type="student"
                  placeholder="Select students">
                  <template #footer>
                    <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.selected_student_ids.required">This field is required</div>
                    <div class="invalid-feedback" v-if="reqResponse.errors['selected_student_ids']">{{reqResponse.errors['selected_student_ids'][0]}}</div>
                  </template>
                </LazyLoadSelect>
              </div>

              <div v-if="gradeYears && form.limit_for === 'gradeyear'">
                <v-select
                  :class="{ 'is-invalid': $v.form.grade_years.$error || reqResponse.errors['grade_years']}"
                  class="cs-select mb-3 ps__child--consume"
                  multiple
                  :clearSearchOnBlur="() => {return true}"
                  v-model="form.grade_years"
                  :options="gradeYears"
                  placeholder="Select grad years"
                  :clearable="false"
                  >
                  <template #footer>
                    <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.grade_years.required">This field is required</div>
                    <div class="invalid-feedback" v-if="reqResponse.errors['grade_years']">{{reqResponse.errors['grade_years'][0]}}</div>
                  </template>
                </v-select>
              </div>
              <div class="mb-3" v-if="form.limit_for === 'csv'">
                <div class="d-flex align-items-start">
                  <div class="form-group mr-3 mb-0">
                    <div class="cs-file-input">
                      <div class="upload-btn"><i class="fi flaticon-upload mr-1"></i> UPLOAD CSV</div>
                      <input
                        type="file"
                        class="form-control"
                        :class="{ 'is-invalid': $v.form.csv_file.$error || reqResponse.errors['csv_file']}"
                        @change="onFileUpload"/>
                        <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.csv_file.required">This field is required</div>
                        <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.csv_file.fileValidator">The csv file must be a file of type: csv, txt.</div>
                        <div class="invalid-feedback" v-if="reqResponse.errors['csv_file']">{{reqResponse.errors['csv_file'][0]}}</div>
                    </div>
                  </div>


                  <a href="/csv-samples/passLimitSample.csv" class="download-btn">
                    <i class="fi flaticon-download mr-1"></i> SAMPLE CSV
                  </a>
                </div>
                <p v-if="form.csv_file" class="mb-0 mt-2"><b>{{form.csv_file.name ? form.csv_file.name : ''}}</b></p>
              </div>

              <LazyLoadSelect
                :classes="[{ 'is-invalid': $v.form.room.$error || reqResponse.errors['room_id']}, 'mb-3']"
                :isMultiple="false"
                @change="(value) => {form.room = value}"
                :selected="form.room"
                type="locations"
                placeholder="Location">
                <template #footer>
                  <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.room.required">This field is required</div>
                  <div class="invalid-feedback" v-if="reqResponse.errors['room_id']">{{reqResponse.errors['room_id'][0]}}</div>
                </template>
              </LazyLoadSelect>

              <CRow>
                 <CCol sm="6">
                  <v-date-picker class="cs-date-picker"
                    :masks="{L:'MM/DD/YYYY'}"
                    placeholder="Start date"
                    v-model="$v.form.start_date.$model"
                    :min-date="today"
                    :popover="{ visibility: 'click' }"
                    @input="onStartDateChange">
                    <template v-slot="{ inputValue, togglePopover }">
                      <div class="input-icon-field" @click="togglePopover">
                        <div class="form-group">
                          <input
                            class="form-control"
                            :class="{ 'is-invalid': $v.form.start_date.$error || reqResponse.errors['from_date']}"
                            placeholder="Select start date"
                            readonly
                            :value="inputValue"/>
                          <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.start_date.required">This field is required</div>
                          <div class="invalid-feedback" v-if="reqResponse.errors['from_date']">{{reqResponse.errors['from_date'][0]}}</div>
                        </div>
                        <span class="field-icon">
                          <i class="fi flaticon-calendar mr-1"></i>
                        </span>
                      </div>
                    </template>
                  </v-date-picker>
                </CCol>
                <CCol sm="6" class="pl-3 pl-sm-1">
                    <v-date-picker class="cs-date-picker"
                    :masks="{L:'MM/DD/YYYY'}"
                    placeholder="End date"
                    :popover="{ visibility: 'click' }"
                    v-model="$v.form.end_date.$model"
                    :min-date="form.start_date ? form.start_date : today">
                    <template v-slot="{ inputValue, togglePopover }">
                      <div class="input-icon-field" @click="togglePopover">
                        <div class="form-group">
                          <input
                            class="form-control"
                            :class="{ 'is-invalid': $v.form.end_date.$error || reqResponse.errors['to_date']}"
                            placeholder="Select end date"
                            readonly
                            :value="inputValue"/>
                          <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.end_date.required">This field is required</div>
                          <div class="invalid-feedback" v-if="reqResponse.errors['to_date']">{{reqResponse.errors['to_date'][0]}}</div>
                        </div>
                        <span class="field-icon">
                          <i class="fi flaticon-calendar mr-1"></i>
                        </span>
                      </div>
                    </template>
                  </v-date-picker>
                </CCol>
               </CRow>

               <v-select
                :class="{ 'is-invalid': $v.form.limit_type.$error || reqResponse.errors['type']}"
                class="cs-select mb-3 ps__child--consume"
                v-model="form.limit_type"
                :options="limitationsTypes"
                placeholder="Choose Limitation Type"
                :clearable="false"
                label="label"
                :reduce="item => item.value"
                >
                <template #option="{ label, icon }">
                  <div class="d-flex align-items-center">
                    <span class="mr-2">{{ label }}</span>
                    <i v-if="icon" :class="icon"></i>
                  </div>
                </template>
                <template #selected-option="{ label, icon }">
                  <div class="d-flex align-items-center">
                    <span class="mr-2">{{ label }}</span>
                    <i v-if="icon" :class="icon"></i>
                  </div>
                </template>
                <template #footer>
                  <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.limit_type.required">This field is required</div>
                  <div class="invalid-feedback" v-if="reqResponse.errors['type']">{{reqResponse.errors['type'][0]}}</div>
                </template>
              </v-select>

              <div class="form-group form-actions mt-4 text-center">
                <div class="d-flex align-items-center justify-content-center">
                  <div @click="submit()" >
                    <CLoadingButton :spinner="isLoading" :disabled="isLoading" :loading="isLoading" class="mr-2 btn px-5 py-3 bg-gradient-blue text-white">
                      Submit
                    </CLoadingButton>
                  </div>
                  <CLink v-if="!isInView" class="text-graident-blue ml-3" to="/blocking/limit-location-availability">
                    <div @click="goToFullMenu()" class="d-flex align-items-center">
                      <img
                        width="18"
                        class="m-0 mr-2"
                        src="@/assets/images/icons/gradient-link.png"
                      />
                      <span class="text-graident-blue">Go to full menu</span>
                    </div>
                  </CLink>
                </div>
              </div>
            </CForm>
        </CCol>
      </CRow>
    </CContainer>
</template>

<script>
import { validationMixin } from "vuelidate"
import { required, requiredIf, helpers } from "vuelidate/lib/validators"
import vSelect from 'vue-select'
import { DatePicker } from 'v-calendar'
import LazyLoadSelect from '@/components/LazyLoadSelect.vue';
const fileValidator = (value) => !helpers.req(value) || value.type == 'text/csv' || value.type == 'text/plain' || value.type == 'application/vnd.ms-excel'; //"text/plain"

import 'vue-select/dist/vue-select.css'
import moment from 'moment-timezone';
export default {
    name: "CreateLimitLocationMaxCapForm",
    props:['isInView'],
    components: {vSelect, 'v-date-picker': DatePicker, LazyLoadSelect},
    data() {
        return {
            isLoading: false,
            locationAvailabilityOptions:[{value:'student', label: 'Selected Students'},{value:'gradeyear', label: 'Grad Year Students'} ,{value:'csv', label: 'CSV Student List'}],
            limitationsTypes: [{value:'access_denied', label: 'Access Denied', icon: 'flaticon-forbidden text-red'}, {value: 'members_only', label: 'Members Only', icon: 'flaticon-profile-user text-accent-blue-dark'}],
            form: {
              limit_for: null,
              room: null,
              csv_file: null,
              grade_years: null,
              selected_student_ids: null,
              start_date: null,
              end_date: null,
              limit_type: null,
            },
            reqResponse: {
              type: "",
              message: "",
              errors:{}
            }
        };
    },
    mixins: [validationMixin],
    validations: {
      form:{
          room: {
            required,
          },
          limit_for: {
            required,
          },
          start_date: {
            required,
          },
          end_date: {
            required,
          },
          limit_type: {
            required,
          },
          selected_student_ids:{
            required: requiredIf((model) => {return model.limit_for && model.limit_for === 'student'})
          },
          grade_years:{
            required: requiredIf((model) => {return model.limit_for && model.limit_for === 'gradeyear'})
          },
          csv_file: {
            required: requiredIf((model) => {return model.limit_for && model.limit_for === 'csv'}),
            fileValidator
          }
      }
    },
    computed: {
      isValid () { return !this.$v.form.$invalid },
      gradeYears(){
        let today = moment().year();
        return [today, moment(today, 'yyyy').add(1, 'years').format('yyyy'), moment(today, 'yyyy').add(2, 'years').format('yyyy')]
      },
      today(){
        return moment().format('MMM DD YYYY');
      }
    },
    methods: {
        submit(){
          this.resetResponseMessages();
          if (this.isValid){
            let formData = null;
            let inputsData = {
              room_id: this.form.room ? this.form.room.value.id : this.form.room,
              limit_for: this.form.limit_for,
              csv_file: this.form.csv_file,
              from_date: this.$helpers.currTzDate(this.form.start_date),
              to_date: this.$helpers.currTzDate(this.form.end_date),
              type: this.form.limit_type
            };
            if(this.form.selected_student_ids){
              inputsData.selected_student_ids = JSON.stringify(this.form.selected_student_ids.map(el => el.value.id));
            }
            if(this.form.grade_years){
              inputsData.grade_years = JSON.stringify(this.form.grade_years);
            }
            if(this.form.limit_for === 'csv'){
              formData = new FormData();
              for (const key in inputsData) {
                if (Object.hasOwnProperty.call(inputsData, key)) {
                  const element = inputsData[key];
                  formData.append(key, element);
                }
              }
            }
            this.isLoading = true;
            this.$store.dispatch('rooms/createRoomRestriction', formData ? formData : inputsData)
            .then((response) => {
              // let data = response.data.data;
              // if(data){
              //   this.$store.commit('rooms/PUSH_LOCATION_RESTRICTION', data);
              // }
              this.resetForm();
              this.setSuccessResponse('Successfully created.');
              this.isLoading = false;
              setTimeout(() => {
                this.$emit('createLocationRestriction');
                this.resetResponseMessages();
              }, 1200);
            })
            .catch((err) => {
              let response = err.response.data;
              this.setErrorResponse(response.message, response.errors);
              this.isLoading = false;
            });
        }else{
          this.$v.$touch();
        }
      },
      resetOptinalInputs(){
        this.form.csv_file = null;
        this.form.grade_years = null;
        this.form.selected_student_ids = null;
      },
      onFileUpload(event){
        let files = event.target.files;
        if(files && files.length){
          this.form.csv_file = files[0];
        }
        event.target.value = "";
      },
      onStartDateChange() {
        this.form.end_date = this.form.end_date && this.form.end_date < this.form.start_date ? this.form.start_date : this.form.end_date;
      },
      resetForm(){
        this.$v.$reset();
        this.form = {
          limit_for: null,
          room: null,
          csv_file: null,
          grade_years: null,
          selected_student_ids: null,
          start_date: null,
          end_date: null,
          limit_type: null,
        };
      },
      resetResponseMessages(){
        this.reqResponse = {
          type: "",
          message: "",
          errors:{}
        }
      },
      setSuccessResponse(message){
        this.reqResponse = {type:'success', message: message ? message : 'Success!', errors: {}};
      },
      setErrorResponse(message, errors){
        this.reqResponse = {type:'danger', message: message ? message : 'Someting went wrong!', errors: errors ? errors : {}};
      },
      refreshForm(){
        this.resetForm();
        this.resetResponseMessages();
      },
      goToFullMenu(){
        this.$emit('closeModal');
      }
    }

}
</script>
