<template>
    <CContainer>
      <CRow class="justify-content-center">
        <CCol md="12" class="text-left">
          <CAlert
            v-if="reqResponse.message"
            class="mt-4"
            :color="reqResponse.type"
            :show="!!reqResponse.message">
            {{reqResponse.message}}
          </CAlert>
            <div class="mb-2">
              <LazyLoadSelect
                :classes="[{ 'is-invalid': $v.form.first_user.$error || reqResponse.errors['first_user_id']}, 'mb-3']"
                :isMultiple="false"
                @change="(value) => {form.first_user = value}"
                :selected="form.first_user"
                type="student"
                placeholder="Student A">
                <template #footer>
                  <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.first_user.required">This field is required</div>
                  <div class="invalid-feedback" v-if="reqResponse.errors['first_user_id']">{{reqResponse.errors['first_user_id'][0]}}</div>
                </template>
              </LazyLoadSelect>

              <LazyLoadSelect
                :classes="[{ 'is-invalid': $v.form.second_user.$error || reqResponse.errors['second_user_id']}, 'mb-3']"
                :isMultiple="false"
                @change="(value) => {form.second_user = value}"
                :selected="form.second_user"
                type="student"
                placeholder="Student B">
                <template #footer>
                  <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.second_user.required">This field is required</div>
                  <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.second_user.notSameAsFrom">Student B must be different</div>
                  <div class="invalid-feedback" v-if="reqResponse.errors['second_user_id']">{{reqResponse.errors['second_user_id'][0]}}</div>
                </template>
              </LazyLoadSelect>

              <div class="form-group">
                <textarea
                  class="form-control"
                  :class="{ 'is-invalid': $v.form.message.$error || reqResponse.errors['message']}"
                  placeholder="Admin only note"
                  rows="5"
                  v-model="form.message">
                </textarea>
                <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.message.required">This field is required</div>
                <div class="invalid-feedback" v-if="reqResponse.errors['message']">{{reqResponse.errors['message'][0]}}</div>
              </div>

              <div class="form-group form-actions mt-4 text-center">
                <div class="d-flex align-items-center justify-content-center">
                  <div @click="submit()" >
                    <CLoadingButton :spinner="isLoading" :disabled="isLoading" :loading="isLoading" class="mr-2 px-5 py-3 btn bg-gradient-blue text-white">
                      Submit
                    </CLoadingButton>
                  </div>
                  <CLink v-if="!isInView" class="text-graident-blue ml-3" to="/blocking/ab-polarity">
                    <div @click="goToFullMenu()" class="d-flex align-items-center">
                      <img
                        width="18"
                        class="m-0 mr-2"
                        src="@/assets/images/icons/gradient-link.png"
                      />
                      <span class="text-graident-blue">Go to full menu</span>
                    </div>
                  </CLink>
                </div>
              </div>
            </div>
        </CCol>
      </CRow>
    </CContainer>
</template>

<script>
import { validationMixin } from "vuelidate"
import { required, sameAs, not } from "vuelidate/lib/validators"
import LazyLoadSelect from '@/components/LazyLoadSelect.vue';

export default {
    name: "CreateABPolarityForm",
    props:['isInView'],
    components: {LazyLoadSelect},
    data() {
        return {
            isLoading: false,
            form: {
              first_user: [],
              second_user: [],
              message: "",
            },
            reqResponse: {
              type: "",
              message: "",
              errors:{}
            }
        };
    },
    mixins: [validationMixin],
    validations: {
      form:{
          first_user: {
            required,
          },
          second_user: {
            required,
            notSameAsFrom: not(sameAs('first_user')),
          },
          message:{
          },
      }
    },
    computed: {
      isValid () { return !this.$v.form.$invalid },
    },
    methods: {
        checkIfValid (fieldName) {
          const field = this.$v.form[fieldName];
          if (!field.$dirty) {
            return null;
          }
          return !(field.$invalid || field.$model === '' || this.reqResponse.errors[fieldName]);
        },
        submit(){
          this.resetResponseMessages();
          if (this.isValid){
            let polarity = {
              first_user_id: this.form.first_user ? this.form.first_user.value.id : this.form.first_user,
              second_user_id: this.form.second_user ? this.form.second_user.value.id : this.form.second_user,
              status: false,
              message: this.form.message,
            };
            this.isLoading = true;
            this.$store.dispatch('polarities/createPolarity', polarity)
            .then((response) => {
              this.resetForm();
              this.setSuccessResponse('Successfully created.');
              this.isLoading = false;
              setTimeout(() => {
                this.resetResponseMessages();
                this.$emit('createPolarity');
              }, 1000);
            })
            .catch((err) => {
              let response = err.response.data;
              this.setErrorResponse(response.message, response.errors);
              this.isLoading = false;
            });
          }else{
            this.$v.$touch();
          }
        },
      resetForm(){
        this.$v.$reset();
        this.form = {
          first_user: [],
          second_user: [],
          message: "",
        };
      },
      resetResponseMessages(){
        this.reqResponse = {
          type: "",
          message: "",
          errors:{}
        }
      },
      setSuccessResponse(message){
        this.reqResponse = {type:'success', message: message ? message : 'Success!', errors: {}};
      },
      setErrorResponse(message, errors){
        this.reqResponse = {type:'danger', message: message ? message : 'Someting went wrong!', errors: errors ? errors : {}};
      },
      refreshForm(){
        this.resetForm();
        this.resetResponseMessages();
      },
      goToFullMenu(){
        this.$emit('closeModal');
      }
    }

}
</script>