<template>
    <CContainer :class="{'update-limit-location-maxcap' : isDashboardView}">
      <CRow class="justify-content-center">
        <CCol md="12" class="text-left">
          <CAlert
            v-if="reqResponse.message"
            class="mt-4"
            :color="reqResponse.type"
            :show="!!reqResponse.message">
            {{reqResponse.message}}
          </CAlert>
            <div class="mb-2" :class="{'row px-3' : isInView}">
              <div :class="{'col-md-6 pl-3 pl-md-0' : isInView}">
                <div v-if="activeRoom && activeRoom.room && isDashboardView" class="form-group">
                  <input
                    type="text"
                    readonly
                    class="form-control"
                    placeholder="Limit"
                    :value="activeRoom.room.name"/>
                </div>
                <LazyLoadSelect
                  v-else
                  ref="RoomsLazyLoadSelect"
                  :classes="[{ 'is-invalid': $v.form.room.$error || reqResponse.errors['room_id']}, 'mb-3']"
                  :isMultiple="false"
                  @change="(value) => {form.room = value}"
                  :selected="form.room"
                  :selectable="(option) => !option.capacity"
                  type="locations"
                  placeholder="Select Location">
                  <template #footer>
                    <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.room.required">This field is required</div>
                    <div class="invalid-feedback" v-if="reqResponse.errors['room_id']">{{reqResponse.errors['room_id'][0]}}</div>
                  </template>
                </LazyLoadSelect>
              </div>
              <div :class="{'col-md-6 pr-3 pr-md-0' : isInView}">
                <div class="form-group mb-2">
                  <div class="cs-placeholder-field">
                    <input
                      type="text"
                      class="form-control mb-0"
                      :class="{ 'is-invalid': $v.form.limit.$error || reqResponse.errors['limit']}"
                      placeholder="Limit"
                      v-model="form.limit"
                      @keypress="validateLimitInput"
                      @keyup.enter.prevent="submit()"/>
                  </div>
                  <div class="invalid-feedback d-block" v-if="$v.form.$error && !$v.form.limit.required">The limit must a number or a "-" dash (where a "-" means unlimited).</div>
                  <div class="invalid-feedback d-block" v-if="reqResponse.errors['limit']">{{reqResponse.errors['limit'][0]}}</div>
                </div>
                 <p class="mt-0">A "-" dash indicates unlimited</p>
              </div>
            </div>
            <div class="form-group form-actions mt-4 text-center">
                <div class="d-flex align-items-center justify-content-center">
                  <div v-if="activeRoom" class="d-flex">
                    <div @click="submit(true)" >
                      <CLoadingButton :spinner="isLoading" :disabled="isLoading" :loading="isLoading" class="mr-2 px-5 py-3 btn bg-gradient-blue text-white">
                        Update
                      </CLoadingButton>
                    </div>
                    <div v-show="!isDashboardView" class="ml-2" @click="cancelEdit()" >
                      <CButton class="mr-2 btn-gradient-border">
                        <span class="btn px-4"><b class="text-graident-blue">Cancel</b></span>
                      </CButton>
                    </div>
                  </div>
                  <div v-else @click="submit()" class="d-flex">
                    <CLoadingButton :spinner="isLoading" :disabled="isLoading" :loading="isLoading" class="mr-2 btn px-5 py-3 bg-gradient-blue text-white">
                      Submit
                    </CLoadingButton>
                  </div>
                  <CLink v-if="!isInView && !activeRoom" class="text-graident-blue ml-3" to="/blocking/limit-location-max-cap">
                    <div @click="goToFullMenu()" class="d-flex align-items-center">
                      <img
                        width="18"
                        class="m-0 mr-2"
                        src="@/assets/images/icons/gradient-link.png"
                      />
                      <span class="text-graident-blue">Go to full menu</span>
                    </div>
                  </CLink>
                </div>
              </div>
        </CCol>
      </CRow>
    </CContainer>
</template>

<script>
import { validationMixin } from "vuelidate"
import { required } from "vuelidate/lib/validators"
import LazyLoadSelect from '@/components/LazyLoadSelect.vue';

export default {
    name: "CreateLimitLocationMaxCapForm",
    props:['isInView', 'activeRoom', 'isDashboardView'],
    components: {LazyLoadSelect},
    data() {
        return {
            isLoading: false,
            form: {
              room: null,
              limit: "-",
            },
            reqResponse: {
              type: "",
              message: "",
              errors:{}
            }
        };
    },
    mixins: [validationMixin],
    validations: {
      form:{
          room: {
            required,
          },
          limit: {
            required
          },
      }
    },
    computed: {
      isValid () { return !this.$v.form.$invalid },
    },
    created() {
      if(this.activeRoom){
        this.setFormByPassRecord(this.activeRoom);
      }
    },
    watch: {
      activeRoom: function(pass){
        this.resetForm();
        this.resetResponseMessages();
        this.setFormByPassRecord(pass);
      },
      $route: function(){
        this.cancelEdit();
      }
    },
    methods: {
      submit(isUpdate = false){
          this.resetResponseMessages();
          if (this.isValid){
            let locationLimit = {
              room_id: this.form.room ? this.form.room.value.id : this.form.room,
              limit: this.form.limit === "-" ? null : parseInt(this.form.limit),
            };
            this.isLoading = true;
            if(isUpdate && this.activeRoom.id){
              this.updateRoomLimit(locationLimit);
            }else{
              this.createRoomLimit(locationLimit);
            }
        }else{
          this.$v.$touch();
        }
      },
      setFormByPassRecord(limit){
        if(limit){
          this.form = {
            limit: limit.limit != null ? limit.limit : "-",
            room: {value: {
              id:limit.room.id,
              type: 'App\\Models\\Room'
            },
            label: limit.room.name
            }
          }
        }
      },
      createRoomLimit(locationLimit){
        this.$store.dispatch('rooms/createRoomCapacityLimit', locationLimit)
        .then((response) => {
          let data = response.data.data;
          if(!this.activeRoom){
            this.resetForm();
          }
          if(data){
            if(this.isDashboardView){
              this.$store.commit('dashboard/UPDATE_AUTO_PASS_LIMIT', data);
              setTimeout(() => {
                this.$emit('updatedLimitLocationMaxCap');
              }, 1000);
            }
            this.$store.commit('rooms/PUSH_ROOM_CAPACITY_LIMIT', data);
            setTimeout(() => {
              // this.$emit('locationLimitCreated');
              this.refreshRoomsSelect();
            }, 800);
          }
          this.setSuccessResponse('Successfully created.');
          this.isLoading = false;
          setTimeout(() => {
            this.resetResponseMessages();
          }, 1000);
        })
        .catch((err) => {
          console.log(err);
          let response = err.response.data;
          this.setErrorResponse(response.message, response.errors);
          this.isLoading = false;
        });
      },
      updateRoomLimit(locationLimit){
        let data = {
          limit: locationLimit.limit,
          id: this.activeRoom.id
        }
        this.$store.dispatch('rooms/updateRoomCapacityLimit', data)
        .then((response) => {
          this.setSuccessResponse('Successfully updated.');
          let newData = response.data.data;
          if(newData){
            if(this.isDashboardView){
              this.$store.commit('dashboard/UPDATE_AUTO_PASS_LIMIT', newData)
            }else{
              this.$store.commit('rooms/UPDATE_ROOM_CAPACITY_LIMIT', newData);
            }
          }
          this.isLoading = false;
          setTimeout(() => {
            if(this.isDashboardView){
              this.resetResponseMessages();
              this.$emit('updatedLimitLocationMaxCap');
            }else{
              this.cancelEdit();
            }
          }, 1000);
        })
        .catch((err) => {
          let response = err.response.data;
          this.setErrorResponse(response.message, response.errors);
          this.isLoading = false;
        });
      },
      resetForm(){
        this.$v.$reset();
        this.form = {
          room: null,
          limit: null,
        };
      },
      resetResponseMessages(){
        this.reqResponse = {
          type: "",
          message: "",
          errors:{}
        }
      },
      setSuccessResponse(message){
        this.reqResponse = {type:'success', message: message ? message : 'Success!', errors: {}};
      },
      setErrorResponse(message, errors){
        this.reqResponse = {type:'danger', message: message ? message : 'Someting went wrong!', errors: errors ? errors : {}};
      },
      cancelEdit(){
        this.$store.commit('rooms/SET_EDITABLE_ROOM_CAP_LIMIT', null);
        this.resetForm();
        this.resetResponseMessages();
      },
      refreshForm(){
        this.resetForm();
        this.resetResponseMessages();
      },
      goToFullMenu(){
        this.$emit('closeModal');
      },
      refreshRoomsSelect(){
        if (this.$refs.RoomsLazyLoadSelect) {
          this.$refs.RoomsLazyLoadSelect.refreshSelect();
        }
      },
      validateLimitInput(event) {
        if (event.keyCode >= 48 && event.keyCode <= 59) {
          if (this.form.limit === "-") {
            this.form.limit = "";
          }
          return true;
        } else if (event.keyCode == 45) {
          this.form.limit = "";
          return true;
        } else {
          return event.preventDefault();
        }
      }
    }

}
</script>
