<template>
  <CContainer>
    <CRow class="justify-content-center">
      <CCol md="12" class="text-left px-0">
        <CForm class="mb-2 max-w-500 m-auto">
          <CRow>
            <CAlert v-if="reqResponse.message && !isMultiple" class="mt-1 w-100 mx-3" :color="reqResponse.type"
              :show="!!reqResponse.message">
              {{ reqResponse.message }}
            </CAlert>
            <CCol sm="12">
              <LazyLoadSelect :classes="[
                  {
                    'is-invalid':
                      $v.form.user_id.$error ||
                      reqResponse.errors[
                        'appointments.' + formIndex + '.user_id'
                      ] ||
                      reqResponse.errors['user_id']
                  },
                  'mb-3'
                ]" :isMultiple="false" @change="
                  value => {
                    form.user_id = value;
                    checkForExistApp();
                  }
                " :selected="form.user_id" type="student" placeholder="Search students">
                <template #footer>
                  <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.user_id.required">
                    This field is required
                  </div>
                  <div class="invalid-feedback" v-if="
                      reqResponse.errors[
                        'appointments.' + formIndex + '.user_id'
                      ]
                    ">
                    {{
                      reqResponse.errors[
                        "appointments." + formIndex + ".user_id"
                      ][0]
                    }}
                  </div>
                  <div class="invalid-feedback" v-if="reqResponse.errors['user_id']">
                    {{ reqResponse.errors["user_id"][0] }}
                  </div>
                </template>
              </LazyLoadSelect>
            </CCol>
          </CRow>

          <CRow>
            <CCol sm="4" class="pr-auto pr-sm-0">
              <v-date-picker :masks="{L:'MM/DD/YYYY'}" class="cs-date-picker" :class="{'disabled' : editablePassDate && !isForDateEditable}" placeholder="Date"
                v-model="$v.form.for_date.$model" :min-date="editablePassDate && !isForDateEditable ? editablePassDate : today" @input="formatMontlyWeekDay, checkForExistApp()">
                <template v-slot="{ inputValue, togglePopover }">
                  <div @click="showForDateCalendar(togglePopover)" class="input-icon-field">
                    <div class="form-group">
                      <input class="form-control" :class="{
                          'is-invalid':
                            $v.form.for_date.$error ||
                            reqResponse.errors[
                              'appointments.' + formIndex + '.for_date'
                            ] ||
                            reqResponse.errors['for_date']
                        }" placeholder="Date" readonly :value="inputValue" />
                      <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.for_date.required">
                        This field is required
                      </div>
                      <div class="invalid-feedback" v-if="
                          reqResponse.errors[
                            'appointments.' + formIndex + '.for_date'
                          ]
                        ">
                        {{
                          reqResponse.errors[
                            "appointments." + formIndex + ".for_date"
                          ][0]
                        }}
                      </div>
                      <div class="invalid-feedback" v-if="reqResponse.errors['for_date']">
                        {{ reqResponse.errors["for_date"][0] }}
                      </div>
                    </div>
                    <span class="field-icon">
                      <i class="fi flaticon-calendar mr-1"></i>
                    </span>
                  </div>
                </template>
              </v-date-picker>
            </CCol>
            <CCol sm="4">
              <v-select :class="[{
                  'is-invalid':
                    $v.form.period_id.$error ||
                    reqResponse.errors[
                      'appointments.' + formIndex + '.period_id'
                    ] ||
                    reqResponse.errors['period_id']
                }, 'ps__child--consume']" v-if="periods" class="cs-select mb-3" v-model="form.period_id" :options="periods"
                placeholder="Period" :clearable="false" label="label">
                <template #selected-option="{ label }">
                  {{
                    label && label.length > 20
                      ? label.slice(0, 12) + ".."
                      : label
                  }}
                </template>
                <template #footer>
                  <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.period_id.required">
                    This field is required
                  </div>
                  <div class="invalid-feedback" v-if="
                      reqResponse.errors[
                        'appointments.' + formIndex + '.period_id'
                      ]
                    ">
                    {{
                      reqResponse.errors[
                        "appointments." + formIndex + ".period_id"
                      ][0]
                    }}
                  </div>
                  <div class="invalid-feedback" v-if="reqResponse.errors['period_id']">
                    {{ reqResponse.errors["period_id"][0] }}
                  </div>
                </template>
              </v-select>
            </CCol>
            <CCol sm="4" class="mb-3 pl-auto mb-md-0 pl-sm-0 z-index-10">
              <cs-time-picker @input="checkForExistApp" v-model="form.time" placeholder="Time(blank=now)" :classes="{
                  'is-invalid':
                    $v.form.time.$error ||
                    reqResponse.errors[
                      'appointments.' + formIndex + '.for_time'
                    ] ||
                    reqResponse.errors['for_time']
                }">
                <template #footer>
                  <!-- <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.time.required">
                    This field is required
                  </div>
                  <div class="invalid-feedback" v-if="
                      $v.form.$error &&
                        $v.form.time.required &&
                        !$v.form.time.minValue
                    ">
                    Start time must be after now
                  </div> -->
                  <!-- <div v-if="$v.form.$error && !$v.form.time.betweenTime" class="invalid-feedback"> You must pick a time between 6AM and 5PM.</div> -->
                  <div class="invalid-feedback" v-if="
                      reqResponse.errors[
                        'appointments.' + formIndex + '.for_time'
                      ]
                    ">
                    {{
                      reqResponse.errors[
                        "appointments." + formIndex + ".for_time"
                      ][0]
                    }}
                  </div>
                  <div class="invalid-feedback" v-if="reqResponse.errors['for_time']">
                    {{ reqResponse.errors["for_time"][0] }}
                  </div>
                </template>
              </cs-time-picker>
            </CCol>
           <div style="margin-top: -10px" class="px-3">
              <div v-if="appointment_exists_within_15_mins && !editablePass" class="text-red mb-1">Warning: This student has an appointment within 15 mins of the time you chose.</div>
           </div>
          </CRow>

          <CRow>
            <CCol sm="12">
              <LazyLoadSelect :classes="[
                  {
                    'is-invalid':
                      $v.form.from_id.$error ||
                      reqResponse.errors[
                        'appointments.' + formIndex + '.from_id'
                      ] ||
                      reqResponse.errors['from_id']
                  },
                  'mb-3'
                ]" :isMultiple="false" @change="
                  value => {
                    form.from_id = value;
                  }
                " :selected="form.from_id" type="combined" placeholder="From:" :default="defaultFrom"
                :prepend-items="[defaultFrom, { label: 'From: Me', value: meValue }]" :excludeOptions="[{ label: 'From: Me', value: meValue }]">
                <template #footer>
                  <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.from_id.required">
                    This field is required
                  </div>
                  <div class="invalid-feedback" v-if="
                      reqResponse.errors[
                        'appointments.' + formIndex + '.from_id'
                      ]
                    ">
                    {{
                      reqResponse.errors[
                        "appointments." + formIndex + ".from_id"
                      ][0]
                    }}
                  </div>
                  <div class="invalid-feedback" v-if="reqResponse.errors['from_id']">
                    {{ reqResponse.errors["from_id"][0] }}
                  </div>
                </template>
              </LazyLoadSelect>
            </CCol>
          </CRow>

          <CRow>
            <CCol sm="12">
              <CRow>
                <CCol sm="12">
                  <LazyLoadSelect :classes="[
                      {
                        'is-invalid':
                          $v.form.to_id.$error ||
                          reqResponse.errors[
                            'appointments.' + formIndex + '.to_id'
                          ] ||
                          reqResponse.errors['to_id']
                      },
                      'mb-3'
                    ]" :isMultiple="false" @change="
                      value => {
                        form.to_id = value;
                      }
                    " :selected="form.to_id" type="combined" placeholder="To:" :default="defaultTo"
                    :prepend-items="[defaultTo]" :excludeOptions="[{ value: meValue }]">
                    <template #footer>
                      <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.to_id.required">
                        This field is required
                      </div>
                      <div class="invalid-feedback" v-if="
                          reqResponse.errors[
                            'appointments.' + formIndex + '.to_id'
                          ]
                        ">
                        {{
                          reqResponse.errors[
                            "appointments." + formIndex + ".to_id"
                          ][0]
                        }}
                      </div>
                      <div class="invalid-feedback" v-if="reqResponse.errors['to_id']">
                        {{ reqResponse.errors["to_id"][0] }}
                      </div>
                    </template>
                  </LazyLoadSelect>
                </CCol>
              </CRow>
            </CCol>
          </CRow>

          <CRow>
            <CCol sm="6" class="pr-auto pr-sm-2">
              <v-select class="cs-select mb-3 ps__child--consume" v-model="form.recurrence_type" :options="repeatOptions"
                :clearable="false" label="label" :reduce="item => item.value" :disabled="
                  !!(editablePass && editablePass.recurrence_appointment_pass)
                " @input="resetRepaetOptions">
              </v-select>
            </CCol>
            <CCol sm="6" class="pl-auto mb-4 pl-sm-2 mb-sm-0" v-if="form.recurrence_type === 'weekly'">
              <div class="weekdays-options-container pt-2 d-flex justify-content-between"
                :class="{ 'is-invalid': $v.form.recurrence_days.$error }">
                <div v-for="(day, index) in weekDays" :key="index">
                  <div class="weekday-box" :class="{
                      active: form.recurrence_days.find(el => el === day.value)
                    }" @click="setWeekDay(day.value)">
                    {{ day.label }}
                  </div>
                </div>
              </div>
              <div class="invalid-feedback mb-3" v-if="$v.form.$error && !$v.form.recurrence_days.required">
                This field is required
              </div>
            </CCol>
          </CRow>

          <CRow>
            <CCol sm="12">
              <v-date-picker :masks="{L:'MM/DD/YYYY'}" class="cs-date-picker" v-if="!!form.recurrence_type" placeholder="Date"
                :popover="{ visibility: 'click' }" v-model="$v.form.recurrence_end_at.$model" :min-date="today"
                :disabled-dates="
                  form.recurrence_type === 'daily'
                    ? { weekdays: [1, 7] }
                    : false
                ">
                <template v-slot="{ inputValue, togglePopover }">
                  <div class="input-icon-field" @click="togglePopover">
                    <div class="form-group">
                      <input readonly class="form-control" :class="{
                          'is-invalid':
                            ($v.form.$error && $v.form.recurrence_end_at.$error) ||
                            reqResponse.errors[
                              'appointments.' + formIndex + '.recurrence_end_at'
                            ] ||
                            reqResponse.errors['recurrence_end_at']
                        }" placeholder="Date" :value="'End on ' + inputValue" />
                      <div class="invalid-feedback" v-if="
                          $v.form.$error && !$v.form.recurrence_end_at.required
                        ">
                        This field is required
                      </div>
                      <div class="invalid-feedback" v-if="
                          $v.form.$error && $v.form.recurrence_end_at.required && !$v.form.recurrence_end_at.isAfterStartTime
                        ">
                        Recurrence end date must be greater than start date
                      </div>
                      <div class="invalid-feedback" v-if="
                          reqResponse.errors[
                            'appointments.' + formIndex + '.recurrence_end_at'
                          ]
                        ">
                        {{
                          reqResponse.errors[
                            "appointments." + formIndex + ".recurrence_end_at"
                          ][0]
                        }}
                      </div>
                      <div class="invalid-feedback" v-if="reqResponse.errors['recurrence_end_at']">
                        {{ reqResponse.errors["recurrence_end_at"][0] }}
                      </div>
                    </div>
                    <span class="field-icon">
                      <i class="fi flaticon-calendar mr-1"></i>
                    </span>
                  </div>
                </template>
              </v-date-picker>
            </CCol>
          </CRow>

          <div class="form-group">
            <textarea class="form-control" :class="{
                'is-invalid':
                  $v.form.reason.$error ||
                  reqResponse.errors['appointments.' + formIndex + '.reason'] ||
                  reqResponse.errors['reason']
              }" placeholder="Reason..." rows="1" v-model="form.reason">
            </textarea>
            <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.reason.required">
              This field is required
            </div>
            <div class="invalid-feedback" v-if="reqResponse.errors['appointments.' + formIndex + '.reason']">
              {{
                reqResponse.errors["appointments." + formIndex + ".reason"][0]
              }}
            </div>
            <div class="invalid-feedback" v-if="reqResponse.errors['reason']">
              {{ reqResponse.errors["reason"][0] }}
            </div>
          </div>

          <div v-if="!isMultiple" class="form-group form-actions mt-4 text-center">
            <div class="d-flex align-items-center justify-content-center">
              <div v-if="editablePass && editablePass.id" class="d-flex">
                <div @click="submit(false)">
                  <CLoadingButton :spinner="isLoading" :disabled="isLoading" :loading="isLoading"
                    class="mr-2 px-4 py-3 px-sm-5 py-sm-3 btn bg-gradient-blue text-white">
                    Update
                  </CLoadingButton>
                </div>
                <div class="ml-2" @click="cancelEdit()">
                  <CButton class="mr-2 btn-gradient-border">
                    <span class="btn px-4"><b class="text-graident-blue">Cancel</b></span>
                  </CButton>
                </div>
              </div>
              <div v-else @click="submit(true)">
                <CLoadingButton :spinner="isLoading" :disabled="isLoading" :loading="isLoading"
                  class="mr-2 px-4 py-3 px-sm-5 py-sm-3 btn bg-gradient-blue text-white">
                  Submit
                </CLoadingButton>
              </div>
              <CLink v-if="!isInView" class="text-graident-blue ml-3" to="/appointment-pass">
                <div @click="goToFullMenu()" class="d-flex align-items-center">
                  <img width="18" class="m-0 mr-2" src="@/assets/images/icons/gradient-link.png" />
                  <span class="text-graident-blue">Go to full menu</span>
                </div>
              </CLink>
            </div>
          </div>
        </CForm>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>
  import {
    validationMixin
  } from "vuelidate";
  import {
    required,
    helpers,
    not,
    requiredIf
  } from "vuelidate/lib/validators";
  import moment from "moment-timezone";
  import {
    DatePicker
  } from "v-calendar";
  import LazyLoadSelect from "@/components/LazyLoadSelect.vue";
  import {
    mapGetters
  } from "vuex";

  export default {
    name: "CreateAppoinmentsPassForm",
    props: [
      "periods",
      "isInView",
      "editablePass",
      "isMultiple",
      "formIndex"
    ],
    components: {
      "v-date-picker": DatePicker,
      LazyLoadSelect
    },
    data() {
      return {
        isLoading: false,
        form: {
          user_id: null,
          for_date: moment().format('MMM DD YYYY'),
          period_id: null,
          time: "",
          from_id: null,
          to_id: null,
          recurrence_type: null,
          recurrence_days: [],
          recurrence_end_at: null,
          reason: ""
        },
        appointment_exists_within_15_mins: false,
        timeoutForExistApp: null,
        repeatOptions: [{
            label: "No Repetition",
            value: null
          },
          {
            label: "Daily (M-F)",
            value: "daily"
          },
          {
            label: "Weekly",
            value: "weekly"
          },
          {
            label: "Monthly",
            value: "monthly"
          }
        ],
        weekDays: [{
            label: "Mo",
            value: "Monday"
          },
          {
            label: "Tu",
            value: "Tuesday"
          },
          {
            label: "We",
            value: "Wednesday"
          },
          {
            label: "Th",
            value: "Thursday"
          },
          {
            label: "Fr",
            value: "Friday"
          },
          {
            label: "Sa",
            value: "Saturday"
          },
          {
            label: "Su",
            value: "Sunday"
          }
        ],
        reqResponse: {
          type: "",
          message: "",
          errors: {}
        }
      };
    },
    mixins: [validationMixin],
    validations: {
      form: {
        user_id: {
          required
        },
        for_date: {
          required
        },
        period_id: {
          required
        },
        time: {
          // required,
          // minValue: (value, model) => {
          //   return model.for_date > moment() || value >= moment().format("HH:mm");
          // },
          // betweenTime: (value, vm) => {
          //   return moment(vm.time, 'HH:mm a').isBetween(moment('06:00 AM', 'HH:mm a'), moment('05:00 PM', 'HH:mm a'));
          // }
        },
        from_id: {
          required
        },
        to_id: {
          required
          //notSameAsFrom: not(sameAs('from_id')),
        },
        recurrence_type: {},
        recurrence_end_at: {
          required: requiredIf(model => {
            return model.recurrence_type !== null;
          }),
          isAfterStartTime: (value, model) => {
            return !helpers.req(value) || (moment(value).format('MM/DD/YYYY') >= moment(model.for_date).format('MM/DD/YYYY'));
          }
        },
        recurrence_days: {
          required: requiredIf(model => {
            return model.recurrence_type && model.recurrence_type === "weekly";
          })
        },
        reason: {
          required
        }
      }
    },
    computed: {
      ...mapGetters({
        currentUser: "authentication/user"
      }),
      isValid() {
        return !this.$v.form.$invalid;
      },
      meValue() {
        return {
          id: this.currentUser.id,
          type: "App\\Models\\User",
          passesToday: this.currentUser.passes_for_today_count
        }
      },
      defaultTo() {
        return this.currentUser.allow_passes_to_me ? {
            value: this.meValue,
            label: "To: Me"
          } :
          null;
      },
      defaultFrom() {
        return {
          value: {
            id: 0,
            type: "App\\Models\\User",
            passesToday: null
          },
          label: "From: System"
        };
      },
      today() {
        return moment().format('MMM DD YYYY');
      },
      editablePassDate(){
        return this.editablePass ? moment(this.editablePass.for_date).format('MMM DD YYYY') : null;
      },
      isForDateEditable(){
        return this.editablePassDate && moment(this.editablePass.for_date).format('MM-DD-YYYY') > moment().format('MM-DD-YYYY');
      }
    },
    created() {
      this.form.recurrence_type = this.repeatOptions[0].value;
    },
    destroyed() {
      this.cancelEdit();
    },
    watch: {
      editablePass: function (pass) {
        this.resetForm();
        this.resetResponseMessages();
        this.setFormByPassRecord(pass);
      },
      $route: function () {
        this.cancelEdit();
      }
    },
    methods: {
      submit(isCreate) {
        this.resetResponseMessages();
        if (this.isValid) {
          this.form.time = this.form.time ? this.form.time : moment().format("HH:mm");
          let appointments = [{
            from_id: this.form.from_id ?
              this.form.from_id.value.id : this.form.from_id,
            to_id: this.form.to_id ? this.form.to_id.value.id : this.form.to_id,
            from_type: this.form.from_id ?
              this.form.from_id.value.type : this.form.from_id,
            to_type: this.form.to_id ?
              this.form.to_id.value.type : this.form.to_id,
            for_date: this.$helpers.currTzDateTime(this.form.for_date, this.form.time),
            for_time: this.form.time,
            period_id: this.form.period_id ?
              this.form.period_id.value : this.form.period_id,
            reason: this.form.reason,
            user_id: this.form.user_id ?
              this.form.user_id.value.id : this.form.user_id,
            recurrence_type: this.form.recurrence_type,
            recurrence_days: JSON.stringify({
              days: this.form.recurrence_days
            }),
            recurrence_end_at: this.form.recurrence_end_at ?
              this.$helpers.currTzDate(this.form.recurrence_end_at) : null,
            recurrence_week: this.form.recurrence_week
          }];
          this.isLoading = true;
          if (!isCreate) {
            this.editAppointmentPass(this.editablePass, appointments[0]);
          } else {
            this.createAppointmentPasses(appointments);
          }
        } else {
          this.$v.$touch();
        }
      },
      createAppointmentPasses(appointments) {
        this.$store
          .dispatch("appointmentPasses/createAppointmentPass", {
            appointments
          })
          .then(response => {
            this.resetForm();
            this.setSuccessResponse("Successfully created.");
            this.isLoading = false;
            setTimeout(() => {
              this.resetResponseMessages();
              this.$emit("closeModal");
              this.$router.push("/appointment-pass");
            }, 1000);
          })
          .catch(err => {
            let response = err.response.data;
            this.setErrorResponse(response.message, response.errors);
            this.isLoading = false;
          });
      },
      editAppointmentPass(pass, data) {
        let id = pass.recurrence_appointment_pass_id ?
          pass.recurrence_appointment_pass_id :
          pass.id;
        let action = pass.recurrence_appointment_pass_id ?
          "appointmentPasses/editRecurrenceAppPass" :
          "appointmentPasses/editAppointmentPass";
        if(!pass.hasOwnProperty('is_recurrence')){
          action = "appointmentPasses/editAppointmentPass";
          id = pass.id;
        }
        this.$store
          .dispatch(action, {
            id,
            data
          })
          .then(response => {
            this.setSuccessResponse("Successfully updated!");
            this.isLoading = false;
            setTimeout(() => {
              this.$emit("appPassUpdated");
              this.cancelEdit();
            }, 1200);
          })
          .catch(err => {
            let response = err.response.data;
            this.setErrorResponse(response.message, response.errors);
            this.isLoading = false;
          });
      },
      cancelEdit() {
        this.$emit("cancelApptPassUpdate");
        this.$store.commit("appointmentPasses/SET_EDITABLE_PASS", null);
        this.resetForm();
        this.resetResponseMessages();
      },
      setWeekDay(day) {
        if (this.form.recurrence_days && this.form.recurrence_days.length) {
          if (this.form.recurrence_days.filter(el => el === day).length) {
            this.form.recurrence_days = this.form.recurrence_days.filter(
              el => el !== day
            );
          } else {
            this.form.recurrence_days.push(day);
          }
        } else {
          this.form.recurrence_days.push(day);
        }
      },
      formatMontlyWeekDay(date) {
        if (date) {
          var dayOfMonth = moment(date).format("DD");
          var dayOfweek = moment(date).format("dddd");
          var numberofweek = Math.floor((dayOfMonth - 1) / 7) + 1;
          let prefix = "";
          switch (numberofweek) {
            case 1:
              prefix = "first";
              break;
            case 2:
              prefix = "second";
              break;
            case 3:
              prefix = "third";
              break;
            case 4:
              prefix = "fourth";
              break;
            default:
              prefix = "last";
          }
          this.form.recurrence_week =
            '{"' + numberofweek + '":"' + dayOfweek + '"}';
          this.repeatOptions[3].label =
            "Monthly on the " + prefix + " " + dayOfweek;
        }
      },
      resetRepaetOptions() {
        this.$v.$reset();
        this.form.recurrence_days = [];
        this.form.recurrence_end_at = null;
        this.form.recurrence_week = null;
        this.formatMontlyWeekDay(this.form.for_date);
      },
      setFormByPassRecord(pass) {
        if (pass) {
          const isDefaultFrom = this.defaultFrom && this.defaultFrom.value.id === pass.from.id;
          this.form.from_id = isDefaultFrom ? this.defaultFrom : {
            label: pass.from.name,
            value: {
              id: pass.from.id,
              type: pass.from_type,
            }
          };

          const isDefaultTo = this.defaultTo && this.defaultTo.value.id === pass.to.id;
          this.form.to_id = isDefaultTo ? this.defaultTo : {
            label: pass.to.name,
            value: {
              id: pass.to.id,
              type: pass.to_type,
            }
          };

          this.form.for_date = pass.for_date ?
            moment(pass.for_date).format('MMM DD YYYY') :
            null;
          this.form.time = pass.for_date ?
            this.$helpers.transformDate(pass.for_date, "h:mm A") :
            "";
          this.form.reason = pass.reason;
          this.form.user_id = {
            label: pass.user.first_name + " " + pass.user.last_name,
            value: {
              id: pass.user.id,
              type: "App\\Models\\User",
            }
          };
          this.form.period_id = {
            label: pass.period.name,
            value: pass.period.id
          };
          if (pass.recurrence_appointment_pass) {
            this.form.recurrence_type =
              pass.recurrence_appointment_pass.recurrence_type;
            this.form.recurrence_days = pass.recurrence_appointment_pass
              .recurrence_days ?
              JSON.parse(pass.recurrence_appointment_pass.recurrence_days).days :
              null;
            this.form.recurrence_end_at = pass.recurrence_appointment_pass.recurrence_end_at ? moment(pass.recurrence_appointment_pass.recurrence_end_at).format('MMM DD YYYY') : null;
            this.form.recurrence_week =
              pass.recurrence_appointment_pass.recurrence_week;
              this.form.time;
          }
        }
      },
      resetForm() {
        this.$v.$reset();
        this.form = {
          user_id: null,
          for_date: moment().format('MMM DD YYYY'),
          period_id: null,
          time: "",
          from_id: this.defaultFrom,
          to_id: this.defaultTo,
          recurrence_type: this.repeatOptions[0].value,
          recurrence_days: [],
          recurrence_end_at: null,
          reason: ""
        };
      },
      resetResponseMessages() {
        this.reqResponse = {
          type: "",
          message: "",
          errors: {}
        };
      },
      setSuccessResponse(message) {
        this.reqResponse = {
          type: "success",
          message: message ? message : "Success!",
          errors: {}
        };
      },
      setErrorResponse(message, errors) {
        this.reqResponse = {
          type: "danger",
          message: message ? message : "Someting went wrong!",
          errors: errors ? errors : {}
        };
      },
      setFormData(form) {
        if (form) {
          for (const key in form) {
            if (Object.hasOwnProperty.call(form, key)) {
              const value = form[key];
              if (value && key !== "user_id") {
                this.form[key] = value;
              }
            }
          }
        }
      },
      refreshForm() {
        this.resetForm();
        this.resetResponseMessages();
      },
      goToFullMenu() {
        this.$emit("closeModal");
      },
      checkForExistApp(){
        clearTimeout(this.timeoutForExistApp);
        this.timeoutForExistApp = setTimeout(() => {
          if(!this.editablePass && this.form.user_id && this.form.for_date && this.form.time){
            let params = {
              studentID: this.form.user_id.value.id,
              date: this.$helpers.currTzDateTime(this.form.for_date, this.form.time)
            }
            this.$store.dispatch('appointmentPasses/getInfoForExistApp', params)
            .then((response) => {
              if(response.data){
                this.appointment_exists_within_15_mins = response.data.appointment_exists_within_15_mins;
              }
            })
            .catch(()=>{this.appointment_exists_within_15_mins = false;});
          }else{this.appointment_exists_within_15_mins = false;}
         }, 600);
      },
      showForDateCalendar(toggler){
        if(this.isForDateEditable || !this.editablePassDate){
          toggler();
        }
      }
    }
  };

</script>

<style></style>
