<template>
  <CContainer>
    <CRow class="justify-content-center">
      <CCol md="12" class="text-left">
        <CModal v-if="form.user_id" :show.sync="modal.isVisible.todayPasses" :closeOnBackdrop="false" class="p-0"
          size="lg" addContentClasses="no-padding-modal no-border-radius-modal left-top-header">
          <template #header-wrapper>
            <div class="pt-4 px-3 create-popup-header">
              <div @click="closeModal()"
                class="d-inline-block bg-gradient-blue text-white rounded-circle p-1 lh-normal cursor-pointer"><span
                  class="close-icon"></span></div>
            </div>
          </template>
          <div>
            <StudentPassHistory :userId="form.user_id.value.id" />
          </div>
          <template #footer-wrapper>
            <div></div>
          </template>
        </CModal>
        <div class="mb-2 max-w-400 m-auto">
          <CAlert v-if="reqResponse.message && reqResponse.message !== 'The given data was invalid.'" class="mt-4" :color="reqResponse.type" :show="!!reqResponse.message">
            {{reqResponse.message}}
          </CAlert>
          <LazyLoadSelect :classes="[{ 'is-invalid': $v.form.user_id.$error || reqResponse.errors.user_id}, 'mb-3']"
            :isMultiple="false" @change="(value) => {form.user_id = value}" :selected="form.user_id" type="student"
            placeholder="Search students">
            <template #footer>
              <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.user_id.required">This field is required
              </div>
              <div class="invalid-feedback" v-if="reqResponse.errors.user_id">{{reqResponse.errors.user_id[0]}}</div>
            </template>
          </LazyLoadSelect>
          <div class="d-flex align-items-center mb-3 text-danger" v-if="form.user_id && userInfo && userInfo.polarity_active">
            The hall is currently busy for this student. Please see your building admin for any questions.
          </div>
          <div class="d-flex align-items-center mb-3 text-danger"
            v-if="form.user_id && userInfo && userInfo.show_active_pass_limit_message">
            Active Pass Limit has been reached. By clicking submit, you will exceed the limit.
          </div>
          <div class="d-flex align-items-center mb-3" v-if="form.user_id">
            <div class="">Today's Passes: <span @click="showPassesModal"
                class="passes-count-badge ml-1">{{form.user_id.value.passesToday}}</span></div>
            <div class="ml-2 user-passes-remain flex-1" v-if="userInfo && userInfo.passes_remain">
              The student has {{ userInfo.passes_remain }} pass(es) remaining today.
            </div>
          </div>

          <p class="mb-0">Where do you want to go?</p>
          <div class="favorite-rooms-carousel p-0 m-0">
            <FavoriteCarousel section="destination" :key="'destination'" :notManagable="true"
              _class="pb-0 pt-0 mt-2 smaller-size" :action="(elem)=>{form.to_id = elem;}" :selected="form.to_id"
              :isvalid="$v.form.to_id.$error || reqResponse.errors.to_id" />
          </div>
          <LazyLoadSelect
            :class="[{ 'is-invalid' : $v.form.to_id.$error || reqResponse.errors.to_id || reqResponse.errors.to_type}, 'mb-3 mt-3']"
            :isMultiple="false" @change="(value) => {form.to_id = value}" :selected="form.to_id" type="combined"
            placeholder="To:">
            <template #footer>
              <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.to_id.required">This field is required
              </div>
              <div class="invalid-feedback" v-if="isCurrRoomRestricted">
                This location is restricted for this student. By clicking submit you will override this restriction.
              </div>
              <div class="invalid-feedback" v-if="reqResponse.errors.to_id">{{reqResponse.errors.to_id[0]}}</div>
              <div class="invalid-feedback" v-if="reqResponse.errors.to_type">{{reqResponse.errors.to_type[0]}}</div>
              <div class="invalid-feedback d-block" v-if="toCapacityReached">
                Maximum capacity for the location has been reached. By clicking submit you will exceed the max.
              </div>
            </template>
          </LazyLoadSelect>
          <div class="form-group">
            <textarea class="form-control" :class="{ 'is-invalid': reqResponse.errors.comment}" placeholder="Reason..."
              rows="4" v-model="form.comment">
                </textarea>
            <div class="invalid-feedback" v-if="reqResponse.errors.comment">{{reqResponse.errors.comment[0]}}</div>
          </div>
          <div class="d-flex">
            <CInputCheckbox label="Pre-approve pass" :checked.sync="$v.form.auto_approve.$model" class="text-left"
              :custom="true" />
          </div>
          <div class="form-group form-actions mt-4 text-center">
            <div class="d-flex align-items-center justify-content-center">
              <div @click="submit()">
                <CLoadingButton :spinner="isLoading" :disabled="isLoading" :loading="isLoading"
                  class="mr-2 px-5 py-3 btn bg-gradient-blue text-white">
                  Submit
                </CLoadingButton>
              </div>
              <CLink v-if="!isInView" class="text-graident-blue ml-3" to="/teacher-pass">
                <div @click="goToFullMenu()" class="d-flex align-items-center">
                  <img width="18" class="m-0 mr-2" src="@/assets/images/icons/gradient-link.png" />
                  <span class="text-graident-blue">Go to full menu</span>
                </div>
              </CLink>
            </div>
          </div>
        </div>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>
  import {
    validationMixin
  } from "vuelidate"
  import {
    required
  } from "vuelidate/lib/validators"
  import StudentPassHistory from '@/components/DataTables/StudentPassHistory';
  import FavoriteCarousel from '@/components/Forms/FavoriteCarousel';
  import LazyLoadSelect from '@/components/LazyLoadSelect.vue';
  import {
    mapGetters
  } from 'vuex';

  export default {
    name: "CreateTeacherPassForm",
    props: ['isInView'],
    components: {
      StudentPassHistory,
      FavoriteCarousel,
      LazyLoadSelect
    },
    data() {
      return {
        isLoading: false,
        form: {
          user_id: null,
          to_id: [],
          comment: "",
          auto_approve: true,
        },
        reqResponse: {
          type: "",
          message: "",
          errors: {}
        },
        modal: {
          isVisible: {
            todayPasses: false
          },
        },
        userInfo: null,
        polarityMessage: null
      };
    },
    mixins: [validationMixin],
    validations: {
      form: {
        user_id: {
          required,
        },
        to_id: {
          required,
          isRestricted:(value, vm) => {if((vm.to_id && vm.to_id.value) && !(vm.to_id.value.isRestricted)){return true} return false;},
        },
        auto_approve: {}
      }
    },
    watch: {
      'form.user_id'(val) {
        this.userInfo = null;
        this.$store.dispatch('proxyPasses/getProxyPassInfo', val.value.id).then(res => {
          this.userInfo = res;
        });
      }
    },
    created() {
      this.$store.dispatch('polarities/getPolarityMessage').then(res => {
        if (res && res.data && res.data.data) {
          this.polarityMessage = res.data.data.message? res.data.data.message:res.data.data.initial_default_value
        }
      })

    },
    computed: {
      ...mapGetters({
        currentUser: 'authentication/user',
      }),
      isValid() {
        return !this.$v.form.$invalid
      },
      toCapacityReached(){
        return this.form && this.form.to_id && this.form.to_id.capacity && this.form.to_id.capacity.capacity_reached==true;
      },
      isCurrRoomRestricted(){
        return this.userInfo && this.form.to_id && this.form.to_id.value && this.userInfo.restricted_rooms && this.userInfo.restricted_rooms.includes(this.form.to_id.value.id);
      },
      activeDashboardSettings(){
        let current = localStorage.getItem('dashSettings');
        if(current){
          current = JSON.parse(current);
          current.activePassState = "only_active";
        }
        return current;
      }
    },
    methods: {
      submit() {
        this.resetResponseMessages();
        if (this.isValid) {
          let pass = {
            user_id: this.form.user_id.value.id,
            to_id: this.form.to_id.id ? this.form.to_id.id : this.form.to_id.value.id,
            to_type: this.form.to_id.type ? this.form.to_id.type : this.form.to_id.value.type,
            comment: this.form.comment,
            auto_approve: this.form.auto_approve
          };
          this.isLoading = true;
          this.$store.dispatch('proxyPasses/createProxyPass', pass)
            .then((response) => {
              this.resetForm();
              this.isLoading = false;
              localStorage.setItem('dashSettings', JSON.stringify(this.activeDashboardSettings));
              setTimeout(() => {
                this.$router.push('/dashboard');
                this.$emit('closeModal');
              }, 500);
            })
            .catch((err) => {
              let response = err.response.data;
              this.setErrorResponse(response.message, response.errors);
              this.isLoading = false;
            });
        } else {
          this.$v.$touch();
        }
      },
      resetForm() {
        this.$v.$reset();
        this.form = {
          user_id: null,
          to_id: [],
          comment: "",
          auto_approve: false,
        };
      },
      resetResponseMessages() {
        this.reqResponse = {
          type: "",
          message: "",
          errors: {}
        }
      },
      setSuccessResponse(message) {
        this.reqResponse = {
          type: 'success',
          message: message ? message : 'Success!',
          errors: {}
        };
      },
      setErrorResponse(message, errors) {
        this.reqResponse = {
          type: 'danger',
          message: message ? message : 'Someting went wrong!',
          errors: errors ? errors : {}
        };
      },
      showPassesModal() {
        this.modal.isVisible.todayPasses = true;
      },
      closeModal() {
        this.modal.isVisible.todayPasses = false;
      },
      refreshForm() {
        this.resetForm();
        this.resetResponseMessages();
      },
      goToFullMenu() {
        this.$emit('closeModal');
      }
    }

  }

</script>
