/* eslint-disable vue/valid-v-else */
<template>
  <div class="favorites-cnt position-relative">
    <!-- Edir button that trigger magange favorite poup-->
    <div v-if="isEditable && !notManagable" class="d-flex align-items-center justify-content-end">
      <span class="text-50 d-flex justify-content-center align-items-center text-primary"
        @click="setActivePopUp('edit-locations')"><i class="fi flaticon-edit mr-2" />Edit</span>
    </div>
    <!-- Carouse that Present Favorite-->
    <Carousel :class="_class" :perPage="screenWidth<600?3:5" class="favorite-rooms-carousel"
      name="favorite-rooms-carousel" v-if="favorites">
      <Slide v-for="(elem, index) in favorites" :key="index">
        <div :class="[current == elem.favorable.id?'active':'',isvalid===false?'invalid':'','location-box-room']"
          v-if="elem.favorable && elem.favorable_type == 'App\\Models\\Room'" @click="selectElement(elem)">
          <div :class="`fav-icon ${elem.favorable.icon && elem.favorable.icon!=0?elem.favorable.icon:'flaticon-star'}`">
          </div>
          <span class="fav-text ">
            {{elem.favorable.name}}
          </span>
        </div>
        <div :class="[current == elem.favorable.id?'active':'',isvalid===false ?'invalid':'', {'active invalid' : isUserAvailable(elem)}, 'location-box-user']"
          v-if="elem.favorable && elem.favorable_type == 'App\\Models\\User'" @click="selectElement(elem)"
          :style="{backgroundImage: `url(${elem.favorable.avatar?elem.favorable.avatar:'/img/avatars/user-avatar.jpeg'})`}">
          <span class="fav-text">
            {{elem.favorable.first_name +' '+elem.favorable.last_name}}
          </span>
        </div>
      </Slide>
      <Slide v-for="(item,index) in exptyPoistions" :key="'exmpty'+index" v-if="!notManagable">
        <div class="location-box-room add-fav" @click="setActivePopUp('edit-favorites')">
          <div class="fav-icon fi flaticon-plus"></div>
          <span class="fav-text ">
            Add favorite Teacher/Room
          </span>
        </div>
      </Slide>
    </Carousel>
    <HelpCenterButton v-if="helpCenterKey" width="17" height="17" _class="bottom-right mb-2 mr-2" :contentKey="helpCenterKey"/>
    <!-- Modal to manage favorites -->
    <div v-if="isEditable">
      <CModal :show="popup.activePopUp  == 'edit-locations'" addContentClasses="bg-white">
        <template #header-wrapper>
          <div class="pt-4 px-4">
            <button @click="closeModal()" class="btn bg-gradient-blue text-white rounded-circle px-2 py-1 lh-normal">x</button>
          </div>
          <div class="d-flex justify-content-center">
            <span class="text-black-50 text-value-xl">Edit Favorites</span>
          </div>
        </template>
        <CRow class="justify-content-center mx-n3 p-0">
          <CCol md="12" class="bg-white">
            <div class="d-flex align-items-center justify-content-center mt-4">
              <div
                class="d-flex text-center align-self-stretch flex-column align-items-center justify-content-center bg-gradient-blue py-3 px-3 rounded cursor-pointer"
                @click="setActivePopUp('edit-favorites')">
                <div class="fav-modal-icon fi flaticon-plus "></div>
                <div class="d-block text-white text-value-sm ml-2 font-weight-bolder mt-3">
                  Add/Remove <br> Favorites
                </div>
              </div>
              <div
                class="d-flex text-center align-self-stretch flex-column align-items-center justify-content-center bg-gradient-blue py-3 px-3 rounded ml-2"
                @click="setActivePopUp('sort-favorites')">
                <div class="fav-modal-icon fi flaticon-move "></div>
                <div class="d-block text-white text-value-sm ml-2 font-weight-bolder mt-3">
                  Manage Order
                </div>
              </div>
            </div>
          </CCol>
        </CRow>

        <template #footer-wrapper>
          <div></div>
        </template>
      </CModal>

      <CModal :show="popup.activePopUp === 'edit-favorites'" addContentClasses="bg-white">
        <template #header-wrapper>
          <div class="d-flex flex-column justify-content-center">
            <div class="pt-4 px-4">
              <button @click="closeModal(true)" class="btn bg-gradient-blue text-white rounded-circle px-2 py-1 lh-normal">x</button>
            </div>
            <span class="text-black-50 text-value-xl text-center">Select teacher / rooms</span>
          </div>
        </template>
        <div class="w-100 d-block pt-2">
        <LazyLoadSelect v-if="tempList" :classes="'mb-3'" :isMultiple="true" :selected="tempList"
          @change="(value)=>{tempList = value}" type="combined" placeholder="Select location"
          :selectable="(option) => tempList.length < (10 - globalFavorites.length ) && !tempList.map(e=>e.value.id).includes(option.value.id) && !globalFavorites.map(e=>e.favorable_id).includes(option.value.id)">
        </LazyLoadSelect>
      </div>
        <template #footer-wrapper>
          <div class="d-flex flex-column justify-content-center align-items-center p-3 border-top-0">
            <CAlert class="mt-4" :color="'danger'" closeButton v-if="tempList.length==10">
              You have the limite of favorites. You need to delete some before you can add.
            </CAlert>
            <CButton :spinner="isLoading" :loading="isLoading"
              class=" btn bg-gradient-blue text-white" @click="sumbitFavoritesAdd()">
              Submit
            </CButton>
          </div>
        </template>
      </CModal>
      <CModal :show="popup.activePopUp === 'sort-favorites'" addContentClasses="bg-white">
        <template #header-wrapper>
          <div class="d-flex flex-column justify-content-center shadow">
            <div class="pt-4 px-4">
              <button @click="closeModal()" class="btn bg-gradient-blue text-white rounded-circle px-2 py-1 lh-normal">x</button>
            </div>
            <span class="text-black-50 text-value-xl text-center">Edit / Sort Favorites</span>
            <span class="bg-accent-blue-lighter rounded-pill text-value-xs text-center py-2 mx-4 my-2 d-block">Note:
              Student can
              see and sort / delete their favorite(s) only.</span>
          </div>
        </template>
        <CRow class="justify-content-centerp-0 mt-1">
          <CCol md="12" class="bg-white">
            <div class="d-flex flex-column my-2 overflow-auto">
              <div class="w-100 row text-black-50 font-weight-bolder py-2 border-bottom">
                <div class="col-3 text-center"></div>
                <div class="col-3 text-center">Icon</div>
                <div class="col-3 text-center">Name</div>
                <div class="col-3 text-center">Action</div>
              </div>
              <draggable v-model="reOrderedlist">
                <transition-group name="tg-1">
                  <div class="w-100 row my-1 text-left" v-for="(item, index) in reOrderedlist" :key="index+'tg-1'">
                    <div class="col-3 text-black-50 d-flex justify-content-center align-items-center">
                      <div class="fi flaticon-move"></div>
                    </div>
                    <div class="col-3 d-flex justify-content-center align-items-center">
                      <div class="fav-icon-manage-cnt w-100">
                        <div v-if="item.favorable && item.favorable_type=='App\\Models\\User'">
                          <img :src="item.favorable.avatar?item.favorable.avatar:'/img/avatars/user-avatar.jpeg'"
                            style="height:30px; width:30px;" />
                        </div>
                        <div v-if="item.favorable && item.favorable_type=='App\\Models\\Room'"
                          :class="[item.favorable && item.favorable.icon?item.favorable.icon:'flaticon-star']" />
                      </div>
                    </div>
                    <div
                      class="col-3  text-black-50  text-value-sm text-left text-truncate d-flex justify-content-center align-items-center"
                      v-if="item.favorable">
                      {{item.favorable && item.favorable.name?item.favorable.name:item.favorable.first_name +' '+item.favorable.last_name}}
                    </div>
                    <div class="col-3 d-flex justify-content-center align-items-center">
                      <div v-if="!item.global" @click="removeFavorite(item)" class="btn-delete p-1 ">
                        <i class="flaticon-cancel" />
                        <span class="d-inline-block ml-1">Delete</span>
                      </div>
                    </div>
                  </div>
                </transition-group>
              </draggable>
            </div>
          </CCol>
        </CRow>
        <template #footer-wrapper>
          <div class="d-flex  justify-content-center align-items-center p-3 border-top">
            <span @click="saveOrder">
              <CLoadingButton @click="sumbitFavorites()" class=" btn bg-gradient-blue text-white">
                Submit
              </CLoadingButton>
            </span>
            <CButton class="btn ml-2 border-primary text-primary " @click="closeModal()">
              Cancel
            </CButton>
          </div>
        </template>
      </CModal>
    </div>
  </div>
</template>
<script>
  import {
    Carousel,
    Slide
  } from 'vue-carousel';
  import draggable from 'vuedraggable';
  import LazyLoadSelect from './../LazyLoadSelect.vue'
  import HelpCenterButton from "@/components/HelpCenterButton";

  import {
    mapGetters
  } from "vuex";
  export default {
    props: ['action', 'selected', 'isvalid', 'isEditable', '_class', 'section', 'notManagable', 'isGlobal', 'helpCenterKey', 'showUnavailables', 'options'],
    name: "FavotiteCarousel",
    data() {
      return {
        search: "",
        popup: {
          activePopUp: "edit-destination"
        },
        reOrderedlist: [],
        temporatyList: [],
        isLoading: false,
        tempList: [],
      }
    },
    created() {
      if(this.options){
        this.updateTempList(this.options);
      }else{
        this.$store.dispatch('favorites/getFavorites').then(() => {
          this.updateTempList(this.favorites);
        });
      }

    },
    components: {
      Carousel,
      Slide,
      draggable,
      LazyLoadSelect,
      HelpCenterButton
    },
    computed: {
      ...mapGetters({
        fromFavorites: 'favorites/fromFavorites',
      }),
      favorites() {
        return this.fromFavorites.filter(e => e.section == this.section);
      },
      notGlobalfavorites() {
        return this.fromFavorites.filter(e => e.section == this.section && e.global == false);
      },
      globalFavorites() {
          return this.fromFavorites.filter(e => e.section == this.section && e.global==true);
      },
      favoriteIds() {
        return this.favorites.map(e => e.favorable_id);
      },
      current() {
        return this.selected && this.selected.value && this.selected.value.id;
      },
      isFavMimitReached() {
        return this.favorites.length <= (10-this.globalFavorites.length) || this.temporatyList.length <= (10-this.globalFavorites.length) ? true :
          false;
      },
      exptyPoistions() {
        return Array.from({
          length: 10 - this.favorites.length
        }, (_, i) => i + this.favorites.length);
      },
      screenWidth() {
        return window.innerWidth;
      }
    },
    watch:{
      notGlobalfavorites(){
        this.updateTempList();
      }
    },
    methods: {
      updateTempList() {
        this.tempList = this.notGlobalfavorites.map(e => {
          return {
            capacity: true,
            label: e.favorable.name,
            value: {
              id: e.favorable.id,
              type: e.favorable_type
            }
          }
        });
      },
      selectElement(elem) {
        this.action({
          label: elem.favorable.name ? elem.favorable.name : elem.favorable.first_name + ' ' + elem.favorable
            .last_name,
          value: {
            type: elem.favorable_type,
            id: elem.favorable_id,
            comment_type: elem.favorable.comment_type,
            unavailability: elem.favorable.hasOwnProperty('active_unavailability') ? elem.favorable.active_unavailability : null
          },
          capacity: elem.favorable.hasOwnProperty('capacity') ? elem.favorable.capacity : null,
        });
      },
      isUserAvailable(elem){
        return this.showUnavailables && elem.favorable_type == 'App\\Models\\User' && elem.favorable.hasOwnProperty('active_unavailability') && elem.favorable.active_unavailability;
      },
      setActivePopUp(popup) {
        this.popup.isVisible = true;
        this.popup.activePopUp = popup;
        this.temporatyList = this.favorites.map(e => e);
        this.reOrderedlist = this.favorites.map(e => e);
        this.search = '';
      },
      closeModal(refreshTempList) {
        if(refreshTempList){
          this.updateTempList();
        }
        this.popup.activePopUp = '';
      },
      removeFavorite(elem) {
        this.temporatyList = this.temporatyList.filter(e => {
          return !(e.favorable_id == elem.favorable_id && e.favorable_type == elem.favorable_type);
        });
        this.reOrderedlist = this.temporatyList;
      },
      addToFavorite(elem) {
        if (!this.isInFavorite(elem) && !this.isFavMimitReached) {
          this.temporatyList.push(elem);
        } else {
          this.temporatyList = this.temporatyList.filter(e => {
            if (e.value) {
              return !(e.value.id == elem.value.id && e.value.type == elem.value.type)
            } else {
              return !(e.favorable_id == elem.value.id && e.favorable_type == elem.value.type);
            }
          });
        }
      },
      sumbitFavorites() {
        var favForSubmit = this.temporatyList.map((e, i) => {
          if (e.value) {
            return {
              id: e.value.id,
              type: e.value.type,
              position: i,
              global: e.value.global,
            }
          } else {
            return {
              id: e.favorable_id,
              type: e.favorable_type,
              position: i,
              global: e.global,
            }
          }
        });
        this.$store.dispatch('favorites/updateFavoriteBulk', {
          elements: favForSubmit,
          section: this.section,
          global: this.isGlobal
        }).then(() => {
          this.temporatyList = [];
          this.$emit('favorites-updated', true);
          this.updateTempList();
          this.closeModal();
        })
      },
      sumbitFavoritesAdd() {
        var favForSubmit = this.tempList.map((e, i) => {
          if (e.value) {
            return {
              id: e.value.id,
              type: e.value.type,
              position: i,
              global: e.value.global,
            }
          } else {
            return {
              id: e.favorable_id,
              type: e.favorable_type,
              position: i,
              global: e.global,
            }
          }
        });
        this.$store.dispatch('favorites/updateFavoriteBulk', {
          elements: favForSubmit,
          section: this.section,
          global: this.isGlobal
        }).then(() => {
          this.temporatyList = [];
          this.$emit('favorites-updated', true);
          this.updateTempList();
          this.closeModal();
        })
      },
      isInFavorite(elem) {
        return this.temporatyList.find(e => {
          if (e.value) {
            return e.value.id == elem.value.id && e.value.type == elem.value.type
          } else {
            return e.favorable_id == elem.value.id && e.favorable_type == elem.value.type
          }
        });

      },
      saveOrder() {
        var favForSubmit = this.reOrderedlist.map((e, i) => {
          if (e.value) {
            return {
              id: e.value.id,
              type: e.value.type,
              position: i,
              global: e.value.global,
            }
          } else {
            return {
              id: e.favorable_id,
              type: e.favorable_type,
              position: i,
              global: e.global,
            }
          }
        });
        this.$store.dispatch('favorites/updateFavoriteBulk', {
          elements: favForSubmit,
          section: this.section,
          global: this.isGlobal
        }).then(() => {
          this.temporatyList = [];
          this.$emit('favorites-updated', true);
          this.updateTempList();
          this.closeModal();
        })
      }
    }
  }

</script>
<style lang="scss">
  .drag-cnt {
    margin-bottom: 10px;
    max-width: 100px;
  }
</style>
