<template>
  <CContainer>
    <CRow class="justify-content-center mt-4" style="">
      <CCol md="12" class="text-left">
        <div class="d-flex align-items-center">
          <h2>Kiosk</h2>
          <div class="d-flex align-items-center ml-4">
            <span class="font-weight-bold mr-2">Off</span>
            <CSwitch class="modules-switch mx-1" shape="pill" :checked="isActive"
                     v-on:update:checked="toggleKiosk()"/>
            <span class="font-weight-bold ml-2">On</span>
          </div>
          <HelpCenterButton _class="ml-2" contentKey="module_kiosk"/>
        </div>
        <div v-if="isActive">
          <CInputCheckbox
            label="Enable URL Klogin Method Only (highly recommended for use with Chromebooks)"
            :checked.sync="form.urlKloginMethodOnly"
            v-on:update:checked="submit"
            class="text-left"
            :custom="true"
          />

          <CInputCheckbox
            label="Card As Default Login"
            :checked.sync="form.cardAsDefaultLogin"
            v-on:update:checked="submit"
            class="text-left"
            :custom="true"
          />

          <CInputCheckbox
            label="Barcode As Default Login"
            :checked.sync="form.barcodeAsDefaultLogin"
            v-on:update:checked="submit"
            class="text-left"
            :custom="true"
          />
          <CInputCheckbox
            label="Hide Student Kiosk Password Field"
            :checked.sync="form.hideStudentKioskPasswordField"
            v-on:update:checked="submit"
            class="text-left"
            :custom="true"
          />
          <CAlert
            v-if="reqResponse.message"
            class="mt-4"
            :color="reqResponse.type"
            :show="!!reqResponse.message"
          >
            {{ reqResponse.message }}
          </CAlert>
        </div>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>
import HelpCenterButton from "../HelpCenterButton";
import {mapState} from "vuex";
import _ from "underscore";

export default {
  name: "KioskModuleForm",
  components: {HelpCenterButton},
  data() {
    return {
      isLoading: false,
      form: {
        urlKloginMethodOnly: false,
        cardAsDefaultLogin: false,
        barcodeAsDefaultLogin: false,
        hideStudentKioskPasswordField: false,
      },
      reqResponse: {
        type: "",
        message: "",
        errors: {}
      },
      isActive: false,
    };
  },
  computed: {
    ...mapState({
      options: state => {
        let index = _.findIndex(state.schools.activeSchool.modules, {name: "Kiosk"});
        return index !== -1 ? JSON.parse(state.schools.activeSchool.modules[index].pivot.option_json) : false;
      },
      active: state => {
        let index = _.findIndex(state.schools.activeSchool.modules, {name: "Kiosk"});
        return index !== -1 ? Boolean(state.schools.activeSchool.modules[index].pivot.status) : false;
      }
    })
  },
  mounted() {
    if(this.options) {
      this.form.urlKloginMethodOnly = !!this.options.kurl;
      this.form.cardAsDefaultLogin = !!this.options.usbcard;
      this.form.barcodeAsDefaultLogin = !!this.options.barcode;
      this.form.hideStudentKioskPasswordField = !!this.options.spassword;
    }else {
      this.isHidden = true;
    }
    this.isActive = this.active;
  },
  methods: {
    submit() {
      this.resetResponseMessages();
      let inputsData = JSON.stringify({
        kurl: !!this.form.urlKloginMethodOnly,
        usbcard: !!this.form.cardAsDefaultLogin,
        barcode: !!this.form.barcodeAsDefaultLogin,
        spassword: !!this.form.hideStudentKioskPasswordField
      });
      this.isLoading = true;
      this.$store.dispatch('modules/updateKioskModule', { option_json: inputsData })
        .then((response) => {
          this.setSuccessResponse('Module updated.');
          this.$store.dispatch("schools/getSchools");
          this.isLoading = false;
        })
        .catch((err) => {
          let response = err.response.data;
          this.setErrorResponse(response.message, response.errors);
          this.isLoading = false;
        });
    },
    toggleKiosk() {
      this.$store.dispatch('modules/toggleModule', {id: 3}).then(() => {
        this.isActive = !this.isActive;
        this.$store.dispatch("schools/getSchools");
      })
    },
    resetResponseMessages() {
      this.reqResponse = {
        type: "",
        message: "",
        errors: {}
      }
    },
    setSuccessResponse(message) {
      this.reqResponse = {type: 'success', message: message ? message : 'Success!', errors: {}};
    },
    setErrorResponse(message, errors) {
      this.reqResponse = {
        type: 'danger',
        message: message ? message : 'Someting went wrong!',
        errors: errors ? errors : {}
      };
    }
  }

}
</script>
