<template>
    <CContainer class="out-of-office-form">
      <CRow class="justify-content-center">
        <CCol md="12" class="text-left px-0">
            <CForm class="mb-2 max-w-500 m-auto" @submit.prevent>
            <CAlert
              v-if="reqResponse.message"
              class="mt-4 w-100"
              :color="reqResponse.type"
              :show="!!reqResponse.message">
              {{reqResponse.message}}
            </CAlert>
              <LazyLoadSelect
                :classes="[{ 'is-invalid': $v.form.unavailable.$error || reqResponse.errors['unavailable_id']},'mb-3']"
                :isMultiple="false"
                @change="(value) => {form.unavailable = value}"
                :selected="form.unavailable"
                :type="userRole === 'staff' ? 'my_assigned' : 'combined'"
                placeholder="Select teacher / location"
                :disabled="userRole === 'teacher'"
                :default="defaultUnavailable"
                :prepend-items="[defaultUnavailable]">
                <template #footer>
                  <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.unavailable.required">This field is required</div>
                  <div class="invalid-feedback" v-if="reqResponse.errors['unavailable_id']">{{reqResponse.errors['unavailable_id'][0]}}</div>
                </template>
              </LazyLoadSelect>

              <div class="weekdays-options-container presets pl-0 pt-2 pl-sm-4 d-flex align-items-center mb-4 flex-wrap">
                <div class="mr-2">Presets:</div>
                <div class="d-flex m-0">
                  <div class="mr-1 mr-sm-3" v-for="(option, index) in presetsOptions" :key="index" @click="changePresetsTime(option)">
                    <div style="width:auto" class="weekday-box px-2" :class="{'active' : form.presetsTime && form.presetsTime.value === option.value}">
                      {{option.label}}
                    </div>
                  </div>
                </div>
              </div>

              <v-date-picker :masks="{L:'MM/DD/YYYY'}" class="cs-date-picker"
                placeholder="Select start date"
                v-model="$v.form.start_date.$model"
                :popover="{ visibility: 'click' }"
                @input="formatMontlyWeekDay"
                :min-date="today">
                <template v-slot="{ inputValue, togglePopover }">
                  <div class="input-icon-field" @click="togglePopover">
                    <div class="form-group">
                      <input
                        class="form-control"
                        :class="{ 'is-invalid': $v.form.start_date.$error || reqResponse.errors['from_date']}"
                        placeholder="Select start date"
                        readonly
                        :value="'Start date:  ' + inputValue"/>
                      <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.start_date.required">This This field is required</div>
                      <div class="invalid-feedback" v-if="reqResponse.errors['from_date']">{{reqResponse.errors['from_date'][0]}}</div>
                    </div>
                    <span class="field-icon">
                      <i class="fi flaticon-calendar mr-1"></i>
                    </span>
                  </div>
                </template>
              </v-date-picker>

               <CRow>
                 <CCol sm="6" class="pr-3 pr-sm-2">
                   <cs-time-picker v-model="form.start_time" innerLabel="Start Time:" :classes="[{ 'is-invalid': $v.form.start_time.$error || reqResponse.errors['start_time']}, 'mb-3']" @change="calculateAndSetEndTime(form.start_time)">
                    <template #footer>
                      <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.start_time.required">This field is required</div>
                      <div class="invalid-feedback" v-if="$v.form.$error && $v.form.start_time.required && !$v.form.start_time.minValue">Start time can not be in the past</div>
                      <div class="invalid-feedback" v-if="reqResponse.errors['start_time']">{{reqResponse.errors['start_time'][0]}}</div>
                    </template>
                  </cs-time-picker>
                </CCol>
                <CCol sm="6" class="pl-3 pl-sm-2 mb-3">
                  <cs-time-picker v-model="form.end_time" innerLabel="End Time:" :classes="{ 'is-invalid': $v.form.end_time.$error || reqResponse.errors['end_time']}">
                    <template #footer>
                      <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.end_time.required">This field is required</div>
                      <div class="invalid-feedback" v-if="$v.form.$error && $v.form.end_time.required && !$v.form.end_time.minValue">End time must be greater than start time</div>
                      <div class="invalid-feedback" v-if="reqResponse.errors['end_time']">{{reqResponse.errors['end_time'][0]}}</div>
                    </template>
                  </cs-time-picker>
                </CCol>
               </CRow>

              <CRow>
                <CCol sm="6" class="pr-3 pr-md-2">
                  <v-select
                    class="cs-select mb-3 ps__child--consume"
                    v-model="form.recurrence_type"
                    :options="repeatOptions"
                    :clearable="false"
                    label="label"
                    :reduce="item => item.value"
                    @input="resetRepaetOptions">
                  </v-select>
                </CCol>
                <CCol sm="6" class="pl-3 pl-sm-2 mb-3 mb-sm-0" v-if="form.recurrence_type === 'weekly'">
                    <div class="weekdays-options-container pt-0 pt-sm-2 d-flex justify-content-between" :class="{ 'is-invalid': $v.form.recurrence_days.$error}">
                        <div v-for="(day, index) in weekDays" :key="index">
                          <div class="weekday-box" :class="{'active' : form.recurrence_days.find(el=>el === day.value)}" @click="setWeekDay(day.value)">
                            {{day.label}}
                          </div>
                        </div>
                    </div>
                    <div class="invalid-feedback mb-3" v-if="$v.form.$error && !$v.form.recurrence_days.required">This field is required</div>
                </CCol>
              </CRow>

              <CRow>
                  <CCol sm="12">
                    <v-date-picker :masks="{L:'MM/DD/YYYY'}" class="cs-date-picker"
                      v-if="form.recurrence_type"
                      placeholder="Date"
                      v-model="$v.form.recurrence_end_at.$model"
                      :min-date="today"
                    >
                      <template v-slot="{ inputValue, togglePopover }">
                        <div @click="togglePopover" class="input-icon-field">
                          <div class="form-group">
                            <input
                              
                              readonly
                              class="form-control"
                              :class="{ 'is-invalid': $v.form.recurrence_end_at.$error || reqResponse.errors['recurrence_end_at']}"
                              placeholder="Date"
                              :value="'End on ' + inputValue"/>
                            <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.recurrence_end_at.required">This This field is required</div>
                            <div class="invalid-feedback" v-if="reqResponse.errors['recurrence_end_at']">{{reqResponse.errors['recurrence_end_at'][0]}}</div>
                          </div>
                          <span class="field-icon">
                            <i class="fi flaticon-calendar mr-1"></i>
                          </span>
                        </div>
                      </template>
                    </v-date-picker>
                  </CCol>
              </CRow>


              <div class="form-group">
                <textarea
                  class="form-control"
                  :class="{ 'is-invalid': reqResponse.errors['reason']}"
                  placeholder="Reason..."
                  rows="4"
                  v-model="form.reason">
                </textarea>
                <!-- <div class="invalid-feedback" v-if="$v.form.$error && !$v.form.reason.required">This field is required</div> -->
                <div class="invalid-feedback" v-if="reqResponse.errors['reason']">{{reqResponse.errors['reason'][0]}}</div>
              </div>


              <div class="form-group form-actions mt-4 text-center">
                <div class="d-flex align-items-center justify-content-center">
                  <div v-if="editablePass && editablePass.id" class="d-flex">
                    <div @click="submit(false)" >
                      <CLoadingButton :spinner="isLoading" :disabled="isLoading" :loading="isLoading" class="mr-2 btn bg-gradient-blue text-white">
                        Update
                      </CLoadingButton>
                    </div>
                    <div class="ml-2" @click="cancelEdit()" >
                      <CButton class="mr-2 btn-gradient-border">
                        <span class="btn px-4"><b class="text-graident-blue">Cancel</b></span>
                      </CButton>
                    </div>
                  </div>
                  <div v-else @click="submit(true)" >
                    <CLoadingButton :spinner="isLoading" :disabled="isLoading" :loading="isLoading" class="mr-2 px-5 py-3 btn bg-gradient-blue text-white">
                      Submit
                    </CLoadingButton>
                  </div>
                  <CLink v-if="!isInView" class="text-graident-blue ml-3" to="/out-of-office">
                    <div @click="goToFullMenu()" class="d-flex align-items-center">
                      <img
                        width="18"
                        class="m-0 mr-2"
                        src="@/assets/images/icons/gradient-link.png"
                      />
                      <span class="text-graident-blue"><span class="text-graident-blue">Go to full menu</span></span>
                    </div>
                  </CLink>
                </div>
              </div>
            </CForm>
        </CCol>
      </CRow>
    </CContainer>
</template>

<script>
import { validationMixin } from "vuelidate"
import { required, requiredIf } from "vuelidate/lib/validators"
import moment from 'moment-timezone';
import { DatePicker } from 'v-calendar'
import {mapGetters} from 'vuex';
import LazyLoadSelect from '@/components/LazyLoadSelect.vue';

export default {
    name: "OutOfOfficeForm",
    props: ['isInView', 'editablePass'],
    components:{'v-date-picker': DatePicker, LazyLoadSelect},
    data() {
        return {
            isLoading: false,
            form: {
              unavailable: null,
              start_date: moment().format('MMM DD YYYY'),
              start_time: moment().format('HH:mm'),
              end_time: null,
              reason: "",
              recurrence_type: null,
              recurrence_days:[],
              recurrence_end_at: null,
              reason: "",
              presetsTime: null,
            },
            presetsOptions: [
              {
                label: '30 min',
                value: 30
              },
              {
                label: '1 hr',
                value: 60
              },
              {
                label: '1.5 hr',
                value: 90
              },
              {
                label: '2 hr',
                value: 120
              }
            ],
            repeatOptions:[{
              label:'No Repetition',
              value: null
            },
            {
              label:'Daily',
              value: 'daily'
            },
            {
              label:'Weekly',
              value: 'weekly'
            },
            {
              label:'Monthly',
              value: 'monthly'
            }],
            weekDays:[{
              label:'Mo',
              value: 'Monday'
            },
            {
              label:'Tu',
              value: 'Tuesday'
            },
            {
              label:'We',
              value: 'Wednesday'
            },
            {
              label:'Th',
              value: 'Thursday'
            },
            {
              label:'Fr',
              value: 'Friday'
            },
            {
              label:'Sa',
              value: 'Saturday'
            },
            {
              label:'Su',
              value: 'Sunday'
            }],
            reqResponse: {
              type: "",
              message: "",
              errors: {}
            }
        };
    },
    mixins: [validationMixin],
    validations: {
      form:{
          unavailable: {
            required,
          },
          start_date: {
            required,
          },
          start_time: {
            required,
            minValue: (value, model) => {return model.start_date > moment() || value >= moment().format('HH:mm')}
          },
          end_time: {
            required,
            minValue: (value, model) => {return value > model.start_time}
          },
          recurrence_type: {},
          recurrence_end_at:{
            required: requiredIf((model) => {return model.recurrence_type !== null}),
          },
          recurrence_days:{
            required: requiredIf((model) => {return model.recurrence_type && model.recurrence_type === 'weekly'})
          }
      }
    },
    computed: {
      ...mapGetters({
        userRole: 'authentication/getUserRole',
        currentUser: "authentication/user"
      }),
      isValid () { return !this.$v.form.$invalid },
      defaultUnavailable() {
        return {
          label: "My leave",
          value: {
            id: this.currentUser.id,
            type: "App\\Models\\User"
          }
        };
      },
      today(){
        return moment().format('MMM DD YYYY');
      }
    },
    created(){
      this.form.recurrence_type = this.repeatOptions[0].value;
      this.form.presetsTime = this.presetsOptions[1];
      this.calculateAndSetEndTime(this.form.start_time);
      this.formatMontlyWeekDay(this.form.start_date);
    },
    watch: {
      editablePass: function(pass){
        this.resetForm();
        this.resetResponseMessages();
        this.setFormByPassRecord(pass);
        this.$v.$reset();
      },
      $route: function(){
        this.cancelEdit();
      }
    },
    methods: {
      submit(isCreate){
          this.resetResponseMessages();
          if (this.isValid){
            let unavailable = {
              unavailable_id: this.form.unavailable ? this.form.unavailable.value.id : null,
              unavailable_type: this.form.unavailable ? this.form.unavailable.value.type : null,
              from_date: this.$helpers.currTzDateTime(this.form.start_date, this.form.start_time),
              from_time: this.form.start_time,
              to_date: this.$helpers.currTzDateTime(this.form.start_date, this.form.end_time),
              to_time: this.form.end_time,
              comment: this.form.reason,
              recurrence_type: this.form.recurrence_type, //daily,weekly,monthly
              recurrence_days: JSON.stringify({days:this.form.recurrence_days}), //{"days": ["Monday","Friday"]}
              recurrence_end_at: this.form.recurrence_end_at ? this.$helpers.transformDate(this.form.recurrence_end_at) : '',
              recurrence_week: this.form.recurrence_week // {"1":"Friday"}
            };
            if(isCreate){
              this.createOutOfOfficePass(unavailable);
            }else{
              this.editOutOfOffice(this.editablePass.id, unavailable);
            }

        }else{
          this.$v.$touch();
        }
      },
      createOutOfOfficePass(pass){
        this.isLoading = true;
        this.$store.dispatch('outOfOfficePasses/createOutOfOfficePass', pass)
        .then((response) => {
          this.resetForm();
          this.setSuccessResponse('Successfully created.');
          this.isLoading = false;
          setTimeout(() => {
            this.$emit('outOfOfficeCreated');
            this.resetResponseMessages();
          }, 1000);
        })
        .catch((err) => {
          let response = err.response.data;
          this.setErrorResponse(response.message, response.errors);
          this.isLoading = false;
        });
      },
      editOutOfOffice(id, data){
        this.$store.dispatch('outOfOfficePasses/editOutOfOffice', {id, data})
        .then((response) => {
            this.setSuccessResponse('Successfully updated!');
            this.isLoading = false;
            setTimeout(() => {
              this.cancelEdit();
            }, 1200);
        })
        .catch((err) => {
          let response = err.response.data;
          this.setErrorResponse(response.message, response.errors);
          this.isLoading = false;
        });
      },
      cancelEdit(){
        this.$store.commit('outOfOfficePasses/SET_EDITABLE_PASS', null);
        this.resetResponseMessages();
        this.resetForm();
      },
      setFormByPassRecord(pass){
        if(pass){
          const isDefaultUnavailable = this.defaultUnavailable && this.defaultUnavailable.value.id === pass.unavailable_id;
          this.form.unavailable = isDefaultUnavailable ? this.defaultUnavailable : {
            label: pass.unavailable.name,
            value: {
              id: pass.unavailable_id,
              type: pass.unavailable_type,
            }
          };
          this.form.start_time = pass.from_date ? this.$helpers.transformDate(pass.from_date, 'HH:mm') : null;
          this.form.end_time = pass.to_date ? this.$helpers.transformDate(pass.to_date, 'HH:mm') : null;
          this.form.start_date = pass.from_date && moment(pass.from_date).format('MMM DD YYYY') >= this.today ? pass.from_date : null;
          this.form.reason = pass.comment;
          this.form.presetsTime = null;
          if(pass.recurrence_type){
            this.form.recurrence_type = pass.recurrence_type;
            this.form.recurrence_days = pass.recurrence_days ? JSON.parse(pass.recurrence_days).days : null;
            this.form.recurrence_end_at = pass.recurrence_end_at;
            this.form.recurrence_week = pass.recurrence_week;
          }else{
            this.form.recurrence_type = null;
          }
        }
      },
      setWeekDay(day){
        if(this.form.recurrence_days && this.form.recurrence_days.length){
          if(this.form.recurrence_days.filter(el => el === day).length){
            this.form.recurrence_days = this.form.recurrence_days.filter(el => el !== day);
          }else{
            this.form.recurrence_days.push(day);
          }
        }else{
          this.form.recurrence_days.push(day);
        }
      },
      formatMontlyWeekDay(date) {
        if(date){
            var dayOfMonth = moment(date).format('DD');
            var dayOfweek = moment(date).format('dddd');
            var numberofweek = (Math.floor((dayOfMonth-1)/7)+1);
            let prefix = '';
            switch(numberofweek) {
              case 1:
                prefix = 'first';
                break;
              case 2:
                prefix = 'second';
                break;
              case 3:
                prefix = 'third';
                break;
              case 4:
                prefix = 'fourth';
                break;
              default:
                prefix = 'last';
            }
            this.form.recurrence_week = '{"' + numberofweek + '":"' + dayOfweek + '"}';
            this.repeatOptions[3].label = 'Monthly on the ' + prefix + ' ' + dayOfweek;
        }
      },
      resetRepaetOptions(){
        this.form.recurrence_days = [];
        this.form.recurrence_end_at = null;
        this.form.recurrence_week = null;
        this.formatMontlyWeekDay(this.form.start_date);
      },
      calculateAndSetEndTime(startTime){
        let endTime = this.form.presetsTime ? this.$helpers.addMinutesToTime(startTime, this.form.presetsTime.value) : null;
        this.form.end_time = endTime ? endTime : this.form.end_time;
      },
      calculateAndSetStartTime(endTime){
        let startTime = this.form.presetsTime ? this.$helpers.removeMinutesFromTime(endTime, this.form.presetsTime.value) : null;
        this.form.start_time = startTime ? startTime : this.form.start_time;
      },
      changePresetsTime(value){
        this.form.presetsTime = value;
        if(this.form.start_time){
          this.calculateAndSetEndTime(this.form.start_time);
        }
      },
      resetForm(){
        this.$v.$reset();
        this.form = {
          unavailable: this.defaultUnavailable,
          start_date: this.today,
          start_time: moment().format('HH:mm'),
          end_time: null,
          reason: "",
          recurrence_type: this.repeatOptions[0].value,
          recurrence_days:[],
          recurrence_end_at: null,
          reason: "",
          presetsTime: this.presetsOptions[1],
        };
        this.calculateAndSetEndTime(this.form.start_time);
      },
      resetResponseMessages(){
        this.reqResponse = {
          type: "",
          message: "",
          errors:{}
        }
      },
      setSuccessResponse(message){
        this.reqResponse = {type:'success', message: message ? message : 'Success!', errors: {}};
      },
      setErrorResponse(message, errors){
        this.reqResponse = {type:'danger', message: message ? message : 'Someting went wrong!', errors: errors ? errors : {}};
      },
      refreshForm(){
        this.resetForm();
        this.resetResponseMessages();
      },
      goToFullMenu(){
        this.$emit('closeModal');
      }
    }

}
</script>

<style>

</style>
