<template>
  <CInputRadioGroup
    class="mb-3"
    :options="repeatOptions"
    :checked.sync="model"
    :custom="true"
  />
</template>

<script>
export default {
  name: "RecurrenceRadioGroup",
  props: ["value"],
  data() {
    return {
      model: null,
      repeatOptions: [
        {
          label: "No repetition",
          value: null
        },
        {
          label: "Daily(M-F)",
          value: "daily"
        },
        {
          label: "Weekly",
          value: "weekly"
        },
        {
          label: "Monthly",
          value: "monthly"
        }
      ]
    };
  },
  watch: {
    value(value) {
      this.model = value;
    },
    model(value) {
      this.$emit("input", value);
    }
  }
};
</script>

<style></style>
